{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "iceexplosion1z",
      "projectileParameters" : { "damageSourceKind": "ice"}
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/snowball_hit_robotic2.ogg" ]
    }

  ]
}
