{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "iceexplosion1",
      "projectileParameters" : { "damageSourceKind": "ice"}
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 8,
      "backgroundRadius" : 5,
      "explosiveDamageAmount" : 0,
      "delaySteps" : 2
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/snowball_hit_robotic2.ogg" ]
    }

  ]
}
