{
"titleFromEntity" : false,
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/objects/power/isn_hydroponicstray/chestheader.png",
      "fileBody" : "/objects/power/isn_hydroponicstray/isn_hydroponicstray_ui.png",
      "fileFooter" : "/objects/power/isn_hydroponicstray/chestfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      "position" : [90, 130]
    },  
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [27, 89],
      "dimensions" : [3, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/grayborder.png"
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "slotOffset" : 3,
      "position" : [18, 30],
      "dimensions" : [4, 2],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "dragDrop" : {
      "type" : "label",
      "value" : "",
      "hAnchor" : "left",
      "position" : [6, 40]
    }
  }
}
