{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 3,
      "body" : [
        {
          "action" : "particle",
          "specification" : {
            "type" : "animated",
            "animation" : "/animations/radioactivedrip/radioactivedrip1.animation",
            "finalVelocity" : [0, -1],
            "approach" : [0.5, 0.5],
            "timeToLive" : 0.8,
            "variance" : {
              "timeToLive" : 0.15,
              "position" : [1.0, 1.0],
              "initialVelocity" : [1, 1],
              "rotation" : 180
            }
          }
        },
        {
          "action" : "particle",
          "specification" : {
            "type" : "animated",
            "animation" : "/animations/statuseffects/radiationburn/radiationburnshort.animation",
            "approach" : [0.5, 0.5],
            "timeToLive" : 4,
            "variance" : {
              "timeToLive" : 0.15,
              "position" : [1.0, 1.0],
              "initialVelocity" : [5, 5],
              "rotation" : 180
            }
          }
        },
        {
          "action" : "particle",
          "specification" : {
            "type" : "animated",
            "animation" : "/animations/statuseffects/radiationburn/radiationburnshort.animation",
            "approach" : [0.5, 0.5],
            "timeToLive" : 4,
            "variance" : {
              "timeToLive" : 0.15,
              "position" : [1.0, 1.0],
              "initialVelocity" : [5, 5],
              "rotation" : 180
            }
          }
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/poisonorb_impact.ogg" ]
    }
  ]
}
