{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 3,
      "body" : [
        {
          "action" : "particle",
          "specification" : {
            "type" : "animated",
            "animation" : "/animations/dust2/dust2.animation",
            "position" : [0, 0],
            "finalVelocity" : [0, 0],
            "approach" : [50, 50],
            "destructionAction" : "shrink",
            "destructionTime" : 0.5,
            "fade" : 1,
            "size" : 1,
            "layer" : "back",
            "timeToLive" : 0.6,
            "variance" : {
              "finalVelocity" : [4, 4],
              "position" : [1, 1]
            }
          }
        },
        {
          "action" : "particle",
          "specification" : {
            "type" : "animated",
            "looping" : true,
            "animation" : "/animations/statuseffects/shadow/shadowburn.animation",
            "position" : [0, 0],
            "finalVelocity" : [0, 0],
            "approach" : [50, 50],
            "destructionAction" : "shrink",
            "destructionTime" : 0.425,
            "fade" : 1,
            "light" : [191, 103, 2],
            "size" : 0.5,
            "layer" : "middle",
            "timeToLive" : 0.6,
            "variance" : {
              "finalVelocity" : [3, 3],
              "position" : [1, 1]
            }
          }
        },
        {
          "action" : "particle",
		      "specification" : {
            "type" : "animated",
            "animation" : "/animations/shadowsmoke/shadowsmoke.animation",
            "size" : 1,
            "angularVelocity" : 0,
            "fade" : 1,
            "destructionTime" : 7,
            "position" : [0, 0],
            "initialVelocity" : [0, 0],
            "finalVelocity" : [0, 0],
            "approach" : [1, 0],
            "timeToLive" : 0.3,
            "layer" : "middle"
          }
        }
      ]
    }
  ]
}
