{
	"gui" : {
		"panefeature" : {
			"type" : "panefeature",
			"anchor" : "Center",
			"offset" : [0, 0],
			"positionLocked" : true,
			"enterKey" : "saveChar",
			"escapeKey" : "cancel"
		},
		
		"background" : {
			"zlevel" : 0,
			"type" : "background",
			"fileHeader" : "/scripts/spaceStation/header.png",
			"fileBody" : "/scripts/spaceStation/body.png"
		},
		
		"windowtitle" : {
			"type" : "title",
			"title" : " Space station front desk",
			"subtitle" : " Interact with the station",
			"offset" : [-20, 0],
			"icon" : {
				"type" : "image",
				"file" : "/scripts/spaceStation/icon.png"
			}
		},
		
		"text" : {
			"type" : "label",
			"position" : [7, 208],
			"wrapWidth" : 163,
			"fontSize" : 7,
			"vAnchor" : "top",
			"value" : "I AM ERROR"
		},
		
		"talkerImage" : {
			"type" : "image",
			"position" : [192, 158],
			"file" : "",
			"centered" : false,
			"maxSize" : [40, 42],
			"minSize" : [40, 42]
		},
		
		"button1" : { //top most
			"type" : "button",
			"position" : [176, 116],
			"base" : "/scripts/spaceStation/buttonBig.png:default",
			"hover" : "/scripts/spaceStation/buttonBig.png:hover",
			"disabledImage" : "/scripts/spaceStation/buttonBig.png:grayed",
			"caption" : "---",
			"data" : "---",
			"callback" : "button1"
		},
		
		"button2" : {
			"type" : "button",
			"position" : [176, 94],
			"base" : "/scripts/spaceStation/buttonBig.png:default",
			"hover" : "/scripts/spaceStation/buttonBig.png:hover",
			"disabledImage" : "/scripts/spaceStation/buttonBig.png:grayed",
			"caption" : "---",
			"data" : "---",
			"callback" : "button2"
		},
		
		"button3" : {
			"type" : "button",
			"position" : [176, 72],
			"base" : "/scripts/spaceStation/buttonBig.png:default",
			"hover" : "/scripts/spaceStation/buttonBig.png:hover",
			"disabledImage" : "/scripts/spaceStation/buttonBig.png:grayed",
			"caption" : "---",
			"data" : "---",
			"callback" : "button3"
		},
		
		"button4" : {
			"type" : "button",
			"position" : [176, 50],
			"base" : "/scripts/spaceStation/buttonBig.png:default",
			"hover" : "/scripts/spaceStation/buttonBig.png:hover",
			"disabledImage" : "/scripts/spaceStation/buttonBig.png:grayed",
			"caption" : "---",
			"data" : "---",
			"callback" : "button4"
		},
		
		"button5" : {
			"type" : "button",
			"position" : [176, 28],
			"base" : "/scripts/spaceStation/buttonBig.png:default",
			"hover" : "/scripts/spaceStation/buttonBig.png:hover",
			"disabledImage" : "/scripts/spaceStation/buttonBig.png:grayed",
			"caption" : "---",
			"data" : "---",
			"callback" : "button5"
		},
		
		"button6" : {
			"type" : "button",
			"position" : [176, 6],
			"base" : "/scripts/spaceStation/buttonBig.png:default",
			"hover" : "/scripts/spaceStation/buttonBig.png:hover",
			"disabledImage" : "/scripts/spaceStation/buttonBig.png:grayed",
			"caption" : "---",
			"data" : "---",
			"callback" : "button6"
		},
		
		"goodsTradeList" : {
			"zlevel" : 10,
			"type" : "scrollArea",
			"rect" : [4, 6, 172, 209],
			"visible" : false,
			"children" : {
				"itemList" : {
					"type" : "list",
					"callback" : "goodsSelected",
					"schema" : {
						"selectedBG" : "/scripts/spaceStation/listTrade.png",
						"unselectedBG" : "/scripts/spaceStation/listTrade.png",
						"spacing" : [0, 2],
						"memberSize" : [159, 20],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/scripts/spaceStation/listTrade.png",
								"position" : [2, 0],
								"zlevel" : -1
							},
							
							"itemIcon" : {
								"type" : "itemslot",
								"position" : [3, 1],
								"callback" : "null"
							},
							
							"buyButton" : {
								"type" : "button",
								"position" : [22, 1],
								"pressedOffset" : [0, 0],
								"caption" : "Buy",
								"fontSize" : 7,
								"callback" : "buyGoods",
								"base" : "/scripts/spaceStation/buttonSmall.png:default",
								"hover" : "/scripts/spaceStation/buttonSmall.png:hover",
								"disabledImage" : "/scripts/spaceStation/buttonSmall.png:grayed"
							},
							
							"sellButton" : {
								"type" : "button",
								"position" : [22, 11],
								"pressedOffset" : [0, 0],
								"caption" : "Sell",
								"fontSize" : 7,
								"callback" : "sellGoods",
								"base" : "/scripts/spaceStation/buttonSmall.png:default",
								"hover" : "/scripts/spaceStation/buttonSmall.png:hover",
								"disabledImage" : "/scripts/spaceStation/buttonSmall.png:grayed"
							},
							
							"buyRate" : {
								"type" : "image",
								"position" : [54, 1],
								"file" : "/scripts/spaceStation/tradeRate.png:0"
							},
							
							"sellRate" : {
								"type" : "image",
								"position" : [54, 11],
								"file" : "/scripts/spaceStation/tradeRate.png:2"
							},
							
							"buyPixelIcon" : {
								"type" : "image",
								"file" : "/items/currency/money.png",
								"position" : [64, 1]
							},
							
							"sellPixelIcon" : {
								"type" : "image",
								"file" : "/items/currency/money.png",
								"position" : [64, 11]
							},
							
							"buyPrice" : {
								"type" : "label",
								"position" : [71, 2],
								"callback" : "null",
								"fontSize" : 6,
								"value" : "x ---"
							},
							
							"sellPrice" : {
								"type" : "label",
								"position" : [71, 12],
								"callback" : "null",
								"fontSize" : 6,
								"value" : "x ---"
							},
							
							"stationStockLabel" : {
								"type" : "label",
								"fontSize" : 6,
								"position" : [91, 1],
								"value" : "Station stock: ---",
								"callback" : "null"
							},
							
							"sellStockLabel" : {
								"type" : "label",
								"fontSize" : 6,
								"position" : [91, 11],
								"value" : "Your stock:     ---",
								"callback" : "null"
							}
						}
					}
				}
			}
        },
		
		"specialsScrollArea" : {
			"type" : "scrollArea",
			"rect" : [4, 6, 172, 133],
			"visible" : false,
			"children" : {
				"itemList" : {
					"type" : "list",
					"callback" : "specialSelected",
					"schema" : {
						"selectedBG" : "/interface/scripted/weaponupgrade/listitemselected.png",
						"unselectedBG" : "/interface/scripted/weaponupgrade/listitem.png",
						"spacing" : [0, 1],
						"memberSize" : [159, 20],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/interface/scripted/weaponupgrade/listitem.png",
								"position" : [2, 0],
								"zlevel" : -1
							},
							"icon" : {
								"type" : "image",
								"file" : "",
								"position" : [4, 2],
								"callback" : "null"
							},
							"name" : {
								"type" : "label",
								"position" : [25, 5],
								"hAnchor" : "left",
								"wrapWidth" : 116,
								"value" : "---"
							},
							"pixelIcon" : {
								"type" : "image",
								"file" : "/items/currency/money.png",
								"position" : [125, 5]
							},
							"price" : {
								"type" : "label",
								"position" : [132, 6],
								"callback" : "null",
								"fontSize" : 6,
								"value" : "x ---"
							}
						}
					}
				}
			}
		},
		
		"scientificSpecialList" : {
			"zlevel" : 10,
			"type" : "scrollArea",
			"rect" : [4, 6, 172, 133],
			"visible" : false,
			"children" : {
				"itemList" : {
					"type" : "list",
					"callback" : "null",
					"schema" : {
						"selectedBG" : "/scripts/spaceStation/listSpecialScience.png",
						"unselectedBG" : "/scripts/spaceStation/listSpecialScience.png",
						"spacing" : [0, 0],
						"memberSize" : [159, 20],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/scripts/spaceStation/listSpecialScience.png",
								"position" : [2, 0],
								"zlevel" : -1
							},
							
							"itemIn1" : {
								"type" : "itemslot",
								"position" : [3, 1],
								"callback" : "null"
							},
							
					//		"amountInBG1" : {
					//			"type" : "imageStretch",
					//			"position" : [20, 5],
					//			"size" : [13, 10],
					//			"direction" : "vertical",
					//			"stretchSet" : {
					//				"inner" : "/interface/inventory/grayborder.png"
					//			}
					//		},
							
							"amountInBG1" : {
								"type" : "image",
								"position" : [20, 5],
								"file" : "/scripts/spaceStation/numberLabel.png"
							},
							
							"amountIn1" : {
								"type" : "label",
								"hAnchor" : "mid",
								"position" : [27, 6],
								"fontSize" : 6,
								"value" : "-"
							},
							
							"trade1" : {
								"type" : "button",
								"position" : [32, 1],
								"pressedOffset" : [0, -1],
								"callback" : "null",
								"base" : "/scripts/spaceStation/buttonTrade.png:default",
								"hover" : "/scripts/spaceStation/buttonTrade.png:hover",
								"disabledImage" : "/scripts/spaceStation/buttonTrade.png:grayed"
							},
							
					//		"amountOutBG1" : {
					//			"type" : "imageStretch",
					//			"position" : [49, 5],
					//			"size" : [13, 10],
					//			"direction" : "vertical",
					//			"stretchSet" : {
					//				"inner" : "/interface/inventory/grayborder.png"
					//			}
					//		},
							
							
							"amountOutBG1" : {
								"type" : "image",
								"position" : [49, 5],
								"file" : "/scripts/spaceStation/numberLabel.png"
							},
							
							"amountOut1" : {
								"type" : "label",
								"hAnchor" : "mid",
								"position" : [56, 6],
								"fontSize" : 6,
								"value" : "-"
							},
							
							"itemOut1" : {
								"type" : "itemslot",
								"position" : [61, 1],
								"callback" : "null"
							},
							
						// 2nd side
							
							"itemIn2" : {
								"type" : "itemslot",
								"position" : [81, 1],
								"callback" : "null"
							},
							
					//		"amountInBG2" : {
					//			"type" : "imageStretch",
					//			"position" : [98, 5],
					//			"size" : [13, 10],
					//			"direction" : "vertical",
					//			"stretchSet" : {
					//				"inner" : "/interface/inventory/grayborder.png"
					//			}
					//		},
							
							"amountInBG2" : {
								"type" : "image",
								"position" : [98, 5],
								"file" : "/scripts/spaceStation/numberLabel.png"
							},
							
							"amountIn2" : {
								"type" : "label",
								"hAnchor" : "mid",
								"position" : [105, 6],
								"fontSize" : 6,
								"value" : "-"
							},
							
							"trade2" : {
								"type" : "button",
								"position" : [110, 1],
								"pressedOffset" : [0, -1],
								"callback" : "null",
								"base" : "/scripts/spaceStation/buttonTrade.png:default",
								"hover" : "/scripts/spaceStation/buttonTrade.png:hover",
								"disabledImage" : "/scripts/spaceStation/buttonTrade.png:grayed"
							},
							
					//		"amountOutBG2" : {
					//			"type" : "imageStretch",
					//			"position" : [127, 5],
					//			"size" : [13, 10],
					//			"direction" : "vertical",
					//			"stretchSet" : {
					//				"inner" : "/interface/inventory/grayborder.png"
					//			}
					//		},
							
							"amountOutBG2" : {
								"type" : "image",
								"position" : [127, 5],
								"file" : "/scripts/spaceStation/numberLabel.png"
							},
							
							"amountOut2" : {
								"type" : "label",
								"hAnchor" : "mid",
								"position" : [134, 6],
								"fontSize" : 6,
								"value" : "-"
							},
							
							"itemOut2" : {
								"type" : "itemslot",
								"position" : [139, 1],
								"callback" : "null"
							}
						}
					}
				}
			}
        }
	},
	
	"scriptWidgetCallbacks" : [ "button1", "button2", "button3", "button4", "button5", "button6", "goodsSelected", "buyGoods", "sellGoods", "specialSelected" ],
	
	"scripts" : ["/scripts/spaceStation/spaceStation.lua"],
	"scriptDelta" : 2,
	
	"upgradeLevel" : 6
}
