{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.5,
      "type" : "hellfireexplosion"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 5,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 2,
      "delaySteps" : 2
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/weapons/missileexp3.wav" ]
    }

  ]
}
