{
  "craftingSound" : "/sfx/interface/crafting_furnace.ogg",
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/objectcrafting/campfire_header.png",
      "fileBody" : "/interface/objectcrafting/fu_atmosfilterbody.png",
      "fileFooter" : "/interface/objectcrafting/campfire_footer.png"
    },
	"toggleCrafting" : {
      "type" : "button",
      "position" : [42, 41],
      "base" : "/interface/objectcrafting/refine.png",
      "hover" : "/interface/objectcrafting/refineover.png",
      "caption" : "Rename",
	  "callback" : "petHouseButton"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [60, 61],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [123, 105]
    },
    "nameTextbox" : {
      "type" : "textbox",
      "position" : [42, 83],
      "hint" : "Name",
      "maxWidth" : 54,
      "escapeKey" : "close",
      "enterKey" : "petHouseButton",
      "focus" : false
    }
  },
  "scripts" : ["/interface/objectcrafting/fu_petnamer/fu_petnamer.lua"],
  "scriptWidgetCallbacks" : [
	"petHouseButton",
	"nameTextbox"
  ],
  "acceptedItems" : {
	"filledcapturepod" : true,
	"botpod" : true,
	"capturepod" : "filledcapturepod"
  },
  "moddedCaptureSupport" : false,
  "petCaptureWhitelist" : {
    "petbunny" : true,
	"petcat" : true,
	"crasberry" : true,
	"petorbis" : true,
	"piglett" : true,
	"petsnake" : true,
	"snugget" : true,
	"petweasel" : true
  }
}
