{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "plasmaboomsmall2"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 0,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0,
      "delaySteps" : 0
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/weapons/eldercarbine.ogg" ]
    }

  ]
}
