{
	"gui" : {
		"background" : {
			"zlevel" : 0,
			"type" : "background",
			"fileHeader" : "/interface/scripted/statWindow/extraBody.png"
		},
		
		"title" : {
			"type" : "label",
			"position" : [7, 103],
			"hAnchor" : "left",
			"fontSize" : 8,
			"value" : "Advanced stats"
		},
		
		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [0, 0],
			"callback" : "close",
			"position" : [114, 102]
		},
		
		"tooltipHandler" : {
			"zlevel" : 1,
			"type" : "canvas",
			"rect" : [0, 0, 129, 116],
			"captureMouseEvents" : false,
			"captureKeyboardEvents" : false
		},
		
		"tooltip" : {
			"type" : "label",
			"position" : [65, 9],
			"hAnchor" : "mid",
			"vAnchor" : "mid",
			"fontSize" : 6,
			"value" : "---"
		},
		
		////////////////////////////////////////// 1st row
		
		"maxHealth" : {
			"type" : "label",
			"position" : [28, 89],
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		"healthRegen" : {
			"type" : "label",
			"position" : [70, 89],
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		"protection" : {
			"type" : "label",
			"position" : [112, 89],
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		////////////////////////////////////////// 2nd row
		
		"maxEnergy" : {
			"type" : "label",
			"position" : [28, 75],
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		"energyRegenPercentageRate" : {
			"type" : "label",
			"position" : [70, 75],
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		"energyRegenBlockTime" : {
			"type" : "label",
			"position" : [112, 75],
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		////////////////////////////////////////// 3rd row
		
		"powerMultiplier" : {
			"type" : "label",
			"position" : [28, 61],
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		"critBonus" : {
			"type" : "label",
			"position" : [70, 61],
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		"critChance" : {
			"type" : "label",
			"position" : [112, 61],
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		////////////////////////////////////////// 4th row
		
		"breathMaxTime" : {
			"type" : "label",
			"position" : [28, 47],
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		"breathRegenTime" : {
			"type" : "label",
			"position" : [70, 47],
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		"foodDelta" : {
			"type" : "label",
			"position" : [112, 47],
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		////////////////////////////////////////// 5th row
		
		"grit" : {
			"type" : "label",
			"position" : [28, 33],
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		"knockbackThreshold" : {
			"type" : "label",
			"position" : [70, 33],
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		"fallDamageMultiplier" : {
			"type" : "label",
			"position" : [112, 33],
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		////////////////////////////////////////// 6th row
		
		"shieldBash" : {
			"type" : "label",
			"position" : [28, 19],
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		"shieldBashPush" : {
			"type" : "label",
			"position" : [70, 19],
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		"shipMass" : {
			"type" : "label",
			"position" : [112, 19],
			"hAnchor" : "mid",
			"value" : "---"
		}
	},
	
	"stats": {
		"breathDepletionRate"			: "breath",
//		"breathRegenerationRate"		: "ignore",	// Ignore because special calculations are applied
		"critChance"					: "crit",
		"critBonus"						: "crit",
//		"encumberance"					: "flat",
		"energyRegenBlockTime"			: "flat",
		"energyRegenPercentageRate"		: "percent", // % of max per second regained
		"fallDamageMultiplier"			: "percent",
		"foodDelta"						: "food",
		"grit"							: "percent",
		"healthRegen"					: "flat",
//		"invisible"						: "bool",
//		"invulnerable"					: "bool",
		"knockbackThreshold"			: "flat",
//		"maxBreath"						: "ignore",	// Ignore because special calculations are applied
		"maxEnergy"						: "flat",
		"maxHealth"						: "flat",
//		"nude"							: "bool",
//		"perfectBlockLimitRegen"		: "flat",
		"powerMultiplier"				: "percent",
		"protection"					: "flat",
		"shieldBash"					: "flat",
		"shieldBashPush"				: "flat",
//		"shieldBonusShield"				: "flat",
//		"shieldHealth"					: "flat",
//		"shieldRegen"					: "flat",
//		"shieldStaminaRegen"			: "flat",
		"shipMass"						: "flat"
	},

//			Notes:   [ (?) = Not sure ]
//	energyRegenPercentageRate	- Percent of max energy is regained per second
//	foodDelta					- How much the food resources is reduced by each game tick(?) Changed to display as 'food consumed per second'
//	breathDepletionRate			- How much breath is reduced per half a second(?) Changed to display as 'time to deplete from full'
//	breathRegenerationRate		- How much breath is regained per half a second(?) Changed to display as 'time to refill from from empty'
//	maxBreath					- Not displaying because no reason to.
//	grit						- *increases* knockback when overflowing past 1 (as in 100%)

	
//			x1/y1 implies smaller x/y, x2/y2 implies larger
	"tooltipBoxes": [
		{"x1": 3,  "y1": 88, "x2": 43, "y2": 100, "tooltip": "Max Health"},
		{"x1": 3,  "y1": 74, "x2": 43, "y2": 86, "tooltip": "Max Energy"},
		{"x1": 3,  "y1": 60, "x2": 43, "y2": 72, "tooltip": "Power Multiplier"},
		{"x1": 3,  "y1": 46, "x2": 43, "y2": 58, "tooltip": "Breath Duration"},
		{"x1": 3,  "y1": 32, "x2": 43, "y2": 44, "tooltip": "Knockback Resistance"},
		{"x1": 3,  "y1": 18, "x2": 43, "y2": 30, "tooltip": "Shield Bash Chance"},
		
		{"x1": 45, "y1": 88, "x2": 85, "y2": 100, "tooltip": "Health Regen"},
		{"x1": 45, "y1": 74, "x2": 85, "y2": 86, "tooltip": "Energy Regen"},
		{"x1": 45, "y1": 60, "x2": 85, "y2": 72, "tooltip": "Crit Damage Bonus"},
		{"x1": 45, "y1": 46, "x2": 85, "y2": 58, "tooltip": "Breath Regen"},
		{"x1": 45, "y1": 32, "x2": 85, "y2": 44, "tooltip": "Knockback Threshold"},
		{"x1": 45, "y1": 18, "x2": 85, "y2": 30, "tooltip": "Shield Bash Push"},
		
		{"x1": 87, "y1": 88, "x2": 127, "y2": 100, "tooltip": "Protection"},
		{"x1": 87, "y1": 74, "x2": 127, "y2": 86, "tooltip": "Energy Regen Time"},
		{"x1": 87, "y1": 60, "x2": 127, "y2": 72, "tooltip": "Crit Chance"},
		{"x1": 87, "y1": 46, "x2": 127, "y2": 58, "tooltip": "Food consumption per second"},
		{"x1": 87, "y1": 32, "x2": 127, "y2": 44, "tooltip": "Fall Damage"},
		{"x1": 87, "y1": 18, "x2": 127, "y2": 30, "tooltip": "Ship Mass"}
	],
  
	"defaultTooltip" : "Hover over a stat for its description",		//	default tooltip when nothing would be display
	"tooltipLifespan" : 5,		//	How long will the tooltip remain when you stop hovering over something (this * tooltipCheckDelay * scriptDelta = actual rate)
	"tooltipCheckDelay" : 5,	//	How many scriptDelta ticks should pass before the GUI updates tooltips (this * scriptDelta = actual rate)
	
	"scripts" : ["/interface/scripted/statWindow/extraStatsWindow.lua"],
	"scriptDelta" : 1
}