{
	"gui" : {
		"background" : {
			"zlevel" : 0,
			"type" : "background",
			"fileHeader" : "/interface/scripted/statWindow/header.png",
			"fileBody" : "/interface/scripted/statWindow/body.png",
			"fileFooter" : "/interface/scripted/statWindow/footer.png"
		},

		"windowtitle" : {
			"type" : "title",
			"title" : " Character Status",
			"subtitle" : " Information about the character",
			"icon" : {
				"type" : "image",
				"file" : "/interface/techupgradeicon.png",
				"zlevel" : -1
			}
		},
		
		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [0, 0],
			"callback" : "close",
			"position" : [171, 192]
		},
		
		"refresh" : {
			"type" : "button",
			"base" : "/interface/scripted/statWindow/refresh.png:default",
			"hover" : "/interface/scripted/statWindow/refresh.png:hover",
			"pressed" : "/interface/scripted/statWindow/refresh.png:press",
			"pressedOffset" : [0, -1],
			"callback" : "refresh",
			"position" : [171, 180]
		},
		
		"characterName" : {
			"type" : "label",
			"position" : [100, 173],
			"hAnchor" : "mid",
			"fontSize" : 6,
			"value" : "---"
		},
		
		"characterSuit" : {
			"type" : "image",
			"file" : "/interface/scripted/techupgrade/suits/human-male.png",
			"position" : [83, 81]
		},
		
		"immunitiesLabel" : {
			"type" : "label",
			"position" : [44, 173],
			"hAnchor" : "mid",
			"fontSize" : 6,
			"value" : "^blue;Immunities"
		},
		
		"immunitiesList" : {
			"zlevel" : 2,
			"type" : "scrollArea",
			"rect" : [19, 74, 76, 170],
			"children" : {
				"textList" : {
					"type" : "list",
					"callback" : "null",
					"schema" : {
						"selectedBG" : "assetmissing.png",
						"unselectedBG" : "assetmissing.png",
						"spacing" : [0, 0],
						"memberSize" : [50, 8],
						"listTemplate" : {
							"immunity" : {
								"type" : "label",
								"position" : [25, 4],
								"callback" : "null",
								"fontSize" : 6,
								"vAnchor"  : "mid",
								"hAnchor"  : "mid",
								"value" : "---"
							}
						}
					}
				}
			}
        },
		
		"offline" : {
			"type" : "image",
			"position" : [19, 18],
			"file" : "/interface/scripted/statWindow/offline.png"
		},
		
		"racialLabel" : {
			"type" : "label",
			"zlevel" : 1,
			"position" : [91, 58],
			"fontSize" : 6,
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		
		"racialDesc" : {
			"type" : "scrollArea",
			"zlevel" : 2,
			"visible" : false,
			"rect" : [22, 21, 166, 55],
			"children" : {
				"textList" : {
					"type" : "list",
					"callback" : "null",
					"schema" : {
						"selectedBG" : "assetmissing.png",
						"unselectedBG" : "assetmissing.png",
						"spacing" : [0, 0],
						"memberSize" : [126, 8],
						"listTemplate" : {
							"trait" : {
								"type" : "label",
								"position" : [1, 4],
								"callback" : "null",
								"fontSize" : 6,
								"vAnchor"  : "mid",
								"value" : "---"
							}
						}
					}
				}
			}
        },
		
		"physicalResist" : {
			"type" : "label",
			"position" : [155, 171], // footer y - 14
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		"fireResist" : {
			"type" : "label",
			"position" : [155, 157], // footer y - 14
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		"poisonResist" : {
			"type" : "label",
			"position" : [155, 143], // footer y - 14
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		"iceResist" : {
			"type" : "label",
			"position" : [155, 129], // footer y - 14
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		"electricResist" : {
			"type" : "label",
			"position" : [155, 115], // footer y - 14
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		"radioactiveResist" : {
			"type" : "label",
			"position" : [155, 101], // footer y - 14
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		"cosmicResist" : {
			"type" : "label",
			"position" : [155, 87], // footer y - 14
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		"shadowResist" : {
			"type" : "label",
			"position" : [155, 73], // footer y - 14
			"hAnchor" : "mid",
			"value" : "---"
		}
	},

	"scriptWidgetCallbacks" : [ "refresh" ],
	
	"scripts" : ["/interface/scripted/statWindow/statWindow.lua"],
	"scriptDelta" : 1
}