{
	"gui" : {
		"background" : {
			"zlevel" : 0,
			"type" : "background",
			"fileHeader" : "/interface/scripted/statWindow/header.png",
			"fileBody" : "/interface/scripted/statWindow/body.png",
			"fileFooter" : "/interface/scripted/statWindow/footer.png"
		},

		"windowtitle" : {
			"type" : "title",
			"title" : " Character Status",
			"subtitle" : " Information about the character",
			"icon" : {
				"type" : "image",
				"file" : "/interface/techupgradeicon.png",
				"zlevel" : -1
			}
		},

		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [0, 0],
			"callback" : "close",
			"position" : [170, 135]
		},

		"characterName" : {
			"type" : "label",
			"position" : [99, 116],
			"hAnchor" : "mid",
			"fontSize" : 6,
			"value" : "---"
		},

		"characterSuit" : {
			"type" : "image",
			"file" : "/interface/scripted/techupgrade/suits/human-male.png",
			"position" : [82, 24]
		},

		"immunitiesLabel" : {
			"type" : "label",
			"position" : [43, 116],
			"hAnchor" : "mid",
			"fontSize" : 6,
			"value" : "^blue;Immunities"
		},

		"immunitiesList" : {
			"zlevel" : 2,
			"type" : "scrollArea",
			"rect" : [18, 19, 75, 113],
			"children" : {
				"textList" : {
					"type" : "list",
					"callback" : "null",
					"schema" : {
						"selectedBG" : "/assetmissing.png",
						"unselectedBG" : "/assetmissing.png",
						"spacing" : [0, 0],
						"memberSize" : [50, 8],
						"listTemplate" : {
							"immunity" : {
								"type" : "label",
								"position" : [25, 4],
								"callback" : "null",
								"fontSize" : 6,
								"vAnchor"  : "mid",
								"hAnchor"  : "mid",
								"value" : "---"
							}
						}
					}
				}
			}
        },
		
		"expandButton" : {
			"type" : "button",
			"position" : [169, 16],
			"callback" : "expand",
			"base" : "/interface/scripted/statWindow/expandButton.png:default",
			"hover" : "/interface/scripted/statWindow/expandButton.png:pressed",
			"pressed" : "/interface/scripted/statWindow/expandButton.png:pressed",
			"pressedOffset" : [0, 0]
		},
		
		"physicalResist" : {
			"type" : "label",
			"position" : [154, 114],
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		"fireResist" : {
			"type" : "label",
			"position" : [154, 100],
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		"poisonResist" : {
			"type" : "label",
			"position" : [154, 86],
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		"iceResist" : {
			"type" : "label",
			"position" : [154, 72],
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		"electricResist" : {
			"type" : "label",
			"position" : [154, 58],
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		"radioactiveResist" : {
			"type" : "label",
			"position" : [154, 44],
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		"cosmicResist" : {
			"type" : "label",
			"position" : [154, 30],
			"hAnchor" : "mid",
			"value" : "---"
		},
		
		"shadowResist" : {
			"type" : "label",
			"position" : [154,16],
			"hAnchor" : "mid",
			"value" : "---"
		}
	},

	"races":	[ "apex", "avian", "floran", "glitch", "human", "hylotl", "novakid" ],
	"elements":	[ "physical", "fire", "poison", "ice", "electric", "radioactive", "cosmic", "shadow" ],
	"statuses" : {
		// Cold
		"liquidnitrogenImmunity" :		{ "name" : "^#4BF3FD;Liquid Nitrogen"	},
		"nitrogenfreezeImmunity" :		{ "name" : "^#4BF3FD;Nitrogen Freeze",	"skip" : [ "liquidnitrogenImmunity" ] },
		"ffextremecoldImmunity" :		{ "name" : "^#4BF3FD;Cold II"			},
		"biomecoldImmunity" :			{ "name" : "^#4BF3FD;Cold I",			"skip" : [ "ffextremecoldImmunity" ] },

		// Blocks
		"quicksandImmunity" :			{ "name" : "^yellow;Quick Sand"			},
		"snowslowImmunity" :			{ "name" : "^#4BF3FD;Snow Slow"			},
		"slushslowImmunity" :			{ "name" : "^#4BF3FD;Slush Slow"		},
		"iceslipImmunity" :				{ "name" : "^#4BF3FD;Ice Slipping"		},
		"fumudslowImmunity" :			{ "name" : "^brown;Mud Slow"			},
		"fujungleslowImmunity" :		{ "name" : "^green;Jungle Slow"			},

		"slimefrictionImmunity" :		{ "name" : "^#61D13F;Slime Bounce"		},
		"slimestickImmunity" :			{ "name" : "^#61D13F;Sticky Slime"		},
		"slimeImmunity" :				{ "name" : "^#61D13F;Slime"				},

		// Liquids
		"waterbreathProtection" :		{ "name" : "^blue;Drowning"				},
		"biooozeImmunity" :				{ "name" : "^#78f04f;Bio-Ooze"			},
		"pusImmunity" : 				{ "name" : "^yellow;Pus"				},
		"gravrainImmunity" :			{ "name" : "^gray;Gravity Rain"			},
		"blacktarImmunity" :			{ "name" : "^#5B6177;Black Tar"			},
		"tarImmunity" :					{ "name" : "^#5B6177;Tar",				"skip" : [ "blacktarImmunity" ] },

		// Fire
		"ffextremeheatImmunity" :		{ "name" : "^#FDBE4B;Heat II"			},
		"biomeheatImmunity" :			{ "name" : "^#FDBE4B;Heat I",			"skip" : [ "ffextremeheatImmunity" ] },
		"lavaImmunity" :				{ "name" : "^#C83E14;Lava"				},

		// Specific
		"sandstormImmunity" :			{ "name" : "^orange;Sandstorm"			},
		"breathProtection" :			{ "name" : "Breath"						},
		"gasImmunity" :					{ "name" : "^#D1E160;Gas"				},
		"stunImmunity" :				{ "name" : "^gray;Stun"					},
		"asteroidImmunity" :			{ "name" : "^gray;Asteroids"			},
		"sulphuricImmunity" :			{ "name" : "^#ffd800;Sulphuric Acid"	},
		"protoImmunity" :				{ "name" : "^#78f04f;Proto-Poison"		},
		"extremepressureProtection" :	{ "name" : "^gray;Extreme Pressure"		},
		"pressureProtection" :			{ "name" : "^gray;Pressure",			"skip" : [ "extremepressureProtection" ] },
		"shadowImmunity" :				{ "name" : "^#3F2E4D;Shadow"			},
		"aetherImmunity" :				{ "name" : "^#E33FFF;Aether"			},
		"insanityImmunity" :			{ "name" : "^#EA907E;Insanity"			},

		// Bees
		"beestingImmunity" :			{ "name" : "^#ffae00;Bee Stings"		},
		"honeyslowImmunity" :			{ "name" : "^#FFEC84;Honey Slow"		},

		// Status
		"electricStatusImmunity" :		{ "name" : "^#FFE149;Electrification"	},
		"poisonStatusImmunity" :		{ "name" : "^#D1E160;Poisoning"			},
		"fireStatusImmunity" :			{ "name" : "^#FDBE4B;Burning"			},
		"iceStatusImmunity" :			{ "name" : "^#4BF3FD;Freeze"			},

		// Radiation
		"ffextremeradiationImmunity" :	{ "name" : "^yellow;Radiation II"		},
		"biomeradiationImmunity" :		{ "name" : "^yellow;Radiation I",		"skip" : [ "ffextremeradiationImmunity" ] },
		"radiationburnImmunity" :		{ "name" : "^yellow;Radiation Burn"		}
	},

	"scriptWidgetCallbacks" : [ "expand" ],
	"scripts" : ["/interface/scripted/statWindow/statWindow.lua"],
	"scriptDelta" : 1
}