{
	"gui" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/chests/chestheader.png",
			"fileBody" : "/interface/chests/slots1to16.png",
			"fileFooter" : "/interface/chests/chestfooter.png"
		},
		"objectImage" : {
			"type" : "image",
			"position" : [40, 79],
			"file" : "",
			"centered" : true,
			"maxSize" : [40, 40],
			"minSize" : [40, 40]
		},
		"clear" : {
			"type" : "button",
			"base" : "/interface/button.png",
			"hover" : "/interface/buttonhover.png",
			"press" : "/interface/buttonhover.png",
			"caption" : "Take all",
			"position" : [21, 26]
		},
		"openCodex" : {
			"type" : "button",
			"base" : "/interface/button.png",
			"hover" : "/interface/buttonhover.png",
			"press" : "/interface/buttonhover.png",
			"caption" : "Read all",
			"position" : [82, 26],
			"callback" : "CodexButtonClicked"
		},
		"statusMessage" : {
			"type" : "label",
			"value" : "",
			"hAnchor" : "mid",
			"vAnchor" : "mid",
			"position" : [80, 18]
		},
		"itemGrid" : {
			"type" : "itemgrid",
			"position" : [81, 42],
			"dimensions" : [4, 4],
			"spacing" : [19, 19],
			"backingImage" : "/interface/inventory/empty.png"
		},
		"count" : {
			"type" : "label",
			"value" : "16 SLOTS",
			"hAnchor" : "mid",
			"position" : [120, 119]
		},
		"overlay" : {
			"type" : "image",
			"file" : "/interface/chests/shine1to16.png",
			"position" : [0, 2]
		},
		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [0, 0],
			"position" : [143, 135]
		}
	},
	"scriptWidgetCallbacks" : ["CodexButtonClicked"],
	"scripts" : ["/interface/chests/ContainerControl.lua"],
	"scriptDelta" : 30
}
