{
	"gui" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/chests/chestheader.png",
			"fileBody" : "/interface/chests/slots57to64.png",
			"fileFooter" : "/interface/chests/chestfooter.png"
		},
		"objectImage" : {
			"type" : "image",
			"position" : [40, 186],
			"file" : "",
			"centered" : true,
			"maxSize" : [40, 40],
			"minSize" : [40, 40]
		},
		"clear" : {
			"type" : "button",
			"base" : "/interface/button.png",
			"hover" : "/interface/buttonhover.png",
			"press" : "/interface/buttonhover.png",
			"caption" : "Take all",
			"position" : [22, 152]
		},
		"openCodex" : {
			"type" : "button",
			"base" : "/interface/button.png",
			"hover" : "/interface/buttonhover.png",
			"press" : "/interface/buttonhover.png",
			"caption" : "Read all",
			"position" : [83, 26],
			"callback" : "CodexButtonClicked"
		},
		"statusMessage" : {
			"type" : "label",
			"value" : "",
			"hAnchor" : "mid",
			"vAnchor" : "mid",
			"position" : [80, 18]
		},
		"itemGrid" : {
			"type" : "itemgrid",
			"position" : [81, 145],
			"dimensions" : [4, 4],
			"spacing" : [19, 19],
			"backingImage" : "/interface/inventory/empty.png"
		},
		"itemGrid2" : {
			"type" : "itemgrid",
			"position" : [4, 31],
			"slotOffset" : 16,
			"dimensions" : [8, 6],
			"spacing" : [19, 19],
			"backingImage" : "/interface/inventory/empty.png"
		},
		"count" : {
			"type" : "label",
			"value" : "<slots> SLOTS",
			"hAnchor" : "mid",
			"position" : [120, 222]
		},
		"overlay" : {
			"type" : "image",
			"file" : "/interface/chests/shine49andup.png",
			"position" : [0, 0]
		},
		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [0, 0],
			"position" : [143, 239]
		}
	},
	"scriptWidgetCallbacks" : ["CodexButtonClicked"],
	"scripts" : ["/interface/chests/ContainerControl.lua"],
	"scriptDelta" : 30
}
