{
  "cooldownDuration" : 0.1,

  "energyResponses" : [
    {
      "threshold" : 0,
      "invulnerabilityDuration" : 0,
      "invulnerabilityMode" : "none",
      "knockbackMagnitude" : 0,
      "knockbackSkidDuration" : 0,
      "knockbackMode" : "normal",
      "knockbackAngle" : 0,
      "stunDuration" : 0,
      "stunMode" : "none"
    }
  ],

  "healthResponses" : [
    {
      "threshold" : 0,
      "invulnerabilityDuration" : 0,
      "invulnerabilityMode" : "none",
      "knockbackMagnitude" : 0,
      "knockbackSkidDuration" : 0,
      "knockbackMode" : "normal",
      "knockbackAngle" : 0,
      "stunDuration" : 0,
      "stunMode" : "none"
    },
    {
      "threshold" : 0.06,
      "invulnerabilityDuration" : 0,
      "invulnerabilityMode" : "none",
      "knockbackMagnitude" : 0,
      "knockbackSkidDuration" : 0,
      "knockbackMode" : "normal",
      "knockbackAngle" : 0,
      "stunDuration" : 0,
      "stunMode" : "none"
    },
    {
      "threshold" : 0.16,
      "invulnerabilityDuration" : 0,
      "invulnerabilityMode" : "none",
      "knockbackMagnitude" : 0,
      "knockbackSkidDuration" : 0,
      "knockbackMode" : "normal",
      "knockbackAngle" : 0,
      "stunDuration" : 0,
      "stunMode" : "none"
    },
    {
      "threshold" : 0.26,
      "invulnerabilityDuration" : 0,
      "invulnerabilityMode" : "none",
      "knockbackMagnitude" : 0,
      "knockbackSkidDuration" : 0,
      "knockbackMode" : "normal",
      "knockbackAngle" : 0,
      "stunDuration" : 0,
      "stunMode" : "none"
    },
    {
      "threshold" : 0.51,
      "invulnerabilityDuration" : 0,
      "invulnerabilityMode" : "none",
      "knockbackMagnitude" : 0,
      "knockbackSkidDuration" : 0,
      "knockbackMode" : "normal",
      "knockbackAngle" : 0,
      "stunDuration" : 0.1,
      "stunMode" : "flyStun"
    }
  ]
}
