{
  "fadeout" : 0.1,

  "mapping" : {
    //basic piano key index (+20)
    "108" : { "f" : 4186.01 },
    "107" : { "f" : 3951.07 },
    "106" : { "f" : 3729.31 },
    "105" : { "f" : 3520.00, "file" : "/sfx/instruments/$instrument$/a7.ogg" },
    "104" : { "f" : 3322.44 },
    "103" : { "f" : 3135.96 },
    "102" : { "f" : 2959.96 },
    "101" : { "f" : 2793.83 },
    "100" : { "f" : 2637.02 },
    "99" : { "f" : 2489.02 },
    "98" : { "f" : 2349.32 },
    "97" : { "f" : 2217.46 },
    "96" : { "f" : 2093.00 },
    "95" : { "f" : 1975.53 },
    "94" : { "f" : 1864.66 },
    "93" : { "f" : 1760.00, "file" : "/sfx/instruments/$instrument$/a6.ogg" },
    "92" : { "f" : 1661.22 },
    "91" : { "f" : 1567.98 },
    "90" : { "f" : 1479.98 },
    "89" : { "f" : 1396.91 },
    "88" : { "f" : 1318.51 },
    "87" : { "f" : 1244.51 },
    "86" : { "f" : 1174.66 },
    "85" : { "f" : 1108.73 },
    "84" : { "f" : 1046.50 },
    "83" : { "f" : 987.767 },
    "82" : { "f" : 932.328 },
    "81" : { "f" : 880.000, "file" : "/sfx/instruments/$instrument$/a5.ogg" },
    "80" : { "f" : 830.609 },
    "79" : { "f" : 783.991 },
    "78" : { "f" : 739.989 },
    "77" : { "f" : 698.456 },
    "76" : { "f" : 659.255 },
    "75" : { "f" : 622.254 },
    "74" : { "f" : 587.330 },
    "73" : { "f" : 554.365 },
    "72" : { "f" : 523.251 },
    "71" : { "f" : 493.883 },
    "70" : { "f" : 466.164 },
    "69" : { "f" : 440.000, "file" : "/sfx/instruments/$instrument$/a4.ogg" },
    "68" : { "f" : 415.305 },
    "67" : { "f" : 391.995 },
    "66" : { "f" : 369.994 },
    "65" : { "f" : 349.228 },
    "64" : { "f" : 329.628 },
    "63" : { "f" : 311.127 },
    "62" : { "f" : 293.665 },
    "61" : { "f" : 277.183 },
    "60" : { "f" : 261.626 },
    "59" : { "f" : 246.942 },
    "58" : { "f" : 233.082 },
    "57" : { "f" : 220.000, "file" : "/sfx/instruments/$instrument$/a3.ogg" },
    "56" : { "f" : 207.652 },
    "55" : { "f" : 195.998 },
    "54" : { "f" : 184.997 },
    "53" : { "f" : 174.614 },
    "52" : { "f" : 164.814 },
    "51" : { "f" : 155.563 },
    "50" : { "f" : 146.832 },
    "49" : { "f" : 138.591 },
    "48" : { "f" : 130.813 },
    "47" : { "f" : 123.471 },
    "46" : { "f" : 116.541 },
    "45" : { "f" : 110.000, "file" : "/sfx/instruments/$instrument$/a2.ogg" },
    "44" : { "f" : 103.826 },
    "43" : { "f" : 97.9989 },
    "42" : { "f" : 92.4986 },
    "41" : { "f" : 87.3071 },
    "40" : { "f" : 82.4069 },
    "39" : { "f" : 77.7817 },
    "38" : { "f" : 73.4162 },
    "37" : { "f" : 69.2957 },
    "36" : { "f" : 65.4064 },
    "35" : { "f" : 61.7354 },
    "34" : { "f" : 58.2705 },
    "33" : { "f" : 55.0000, "file" : "/sfx/instruments/$instrument$/a1.ogg" },
    "32" : { "f" : 51.9131 },
    "31" : { "f" : 48.9994 },
    "30" : { "f" : 46.2493 },
    "29" : { "f" : 43.6535 },
    "28" : { "f" : 41.2034 },
    "27" : { "f" : 38.8909 },
    "26" : { "f" : 36.7081 },
    "25" : { "f" : 34.6478 },
    "24" : { "f" : 32.7032 },
    "23" : { "f" : 30.8677 },
    "22" : { "f" : 29.1352 },
    "21" : { "f" : 27.5000, "file" : "/sfx/instruments/$instrument$/a0.ogg" }
  }
}
