{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "neutronbomb"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 40,
      "backgroundRadius" : 50,
      "explosiveDamageAmount" : 1500,
      "delaySteps" : 0
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/weapons/plasmaexplosion.ogg" ]
    }

  ]
}
