{
	"gui" : {
		"background" : {
			"zlevel" : 0,
			"type" : "background",
			"fileBody" : "/interface/scripted/fu_lootbox/body.png"
		},
		
		"canvas" : {
			"type" : "canvas",
			"rect" : [6, 6, 206, 94],
			"captureMouseEvents" : true,
			"captureKeyboardEvents" : false
		},
		
		"itemBG" : {
			"type" : "image",
			"zlevel" : 10,
			"file" : "/interface/inventory/empty.png",
			"visible" : false,
			"position" : [3, 1]
		},
		
		"item" : {
			"type" : "itemslot",
			"zlevel" : 11,
			"visible" : false,
			"position" : [3, 1],
			"callback" : "null"
		},
		
		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [0, 0],
			"position" : [193, 81]
		}
	},
	
	"canvasKeyCallbacks" : { "canvas" : "canvasKeyEvent" },
	"canvasClickCallbacks" : { "canvas" : "canvasClickEvent" },
	"scriptWidgetCallbacks" : [ ],
	
	"scripts" : ["/interface/scripted/fu_lootbox/fu_lootbox.lua"],
	"scriptDelta" : 1
}