{
    "statuses": {
        "generic": [
            "Has a song stuck in their head",
            "Tripped over a rock earlier",
            "Feels like they're stuck in a video game",
            "Wishes things were different",
            "Considering taking up a new hobby",
            "Needs a break",
            "Feels like breaking into song",
            "Trying to remember how old they are",
            "More than a number",
            "Can't believe it's true",
            "Tired after a long day of doing nothing",
            "Doesn't want anyone to discover their secret",
            "Hiding something",
            "Wants to try new things",
            "Has a feeling that their life is a lie",
            "Can't believe this is happening",
            "Unwilling to give up",
            "Contemplating the vastness of the universe",
            "Out of their depth",
            "Wondering what's for lunch",
            "Wants to write a song",
            "Feels like snacking",
            "Feeling nostalgic",
            "Doesn't want to be part of the system",
            "Wants to break free",
            "Secretly knows they should exercise more",
            "Craving some spicy food",
            "Staring into the abyss",
            "Considering living underground",
            "Has no idea what they're doing and hopes no-one notices",
            "Has an itchy toe",
            "Wishes they had superpowers",
            "Wondering how they would handle a zombie apocalypse",
            "Wishes they had a colouring book",
            "Can't see the forest for the trees",
            "Has a great idea for a video game",
            "Systematically counting every pixel",
            "Wonders if someone is secretly controlling their life",
            "Feeling sophisticated",
            "Considering becoming a vegetarian",
            "Feeling fancy",
            "Considering a hunting trip",
            "On the ball",
            "Trying not to vomit",
            "Is hot and bothered",
            "Wondering what snails are even trying to do",
            "Wondering if brushing your teeth is cleaning your skeleton",
            "Thinking about their lost pet",
            "Finding inspiration for their blog",
            "Beating a dead horse",
            "Feels like a new kid on the block",
            "In pain",
            "Dead inside",
            "Feeling deeply disturbed",
            "Reacting badly",
            "Feeling confident",
            "Wondering if bugs mind being caught",
            "Feels like dancing the night away",
            "Can't stop blinking",
            "Feeling fine",
            "Has great expectations",
            "Holding a grudge",
            "Feeling content",
            "Feeling good",
            "Taking their time",
            "Rocking the boat",
            "Trying their luck",
            "Enjoying the moment",
            "Finding answers",
            "Seeking distraction"

        ],
        "cheerful": [
            "Couldn't be happier",
            "Thinking it's a nice day",
            "Wouldn't want to be anywhere else",
            "Cheeks hurt from grinning",
            "Remembering not to skip in public",
            "Enjoying the local wildlife",
            "Immune to crippling loneliness",
            "Pretending everything is okay",
            "Has faith",
            "Believes everything is a-okay",
            "Enjoying the simple life",
            "Feeling motivated",
            "Wonders why they can't stop smiling",
            "Enjoying the feeling of needing to pee",
            "Looking for someone to tickle",
            "Can smell something nice",
            "Calm and cheerful",
            "Dealing well with the futility of their existence",
            "Feeling right at home",
            "One with the universe",
            "Can't stop thinking of cute animals",
            "Finally has a place to call home",
            "Thinking you're a lovely person",
            "Happy despite everything",
            "Would like to do a good deed",
            "Happy with their appearance",
            "Following their dreams",
            "Has a tasty bag of treats",
            "Feeling positive",
            "Happy to be alive",
            "Could die happy"
        ],
        "jerk": [
            "Looking for someone to irritate",
            "Won't stop making loud noises",
            "Left the toilet seat up",
            "Pretending to have kleptomania",
            "Kicked a small alien creature earlier",
            "Looking for someone to pick on",
            "Speaking entirely in puns",
            "Playing devil's advocate",
            "Won't be reasoned with",
            "Unaccepting of alternative life style choices",
            "Thinks everyone should listen to them",
            "Wishes they were in charge",
            "Looking for a fight",
            "Repeating the same joke over and over",
            "Openly discussing spoilers today",
            "Feeling disagreeable",
            "Feeling unforgiving",
            "Wants to spread rumours",
            "Considering destroying their house for the insurance",
            "Can't believe they're still here",
            "Owes people money",
            "Contemplating breaking promises",
            "Regrets their behaviour",
            "Feeling unloved",
            "Feeling overly critical",
            "Feeling mean",
            "Considering starting a cult",
            "Believing they're superior",
            "Intentionally missing the point",
            "Beyond criticism",
            "Referring to people by their second name"
        ],
        "flirty": [
            "Finds the local flora seductive",
            "Hoping to meet their perfect match",
            "Feeling broody",
            "Likes you in that outfit",
            "Feeling hormonal",
            "Has never felt this way before",
            "Feeling groovy, baby",
            "Has been reading erotic literature",
            "Ashamed of their thoughts",
            "Unable to control themselves",
            "Playing the field",
            "Nervous about a date",
            "Finding it hard to control their desires",
            "Just trying to make friends",
            "Looking for something long-term",
            "Considering online dating",
            "Insatiable",
            "Very open-minded",
            "Feeling flirtatious",
            "Wants to know what love is",
            "Flirty",
            "Developing a crush",
            "Looking for romance",
            "Romantically frustrated",
            "Needs a massage",
            "Needs a cold shower",
            "Has a gun in their pocket",
            "Wishes flirting was as easy as fighting monsters",
            "Telling themselves they're not a stalker",
            "Can't decide if they're hot or not",
            "Loves the way you handle that matter manipulator"
        ],
        "anxious": [
            "Feeling unsure of themselves",
            "Worried",
            "Feels like the walls are closing in",
            "Feels a panic attack coming on",
            "Worrying that they might have undiagnosed illnesses",
            "Wants to avoid social interaction for a while",
            "Wondering just how fast they can run",
            "Wishes they were invisible",
            "Afraid of the end of the world",
            "Feels nervous",
            "Nervous wreck",
            "Second guessing their taste in music",
            "Trembling",
            "Doesn't feel cut out for this",
            "Lacking confidence",
            "Isn't sure these clothes are cool after all",
            "Feeling more comfortable in front of a computer",
            "Feeling socially awkward",
            "Feeling unattractive",
            "Creating awkward silences",
            "Sweating uncontrollably",
            "Speaking before they think",
            "Finding conversation difficult",
            "Hiccuping at inappropriate times",
            "Feeling an intense sense of pressure",
            "Sensing dread",
            "Compulsively nail biting",
            "Nervously giggling",
            "Just wants to be at home",
            "Considering therapy",
            "Keeps snorting"
        ],
        "easilyspooked": [
            "Has a bad feeling about this...",
            "Picturing scary skeletons",
            "Feeling watched",
            "Concerned the dead might be rising",
            "Feeling on edge",
            "Feeling acutely aware of strange noises",
            "Feeling spooked",
            "Just heard something... Probably",
            "Just wet themselves a little bit",
            "Counting their phobias",
            "Convinced something is hunting them",
            "Feeling panicked",
            "Considering learning a martial art",
            "Jumping at their own shadow",
            "Wrestling with anxiety",
            "Feeling fearful",
            "Feeling terrified",
            "Feeling afraid of monsters",
            "Praying for protection",
            "Feeling helpless",
            "Trying to keep their phobias in check",
            "Wide eyed",
            "Feeling tense",
            "Feeling jumpy",
            "Thinks something bad is about to happen",
            "Concerned about their blood pressure",
            "Checking to ensure they're armed",
            "Doesn't want to be alone",
            "Fearful for their safety",
            "Losing their marbles",
            "Wondering what's out there",
            "Ready to attack"
        ],
        "clumsy": [
            "Wishing somebody could help open a jar",
            "Breaking everything they touch",
            "Keeps tripping up",
            "Keeps insulting people by mistake",
            "Repeatedly dropping expensive possessions",
            "Considering learning juggling",
            "Feeling prone to mistakes",
            "Slipping up",
            "Feeling clumsy",
            "Afraid of breaking something",
            "Wondering if they could operate a space ship",
            "Cursing their luck",
            "Cursing their dexterity",
            "Considering buying insurance",
            "Swearing he didn't do it",
            "Thinking they left something behind",
            "Feeling like they've lost something",
            "Feeling dangerous",
            "Compulsively wobbling",
            "Systematically ruining everything",
            "Unhappy with the physics",
            "In fear of falling down",
            "Hands are slippery",
            "Fingers are buttery",
            "Wobbling like jelly",
            "Feeling like they can't be trusted",
            "Dropping the ball",
            "Lacking dignity",
            "Stubbed their toe",
            "Gangling",
            "Feeling ungainly"
        ],
        "excited": [
            "Knows it's going to be great",
            "Just can't wait",
            "Feeling excited",
            "Can't calm down",
            "Feeling hyperactive",
            "Can't believe it",
            "Trembling with excitement",
            "Feeling exhilarated",
            "Feels like dancing",
            "Can't sit still",
            "Feeling impulsive",
            "Full of beans",
            "Hyperventilating",
            "Has butterflies in their tummy",
            "Can't stop giggling",
            "Feeling full of gumption",
            "Feeling spirited",
            "Questioning their sugar levels",
            "Anticipating",
            "Unable to calm down",
            "Playing the game",
            "Seizing the moment",
            "Feeling aggressive",
            "Feeling influenced",
            "Risking everything",
            "Feeling angry",
            "Feeling furious",
            "Unable to contain themselves",
            "Flowing",
            "Feeling frisky",
            "Feeling boisterous"
        ],
        "intrusive": [
            "Feels like giving someone a hug",
            "Wanting to know what your face feels like",
            "Is contemplating the concept of personal space",
            "Enjoying the sound people make when prodded",
            "Wanting to hear secrets",
            "Wanting to smell people",
            "Wanting to be best friends",
            "Thinking of lyrics for a song about you",
            "Thinking how great everyone is",
            "Breaking social boundaries",
            "Creeping",
            "Missing social cues",
            "Just wanting to be loved",
            "Feeling touchy feely",
            "Crossing the line",
            "Staring",
            "Compulsively licking lips",
            "Feeling socially unacceptable",
            "Dressing inappropriately",
            "Making strange sounds",
            "Picking their nose",
            "Making assumptions",
            "Making enemies",
            "Destroying friendships",
            "Alienating",
            "Feeling alienated",
            "Being irritating",
            "Disrespecting personal property",
            "Disrespecting personal space",
            "Feeling intrusive",
            "Stroking their thighs"
        ],
        "dumb": [
            "Herrr",
            "Dorf",
            "Can't remember what they were doing",
            "Not really feeling anything",
            "Trying to figure things out",
            "Feeling unsure",
            "Feeling dumb",
            "Feeling stupid",
            "Wanting to learn something new",
            "Feeling confused",
            "Isn't sure what's going on",
            "Wishing they were smarter",
            "Feeling unable to express themselves",
            "Feeling tired of thinking",
            "Feeling mentally taxed",
            "Operating poorly",
            "Confusing themselves",
            "Calculating pi to 2 decimal places",
            "Feeling mentally overwhelmed",
            "Blissfully unaware",
            "Feeling ignorant",
            "Feeling tongue tied",
            "Making mistakes",
            "Forgetting things",
            "Misunderstanding",
            "Thinking very hard",
            "Blundering",
            "Feeling unable",
            "Mistelling jokes",
            "Going red",
            "Blushing uncontrollably",
            "Feeling mystified"
        ],
        "emo": [
            "Is full of regret",
            "Shedding a single tear",
            "Feels like no one understands them",
            "Feeling very emotional",
            "Just wants to stay in the dark forever",
            "Has much sadness in their heart",
            "Feeling lost",
            "Feeling alone",
            "Feeling down",
            "Feeling misunderstood",
            "Considering a fringe",
            "Feeling angry at the world",
            "Feeling miserable",
            "Feeling like a failure",
            "Feeling feelings",
            "Feeling sad",
            "Feeling emotional",
            "Inventing a new kind of sadness",
            "Having an existential crisis",
            "Feeling excluded",
            "Questioning the point",
            "Feeling like sobbing",
            "Feeling depressed",
            "Feeling introverted",
            "Giving up",
            "Giving in",
            "Feeling deserted",
            "Feeling like sobbing",
            "Attempting to repair their self esteem",
            "Contemplating a piercing"
        ],
        "fast": [
            "Feels it's important to go quickly",
            "Feels the world moves too slowly",
            "In a rush",
            "Getting things done quickly",
            "Struggling to slow down",
            "Making their own pace",
            "Speeding things up",
            "Their mind is racing",
            "Leaping before looking",
            "Thinking fast",
            "Embarrassed about their speed",
            "Wishing they could run faster",
            "Feeling bored",
            "Hurrying up",
            "Rushing",
            "Refusing to slow down",
            "Getting quicker",
            "Cutting corners",
            "Firing on all cylinders",
            "Increasing productivity",
            "Moving quickly",
            "Clearing hurdles",
            "Feeling right on track",
            "Feeling efficient",
            "Jumping the gun",
            "Putting the cart before the horse",
            "Feeling punctual",
            "Feeling busy",
            "Looking for something",
            "Increasing endurance",
            "Keeping fit"
        ],
        "nocturnal": [
            "Feeling restless",
            "Unable to sleep",
            "Feeling tired",
            "Feeling exhausted",
            "Slipping into insanity",
            "Feeling awake",
            "Feeling sneaky",
            "Waiting for the right moment",
            "Feeling out of sync",
            "Coping with insomnia",
            "Feeling like they have a vitamin C deficiency",
            "Feeling they're outside the system",
            "Wants to strike fear into the hearts of their enemies",
            "Needs a better sleep schedule",
            "Has blood shot eyes",
            "Trying to wake the dead",
            "Feeling unsociable",
            "Feeling addicted to cat pictures",
            "Feeling fuzzy",
            "Feeling half asleep",
            "Feeling mopy",
            "Battling sleep",
            "Checking out mentally",
            "In danger of collapsing",
            "Risking insanity",
            "Desperate for coffee",
            "Feeling unwell",
            "Humming a lullaby",
            "Sleepwalking",
            "Daydreaming",
            "Afraid of becoming a vampire",
            "Disregarding sleep"
        ],
        "socialite": [
            "Needing to speak to everyone today",
            "Feeling chatty",
            "In need of company",
            "Has a great story to tell",
            "Has a great joke to tell",
            "Has a great anecdote to share",
            "Wants to throw a party",
            "Wondering if they have any real friends",
            "Feeling popular",
            "Planning a party",
            "Wanting to form a band",
            "Reconsidering their party members",
            "Feeling well liked",
            "Feeling like the life of the party",
            "Seeking more attention",
            "Making an embarrassing faux pas",
            "Ruffling feathers",
            "Feeling social",
            "Planning what to wear",
            "Ranking their friendships",
            "Starting a club",
            "Keeping the peace",
            "Schmoozing",
            "Flashing their smile",
            "Making peace",
            "Feeling considerate",
            "Inspecting their position in society",
            "Considering who they really trust",
            "Feeling open minded",
            "Feeling the need for affection",
            "Feels like laughing"
        ],
        "ambitious": [
            "Wanting to rule the galaxy someday",
            "Wanting to become mayor",
            "Looking for something to do",
            "Feeling ambitious",
            "Feeling driven",
            "Feeling excited about their future",
            "Considering positive change",
            "Wanting to own their own ship",
            "Thinking about their finances",
            "Thinking about starting a colony of their own",
            "Having big ideas",
            "Feels capable of anything",
            "Creating opportunities",
            "Making moves",
            "Feeling capable",
            "Breaking records",
            "Feeling competitive",
            "Wanting more",
            "Willing to gamble",
            "Ready to seize the day",
            "Finding a niche",
            "Dangerously motivated",
            "Brokering deals",
            "High on life",
            "Trying their best",
            "Besting the competition",
            "Wheeling and dealing",
            "Wanting to reach the top",
            "Psyching themselves up",
            "Aiming for a promotion"
        ]
    }
}
