{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.5,
      "type" : "energyburstexplosion3"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 30,
      "backgroundRadius" : 25,
      "explosiveDamageAmount" : 1.75,
      "delaySteps" : 2
    },
	{
      "action" : "sound",
      "options" : [ "/sfx/weapons/explosion2.ogg" ]
    }

  ]
}
