{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.35,
      "type" : "energyburstexplosion2"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 8.0,
      "backgroundRadius" : 4.5,
      "explosiveDamageAmount" : 3.5,
      "harvestLevel" : 99,
      "delaySteps" : 2
    },
	{
      "action" : "sound",
      "options" : [ "/sfx/weapons/explosion2.ogg" ]
    }

  ]
}
