{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "energyburstexplosion"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 12.0,
      "backgroundRadius" : 6.5,
      "explosiveDamageAmount" : 0.25,
      "harvestLevel" : 99,
      "delaySteps" : 2
    },
	{
      "action" : "sound",
      "options" : [ "/sfx/weapons/explosion2.ogg" ]
    }

  ]
}
