{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chestheader.png",
      "fileBody" : "/objects/power/isn_incinerator/isn_incinerator_body.png",
      "fileFooter" : "/interface/chests/chestfooter.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
	  /// [ horiz, verti ]
      "position" : [73, 37],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    }
  }
}
