{
	"garden": "Lush",
	"forest": "Forest",
	"desert": "Desert",
	"snow": "Snowy",
	"savannah": "Savannah",
	"toxic": "Toxic",
	"jungle": "Jungle",
	"alien": "Alien",
	"arctic": "Arctic",
	"tundra": "Tundra",
	"volcanic": "Volcanic",
	"midnight": "Midnight",
	"scorchedcity": "Scorched",
	"magma": "Lava",
	"moon": "Lunar",
	"asteroids": "Asteroids",
	"barren": "Barren",
	"ancientgateway": "Gateway",
	"aethersea": "Aether World",
	"arcticdark": "Dark Arctic",
	"arboreal": "Primeval Forest",
	"arboreal2": "Volcanic Primeval",
	"arborealdark": "Dark Primeval",
	"atropus": "Atropus",
	"atropusdark": "Nightmare Atropus",
	"autumnforest": "Autumn Forest",
	"bloodstone": "Bloodstone",
	"bloodstonesea": "Atropus Sea",
	"bog": "Bog",
	"crystalmoon": "Crystalline",
	"chromatic": "Chromatic",
	"desertwastes": "Red Desert",
	"desertwastesdark": "Dark Red Desert",
	"eden": "Eden",
	"ffunknown": "Unknown",
	"frozenvolcanic": "Frozen Volcanic",
	"fungus": "Fungal",
	"icemoon": "Frozen Moon",
	"icewaste": "Ice Waste",
	"icewastedark": "Dark Ice Waste",
	"infernus": "Infernus",
	"infernusdark": "Dark Infernus",
	"irradiated": "Irradiated",
	"lightless": "Lightless",
	"magmadark": "Dark Magma",
	"metallicmoon": "Cyber Sphere",
	"moon_toxic": "Toxic Moon",
	"moon_desert": "Desert Moon",
	"moon_stone": "Rocky Moon",
	"moon_shadow": "Shadow Moon",
	"moon_volcanic": "Volcanic Moon",
	"moon_metallic": "Metallic Moon",
	"mountainous": "Mountainous",
	"nitrogensea": "Nitrogen Sea",
	"penumbra": "Penumbra",
	"protoworld": "Proto World",
	"protoworlddark": "Shadow Proto World",
	"shadow": "Shadow",
	"slimeworld": "Gelatinous",
	"snowdark": "Dark Snow",
	"strangesea": "Strange Sea",
	"sulphuric": "Sulphuric",
	"sulphuricdark": "Dark Sulphur",
	"sulphuricocean": "Sulphur Sea",
	"superdense": "Super Dense",
	"tabularasa": "Tabula Rasa",
	"tarball": "Tar Ball",
	"thickjungle": "Rainforest",
	"tidewater": "Tidewater",
	"tundradark": "Dark Tundra",
	"urbanwasteland": "Wasteland",
	"unknown": "Spaceship",
	"abandonedmines": "Abandoned Mines",
	"aetherbreakwater": "Aether Breakwater",
	"aethercorelayer": "Aether Core",
	"aetherseafloor": "Aether Sea Floor",
	"aetherseaunderground": "Aether Underground",
	"aliendesert": "Alien Desert",
	"alienforest": "Alien Forest",
	"alpine": "Alpine",
	"arboreal2underground": "Arboreal Underground",
	"arborealunderground": "Arboreal Underground",
	"arcticoceanfloor": "Arctic Ocean Floor",
	"ashgarden": "Ash Garden",
	"asteroidfield": "Asteroid Field",
	"astral": "Aetheric",
	"atmosphere": "Atmosphere",
	"atropusbone": "Boney Flesh Expanse",
	"atropusbonecaves": "Bone Caves",
	"atropusboneunderground": "Flesh Caves",
	"atropuscellcaves": "Cell Caves",
	"atropuscellfield": "Cellular Expanse",
	"atropusfleshcaves": "Flesh Caves",
	"atropusgoreforest": "Gore Forest",
	"atropushellhive": "Hell Hive",
	"atropushellhiveunderground": "Underground Hell Hive",
	"atropusrot": "Rotting Flesh Expanse",
	"atropusrotunderground": "Rotting Caves",
	"atropusunderground": "Atropus depths",
	"atropuswartfield": "Wart Field",
	"badlands": "Badlands",
	"barren2": "Barren II",
	"barren3": "Barren III",
	"barrenasteroids": "Barren Asteroids",
	"barrenunderground": "Barren Underground",
	"bioluminescence": "Bioluminescence",
	"biowastes": "Biowaste Zone",
	"birchforest": "Birch Forest",
	"blackslimebog": "Black Slime Bog",
	"blaststonecorelayer": "Blaststone Core Layer",
	"blisterbushfield": "Blister Bush Field",
	"blooddesert": "Blood Desert",
	"bloodgulch": "Blood Gulch",
	"bloodstonefield": "Bloodstone Woods",
	"bloodstoneseafloor": "Blood Ocean",
	"bloodstoneunderground": "Bloodstone caverns",
	"bogunderground": "Bog Caverns",
	"bonecaves": "Bone Caves",
	"bones": "Bones",
	"breakwater": "Breakwater",
	"cactiplace": "Cactus Place",
	"calichefield": "Caliche Vein",
	"cellcaves": "Cell Caves",
	"cellfieldaether": "Cellular Expanse",
	"cellfieldstrange": "Cellular Expanse",
	"cellfield": "Cellular Expanse",
	"charred": "Charred",
	"charredflesh": "Charred Flesh",
	"chromaticunderground": "Chromatic Underground",
	"cloudforest": "Cloud Forest",
	"clouds": "Clouds",
	"colorfulcave": "Colorful Cave",
	"colourful": "Colourful",
	"coralreefdark": "Reef",
	"coralreef": "Reef",
	"corruptasteroid": "Corrupt Asteroids",
	"corrupt": "Corrupt",
	"corruptedforest": "Eldritch Forest",
	"corruptmoon": "Corrupted Moon",
	"corruptmoonunderground": "Arboreal Underground",
	"crystalcave": "Crystal Cave",
	"crystaldesertaether": "Aether Crystalline Desert",
	"crystaldesertaether2": "Aether Crystalline Desert Floor",
	"crystaldesert": "Crystalline Desert",
	"crystalmoonunderground": "Crystal Caverns",
	"crystalplain": "Crystalline Volcanic",
	"crystalswampaether": "Crystalline Swamp",
	"crystalswampaether2": "Aether Crystalline Swamp Floor",
	"crystalswamp": "Crystalline Swamp",
	"cyberspace": "Cyberspace",
	"deadwood": "Deadwood",
	"deadwoodmoon": "Deadwood",
	"deepseaventaether": "Aether Sea Vent",
	"deepseaventblood": "Blood Sea Vent",
	"deepseaventdark": "Deep Sea Vent",
	"deepseavent": "Deep Sea Vent",
	"deepseaventsulphur": "Deep Sea Vent",
	"desertoasis": "Colorful Desert Oasis",
	"dryriverbed": "Dry Riverbed",
	"earth": "Earth",
        "elderasteroid": "Elder Asteroids",
	"eldercorelayer": "Elder Core",
	"energyorbforestaether": "Dark Zone",
	"energyorbforest": "Dark Zone",
	"erchiusasteroid": "Erchius Asteroids",
	"estuaryaether": "Aether Estuary",
	"estuarydark": "Estuary",
	"estuary": "Estuary",
	"extraalienjungle": "Alien Jungle",
	"extraalpinemission": "extraalpinemission",
	"extraoceanfloormission": "extraoceanfloormission",
	"extraskymission": "extraskymission",
	"extraswampmission": "extraswampmission",
	"eyepatch": "Eyepatch",
	"ffbonecaves": "Bone Caves",
	"ffcellcaves": "Cell Caves",
	"ffcoalmine": "Coal Mine",
	"ffcoppermine": "Copper Mine",
	"ffcoralcave": "Coral Cave",
	"ffcrystalcavern": "Crystal Cavern",
	"ffcrystalrealm": "Crystalline Expanse",
	"fffleshcaves": "Flesh Caves",
	"fffrostcavern": "Ice Caves",
	"ffgoldmine": "Gold Mine",
	"ffhellhiveunderground": "Underground Hell Hive",
	"ffhive": "Hive",
	"ffhiveunderground": "Underground Hive",
	"ffpoopit": "Excremental Caves",
	"ffshadowmoon": "Shadowy Underworld",
	"ffshadow": "Shadow Cave",
	"ffsilvermine": "Silver Mine",
	"ffspidernest": "Spider Nest",
	"ffsupermatter": "Erchius Cave",
	"fftarpitmoon": "Sludge Field",
	"fftarpit": "Tar Pit",
	"ffvolcanic": "Volcanic Caves",
	"ffzen": "Zen Caves",
	"fieldofbamboo": "Bamboo Forest",
	"fieldofbanana": "Banana Forest",
	"fieldofbracken": "Bracken Field",
	"fieldofcarrots": "Carrot Crop",
	"fieldofcorn": "Cornfield",
	"fieldofgrape": "Vineyard",
	"fieldofpotato": "Potato Field",
	"fieldofsugar": "Sugarcane Field",
	"fieldoftomato": "Tomato Garden",
	"fieldofwheat": "Wheat Field",
	"finesand": "Silt Wonderland",
	"fleshasteroid": "Flesh Blobs",
	"fleshcaves": "Flesh Caves",
	"fleshcorelayer": "Flesh Core",
	"flesh": "Flesh",
	"flowerforest": "Flower Forest",
	"flowers": "Flowers",
	"frozenvolcanicunderground": "Frozen Volcanic Cavern",
	"fuatropustentacle": "Infested",
	"fucoralcavern": "Coral Caverns",
	"fugasgiant2": "Proto Giant",
	"fugasgiant3": "Flame Giant",
	"fugasgiant4": "Ice Giant",
	"fugasgiant5": "Toxic Giant",
	"fugasgiant": "Gas Giant",
	"fugasgiantunderground2": "Gas Giant Underground",
	"fugasgiantunderground3": "Gas Giant Underground",
	"fugasgiantunderground4": "Gas Giant Underground",
	"fugasgiantunderground5": "Gas Giant Underground",
	"fugasgiantunderground": "Gas Giant Underground",
	"fungusunderground": "Fungus Caverns",
	"furuinsunderground": "Ruined Caverns",
	"futentacle": "Infested",
	"futentacleunderground": "Infested Cave",
	"gardencorelayer": "Garden Core Layer",
	"gasgiantcorelayer2": "Gas Giant Core Layer",
	"gasgiantcorelayer3": "Gas Giant Core Layer",
	"gasgiantcorelayer": "Gas Giant Core Layer",
	"geode": "Geode",
	"giantflowers": "Giant Flowers",
	"glacial": "Glacial",
	"gleamingasteroid": "Gleaming Asteroids",
	"goreforest": "Gore Forest",
	"hauntedforest": "Haunted Forest",
	"hauntedgraveyard": "Haunted Graveyard",
	"hellfirefield": "Hellfire Field",
	"hellhive": "Hell Hive",
	"highlands": "Rocky Highlands",
	"hive": "Hive",
	"hiveold": "Old Hive",
	"hotsprings": "Hot Springs",
	"iceasteroids": "Asteroids",
	"icecaves": "Ice Caves",
	"iceclouds": "Ice Clouds",
	"icecloudsmoonunderground": "Ice Moon Ice Clouds",
	"icecloudswastesurface": "Frozen Wastes Ice Clouds",
	"icefire": "Icefire Forest",
	"icepines": "Frozen Taiga",
	"ice": "Ice",
	"icemoonunderground": "Ice Moon Cavern",
	"icewasteunderground": "Nitrogen Cavern",
	"infernusunderground": "Scorching Caverns",
	"irradiatedunderground": "Irradiated Cavern",
	"irradiatedwaste": "Irradiated Glade",
	"kelpforestdark": "Kelp Forest",
	"kelpforest": "Kelp Forest",
	"lightlessunderground": "Lightless Cave",
	"luminouscaves": "Luminous Caves",
	"lunarbase": "Moon",
	"magicsnowland": "Magic Snow Land",
	"magmaoceanfloor": "Magma Ocean Floor",
	"magmarockcorelayer": "Magmarock Core Layer",
	"mamapoptop": "Poptop Cavern",
	"meadow": "Meadow",
	"metalhive": "Metal Hive",
	"metaljungle": "Metal Jungle",
	"metallicunderground": "Metallic Underground",
	"metalworks2": "Metallic Surface",
	"metalworks3": "Metallic Surface",
	"metalworks4": "Metallic Surface",
	"metalworks": "Metallic Surface",
	"metalworksunderground1": "Metal Caves",
	"metalworksunderground2": "Metal Caves",
	"metalworksunderground3": "Metal Caves",
	"metalworksunderground4": "Metal Caves",
	"metalworksundergroundmoon": "Metal Caves",
	"murkyswamp": "Murky Swamp",
	"minivillage": "Mini Village",
	"mooncorelayer": "Moon Core Layer",
	"moondesertunderground": "Desert Moon Underground",
	"moonshadowunderground": "Shadow Moon Underground",
	"moonstoneunderground": "Rocky Moon Underground",
	"moontoxicunderground": "Toxic Moon Underground",
	"moonunderground": "Lunar Underground",
	"moonvolcanicunderground": "Volcanic Moon Underground",
	"mountainous2": "Mountainous II",
	"mountainous3": "Mountainous III",
	"mountainous4": "Mountainous IV",
	"mountainousunderground": "Mountain Caverns",
	"mushroompatch": "Mushroom Patch",
	"mushrooms": "Mushrooms",
	"nitrogencorelayer": "Nitrogen Core",
	"nitrogenseafloor": "Nitrogen Sea",
	"nitrogenseaunderground": "Nitrogen Cavern",
	"oasis": "Oasis",
	"obsidiancorelayer": "Obsidian Core Layer",
	"oceanfloor": "Tropical Ocean Floor",
	"oceanmission": "Ocean Mission",
	"ocean": "Tropical Ocean",
	"orchardapple": "Apple Orchard",
	"orchardcherry": "Cherry Orchard",
	"orchardpeach": "Peach Orchard",
	"orchardpear": "Pear Orchard",
	"outpost": "Outpost",
	"parkinglot": "Parking Lot",
	"penumbraunderground": "Lightless Cave",
	"pineforest": "Coniferous Forest",
	"pineforest2": "Mountainous Taiga",
	"pitchfield": "Tar Pits",
	"primevalforest": "Ancient Glade",
	"prism": "Prism",
	"protocorelayer": "Proto Core",
	"protoworldunderground": "Proto Caves",
	"puscorelayer": "Pus Core",
	"rainbowforest": "Rainbow Wood",
	"reddesert": "Red Waste",
	"rocky": "Rocky",
	"rust": "Rust",
	"sandstone": "Sandstone",
	"scorched": "Scorched Wasteland",
	"shoggothbiome": "Delta Freya II",
	"shroomcave": "Shroom Cave",
	"slimeasteroid": "Slime Asteroids",
	"slimecaves": "Slime Caves",
	"slime": "Slime",
	"slimeworldunderground": "Gelatinous Cave",
	"snowyforest": "Winter Glade",
	"space": "Space",
	"spacewreckage_rusted": "Rusted Hulk",
	"spacewreckage_shiny": "Unsalvaged Hulk",
	"spring": "Spring",
	"steamspring": "Steamspring",
	"stonecaves": "Stone Caves",
	"strangeseafloor": "Strange Sea Floor",
	"sulphuricmagma": "Volcanic Sulphuric",
	"sulphuricoceandark": "Dark Sulphuric Ocean",
	"sulphuricoceanfloor": "Sulphuric Ocean",
	"sulphuricplain": "Sulphur Pits",
	"sulphuricunderground": "Deadly Caverns",
	"sulphur": "Sulphur",
	"supermatterzoneaether": "Aether Erchius Expanse",
	"supermatterzoneaether2": "Aether Erchius Expanse Floor",
	"supermatterzone": "Erchius Crystal Expanse",
	"supermatterzonemoon": "Erchius Expanse",
	"swamp": "Swamp",
	"taiga": "Taiga",
	"tarpit": "Tarpit",
	"tar": "Tar",
	"tentacleasteroid": "Tentacle Mass",
	"tentacle": "Tentacle",
	"thickjungleunderground": "Rainforest Underground",
	"tidewaterfloor": "Rocky Tidewater Floor",
	"tidewaterunderground": "Underground Tidewater",
	"toxicoceanfloor": "Toxic Ocean Floor",
	"underground0a": "Underground0a",
	"underground0b": "Underground0b",
	"underground0c": "Underground0c",
	"underground0d": "Underground0d",
	"underground1a": "Underground1a",
	"underground1b": "Underground1b",
	"underground1c": "Underground1c",
	"underground1d": "Underground1d",
	"underground3a": "Underground3a",
	"underground3b": "Underground3b",
	"underground3c": "Underground3c",
	"underground3d": "Underground3d",
	"underground5a": "Underground5a",
	"underground5b": "Underground5b",
	"underground5c": "Underground5c",
	"underground5d": "Underground5d",
	"undergroundbrainssolid": "Underground Solid Brains",
	"undergroundbrains": "Underground Brains",
	"undergroundtentacles": "Underground Tentacles",
	"urbanwasteland2": "Wasteland",
	"void": "Void",
	"volcanicterraform": "Volcanic (Terraformed)",
	"wartfield": "Wart Field",
	"wastelandminimoon": "Wasteland",
	"wastelandmini": "Wasteland",
	"wastelandunderground": "Underground Wasteland",
	"wilderness": "Wilderness",
	"zen": "Zen Caves"
}
