{
    "apextestfacility" : "Apex test facility",
	"apexresearchlab" : "Apex research complex",
	"apextestchamber" : "Apex test chamber",
	"apexspaceelevator" : "Apex Space Elevator",
	"apexbase" : "Apex military complex",
	"apexcity" : "Apex city",
	"apextowerblock" : "Apex tower block",
	"apexcamp" : "Apex field camp",
	"apexunderwaterlab" : "Apex underwater lab",

	"avianairship" : "Avian airship",
	"aviannativevillage" : "Avian native village",
	"avianvillage" : "Avian village",
	"aviantemple" : "Avian temple",
	"aviantomb" : "Avian crypt",
	"aviansilo" : "Avian silo",
	"aviantower" : "Avian tower",
	"avianpyramid" : "Avian pyramid",
	"aviandeeppyramid" : "Avian deep pyramid",
	"avianfloatingislands" : "Avian floating islands",
	"aviansacredtemple" : "Avian sacred temple",

	"florancanyon" : "Floran canyon",
	"floranhell" : "Floran hell",
	"floranhuntinggrounds" : "Floran hunting grounds",
	"floranhutvillage" : "Floran hut village",
	"floranvillagetower" : "Floran village tower",
	"greentower" : "Floran green tower",

	"dungeoncrawler" : "Glitch dungeon",
	"evilfortress" : "Glitch fortress",
	"glitchcastle" : "Glitch castle",
	"glitchvillage" : "Glitch village",
	"glitchsewer" : "Glitch sewer",
	"glitchfarm" : "Glitch farm",
	"glitchjoust" : "Glitch joust",
	 
	"humancamp" : "Human camp",
	"humanprison" : "USCM penal colony",
	"humanbunker" : "Human bunker",
	"humanapartments" : "Human apartments",
	"uscmbase" : "USCM military base",
    
	"hylotlcity" : "Hylotl city",
	"hylotloceancity" : "Hylotl underwater settlement",
	"hylotlruinedcastle" : "Hylotl castle",
	"hylotlruinedcity" : "Hylotl underwater city ruins",
	"hylotlvillage" : "Hylotl village",
	"hylotloceancityaether" : "Hylotl underwater aether settlement",
	"hylotlruinedcityaether" : "Hylotl underwater aether ruins",
	
	"novakidvillage" : "Novakid village",
	"novakidoutlawcamp" : "Novakid outlaw camp",

    "weaponsfactory" : "Weapons factory",
	"volcano" : "Volcano",
	"waterdungeon" : "Underwater complex",
	"oceanfrontcity" : "Ocean city",
	"fungalden" : "Fungal den",
	"alienjungleruins" : "Unknown alien ruins",
	"greenruins" : "Unknown green ruins",
	"fuscifidungeon": "Science complex",
	"wreck": "Crashed spaceship",
	"fuwreck": "Crashed spaceship [FU]",
	"ship1" : "Unidentified spaceship",
	"ancientgateway" : "Gate-like structure",

    "naturalcave" : "Mine",
    "medic1" : "Vinalisj's Lab",
    "caveeentrance" : "Cave Entrance",
    "starterhouse" : "Abandoned house",
    "lakes" : "Lakes"
}
