{
  "biomeairless" : "Vacuum",
  "biomecold" : "Mild Cold",
  "biomeheat" : "Mild Heat",
  "biomeradiation" : "Mild Radiation",

  // FU
  "ffextremecold" : "Extreme Cold",
  "ffextremeheat" : "Extreme Heat",
  "ffextremeradiation" : "Extreme Radiation",

  "ffbiomecold1" : "Mild Cold",
  "ffbiomecold2" : "Moderate Cold",
  "ffbiomecold3" : "Extreme Cold",
  "ffbiomecold4" : "Lethal Cold",

  "ffbiomeheat1" : "Mild Heat",
  "ffbiomeheat2" : "Moderate Heat",
  "ffbiomeheat3" : "Extreme Heat",
  "ffbiomeheat4" : "Lethal Heat",

  "radioactiveweathernew" : "Mild Radiation",
  "radioactiveweathernew2" : "Moderate Radiation",
  "radioactiveweathernew3" : "Extreme Radiation",


  "protoweather" : "Proto-Poison",
  "insanitynew" : "Insanity",
  "crystalmoonfx" : "Cold Moon",

  "sulphuricweathernew" : "Acidic Atmosphere",
  "ffextremesulphuric" : "Sulphuric Atmosphere",

  "gasworldweak" : "High Pressure",
  "gasworld" : "Extreme Pressure",

  "biomepoison2" : "Poisonous Gas",
  "poisongas" : "Poisonous Gas II"
}
