{
    "biomeairless" : "Vacuum",
	"biomecold" : "Cold",
	"biomeheat" : "Hot",
	"biomeradiation" : "Radioactive",

	// FU
	"ffextremecold" : "Extreme Cold",
	"ffextremeheat" : "Extreme Heat",
	"ffextremeradiation" : "Extreme Radiation",

	"ffbiomecold2" : "Cold II",
	"ffbiomecold3" : "Deadly Cold",

	"ffbiomeheat2" : "Hot II",
	"ffbiomeheat3" : "Deadly Heat",

	"radioactiveweathernew" : "Radioactive II",
	"radioactiveweathernew2" : "Deadly Radiation",

    "sulphuricweathernew" : "Acidic Atmosphere",
	"protoweather" : "Proto-Poison",
	"insanitynew" : "Insanity",
	"ffextremesulphuric" : "Sulphuric Atmosphere",
	"gasworldweak" : "High Pressure",
	"gasworld" : "Extreme Pressure",
	"crystalmoonfx" : "Cold Moon",
	"biomepoison2" : "Poisonous Gas",
	"poisongas" : "Poisonous Gas II"
}
