{
        "gui" : {
                "background" : {
			"zlevel" : 0,
			"type" : "background",
			"fileHeader" : "/interface/kukagps/craftingheader.png",
			"fileBody" : "/interface/kukagps/body.png",
			"fileFooter" : "/interface/kukagps/craftingfooter.png"
		},

		"windowtitle" : {
			"type" : "title",
			"title" : " GPS",
			"subtitle" : " Information about the terrain",
			"icon" : {
				"type" : "image",
				"file" : "/interface/techupgradeicon.png",
				"zlevel" : -1
			}
		},

		"close" : {
		      "type" : "button",
		      "base" : "/interface/x.png",
		      "hover" : "/interface/xhover.png",
		      "press" : "/interface/xpress.png",
		      //position: horizontal, vertical
		      "position" : [391, 278]
		},

                "materialList" : {
                        "type" : "scrollArea",
                        "rect" : [9, 56, 394, 250],
                        "children" : {
                                "materials" : {
                                        "type" : "list",
                                        "schema" : {
                                                "selectedBG" : "/interface/kukagps/materialbg.png",
                                                "unselectedBG" : "/interface/kukagps/materialbg.png",
                                                "spacing" : [0, 1],
                                                "memberSize" : [380, 20],
                                                "listTemplate" : {
                                                        //"background" : {
                                                            //    "type" : "image",
                                                            //    "file" : "/interface/kukagps/materialbg.png",
                                                            //    "position" : [2, 0],
                                                            //    "zlevel" : -1
                                                        //},
                                                        "text" : {
                                                                "type" : "label",
                                                                "position" : [12, 10],
                                                                "hAnchor" : "left",
                                                                "vAnchor" : "mid",
                                                                "wrapWidth" : 369,
                                                                "value" : "Something is broken...."
                                                        }
                                                }
                                        }
                                }
                        }
                }
    },
    "scripts" : ["/interface/kukagps/kukagps.lua"],
    "scriptDelta" : 30
}
