{
    "copper" : "Copper",
    "silver" : "Silver",
    "gold" : "Gold",
    "iron" : "Iron",
    "tungsten" : "Tungsten",
    "corefragment" : "Core Fragment",
    "coal" : "Coal",
    "diamond" : "Diamond",
    "fossilbone" : "Bones",
    "titanium" : "Titanium",
    "durasteel" : "Durasteel",
    "ferozium" : "Ferozium",
    "aegisalt" : "Aegisalt",
    "violium" : "Violium",
    "solarium" : "Solarium",
    "erchius" : "Crystal Erchius Fuel",
    // FU ores
    "algaeore" : "Algae",
    "magnesium" : "Magnesium",
    "lead" : "Lead",
    "sulphur" : "Sulphur",
    "effigium" : "Effigium",
    "isogen" : "Isogen",
    "pyreite" : "Pyreite",
    "xithricite" : "Xithricite",
    "protocite" : "Protocite",
    "penumbrite" : "Penumbrite",
    "quietus" : "Quietus",
    "cinnabar" : "Cinnabar",
    "corruption" : "Lasombrium",
    "densinium" : "Densinium",
    "fublooddiamond" : "Plasmic Crystal",
    "irradium" : "Irradium",
    "lunariore" : "Lunari",
    "moonstone" : "Telebrium",
    "prisilite" : "Prism Shard",
    "trianglium" : "Trianglium",
    "zerchesium" : "Zerchesium",
    "plutonium" : "Plutonium",
    "uranium" : "Uranium",
    "neptunium" : "Neptunium",
    "thorium" : "Thorium",
    "crystal" : "Crystal",
    "junkmod" : "Spare Parts",
    "nocxium" : "Nocxium",
    "koanite" : "Koanite"
}
