{
    "garden" : "Lush",
    "forest" : "Forest",
    "desert" : "Desert",
    "snow" : "Snowy",
    "savannah" : "Savannah",
    "ocean" : "Oceanic",
    "toxic" : "Toxic",
    "jungle" : "Jungle",
    "alien" : "Alien",
    "arctic" : "Arctic",
    "tundra" : "Tundra",
    "volcanic" : "Volcanic",
    "midnight" : "Midnight",
    "scorchedcity" : "Scorched",
    "magma" : "Lava",
    "moon" : "Lunar",
    "asteroids" : "Asteroids",
    "barren" : "Barren",
    "ancientgateway" : "Gateway",
    // FU Planets
    "aethersea" : "Aether World",
    "arcticdark" : "Dark Arctic",
    "arboreal" : "Primeval Forest",
    "arboreal2" : "Volcanic Primeval",
    "arborealdark" : "Dark Primeval",
    "atropus" : "Atropus",
    "atropusdark" : "Nightmare Atropus",
    "bloodstone" : "Bloodstone",
    "bloodstonesea" : "Atropus Sea",
    "bog" : "Bog",
    "crystalmoon" : "Crystalline",
    "chromatic" : "Chromatic",
    "desertwastes" : "Red Desert",
    "desertwastesdark" : "Dark Red Desert",
    "eden" : "Eden",
    "ffunknown" : "Unknown",
    "frozenvolcanic" : "Frozen Volcanic",
    "fugasgiant" : "Gas Giant",
    "fugasgiant2" : "Gas Giant",
    "fugasgiant3" : "Gas Giant",
    "fugasgiant4" : "Gas Giant",
    "fugasgiant5" : "Gas Giant",
    "fungus" : "Fungal",
    "icemoon" : "Frozen Moon",
    "icewaste" : "Ice Waste",
    "icewastedark" : "Dark Ice Waste",
    "infernus" : "Infernus",
    "infernusdark" : "Dark Infernus",
    "irradiated" : "Irradiated",
    "lightless" : "Lightless",
    "magmadark":  "Dark Magma",
    "metallicmoon" : "Cyber Sphere",
    "moon_toxic" : "Toxic Moon",
    "moon_desert" : "Desert Moon",
    "moon_stone" : "Rocky Moon",
    "moon_shadow" : "Shadow Moon",
    "moon_volcanic" : "Volcanic Moon",
    "moon_metallic" : "Shadow Moon",
    "mountainous" : "Mountainous",
    "nitrogensea" : "Nitrogen Sea",
    "penumbra" : "Penumbra",
    "protoworld" : "Proto World",
    "protoworlddark" : "Shadow Proto World",
    "shadow" : "Shadow",
    "slimeworld" : "Gelatinous",
    "snowdark" : "Dark Snow",
    "strangesea" : "Strange Sea",
    "sulphuric" : "Sulphuric",
    "sulphuricdark" : "Dark Sulphur",
    "sulphuricocean" : "Sulphur Sea",
    "superdense" : "Super Dense",
    "tabularasa" : "Tabula Rasa",
    "tarball" : "Tar Ball",
    "thickjungle" : "Rainforest",
    "tidewater" : "Tidewater",
    "tundradark" : "Dark Tundra",
    "urbanwasteland" : "Wasteland",
    "unknown" : "Spaceship"
}