{
    "default" : "Mysterious Star",
    "whitestar" : "Gentle Star",
    "orangestar" : "Temperate Star",
    "yellowstar" : "Radioactive Star",
    "bluestar" : "Frozen Star",
    "redstar" : "Fiery Star",
    //FU Stars
    "bluesun1" : "Blue Star",
    "bluesun2" : "Blue Star",
    "redsun1" : "Red Star",
    "dying1" : "Dying Star",
    "blacksun1" : "Black Star",
    "binary1" : "Binary Star"
}