{
    "clear" : "Clear",
    "rain" : "Rain",
    "drizzle" : "Drizzle",
    "storm" : "Storms",
    "ember" : "Cinder Showers",
    "snow" : "Snow",
    "fog" : "Fog",
    "ash" : "Ashfall",
    "lightash" : "Light Ashfall",
    "meteorshower" : "Small Meteorites",
    "largemeteor" : "Large Meteorites",
    "glowingrain" : "Luminous Rain",
    "crystalrain" : "Crystal Rain",
    "hailstones" : "Hail",
    "groundmist" : "Mist",
    "windstorm" : "Windstorms",
    "spacejunk" : "Orbital Debris",
    "spacedustshower" : "Stardust",
    "snowstorm" : "Blizzards",
    "sandstorm" : "Sandstorms",
    "duststorm" : "Dust Storms",
    "icestorm" : "Ice Storms",
    "acidrain" : "Acid Rain",

    //FU Weather
    "ashstorm" : "Ash Storm",
    "biorain" : "Bio Rain",
    "bograin" : "Bio Rain",
    "bloodrain" : "Blood Rain",
    "crystalstorm" : "Crystal Storm",
    "crystalstormmajor" : "Severe Crystal Storm",
    "firestorm" : "Fire Storm",
    "freezestorm" : "Freeze Storm",
    "freezestormlesser" : "Lesser Freeze Storm",
    "freezestormminor" : "Minor Freeze Storm",
    "gravrain" : "Gravity Rain",
    "gravrainlight" : "Light Gravity Rain",
    "orangegravrain" : "Anti-Gravity Rain",
    "orangegravrainlight" : "Light Anti-Gravity Rain",
    "healingstorm" : "Healing Rain",
    "heavyrain" : "Torrential Rain",
    "staticcharge" : "Static Charge",
    "hurricane" : "Hurricane",
    "hurricaneelectric" : "Electric Storm",
    "hurricanefungal" : "Hurricane",
    "ironstorm" : "Molten Iron Storm",
    "magmastorm" : "Magma Storm",
    "magmastormgreater" : "Severe Magma Storm",
    "mistyrain" : "Misty Rain",
    "poptoprain" : "Organic Rain",
    "slimestorm" : "Slime Storm",
    "slimestormlesser" : "Weak Slime Storm",
    "sulphuricacidrain" : "Sulphuric Rain",
    "sulphurstorm" : "Sulphuric Storm",
    "sulphurstormlesser" : "Mild Sulphuric Storm",
    "sulphurstormsevere" : "Major Sulphuric Storm",
    "tarrain" : "Tar Rain",
    "fulightningrain" : "Rainy Lightning Storm",
    "fulightningrain2" : "Severe Rainy Lightning Storm",
    "fulightningstorm" : "Lightning Storm",
    "fulightningstorm2" : "Severe Lightning Storm",
    "gasgiantstorm" : "Dense Gas",
    "gasgiantstorm2" : "Super Dense Gas",
    "gasgiantstorm3" : "Impossibly Dense Gas",
    "fu_smog" : "Smog",
    "poisongasstorm" : "Poison Gas",
    "poisongasstorm2" : "Dense Poison Gas",
    "poisongasstorm3" : "Extreme Poison Gas",
    "fuearthquake" : "Earthquakes",
    "fuearthquakelesser" : "Minor Earthquakes",
    "fuearthquakesevere" : "Severe Earthquakes",
    "fububblerain" : "Bubble Rain",
    "fubuggy" : "Infested",
    "fupretty" : "Butterfly Migration",
    "fusuddenchill" : "Sudden Chill",
    "fusuddenchill2" : "Severe Chill",
    "fusuddenchill3" : "Extreme Chill",
    "fuheatblast" : "Heatwaves",
    "fuheatblast2" : "Severe Heatwaves",
    "fuheatblast3" : "Extreme Heatwaves",
    "thunderclaplesser" : "Rolling Thunder",
    "thunderclap" : "Thunderstorms",
    "thunderclapgreater" : "Severe Thunder",
    "fusparklejoy" : "Sparklejoy",
    "mountainmass" : "High-Mass Event",
    "cosmicblast" : "Cosmic Blasts",
    "darkblast" : "Dark Matter Blasts",
    "sulphuriccloud" : "Sulphuric Fog"
}
