{
  "action" : "actions",
  "list" : [
    {
      "action" : "explosion",
      "foregroundRadius" : 6,
      "backgroundRadius" : 3,
      "explosiveDamageAmount" : 20,
      "delaySteps" : 2,
      "harvestLevel" : 99
    },
	{
      "action" : "sound",
      "options" : [ "/sfx/gun/rocketblast1.ogg", "/sfx/gun/rocketblast2.ogg", "/sfx/gun/rocketblast3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "blue"
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.15,
      "type" : "plasmaboom"
    }
  ]
}
