{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "shoggothchompexplosion"
    },

    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast1.ogg", "/sfx/gun/grenadeblast2.ogg", "/sfx/gun/grenadeblast3.ogg" ]
    },

    {
      "action" : "explosion",
      "foregroundRadius" : 7,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 250,
      "delaySteps" : 2
    }

  ]
}
