{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.25,
      "type" : "lasernew"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/pulsecannon_blast1.ogg" ]
    },
    {
      "action" : "light",
      "color" : "red"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 1,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.05,
      "harvestLevel" : 99,
      "delaySteps" : 2
    }
  ]
}
