{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "cuteexplosionknockback"
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/cutefx/cutefx.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.6,
                "variance" : {
                  "timeToLive" : 0.15,
                  "position" : [2, 2],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/cutetrail/cutetrail1.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.2,
                "variance" : {
                  "position" : [2, 2],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            },
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/cutetrail/cutetrail2.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.2,
                "variance" : {
                  "position" : [2, 2],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "ember",
                "size" : 1.0,
                "color" : [255, 180, 255, 255],
                "fade" : 0.9,
                "initialVelocity" : [0, 0],
                "finalVelocity" : [0, 0],
                "approach" : [20, 20],
                "destructionTime" : 0.8,
                "layer" : "back",
                "variance" : {
                  "finalVelocity" : [1.5, 1.5],
                  "position" : [1, 1],
                  "size" : 0.5
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast_electric1.ogg", "/sfx/gun/grenadeblast_electric2.ogg", "/sfx/gun/grenadeblast_electric3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "magenta"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }

  ]
}
