{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/icons/fu_furnaceHeader.png",
      "fileBody" : "/interface/crafting/icons/fu_furnaceBody.png",
      "fileFooter" : "/interface/crafting/icons/fu_furnaceFooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      "position" : [145, 80]
    },
    "itemGrid" : {
      "type" : "itemgrid",
	  /// [ horiz, verti ]
      "position" : [5, 32],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "slotOffset" : 1,
      "position" : [27, 32],
      "dimensions" : [7, 2],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "clear" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Take all",
      "position" : [86, 12]
    }
  }
}
