{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Manaticon ", "Rotik ", "Callox ", "Graxus ", "Xia-Li ", "Shade Co. ", "Necrolix ", "Teklacki " ],
      [ { "mode" : "alts" }, "Star", "Impact", "Psi", "Riot", "Skull", "Tsunami", "Force", "Galaxy", "Wave", "Moon", "Talon", "Focus", "Nexus", "Luna", "Poly", "Pixel", "Terra", "Solar", "Storm", "Planet", "Perfect", "Soul", "Heart", "Mountain", "Terror", "Nebula", "Nimbus", "Celestial", "Sky", "Ocean", "Ether", "Reality", "Matter", "Light", "Void", "Fusion", "Phase", "Dawn", "Dusk", "Flux", "Cyclone", "Atomic", "Astral", "Comet", "Warden", "Howl", "Pulse" ],
      [ { "mode" : "alts" }, "stabber", "wacker", "stick", "poker", "sticker", "thumper", "bonker", "wumper", "arm"]
    ]
  ]
}
