{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.0,
      "type" : "gravexplosion2"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 1.4,
      "delaySteps" : 2
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/weapons/gravitongun.ogg" ]
    },
    {
      "action" : "projectile",
      "type" : "gravitonorbsmall4",
      "fuzzAngle" : 0,
      "inheritDamageFactor" : 0.02,
      "angleAdjust" : 35
    },
    {
      "action" : "projectile",
      "type" : "gravitonorbsmall4",
      "fuzzAngle" : 0,
      "inheritDamageFactor" : 0.02,
      "angleAdjust" : -35
    },
    {
      "action" : "projectile",
      "type" : "gravitonorbsmall4",
      "fuzzAngle" : 0,
      "inheritDamageFactor" : 0.02,
      "angleAdjust" : 90
    },     
    {
      "action" : "projectile",
      "type" : "gravitonorbsmall4",
      "fuzzAngle" : 0,
      "inheritDamageFactor" : 0.02,
      "angleAdjust" : -90
    },
    {
      "action" : "projectile",
      "type" : "gravitonorbsmall4",
      "fuzzAngle" : 0,
      "inheritDamageFactor" : 0.02,
      "angleAdjust" : 180
    },     
    {
      "action" : "projectile",
      "type" : "gravitonorbsmall4",
      "fuzzAngle" : 0,
      "inheritDamageFactor" : 0.02,
      "angleAdjust" : -180
    },     
    {
      "action" : "projectile",
      "type" : "gravitonorbsmall4",
      "fuzzAngle" : 0,
      "inheritDamageFactor" : 0.02,
      "angleAdjust" : 120
    },     
    {
      "action" : "projectile",
      "type" : "gravitonorbsmall4",
      "fuzzAngle" : 0,
      "inheritDamageFactor" : 0.02,
      "angleAdjust" : -120
    },     
    {
      "action" : "projectile",
      "type" : "gravitonorbsmall4",
      "fuzzAngle" : 0,
      "inheritDamageFactor" : 0.02,
      "angleAdjust" : 60
    },     
    {
      "action" : "projectile",
      "type" : "gravitonorbsmall4",
      "fuzzAngle" : 0,
      "inheritDamageFactor" : 0.02,
      "angleAdjust" : -60
    } 
  ]
}
