{
	"GUI" : {
		"noError" : false,
		"canvas" : null,

		"title" : "S.A.I.L",
		"subtitle" : "Ship-based Artificial Intelligence Lattice",
		"titleIcon" : "/interface/ai/AIicon.png",

		"missionViewing" : "main",
		"dismissConfirmDelay" : 1,
		"dismissConfirmTimer" : 0,
		"crewRequestDelay" : 0.5,
		"crewRequestTimer" : 0,
		"customDataUpdateCooldown" : 0.1,
		"customDataUpdateTimer" : 0,

		"talker" : {
			"imagePath" : "",
			"displayImage" : "",
			"emote" : "talk",

			"frame" : 0,
			"frameTimer" : 0,
			"speedModifier" : 1,
			"defaultAnimation": "idle",
			"defaultAnimationCycle" : 3,
			"charactersPerSecond" : 45,

			"animations" : {
				"idle": {
					"frames": "<image>:idle.<index>",
					"mode": "loopForever",
					"frameNumber": 21,
					"animationCycle": 3
				},

				"blink": {
					"frames": "<image>:blink",
					"mode": "stop",
					"frameNumber": 1
				},

				"talk": {
					"frames": "<image>:talk.<index>",
					"mode": "loopForever",
					"frameNumber": 2,
					"animationCycle": 0.5
				},

				"yell": {
					"frames": "<image>:yell.<index>",
					"mode": "loopForever",
					"frameNumber": 2,
					"animationCycle": 0.5
				},

				"refuse": {
					"frames": "<image>:refuse.<index>",
					"mode": "loopForever",
					"frameNumber": 8
				},

				"unique": {
					"frames": "<image>:unique.<index>",
					"mode": "loopForever",
					"frameNumber": 8
				}
			}
		},

		"scanLines" : {
			"image" : "/ai/scanlines.png",
			"frame" : 0,
			"opacity" : 0.5,
			"maxFrames" : 14,
			"frameDelay" : 0.02,
			"frameTimer" : 0
		},

		"static" : {
			"image" : "/ai/staticApex.png",
			"frame" : 0,
			"opacity" : 0.2,
			"maxFrames" : 4
		},

		"list" : {
			"viewing" : null,
			"updateInterval" : 0.2,
			"updateTimer" : 0
		}
	},

	"Data" : {
		"missionWorld" : null,
		"crew" : null,
		"crewPromise" : null,
		"selectedCrewID" : null,

		"missions" : {
			// Split into two tables, one for main, and one for secondary. No difference between the two other than spliting the list up a bit.
			// structure is [ mission file name, quest ]
			// or			[ mission file name, [ quest1, quest2 ] ]
			// Quest is used to identify if the player has access to the mission and if they completed it

			"main" : [
				["/ai/missionhuman1.aimission", "human_mission1"],
				["/ai/missionfloran1.aimission", "floran_mission2"],
				["/ai/missionhylotl1.aimission", "hylotl_mission2"],
				["/ai/missionavian1.aimission", "avian_mission2"],
				["/ai/missionglitch1.aimission", "glitch_mission2"],
				["/ai/missionapex1.aimission", "apex_mission2"],
				["/ai/missioncultist1.aimission", ["cultist_mission1","fu_asraNoxSailFix"]],
				["/ai/precursordungeon.aimission", "precursor_unlock"],
				["/ai/shoggothmission.aimission", "shoggoth_unlocknew"],
				["/ai/fu_outpost.aimission", "fu_outpost"],
				["/ai/scienceoutpostfu.aimission", "fu_scienceoutpost"],
				["/ai/ue_testinggrounds.aimission", "ue_testinggrounds"],
        ["/ai/ue_eventhubworld.aimission", "ue_eventhubworld"]
			],

			"secondary" : [
				["/ai/missionpenguin1.aimission", ["penguin1", "scienceoutpost_boss1"]],
				["/ai/missionpenguin2.aimission", "penguin2"],
				["/ai/alienjungle.aimission", "alienjungle.gearup"],
				["/ai/ancienttemple.aimission", "ancienttemple.gearup"],
				["/ai/avianhydro.aimission", "avianhydro.gearup"],
				["/ai/evernight.aimission", "evernight.gearup"],
				["/ai/forestoffae.aimission", "forestoffae.gearup"],
				["/ai/grandarena.aimission", "grandarena.gearup"],
				["/ai/infiltration.aimission", "infiltration.gearup"],
				["/ai/japaneseruins.aimission", "japaneseruins.gearup"],
				["/ai/letheiafacility.aimission", "letheiafacility.gearup"],
				["/ai/lethialabs.aimission", "lethialabs.gearup"],
				["/ai/magickaforest.aimission", "magickaforest.gearup"],
				["/ai/pavillion.aimission", "pavillion.gearup"],
				["/ai/penguinhighway.aimission", "penguinhighway.gearup"],
				["/ai/skytemple.aimission", "skytemple.gearup"],
				["/ai/snowcrash.aimission", "snowcrash.gearup"],
				["/ai/sunsetriders.aimission", "sunsetriders.gearup"],
				["/ai/towerinvincible.aimission", "towerinvincible.gearup"],
				["/ai/verdantruins.aimission", "verdantruins.gearup"],
				["/ai/jyinkumission.aimission", "jyinquest6"],
				["/ai/cathedral.aimission", "gyrusenquest3"],
				["/ai/cathedral.aimission", "gyrusenquest3a"],
				["/ai/greckancapital.aimission", "greckancity1"],
				["/ai/missionxsm_merchant.aimission", "xsm_merchantlocation_2"],
				["/ai/ue_loyalisttrainingfacility.aimission", "ue_loyalisttrainingfacility"],
				["/ai/thefrontline.aimission", "thefrontline"],
				["/ai/thefrontlinecity.aimission", "thefrontlinecity"],
				["/ai/ue_fantesar_arena.aimission", "ue_fantesar_arena"],
				["/ai/ue_marsdesert_campaign.aimission", "ue_marsdesert_campaign"],
				["/ai/ue_leedscharge_campaign.aimission", "ue_leedscharge_campaign"],
				["/ai/ue_powertrain_campaign.aimission", "ue_powertrain_campaign"],
				["/ai/ue_luftbrenner_endless.aimission", "ue_luftbrenner_endless"],
				["/ai/ue_halloween2017.aimission", "ue_halloween2017"],
				["/ai/missionisolatedvault.aimission", "missionisolatedvault"],
				["/ai/cyberfacility.aimission", "cyberfacility"],
				["/ai/missionoutpost.aimission", "missionoutpost"],
				["/ai/novakidoutpost.aimission", "novakidoutpost"],
				["/ai/ruinseedmission.aimission", "ruinseedmission"]
			]
		},

		"misc" : [
			[ "externalscript", "^#e43774;[FR]^reset; Player Bonuses (%%status.statusProperty(\"fr_enabled\")%%)", "/interface/crafting/tabicon_switches.png", "/zb/newSail/fr_toggleFunction.lua", "FR_toggleEffects"],
			[ "externalscript", "^cyan;[FU]^reset; BYOS Atmosphere (%%world.getProperty(\"fu_byos.newAtmosphereSystem\")%%)", "/interface/crafting/tabicon_switches.png", "/zb/newSail/fu_customFunctions.lua", "fu_toggleAtmosphereMode"],
			[ "externalscript", "^cyan;[FU]^reset; Configure Ship Pet", "/interface/crafting/tabicon_switches.png", "/zb/newSail/fu_customFunctions.lua", "fu_configureShipPet"],
			[ "ScriptPane", "^cyan;[FU]^reset; Character Status", "/interface/inspect.png", "/interface/scripted/statWindow/statWindow.config" ],
			[ "ScriptPane", "^orange;[ZB]^reset; Update Window", "/interface/quest.png", "/zb/updateInfoWindow/updateInfoWindow.config" ],
			[ "ScriptPane", "^orange;[ZB]^reset; Quest List", "/interface/quest.png", "/zb/questList/questList.config" ],
			[ "ScriptPane", "^orange;[ZB]^reset; Research Tree", "/zb/newSail/researchTree.png", "/zb/researchTree/researchTree.config" ],
			[ "externalscript", "^orange;[ZB]^reset; Custom SAIL Info", "/interface/codex.png", "/zb/newSail/zb_customFunctions.lua", "zb_sailInfo" ],
			[ "OpenAiInterface", "Vanilla SAIL", "/zb/newSail/vanillaAI.png" ]
		],

		"miscAdmin" : [
			//[ "externalscript", "Skip Start Helper", "/interface/craftingbutton.png", "/zb/newSail/zb_customFunctions.lua", "zb_skipStarterCrap" ]//disabling until someone fixes it properly.
			[ "externalscript", "[Admin] Clear Statuses", "/interface/craftingbutton.png", "/zb/newSail/fu_customFunctions.lua", "fu_crashberry" ]
		]
	},

	"Speech" : {
		"noMissionsSpeech": {
			"animation": "refuse",
			"text": "No mission co-ordinates currently available.",
			"speedModifier": 0.7
		},

		"noCrewSpeech": {
			"animation": "refuse",
			"text": "You are the only registered crew member of this ship.\nRecruiting additional crew members may allow for increased operational efficiency.",
			"speedModifier": 0.7
		},

		"noStoredCrewSpeech": {
			"animation": "refuse",
			"text": "There are currently no inactive crew members. Crew members become inactive if the the amount of active crew exceeds the amount of crew you can hold.",
			"speedModifier": 0.7
		},

		"shipStatus": {
			"0": {
				"animation": "unique",
				"text": "Zzz... Zzz... Zzz...",
				"speedModifier": 0.7
			},
			"1": {
				"animation": "talk",
				"text": "> Ship thrusters are currently offline.\n> Ship teleportation system functioning correctly.\n> ^green;Currently only the planet below is accessible.",
				"speedModifier": 0.7
			},
			"2": {
				"animation": "talk",
				"text": "> Ship thrusters are online.\n> Ship teleportation system functioning correctly.\n> ^green;Planets within this star system are accessible.",
				"speedModifier": 0.7
			},
			"3": {
				"animation": "talk",
				"text": "> Ship thrusters are online.\n> FTL drive is online.\n> Ship teleportation system functioning correctly.\n> ^green;The entire universe is accessible.",
				"speedModifier": 0.7
			}
		}
	},

	"TextData" : {
		"sound" : "/sfx/interface/aichatter1.ogg",
		"volume" : 1,
		"strings" : {
			"error" : "An error has occured. Please report this on the Steam page or Discord server with a log attached. ^green;If the error message below is green, you should pay attention to it.^reset;\n\nMeanwhile, you can click any of the buttons to open the vanilla version of SAIL.",
			"buttonError" : "^red;ERROR:^reset;\nNo button was pressed, but the function for it was called.\nPlease report how you achieved this on the Steam page or Discord server, and try clicking the button again.",
			"promiseError" : "customDataPromise failed - Incompatible or faulty SAIL object definition. Please contact the modder who made your current race about a fault in their techStation object definition.",
			"intro" : "Welcome to S.A.I.L.\nUsing this interface, you can check the ships status, view your currencies (^green;[BALANCE]^reset;), access missions(^green;[MISSIONS]^reset;), view your crew(^green;[CREW]^reset;), and access a handful of other useful features (^green;[MISC]^reset;).",
			"noCustomAIMod" : "^red;ERROR:^reset;\nMissing the '^green;Scripted Artificial Intelligence Lattice^reset;' mod.\nPlease install it if you wish to use this feature.",
			"customAI" : "Insert A.I. chips in the slots below to customize the A.I.\nClick the '^green;CRAFT^reset;' button to open the A.I. chip crafting menu."
		},
		"currencies" : {
			"main" : "Main",
			"fu_tradegoods" : "Trade Goods",
			"fu_research" : "Research",
			"unsorted" : "Unsorted"
		}
	}
}
