{
	"gui" : {
		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [0, 0],
			"position" : [240, 185]
		},

		"windowIcon" : {
			"type" : "image",
			"file": "/assetmissing.png",
			"position" : [2, 176]
		},

		"windowTitle" : {
			"type" : "label",
			"position" : [28, 197],
			"vAnchor" : "top",
			"value" : ""
		},

		"windowSubtitle" : {
			"type" : "label",
			"position" : [28, 178],
			"value" : ""
		},

		"background" : {
			"type" : "background",
			"fileHeader" : "/zb/newSail/header.png",
			"fileBody" : "/zb/newSail/body.png",
			"fileFooter" : "/zb/newSail/footer.png"
		},

		"buttonMain" : {
			"type" : "button",
			"base" : "/zb/newSail/buttonMain.png:default",
			"hover" : "/zb/newSail/buttonMain.png:hover",
			"pressed" : "/zb/newSail/buttonMain.png:pressed",
			"position" : [8, 65],
			"pressedOffset" : [0, 0],
			"caption" : "BALANCE",
			"callback" : "buttonMain"
		},

		"buttonMissions" : {
			"type" : "button",
			"base" : "/zb/newSail/buttonMain.png:default",
			"hover" : "/zb/newSail/buttonMain.png:hover",
			"pressed" : "/zb/newSail/buttonMain.png:pressed",
			"position" : [8, 50],
			"pressedOffset" : [0, 0],
			"caption" : "MISSIONS",
			"callback" : "buttonMain"
		},

		"buttonCrew" : {
			"type" : "button",
			"base" : "/zb/newSail/buttonMain.png:default",
			"hover" : "/zb/newSail/buttonMain.png:hover",
			"pressed" : "/zb/newSail/buttonMain.png:pressed",
			"position" : [8, 35],
			"pressedOffset" : [0, 0],
			"caption" : "CREW",
			"callback" : "buttonMain"
		},

		"buttonMisc" : {
			"type" : "button",
			"base" : "/zb/newSail/buttonMain.png:default",
			"hover" : "/zb/newSail/buttonMain.png:hover",
			"pressed" : "/zb/newSail/buttonMain.png:pressed",
			"position" : [8, 20],
			"pressedOffset" : [0, 0],
			"caption" : "MISC.",
			"callback" : "buttonMain"
		},

		"aiFaceCanvas" : {
			"type" : "canvas",
			"rect" : [6, 78, 95, 172]
		},

		"path" : {
			"type" : "label",
			"position" : [103, 162],
			"wrapWidth" : 138,
			"fontSize" : 6,
			"value" : "root/sail/ui/intro"
		},

		"aiDataItemSlot1" : {
			"type" : "itemslot",
			"visible" : false,
			"position" : [128, 56],
			"backingImage" : "/interface/actionbar/actionbarcover.png",
			"callback" : "aiDataItemSlotInput",
			"rightClickCallback" : "null"
		},

		"aiDataItemSlot2" : {
			"type" : "itemslot",
			"visible" : false,
			"position" : [160, 56],
			"backingImage" : "/interface/actionbar/actionbarcover.png",
			"callback" : "aiDataItemSlotInput",
			"rightClickCallback" : "null"
		},

		"aiDataItemSlot3" : {
			"type" : "itemslot",
			"visible" : false,
			"position" : [192, 56],
			"backingImage" : "/interface/actionbar/actionbarcover.png",
			"callback" : "aiDataItemSlotInput",
			"rightClickCallback" : "null"
		},

		"root" : {
			"type" : "scrollArea",
			"rect" : [101, 22, 245, 158],
			"children" : {
				"text" : {
					"type" : "label",
					"position" : [3, 0],
					"wrapWidth" : 128,
					"fontSize" : 7,
					"vAnchor" : "top",
					"value" : ""
				},

				"currencyList" : {
					"type" : "list",
					"schema" : {
						"selectedBG" : "/zb/newSail/listCurrency.png",
						"unselectedBG" : "/zb/newSail/listCurrency.png",
						"spacing" : [0, 1],
						"memberSize" : [134, 20],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/zb/newSail/listCurrency.png",
								"position" : [0, 0],
								"zlevel" : -1
							},
							"item1" : {
								"type" : "itemslot",
								"position" : [1, 1],
								"callback" : "null"
							},
							"item2" : {
								"type" : "itemslot",
								"position" : [68, 1],
								"callback" : "null"
							},

							"amount1" : {
								"type" : "label",
								"position" : [63, 1],
								"hAnchor" : "right",
								"value" : ""
							},
							"amount2" : {
								"type" : "label",
								"position" : [130, 1],
								"hAnchor" : "right",
								"value" : ""
							},
							"title" : {
								"type" : "label",
								"visible" : false,
								"position" : [67, 2],
								"hAnchor" : "mid",
								"value" : ""
							},
							"titleBG" : {
								"type" : "image",
								"visible" : false,
								"file" : "/zb/newSail/listMissionReplay.png",
								"position" : [0, 0],
								"zlevel" : -1
							}
						}
					}
				},

				"missionList" : {
					"type" : "list",
					"callback" : "missionSelected",
					"schema" : {
						"selectedBG" : "/zb/newSail/listMission.png",
						"unselectedBG" : "/zb/newSail/listMission.png",
						"spacing" : [0, 1],
						"memberSize" : [134, 20],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/zb/newSail/listMission.png",
								"position" : [0, 0],
								"zlevel" : -1
							},
							"iconBG" : {
								"type" : "image",
								"position" : [1, 1],
								"file" : "/zb/newSail/missionIconBG.png"
							},
							"icon" : {
								"type" : "image",
								"position" : [3, 3],
								"file" : "/assetmissing.png"
							},
							"title" : {
								"type" : "label",
								"position" : [25, 2],
								"fontSize" : 7,
								"value" : ""
							},
							"replayBG" : {
								"type" : "image",
								"visible" : false,
								"file" : "/zb/newSail/listMissionReplay.png",
								"position" : [0, 0],
								"zlevel" : -1
							},
							"replayLabel" : {
								"type" : "label",
								"visible" : false,
								"position" : [67, 6],
								"hAnchor" : "mid",
								"vAnchor" : "mid",
								"fontSize" : 8,
								"value" : "REPLAYS"
							},
							"pseudobutton" : {
								"type" : "button",
								"base" : "/zb/newSail/listMissionButton.png:invisible",
								"hover" : "/zb/newSail/listMissionButton.png:visible",
								"pressed" : "/zb/newSail/listMissionButton.png:visible",
								"disabledImage" : "/zb/newSail/listMissionButton.png:invisible",
								"zlevel" : 1,
								"position" : [0, 0],
								"pressedOffset" : [0, 0],
								"callback" : "null"
							}
						}
					}
				},

				"crewList" : {
					"type" : "list",
					"callback" : "crewSelected",
					"schema" : {
						"selectedBG" : "/zb/newSail/listMission.png",
						"unselectedBG" : "/zb/newSail/listMission.png",
						"spacing" : [0, 1],
						"memberSize" : [134, 20],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/zb/newSail/listMission.png",
								"position" : [0, 0],
								"zlevel" : -1
							},
							"portraitBG" : {
								"type" : "image",
								"position" : [1, 1],
								"file" : "/zb/newSail/missionIconBG.png"
							},
							"portraitCanvas" : {
								"type" : "canvas",
								"rect" : [3, 3, 17, 17]
							},
							"name" : {
								"type" : "label",
								"position" : [25, 2],
								"fontSize" : 7,
								"value" : ""
							},
							"pseudobutton" : {
								"type" : "button",
								"base" : "/zb/newSail/listMissionButton.png:invisible",
								"hover" : "/zb/newSail/listMissionButton.png:visible",
								"pressed" : "/zb/newSail/listMissionButton.png:visible",
								"disabledImage" : "/zb/newSail/listMissionButton.png:invisible",
								"zlevel" : 1,
								"position" : [0, 0],
								"pressedOffset" : [0, 0],
								"callback" : "null"
							}
						}
					}
				},

				"miscList" : {
					"type" : "list",
					"callback" : "miscSelected",
					"schema" : {
						"selectedBG" : "/zb/newSail/listMission.png",
						"unselectedBG" : "/zb/newSail/listMission.png",
						"spacing" : [0, 1],
						"memberSize" : [134, 20],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/zb/newSail/listMission.png",
								"position" : [0, 0],
								"zlevel" : -1
							},
							"icon" : {
								"type" : "image",
								"position" : [1, 1],
								"file" : "/zb/newSail/missionIconBG.png"
							},
							"name" : {
								"type" : "label",
								"position" : [25, 2],
								"fontSize" : 7,
								"value" : ""
							},
							"pseudobutton" : {
								"type" : "button",
								"base" : "/zb/newSail/listMissionButton.png:invisible",
								"hover" : "/zb/newSail/listMissionButton.png:visible",
								"pressed" : "/zb/newSail/listMissionButton.png:visible",
								"disabledImage" : "/zb/newSail/listMissionButton.png:invisible",
								"zlevel" : 1,
								"position" : [0, 0],
								"pressedOffset" : [0, 0],
								"callback" : "null"
							}
						}
					}
				}
			}
		},

		"switchMissionMain" : {
			"type" : "button",
			"visible" : false,
			"base" : "/zb/newSail/buttonMissionsMain.png:default",
			"hover" : "/zb/newSail/buttonMissionsMain.png:hover",
			"pressed" : "/zb/newSail/buttonMissionsMain.png:hover",
			"disabledImage" : "/zb/newSail/buttonMissionsMain.png:disabled",
			"position" : [99, 139],
			"pressedOffset" : [0, 0],
			"zlevel" : 2,
			"caption" : "^white;PRIMARY^reset;",
			"callback" : "buttonMain"
		},

		"switchMissionSecondary" : {
			"type" : "button",
			"visible" : false,
			"base" : "/zb/newSail/buttonMissionsSecondary.png:default",
			"hover" : "/zb/newSail/buttonMissionsSecondary.png:hover",
			"pressed" : "/zb/newSail/buttonMissionsSecondary.png:hover",
			"disabledImage" : "/zb/newSail/buttonMissionsSecondary.png:disabled",
			"position" : [167, 139],
			"pressedOffset" : [0, 0],
			"zlevel" : 2,
			"caption" : "^white;SECONDARY^reset;",
			"callback" : "buttonMain"
		},

		"buttonScreenRight" : {
			"type" : "button",
			"visible" : false,
			"base" : "/zb/newSail/buttonScreenRight.png:default",
			"hover" : "/zb/newSail/buttonScreenRight.png:hover",
			"pressed" : "/zb/newSail/buttonScreenRight.png:hover",
			"disabledImage" : "/zb/newSail/buttonScreenRight.png:disabled",
			"position" : [194, 21],
			"pressedOffset" : [0, 0],
			"zlevel" : 3,
			"caption" : " GO! >",
			"callback" : "buttonMain"
		},

		"buttonScreenLeft" : {
			"type" : "button",
			"visible" : false,
			"base" : "/zb/newSail/buttonScreenLeft.png:default",
			"hover" : "/zb/newSail/buttonScreenLeft.png:hover",
			"pressed" : "/zb/newSail/buttonScreenLeft.png:hover",
			"position" : [100, 21],
			"pressedOffset" : [0, 0],
			"zlevel" : 3,
			"caption" : "< BACK",
			"callback" : "buttonMain"
		}
	},

	"canvasKeyCallbacks" : { },
	"canvasClickCallbacks" : { },
	"scriptWidgetCallbacks" : [ "buttonMain", "missionSelected", "crewSelected", "miscSelected", "aiDataItemSlotInput" ],

	"scripts" : ["/zb/newSail/newSail.lua"],
	"scriptDelta" : 1
}