{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/objectcrafting/campfire_header.png",
      "fileBody" : "/objects/power/fu_upgrade/lillupgrader_body2.png",
      "fileFooter" : "/interface/objectcrafting/campfire_footer.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [18, 73],
      "dimensions" : [5, 1],
      "spacing" : [24, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [42, 101],
      "slotOffset" : 5,
      "dimensions" : [3, 1],
      "spacing" : [24, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "position" : [42, 45],
      "slotOffset" : 8,
      "dimensions" : [2, 1],
      "spacing" : [48, 19],
      "backingImage" : "/interface/inventory/empty.png"
    }
  }
}
