{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.3,
      "type" : "lobberexplosion"
    },  
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/goo_spit2.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.0,
      "delaySteps" : 2
    }

  ]
}
