#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

#Sublime-Projects
*.sublime-project
*.sublime-workspace

# Recycle Bin used on file shares
$RECYCLE.BIN/`

# Mac crap
.DS_Store
*.RENBEAR
celestial.config.patch.NNNNNNOPE
*.bak
objects/alveary/normalalveary.old.lua
objects/fu_watcher/fu_watcher.zip
