{
	"credits" : "

Contributors, staff, retired staff, and featured mods:

- AbsoluteXeroEX
- Aegonian
- Aelfgifu
- alberto-rota
- Alu
- Amee102
- amirmiked12
- Ashey
- AsPerrUsual / rare_candy_bracelet
- Auren
- Bam300
- Beitol
- bk3k
- C'thulu Reformed
- C0bra5
- Cactaur
- CariTheKitty
- cat2002
- Cat Face
- Cgeta
- Chris1497
- Common_fruit
- CrimzonWolf777
- Crowcrew
- CrypticXenon
- Cthulhu Reforged
- DarkPursuer
- Darth Biomech
- dasmole
- Dekadrachm
- Dilrax
- Djinn
- Dleowolf
- DoctorM64
- Dracyoshi
- dragonrod342
- DraLUSAD
- DubShoe
- Duskitty
- Endertrot
- Endertrot
- FDAVILOKA
- Firel
- Fractil
- Frann
- Gainem
- Gamzam
- Gezbo
- Gigabit
- GoreFly
- Green
- Grim
- GTG3000
- Guidez
- Guidez
- HALLEYSHURA
- Hatsya Souji
- Hayden
- Hellession
- Hieru-chan
- Hubnester
- Hullaballoonatic
- hullabaloonatic
- Hydro
- IHart
- iMisterX
- Immirik
- Imri
- Inny
- Iris Blanche
- Iroaseta
- I Said No / Gay Monster Dad
- Izuna
- Jaxine
- Jorhlok
- Jotunbane
- Jude
- Junosato
- Jzpelaez
- Karyuu_no_Tsume
- Katorone
- Kherae
- Kherae
- kingofcrows
- KinkyBlueBastard
- kitikira
- kokorogensou
- Koritastic
- Kreon the Insane
- Leon
- Le Poisson
- LimitedListener
- Llarys
- loudwhitenoise
- Lunchghost
- Mackinz
- Mad Jack
- marac008
- Mika
- Mikenno
- MinHui12G
- missandri
- MissMarifire
- Moonlit Comet
- Mr.Pigeon
- MShadowy
- Nebulox
- NeWeeGee
- NiKiNiT
- NotMrFlibble
- NotMrFlibble
- OCRemix.org
- ohgoditburns
- Omega
- Opaque
- Orbyter
- Osoreshi
- O^O
- Peter Crowley
- phail/thephail
- Pizzacat
- PParrot
- quiksilver / ThatThunderCookie
- Ramagno
- Renbear
- Retoid
- Robur Velvetclaw
- RockCat
- RockCat
- Rylasasin
- RyuujinZERO
- Sacre
- Sad Loser
- Sam Dillard
- santiago
- SentientCookie
- SentientSupper
- Sepredia
- shadow_absorber
- Sheeplord
- Shinigami Apples
- Shreddys
- Silvertip
- Sinful Creature
- sistergrace
- Skies912
- Sky
- Slugbait
- SquidSalsa
- steelndirt
- Storm_UK
- Streema
- SubmarineKnight
- SupaCURE
- SuperMandrew
- SysraMusic
- tamamo89/Kanako Katsura
- TanzNukeTerror
- tcst013
- Terminal
- TheAdmiral
- TheBigBlueSerpent
- TheBlueLeafeon
- thegamemaster1234
- The Observer
- ThunderBird123
- timaeus222
- TimothyWiggins127
- Tommey Lee
- Tori
- TotalBlazing
- TP
- tynaut
- Unsubreddun
- Uxie
- Vagak
- Vagak
- Valo
- Vetpetmon
- Vincent
- Vinderex
- Wannas
- Wartavian
- WatcherCCG
- WLerin
- Xan
- Xel
- Xelaxon
- Xondaii
- Yako (Kirhos)
- YAMEROOOOO
- Ycar
- Zebub
- zimberzimber
- zircon
- ZomberZamber

If you are among those with content in FU and do not have attribution here, do not hesitate to contact us and we'll get you properly mentioned.

"
}
