{
	"credits" : "

Contributors, staff, ex-staff, and featured mods:

- shadow_absorber
- Renbear
- Vincent
- tamamo89/Kanako Katsura
- thegamemaster1234
- Sacre
- zimberzimber
- hullabaloonatic
- Gainem
- Moonlit Comet
- CariTheKitty
- WatcherCCG
- Le Poisson
- cat2002
- NotMrFlibble
- Xelaxon
- Kherae
- GoreFly
- Guidez
- PParrot
- Hubnester
- RockCat
- WLerin
- Alu
- MinHui12G
- Aelfgifu
- Tori
- Hullaballoonatic
- TimothyWiggins127
- phail/thephail
- NotMrFlibble
- Green
- Kherae
- Hatsya Souji
- Inny
- C0bra5
- Lunchghost
- DarkPursuer
- Endertrot
- The Observer
- Duskitty
- Koritastic
- Frann
- Nebulox
- Vagak
- tcst013
- Gezbo
- DubShoe
- Mikenno
- SquidSalsa
- Hayden
- Pizzacat
- Katorone
- dasmole 
- Orbyter
- SuperMandrew
- SubmarineKnight
- MissMarifire
- GTG3000
- Tommey Lee
- NeWeeGee
- Vinderex
- Jzpelaez
- Terminal
- Mika
- sistergrace
- Endertrot
- Imri
- Aegonian
- ThunderBird123
- NiKiNiT
- missandri
- Llarys
- Mad Jack
- DraLUSAD 
- kokorogensou
- IHart
- Jorhlok 
- kitikira 
- Wartavian
- Cgeta
- Amee102
- RyuujinZERO
- alberto-rota
- Valo
- Skies912
- Mackinz
- Osoreshi
- santiago
- ohgoditburns
- Storm_UK
- Grim
- Dleowolf
- steelndirt
- kingofcrows
- Junosato
- KinkyBlueBastard
- Gamzam
- Common_fruit
- CrypticXenon
- Hydro
- Darth Biomech
- Izuna
- YAMEROOOOO
- Iris Blanche
- Slugbait
- RockCat
- Leon
- Dracyoshi
- Retoid
- Sheeplord
- Uxie
- Ashey
- Chris1497
- Cactaur
- Djinn
- Dekadrachm
- Auren
- bk3k
- Sinful Creature
- I Said No / Gay Monster Dad
- TP
- tynaut
- Unsubreddun
- Dilrax
- marac008
- TheBigBlueSerpent
- quiksilver / ThatThunderCookie
- Omega
- DoctorM64 
- Ramagno 
- SentientSupper
- SentientCookie
- Shreddys
- Immirik
- LimitedListener
- SupaCURE 
- Peter Crowley 
- Gigabit
- Cat Face
- amirmiked12
- Kreon the Insane
- Sky
- Shinigami Apples
- C'thulu Reformed
- Crowcrew
- Xel
- Hieru-chan
- Vagak
- Ycar
- TotalBlazing
- Yako (Kirhos)
- Fractil
- OCRemix.org
- Sam Dillard
- CrimzonWolf777
- zircon
- timaeus222
- Vetpetmon
- Karyuu_no_Tsume
- Sad Loser
- ZomberZamber
- Guidez

If you are among those with content in FU and do not have attribution here, do not hesitate to contact us and we'll get you properly mentioned.

"
}