{
	"credits" : "

Contributors, staff, ex-staff, and featured mods:

- shadow_absorber
- Renbear
- Vincent
- tamamo89
- thegamemaster1234
- Sacre
- zimberzimber
- hullabaloonatic
- Gainem
- Moonlit Comet
- CariTheKitty
- WatcherCCG
- Le Poisson
- cat2002
- NotMrFlibble
- Xelaxon
- Kherae
- GoreFly
- Guidez
- Hullaballoonatic
- TimothyWiggins127
- phail
- NotMrFlibble
- Green
- Kherae
- Hatsya Souji
- Inny
- Tamamo
- Lunchghost
- DarkPursuer
- The Observer
- Duskitty
- Koritastic
- Frann
- tcst013
- DubShoe
- Mikenno
- Hayden
- Pizzacat
- dasmole 
- Orbyter
- SuperMandrew
- MissMarifire
- GTG3000
- Tommey Lee
- NeWeeGee
- Vinderex
- Imri
- Aegonian
- ThunderBird123
- NiKiNiT
- missandri
- DraLUSAD 
- IHart
- Jorhlok 
- kitikira 
- Cgeta
- Amee102
- RyuujinZERO
- alberto-rota
- Mackinz
- Osoreshi
- santiago
- ohgoditburns
- Storm_UK
- Grim
- Dleowolf
- steelndirt
- kingofcrows
- Junosato
- KinkyBlueBastard
- Gamzam
- Common_fruit
- CrypticXenon
- Hydro
- Darth Biomech
- Izuna
- YAMEROOOOO
- Slugbait
- RockCat
- Leon
- Dracyoshi
- Retoid
- Sheeplord
- Uxie
- Ashey
- Chris1497
- Cactaur
- Djinn
- Dekadrachm
- Auren
- bk3k
- I Said No / Gay Monster Dad
- TP
- tynaut
- Unsubreddun
- Dilrax
- marac008
- TheBigBlueSerpent
- quiksilver / ThatThunderCookie
- Omega
- DoctorM64 
- Ramagno 
- SentientSupper
- SupaCURE 
- Peter Crowley 
- Cat Face

And many others who've contributed one way or another, or had their mods featured in FU.
While most of the content is my own, their own content is also included in various areas.
So thank you all, FU wouldn't have been what it is today without you!

"
}