{
	"version" : "5.6.402",
	"changelog" : "

______________________________________________
  ^cyan;New in version 5.6.403^reset;
  
  -- Bees --
  * Each bee type has different movement rates and behavioral adjustments, which should make things more interesting when hunting them down
  * Basic Microscope re-sprited
  * Basic Microscope recipe updated
  * Larval Queens can be extracted for resources
  * Apiaries are now item network capable again. (Kherae)
  
  -- Crafting --
  * the Electron Microscope is now crafted in the Matter Assembler 
  
  -- Gear --
  * Improved performance on Beam Rifle projectiles
  * Khe updated her journal and stock.  (Kherae)
  
  -- Others --
  * Adds a metaGUI system, allowing for a vast improvement in interaction UI elements. (zetaPRIME)
  * cap for research lowered from 1.6m to 999k, to match the research screen max
  
  -- Bugs --
  * Fixed a specific energy degen status effect that wasn't working quite as intended. (Kherae)

______________________________________________
  ^cyan;New in version 5.6.402^reset;

  -- Dungeons/Missions --
  * Completely rebuilt the Erchius Horror mission, rescoped its difficulty and changed core paths and rooms to be more interesting
  
  -- Bees --
  * Ore Frames will spawn ore much less frequently
  * Armored and Protective frames now convey Physical resistance for certain biomes
  * Bees have their weak and strong biomes sorted out, which means now the location you breed them will impact their production. 
  * Processing for off-world production now loads faster on planetfall
  * Night/Day frames should now function
  * Environment frames should now function
  * Queens should universally last x2 their previous durations
  * Bees will now search up to 30 tiles from their hives for flowers, rather than 10 

  -- Crafting --
  * Basic and Advanced microscopes can now scan artifacts
  * Basic and Advanced microscope appearance adjusted
  * Apex Microscope, Hazard Microscope and Electron Microscope can now scan bees and artifacts
  
  -- Misc --
  * added a checkpoint near the end of Delta Freya II
  * Crew should gain status effects from armor when worn
  
  -- Bugs -- 
  * Shrouded Bee young queens should properly spawn instead of a PGI
  * Artisan bees should properly function
  * Sandprowler bees should properly function
  * Cybernetic bees should properly function
  * Precursor Chains no longer occlude materials below them
  
  -- Soon --
  * REMAINING: Bees have preferred flower/plant types which will improve their production when near.
  * Favored Flowers: Bees can 'see' a minimum of 5 to convey this bonus, to a maximum total of 20 flowers. 
  * Favored Flowers: Growth level of the favored plant type matters. Only mostly grown or full grown convey the full modifier.  
______________________________________________
  ^cyan;New in version 5.6.400^reset;

  -- Bees, (The Bee-vamp) -- (zimberzimber)
  * Complete overhaul of the bee system. Read the below if you intend to use bees, or you will be hopelessly lost. 
  * all old Bees no longer spawn. In their place, the new bees will. Note that only freshly generated worlds will get the *proper* spread of bee types, but you should still see most of them regardless
  * all old apiaries are automatically converted to the new type.  
  * You will need to replace all of your bees with new ones. Trade them in at the Bee Refuge for profit and resources. You will have one month to do so. Afterwards, old bees will be removed completely.
  * Scented apiaries removed from crafting and will no longer be used. Scented Frames replace them.
  * existing bee quests updated to utilize new information
  
  * All frame types stack
  * all frame types have been replaced. The old items still exist, but can no longer be crafted. Toss em. They're worthless now.
  * frames are now consumed over time
  * added Basic Microscope to scan caught wild bee Queens. This will allow you to see her stats, and determine how best to utilize her
  * Mites are no longer a thing as an item. They are a 'stat' now. Apiaries no longer spawn them.
  * Mites will slow bee production down, and eventually start killing drones if they get too numerous.
  * Infested hives have a visible warning that they are infected
  * Anti-Mite frames will reduce chance of contracting mites, and will kill off mites if they are present at a moderate rate. The larger the stack, the greater the effect

  * all bees replaced with new family types with favored biomes, flower types, and loved/hated breeds of bees
  * rival hives will kill off one-anothers drones
  * Drones slowly die off without a queen present after 60 seconds. The rate they perish at is dictated by breed as well as Queen and Frame.
  * Drones and Queens stats all have implications on production, lifespan, genetic viability, mutation chances, etc
  * spontaneous mutations can occur that greatly improve queens or drones, resulting in super-bees
  * some bees are sensitive to specific biomes, either producing extra resources or producing no resources...even death if the shift is extreme
  * Bees now have genomes. These genomes dictate a bees stats. The key now is in breeding good queens with good drones to maximize genetic boosts
  * Queens will mate with just about any drone. However, they will only do so once, and will afterwards produce their own drones. The old drones will slowly die
  * Queens have lifespans, and therefore occasionally spawn young queens in the hive. These larval stage queens can be placed in a Queen slot to be matured into adults
  * [test] researching bees in the microscope will generate Research
  * [test] some frame types have a chance to spawn ores, regardless of bee type in the hive
  
  * balance of this new system is an ongoing task. Please report any feedback about resources, etc.
  
  -- Weapons --
  * Shadow Staff no longer glows (allowing Tenebrhae to utilize it in full)
  
  -- Techs --
  * Distortion Sphere bombs no longer respond to gravity, allowing you to more specifically place them for demolitions/attacks/bombjumps
  * Distortion Sphere bomb detonation times reduced slightly
  * Distortion Sphere bombs now have different sprites that more clearly convey the current state of the projectile 

  -- Resources --
  * Plasmic Fluid is much rarer, obtained primarily from Strange Seas
  * Liquid Mixing to create plasmic fluid costs more resources
  * added additional seed spawns to Strange Seas
  
  -- Dungeons --
  * Erchius mission adjusted. It's tier is now 3 rather than 2, with mobs being more dangerous. The Miner mobs are much more dangerous, and the NPC friendly miners are weaker. (rylasasin)
  * Great Pagoda Library difficulty is much higher, with a great increase in total cultists and their armaments to suit FU challenge level (rylasasin)
  
  -- Misc --
  * RNG bows should properly adjust tier based on loot level
  * Expanded RNG bow name generation 
  * relocated Start Quest npc from the broken home to Vina's lab
  * added extra floor to Vina's Lab
  * removed test augment 'aaa'. If you had this equipped due to cheat-spawning, remove it or you're going to have issues. That's why you don't cheat-spawn unobtainable test items.
  * removed some log messages from the Fossil script. 
  * corrected some horribly imbalanced stats on the Reinforced Snowpants
  * Large Ship Thruster placement corrected (skies912)
  * fixes a few errors in the Inspired painting loot list (adaxe)
  * adds more input options for the Autopsy Table  (Argenttip)
  * All of the farmables are included in EC compatability, plus they're actually all sorted into tiers now instead of all just being tier 1. (rylasasin)
  * heavily reduced rate of lightning during lightning storms
______________________________________________
  ^cyan;New in version 5.6.383^reset;
  
  -- Madness --
  * Madness no longer displays the Purple Bar. Now that the research tree is accessed easily from the Tricorder it is no longer required.
  
  -- Bees --
  * Finally began the implementation and testing of the new Bee system. It is not yet ready , but the core data is present in the mod now (zimberzimber)
  * coded in two new honey liquids and made the red honey work again. (Sentient Cookie)
  * note that while the new bee changes are not visible to most players yet, the various bee-rewarded Combs have some new names that will confuse you temporarily.
  
  -- Mechs --
  * You can now empty the fuel tanks of your mech, on demand. You will *not* get the fuel within the fuel tank back, however. You can now swap fuels as you need.
  
  -- Cinematics --
  * added Hardcore support for all of (DrPvtSkittles) races as per his request
  
  -- Objects --
  * Mantizi ceramics added (Robur Velvetclaw)
  * Various descriptions were missing periods (Pangez)
  *new robodog pet house [Amethystumn, me]
  *both pet houses can be found at the Infinity Express.
  
  -- Weapons --
  * Fixed several Quietus weapons not applying their set bonus values when applicable. 
  * added Titanium and Tungsten broadswords (Rylasasin)
  
  -- Armor --
  * Mark IV Enforcer Helm is now the Enforcer Battle Helm. It's bonuses have adjusted, and it now provides a 15% bonus to Defensive Techs protection
  * Junker armor loses its Grenade Launcher bonus, and instead gains various bonuses to Tech functions. It gains +450% Distortion Sphere Bomb damage, +35% Dash Tech Speed, +15% Jump Tech height and +35% Armor Bonus from Dodge/Lance Dash
  * Spacefarer armor now requires Bio-Thread and Zerchesium to craft, as well as additional protocite. This should make early-access to Gas Giants more challenging.
  * new fully-dyable goggles (Sentient Cookie)
  
  -- Techs --
  * added numerous potential Bonus parameters to FU techs, allowing them to benefit from item, set and racial bonuses where needed.Vanilla techs are (presently) untouched for compatability sake with the many tech mods out there.
  MODDERS: to apply these bonuses to your techs, you can swap from 'multijump.lua' to use 'fumultijump.lua' and similar variants located in our codebase. Use what you need for your scripts as-needed
  * Armor Sphere bomb explosion radius increased to match its sprite radius, but loses 5 to its explosion power (from 40 to 35)
  * Armor Sphere now reduces Fall Damage by 50%
  * all Bomb-capable distortion spheres have had their bomb damage increased
  * added stats to several armor sets that enable additional Tech related bonuses
  
  -- Resources --
  * Lunari Shards now have the Ore category for easier sorting (Kherae)
  * Arc Smelter and Blast Furnace no longer give guaranteed Diamond from Pure Carbon. Instead, there is a 10% chance in an Arc, and a 5% chance in a Blast.
  * Arc Smelter and Blast Furnace chances to create diamond from ordinary Carbon reduced to 0.5% per carbon in the Blast Furnace, and 2% in the Arc Smelter.
  * Energy Wood trees should be more common, appearing in several additional sub-biomes. This should make finding them somewhat less problematic.
  
  -- Codex --
  * Adding in lore for the Lutrins (KH007)
  * Logging for if the player already knows a codex entry has been removed. Now, only new codexes that either error out or succeed will be logged (this is so that debugging is still possible). (Xan)
  * Additional API has been added to clean up codex entries in the player's storage that no longer exist, though this is unused for the time being. (Xan)

  -- Misc --
  * added additional liquid interactions to numerous tiles. 
  * removed Fog weather from science outpost for those with poorer performance metrics
  * Trade Terminals now inform players that they are destroyed if broken via their tooltips.
  * attempting to fix some mist-related slowdown, we've halved the duration for mist/fog particles
  * rolliepollie pet house fixes (Sentient Cookie, Hubnester)
______________________________________________
  ^cyan;New in version 5.6.382^reset;
  
  -- Quests --
  * Added 4 minor, ignorable quests to starting worlds in the 'starter house' to provide a bit of structure and guidance to the early game, along with resource awards.
  
  -- Tricorder --
  * Tricorder UI completely overhauled. Displayed information should be much easier to figure out, and buttons take up less space.

  -- Armor and Crafting--
  * Powered resource stations have had their recipes adjusted to be more tier-appropriate
  * All FU armor and shields now display their tier in the crafting menu 
  * Shields now display their tier on their tooltip
  * Sunwalker armor has had its attack and HP slightly reduced  (15% damage, and 5 hp)
  
  -- Bows --
  * Slightly adjusted all crafted and RNG bow damage values
  * Bows should properly apply Airborne damage bonuses. Liquids and Zero G no longer apply this bonus
  * Bow Perfect Shots no longer always apply the piercing modifier. This is now limited to physical damage (and a few edge-cases). 
  * Arrows sticking into targets have had their duration substantially reduced (from 15 to 6 seconds) both for balance and performance
  * Bone Bow is easier to craft, requiring less bone and leather
  * Carbon Bow is more difficult to craft, given its tier. It can no longer be created without titanium.
  * Carbon Bow primary fire has had its damage reduced from 8.65 to 7.65
  * Carbon Bow has a proper alt fire
  * Enigma Bow alt shot and perfect shot arrows rebalanced. They are still effective, but no longer one-shot most low-level threats.
  * Cute Bow alt shot updated to the new system
  
  -- Other Weapons --
  * Wands and Staves display more information in their tooltip and itemdescriptions
  * Looted throwing weapons now have a price, allowing them to be sold. That makes them less useless, yay! (Rylasasin)
  * all throwing weapon damage increased by 5
  
  -- Misc --
  * Trade Terminals now break when attempting to move them. These are intended as a permanent fixture, not a fluid one. This applies to the non-racial variety as well, for those of you spawning stuff via IDs.
  * Various optimizations to the new Codex system (Xan)
  * Investment base cost increased from 500 to 1500 pixels, making investing a more costly venture
  
",

//-------------------------------------------------------------------------------------------------
//------------------------------------------ Other texts ------------------------------------------
//-------------------------------------------------------------------------------------------------

	"welcome" : "
Frackin' Universe is a -huge- mod that add a lot of content which is usually hard to track or easy to miss should you be playing through it haphazardly or without attention.

But there are two things that will help you advance: Reading the text you're provided with, and experimenting with whatever you have.

^orange;If using BYOS mode with custom races^reset;: you must install the addon located on Steam/CF Forums (FU BYOS Race Addon).
^orange;If using Custom Races with FU SAIL^reset;: Install theaddon via Steam or CF Forums (FU SAIL Modded Race Support).

You can open this window manually if you have the StardustLib or QuickBar mod installed via the !Updates button.

Please make sure you are not using anything included in the RED (and ideally the other colors too) on the Info tab below.

Thanks, and have fun :)
",



	"credits" : "#file#/_FUcredits.config",
	
	"info" : "
^orange;Incompatible Mods^reset;

^red;-Danger: Absolutely -do not- use. WILL be broken or cause issues with FU-^reset;:
Ztardbound: Please read the description pages for once, please. Included.
Enhanced Begining: Breaks game-start
Optional Erchius Mining Facility Quest: See above
Optional Story: See above
Sandbound: See above
Spookys Tweaks: outdated and has conflicts
Memento Mori: included in FU with improved code
FrackinBreathing
Reclaimed Goods: Breaks item unlocks.
Many Tabs: Breaks mech UI and lab directory 
Trading cards: Will not work with FU's Custom Collections UI
Extra Dungeons: Already included
Dungeoneer Dungeons: See above
Harvester Beamgun: See above
Custom Collections UI: See above
ANY Nav UI Mod: Will break FU BYOS
Dynamic Fuel Hatch: See above
Fullscreen Starmap 768p/1080p/dark: See above
Universe Scanner: See above
Realistic Fuel Cost
Melee Weapon Types
Aperture Science Mech: Doesn't patch files.
Guard Plus Plus
Easy Ores
Steven Universe Items: Conflicting IDs
Luxury Blocks: See above
Hull Plating Blocks Revived: See above
A.B.A.T.H.U.R. - Commander : Master of Evolution
Frackin' Irkens: Outdated.
Ore for Asteroids
Easy RAM - RAM from Robot Chickens
Modular Mech Improvements
Weapon Megapack 
Sinco Mech Parts
Mech Fuel Usage
Dynamic Combat: Conflicts with FU weapon changes
Weapon Assembly: See above
WeaponStats: See above
Manufacturers Touch: See above
Ooze Race: Conflicting physics file
Translocate(Teleport Tech): Breaks tech code

^yellow;-Caution: May be a problem-^reset;: 
Very Varied Vehicles: Breaks FU aircraft png display
Starbound++: makes several changes that will affect FU
The Legacy Fuels: Duplacate plutonium
Improved Containers: Outdated and breaks Terramart Shipments
Moon Overhaul: Doesn't play nicely with FU moons
Draconis FU Addon: Breaks staves and wands
Legacy Fuels: Duplacate plutonium
MadTulips Mod: Breaks Mama Poptop edits
Tier 10 Ships: Breaks FU's BYOS
BYOS: FU already has it's own BYOS
Melee Aiming: Will not work with certain FU weapons
Powerful Uniques: See above
Nobility's Bomb Mod
Combinable Augments: Certain augments in FU, if combined, *will* brick your character 100% of the time. 

^cyan;-Probably fine, but may have a glitch or two-^reset;:
Damage Cap Begone: FU already does this
Hunger Enabler for Casual: Breaks Hunger augment
Enable Monster Special Attacks: Included
Aimable Shields: See above
Augment Extractor: See above
Leagacy Dungeons/Monsters: See above
Earth's Finest Crew Improvements: See above
Nonuniform: FU crew will spawn with 0 clothing


^orange;Frequently Asked Questions^reset;

Q: Why can't I find the information I need on the wiki?
A: The wiki is user maintained. If you see info missing, feel free to add it when you make the discovery!

Q: Is there a social hub for FU users such as myself?
A: Yes, there is a Discord server. Check the mods page for a link.

Q: Where can I report issues/bugs, contribute, or make suggestions?
A: The FU discord server

"
	
}
