{
	"minimumUptime" : 5,	// Seconds before the player can close the window without it re-opening
	"version" : "5.6.186",		// Update this with current version number to have the window popup again
	"text" : "

 Welcome to ^green;Frackin' Universe^reset;!

  _____________________________________________________
  ^cyan;New in version 5.6.187^reset;
  
  * added missing unlock for Pesticide
  
  * made FU patch for Spawnable Items Pack no longer function with FU. Once the author undoes making the crucible minable, I will gladly reenable it. This device is not ever intended to be obtainable.
  
  * Warden now properly animates and behaves differently
  
  * fixing a strange monument's category. formerly 'pot', now 'decorative'
  
  * added a description adjustment for the transferutil variant of the itemscanner.
  
  _____________________________________________________
  ^cyan;New in version 5.6.186^reset;
  
  * disabled abandoning Vinj's intro quests
  
  * corrects Telebrium Dagger arm position
  
  * you'll see more Radioactive stars on the starmap
  
  * fixes slight graphical twitch to Exitus mech legs
  
  * corrected erroneous change to Telebrium Orbs. Should be t2, not t1.
  
  * corrected recipe for Vai to use durasteelbar rather than an incorrect ID
  
  * rebalanced Exitus mech gun
  
  * the Precursor Dungeon now has a SAIL entry once you unlock it within the dungeon itself
  
  * Mama Poptop room exit is now a boss door as well, preventing re-entry and cheese tactics.
  
  _____________________________________________________
  ^cyan;New in version 5.6.185^reset;
  
  * REVERT - new nodes on Storage Bridges. This may cause issues with your setups. Apologies.
  
  * NEW - Storage Bridge 2.0, with the above mentioned nodes present
  
  * fixes NPCs calling for 'generatedgun' (a vanilla bug)
  
  * fixes NPC death when failing a dialog check (PParrot)
  
  * new blade: Vai (Earth)
  
  * Rocket Launcher crits reduced
  
  * Hazmat suit should properly apply its bonuses
  
  * smart box sorting and spouts forgetting their off switches -> fixed
  
  * NEW MECH: Exitus (ArCon). Contributed by Pizzacat.
  
  
  _____________________________________________________
  ^cyan;New in version 5.6.184^reset;
  
  * Precursor Manipulator unlock is now a loot-only blueprint
  
  * added Bug House to Foraging Station
  
  * corrects a few issues with Collections
  
  * Shield bonuses now only apply when the shield is raised, as intended
  
  _____________________________________________________
  ^cyan;New in version 5.6.183^reset;
  
  * Heavily adjusted the Azun robes armor. It was, simply put, way too powerful. Set bonuses are halved, but it gains +20% hunger resistance
  
  * Battle Totem armor set now costs more Sharpened Claws to compensate for its Crit bonus
  
  * Katana Parry timing adjusted
  
  * Pesticide repurposed. It is now a rather handy fertilizer type for speed and output, but will suck up a lot of water as a consequence
  
  * Slight changes to starter quest organisation and text
  
  * More balance changes to trays: Water use increased by +1, and baseYield for both tray types reduced to 2
  
  * Collections code adjusted (ColonelNutty)
  
  * Growing and Hydro tray UI adjusted
  
  * Hydroponics Tray name shortened to fit in space required for new UI
  
  _____________________________________________________
  ^cyan;New in version 5.6.182^reset;
  
  * Trays output increased, which should make life a little easier. Default output is now 3 for the Growing Tray and 4 for the Hydro Tray, to match the input of 3 seeds with a slight bonus. Fertilizers improve this amount.
  
  * corrected broken unlocks for the extra tiers of Mass Cancellation techs for your Mech. You should now be able to unlock all the way up to 100% mass reduction.
  
  
  _____________________________________________________
  ^cyan;New in version 5.6.181^reset;
  
  * Farm animal hunger rates halved. 
  
  * Mooshi were outright broken, hunger wise. Fixed.
  
  * Purple glows are brighter
  
  * added new Artifact augment reward to Erchius mission completion. If you have finished the mission already, it can be added with /spawnitem erchiusartifactaugment
  
  _____________________________________________________
  ^cyan;New in version 5.6.18^reset;
  
  * added Snow Fennix to cold biomes
  
  * added Sea Clam to Tidewater

  * Rapier damage increased
  
  * Ravager armor set bonus changed
  
  * Inferno set is no longer missing Heat/Burning dimmunity
  
  * added Precursor Pipe tile
  
  * both Growing Tray and Hydroponics Trays should use 3 seeds to start processing
  
  * added Balgraxian Hellpowder
  
  * added Myphis Mist Injector
  
_____________________________________________________
  ^cyan;New in version 5.6.179^reset;
  
  * mechs update Mass properly when changing parts on their inventory screen
  
  * extractors have Take All button
  
  
  * Trays not accepting seeds if there wasn't at least the default required amount, even if fertilizer reduced it
  
  * Bug causing perennial plants to be reset one stage higher than they should have (causing instant growth for some plants)
  
  
_____________________________________________________
  ^cyan;New in version 5.6.178^reset;
  
 * hotfix: trays sending folks to their ship when erroring an animation frame
 
_____________________________________________________
  ^cyan;New in version 5.6.177^reset;
  
  * Seed swap triggering on non-perennials
  
  * Some parts not accounting for seed use > 1
  
  * Perennial plants don't consume fertilizer on starting the next cycle
  
  * Trays not interfacing with ITDs
  
  * Trays crashing on inputting a sapling

  * Fertilizer growth values are now calculated as multipliers instead of additive  
  
  
_____________________________________________________
  ^cyan;New in version 5.6.175^reset;
  
  * adds Lootboxes into rotation for playtesting. Available via loot lists and quests.
  
  * corrects incorrect recipe for ArCon Rifle preventing it from being made or spawning in loot lists
  
  * crappy crew beds say that you can only place 4 of them in thier description. (hubnester)
  
  * adds new Japenese Ruins dungeon and peripherals. Accessible via hylotl space pagodas for now (The Observer)
  
  
  ^orange;Growing Tray Rewrite: ^reset; (ProfoundDarkness, Lucca)
  
    * Growing/Hydroponics trays have been completely reworked from scratch to be more efficient and pull from actual seed data. Overall, their operation will be effectively the same from your end, but you'll definitely see changes in how they behave.
    
    * Trays use plant growth stages to determine water consumption
    
    * Trays use the plant's treasurepools for output
    
    * Perennial plants act as perennial plants do, in that they reset to their reset stage and don't consume extra seeds.
    
    * Trays no longer allow Tree growth

"
	
}
