{
	"minimumUptime" : 5,	
	"version" : "5.6.222",	
	"ignoredInstances" : [ "protectorate", "felinintro" ],
	"text" : "


_____________________________________________________
  ^cyan;New in version 5.6.222^reset;
  
  * animated bee frames altered for all apiaries. This should correct the 1-tile-reposition that seems to happen when you walk off-screen.
  
  * Xithricite Wand projectile frames file corrected
  
  * Rapiers should properly upgrade to tier 8 at crucibles. They no longer get increased fireTime. See next point.
  
  * Rapiers now get an additional 0.10% per tier to Crit chance.
  
  * Rapiers get an additional +0.5 bonus damage to crits per tier 
  
  * All upgraded weapons have reduced crit chance bonus. It was 0.5% per tier. This value has been reduced to 0.25 per tier
  
  * Precursor loot lists have a chance to drop most of their deco. *most*, not all.
  
  * new racial ship Thrusters (Yanazake)
  
  * Minor adjustments to Shoggoth boss room to minimize its tendency to get stuck
  
  * Shoggoth Aggro sounds changed
  
  * Slime Broadsword should properly appear in crafting stations
  
  * replaced some dungeon music
  
  * slightly improved the Plebian armor set energy bonus, damage bonus and protection bonus
  
  * Volcanic Ash should now Sift
  
  * fixed space station selling prices being too high (zimberzimber)
  
  * corrected patch for modded race access to BYOS (universe_server.config.patch)  (Hubnester)
  
  * Neishin armor bonus should properly function
  
  * moved garuda missile launcher files to a more appropriate location.  (Khe)
  
  * made Crystal Skull save its death location info to the player, rather than to the world.  (Khe)
  
  * added deployment hacky script. can now send entity messages to the player to get player.worldId.  (Khe)
  
  * completely revamped immunityeffect application (Khe)
  
  * obelisks now spawn inactive decorative versions when scanned  (Khe)
  
  * New microdungeons - scientific greenhouse in a tree, 3 new treehouse,  1 spooky treehouse! (Aelfgifu)
  
  * changed 0.0 priority of overground chests in primeval biomes to 1 (Aelfgifu)
  
  * removed precursor-styled obelisk from aether dungeon (Aelfgifu)
  
  * coding for Old Timber, including recipe and unlock (Aelfgifu)
  
  * new tileset of all FU doors  (Aelfgifu)
  
  * partytime3 uses tables instead of entitytype as a comparison. (Khe)
  
  * Loot boxes in the cursor are now consumed first (zimberzimber)
_____________________________________________________
  ^cyan;New in version 5.6.221^reset;
  
  * Precursor Databox is no longer printable
  
  * Radburn has its own icon
  
  * Industrial Centrifuges now have 2 input slots
  
  * Lab Centrifuges now have 3 input slots
  
  * Gas Centrifuges now have 4 input slots
  
  * Powder Sifter now has 2 input slots
  
  * Adds a pet renamer that allows you to rename captured pets (Hubnester)
  
  * Makes it so that the music player says what music it is currently playing when turned on (won't display it if you selected it before the update) (Hubnester)
  
  * Adds something to universe_server.config to make it easier to add support for FU BYOS in race mods (Hubnester)
  
  * Allows mods to add items to give the player when they select the BYOS ship (Hubnester)  
  
  * Some tiny adjusts to the pickup and pushback augments to hopefully reduce the chance of them bricking the characters of less intelligent players still irresponsibly using combinable augments. (Kherae)
  
  * a certain mysterious ball is no longer quite as safe for those who aren't filthy casuals. (Kherae)
  
  * Added some handling for energyrestorepercentage.lua to be told not to use visuals to both that and healthrestorepercentage. Also added a config option to change the effects to a flat percent per second effect. (Kherae)
  
  * Added a collection of food to health conversion status effects, at varying levels of safety. currently only 100 percent heals, at 1 to 1 and 1 to 10 food to health percent ratios. (Kherae)

_____________________________________________________
  ^cyan;New in version 5.6.220^reset;
  
  * Gishinanki set should have its proper immunities
  
  * Matter Blocks, when mined, give placeable blocks rather than a resource. The resource is now acquired via extraction.
  
  * Removed most, if not all, of the 'silly' star names. It was fun, but at this point its a tired bit of nonsense. New names replace crazy old ones.
  
  * Larva placed in the Incubator will now hatch a maggot
  
  * Incubators got a bit of love. Their indicators are more visible, are less janky visually.
  
  * Incubators now properly display their filled-with-eggs graphics. Larger stacks increase the visual.
  
  * Incubators now play a sound effect when your eggs hatch
  
  * Medical Station effects have been moved back to where they were, as I had not intended to move them and they were borking some stuff
  
_____________________________________________________  
  ^cyan;New in version 5.6.219^reset;
  
  * fixes some typos (rainy goose)
  
  * adds Quantum Ball loot item
  
  * Thelusian Longsword should have its proper name (was reading Telebrium Longsword)
  
  * Shoats have had their diet swapped to special omnivore, the same as a Pangolin
  
  * Added Stun and Bleed immunity to several bosses where it was warranted (Precursor Warbot for example)
  
  * Breach Gun alt-fire improved. It uses much less energy and fires much faster. This makes it exceptionally useful in exploration!
  
  * Finding a Gorgolith on newly generated Protoworlds should be easier 
  
  * upgrading the Aetherium Rapier to the Aetherium Puncturer should no longer break the weapon
  
  * Ice slipping has been fine tuned, providing more general traction.
  
  * removed extra ice-slip files, amalgamated into single script
  
  * amalgamated beesting status effects into a single script
  
  * cleaned up the stat effect directory.
  
  * touched up set bonus code indentation. (Khe)
  
  * Fixed some sets which were not quite working right. (Khe)

  * Changed Longinus and Sentry Railgun drones. The now have invul, visible shields but die after around 30 seconds. Damage unchanged. Renamed Decoy Drones. (Khe)

  * Precursor Duplicator now accepts most metals and isotopes
  
  * Replaced Worm Mass sprite with an original (Ycar)
  
  * Worm Mass renamed to Putrid Worm
  
  * Worm Mass attack patters slightly changed
  
  * Fleshreaper idle and flight animation speed reduced to slow the tail wiggle
  
  * Fleshreaper charge is faster
  
  * Fleshreaper ranged gravity attack has a longer telegraph and new projectile
  
  * Growing and Hydroponics trays now inform of the base seed cost on the UI itself, as this seems a common question
  
  * precursor itemTag touchups (Khe)
  
  * added Racial space station desks (zimberzimber)
  
  * Space Station desks have fewer rare items
  
  * Mech unlock mission has been slightly tweaked and now incorporates Stomping into the tutorial.
  
  * Cosmic and Spacetime obelisks are now scan-based rather than smashed
  
  * NEW Wraith sprite (Ycar)
  
  * Wraith attacks changed
  
  * corrected hitech toilet sitting position
  
  * added Erchius Buddy backpack (Tori)
  
  * added 2 new 2x2 Toolbox storage items
  
  * added lesser variant of Ash Storm
  
  * added High Gravity Event weather to Mountainous biomes
  
_____________________________________________________
  ^cyan;New in version 5.6.218^reset;
  
  * hopefully corrects the small Apiary positioning issue. You will likely need to place them again.
  
  * Correction to some Shoggoth sounds referencing invalid sound files
  
  * Skittles got some changes (Kherae)
  
  * Bone extraction loop has been closed
  
  * Meatvine plant recipe should properly craft 3, not 1, seed.
  
  * Fleshreapers got heavily changed and are now original content at long last! Their spawn locations have been adjusted as well. (Ycar)
  
  * adds Redwood Bark tile, drops from Primeval redwoods (Aelfgifu)
  
  * added a ^orange;clear inputs^reset; button to Terminals (Eternalspirit)
  
  * Also moved the Refresh button to the bottom right of the Terminal, and added Clear Inputs to bottom middle (Eternalspirit)
  
  * replaced 289 counts of pot in item categories with decorative, and one count of science! (Kherae)
  
  * Research laptops should now properly flip direction when placed
  
  * removed old patchlog entries from this popup 
  
  * Research voxels properly display in-hand
  
_____________________________________________________
  ^cyan;New in version 5.6.217^reset;
  
  * reverted Research costs on Techs. The UI didn't want to actually detect it. Experiment fail. I'll take another stab at it later with updated code.
  
  * subs should properly submerge
"
	
}
