{
"version" : "1.05",
"changelog" : "

^orange;-----     1.05c    -----^reset;
> Moved Research system interface buttons to the right side of the screen

^orange;-----     1.05b    -----^reset;
> Disabled double click to research a node to prevent accidental researching.

^orange;-----     1.05a    -----^reset;
> Fixed updating research tree version not adding unlocks added to already researched nodes
> Removed unused FU mini currency icons from the standalone version

^orange;-----     1.05    -----^reset;
> Cleared update log to begin at 1.04
> Applied and optimized research system fixes from FU:
	Fixed a bug where removing a node but not its original acronym would crash the pane
	Trees are now listed in alphabetical order
    Improved search mode order
    Slight color adjustments
> Reduced research system double click time threshold to 0.2 seconds
> Research system double clicks only register if the click was 1 pixel away from the previous click
> Research trees can now be hidden behind quest completion and/or research from other trees
> Research trees can now be configured to not consume resources and/or currency
> Fixed research pane drawing currencies below research nodes
> The player is now informed when no research trees are available
> Research trees can now have an icon

^orange;Silent update^reset;
> Kherae fixed a bug regarding mission deployments through new SAIL

^orange;-----     1.04j    -----^reset;
> Added missing songs to the music player

^orange;-----     1.04i    -----^reset;
> Added New SAIL error handling for when the SAIL object script crashes (like from a missing pet)
> Hidden the scan interaction quest.

^orange;-----     1.04h    -----^reset;
> Fixed scan interaction script throwing an error when scanning stagehands (such as bounty hunting clues)
> Optimized the scan interaction script

^orange;-----     1.04g    -----^reset;
> Added some proper text to the scan interaction handling quest (which should be hidden)
> Added the new cultist mission to new SAIL
> Added some mod missions to new SAIL
> Removed some useless data in newSail/data.config

^orange;-----     1.04f    -----^reset;
> Fixed a bug regarding obsolete acronyms
> Made adding new blueprints to already existing research possible without massive headaches
> Research trees can now use custom images for their background
> Fixed a bug where the research button would not disable when selecting affordable, yet unavailable research

^orange;-----     1.04b    -----^reset;
> SAIL no longer overlays AI chatter sounds

^orange;-----     1.04a    -----^reset;
> Fixed a bug that prevented using AI chips from Scripted SAIL
> Non-existant chips will no longer prevent SAIL from working (This means you can safely uninstall Scripted SAIL and any AI chip mods)

^orange;-----     1.04     -----^reset;
> Removed a log print in the music player
> Fixed music player missing particles after its reloaded while playing music.
> Fixed the list inside the missions menu overlaying the main/secondary buttons when clicking reply
> SAIL now supports textTyper's scrambling

> Made the 'FadeHex' function inside 'zb_util.lua' use the closest whole instead of the bigger for the 3rd parameter when its not a whole
> Corrected some typos in 'zb_util.lua' (valToHex -> ValToHex)(mergeTable -> MergeTable)(isArray -> IsArray)
> Updated 'newSail.lua', 'fm_musicplayer.lua', 'questList.lua', and 'researchTree.lua' to fit these changes
> Added two functions to 'zb_util.lua' for checking if a position is inside a box area
> Rewrote Hexadecimal related functions in 'zb_util.lua' to use strings instead of tables (usage unchanged)

> Fixed 'textTyper.lua' script to replace any non-ASCII characters with a blank one instead of crashing the window (Affects SAIL and anything that uses the script)
> Rewrote 'textTyper.lua' 'scrambling' function to use a string instead of a table (usage unchanged)
> Added missing comments regarding text scrambling in 'textTyper.lua'

^orange; Note regarding ASCII characters:^reset;
The reason I'm not fixing textTyper to work for non-ASCII characters (like O's with dots above them or Japanease characters) is because its not worth the effort.
Just don't use language modifying SAIL chips if you have Scripted SAIL installed and you're good.
",

//-------------------------------------------------------------------------------------------------
//------------------------------------------ Other texts ------------------------------------------
//-------------------------------------------------------------------------------------------------

"welcome" : "
Welcome to ^orange;Ztarbound^reset;; A mod that aims to improve some of the untouched by mods vanilla aspects and add some more tools for modders to play with!

^orange;Updated to 1.05c:^reset;
^green;>^reset; Some research tree fixed and QoL improvements

This window, added by this mod, is here to notify you when a mod (using this feature) was updated, as well as guide new and old users through some basic mod info and important changes, including, but not limited to, changelogs, extra information, and credits.*

Normally, these windows cannot be closed instantly when called by a mods update, a newly created character(Because of limitations), or when installing a new mod.

But don't worry, if only one mod is updated/added, you can close the window after a short timer that appears in the bottom left corner.**

If multiple mods were updated/added, the pane will be closeable after you've viewed all the mods.** (Via the 'previous'/'next' buttons)

You can open this window manually through SAIL, or the quickbar. (provided by StardutLib/QuickbarMini)

Want your mod to use this feature? Not a problem! Head on to the 'Information' tab, you'll find everything you need there.

Be advised - This mod is integrated into Frackin' Universe, and does not require the standalone version. If you have the standalone version installed alongside FU, remove the standalone version as to not slow down Starbounds loading time, and to prevent potential issues.

Thanks, and have fun! :)

* - The information provided depends on whether the mod in question is using this feature, and the info itself is provided by said mods author.

** - Technically, you CAN close the window, but it'll re-open itself, and reset the timer. :) 
",



"credits" : "
- ^orange;Sayter^reset; - Original UI designer
- ^orange;[fox emoji]^reset; - Some scripts for the new SAIL, and scan-for-blueprint used as base for scan-interaction
- ^orange;Hubnester^reset; + ^orange;Lucca^reset; - Original creators of the FU music player
- ^orange;Kherae^reset; - Some bug fixes
- ^orange;jss2a98aj^reset; - Minor fix
",

"info" : "

Welcome to ^orange;Ztarbound^reset;; A mod that aims to improve some of the untouched by mods vanilla aspects and add some more tools for modders to play with!

^red;NOTE:^reset; Ztarbound is already built into Frackin' Universe, so there's no point in having them both installed.

Ztarbound does not add any content of its own (Other than a few things), as its aim is to add features instead of content.
Some of those feature are...

^green; - Update Info Window -^reset;
Unless constantly keeping track of installed mods, players have no proper way of telling whether something updated. Especially if they have a lot of mods installed.
This window aims to fix that by popping up whenever a mod is updated, displaying some information about the mod, as well as a changelog.

^green; - Research System -^reset;
A system that gives the option to organize progression in a more strict fashion, and preventing the player from getting lost in a sea of content.
Using this, you can lock blueprints behind research with varying prices, trigger certain events, or even make a skill tree!

^green; - Questlist -^reset;
An organized place to view lists of quests and their requirements.
Useful for tutorials, storylines, or just making a 'to-do' list.

^green; - Scan Interactions -^reset;
Ever wanted to hide a button from the infamous 'alt' key?
Or maybe make your our scan quests?
Maybe an object that displays dynamic data?
Well this addition adds the option to set up a 'what happens when this object is scanned' function!

^green; - New SAIL -^reset;
Not only did SAIL get a new look, but it now comes with a handful of extra options!
View currencies added by other mods that cannot be viewed on the inventory pane.
Missions are split to main and secondary, as well as displaying which missions are replays.
And the option to add your own functions to SAIL.
Fully compatible with Scripted SAIL.
^red;NOTE:^reset; If you're using a custom race, you must install the race patch which is linked on Ztarbounds mod page.
^red;NOTE:^reset; If you want a custom SAIL, install the scripted SAIL mod and the chip for the custom AI version you want.

^green; - FU's Music Player -^reset;
Now in standalone version, and with an easier method of adding music!
Can even make your own addon for personal use with ease!
Craftable at the anvil, under the EPP section.

^green; - Utility + Example Scripts -^reset;
There are some scripts which can help with making a text be typed out instead of appearing instantly, fading hex colors, rolling dice, and more!
And some example for setting up your own things, such a function upon leaving/entering a world.

^green; - And more to come! -^reset;

Documentation for using these feature can be found inside the '_doc' folder on the Github repo of this mod.
You can find the link to it on Ztarbounds mod page.

^green;Questions? Complaints? Suggestions? Random chit-chat?^reset;
You can reach me via Discord. Link is posted on Ztarbounds mod page.
"
}
