{
	"version" : "1",
	"changelog" : "
Initial standalone release. The following features were made more comfortable to work with:
> Quest list GUI
> Research GUI
> Custom SAIL
> Update info popup window
> Music Player
",

//-------------------------------------------------------------------------------------------------
//------------------------------------------ Other texts ------------------------------------------
//-------------------------------------------------------------------------------------------------

	"welcome" : "
Welcome to Ztarbound; A mod that aims to improve some of the untouched by mods vanilla aspects and add some more tools for modders to play with!

This window, added by this mod, is here to guide new and old users through some basic mod info and important changes, including, but not limited to, changelogs, extra information, and credits.*

Normally, these windows cannot be closed instantly when called by a mods update, a newly created character(Because of limitations), or when installing a new mod.

But don't worry, if only one mod is updated/added, you can close the window after a short timer that appears in the bottom left corner.**

If multiple mods were updated/added, the pane will be closeable after you've viewed all the mods.** (Via the 'previous'/'next' buttons)

You can open this window manually through SAIL, or the quickbar. (provided by StardutLib/QuickbarMini)

Want your mod to use this feature? Not a problem! Head on to the 'Information' tab, you'll find everything you need there.

Be advised - This mod is integrated into Frackin' Universe, and does not require the standalone version. If you have the standalone version installed alongside FU, remove the standalone version as to not slow down Starbounds loading time, and to prevent potential issues.

Thanks, and have fun! :)

* - The information provided depends on whether the mod in question is using this feature, and the info itself is provided by said mods author.

** - Technically, you CAN close the window, but it'll re-open itself, and reset the timer. :) 
",



	"credits" : "
- ^orange;Sayter^reset; - Original UI designer
- ^orange;[fox emoji]^reset; - Some scripts for the new SAIL, and scan-for-blueprint used as base for scan-interaction
- ^orange;Hubnester^reset; + ^orange;Lucca^reset; - Original creators of the FU music player
",
	
	"info" : "
Ztarbound started as an addition to Frackin' Universe, aiming to expand upon some of the untouched vanilla features, as well as provide modders with extra features they can utilize.

If you wish to utilize any of the modder assets, there are clear instructions in the template provided on the mods page, and examples available on the decompiled version of this mod which is also available on the Ztarbound mods page.


> ^green;The update window:^reset;

This window, added by this mod, is here to guide new and old users through some basic mod info and important changes, including, but not limited to, changelogs, extra information, and credits.*

Normally, these windows cannot be closed instantly when called by a mods update, a newly created character(Because of limitations), or when installing a new mod.

But don't worry, if only one mod is updated/added, you can close the window after a short timer that appears in the bottom left corner.**

If multiple mods were updated/added, the pane will be closeable after you've viewed all the mods.** (Via the 'previous'/'next' buttons)

You can open this window manually through SAIL, or the quickbar. (provided by StardutLib/QuickbarMini)


> ^green;Research Panel:^reset;

A research panel which allows you to learn crafting recipes through research instead of picking up items.

+ Less lag when picking up items or moving them in/out of inventory if it has a lot of recipes learned on pickup

? A stricter progression that prevents easy tier skips (depends on how its set up by the modder)

- Might be painful for the modder to set up



> ^orange;"So how do I utilize those features?^reset;

I've tried making it so adding content to features provided by Ztarbound is as easy as possible, with ready example, and a ready decompiled version on the mods Github.

Simply follow the examples provided there, and you'll be adding whatever your heart desires in no time!

You can find a link on Ztarbounds mod page.


> ^orange;"I want to ask a question/report a bug/suggest something, where can I do that?^reset;

While you *can* use the Steam workshop page, you're more likely to get an answer on the Discord server.

You can find a link on Ztarbounds mod page.
"
}
