{
	"version" : "1.02",
	"changelog" : "
-----     ^orange;1.02^reset;     -----
	^green;Update Window:^reset;
> Fixed update window re-opening itself (number of mods using it - 1) times when you beam down.
> Opening the window manually via SAIL or quickbar no longer applies the wait timer/requires to view all mods
> Updated its description so people know its there so they know when a mod is updated. (As if anyone reads that anyways lel)
> Cleaned up some leftovers

	^green;Research System:^reset;
> Fixed a bug with researches trying to unlock multiple blueprints but ends up crashing instead
> Info panel now has a slider for when you need a loooooooooooooot of text
> Research will now display unlocked item blueprints (if there are any)
> This option can be disabled by setting the 'hideUnlocks' tag to true in a researches definition
> Updated the documentation to reflect that change

-----     ^orange;1.01^reset;     -----
> Fixed broken SAIL interface by adding missing script (Which already exists in FU)
> Fixed script inconsistency between ZBs and FUs research panel
> Fixed research panel not registering currency as currency
> Fixed research tree not auto-updating the view outside of low quality mode as it should
> Fixed Quickbar issue (I think?)
> Removed the Character Status option from the quickbar

-----    ^orange;Release^reset;    -----
Initial standalone release. The following features were made more comfortable to work with: (Initially released in FU)
> Quest list GUI
> Research GUI
> Custom SAIL
> Update info popup window
> Music Player
",

//-------------------------------------------------------------------------------------------------
//------------------------------------------ Other texts ------------------------------------------
//-------------------------------------------------------------------------------------------------

	"welcome" : "
Welcome to Ztarbound; A mod that aims to improve some of the untouched by mods vanilla aspects and add some more tools for modders to play with!

This window, added by this mod, is here to notify you when a mod (using this feature) was updated, as wewll as guide new and old users through some basic mod info and important changes, including, but not limited to, changelogs, extra information, and credits.*

Normally, these windows cannot be closed instantly when called by a mods update, a newly created character(Because of limitations), or when installing a new mod.

But don't worry, if only one mod is updated/added, you can close the window after a short timer that appears in the bottom left corner.**

If multiple mods were updated/added, the pane will be closeable after you've viewed all the mods.** (Via the 'previous'/'next' buttons)

You can open this window manually through SAIL, or the quickbar. (provided by StardutLib/QuickbarMini)

Want your mod to use this feature? Not a problem! Head on to the 'Information' tab, you'll find everything you need there.

Be advised - This mod is integrated into Frackin' Universe, and does not require the standalone version. If you have the standalone version installed alongside FU, remove the standalone version as to not slow down Starbounds loading time, and to prevent potential issues.

Thanks, and have fun! :)

* - The information provided depends on whether the mod in question is using this feature, and the info itself is provided by said mods author.

** - Technically, you CAN close the window, but it'll re-open itself, and reset the timer. :) 
",



	"credits" : "
- ^orange;Sayter^reset; - Original UI designer
- ^orange;[fox emoji]^reset; - Some scripts for the new SAIL, and scan-for-blueprint used as base for scan-interaction
- ^orange;Hubnester^reset; + ^orange;Lucca^reset; - Original creators of the FU music player
",
	
	"info" : "
Welcome to Ztarbound; A mod that aims to improve some of the untouched by mods vanilla aspects and add some more tools for modders to play with!
Ztarbound does not add any content of its own (Other than a few things), as its aim is to add features instead of content.
Some of those feature are...

 - Update Info Window -
Unless constantly keeping track of installed mods, players have no proper way of telling whether something updated. Especially if they have a lot of mods installed.
This window aims to fix that by popping up whenever a mod is updated, displaying some information about the mod, as well as a changelog.

 - Research System -
A system that gives the option to organize progression in a more strict fashion, and preventing the player from getting lost in a sea of content.
Using this, you can lock blueprints behind research with varying prices, trigger certain events, or even make a skill tree!

 - Questlist -
An organized place to view lists of quests and their requirements.
Useful for tutorials, storylines, or just making a 'to-do' list.

 - Scan Interactions -
Ever wanted to hide a button from the infamous 'alt' key?
Or maybe make your our scan quests?
Maybe an object that displays dynamic data?
Well this addition adds the option to set up a 'what happens when this object is scanned' function!

 - New SAIL -
Not only did SAIL get a new look, but it now comes with a handful of extra options!
View currencies added by other mods that cannot be viewed on the inventory pane.
Missions are split to main and secondary, as well as displaying which missions are replays.
And the option to add your own functions to SAIL.
Fully compatible with Scripted SAIL.
If you're using a custom race, you must install the race patch which is linked on Ztarbounds mod page.

 - Utility + Example Scripts -
There are some scripts which can help with making a text be typed out instead of appearing instantly, fading hex colors, rolling dice, and more!
And some example for setting up your own things, such a function upon leaving/entering a world.

 - And more to come! -

Documentation for using these feature can be found inside the '_doc' folder on the Github repo of this mod.
You can find the link to it on Ztarbounds mod page.

Be advised: Ztarbound is already built into Frackin' Universe, so there's no point in having them both installed.

Questions? Complaints? Suggestions? Random chit-chat?
You can reach me via Discord. Link is posted on Ztarbounds mod page.
"
}
