{
  // Defines racial manipulators
  "manipulators" : {
    "apex" : {
      "item" : "beamaxeapex"
    },
    "elunite" : {
      "item" : "beamaxeelunite"
    },
    "hylotl" : {
      "item" : "beamaxehylotl",
      "collectLiquid" : true
    }
  },

  // Links JSON objects in raceEffects to scripts run in raceability
  "scriptMaps" : {
    "envEffects" : "/scripts/fr_scripts/envEffects.lua",       // Environmental effects
      "liquidEffects" : "/scripts/fr_scripts/liquidEffect.lua", // Liquid effects
      "aerialEffect" : "/scripts/fr_scripts/aerialEffect.lua",   // Aerial effects
      "weaponEffects" : "/scripts/fr_scripts/weaponEffects.lua"  // Weapon-held effects
  },

    // Biome groups used for environmental effects
  "biomeGroups" : {
    "hot" : [ "arboreal2","scorchedcity", "desert", "desertwastes", "desertwastesdark", "magma", "magmadark", "volcanic", "volcanicdark", "infernus", "infernusdark"],
    "cold" : [ "snow", "snowdark", "tundra", "arctic", "arcticdark", "nitrogensea", "icemoon", "frozenvolcanic", "icewaste", "icewastedark" ],
    "electric" : [ "crystalmoon","aethersea","sulphuric","sulphuricdark","fungal","protoworld","chromatic","moon_stone" ],
    "jungle" : [ "thickjungle", "forest", "jungle", "bog", "arboreal", "arboreal2", "arborealdark" ],
    "moon" : [ "moon", "moon_shadow", "moon_toxic", "moon_desert", "moon_stone", "moon_volcanic", "icemoon" ],
    "ocean" : [ "ocean", "oceanfloor", "tidewater", "tidewaterfloor" ],
    "flesh" : [ "atropus", "atropusdark", "tentacle", "bloodstonesea", "bloodstoneseafloor", "strangesea", "strangeseafloor" ],
    "dark" : [ "midnight", "penumbra", "lightless", "tidewaterfloor", "tidewater", "tundradark", "sulphuricdark", "icewastedark", "infernusdark", "atropusdark" ]
  }
}
