{
  // You can change these values by setting what comes after the name for each of them
  // The following settings have a limited number of options that set how they affect creatures of their type

  // These are the possible values
  //    "none" :         no creatures of that type will take fall damage

  //    "all" :          all creatures of that type will take fall damage

  //    "aggressive" :   only creatures that are hostile will take fall damage

  "monsters" : "all",

  "npcs" : "aggressive"
}