{
  "vanilla_tiles" : {
    "clay" : {
      "brittle" : 1,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 101,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0
      },
      "damage" : 3,
      "effects" : [ "fuclayslow" ],
      "options" : [ "/sfx/blocks/footstep_ash.ogg" ],
      "softness" : 1.75
    },
    "cloudblock" : {
      "brittle" : 10,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 101,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 1.0
      },
      "damage" : 10,
      "effects" : [ "lowgrav" ],
      "options" : [ "/sfx/blocks/footstep_ash.ogg" ],
      "softness" : 1.2
    },
    "frozenwater" : {
      "brittle" : 10,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 100,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "damage" : 3,
      "effects" : [ "iceslip" ],
      "options" : [ "/sfx/objects/ice_break1.ogg" ],
      "softness" : 1
    },
    "glass" : {
      "brittle" : 10,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 101,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "damage" : 5,
      "effects" : [],
      "options" : [ "/sfx/objects/prism_break_large2.ogg" ],
      "softness" : 1
    },
    "ice" : {
      "brittle" : 10,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 100,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "damage" : 3,
      "effects" : [ "iceslip" ],
      "options" : [ "/sfx/objects/ice_break1.ogg" ],
      "softness" : 1
    },
    "iceblock" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 10,
        "normalGroundFriction" : 0.5,
        "slopeSlidingFactor" : 0.5
      },
      "effects" : [],
      "options" : [],
      "softness" : 1
    },
    "mud" : {
      "brittle" : 1,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 0.8,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 101,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.25
      },
      "damage" : 3,
      "effects" : [ "fumudslow" ],
      "options" : [ "/sfx/blocks/footstep_ash.ogg" ],
      "softness" : 1.75
    },
    "sand" : {
      "brittle" : 2,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 101,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.5
      },
      "damage" : 3,
      "effects" : [ "jungleslow" ],
      "options" : [ "/sfx/blocks/footstep_ash.ogg" ],
      "softness" : 1.9
    },
    "sewage" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 0.7,
        "groundMovementModifier" : 0.5,
        "runModifier" : 0.7
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 20,
        "normalGroundFriction" : 6.0,
        "slopeSlidingFactor" : 0.2
      },
      "effects" : [],
      "options" : [],
      "softness" : 0.75
    },
    "slime" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 1,
        "groundForce" : 101,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 1.0
      },
      "effects" : [ "slimestick" ],
      "options" : [],
      "softness" : 1.75
    },
    "slush" : {
      "brittle" : 8,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 100,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "damage" : 3,
      "effects" : [ "slushslow" ],
      "options" : [ "/sfx/blocks/footstep_ash.ogg" ],
      "softness" : 1
    },
    "snow" : {
      "brittle" : 8,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 100,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "damage" : 3,
      "effects" : [ "snowslow" ],
      "options" : [ "/sfx/blocks/footstep_ash.ogg" ],
      "softness" : 1
    },
    "spidersilkblock" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 101,
        "normalGroundFriction" : 40,
        "slopeSlidingFactor" : 0.0
      },
      "effects" : [ "webstick" ],
      "options" : [],
      "softness" : 1.32
    },
	"spidersilkblockmik" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 101,
        "normalGroundFriction" : 40,
        "slopeSlidingFactor" : 0.0
      },
      "effects" : [ "webstick" ],
      "options" : [],
      "softness" : 1.32
    },
    "tar" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 0.7,
        "groundMovementModifier" : 0.5,
        "runModifier" : 0.7
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 75,
        "normalGroundFriction" : 8.0,
        "slopeSlidingFactor" : 0.2
      },
      "effects" : [],
      "options" : [],
      "softness" : 0.75
    }
  },
  
  "FU_tiles" : {
    "asphalt" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 100,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "effects" : [ "metalspeed" ],
      "options" : [],
      "softness" : 1.4
    },
    "bioblock" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 100,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "effects" : [ "fumudslow" ],
      "options" : [],
      "softness" : 1.1
    },
    "bioblock2" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 100,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "effects" : [ "percentarmorboostnegproto" ],
      "options" : [],
      "softness" : 1.2
    },
    "blackslime" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 101,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 1.5
      },
      "effects" : [ "slimestick", "weakpoison" ],
      "options" : [],
      "softness" : 1.65
    },
    "crystalsand" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 101,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.5
      },
      "effects" : [ "jungleslow" ],
      "options" : [],
      "softness" : 1.9
    },
    "fublueslime" : {
      "brittle" : 2,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 1,
        "groundForce" : 100,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "damage" : "/sfx/blocks/footstep_ash.ogg",
      "effects" : [ "regenerationblock", "slimestick" ],
      "options" : [],
      "softness" : 1.1
    },
    "fublueslimedirt" : {
      "brittle" : 2,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 1,
        "groundForce" : 100,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "damage" : "/sfx/blocks/footstep_ash.ogg",
      "effects" : [ "regenerationblock", "slimestick" ],
      "options" : [],
      "softness" : 1.1
    },
    "fublueslimestone" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0.5,
        "groundForce" : 100,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "effects" : [ "regenerationblock", "slimestick" ],
      "options" : [],
      "softness" : 1.1
    },
    "fujellyblock" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 1,
        "groundForce" : 101,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 1.0
      },
      "effects" : [ "slimestick" ],
      "options" : [],
      "softness" : 1.75
    },
    "glasssand" : {
      "brittle" : 5,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 101,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.5
      },
      "damage" : 5,
      "effects" : [ "jungleslow" ],
      "options" : [ "/sfx/blocks/footstep_ash.ogg" ],
      "softness" : 1.9
    },
    "glowingsand" : {
      "brittle" : 2,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 101,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.5
      },
      "damage" : 3,
      "effects" : [ "glow" ],
      "options" : [ "/sfx/blocks/footstep_ash.ogg" ],
      "softness" : 1.2
    },
    "honeycombmaterial" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 101,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "effects" : [ "honeyslow" ],
      "options" : [],
      "softness" : 1.7
    },
    "iceblock1" : {
      "brittle" : 3,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 100,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "damage" : 3,
      "effects" : [ "iceslip" ],
      "options" : [ "/sfx/objects/ice_break1.ogg" ],
      "softness" : 1
    },
    "iceblock2" : {
      "brittle" : 3,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 100,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "damage" : 3,
      "effects" : [ "iceslip" ],
      "options" : [ "/sfx/objects/ice_break1.ogg" ],
      "softness" : 1
    },
    "iceblock3" : {
      "brittle" : 3,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 101,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 1.0
      },
      "damage" : 3,
      "effects" : [ "iceslip3" ],
      "options" : [ "/sfx/objects/ice_break1.ogg" ],
      "softness" : 1.2
    },
    "iceblock4" : {
      "brittle" : 3,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 101,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 1.0
      },
      "damage" : 3,
      "effects" : [ "iceslip2" ],
      "options" : [ "/sfx/objects/ice_break1.ogg" ],
      "softness" : 1.2
    },
    "irradiatedtile" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 100,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "effects" : [ "negativehealthirradiated" ],
      "options" : [],
      "softness" : 1
    },
    "irradiatedtile2" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 100,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "effects" : [ "percentarmorboostnegproto" ],
      "options" : [],
      "softness" : 1
    },
    "irradiatedtile3" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 100,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "effects" : [ "radiationburn" ],
      "options" : [],
      "softness" : 1
    },
    "jellyblock" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 1,
        "groundForce" : 101,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 1.0
      },
      "effects" : [ "slimestick" ],
      "options" : [],
      "softness" : 1.75
    },
    "jellystone" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 1,
        "groundForce" : 100,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "effects" : [ "jumpboost15" ],
      "options" : [],
      "softness" : 1
    },
    "jumpblock" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 101,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "effects" : [ "jumpboost35" ],
      "options" : [],
      "softness" : 1.75
    },
    "jungledirt1" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 100,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "effects" : [ "jungleslow" ],
      "options" : [],
      "softness" : 1
    },
    "jungledirt2" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 100,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "effects" : [ "jungleslow" ],
      "options" : [],
      "softness" : 1
    },
    "magmatile1" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 100,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "damage" : 0,
      "effects" : [ "burning" ],
      "options" : [],
      "softness" : 1
    },
    "magmatile2" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 100,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "damage" : 0,
      "effects" : [ "burning" ],
      "options" : [],
      "softness" : 1
    },
    "magmatile3" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 100,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "damage" : 0,
      "effects" : [ ],
      "options" : [],
      "softness" : 1
    },
    "magmatile4" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 100,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "damage" : 0,
      "effects" : [ ],
      "options" : [],
      "softness" : 1
    },
    "metallic" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 100,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "effects" : [ "metalspeed" ],
      "options" : [],
      "softness" : 1.3
    },
    "moltenmetal" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 101,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "effects" : [ "burning" ],
      "options" : [],
      "softness" : 1.75
    },
    "moltensand" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 101,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "effects" : [ "burning" ],
      "options" : [],
      "softness" : 1.75
    },
    "moltensteel" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 101,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "effects" : [ "burning" ],
      "options" : [],
      "softness" : 1.75
    },
    "moltentile" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 101,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "effects" : [ "burning" ],
      "options" : [],
      "softness" : 1.75
    },
    "protorock" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 100,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "effects" : [ "ffextremeradiation" ],
      "options" : [],
      "softness" : 1.3
    },
    "rainbowsand" : {
      "brittle" : 2,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 101,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.5
      },
      "damage" : 3,
      "effects" : [ "jungleslow" ],
      "options" : [ "/sfx/blocks/footstep_ash.ogg" ],
      "softness" : 1.2
    },
    "raincloud" : {
      "brittle" : 10,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 101,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 1.0
      },
      "damage" : 10,
      "effects" : [ "lowgrav_fallspeed" ],
      "options" : [ "/sfx/blocks/footstep_ash.ogg" ],
      "softness" : 1.2
    },
    "redhotcobblestone" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 100,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "damage" : 0,
      "effects" : [ "burning" ],
      "options" : [],
      "softness" : 1
    },
    "redsand" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 101,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.5
      },
      "effects" : [ "jungleslow" ],
      "options" : [],
      "softness" : 1.9
    },
    "slime2" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 1,
        "groundForce" : 101,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 1.0
      },
      "effects" : [ "slimestick" ],
      "options" : [],
      "softness" : 1.75
    },
    "speedblock" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 101,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "effects" : [ "runboost35" ],
      "options" : [],
      "softness" : 1.75
    },
    "springvines" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 100,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "effects" : [ "jungleslow" ],
      "options" : [],
      "softness" : 1
    },
    "swampdirtff" : {
      "brittle" : false,
      "controlModifiers" : {
        "airJumpModifier" : 1,
        "groundMovementModifier" : 1,
        "runModifier" : 1
      },
      "controlParameters" : {
        "bounceFactor" : 0,
        "groundForce" : 100,
        "normalGroundFriction" : 14,
        "slopeSlidingFactor" : 0.0
      },
      "effects" : [ "jungleslow" ],
      "options" : [],
      "softness" : 1
    }
  }
}