{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/objectcrafting/cloner/cloner_header.png",
      "fileBody" : "/interface/objectcrafting/cloner/cloner_body.png",
      "fileFooter" : "/interface/objectcrafting/cloner/cloner_footer.png"
    },
    "toggleCrafting" : {
      "type" : "button",
      "position" : [5, 39],
      "base" : "/interface/objectcrafting/cloner/clone.png",
      "hover" : "/interface/objectcrafting/cloner/cloneover.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [70, 37],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
	  "slotOffset" : 1,
      "position" : [90, 37],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
	  "slotOffset" : 2,
      "position" : [130, 37],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },

    "pointer" : {
      "type" : "image",
      "position" : [110, 40],
      "file" : "/interface/objectcrafting/arrow.png"
    },

    "overlay" : {
      "type" : "image",
      "file" : "/interface/objectcrafting/cloner/cloner_shine.png",
      "position" : [-20, 20]
    }
  }
}

