{
    "gui" : {
        "background" : {
            "zlevel" : 0,
            "type" : "background",
            "fileHeader" : "/interface/scripted/mmutility/header.png",
            "fileBody" : "/interface/scripted/mmutility/body.png",
            "fileFooter" : "/interface/scripted/mmutility/footer.png"
        },

        "title" : {
            "type" : "label",
            "position" : [10, 140],
            "vAnchor" : "bottom",
            "hAnchor" : "left",
            "value" : "Configure MM"
        },

        "close" : {
            "type" : "button",
            "base" : "/interface/x.png",
            "hover" : "/interface/xhover.png",
            "pressed" : "/interface/xpress.png",
            "pressedOffset" : [0, 0],
            "callback" : "close",
            "position" : [88, 139]
        },

        // Slots for swapping tools
        "beamaxeSlot" : {
            "type" : "itemslot",
            "backingImage" : "/interface/inventory/emptier.png",
            "position" : [10, 117],
            "callback" : "swapMM",
            "rightClickCallback" : "swapMM"
        },
        "wiretoolSlot" : {
            "type" : "itemslot",
            "backingImage" : "/interface/inventory/emptier.png",
            "position" : [31, 117],
            "callback" : "swapTool",
            "rightClickCallback" : "swapTool"
        },
        "painttoolSlot" : {
            "type" : "itemslot",
            "backingImage" : "/interface/inventory/emptier.png",
            "position" : [52, 117],
            "callback" : "swapTool",
            "rightClickCallback" : "swapTool"
        },
        "inspectiontoolSlot" : {
            "type" : "itemslot",
            "backingImage" : "/interface/inventory/emptier.png",
            "position" : [74, 117],
            "callback" : "swapTool",
            "rightClickCallback" : "swapTool"
        },

        // Size label/spinner
        "sizeLabel" : {
            "type" : "label",
            "position" : [10, 106],
            "vAnchor" : "bottom",
            "hAnchor" : "left",
            "color" : "green",
            "value" : "Radius:"
        },
        "sizeSpinner" : {
            "type" : "spinner",
            "position" : [67, 106],
            "upOffset" : 23
        },
        "sizeSpinnerLB" : {
            "type" : "label",
            "position" : [83, 106],
            "vAnchor" : "bottom",
            "hAnchor" : "mid",
            "color" : "green",
            "value" : ""
        },

      // Alt size label/spinner
        "altSizeLabel" : {
            "type" : "label",
            "position" : [10, 92],
            "vAnchor" : "bottom",
            "hAnchor" : "left",
            "color" : "green",
            "value" : "Alt Radius:"
        },
        "altSizeSpinner" : {
            "type" : "spinner",
            "position" : [67, 92],
            "upOffset" : 23
        },
        "altSizeSpinnerLB" : {
            "type" : "label",
            "position" : [83, 92],
            "vAnchor" : "bottom",
            "hAnchor" : "mid",
            "color" : "green",
            "value" : ""
        },

        // Paint size label/spinner
        "paintSizeLabel" : {
            "type" : "label",
            "position" : [10, 78],
            "vAnchor" : "bottom",
            "hAnchor" : "left",
            "color" : "green",
            "value" : "Paint R:"
        },
        "paintSizeSpinner" : {
            "type" : "spinner",
            "position" : [67, 78],
            "upOffset" : 23
        },
        "paintSizeSpinnerLB" : {
            "type" : "label",
            "position" : [83, 78],
            "vAnchor" : "bottom",
            "hAnchor" : "mid",
            "color" : "green",
            "value" : ""
        },

        // Alt paint size label/spinner
        "altPaintSizeLabel" : {
            "type" : "label",
            "position" : [10, 64],
            "vAnchor" : "bottom",
            "hAnchor" : "left",
            "color" : "green",
            "value" : "Alt Paint R:"
        },
        "altPaintSizeSpinner" : {
            "type" : "spinner",
            "position" : [67, 64],
            "upOffset" : 23
        },
        "altPaintSizeSpinnerLB" : {
            "type" : "label",
            "position" : [83, 64],
            "vAnchor" : "bottom",
            "hAnchor" : "mid",
            "color" : "green",
            "value" : ""
        },

        // Block and liquid collection checkboxes
        /*"collectBlocksLabel" : {
            "type" : "label",
            "position" : [10, 51],
            "vAnchor" : "bottom",
            "hAnchor" : "left",
            "color" : "green",
            "value" : "Collect Blocks:"
        },*/
        "collectLiquidsLabel" : {
            "type" : "label",
            "position" : [10, 37],
            "vAnchor" : "bottom",
            "hAnchor" : "left",
            "color" : "green",
            "value" : "Collect Liquids:"
        },
        /*"collectBlocksCheckbox" : {
            "type" : "button",
            "position" : [78, 51],
            "checkable" : true,
            "checked" : true,
            "base" : "/interface/optionsmenu/checkboxnocheck.png",
            "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
            "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
            "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
            "callback" : "blockCheckbox"
        },*/
        "collectLiquidsCheckbox" : {
            "type" : "button",
            "position" : [78, 37],
            "checkable" : true,
            "checked" : false,
            "base" : "/interface/optionsmenu/checkboxnocheck.png",
            "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
            "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
            "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
            "callback" : "liquidsCheckbox"
        }
    },

    "scriptWidgetCallbacks" : [
        "swapMM",
        "swapTool",
        "sizeSpinner.up",
        "sizeSpinner.down",
        "altSizeSpinner.up",
        "altSizeSpinner.down",
        "paintSizeSpinner.up",
        "paintSizeSpinner.down",
        "altPaintSizeSpinner.up",
        "altPaintSizeSpinner.down",
        //"blockCheckbox",
        "liquidsCheckbox"
    ],

    "scripts" : ["/interface/scripted/mmutility/mmutility.lua"],
    "scriptDelta" : 1,

    "autoRefreshRate" : 0.5
}
