{
  "openWithInventory" : false,
  "startX" : 100,
  "startY" : 100,
  "gui" :
  {
    "background" :
    {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/mechstats/header.png",
      "fileBody" : "/interface/mechstats/body.png",
      "fileFooter" : "/interface/mechstats/footer.png"
    },
    "windowtitle" :
    {
      "type" : "title",
      "title" : "  Mech Loadouts Screen",
      "subtitle" : "Change your mech items with one click!",
      "icon" : {
        "type" : "image",
        "file" : "/interface/mechstats/iconfull.png",
        "zlevel" : -1
      }
    },
    "imgDisabledOverlay" :
    {
      "type" : "image",
      "zlevel" : 5,
      "position" : [0, 22],
      "file" : "/interface/mechstats/disabled.png"
    },
    "cvsPreview" :
    {
      "type" : "canvas",
      "rect" : [168, 70, 282, 150],
      "zlevel" : 1,
      "captureMouseEvents" : false,
      "captureKeyboardEvents" : false
    },
    "itemSlot_body" :
    {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [138, 129],
      "callback" : "null",
      "rightClickCallback" : "null",
      "backingImage" : "/interface/fublank.png"
    },
    "itemSlot_leftArm" :
    {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [138, 107],
      "callback" : "null",
      "rightClickCallback" : "null",
      "backingImage" : "/interface/fublank.png"
    },
    "itemSlot_legs" :
    {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [138, 85],
      "callback" : "null",
      "rightClickCallback" : "null",
      "backingImage" : "/interface/fublank.png"
    },
    "itemSlot_booster" :
    {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [160, 129],
      "callback" : "null",
      "rightClickCallback" : "null",
      "backingImage" : "/interface/fublank.png"
    },
    "itemSlot_rightArm" :
    {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [160, 107],
      "callback" : "null",
      "rightClickCallback" : "null",
      "backingImage" : "/interface/fublank.png"
    },
    "itemSlot_horn" :
    {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [160, 85],
      "callback" : "null",
      "rightClickCallback" : "null",
      "backingImage" : "/interface/fublank.png"
    },
    "itemSlot_chip1" :
    {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [131, 46],
      "callback" : "null",
      "rightClickCallback" : "null",
      "backingImage" : "/interface/fublank.png"
    },
    "itemSlot_chip2" :
    {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [149, 46],
      "callback" : "null",
      "rightClickCallback" : "null",
      "backingImage" : "/interface/fublank.png"
    },
    "itemSlot_chip3" :
    {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [167, 46],
      "callback" : "null",
      "rightClickCallback" : "null",
      "backingImage" : "/interface/fublank.png"
    },
    "itemSlot_expansion" :
    {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [149, 64],
      "callback" : "null",
      "rightClickCallback" : "null",
      "backingImage" : "/interface/fublank.png"
    },
    "imgHealthBar" :
    {
      "type" : "image",
      "file" : "/interface/scripted/mechassembly/energy_bar.png",
      "zlevel" : 1,
      "position" : [191, 61]
    },
    "lblHealth" :
    {
      "type" : "label",
      "zlevel" : 2,
      "position" : [228, 65],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : ""
    },
    "imgEnergyBar" :
    {
      "type" : "image",
      "file" : "/interface/scripted/mechassembly/energy_bar.png",
      "zlevel" : 1,
      "position" : [191, 51]
    },
    "lblEnergy" :
    {
      "type" : "label",
      "zlevel" : 2,
      "position" : [228, 55],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : ""
    },
    "lblDrain" :
    {
      "type" : "label",
      "zlevel" : 2,
      "position" : [228, 45],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : ""
    },
    "lblStatus" : {
      "type" : "label",
      "zlevel" : 6,
      "position" : [141, 35],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : ""
    },
    "lblMass" :
    {
      "type" : "label",
      "zlevel" : 6,
      "position" : [8, 73],
      "hAnchor" : "left",
      "value" : ""
    },
    "lblHealthBonus" :
    {
      "type" : "label",
      "zlevel" : 6,
      "position" : [8, 64],
      "hAnchor" : "left",
      "value" : ""
    },
    "lblSpeedPenalty" :
    {
      "type" : "label",
      "zlevel" : 6,
      "position" : [8, 55],
      "hAnchor" : "left",
      "value" : ""
    },
    "lblEnergyPenalty" :
    {
      "type" : "label",
      "zlevel" : 6,
      "position" : [8, 45],
      "hAnchor" : "left",
      "value" : ""
    },
    "lblLoadoutSelect" :
    {
      "type" : "label",
      "zlevel" : 2,
      "position" : [5, 142],
      "hAnchor" : "left",
      "value" : "Select your current loadout:"
    },
    "lblLoadout1" :
    {
      "type" : "label",
      "zlevel" : 2,
      "position" : [15, 125],
      "hAnchor" : "left",
      "value" : "Loadout 1"
    },
    "lblLoadout2" :
    {
      "type" : "label",
      "zlevel" : 2,
      "position" : [16, 109],
      "hAnchor" : "left",
      "value" : "Loadout 2"
    },
    "lblLoadout3" :
    {
      "type" : "label",
      "zlevel" : 2,
      "position" : [16, 93],
      "hAnchor" : "left",
      "value" : "Loadout 3"
    },
    "radioLoadouts" :
    {
      "type": "radioGroup",
      "toggleMode": false,
      "zlevel": 1,
      "callback" : "changeLoadout",
      "buttons":
      [
        {
          "id" : 1,
          "baseImage": "/interface/mechstats/checkboxnocheck.png",
          "baseImageChecked": "/interface/mechstats/checkboxcheck.png",
          "selected": false,
          "position" : [5, 126]
        },
        {
          "id" : 2,
          "baseImage": "/interface/mechstats/checkboxnocheck.png",
          "baseImageChecked": "/interface/mechstats/checkboxcheck.png",
          "selected": false,
          "position" : [5, 110]
        },
        {
          "id" : 3,
          "baseImage": "/interface/mechstats/checkboxnocheck.png",
          "baseImageChecked": "/interface/mechstats/checkboxcheck.png",
          "selected": false,
          "position" : [5, 94]
        }
      ]
    },
    "close" :
    {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "callback" : "close",
      "position" : [264, 160]
    }
  },

  "scriptWidgetCallbacks" :
  [
    "changeLoadout"
  ],

  "scripts" : ["/interface/mechstats/mechstats.lua"],
  "scriptDelta" : 10
}
