{
  "gui":
  {
    "background":
    {
      "type" : "background",
      "zlevel" : 0,
      "fileHeader" : "/interface/shipnameplate/bg_header.png",
      "fileBody" : "/interface/shipnameplate/bg_body.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : " Ship Commemoration Plaque",
      "subtitle" : " Configuration",
      "icon" : {
        "type" : "image",
        "file" : "/interface/shipnameplate/title_icon.png",
        "zlevel" : -1
      }
    },

    "btnAccept":
    {
      "type" : "button",
      "caption" : "Accept",
      "position" : [12,8],
      "callback" : "btnAccept_Click",
      "base" : "/interface/objectcrafting/refine.png",
      "hover" : "/interface/objectcrafting/refineover.png"
    },

    "lblName":
    {
      "type" : "label",
      "value" : "Ship Name:",
      "position" : [12, 64 ]
    },
    "label2":
    {
      "type" : "label",
      "value" : "Ship Type:",
      "position" : [12, 52 ]
    },
    "tboxName":
    {
      "type" : "textbox",
      "position" : [60, 64 ],
      "hint" : "Name",
      "maxWidth" : 72,
      "focus" : true
    },

    "btnPickLeft":
    {
      "type" : "button",
      "caption" : "",
      "position" : [60,52],
      "callback" : "btnPickLeft_Click",
      "base" : "/interface/pickleft.png",
      "hover" : "/interface/pickleftover.png"
    },

    "btnPickRight":
    {
      "type" : "button",
      "caption" : "",
      "position" : [68,52],
      "callback" : "btnPickRight_Click",
      "base" : "/interface/pickright.png",
      "hover" : "/interface/pickrightover.png"
    },
    "lblType":
    {
      "type" : "label",
      "value" : "Cruiser",
      "position" : [ 80, 52 ]
    },
    "lblDate":
    {
        "type" : "label",
        "value" : "%stardate%",
        "position": [12, 32]
    }
  },
  "scripts" : ["/interface/shipnameplate/fu_shipnameplate_ui.lua"],
  "scriptDelta" : 10,
  "scriptWidgetCallbacks" : ["btnAccept_Click","tboxName","btnPickLeft_Click","btnPickRight_Click"],
  "shipTypes" : [
    "Cruiser",
    "Freighter",
    "Escort",
    "Starship",
    "Battleship",
    "Peacekeeper",
    "Science",
    "Medical",
    "Patrol",
    "Recon",
    "Stealth",
    "Explorer",
    "Colony",
    "Transport",
    "Courier",
    "Fighter",
    "Destroyer",
    "Dreadnought",
    "Flagship",
    "Carrier",
    "Repair",
    "Utility",
    "Envoy",
    "Shuttle",
    "Pirate",
    "Raider",
    "Experimental",
    "Special",
    "Derelict",
    "Unknown"
  ]
}