{

  //Vanilla
  "apextier1setcount"  : "apextier1setbonus",
  "aviantier1setcount"  : "aviantier1setbonus",
  "florantier1setcount"  : "florantier1setbonus",
  "glitchtier1setcount"  : "glitchtier1setbonus",
  "humantier1setcount"  : "humantier1setbonus",
  "hylotltier1setcount"  : "hylotltier1setbonus",
  "novakidtier1setcount"  : "novakidtier1setbonus",
  

  //Xi armors
  "radienleathersetcount" : "leathersetbonusradien",
  "radientungstensetcount" : "tungstensetbonusradien",
  "radienchitinsetcount" : "chitinsetbonusradien",
  "radienpyreitesetcount" : "pyreitesetbonusradien",
  
  // Tier 1
  "bonesetcount"        : "bonesetbonus",
  "leathersetcount"     : "leathersetbonus",
  "missionarysetcount"  : "missionarysetbonus",
  "plebiansetcount"     : "plebiansetbonus",
  "underworldsetcount"  : "underworldsetbonus",
  "bloodhoundsetcount"  : "bloodhoundsetbonus",
  "spacediversetcount" 	: "spacediversetbonus",
  
  
  // Tier 2
  "bearsetcount"        : "bearsetbonus",
  "blistersetcount"     : "blistersetbonus",
  "wolfsetcount"        : "wolfsetbonus",
  "slimesetcount"       : "slimesetbonus",
  "bonesteelsetcount"   : "bonesteelsetbonus",
  "reconsetcount"       : "reconsetbonus",
  "hackersetcount"      : "hackersetbonus",
  "lunarisetcount"      : "lunarisetbonus",
  "stalwartsetcount"    : "stalwartsetbonus",
  "footmansetcount"     : "footmansetbonus",
  "militiasetcount"     : "militiasetbonus",
  "nomadsetcount"       : "nomadsetbonus",
  "operativesetcount"   : "operativesetbonus",
  "samuraisetcount"     : "samuraisetbonus",
  "samuraiset2count"     : "samuraiset2bonus",  
  "samuraisetcountloot" : "samuraisetbonusloot",
  "sanguinesetcount"    : "sanguinesetbonus",
  "swashbucklersetcount" : "swashbucklersetbonus",
  "tw_spacesuitsetcount" : "tw_spacesuitsetbonus",
  "vagabondsetcount"    : "vagabondsetbonus",
  "diplomatsetcount"  : "diplomatsetbonus",
  
  // Tier 3
  "assaultsetcount"       : "assaultsetbonus",
  "warriorrobessetcount"  : "warriorrobessetbonus",
  "battlebornsetcount"    : "battlebornsetbonus",
  "chaossetcount"         : "chaossetbonus",
  "chitinsetcount"        : "chitinsetbonus",
  "corsairsetcount"       : "corsairsetbonus",
  "dwellersetcount"       : "dwellersetbonus",
  "evasetcount"           : "evasetbonus",
  "evadersetcount"        : "evadersetbonus",
  "slime2setcount"        : "slimesetbonus2",
  "hoplitesetcount"       : "hoplitesetbonus",
  "intrepidsetcount"      : "intrepidsetbonus",
  "junkersetcount"        : "junkersetbonus",
  "lightpriestsetcount"   : "lightpriestsetbonus",
  "raidersetcount"        : "raidersetbonus",
  "recon2setcount"        : "reconsetbonus2",
  "gendarmesetcount"      : "gendarmesetbonus",
  "mutavisksetcount"      : "mutavisksetbonus",
  "nautilussetcount"      : "nautilussetbonus",
  "samurai2setcount"      : "samuraisetbonus2",
  "scoutsetcount"         : "scoutsetbonus",
  "shieldedsetcount"      : "shieldedsetbonus",
  "sirensetcount"         : "sirensetbonus",
  "slayersetcount"        : "slayersetbonus",
  "spacefarersetcount"    : "spacefarersetbonus",
  "stalkersetcount"       : "stalkersetbonus",
  "steampunksetcount"     : "steampunksetbonus",
  "researchsetcount"      : "researchsetbonus",
  "tw_spacesuit2setcount" : "tw_spacesuitsetbonus2",
  "wanderersetcount"      : "wanderersetbonus",
  "rimworldersetcount"    : "rimworldersetbonus",

  // Tier 4
  "agentsetcount"       : "agentsetbonus",
  "mavericksetcount"  : "mavericksetbonus",
  
  // Tier 6
  "isogensetcount"      : "isogensetbonus"
}
