{
  // Tier 1
  "bonesetcount"        : "bonesetbonus",
  "leathersetcount"     : "leathersetbonus",
  "missionarysetcount"  : "missionarysetbonus",
  "plebiansetcount"     : "plebiansetbonus",
  "underworldsetcount"  : "underworldsetbonus",

  // Tier 2
  "bearsetcount"        : "bearsetbonus",
  "blistersetcount"     : "blistersetbonus",
  "wolfsetcount"        : "wolfsetbonus",
  "slimesetcount"       : "slimesetbonus",
  "bonesteelsetcount"   : "bonesteelsetbonus",
  "reconsetcount"       : "reconsetbonus",
  "hackersetcount"      : "hackersetbonus",
  "lunarisetcount"      : "lunarisetbonus",
  "stalwartsetcount"    : "stalwartsetbonus",
  "footmansetcount"     : "footmansetbonus",
  "militiasetcount"     : "militiasetbonus",
  "nomadsetcount"       : "nomadsetbonus",
  "operativesetcount"   : "operativesetbonus",
  "samuraisetcount"     : "samuraisetbonus",
  "sanguinesetcount"    : "sanguinesetbonus",
  "radienleathersetcount" : "leathersetbonusradien",
  "swashbucklersetcount" : "swashbucklersetbonus",
  "tw_spacesuitsetcount" : "tw_spacesuitsetbonus",
  "vagabondsetcount"    : "vagabondsetbonus",

  // Tier 3
  "assaultsetcount"       : "assaultsetbonus",
  "warriorrobessetcount"  : "warriorrobessetbonus",
  "battlebornsetcount"    : "battlebornsetbonus",
  "chaossetcount"         : "chaossetbonus",

  // Tier 4
  "agentsetcount"       : "agentsetbonus",

  // Tier 6
  "isogensetcount"      : "isogensetbonus"
}
