{
  // Tier 1
  "bonesetcount"        : "bonesetbonus",
  "leathersetcount"     : "leathersetbonus",
  "missionarysetcount"  : "missionarysetbonus",
  "plebiansetcount"     : "plebiansetbonus",
  "underworldsetcount"  : "underworldsetbonus",
  // Tier 2
  "bearsetcount"        : "bearsetbonus",
  "blistersetcount"     : "blistersetbonus",
  "wolfsetcount"        : "wolfsetbonus",
  "slimesetcount"       : "slimesetbonus",
  "bonesteelsetcount"   : "bonesteelsetbonus",
  "reconsetcount"       : "reconsetbonus",
  // Tier 4
  "agentsetcount"       : "agentsetbonus",
  // Tier 6
  "isogensetcount"      : "isogensetbonus"
}
