{
	"gui" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/kheAA/kheAA_terminal/header.png",
			"fileBody" : "/interface/kheAA/kheAA_terminal/body.png"
		},
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      //position: horizontal, vertical
      "position" : [173, 292]
    },		
		"itemGrid" : {
			"type" : "itemgrid",
			"position" : [-100, 0],
			"dimensions" : [0,0],
			"spacing" : [22, 20],
			"backingImage" : "/interface/inventory/empty.png"
		},
		"scrollArea" : {
			"type" : "scrollArea",
			"rect" : [10, 86, 179, 265],
			"children" : {
				"itemList" : {
					"type" : "list",
					"schema" : {
						"selectedBG" : "/interface/crafting/craftableselected2.png",
						"unselectedBG" : "/interface/crafting/craftablebackground.png",
						"spacing" : [0, 1],
						"memberSize" : [159, 20],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/interface/crafting/craftablebackground.png",
								"position" : [2, 0],
								"zlevel" : -1
							},
							"itemName" : {
								"type" : "label",
								"position" : [25, 10],
								"hAnchor" : "left",
								"value" : "Replace Me"
							},
							"amount" : {
								"type" : "label",
								"position" : [153, 1],
								"hAnchor" : "right",
								"value" : "x999"
							},
							"itemIcon" : {
								"type" : "image",
								"position" : [4, 2]
							},
							"compositeIcon" : {
								"type" : "list",
								"schema" : {
									"spacing" : [0, -32],
									"memberSize" : [16, 32],
									"position" : [4, 0],
									"listTemplate" : {
										"icon" : {
											"type" : "image",
											"position" : [8, 0],
											"scale" : 0.4
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"filterBox" : {
			"type" : "textbox",
			"position" : [22, 69],
			"textAlign" : "left",
			"storage.maxWidth" : 160,
			"hint" : "filter"
		},
		"request" : {
			"type" : "button",
			"base" : "/interface/kheAA/kheAA_terminal/buttonIO.png",
			"hover" : "/interface/kheAA/kheAA_terminal/buttonIOH.png",
			"press" : "/interface/kheAA/kheAA_terminal/buttonIOH.png",
			"caption" : "Request",
			"position" : [67, 38]
		},
		"requestAllButOne" : {
			"type" : "button",
			"base" : "/interface/kheAA/kheAA_terminal/buttonIO.png",
			"hover" : "/interface/kheAA/kheAA_terminal/buttonIOH.png",
			"press" : "/interface/kheAA/kheAA_terminal/buttonIOH.png",
			"caption" : "Request All-1",
			"position" : [130, 38]
		},
		"requestOne" : {
			"type" : "button",
			"base" : "/interface/kheAA/kheAA_terminal/buttonIO.png",
			"hover" : "/interface/kheAA/kheAA_terminal/buttonIOH.png",
			"press" : "/interface/kheAA/kheAA_terminal/buttonIOH.png",
			"caption" : "Request X",
			"position" : [4, 38]
		},
		"requestbackdrop" : {
			"type" : "image",
			"file" : "/interface/kheAA/kheAA_terminal/buttonIOH.png",
			"position" : [4, 22],
			"zlevel": -1
		},
		"requestAmount": {
			"type": "textbox",
			"position": [16, 26],
			"textAlign": "center",
			"maxWidth": 32,
			"regex": "\\d{0,6}",
			"hint": "------"
		},
		"refresh" : {
			"type" : "button",
			"base" : "/interface/kheAA/kheAA_terminal/buttonIO.png",
			"hover" : "/interface/kheAA/kheAA_terminal/buttonIOH.png",
			"press" : "/interface/kheAA/kheAA_terminal/buttonIOH.png",
			"caption" : "Refresh",
			"position" : [67, 22]
		}//,
		//"close" : {
		//	"type" : "button",
		//	"zlevel" : 2,
		//	"base" : "/interface/kheAA/kheAA_terminal/buttonIO.png",
		//	"hover" : "/interface/kheAA/kheAA_terminal/buttonIOH.png",
		//	"press" : "/interface/kheAA/kheAA_terminal/buttonIOH.png",
		//	"caption" : "Close",
		//	"position" : [130, 22]
		//}
	},

	"scriptWidgetCallbacks" : [
		"filterBox",
		"refresh",
		"request",
		"requestAllButOne",
		"requestOne",
		"requestAmount"
	],

	"scripts" : ["/interface/kheAA/kheAA_terminal/kheAA_terminalGui.lua"],
	"scriptDelta" : 1
}
