{
	"gui" : {
		"panefeature" : {
			"type" : "panefeature",
			"anchor" : "Center",
			"offset" : [0, 0],
			"positionLocked" : true,
			"enterKey" : "saveChar",
			"escapeKey" : "cancel"
		},
		
		"background" : {
			"zlevel" : 0,
			"type" : "background",
			"fileHeader" : "/interface/scripted/weaponupgrade/header.png",
			"fileBody" : "/interface/scripted/weaponupgrade/body.png",
			"fileFooter" : "/interface/scripted/weaponupgrade/footer.png"
		},
		
		"windowtitle" : {
			"type" : "title",
			"title" : " Space station front desk",
			"subtitle" : " Interact with the station",
			"icon" : {
				"type" : "image"//,
				//"file" : "/interface/rainbowicon.png"
			}
		},
		
		"text" : {
			"type" : "label",
			"position" : [5, 225],
			"wrapWidth" : 167,
			"fontSize" : 6,
			"vAnchor" : "top",
			"value" : "I AM ERROR"
		},
		
		"button" : {
			"type" : "button",
			"position" : [92, 30],
			"base" : "/interface/button.png",
			"hover" : "/interface/buttonhover.png",
			"disabledImage" : "/interface/buttongrayed.png",
			"caption" : "Chat",
			"callback" : "chat"
		},
		
		"cancel" : {
			"type" : "button",
			"position" : [33, 30],
			"base" : "/interface/button.png",
			"hover" : "/interface/buttonhover.png",
			"caption" : "Goodbye.",
			"callback" : "close"
		}
	},
	
	"scriptWidgetCallbacks" : [ "chat" ],
	
	"scripts" : ["/objects/test/textTyper.lua"],
	"scriptDelta" : 2,
	
	"upgradeLevel" : 6
}
