{
	//define base values. crit and notcrit are defined separately.
	"defaultParams":{"damageKind":"default","power":1},
	"defaultParamsCrit":{"damageKind":"default","power":1},

	"defaultProjectile":"shieldBashStunProjectile",
	"defaultProjectileCrit":"shieldBashStunProjectileCrit",

	//exclusion lists. if the weapon has these tags, the effects are not applied.
	"critExclusions":[
		"bugnet"
	],
	"stunExclusions":[
		"bugnet",
		"mininggun"
	],

	//these 2 are global modifiers. not to be used lightly. the script will only keep the highest value if an item meets multiple of these.
	"baseCritChanceModifiers":{
		"magnorb":1
	},
	"baseStunChanceModifiers":{
	},

	//these are lower than weapon-specified projectiles in priority. if none are specified in either case, the default is specified earlier is used.
	//additionally, the base stun wont apply if it's a crit; both must be defined separately.
	"stunProjectiles":{
		//of all these, only the dagger, hammer and mace ones ever could even fire, in the previous system.
		//"rapier":"rapierCrit",
		//"spear":"spearCrit",
		//"shortspear":"spearCrit",
		//"dagger":"daggerCrit",
		//"mace":"daggerCrit",
		//"hammer":"shieldBashStunProjectile",
		//"qs":"shieldBashStunProjectile",
		//"quarterstaff":"shieldBashStunProjectile",
		//"fist":"shieldBashStunProjectile",
		//"gauntlet":"shieldBashStunProjectile",
		//"fistweapon":"shieldBashStunProjectile"
	},
	"critStunProjectiles":{
		//"rapier":"rapierCrit",
		//"spear":"spearCrit",
		//"shortspear":"spearCrit",
		//"dagger":"daggerCrit",
		//"mace":"daggerCrit",
		//"hammer":"shieldBashStunProjectile",
		//"qs":"shieldBashStunProjectile",
		//"quarterstaff":"shieldBashStunProjectile",
		//"fist":"shieldBashStunProjectile",
		//"gauntlet":"shieldBashStunProjectile",
		//"fistweapon":"shieldBashStunProjectile"
	},

	//if these are applied they overwrite whatever is on either the projectiles above, or the ones on the weapon's projectiles, but not stun projectile params configured on the weapon.
	//Important note: these are not merged with the default parameters. these are used in place of them.
	//additionally, the base stun wont apply if it's a crit; both must be defined separately.
	"stunProjectileParams":{
		"rapier":{"speed":30,"damageKind":"default","power":1},
		"spear":{"speed":30,"damageKind":"default","power":1},
		"shortspear":{"speed":22,"damageKind":"default","power":1},
		"dagger":{"speed":14,"damageKind":"default","power":1},
		"mace":{"speed":30,"damageKind":"default","power":1},
		"hammer":{"speed":30,"damageKind":"default","power":1},
		"qs":{"speed":30,"damageKind":"default","power":1},
		"quarterstaff":{"speed":30,"damageKind":"default","power":1},
		"fist":{"speed":35,"damageKind":"default","power":1},
		"gauntlet":{"speed":35,"damageKind":"default","power":1},
		"fistweapon":{"speed":35,"damageKind":"default","power":1}
	},
	"critStunProjectileParams":{
		"rapier":{"speed":30,"damageKind":"default","power":1},
		"spear":{"speed":30,"damageKind":"default","power":1},
		"shortspear":{"speed":22,"damageKind":"default","power":1},
		"dagger":{"speed":14,"damageKind":"default","power":1},
		"mace":{"speed":30,"damageKind":"default","power":1},
		"hammer":{"speed":30,"damageKind":"default","power":1},
		"qs":{"speed":30,"damageKind":"default","power":1},
		"quarterstaff":{"speed":30,"damageKind":"default","power":1},
		"fist":{"speed":35,"damageKind":"default","power":1},
		"gauntlet":{"speed":35,"damageKind":"default","power":1},
		"fistweapon":{"speed":35,"damageKind":"default","power":1}
	},

	//if these are applied they overwrite whatever is on either the projectiles above, or the ones on the weapon's projectiles, but not stun statuses configured on the weapon
	//additionally, the base stun wont apply if it's a crit; both must be defined separately.
	"stunStatusEffects":{
		//"rapier":{"bleedingshort"}
	},
	"critStunStatusEffects":{
		//"rapier":{"bleedingshort"}

	}
}
