{
    "bee_aquarum_youngQueen": true, 
    "bee_assassin_youngQueen": true,
    "bee_bumblebee_youngQueen": true,
    "bee_carpenter_youngQueen": true,
    "bee_crystalwing_youngQueen": true,
    "bee_cuckoo_youngQueen": true,
    "bee_cybernetic_youngQueen": true,
    "bee_devoratrix_youngQueen": true,
    "bee_digger_youngQueen": true,
    "bee_exspiravit_youngQueen": true,
    "bee_gelidburrower_youngQueen": true,
    "bee_goldensaint_youngQueen": true,
    "bee_harlequin_youngQueen": true,
    "bee_honey_youngQueen": true,
    "bee_inventor_youngQueen": true,
    "bee_isovapitdae_youngQueen": true,
    "bee_leafcutter_youngQueen": true,
    "bee_loamzipper_youngQueen": true,
    "bee_mason_youngQueen": true,
    "bee_orchid_youngQueen": true,
    "bee_oremason_youngQueen": true,
    "bee_plasterer_youngQueen": true,
    "bee_reaper_youngQueen": true,
    "bee_redbanded_youngQueen": true,
    "bee_rimewing_youngQueen": true,
    "bee_sandprowler_youngQueen": true,
    "bee_scoria_youngQueen": true,
    "bee_shrouded_youngQueen": true,
    "bee_squash_youngQueen": true,
    "bee_stalwart_youngQueen": true,
    "bee_stellar_youngQueen": true,
    "bee_tunguskudae_youngQueen": true,
    "bee_xenodaemonae_youngQueen": true,
    "bee_sweat_youngQueen": true
}