{
    "nakatibark": true,
    "avikancactusseed": true,
    "avikanspiceplantseed": true,
    "bolbohnseed": true,
    "dunestalkseed": true,
    "shadowrootseed": true,
    "aenemaflower": true,
    "algaeseed": true,
    "aquapodseed": true,
    "arkaentree": true,
    "automatoseed": true,
    "avesmingoseed": true,
    "bambooseed": true,
    "bananaseed": true,
    "batterystem": true,
    "beakseedseed": true,
    "beeflower": true,
    "beetlesproutseed": true,
    "bellamorte": true,
    "biscornseed": true,
    "blexplantseed": true,
    "bladetree": true,
    "blisterbushplantseed": true,
    "blizzberryseed": true,
    "bloodrootseed": true,
    "bluemelonseed": true,
    "boltbulbseed": true,
    "bonebooseed": true,
    "brackentreeseed": true,
    "caprioleplantseed": true,
    "carrotseed": true,
    "cellpodsplant": true,
    "chiliseed": true,
    "cinnamonseed": true,
    "cocoaseed": true,
    "coffeeseed": true,
    "coralcreepseed": true,
    "cornseed": true,
    "corvexseed": true,
    "cottonseed": true,
    "crystallite": true,
    "crystalplantseed": true,
    "currentcornseed": true,
    "darklightflower": true,
    "deathblossomseed": true,
    "diodiahybridseed": true,
    "diodiaseed": true,
    "dirturchinseed": true,
    "dragonsbeardseed": true,
    "eggshootseed": true,
    "energiflowerseed": true,
    "erithianalgaeseed": true,
    "fayshroomseed": true,
    "floralytplantseed": true,
    "feathercrownseed": true,
    "fletchweed": true,
    "flowerblack": true,
    "flowerblue": true,
    "flowerbrown": true,
    "flowergreen": true,
    "flowergrey": true,
    "flowerorange": true,
    "flowerorchid": true,
    "flowerorchid2": true,
    "flowerorchid3": true,
    "flowerpink": true,
    "flowerpurple": true,
    "flowerred": true,
    "flowerspring": true,
    "flowerwhite": true,
    "floweryellow": true,
    "fubioshroomblue": true,
    "fubioshroomgreen": true,
    "fubioshroompurple": true,
    "fubioshroomred": true,
    "fubioshroomyellow": true,
    "fusnowberryseed": true,
    "fuspongeweedseed": true,
    "garpberryseed": true,
    "garikleaf": true,
    "gazelemonseed": true,
    "gemglowseed": true,
    "genesiberryseed": true,
    "ghostmushroomseed": true,
    "ginsengseed": true,
    "glarestalkseed": true,
    "goldenglowseed": true,
    "goldenrootseed": true,
    "goldenseaspongeplant": true,
    "goldshroomseed": true,
    "grapesseed": true,
    "greenleafseed": true,
    "guamseed": true,
    "haleflowerseed": true,
    "hellfireplantseed": true,
    "herrodbush": true,
    "hopsseed": true,
    "ighantseed": true,
    "ignuschili2seed": true,
    "ignuschiliseed": true,
    "jillyrootseed": true,
    "isn_meatplant": true,
    "itaseed": true,
    "kamaranpodsplant": true,
    "kirifruitseed": true,
    "kiwiseed": true,
    "kramil": true,
    "lactariusindigoseed": true,
    "lasherplantseed": true,
    "littlerascalseed": true,
    "leafshellseed": true,
    "littlegoodberryseed": true,
    "lumivineseed": true,
    "melodistarseed": true,
    "minkocoapodseed": true,
    "miraclegrassseed": true,
    "mintseed": true,
    "mireurchinseed": true,
    "mushroomseed": true,
    "mutaviskseed": true,
    "naileryseed": true,
    "nakatiseed": true,
    "neonmelonseed": true,
    "neuropodseed": true,
    "nissseed": true,
    "oculemonseed": true,
    "onionseed": true,
    "oonfortaseed": true,
    "pasakavineseed": true,
    "pearlpeaseed": true,
    "pekkitseed": true,
    "petrifiedrootseed": true,
    "pineappleseed": true,
    "pinkloomseed": true,
    "piruseed": true,
    "poetree": true,
    "porphisplantseed": true,
    "potatoseed": true,
    "pussplumseed": true,
    "quellstem": true,
    "reedseed": true,
    "reefpodseed": true,
    "rockrootseed": true,
    "riceseed": true,
    "shinyacornseed": true,
    "shockshroomseed": true,
    "silverleafseed": true,
    "slimeplantseed": true,
    "springvaultseed": true,
    "stranglevineseed": true,
    "sugarcaneseed": true,
    "sweetscoopseed": true,
    "talonseedseed": true,
    "teratomatoseed": true,
    "tentacleplant": true,
    "tetherhookseed": true,
    "thornitoxseed": true,
    "tinselbush": true,
    "tomatoseed": true,
    "toxictopseed": true,
    "tyvokkseed": true,
    "vashtaplantseed": true,
    "vanusflowerseed": true,
    "varanberryseed": true,
    "vextongueseed": true,
    "victorleaf": true,
    "voritseed": true,
    "wartweedseed": true,
    "wheatseed": true,
    "whitespine": true,
    "avaliplant1": true,
    "avaliplant2": true,
    "avaliplant3": true,
    "wretchelseed": true,
    "wubstemseed": true,
    "xaxseed": true,
    "yellowfootseed": true,
    "zathiseed": true
}