{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "shadowguardianexplosion"
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "madnesszoneshoggoth"
    },
    {
      "action" : "loop",
      "count" : 5,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/shadowdrip/shadowdrip1.animation",
                "finalVelocity" : [0, -1],
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.6,
                "variance" : {
                  "timeToLive" : 0.15,
                  "position" : [1.0, 1.0],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/statuseffects/shadow/shadowburn.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 2.0,
                "variance" : {
                  "timeToLive" : 0.15,
                  "position" : [1.0, 1.0],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/statuseffects/shadow/shadowburn.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 2.0,
                "variance" : {
                  "timeToLive" : 0.15,
                  "position" : [1.0, 1.0],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast_small_poison1.ogg", "/sfx/gun/grenadeblast_small_poison2.ogg", "/sfx/gun/grenadeblast_small_poison3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    }
  ]
}
