{
	"gui" : {
		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [0, 0],
			"position" : [240, 185]
		},

		"windowIcon" : {
			"type" : "image",
			"file": "/interface/ai/AIicon.png",
			"position" : [2, 176]
		},

		"windowTitle" : {
			"type" : "label",
			"position" : [28, 197],
			"vAnchor" : "top",
			"value" : "S.A.I.L"
		},

		"windowSubtitle" : {
			"type" : "label",
			"position" : [28, 178],
			"value" : "Ship-based Artificial Intelligence Lattice"
		},

		"background" : {
			"type" : "background",
			"fileHeader" : "/zb/newSail/header.png",
			"fileBody" : "/zb/newSail/body.png",
			"fileFooter" : "/zb/newSail/footer.png"
		},

		"buttonMain" : {
			"type" : "button",
			"base" : "/zb/newSail/buttonMain.png:default",
			"hover" : "/zb/newSail/buttonMain.png:hover",
			"pressed" : "/zb/newSail/buttonMain.png:pressed",
			"position" : [8, 65],
			"pressedOffset" : [0, 0],
			"caption" : "BALANCE",
			"callback" : "buttonMain",
			"disabled" : true
		},

		"buttonMissions" : {
			"type" : "button",
			"base" : "/zb/newSail/buttonMain.png:default",
			"hover" : "/zb/newSail/buttonMain.png:hover",
			"pressed" : "/zb/newSail/buttonMain.png:pressed",
			"position" : [8, 50],
			"pressedOffset" : [0, 0],
			"caption" : "MISSIONS",
			"callback" : "buttonMain",
			"disabled" : true
		},

		"buttonCrew" : {
			"type" : "button",
			"base" : "/zb/newSail/buttonMain.png:default",
			"hover" : "/zb/newSail/buttonMain.png:hover",
			"pressed" : "/zb/newSail/buttonMain.png:pressed",
			"position" : [8, 35],
			"pressedOffset" : [0, 0],
			"caption" : "CREW",
			"callback" : "buttonMain",
			"disabled" : true
		},

		"buttonMisc" : {
			"type" : "button",
			"base" : "/zb/newSail/buttonMain.png:default",
			"hover" : "/zb/newSail/buttonMain.png:hover",
			"pressed" : "/zb/newSail/buttonMain.png:pressed",
			"position" : [8, 20],
			"pressedOffset" : [0, 0],
			"caption" : "MISC.",
			"callback" : "buttonMain",
			"disabled" : true
		},

		"aiFaceCanvas" : {
			"type" : "canvas",
			"rect" : [6, 78, 95, 172]
		},

		"path" : {
			"type" : "label",
			"position" : [103, 162],
			"wrapWidth" : 138,
			"fontSize" : 6,
			"value" : "root/sail/ui/intro"
		},

		"root" : {
			"type" : "scrollArea",
			"rect" : [101, 22, 245, 158],
			"children" : {
				"text" : {
					"type" : "label",
					"position" : [3, 0],
					"wrapWidth" : 128,
					"fontSize" : 7,
					"vAnchor" : "top",
					"value" : ""
				}
			}
		}
	},

	"scriptWidgetCallbacks" : [ "buttonMain" ],

	"scripts" : ["/interface/scripted/fu_planetsail/fu_planetsail.lua"],
	"scriptDelta" : 1,

	"aiImage" : "/ai/portraits/fu_byosportrait.png:refuse.<frame>",
	"aiImageFinished" : "/ai/portraits/fu_byosportrait.png:idle",
	"aiFrames" : 8,
	"aiUpdateTime" : 0.25,
	"scanlinesImage" : "/ai/scanlines.png:<frame>",
	"scanlinesFrames" : 14,
	"scanlinesUpdateTime" : 0.02,
	"staticImage" : "/interface/ai/fu_byosstatic.png:<frame>",
	"staticFrames" : 4,
	"staticUpdateTime" : 0.05,
	"textUpdateDelay" : 1,
	"chatterSound" : "/sfx/interface/aichatter1_loop.ogg",
	"shipStatus" : "Could not connect to S.A.I.L. Please move the S.A.I.L. Interface to your ship to connect to S.A.I.L."
}