{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1.0,
      "type" : "iceboom"
    },
     {
      "action" : "projectile",
      "inheritDamageFactor" : 0.05,
      "type" : "fuiceshotcrab"
    },  
     {
      "action" : "projectile",
      "inheritDamageFactor" : 0.05,
      "type" : "fuiceshotcrab",
      "fuzzAngle" : 45
    },
     {
      "action" : "projectile",
      "inheritDamageFactor" : 0.05,
      "type" : "fuiceshotcrab",
      "fuzzAngle" : -45
    },     
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0,
      "delaySteps" : 2
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/weapons/icicle_impactbreak2.ogg" ]
    }
  ]
}
