{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/bees/industrialcentrifuge/centrifugeheader.png",
      "fileBody" : "/interface/bees/industrialcentrifuge/jarringslots.png",
      "fileFooter" : "/interface/bees/industrialcentrifuge/centrifugefooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      "position" : [184, 124]
    },
    "objectImage" : {
      "type" : "image",
      "position" : [39, 79],
      "file" : "",
      "centered" : true,
      "maxSize" : [40, 40],
      "minSize" : [40, 40]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [90, 40],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/grayborder.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "slotOffset" : 3,
      "position" : [119, 31],
      "dimensions" : [4, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "dragDrop" : {
      "type" : "label",
      "value" : "Drag & Drop",
      "hAnchor" : "mid",
      "position" : [40, 37]
    },
    "countinput" : {
      "type" : "label",
      "value" : "Input",
      "hAnchor" : "mid",
      "position" : [100, 109]
    },
    "countoutput" : {
      "type" : "label",
      "value" : "Items",
      "hAnchor" : "mid",
      "position" : [160, 109]
    },
    "clear" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Take all",
      "position" : [56, 8]
    }
  }
}
