[
	{"inputs":{"liquidwater":1,"liquidpoison":1},"outputs":{"liquidpoison":2}},
	{"inputs":{"liquidwater":1,"swampwater":1},"outputs":{"swampwater":2}},
	{"inputs":{"liquidwater":1,"liquidhealing":1},"outputs":{"liquidhealing":2}},
	{"inputs":{"liquidwater":1,"liquidelderfluid":1},"outputs":{"liquidelderfluid":2}},
	{"inputs":{"liquidwater":1,"liquidsulphuricacid":1},"outputs":{"liquidsulphuricacid":2}},
	{"inputs":{"liquidwater":1,"liquidwastewater":1},"outputs":{"liquidwastewater":2}},
	{"inputs":{"liquidwater":1,"fu_liquidhoney":1},"outputs":{"fu_liquidhoney":2}},
	{"inputs":{"liquidwater":1,"ff_mercury":1},"outputs":{"ff_mercury":2}},
	{"inputs":{"liquidlava":1,"liquidwater":1},"outputs":{"magmarock":1}},
	{"inputs":{"liquidlava":1,"liquidoil":1},"outputs":{"asphalt":1}},
	{"inputs":{"liquidlava":1,"liquidblood":1},"outputs":{"bloodstonewall2":1}},
	{"inputs":{"liquidlava":1,"liquidblacktar":1},"outputs":{"andesite":1}},
	{"inputs":{"liquidlava":1,"liquidorganicsoup":1},"outputs":{"purplecrystalmaterial":1}},
	{"inputs":{"liquidlava":1,"liquidelderfluid":1},"outputs":{"sulphurstonematerial":1}},
	{"inputs":{"liquidlava":1,"liquidsulphuricacid":1},"outputs":{"sulphurstonematerial":1}},
	{"inputs":{"liquidslime":1,"liquidlava":1},"outputs":{"liquidlava":2}},
	{"inputs":{"liquidslime":1,"liquidironfu":1},"outputs":{"liquidlava":1}},
	{"inputs":{"liquidslime":1,"liquidwater":1},"outputs":{"liquidpoison":1}},
	{"inputs":{"liquidslime":1,"liquidpoison":1},"outputs":{"liquidbioooze":1}},
	{"inputs":{"liquidblood":1,"liquidwater":1},"outputs":{"liquidblood":2}},
	{"inputs":{"liquidblood":1,"liquidpoison":1},"outputs":{"liquidpoison":2}},
	{"inputs":{"liquidblood":1,"liquidirradium":1},"outputs":{"bloodstonewall":1}},
	{"inputs":{"liquidblood":1,"ff_mercury":1},"outputs":{"bloodstonewall2":1}},
	{"inputs":{"liquidbioooze":1,"liquidwater":1},"outputs":{"slime":1}},
	{"inputs":{"liquidbioooze":1,"liquidpoison":1},"outputs":{"slime":1}},
	{"inputs":{"liquidbioooze":1,"liquidhealing":1},"outputs":{"liquidbioooze":2}},
	{"inputs":{"liquidbioooze":1,"liquidorganicsoup":1},"outputs":{"liquidbioooze":2}},
	{"inputs":{"liquidbioooze":1,"liquidsulphuricacid":1},"outputs":{"wastestone":1}},
	{"inputs":{"liquidbioooze":1,"liquidirradium":1},"outputs":{"liquidbioooze":2}},
	{"inputs":{"liquidbioooze":1,"ff_mercury":1},"outputs":{"vialproto":1}},
	{"inputs":{"liquidblacktar":1,"liquidpoison":1},"outputs":{"tarstonematerial":1}},
	{"inputs":{"liquidblacktar":1,"liquidbioooze":1},"outputs":{"tarstonematerial":1}},
	{"inputs":{"liquidblacktar":1,"liquidorganicsoup":1},"outputs":{"liquidorganicsoup":2}},
	{"inputs":{"liquidblacktar":1,"vialproto":1},"outputs":{"vialproto":2}},
	{"inputs":{"liquidblacktar":1,"liquidsulphuricacid":1},"outputs":{"tarstonematerial":1}},
	{"inputs":{"liquidblacktar":1,"liquidirradium":1},"outputs":{"liquidirradium":2}},
	{"inputs":{"liquidblacktar":1,"ff_mercury":1},"outputs":{"ff_mercury":2}},
	{"inputs":{"liquidblacktar":1,"liquiddarkwater":1},"outputs":{"tarstonematerial":1}},
	{"inputs":{"liquidorganicsoup":1,"liquidwater":1},"outputs":{"liquidpoison":1}},
	{"inputs":{"liquidorganicsoup":1,"liquidpoison":1},"outputs":{"liquidorganicsoup":2}},
	{"inputs":{"liquidorganicsoup":1,"liquidbioooze":1},"outputs":{"slimedirtmaterial":1}},
	{"inputs":{"liquidorganicsoup":1,"liquidblacktar":1},"outputs":{"slime2material":1}},
	{"inputs":{"liquidorganicsoup":1,"vialproto":1},"outputs":{"liquidorganicsoup":2}},
	{"inputs":{"liquidorganicsoup":1,"liquidsulphuricacid":1},"outputs":{"liquidsulphuricacid":2}},
	{"inputs":{"liquidorganicsoup":1,"ff_mercury":1},"outputs":{"liquidsulphuricacid":1}},
	{"inputs":{"vialproto":1,"liquidwater":1},"outputs":{"slime":1}},
	{"inputs":{"vialproto":1,"liquidpoison":1},"outputs":{"slime2material":1}},
	{"inputs":{"vialproto":1,"liquidbioooze":1},"outputs":{"liquidirradium":1}},
	{"inputs":{"vialproto":1,"liquidsulphuricacid":1},"outputs":{"liquidsulphuricacid":2}},
	{"inputs":{"vialproto":1,"liquidirradium":1},"outputs":{"vialproto":2}},
	{"inputs":{"vialproto":1,"ff_mercury":1},"outputs":{"vialproto":2}},
	{"inputs":{"liquidelderfluid":1,"liquidpoison":1},"outputs":{"liquidelderfluid":2}},
	{"inputs":{"liquidelderfluid":1,"liquidbioooze":1},"outputs":{"liquidelderfluid":2}},
	{"inputs":{"liquidelderfluid":1,"liquidblacktar":1},"outputs":{"liquidelderfluid":2}},
	{"inputs":{"liquidelderfluid":1,"liquidorganicsoup":1},"outputs":{"liquidelderfluid":2}},
	{"inputs":{"liquidelderfluid":1,"vialproto":1},"outputs":{"liquidelderfluid":2}},
	{"inputs":{"liquidelderfluid":1,"liquidsulphuricacid":1},"outputs":{"liquidelderfluid":2}},
	{"inputs":{"liquidelderfluid":1,"liquidirradium":1},"outputs":{"liquidelderfluid":2}},
	{"inputs":{"liquidelderfluid":1,"ff_mercury":1},"outputs":{"liquidelderfluid":2}},
	{"inputs":{"liquidelderfluid":1,"liquidaether":1},"outputs":{"protorockmaterial":1}},
	{"inputs":{"liquidsulphuricacid":1,"liquidwater":1},"outputs":{"liquidsulphuricacid":2}},
	{"inputs":{"liquidsulphuricacid":1,"liquidpoison":1},"outputs":{"liquidsulphuricacid":2}},
	{"inputs":{"liquidsulphuricacid":1,"liquidorganicsoup":1},"outputs":{"liquidblacktar":1}},
	{"inputs":{"liquidsulphuricacid":1,"vialproto":1},"outputs":{"wastestone":1}},
	{"inputs":{"liquidsulphuricacid":1,"liquidirradium":1},"outputs":{"liquidsulphuricacid":2}},
	{"inputs":{"liquidsulphuricacid":1,"ff_mercury":1},"outputs":{"wastestone":1}},
	{"inputs":{"liquidirradium":1,"liquidwater":1},"outputs":{"liquidirradium":2}},
	{"inputs":{"liquidirradium":1,"liquidpoison":1},"outputs":{"liquidirradium":2}},
	{"inputs":{"liquidirradium":1,"liquidbioooze":1},"outputs":{"rainbowsandmaterial":1}},
	{"inputs":{"liquidirradium":1,"liquidorganicsoup":1},"outputs":{"liquidirradium":2}},
	{"inputs":{"liquidirradium":1,"vialproto":1},"outputs":{"liquidirradium":2}},
	{"inputs":{"liquidirradium":1,"ff_mercury":1},"outputs":{"liquidirradium":2}},
	{"inputs":{"ff_mercury":1,"liquidwater":1},"outputs":{"ff_mercury":2}},
	{"inputs":{"ff_mercury":1,"liquidpoison":1},"outputs":{"ff_mercury":2}},
	{"inputs":{"ff_mercury":1,"liquidbioooze":1},"outputs":{"liquidbioooze":2}},
	{"inputs":{"ff_mercury":1,"liquidblacktar":1},"outputs":{"liquidorganicsoup":1}},
	{"inputs":{"ff_mercury":1,"liquidorganicsoup":1},"outputs":{"ff_mercury":2}},
	{"inputs":{"ff_mercury":1,"vialproto":1},"outputs":{"liquidirradium":1}},
	{"inputs":{"ff_mercury":1,"liquidsulphuricacid":1},"outputs":{"liquidsulphuricacid":2}},
	{"inputs":{"ff_mercury":1,"liquidirradium":1},"outputs":{"ff_mercury":2}},
	{"inputs":{"shadowgasliquid":1,"liquidpoison":1},"outputs":{"darknessmaterial":2}},
	{"inputs":{"liquidgravrain":1,"liquidwater":1},"outputs":{"liquidgravrain":2}},
	{"inputs":{"liquidgravrain":1,"liquidpoison":1},"outputs":{"liquidpoison":2}},
	{"inputs":{"liquidgravrain":1,"liquidbioooze":1},"outputs":{"liquidgravrain":2}},
	{"inputs":{"liquidgravrain":1,"liquidblacktar":1},"outputs":{"liquidblacktar":2}},
	{"inputs":{"liquidgravrain":1,"liquidorganicsoup":1},"outputs":{"liquidorganicsoup":2}},
	{"inputs":{"liquidgravrain":1,"vialproto":1},"outputs":{"penumbradirtmaterial":1}},
	{"inputs":{"liquidgravrain":1,"liquidelderfluid":1},"outputs":{"corruptslimematerial":1}},
	{"inputs":{"liquidgravrain":1,"liquidsulphuricacid":1},"outputs":{"retexaetherdust":1}},
	{"inputs":{"liquidgravrain":1,"liquidirradium":1},"outputs":{"retexaetherdust":1}},
	{"inputs":{"liquidironfu":1,"liquidaether":1},"outputs":{"retexaetherdust":1}},
	{"inputs":{"liquidironfu":1,"liquidlava":1},"outputs":{"liquidlava":2}},
	{"inputs":{"liquidironfu":1,"liquidelderfluid":1},"outputs":{"liquidorangegravrain":1}},
	{"inputs":{"liquidpus":1,"liquidwater":1},"outputs":{"liquidalienjuice":1}},
	{"inputs":{"liquidpus":1,"liquidpoison":1},"outputs":{"liquidalienjuice":1}},
	{"inputs":{"liquidpus":1,"liquidbioooze":1},"outputs":{"liquidbioooze":2}},
	{"inputs":{"liquidpus":1,"liquidblacktar":1},"outputs":{"liquidblacktar":2}},
	{"inputs":{"liquidpus":1,"liquidorganicsoup":1},"outputs":{"liquidorganicsoup":2}},
	{"inputs":{"liquidpus":1,"vialproto":1},"outputs":{"vialproto":2}},
	{"inputs":{"liquidpus":1,"liquidelderfluid":1},"outputs":{"liquidelderfluid":2}},
	{"inputs":{"liquidpus":1,"liquidsulphuricacid":1},"outputs":{"liquidsulphuricacid":2}},
	{"inputs":{"liquidpus":1,"liquidirradium":1},"outputs":{"liquidirradium":2}},
	{"inputs":{"liquidnitrogenitem":1,"liquidwater":1},"outputs":{"ice":1}},
	{"inputs":{"liquidnitrogenitem":1,"liquidpoison":1},"outputs":{"cloudblock":1}},
	{"inputs":{"liquidnitrogenitem":1,"swampwater":1},"outputs":{"ice":1}},
	{"inputs":{"liquidnitrogenitem":1,"liquidslime":1},"outputs":{"iceblock4material":1}},
	{"inputs":{"liquidwastewater":1,"liquidpoison":1},"outputs":{"clay":1}},
	{"inputs":{"liquidwastewater":1,"swampwater":1},"outputs":{"swampwater":2}},
	{"inputs":{"liquidwastewater":1,"liquidhealing":1},"outputs":{"liquidhealing":2}},
	{"inputs":{"liquidcrystal":1,"liquidwater":1},"outputs":{"crystalblock":1}},
	{"inputs":{"liquidcrystal":1,"liquidpoison":1},"outputs":{"aegisaltcrystal":1}},
	{"inputs":{"liquidcrystal":1,"swampwater":1},"outputs":{"purplecrystalmaterial":1}},
	{"inputs":{"liquidcrystal":1,"liquidbioooze":1},"outputs":{"aegisaltcrystal":1}},
	{"inputs":{"liquidcrystal":1,"liquidblacktar":1},"outputs":{"crystalblock":1}},
	{"inputs":{"liquidcrystal":1,"liquidorganicsoup":1},"outputs":{"crystalblock":1}},
	{"inputs":{"liquidcrystal":1,"vialproto":1},"outputs":{"aegisaltcrystal":1}},
	{"inputs":{"liquidcrystal":1,"liquidelderfluid":1},"outputs":{"corruptslimematerial":1}},
	{"inputs":{"liquidcrystal":1,"liquidsulphuricacid":1},"outputs":{"retexaetherdust":1}},
	{"inputs":{"liquidcrystal":1,"liquidirradium":1},"outputs":{"retexaetherdust":1}},
	{"inputs":{"liquiddarkwater":1,"liquidwater":1},"outputs":{"penumbradirtmaterial":1}},
	{"inputs":{"liquiddarkwater":1,"liquidhealing":1},"outputs":{"penumbrastonematerial":1}},
	{"inputs":{"liquiddarkwater":1,"liquidbioooze":1},"outputs":{"corruptslimematerial":1}},
	{"inputs":{"liquiddarkwater":1,"helium3gasliquid":1},"outputs":{"retexaetherdust":1}},
	{"inputs":{"liquiddarkwater":1,"shadowgasliquid":1},"outputs":{"retexaetherdust":1}},
	{"inputs":{"liquidorangegravrain":1,"liquidwater":1},"outputs":{"liquidgravrain":1}},
	{"inputs":{"liquidorangegravrain":1,"liquidpoison":1},"outputs":{"liquidpoison":2}},
	{"inputs":{"liquidorangegravrain":1,"liquidbioooze":1},"outputs":{"liquidgravrain":1}},
	{"inputs":{"liquidorangegravrain":1,"liquidblacktar":1},"outputs":{"liquidblacktar":2}},
	{"inputs":{"liquidorangegravrain":1,"liquidorganicsoup":1},"outputs":{"liquidorganicsoup":2}},
	{"inputs":{"liquidorangegravrain":1,"vialproto":1},"outputs":{"penumbradirtmaterial":1}},
	{"inputs":{"liquidorangegravrain":1,"liquidelderfluid":1},"outputs":{"corruptslimematerial":1}},
	{"inputs":{"liquidorangegravrain":1,"liquidsulphuricacid":1},"outputs":{"retexaetherdust":1}},
	{"inputs":{"liquidorangegravrain":1,"liquidirradium":1},"outputs":{"retexaetherdust":1}},
	{"inputs":{"liquidaether":1,"liquidlava":1},"outputs":{"retexaetherdust":1}}
]