[
	//Liquid + Liquid
	{"inputs":{"liquidwater":1,"liquidpoison":1},"outputs":{"liquidpoison":2}},
	{"inputs":{"liquidwater":1,"swampwater":1},"outputs":{"swampwater":2}},
	{"inputs":{"liquidwater":1,"liquidhealing":1},"outputs":{"liquidhealing":2}},
	{"inputs":{"liquidwater":1,"liquidsulphuricacid":1},"outputs":{"liquidsulphuricacid":2}},
	{"inputs":{"liquidwater":1,"liquidwastewater":1},"outputs":{"liquidwastewater":2}},
	{"inputs":{"liquidwater":1,"fu_liquidhoney":1},"outputs":{"fu_liquidhoney":2}},
	{"inputs":{"liquidwater":1,"ff_mercury":1},"outputs":{"ff_mercury":2}},
	{"inputs":{"liquidlava":1,"liquidwater":1},"outputs":{"magmarock":1}},
	{"inputs":{"liquidlava":1,"liquidoil":1},"outputs":{"asphalt":1}},
	{"inputs":{"liquidlava":1,"liquidblood":1},"outputs":{"bloodstonewall2":1}},
	{"inputs":{"liquidlava":1,"liquidblacktar":1},"outputs":{"andesite":1}},
	{"inputs":{"liquidlava":1,"liquidorganicsoup":1},"outputs":{"purplecrystalmaterial":1}},
	{"inputs":{"liquidlava":1,"liquidelderfluid":1},"outputs":{"sulphurstonematerial":1}},
	{"inputs":{"liquidlava":1,"liquidsulphuricacid":1},"outputs":{"sulphurstonematerial":1}},
	{"inputs":{"liquidslime":1,"liquidlava":1},"outputs":{"liquidlava":2}},
	{"inputs":{"liquidslime":1,"liquidironfu":1},"outputs":{"liquidlava":1}},
	{"inputs":{"liquidslime":1,"liquidwater":1},"outputs":{"liquidpoison":1}},
	{"inputs":{"liquidslime":1,"liquidpoison":1},"outputs":{"liquidbioooze":1}},
	{"inputs":{"liquidblood":1,"liquidwater":1},"outputs":{"liquidblood":2}},
	{"inputs":{"liquidblood":1,"liquidpoison":1},"outputs":{"liquidpoison":2}},
	{"inputs":{"liquidblood":1,"liquidirradium":1},"outputs":{"bloodstonewall":1}},
	{"inputs":{"liquidblood":1,"ff_mercury":1},"outputs":{"bloodstonewall2":1}},
	{"inputs":{"liquidbioooze":1,"liquidwater":1},"outputs":{"slime":1}},
	{"inputs":{"liquidbioooze":1,"liquidpoison":1},"outputs":{"slime":1}},
	{"inputs":{"liquidbioooze":1,"liquidhealing":1},"outputs":{"liquidbioooze":2}},
	{"inputs":{"liquidbioooze":1,"liquidsulphuricacid":1},"outputs":{"wastestone":1}},
	{"inputs":{"liquidbioooze":1,"ff_mercury":1},"outputs":{"vialproto":1}},
	{"inputs":{"liquidblacktar":1,"liquidpoison":1},"outputs":{"tarstonematerial":1}},
	{"inputs":{"liquidblacktar":1,"liquidbioooze":1},"outputs":{"tarstonematerial":1}},
	{"inputs":{"liquidblacktar":1,"vialproto":1},"outputs":{"vialproto":2}},
	{"inputs":{"liquidblacktar":1,"liquidsulphuricacid":1},"outputs":{"tarstonematerial":1}},
	{"inputs":{"liquidblacktar":1,"liquidirradium":1},"outputs":{"liquidirradium":2}},
	{"inputs":{"liquidblacktar":1,"ff_mercury":1},"outputs":{"ff_mercury":2}},
	{"inputs":{"liquidblacktar":1,"liquiddarkwater":1},"outputs":{"tarstonematerial":1}},
	{"inputs":{"liquidorganicsoup":1,"liquidwater":1},"outputs":{"liquidpoison":1}},
	{"inputs":{"liquidorganicsoup":1,"liquidpoison":1},"outputs":{"liquidorganicsoup":2}},
	{"inputs":{"liquidorganicsoup":1,"liquidbioooze":1},"outputs":{"slimedirtmaterial":1}},
	{"inputs":{"liquidorganicsoup":1,"liquidblacktar":1},"outputs":{"slime2material":1}},
	{"inputs":{"liquidorganicsoup":1,"vialproto":1},"outputs":{"liquidorganicsoup":2}},
	{"inputs":{"liquidorganicsoup":1,"liquidsulphuricacid":1},"outputs":{"liquidsulphuricacid":2}},
	{"inputs":{"liquidorganicsoup":1,"ff_mercury":1},"outputs":{"liquidsulphuricacid":1}},
	{"inputs":{"vialproto":1,"liquidwater":1},"outputs":{"slime":1}},
	{"inputs":{"vialproto":1,"liquidpoison":1},"outputs":{"slime2material":1}},
	{"inputs":{"vialproto":1,"liquidbioooze":1},"outputs":{"liquidirradium":1}},
	{"inputs":{"vialproto":1,"liquidsulphuricacid":1},"outputs":{"liquidsulphuricacid":2}},
	{"inputs":{"liquidelderfluid":1,"liquidbioooze":1},"outputs":{"liquidelderfluid":2}},
	{"inputs":{"liquidelderfluid":1,"liquidblacktar":1},"outputs":{"liquidelderfluid":2}},
	{"inputs":{"liquidelderfluid":1,"liquidorganicsoup":1},"outputs":{"liquidelderfluid":2}},
	{"inputs":{"liquidelderfluid":1,"vialproto":1},"outputs":{"liquidelderfluid":2}},
	{"inputs":{"liquidelderfluid":1,"liquidirradium":1},"outputs":{"liquidelderfluid":2}},
	{"inputs":{"liquidelderfluid":1,"liquidaether":1},"outputs":{"protorockmaterial":1}},
	{"inputs":{"liquidsulphuricacid":1,"liquidpoison":1},"outputs":{"liquidsulphuricacid":2}},
	{"inputs":{"liquidsulphuricacid":1,"liquidorganicsoup":1},"outputs":{"liquidblacktar":1}},
	{"inputs":{"liquidsulphuricacid":1,"vialproto":1},"outputs":{"wastestone":1}},
	{"inputs":{"liquidsulphuricacid":1,"liquidirradium":1},"outputs":{"liquidsulphuricacid":2}},
	{"inputs":{"liquidsulphuricacid":1,"ff_mercury":1},"outputs":{"wastestone":1}},
	{"inputs":{"liquidirradium":1,"liquidwater":1},"outputs":{"rainbowsandmaterial":1}},
	{"inputs":{"liquidirradium":1,"liquidpoison":1},"outputs":{"rainbowsandmaterial":1}},
	{"inputs":{"liquidirradium":1,"liquidbioooze":1},"outputs":{"rainbowsandmaterial":1}},
	{"inputs":{"liquidirradium":1,"liquidorganicsoup":1},"outputs":{"liquidirradium":2}},
	{"inputs":{"liquidirradium":1,"vialproto":1},"outputs":{"rainbowsandmaterial":1}},
	{"inputs":{"ff_mercury":1,"liquidwater":1},"outputs":{"ff_mercury":2}},
	{"inputs":{"ff_mercury":1,"liquidpoison":1},"outputs":{"ff_mercury":2}},
	{"inputs":{"ff_mercury":1,"liquidbioooze":1},"outputs":{"liquidbioooze":2}},
	{"inputs":{"ff_mercury":1,"liquidblacktar":1},"outputs":{"liquidorganicsoup":1}},
	{"inputs":{"ff_mercury":1,"vialproto":1},"outputs":{"liquidirradium":1}},
	{"inputs":{"ff_mercury":1,"liquidsulphuricacid":1},"outputs":{"liquidsulphuricacid":2}},
	{"inputs":{"shadowgasliquid":1,"liquidpoison":1},"outputs":{"darknessmaterial":2}},
	{"inputs":{"liquidgravrain":1,"liquidwater":1},"outputs":{"liquidgravrain":2}},
	{"inputs":{"liquidgravrain":1,"liquidpoison":1},"outputs":{"liquidpoison":2}},
	{"inputs":{"liquidgravrain":1,"liquidbioooze":1},"outputs":{"liquidgravrain":2}},
	{"inputs":{"liquidgravrain":1,"liquidblacktar":1},"outputs":{"liquidblacktar":2}},
	{"inputs":{"liquidgravrain":1,"liquidorganicsoup":1},"outputs":{"liquidorganicsoup":2}},
	{"inputs":{"liquidgravrain":1,"vialproto":1},"outputs":{"penumbradirtmaterial":1}},
	{"inputs":{"liquidgravrain":1,"liquidelderfluid":1},"outputs":{"corruptslimematerial":1}},
	{"inputs":{"liquidgravrain":1,"liquidsulphuricacid":1},"outputs":{"retexaetherdust":1}},
	{"inputs":{"liquidgravrain":1,"liquidirradium":1},"outputs":{"retexaetherdust":1}},
	{"inputs":{"liquidironfu":1,"liquidaether":1},"outputs":{"retexaetherdust":1}},
	{"inputs":{"liquidironfu":1,"liquidlava":1},"outputs":{"liquidlava":2}},
	{"inputs":{"liquidironfu":1,"liquidelderfluid":1},"outputs":{"liquidorangegravrain":1}},
	{"inputs":{"liquidpus":1,"liquidwater":1},"outputs":{"liquidalienjuice":1}},
	{"inputs":{"liquidpus":1,"liquidpoison":1},"outputs":{"liquidalienjuice":1}},
	{"inputs":{"liquidpus":1,"liquidbioooze":1},"outputs":{"liquidbioooze":2}},
	{"inputs":{"liquidpus":1,"liquidblacktar":1},"outputs":{"liquidblacktar":2}},
	{"inputs":{"liquidpus":1,"liquidorganicsoup":1},"outputs":{"liquidorganicsoup":2}},
	{"inputs":{"liquidpus":1,"vialproto":1},"outputs":{"vialproto":2}},
	{"inputs":{"liquidpus":1,"liquidelderfluid":1},"outputs":{"liquidelderfluid":2}},
	{"inputs":{"liquidpus":1,"liquidsulphuricacid":1},"outputs":{"liquidsulphuricacid":2}},
	{"inputs":{"liquidpus":1,"liquidirradium":1},"outputs":{"liquidirradium":2}},
	{"inputs":{"liquidnitrogenitem":1,"liquidwater":1},"outputs":{"ice":1}},
	{"inputs":{"liquidnitrogenitem":1,"liquidpoison":1},"outputs":{"cloudblock":1}},
	{"inputs":{"liquidnitrogenitem":1,"swampwater":1},"outputs":{"ice":1}},
	{"inputs":{"liquidnitrogenitem":1,"liquidslime":1},"outputs":{"iceblock4material":1}},
	{"inputs":{"liquidwastewater":1,"liquidpoison":1},"outputs":{"clay":1}},
	{"inputs":{"liquidwastewater":1,"swampwater":1},"outputs":{"swampwater":2}},
	{"inputs":{"liquidwastewater":1,"liquidhealing":1},"outputs":{"liquidhealing":2}},
	{"inputs":{"liquidcrystal":1,"liquidwater":1},"outputs":{"crystalblock":1}},
	{"inputs":{"liquidcrystal":1,"liquidpoison":1},"outputs":{"aegisaltcrystal":1}},
	{"inputs":{"liquidcrystal":1,"swampwater":1},"outputs":{"purplecrystalmaterial":1}},
	{"inputs":{"liquidcrystal":1,"liquidbioooze":1},"outputs":{"aegisaltcrystal":1}},
	{"inputs":{"liquidcrystal":1,"liquidblacktar":1},"outputs":{"crystalblock":1}},
	{"inputs":{"liquidcrystal":1,"liquidorganicsoup":1},"outputs":{"crystalblock":1}},
	{"inputs":{"liquidcrystal":1,"vialproto":1},"outputs":{"aegisaltcrystal":1}},
	{"inputs":{"liquidcrystal":1,"liquidelderfluid":1},"outputs":{"corruptslimematerial":1}},
	{"inputs":{"liquidcrystal":1,"liquidsulphuricacid":1},"outputs":{"retexaetherdust":1}},
	{"inputs":{"liquidcrystal":1,"liquidirradium":1},"outputs":{"retexaetherdust":1}},
	{"inputs":{"liquiddarkwater":1,"liquidwater":1},"outputs":{"penumbradirtmaterial":1}},
	{"inputs":{"liquiddarkwater":1,"liquidhealing":1},"outputs":{"penumbrastonematerial":1}},
	{"inputs":{"liquiddarkwater":1,"liquidbioooze":1},"outputs":{"corruptslimematerial":1}},
	{"inputs":{"liquiddarkwater":1,"helium3gasliquid":1},"outputs":{"retexaetherdust":1}},
	{"inputs":{"liquiddarkwater":1,"shadowgasliquid":1},"outputs":{"retexaetherdust":1}},
	{"inputs":{"liquidorangegravrain":1,"liquidwater":1},"outputs":{"liquidgravrain":1}},
	{"inputs":{"liquidorangegravrain":1,"liquidpoison":1},"outputs":{"liquidpoison":2}},
	{"inputs":{"liquidorangegravrain":1,"liquidbioooze":1},"outputs":{"liquidgravrain":1}},
	{"inputs":{"liquidorangegravrain":1,"liquidblacktar":1},"outputs":{"liquidblacktar":2}},
	{"inputs":{"liquidorangegravrain":1,"liquidorganicsoup":1},"outputs":{"liquidorganicsoup":2}},
	{"inputs":{"liquidorangegravrain":1,"vialproto":1},"outputs":{"penumbradirtmaterial":1}},
	{"inputs":{"liquidorangegravrain":1,"liquidelderfluid":1},"outputs":{"corruptslimematerial":1}},
	{"inputs":{"liquidorangegravrain":1,"liquidsulphuricacid":1},"outputs":{"retexaetherdust":1}},
	{"inputs":{"liquidorangegravrain":1,"liquidirradium":1},"outputs":{"retexaetherdust":1}},
	{"inputs":{"liquidaether":1,"liquidlava":1},"outputs":{"retexaetherdust":1}},
	
	//Material + Liquid
	{"inputs":{"aegisaltcrystal":1,"liquidsulphuricacid":1},"outputs":{"geodestone":1}},
	{"inputs":{"alienrock":1,"liquidpoison":1},"outputs":{"aliensoil":1}},
	{"inputs":{"alienrock":1,"liquidorganicsoup":1},"outputs":{"aliensoil":1}},
	{"inputs":{"alienrock":1,"vialproto":1},"outputs":{"chromadirtmaterial":1}},
	{"inputs":{"alienrock":1,"liquidsulphuricacid":1},"outputs":{"geodestone":1}},
	{"inputs":{"andesite":1,"liquidlava":1},"outputs":{"magmawall2":1}},
	{"inputs":{"andesite":1,"liquidsulphuricacid":1},"outputs":{"geodestone":1}},
	{"inputs":{"bioblockmaterial":1,"liquiddarkwater":1},"outputs":{"hiveold":1}},
	{"inputs":{"biodirtmaterial":1,"liquiddarkwater":1},"outputs":{"penumbradirtmaterial":1}},
	{"inputs":{"biostonematerial":1,"liquiddarkwater":1},"outputs":{"penumbrastonematerial":1}},
	{"inputs":{"blackslimematerial":1,"shadowgasliquid":1},"outputs":{"andesite":1}},
	{"inputs":{"blackslimematerial":1,"liquidlava":1},"outputs":{"magmawall4":1}},
	{"inputs":{"blackslimematerial":1,"liquidalienjuice":1},"outputs":{"aliensoil":1}},
	{"inputs":{"blackslimematerial":1,"liquidhealing":1},"outputs":{"fujellyblock":1}},
	{"inputs":{"bleachedbonematerial":1,"liquidlava":1},"outputs":{"charredbonematerial":1}},
	{"inputs":{"bleachedbonematerial":1,"liquidironfu":1},"outputs":{"charredbonematerial":1}},
	{"inputs":{"bonematerial":1,"liquidlava":1},"outputs":{"charredbonematerial":1}},
	{"inputs":{"bonematerial":1,"liquidironfu":1},"outputs":{"charredbonematerial":1}},
	{"inputs":{"bonematerial":1,"liquidsulphuricacid":1},"outputs":{"bleachedbonematerial":1}},
	{"inputs":{"bonemealmaterial":1,"liquidpoison":1},"outputs":{"bloodstonematerial":1}},
	{"inputs":{"bonemealmaterial":1,"liquidblood":1},"outputs":{"bloodsandmaterial":1}},
	{"inputs":{"boneyflesh":1,"liquidpoison":1},"outputs":{"rottingfleshmaterial":1}},
	{"inputs":{"boneyflesh":1,"liquidsulphuricacid":1},"outputs":{"hellstonematerial":1}},
	{"inputs":{"boneyflesh":1,"liquidhealing":1},"outputs":{"fleshblock":1}},
	{"inputs":{"brainsblock":1,"liquidsulphuricacid":1},"outputs":{"ash":1}},
	{"inputs":{"brittlejunk":1,"liquidlava":1},"outputs":{"moltenmetal":1}},
	{"inputs":{"brittlejunk":1,"liquidironfu":1},"outputs":{"moltenmetal":1}},
	{"inputs":{"brittlemetal":1,"liquidlava":1},"outputs":{"moltentile":1}},
	{"inputs":{"brittlemetal":1,"liquidironfu":1},"outputs":{"moltentile":1}},
	{"inputs":{"calichewall":1,"shadowgasliquid":1},"outputs":{"andesite":1}},
	{"inputs":{"charredfleshmaterial":1,"liquidblood":1},"outputs":{"fleshblock":1}},
	{"inputs":{"charredfleshmaterial":1,"liquidhealing":1},"outputs":{"fleshblock":1}},
	{"inputs":{"charredfleshmaterial":1,"liquidsulphuricacid":1},"outputs":{"sewage":1}},
	{"inputs":{"cobblestonematerial":1,"fu_liquidhoney":1},"outputs":{"fu_honeycombblock":1}},
	{"inputs":{"cobblestonematerial":1,"liquidlava":1},"outputs":{"redhotcobblestone":1}},
	{"inputs":{"cobblestonematerial":1,"liquidironfu":1},"outputs":{"steelstonematerial":1}},
	{"inputs":{"cobblestonematerial":1,"liquidsulphuricacid":1},"outputs":{"sulphurstonematerial":1}},
	{"inputs":{"cobblestonematerial":1,"liquidslime":1},"outputs":{"slime":1}},
	{"inputs":{"cobblestonematerial":1,"liquidnitrogenitem":1},"outputs":{"iceblock4material":1}},
	{"inputs":{"cobblestonematerial":1,"liquiddarkwater":1},"outputs":{"marestonematerial":1}},
	{"inputs":{"cobblestonematerial":1,"liquidgravrain":1},"outputs":{"raincloudmat":1}},
	{"inputs":{"cobblestonematerial":1,"liquidoil":1},"outputs":{"tarstonematerial":1}},
	{"inputs":{"cobblestonematerial":1,"liquidblacktar":1},"outputs":{"tarstonematerial":1}},
	{"inputs":{"cobblestonematerial":1,"liquidorganicsoup":1},"outputs":{"violiumcrystal":1}},
	{"inputs":{"cobblestonematerial":1,"swampwater":1},"outputs":{"fumossyrock2":1}},
	{"inputs":{"fleshblock":1,"liquidlava":1},"outputs":{"charredfleshmaterial":1}},
	{"inputs":{"crystalblock":1,"fu_liquidhoney":1},"outputs":{"833honeycrystalblock":1}},
	{"inputs":{"crystalblock":1,"liquidorganicsoup":1},"outputs":{"purplecrystalmaterial":1}},
	{"inputs":{"crystalblock":1,"liquidaether":1},"outputs":{"matterblock":1}},
	{"inputs":{"crystalblock":1,"liquidelderfluid":1},"outputs":{"shadowblock":1}},
	{"inputs":{"dirtmaterial":1,"fu_liquidhoney":1},"outputs":{"honeycombmaterial":1}},
	{"inputs":{"dirtmaterial":1,"liquidlava":1},"outputs":{"magmawall4":1}},
	{"inputs":{"dirtmaterial":1,"swampwater":1},"outputs":{"swampdirtffmaterial":1}},
	{"inputs":{"dirtmaterial":1,"liquidbioooze":1},"outputs":{"biodirtmaterial":1}},
	{"inputs":{"dirtmaterial":1,"liquidelderfluid":1},"outputs":{"elderstonematerial":1}},
	{"inputs":{"dirtmaterial":1,"liquidirradium":1},"outputs":{"irradiatedwall":1}},
	{"inputs":{"dirtmaterial":1,"liquidpus":1},"outputs":{"bonemealmaterial":1}},
	{"inputs":{"dirtmaterial":1,"liquidcrystal":1},"outputs":{"aegisaltcrystal":1}},
	{"inputs":{"dirtmaterial":1,"liquidalienjuice":1},"outputs":{"aliensoil":1}},
	{"inputs":{"dirtmaterial":1,"liquidslime":1},"outputs":{"slimedirtmaterial":1}},
	{"inputs":{"dirtmaterial":1,"liquidsulphuricacid":1},"outputs":{"sulphurdirtmaterial":1}},
	{"inputs":{"dirtmaterial":1,"liquidgravrain":1},"outputs":{"cloudblock":1}},
	{"inputs":{"dirtmaterial":1,"liquidoil":1},"outputs":{"tar":1}},
	{"inputs":{"dirtmaterial":1,"liquidblacktar":1},"outputs":{"tar":1}},
	{"inputs":{"dirtmaterial":1,"liquidwastewater":1},"outputs":{"waste":1}},
	{"inputs":{"dirtmaterial":1,"liquidnitrogenitem":1},"outputs":{"iceblock3material":1}},
	{"inputs":{"dirtmaterial":1,"liquidironfu":1},"outputs":{"magmawall3":1}},
	{"inputs":{"dirtmaterial":1,"liquidpoison":1},"outputs":{"sewage":1}},
	{"inputs":{"drydirt":1,"fu_liquidhoney":1},"outputs":{"honeycombmaterial":1}},
	{"inputs":{"drydirt":1,"liquidnitrogenitem":1},"outputs":{"iceblock1material":1}},
	{"inputs":{"drydirt":1,"liquidlava":1},"outputs":{"magmawall3":1}},
	{"inputs":{"drydirt":1,"liquidironfu":1},"outputs":{"magmawall3":1}},
	{"inputs":{"drydirt":1,"liquidpoison":1},"outputs":{"arkosematerial":1}},
	{"inputs":{"drysand":1,"fu_liquidhoney":1},"outputs":{"honeycombmaterial":1}},
	{"inputs":{"drysand":1,"liquidnitrogenitem":1},"outputs":{"frozensand2material":1}},
	{"inputs":{"drysand":1,"liquidlava":1},"outputs":{"magmawall1":1}},
	{"inputs":{"drysand":1,"liquidironfu":1},"outputs":{"magmawall1":1}},
	{"inputs":{"drysand":1,"liquidpoison":1},"outputs":{"arkosematerial":1}},
	{"inputs":{"fleshblock":1,"liquidpoison":1},"outputs":{"rottingfleshmaterial":1}},
	{"inputs":{"fleshblock":1,"liquidsulphuricacid":1},"outputs":{"sewage":1}},
	{"inputs":{"floweryblock":1,"liquidironfu":1},"outputs":{"magmawall3":1}},
	{"inputs":{"floweryblock":1,"liquidlava":1},"outputs":{"magmawall3":1}},
	{"inputs":{"frozendirt":1,"liquidlava":1},"outputs":{"slush":1}},
	{"inputs":{"frozendirt":1,"liquidironfu":1},"outputs":{"slush":1}},
	{"inputs":{"frozensandmaterial":1,"liquidlava":1},"outputs":{"slush":1}},
	{"inputs":{"frozensandmaterial":1,"liquidironfu":1},"outputs":{"slush":1}},
	{"inputs":{"frozensand2material":1,"liquidlava":1},"outputs":{"slush":1}},
	{"inputs":{"frozensand2material":1,"liquidironfu":1},"outputs":{"slush":1}},
	{"inputs":{"frozenstonematerial":1,"liquidlava":1},"outputs":{"slush":1}},
	{"inputs":{"frozenstonematerial":1,"liquidironfu":1},"outputs":{"slush":1}},
	{"inputs":{"frozenwater":1,"liquidlava":1},"outputs":{"slush":1}},
	{"inputs":{"frozenwater":1,"liquidironfu":1},"outputs":{"slush":1}},
	{"inputs":{"fu_honeycombblock":1,"liquiddarkwater":1},"outputs":{"hive":1}},
	{"inputs":{"fu_redhoneycombblock":1,"liquiddarkwater":1},"outputs":{"hive":1}},
	{"inputs":{"fujellyblock":1,"shadowgasliquid":1},"outputs":{"andesite":1}},
	{"inputs":{"fujellyblock":1,"liquidbioooze":1},"outputs":{"jellystone":1}},
	{"inputs":{"fujellyblock":1,"liquiddarkwater":1},"outputs":{"blackslimematerial":1}},
	{"inputs":{"fujellyblock":1,"liquidsulphuricacid":1},"outputs":{"alienrock":1}},
	{"inputs":{"fumossyrock":1,"liquidlava":1},"outputs":{"obsidian":1}},
	{"inputs":{"fumossyrock":1,"liquidironfu":1},"outputs":{"magmawall4":1}},
	{"inputs":{"fumossyrock":1,"liquidnitrogenitem":1},"outputs":{"iceblock1material":1}},
	{"inputs":{"fumossyrock2":1,"fu_liquidhoney":1},"outputs":{"fu_honeycombblock":1}},
	{"inputs":{"fumossyrock2":1,"liquidlava":1},"outputs":{"obsidian":1}},
	{"inputs":{"fumossyrock2":1,"liquidironfu":1},"outputs":{"redhotcobblestone":1}},
	{"inputs":{"fungalstonematerial":1,"fu_liquidhoney":1},"outputs":{"fu_honeycombblock":1}},
	{"inputs":{"fungalstonematerial":1,"liquidlava":1},"outputs":{"obsidian":1}},
	{"inputs":{"fungalstonematerial":1,"liquidironfu":1},"outputs":{"redhotcobblestone":1}},
	{"inputs":{"gravelmaterial":1,"liquidlava":1},"outputs":{"magmawall3":1}},
	{"inputs":{"gravelmaterial":1,"liquidironfu":1},"outputs":{"magmawall3":1}},
	{"inputs":{"greyslate":1,"liquidlava":1},"outputs":{"redhotcobblestone":1}},
	{"inputs":{"greyslate":1,"liquidironfu":1},"outputs":{"steelstonematerial":1}},
	{"inputs":{"greyslate":1,"liquidsulphuricacid":1},"outputs":{"sulphurstonematerial":1}},
	{"inputs":{"greyslate":1,"liquidslime":1},"outputs":{"slime":1}},
	{"inputs":{"greyslate":1,"liquidnitrogenitem":1},"outputs":{"iceblock4material":1}},
	{"inputs":{"greyslate":1,"liquiddarkwater":1},"outputs":{"marestonematerial":1}},
	{"inputs":{"greyslate":1,"liquidgravrain":1},"outputs":{"raincloudmat":1}},
	{"inputs":{"greyslate":1,"liquidoil":1},"outputs":{"tarstonematerial":1}},
	{"inputs":{"greyslate":1,"liquidblacktar":1},"outputs":{"tarstonematerial":1}},
	{"inputs":{"greyslate":1,"liquidorganicsoup":1},"outputs":{"violiumcrystal":1}},
	{"inputs":{"greyslate":1,"swampwater":1},"outputs":{"fumossyrock2":1}},
	{"inputs":{"harrowstone":1,"liquidlava":1},"outputs":{"magmawall2":1}},
	{"inputs":{"harrowstone":1,"liquidsulphuricacid":1},"outputs":{"geodestone":1}},
	{"inputs":{"honeycombmaterial":1,"liquiddarkwater":1},"outputs":{"redhoneycombmaterial":1}},
	{"inputs":{"ice":1,"liquidlava":1},"outputs":{"slush":1}},
	{"inputs":{"ice":1,"liquidironfu":1},"outputs":{"slush":1}},
	{"inputs":{"iceblock":1,"liquidlava":1},"outputs":{"slush":1}},
	{"inputs":{"iceblock":1,"liquidironfu":1},"outputs":{"slush":1}},
	{"inputs":{"iceblock1material":1,"liquidlava":1},"outputs":{"slush":1}},
	{"inputs":{"iceblock1material":1,"liquidironfu":1},"outputs":{"slush":1}},
	{"inputs":{"iceblock2material":1,"liquidlava":1},"outputs":{"slush":1}},
	{"inputs":{"iceblock2material":1,"liquidironfu":1},"outputs":{"slush":1}},
	{"inputs":{"iceblock3material":1,"liquidlava":1},"outputs":{"slush":1}},
	{"inputs":{"iceblock3material":1,"liquidironfu":1},"outputs":{"slush":1}},
	{"inputs":{"iceblock4material":1,"liquidlava":1},"outputs":{"slush":1}},
	{"inputs":{"iceblock4material":1,"liquidironfu":1},"outputs":{"slush":1}},
	{"inputs":{"irradiatedwall":1,"liquidwater":1},"outputs":{"irradiatedwall2":1}},
	{"inputs":{"irradiatedwall":1,"liquidpoison":1},"outputs":{"sewage":1}},
	{"inputs":{"irradiatedwall":1,"liquidblood":1},"outputs":{"tar":1}},
	{"inputs":{"irradiatedwall":1,"liquidslime":1},"outputs":{"slimedirtmaterial":1}},
	{"inputs":{"irradiatedwall2":1,"liquidwater":1},"outputs":{"andesite":1}},
	{"inputs":{"irradiatedwall2":1,"liquidpoison":1},"outputs":{"sewage":1}},
	{"inputs":{"irradiatedwall2":1,"liquidblood":1},"outputs":{"tarstonematerial":1}},
	{"inputs":{"irradiatedwall2":1,"liquidslime":1},"outputs":{"slime":1}},
	{"inputs":{"irradiatedwall3":1,"liquidwater":1},"outputs":{"andesite":1}},
	{"inputs":{"irradiatedwall3":1,"liquidpoison":1},"outputs":{"slime":1}},
	{"inputs":{"irradiatedwall3":1,"liquidblood":1},"outputs":{"marestonematerial":1}},
	{"inputs":{"irradiatedwall3":1,"liquidslime":1},"outputs":{"slime2material":1}},
	{"inputs":{"jellystone":1,"liquidbioooze":1},"outputs":{"violiumcrystal":1}},
	{"inputs":{"jellystone":1,"liquiddarkwater":1},"outputs":{"blackslimematerial":1}},
	{"inputs":{"jellystone":1,"liquidsulphuricacid":1},"outputs":{"blaststone":1}},
	{"inputs":{"jungledirt1material":1,"fu_liquidhoney":1},"outputs":{"honeycombmaterial":1}},
	{"inputs":{"jungledirt1material":1,"liquidlava":1},"outputs":{"magmawall3":1}},
	{"inputs":{"jungledirt1material":1,"liquidironfu":1},"outputs":{"magmawall3":1}},
	{"inputs":{"jungledirt2material":1,"fu_liquidhoney":1},"outputs":{"honeycombmaterial":1}},
	{"inputs":{"jungledirt2material":1,"liquidlava":1},"outputs":{"magmawall4":1}},
	{"inputs":{"jungledirt2material":1,"liquidironfu":1},"outputs":{"magmawall4":1}},
	{"inputs":{"junglestonematerial":1,"fu_liquidhoney":1},"outputs":{"fu_honeycombblock":1}},
	{"inputs":{"junglestonematerial":1,"liquidlava":1},"outputs":{"magmawall1":1}},
	{"inputs":{"junglestonematerial":1,"liquidironfu":1},"outputs":{"redhotcobblestone":1}},
	{"inputs":{"junglestonematerial":1,"liquidnitrogenitem":1},"outputs":{"iceblock3material":1}},
	{"inputs":{"magmawall1":1,"liquidwater":1},"outputs":{"magmawall4":1}},
	{"inputs":{"magmawall1":1,"liquiddarkwater":1},"outputs":{"hiveold":1}},
	{"inputs":{"magmawall2":1,"liquidwater":1},"outputs":{"magmawall4":1}},
	{"inputs":{"magmawall2":1,"liquiddarkwater":1},"outputs":{"hiveold":1}},
	{"inputs":{"magmawall3":1,"liquiddarkwater":1},"outputs":{"darkstonematerial":1}},
	{"inputs":{"magmawall4":1,"liquiddarkwater":1},"outputs":{"darknessmaterial":1}},
	{"inputs":{"moltenmetal":1,"liquidwater":1},"outputs":{"steelpartblock":1}},
	{"inputs":{"moltensand":1,"liquidwater":1},"outputs":{"steelsand":1}},
	{"inputs":{"moltensteel":1,"liquidwater":1},"outputs":{"steelstonematerial":1}},
	{"inputs":{"moltentile":1,"liquidwater":1},"outputs":{"steelmetal":1}},
	{"inputs":{"obsidian":1,"liquidelderfluid":1},"outputs":{"protorockmaterial":1}},
	{"inputs":{"penumbradirtmaterial":1,"liquidlava":1},"outputs":{"magmawall1":1}},
	{"inputs":{"penumbradirtmaterial":1,"vialproto":1},"outputs":{"biorock":1}},
	{"inputs":{"penumbradirtmaterial":1,"liquidhealing":1},"outputs":{"slimedirtmaterial":1}},
	{"inputs":{"penumbradirtmaterial":1,"liquidalienjuice":1},"outputs":{"bonemealmaterial":1}},
	{"inputs":{"penumbrastonematerial":1,"liquidlava":1},"outputs":{"magmawall2":1}},
	{"inputs":{"penumbrastonematerial":1,"vialproto":1},"outputs":{"biorock":1}},
	{"inputs":{"penumbrastonematerial":1,"liquidhealing":1},"outputs":{"jellystone":1}},
	{"inputs":{"penumbrastonematerial":1,"liquidalienjuice":1},"outputs":{"corruptslimematerial":1}},
	{"inputs":{"plantmatter":1,"liquidironfu":1},"outputs":{"magmawall3":1}},
	{"inputs":{"plantmatter":1,"liquidlava":1},"outputs":{"magmawall3":1}},
	{"inputs":{"plantmatter":1,"fu_liquidhoney":1},"outputs":{"goldenleaves":1}},
	{"inputs":{"precursorpanel":1,"liquidlava":1},"outputs":{"ash":1}},
	{"inputs":{"precursorpanel":1,"liquidironfu":1},"outputs":{"ash":1}},
	{"inputs":{"precursorwall":1,"liquidlava":1},"outputs":{"ash":1}},
	{"inputs":{"precursorwall":1,"liquidironfu":1},"outputs":{"ash":1}},
	{"inputs":{"purplecrystalmaterial":1,"liquidfuel":1},"outputs":{"supermatter":1}},
	{"inputs":{"purplecrystalmaterial":1,"liquidcrystal":1},"outputs":{"crystalblock":1}},
	{"inputs":{"purplecrystalmaterial":1,"liquidironfu":1},"outputs":{"magmawall3":1}},
	{"inputs":{"purplecrystalmaterial":1,"liquidlava":1},"outputs":{"magmawall2":1}},
	{"inputs":{"redhoneycombmaterial":1,"liquiddarkwater":1},"outputs":{"blackslimematerial":1}},
	{"inputs":{"redhotcobblestone":1,"liquidlava":1},"outputs":{"magmawall2":1}},
	{"inputs":{"retexaetherdust":1,"liquidlava":1},"outputs":{"magmawall3":1}},
	{"inputs":{"retexaetherdust":1,"liquidironfu":1},"outputs":{"magmawall3":1}},
	{"inputs":{"retexcobblestone":1,"liquidlava":1},"outputs":{"redhotcobblestone":1}},
	{"inputs":{"retexcobblestone":1,"liquidironfu":1},"outputs":{"steelstonematerial":1}},
	{"inputs":{"retexcobblestone":1,"liquidsulphuricacid":1},"outputs":{"sulphurstonematerial":1}},
	{"inputs":{"retexcobblestone":1,"liquidslime":1},"outputs":{"slime":1}},
	{"inputs":{"retexcobblestone":1,"liquidnitrogenitem":1},"outputs":{"iceblock4material":1}},
	{"inputs":{"retexcobblestone":1,"liquiddarkwater":1},"outputs":{"marestonematerial":1}},
	{"inputs":{"retexcobblestone":1,"liquidgravrain":1},"outputs":{"raincloudmat":1}},
	{"inputs":{"retexcobblestone":1,"liquidoil":1},"outputs":{"tarstonematerial":1}},
	{"inputs":{"retexcobblestone":1,"liquidblacktar":1},"outputs":{"tarstonematerial":1}},
	{"inputs":{"retexcobblestone":1,"liquidorganicsoup":1},"outputs":{"violiumcrystal":1}},
	{"inputs":{"retexcobblestone":1,"swampwater":1},"outputs":{"fumossyrock2":1}},
	{"inputs":{"retexdirt":1,"liquidlava":1},"outputs":{"magmawall4":1}},
	{"inputs":{"retexdirt":1,"swampwater":1},"outputs":{"swampdirtffmaterial":1}},
	{"inputs":{"retexdirt":1,"liquidbioooze":1},"outputs":{"biodirtmaterial":1}},
	{"inputs":{"retexdirt":1,"liquidelderfluid":1},"outputs":{"elderstonematerial":1}},
	{"inputs":{"retexdirt":1,"liquidirradium":1},"outputs":{"irradiatedwall":1}},
	{"inputs":{"retexdirt":1,"liquidpus":1},"outputs":{"bonemealmaterial":1}},
	{"inputs":{"retexdirt":1,"liquidcrystal":1},"outputs":{"aegisaltcrystal":1}},
	{"inputs":{"retexdirt":1,"liquidalienjuice":1},"outputs":{"aliensoil":1}},
	{"inputs":{"retexdirt":1,"liquidslime":1},"outputs":{"slimedirtmaterial":1}},
	{"inputs":{"retexdirt":1,"liquidsulphuricacid":1},"outputs":{"sulphurdirtmaterial":1}},
	{"inputs":{"retexdirt":1,"liquidgravrain":1},"outputs":{"cloudblock":1}},
	{"inputs":{"retexdirt":1,"liquidoil":1},"outputs":{"tar":1}},
	{"inputs":{"retexdirt":1,"liquidblacktar":1},"outputs":{"tar":1}},
	{"inputs":{"retexdirt":1,"liquidwastewater":1},"outputs":{"waste":1}},
	{"inputs":{"retexdirt":1,"liquidnitrogenitem":1},"outputs":{"iceblock3material":1}},
	{"inputs":{"retexdirt":1,"liquidironfu":1},"outputs":{"magmawall3":1}},
	{"inputs":{"retexredsandstone":1,"liquidnitrogenitem":1},"outputs":{"iceblock2material":1}},
	{"inputs":{"limestonematerial":1,"liquidlava":1},"outputs":{"redhotcobblestone":1}},
	{"inputs":{"limestonematerial":1,"liquidironfu":1},"outputs":{"steelstonematerial":1}},
	{"inputs":{"limestonematerial":1,"liquidsulphuricacid":1},"outputs":{"sulphurstonematerial":1}},
	{"inputs":{"limestonematerial":1,"liquidslime":1},"outputs":{"slime":1}},
	{"inputs":{"limestonematerial":1,"liquidnitrogenitem":1},"outputs":{"iceblock4material":1}},
	{"inputs":{"limestonematerial":1,"liquiddarkwater":1},"outputs":{"marestonematerial":1}},
	{"inputs":{"limestonematerial":1,"liquidgravrain":1},"outputs":{"raincloudmat":1}},
	{"inputs":{"limestonematerial":1,"liquidoil":1},"outputs":{"tarstonematerial":1}},
	{"inputs":{"limestonematerial":1,"liquidblacktar":1},"outputs":{"tarstonematerial":1}},
	{"inputs":{"limestonematerial":1,"liquidorganicsoup":1},"outputs":{"violiumcrystal":1}},
	{"inputs":{"limestonematerial":1,"swampwater":1},"outputs":{"fumossyrock2":1}},
	{"inputs":{"chertmaterial":1,"liquidlava":1},"outputs":{"redhotcobblestone":1}},
	{"inputs":{"chertmaterial":1,"liquidironfu":1},"outputs":{"steelstonematerial":1}},
	{"inputs":{"chertmaterial":1,"liquidsulphuricacid":1},"outputs":{"sulphurstonematerial":1}},
	{"inputs":{"chertmaterial":1,"liquidslime":1},"outputs":{"slime":1}},
	{"inputs":{"chertmaterial":1,"liquidnitrogenitem":1},"outputs":{"iceblock4material":1}},
	{"inputs":{"chertmaterial":1,"liquiddarkwater":1},"outputs":{"marestonematerial":1}},
	{"inputs":{"chertmaterial":1,"liquidgravrain":1},"outputs":{"raincloudmat":1}},
	{"inputs":{"chertmaterial":1,"liquidoil":1},"outputs":{"tarstonematerial":1}},
	{"inputs":{"chertmaterial":1,"liquidblacktar":1},"outputs":{"tarstonematerial":1}},
	{"inputs":{"chertmaterial":1,"liquidorganicsoup":1},"outputs":{"violiumcrystal":1}},
	{"inputs":{"chertmaterial":1,"swampwater":1},"outputs":{"fumossyrock2":1}},
	{"inputs":{"gritstonematerial":1,"liquidlava":1},"outputs":{"redhotcobblestone":1}},
	{"inputs":{"gritstonematerial":1,"liquidironfu":1},"outputs":{"steelstonematerial":1}},
	{"inputs":{"gritstonematerial":1,"liquidsulphuricacid":1},"outputs":{"sulphurstonematerial":1}},
	{"inputs":{"gritstonematerial":1,"liquidslime":1},"outputs":{"slime":1}},
	{"inputs":{"gritstonematerial":1,"liquidnitrogenitem":1},"outputs":{"iceblock4material":1}},
	{"inputs":{"gritstonematerial":1,"liquiddarkwater":1},"outputs":{"marestonematerial":1}},
	{"inputs":{"gritstonematerial":1,"liquidgravrain":1},"outputs":{"raincloudmat":1}},
	{"inputs":{"gritstonematerial":1,"liquidoil":1},"outputs":{"tarstonematerial":1}},
	{"inputs":{"gritstonematerial":1,"liquidblacktar":1},"outputs":{"tarstonematerial":1}},
	{"inputs":{"gritstonematerial":1,"liquidorganicsoup":1},"outputs":{"violiumcrystal":1}},
	{"inputs":{"gritstonematerial":1,"swampwater":1},"outputs":{"fumossyrock2":1}},
	{"inputs":{"sand2":1,"liquidsulphuricacid":1},"outputs":{"sulphurstonematerial":1}},
	{"inputs":{"sand2":1,"liquidslime":1},"outputs":{"slime":1}},
	{"inputs":{"sand2":1,"liquiddarkwater":1},"outputs":{"marestonematerial":1}},
	{"inputs":{"sand2":1,"liquidgravrain":1},"outputs":{"raincloudmat":1}},
	{"inputs":{"sand2":1,"liquidoil":1},"outputs":{"tarstonematerial":1}},
	{"inputs":{"sand2":1,"liquidblacktar":1},"outputs":{"tarstonematerial":1}},
	{"inputs":{"sand2":1,"liquidorganicsoup":1},"outputs":{"violiumcrystal":1}},
	{"inputs":{"sand2":1,"swampwater":1},"outputs":{"fumossyrock2":1}},
	{"inputs":{"retexsandstone":1,"liquidnitrogenitem":1},"outputs":{"iceblock2material":1}},
	{"inputs":{"mudstonematerial":1,"liquidironfu":1},"outputs":{"redhotcobblestone":1}},
	{"inputs":{"mudstonematerial":1,"liquidlava":1},"outputs":{"obsidian":1}},
	{"inputs":{"mudstonematerial":1,"liquidnitrogenitem":1},"outputs":{"iceblock1material":1}},
	{"inputs":{"andesitematerial":1,"liquidironfu":1},"outputs":{"redhotcobblestone":1}},
	{"inputs":{"andesitematerial":1,"liquidlava":1},"outputs":{"obsidian":1}},
	{"inputs":{"andesitematerial":1,"liquidnitrogenitem":1},"outputs":{"iceblock4material":1}},
	{"inputs":{"dacitematerial":1,"liquidironfu":1},"outputs":{"redhotcobblestone":1}},
	{"inputs":{"dacitematerial":1,"liquidlava":1},"outputs":{"obsidian":1}},
	{"inputs":{"dacitematerial":1,"liquidnitrogenitem":1},"outputs":{"iceblock4material":1}},
	{"inputs":{"gneissmaterial":1,"liquidironfu":1},"outputs":{"magmawall3":1}},
	{"inputs":{"gneissmaterial":1,"liquidlava":1},"outputs":{"obsidian":1}},
	{"inputs":{"gneissmaterial":1,"liquidnitrogenitem":1},"outputs":{"iceblock3material":1}},
	{"inputs":{"limestonematerial":1,"liquidironfu":1},"outputs":{"magmawall3":1}},
	{"inputs":{"limestonematerial":1,"liquidlava":1},"outputs":{"obsidian":1}},
	{"inputs":{"limestonematerial":1,"liquidnitrogenitem":1},"outputs":{"iceblock3material":1}},
	{"inputs":{"gabbromaterial":1,"liquidironfu":1},"outputs":{"magmawall3":1}},
	{"inputs":{"gabbromaterial":1,"liquidlava":1},"outputs":{"obsidian":1}},
	{"inputs":{"gabbromaterial":1,"liquidnitrogenitem":1},"outputs":{"frozenstonematerial":1}},
	{"inputs":{"chertmaterial":1,"liquidironfu":1},"outputs":{"magmawall3":1}},
	{"inputs":{"chertmaterial":1,"liquidlava":1},"outputs":{"obsidian":1}},
	{"inputs":{"chertmaterial":1,"liquidnitrogenitem":1},"outputs":{"iceblock2material":1}},
	{"inputs":{"gritstonematerial":1,"liquidironfu":1},"outputs":{"redhotcobblestone":1}},
	{"inputs":{"gritstonematerial":1,"liquidlava":1},"outputs":{"obsidian":1}},
	{"inputs":{"gritstonematerial":1,"liquidnitrogenitem":1},"outputs":{"iceblock2material":1}},
	{"inputs":{"conglomeratematerial":1,"liquidironfu":1},"outputs":{"magmawall3":1}},
	{"inputs":{"conglomeratematerial":1,"liquidlava":1},"outputs":{"obsidian":1}},
	{"inputs":{"conglomeratematerial":1,"liquidnitrogenitem":1},"outputs":{"frozenstonematerial":1}},
	{"inputs":{"arkosematerial":1,"liquidironfu":1},"outputs":{"magmawall3":1}},
	{"inputs":{"arkosematerial":1,"liquidlava":1},"outputs":{"obsidian":1}},
	{"inputs":{"arkosematerial":1,"liquidnitrogenitem":1},"outputs":{"frozenstonematerial":1}},
	{"inputs":{"rottingfleshmaterial":1,"liquidlava":1},"outputs":{"fleshblock":1}},
	{"inputs":{"rottingfleshmaterial":1,"liquidironfu":1},"outputs":{"fleshblock":1}},
	{"inputs":{"rottingfleshmaterial":1,"liquidblood":1},"outputs":{"fleshblock":1}},
	{"inputs":{"rottingfleshmaterial":1,"liquidhealing":1},"outputs":{"fleshblock":1}},
	{"inputs":{"rottingfleshmaterial":1,"liquidsulphuricacid":1},"outputs":{"sewage":1}},
	{"inputs":{"rustyblock":1,"liquidlava":1},"outputs":{"moltenmetal":1}},
	{"inputs":{"rustyblock":1,"liquidironfu":1},"outputs":{"moltenmetal":1}},
	{"inputs":{"rustymetal":1,"liquidlava":1},"outputs":{"moltentile":1}},
	{"inputs":{"rustymetal":1,"liquidironfu":1},"outputs":{"moltentile":1}},
	{"inputs":{"sand":1,"fu_liquidhoney":1},"outputs":{"goldensand":1}},
	{"inputs":{"sand":1,"liquidlava":1},"outputs":{"glasssandmaterial":1}},
	{"inputs":{"sand":1,"liquidbioooze":1},"outputs":{"biogravelmaterial":1}},
	{"inputs":{"sand":1,"liquidironfu":1},"outputs":{"steelsand":1}},
	{"inputs":{"sand":1,"liquidnitrogenitem":1},"outputs":{"frozensandmaterial":1}},
	{"inputs":{"sand":1,"liquidcrystal":1},"outputs":{"crystalsandmaterial":1}},
	{"inputs":{"sand":1,"vialproto":1},"outputs":{"rainbowsandmaterial":1}},
	{"inputs":{"sand2":1,"fu_liquidhoney":1},"outputs":{"goldensand":1}},
	{"inputs":{"sand2":1,"liquidlava":1},"outputs":{"glasssandmaterial":1}},
	{"inputs":{"sand2":1,"liquidbioooze":1},"outputs":{"biogravelmaterial":1}},
	{"inputs":{"sand2":1,"liquidironfu":1},"outputs":{"steelsand":1}},
	{"inputs":{"sand2":1,"liquidnitrogenitem":1},"outputs":{"frozensandmaterial":1}},
	{"inputs":{"sand2":1,"liquidcrystal":1},"outputs":{"crystalsandmaterial":1}},
	{"inputs":{"sandstonematerial":1,"liquidnitrogenitem":1},"outputs":{"iceblock2material":1}},
	{"inputs":{"slime":1,"liquiddarkwater":1},"outputs":{"blackslimematerial":1}},
	{"inputs":{"slime":1,"liquidcrystal":1},"outputs":{"slime2material":1}},
	{"inputs":{"slime":1,"liquidorganicsoup":1},"outputs":{"fujellyblock":1}},
	{"inputs":{"slime":1,"liquidhealing":1},"outputs":{"fujellyblock":1}},
	{"inputs":{"slime":1,"liquidsulphuricacid":1},"outputs":{"drydirt":1}},
	{"inputs":{"slime2material":1,"liquiddarkwater":1},"outputs":{"blackslimematerial":1}},
	{"inputs":{"slime2material":1,"liquidorganicsoup":1},"outputs":{"fujellyblock":1}},
	{"inputs":{"slime2material":1,"liquidhealing":1},"outputs":{"fujellyblock":1}},
	{"inputs":{"slime2material":1,"liquidsulphuricacid":1},"outputs":{"ash":1}},
	{"inputs":{"slimedirtmaterial":1,"liquiddarkwater":1},"outputs":{"blackslimematerial":1}},
	{"inputs":{"slimedirtmaterial":1,"liquidaether":1},"outputs":{"fujellyblock":1}},
	{"inputs":{"slimedirtmaterial":1,"liquidcrystal":1},"outputs":{"slime2material":1}},
	{"inputs":{"slimedirtmaterial":1,"liquidorganicsoup":1},"outputs":{"jellystone":1}},
	{"inputs":{"slimedirtmaterial":1,"liquidblood":1},"outputs":{"fleshblock":1}},
	{"inputs":{"slimedirtmaterial":1,"liquidhealing":1},"outputs":{"bonemealmaterial":1}},
	{"inputs":{"slimedirtmaterial":1,"liquidsulphuricacid":1},"outputs":{"drydirt":1}},
	{"inputs":{"springvines":1,"liquidlava":1},"outputs":{"magmawall3":1}},
	{"inputs":{"springvines":1,"liquidironfu":1},"outputs":{"magmawall3":1}},
	{"inputs":{"steelmetal":1,"liquidlava":1},"outputs":{"moltentile":1}},
	{"inputs":{"steelmetal":1,"liquidironfu":1},"outputs":{"moltentile":1}},
	{"inputs":{"steelpartblock":1,"liquidlava":1},"outputs":{"magmawall1":1}},
	{"inputs":{"steelpartblock":1,"liquidironfu":1},"outputs":{"magmawall1":1}},
	{"inputs":{"steelsand":1,"liquidlava":1},"outputs":{"moltensand":1}},
	{"inputs":{"steelsand":1,"liquidironfu":1},"outputs":{"moltensand":1}},
	{"inputs":{"steelstonematerial":1,"liquidlava":1},"outputs":{"magmawall3":1}},
	{"inputs":{"steelstonematerial":1,"liquidironfu":1},"outputs":{"magmawall3":1}},
	{"inputs":{"sulphurstonematerial":1,"shadowgasliquid":1},"outputs":{"andesite":1}},
	{"inputs":{"violiumcrystal":1,"liquidsulphuricacid":1},"outputs":{"geodestone":1}},
	{"inputs":{"warttile":1,"liquidsulphuricacid":1},"outputs":{"geodestone":1}},
	{"inputs":{"waste":1,"liquidcrystal":1},"outputs":{"slime2material":1}},
	{"inputs":{"waste":1,"liquidaether":1},"outputs":{"matterblock":1}},
	{"inputs":{"waste":1,"liquidalienjuice":1},"outputs":{"biorock":1}},
	{"inputs":{"waste":1,"liquidhealing":1},"outputs":{"biorock":1}},
	{"inputs":{"wetdirt":1,"liquidwater":1},"outputs":{"mud":1}},
	{"inputs":{"wetdirt":1,"liquidlava":1},"outputs":{"magmawall4":1}},
	{"inputs":{"wetdirt":1,"liquidironfu":1},"outputs":{"magmawall4":1}}
]
