{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/icons/fu_standardHeader.png",
      "fileBody" : "/interface/crafting/icons/fu_stationBody.png",
      "fileFooter" : "/interface/crafting/icons/fu_standardFooter.png"
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "position" : [110, 48],
	    "slotOffset" : 2,
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/crafting/icons/empty.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [74, 48],
      "slotOffset" : 1,
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/crafting/icons/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [54, 48],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/crafting/icons/empty.png"
    },
    "dragDrop" : {
      "type" : "label",
      "value" : "Mix Two\nLiquids",
      "hAnchor" : "mid",
      "position" : [28, 48]
    },
    "label1" : {
      "type" : "label",
      "value" : "1",
      "hAnchor" : "mid",
      "position" : [63, 66]
    },
    "label2" : {
      "type" : "label",
      "value" : "2",
      "hAnchor" : "mid",
      "position" : [83, 66]
    },
    "pointer" : {
      "type" : "image",
      "position" : [96, 52],
      "file" : "/interface/objectcrafting/arrow.png"
    },
    "clear" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Take All",
      "position" : [81, 18]
    }
  }
}
