{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "waterblastexplosion"
    },
    {
      "action" : "liquid",
      "liquid" : "water",
      "quantity" : 0.55
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/weapons/water-splash.wav" ]
    }

  ]
}
