{
	"openWithInventory" : true,

	"gui" : {
		"background" : {
			"type" : "background",
			"zlevel" : 0,
			"fileHeader" : "/interface/scripted/tunableoredetector/header.png",
			"fileBody" : "/interface/scripted/tunableoredetector/body.png",
			"fileFooter" : "/interface/scripted/tunableoredetector/footer.png"
		},

		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [0, 0],
			"callback" : "closePanel",
			"position" : [58, 74]
		},

		"oreSlot" : {
			"type" : "itemslot",
			"backingImage" : "/interface/inventory/empty.png",
			"position" : [28, 45],
			"callback" : "itemSlotCallback",
			"rightClickCallback" : "null"

		},

		"lb_Info" : {
			"type" : "label",
			"position" : [38, 65],
			"hAnchor" : "mid",
			"value" : "^yellow;Awaiting Input...",
			"fontSize" : 6
		},

		"lb_currentOre" : {
			"type" : "label",
			"position" : [38, 28],
			"fontSize" : 6,
			"hAnchor" : "mid",
			"text":"<^yellow;Loading...^reset;>"
		},

		"currentOreLabel" : {
			"type" : "label",
			"position" : [38, 36],
			"fontSize" : 6,
			"hAnchor" : "mid",
			"text":"^yellow;Current Ore:"
		}

	},

	"scriptWidgetCallbacks" : ["itemSlotCallback","setTargetOre","closePanel"],

	"scripts" : ["/interface/scripted/tunableoredetector/tunableoredetector_gui.lua"],
	"scriptDelta" : 1,
	"autoRefreshRate" : 0.5,

	"errorSound" : "/sfx/interface/clickon_error.ogg",
	"successSound" : "/sfx/interface/ship_confirm1.ogg",
	"stringData":{
		"EquippedEssential":"^red;Equipped: Essential!",
		"MissingScanner":"^red;Missing Detector!",
		"MultipleScanner":"^red;Multiple Detectors!",
		"UpgradeRequired":"^red;Upgrade Required!",
		"Scanning":"^yellow;Scanning...",
		"WrongItem":"^red;Incorrect Item!"
	}

}
