{
	"openWithInventory" : true,


  "gui" : {
    "background" : {
      "type" : "background",
	  "zlevel" : 0,
      "fileHeader" : "/interface/scripted/tunableoredetector/header.png",
      "fileBody" : "/interface/scripted/tunableoredetector/body.png",
      "fileFooter" : "/interface/scripted/tunableoredetector/footer.png"
    },
	
	

    "close" : {
            "type" : "button",
            "base" : "/interface/x.png",
            "hover" : "/interface/xhover.png",
            "pressed" : "/interface/xpress.png",
            "pressedOffset" : [0, 0],
            "callback" : "closePanel",
			"position" : [58, 74]
        },
	
		
    "oreSlot" : {
      "type" : "itemslot",
      "backingImage" : "/interface/inventory/empty.png",
      "position" : [28, 45],
      "callback" : "itemSlotCallback",
      "rightClickCallback" : "null"
	 
    },
	
	"lb_UpgradeRequired" : {
		"type" : "label",
		"position" : [7, 65],
		"hAnchor" : "left",
		"value" : "^red;Upgrade Required !",
		"fontSize" : 6,
		"visible" : false
	},
	
	"lb_Scanning" : {
		"type" : "label",
		"position" : [40, 65],
		"hAnchor" : "mid",
		"value" : "^yellow;Scanning...",
		"fontSize" : 6,
		"visible" : false
	},
	
	"lb_WrongItem" : {
		"type" : "label",
		"position" : [36, 65],
		"hAnchor" : "mid",
		"value" : "^red;Incorrect Item !",
		"fontSize" : 6,
		"visible" : false
	},

	"btnClose" : {
      "type" : "button",
      "position" : [10, 30],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "disabledImage" : "/interface/buttongreyed.png",
      "caption" : "close",
      "callback" : "closePanel"
    }
	
  },
  
  "scriptWidgetCallbacks" : ["itemSlotCallback","setTargetOre","closePanel"],
   
  "scripts" : ["/interface/scripted/tunableoredetector/tunableoredetector_gui.lua"],
  "scriptDelta" : 1,
  "autoRefreshRate" : 0.5,
  
  "errorSound" : "/sfx/interface/clickon_error.ogg",
  "successSound" : "/sfx/interface/ship_confirm1.ogg"

}
