{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.01,
      "type" : "bahamutboom"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 1,
      "delaySteps" : 0
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/melee/fleshwhip_impact1.ogg" ]
    }

  ]
}
