{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/sbvn/header.png",
      "fileBody" : "/interface/scripted/sbvn/body.png",
      "fileFooter" : "/interface/scripted/sbvn/footer.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : " SBVN",
      "subtitle" : "",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/sbvn/icon.png",
        "zlevel" : -1
      }
    },
    "close" : {
      "zlevel" : 10,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "callback" : "close",
      "position" : [287, 227]
    },

    "cvsBackground" : {
      "zlevel" : 0,
      "type" : "canvas",
      "rect" : [1, 22, 301, 222],
      "captureMouseEvents" : false,
      "captureKeyboardEvents" : false
    },

    "cvsForeground" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [1, 22, 301, 222],
      "captureMouseEvents" : false,
      "captureKeyboardEvents" : false
    },

    "imgTextbox" : {
      "type" : "image",
      "file" : "",
      "position" : [1, 22],
      "zlevel" : 2
    },

    "lblText" : {
      "type" : "label",
      "position" : [26, 73],
      "zlevel" : 3,
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 256,
      "lineSpacing" : 1.1,
      "value" : "[no game loaded]"
    },

    "lblOptions" : {
      "type" : "label",
      "position" : [151, 43],
      "zlevel" : 3,
      "hAnchor" : "mid",
      "vAnchor" : "top",
      "wrapWidth" : 260,
      "lineSpacing" : 1.1,
      "value" : ""
    },

    "imgContinueHint" : {
      "type" : "image",
      "file" : "",
      "position" : [272, 36],
      "zlevel" : 3,
      "visible" : false
    },

    "cvsOverlay" : {
      "zlevel" : 4,
      "type" : "canvas",
      "rect" : [1, 22, 301, 222],
      "captureMouseEvents" : true,
      "captureKeyboardEvents" : true
    }
  },

  "scriptWidgetCallbacks" : [

  ],

  "canvasClickCallbacks" : {
    "cvsOverlay" : "canvasClickEvent"
  },
  "canvasKeyCallbacks" : {
    "cvsOverlay" : "canvasKeyEvent"
  },

  "scripts" : ["/interface/scripted/sbvn/pandorasboxsbvngui.lua"],
  "scriptDelta" : 2
}
