[
  //Vanilla
  {
    "race" : "apex",
	"name" : "Apex",
	"petName" : "Weasel",
	"pet" : {"name" : "petweasel", "unique" : true},
	"starterTreasure" : {"name" : "apexStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "apexcaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "apexfuelhatch", "unique" : true},
	"shipdoor" : {"name" : "apexshipdoor", "unique" : true},
	"shiphatch" : {"name" : "apexshiphatch", "unique" : true},
	"shiplocker" : {"name" : "apexshiplocker", "unique" : true},
	"techstation" : {"name" : "techstation", "unique" : true},
	"teleporter" : {"name" : "teleporter", "unique" : true}
  },
  {
    "race" : "avian",
	"name" : "Avian",
	"petName" : "Bunny",
	"pet" : {"name" : "petbunny", "unique" : true},
	"starterTreasure" : {"name" : "avianStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "aviancaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "avianfuelhatch", "unique" : true},
	"shipdoor" : {"name" : "avianshipdoor", "unique" : true},
	"shiphatch" : {"name" : "avianshiphatch", "unique" : true},
	"shiplocker" : {"name" : "avianshiplocker", "unique" : true},
	"techstation" : {"name" : "aviantechstation", "unique" : true},
	"teleporter" : {"name" : "avianteleporter", "unique" : true}
  },
  {
    "race" : "floran",
	"name" : "Floran",
	"petName" : "Snake",
	"pet" : {"name" : "petsnake", "unique" : true},
	"starterTreasure" : {"name" : "floranStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "florancaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "floranfuelhatch", "unique" : true},
	"shipdoor" : {"name" : "floranshipdoor", "unique" : true},
	"shiphatch" : {"name" : "floranshiphatch", "unique" : true},
	"shiplocker" : {"name" : "floranshiplocker", "unique" : true},
	"techstation" : {"name" : "florantechstation", "unique" : true},
	"teleporter" : {"name" : "floranteleporter", "unique" : true}
  },
  {
    "race" : "glitch",
	"name" : "Glitch",
	"petName" : "Piglett",
	"pet" : {"name" : "piglett", "unique" : true},
	"starterTreasure" : {"name" : "glitchStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "glitchcaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "glitchfuelhatch", "unique" : true},
	"shipdoor" : {"name" : "glitchshipdoor", "unique" : true},
	"shiphatch" : {"name" : "glitchshiphatch", "unique" : true},
	"shiplocker" : {"name" : "glitchshiplocker", "unique" : true},
	"techstation" : {"name" : "glitchtechstation", "unique" : true},
	"teleporter" : {"name" : "glitchteleporter", "unique" : true}
  },
  {
    "race" : "human",
	"name" : "Human",
	"petName" : "Cat",
	"pet" : {"name" : "petcat", "unique" : true},
	"starterTreasure" : {"name" : "humanStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "humancaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "humanfuelhatch", "unique" : true},
	"shipdoor" : {"name" : "humanshipdoor", "unique" : true},
	"shiphatch" : {"name" : "humanshiphatch", "unique" : true},
	"shiplocker" : {"name" : "humanshiplocker", "unique" : true},
	"techstation" : {"name" : "humantechstation", "unique" : true},
	"teleporter" : {"name" : "humanteleporter", "unique" : true}
  },
  {
    "race" : "hylotl",
	"name" : "Hylotl",
	"petName" : "Crasberry",
	"pet" : {"name" : "crasberry", "unique" : true},
	"starterTreasure" : {"name" : "hylotlStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "hylotlcaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "hylotlfuelhatch", "unique" : true},
	"shipdoor" : {"name" : "hylotlshipdoor", "unique" : true},
	"shiphatch" : {"name" : "hylotlshiphatch", "unique" : true},
	"shiplocker" : {"name" : "hylotlshiplocker", "unique" : true},
	"techstation" : {"name" : "hylotltechstation", "unique" : true},
	"teleporter" : {"name" : "hylotlteleporter", "unique" : true}
  },
  {
    "race" : "novakid",
	"name" : "Novakid",
	"petName" : "Snugget",
	"pet" : {"name" : "snugget", "unique" : true},
	"starterTreasure" : {"name" : "novakidStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "novakidcaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "novakidfuelhatch", "unique" : true},
	"shipdoor" : {"name" : "novakidshipdoor", "unique" : true},
	"shiphatch" : {"name" : "novakidshiphatch", "unique" : true},
	"shiplocker" : {"name" : "novakidshiplocker", "unique" : true},
	"techstation" : {"name" : "novakidtechstation", "unique" : true},
	"teleporter" : {"name" : "novakidteleporter", "unique" : true}
  },
  
  //FR
  {
    "race" : "argonian",
	"name" : "Argonian",
	"petName" : "Snake",
	"pet" : {"name" : "petsnake", "unique" : false},
	"starterTreasure" : {"name" : "floranStarterTreasure", "unique" : false},
	"captainschair" : {"name" : "florancaptainschair", "unique" : false},
	"fuelhatch" : {"name" : "floranfuelhatch", "unique" : false},
	"shipdoor" : {"name" : "floranshipdoor", "unique" : false},
	"shiplocker" : {"name" : "floranshiplocker", "unique" : false},
	"techstation" : {"name" : "argoniantechstation", "unique" : true},
	"teleporter" : {"name" : "floranteleporter", "unique" : false}
  },
  {
    "race" : "avali",
	"name" : "Avali",
	"petName" : "Cat",
	"pet" : {"name" : "petcat", "unique" : false},
	"starterTreasure" : {"name" : "avaliStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "avalicaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "avalifuelhatch", "unique" : true},
	"shipdoor" : {"name" : "avalishipdoor", "unique" : true},
	"shiplocker" : {"name" : "avalishiplocker", "unique" : true},
	"techstation" : {"name" : "avalitechstation", "unique" : true},
	"teleporter" : {"name" : "avaliteleporter", "unique" : true}
  },
  {
    "race" : "avikan",
	"name" : "Avikan",
	"petName" : "Sand Crawler",
	"pet" : {"name" : "sandcrawler", "unique" : true},
	"starterTreasure" : {"name" : "avikanStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "avikancaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "avikanfuelhatch", "unique" : true},
	"shipdoor" : {"name" : "avikanshipdoor", "unique" : true},
	"shiplocker" : {"name" : "avikanshiplocker", "unique" : true},
	"techstation" : {"name" : "avikantechstation", "unique" : true},
	"teleporter" : {"name" : "avikanteleporter", "unique" : true}
  },
  {
    "race" : "bunnykin",
	"name" : "Bunnykin",
	"petName" : "Bunny",
	"pet" : {"name" : "petbunny", "unique" : false},
	"starterTreasure" : {"name" : "bunnykinStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "bunnykincaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "bunnykinfuelhatch", "unique" : true},
	"shipdoor" : {"name" : "bunnykinshipdoor", "unique" : true},
	"shiplocker" : {"name" : "bunnykinshiplocker", "unique" : true},
	"techstation" : {"name" : "bunnykintechstation", "unique" : true},
	"teleporter" : {"name" : "bunnykinteleporter", "unique" : true}
  },
  {
    "race" : "callistan",
	"name" : "Callistan",
	"petName" : "Orbis",
	"pet" : {"name" : "petorbis", "unique" : true},
	"starterTreasure" : {"name" : "callistanStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "somacaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "callistanfuelhatch", "unique" : true},
	"shipdoor" : {"name" : "callistanshipdoor", "unique" : true},
	"shiphatch" : {"name" : "callistanshiphatch", "unique" : true},
	"shiplocker" : {"name" : "callistanshiplocker", "unique" : true},
	"techstation" : {"name" : "callistantechstation", "unique" : true},
	"teleporter" : {"name" : "callistanteleporter", "unique" : true}
  },
  {
    "race" : "droden",
	"name" : "Droden",
	"petName" : "Sand Crawler",
	"pet" : {"name" : "sandcrawler", "unique" : false},
	"starterTreasure" : {"name" : "drodenStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "avikancaptainschair", "unique" : false},
	"fuelhatch" : {"name" : "avikanfuelhatch", "unique" : false},
	"shipdoor" : {"name" : "avikanshipdoor", "unique" : false},
	"shiplocker" : {"name" : "avikanshiplocker", "unique" : false},
	"techstation" : {"name" : "avikantechstation", "unique" : false},
	"teleporter" : {"name" : "avikanteleporter", "unique" : false}
  },
  {
    "race" : "elunite",
	"name" : "Elunite",
	"petName" : "Minimal",
	"pet" : {"name" : "minimal", "unique" : true},
	"starterTreasure" : {"name" : "eluniteStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "elunitecaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "elunitefuelhatch", "unique" : true},
	"shipdoor" : {"name" : "eluniteshipdoor", "unique" : true},
	"shiphatch" : {"name" : "eluniteshiphatch", "unique" : true},
	"shiplocker" : {"name" : "eluniteshiplocker", "unique" : true},
	"techstation" : {"name" : "elunitetechstation", "unique" : true},
	"teleporter" : {"name" : "eluniteteleporter", "unique" : true}
  },
  {
    "race" : "familiar",
	"name" : "Familiar",
	"petName" : "Cat",
	"pet" : {"name" : "petcat", "unique" : false},
	"starterTreasure" : {"name" : "familiarStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "humancaptainschair", "unique" : false},
	"fuelhatch" : {"name" : "humanfuelhatch", "unique" : false},
	"shipdoor" : {"name" : "humanshipdoor", "unique" : false},
	"shiplocker" : {"name" : "humanshiplocker", "unique" : false},
	"techstation" : {"name" : "humantechstation", "unique" : false},
	"teleporter" : {"name" : "humanteleporter", "unique" : false}
  },
  {
    "race" : "felin",
	"name" : "Felin",
	"petName" : "Tentillum",
	"pet" : {"name" : "tentillum", "unique" : true},
	"starterTreasure" : {"name" : "felinStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "felincaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "apexfuelhatch", "unique" : false},
	"shipdoor" : {"name" : "apexshipdoor", "unique" : false},
	"shiplocker" : {"name" : "felinshiplocker", "unique" : true},
	"techstation" : {"name" : "felintechstation", "unique" : true},
	"teleporter" : {"name" : "teleporter", "unique" : false}
  },
  {
    "race" : "fenerox",
	"name" : "Fenerox",
	"petName" : "Fenerox",
	"pet" : {"name" : "feneroxpet", "unique" : true},
	"starterTreasure" : {"name" : "feneroxStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "feneroxcaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "feneroxfuelhatch", "unique" : true},
	"shipdoor" : {"name" : "feneroxshipdoor", "unique" : true},
	"shiphatch" : {"name" : "feneroxshiphatch", "unique" : true},
	"shiplocker" : {"name" : "feneroxshiplocker", "unique" : true},
	"techstation" : {"name" : "feneroxtechstation", "unique" : true},
	"teleporter" : {"name" : "feneroxteleporter", "unique" : true}
  },
  {
    "race" : "gardevan",
	"name" : "Gardevan",
	"petName" : "Cat",
	"pet" : {"name" : "petcat", "unique" : false},
	"starterTreasure" : {"name" : "humanStarterTreasure", "unique" : false},
	"captainschair" : {"name" : "humancaptainschair", "unique" : false},
	"fuelhatch" : {"name" : "humanfuelhatch", "unique" : false},
	"shipdoor" : {"name" : "humanshipdoor", "unique" : false},
	"shiplocker" : {"name" : "humanshiplocker", "unique" : false},
	"techstation" : {"name" : "humantechstation", "unique" : false},
	"teleporter" : {"name" : "humanteleporter", "unique" : false}
  },
  {
    "race" : "greckan",
	"name" : "Greckan",
	"petName" : "Fextal",
	"pet" : {"name" : "petfextal", "unique" : true},
	"starterTreasure" : {"name" : "greckanStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "greckancaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "greckanfuelhatch", "unique" : true},
	"shipdoor" : {"name" : "greckanshipdoor", "unique" : true},
	"shiphatch" : {"name" : "greckanshiphatch", "unique" : true},
	"shiplocker" : {"name" : "greckanshiplocker", "unique" : true},
	"techstation" : {"name" : "greckantechstation", "unique" : true},
	"teleporter" : {"name" : "greckanteleporter", "unique" : true}
  },
  {
    "race" : "gyrusen",
	"name" : "Gyrusen",
	"petName" : "Rouki",
	"pet" : {"name" : "petrouki", "unique" : true},
	"starterTreasure" : {"name" : "gyrusenStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "apexcaptainschair", "unique" : false},
	"fuelhatch" : {"name" : "apexfuelhatch", "unique" : false},
	"shipdoor" : {"name" : "ourondoor", "unique" : true},
	"shiplocker" : {"name" : "apexshiplocker", "unique" : false},
	"techstation" : {"name" : "gyrusentechstation", "unique" : true},
	"teleporter" : {"name" : "gyrusenteleporter", "unique" : true}
  },
  {
    "race" : "Indix",
	"name" : "Indix",
	"petName" : "Satri",
	"pet" : {"name" : "satri", "unique" : true},
	"starterTreasure" : {"name" : "IndixStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "Indixcaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "Indixfuelhatch", "unique" : true},
	"shipdoor" : {"name" : "Indixshipdoor", "unique" : true},
	"shiphatch" : {"name" : "Indixshiphatch", "unique" : true},
	"shiplocker" : {"name" : "Indixshiplocker", "unique" : true},
	"techstation" : {"name" : "Indixtechstation", "unique" : true},
	"teleporter" : {"name" : "Indixteleporter", "unique" : true}
  },
  {
    "race" : "kazdra",
	"name" : "Kazdra",
	"petName" : "Staloa",
	"pet" : {"name" : "staloa", "unique" : true},
	"starterTreasure" : {"name" : "kazdraStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "aviancaptainschair", "unique" : false},
	"fuelhatch" : {"name" : "avianfuelhatch", "unique" : false},
	"shipdoor" : {"name" : "avianshipdoor", "unique" : false},
	"shiplocker" : {"name" : "avianshiplocker", "unique" : false},
	"techstation" : {"name" : "kazdratechstation", "unique" : true},
	"teleporter" : {"name" : "avianteleporter", "unique" : false}
  },
  {
    "race" : "kemono",
	"name" : "Kemono",
	"petName" : "Cat",
	"pet" : {"name" : "petcat", "unique" : false},
	"starterTreasure" : {"name" : "humanStarterTreasure", "unique" : false},
	"captainschair" : {"name" : "humancaptainschair", "unique" : false},
	"fuelhatch" : {"name" : "humanfuelhatch", "unique" : false},
	"shipdoor" : {"name" : "humanshipdoor", "unique" : false},
	"shiplocker" : {"name" : "humanshiplocker", "unique" : false},
	"techstation" : {"name" : "humantechstation", "unique" : false},
	"teleporter" : {"name" : "humanteleporter", "unique" : false}
  },
  {
    "race" : "kineptic",
	"name" : "Kineptic",
	"petName" : "Lixmur",
	"pet" : {"name" : "petlixmur", "unique" : true},
	"starterTreasure" : {"name" : "kinepticStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "kinepticcaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "kinepticfuelhatch", "unique" : true},
	"shipdoor" : {"name" : "kinepticshipdoor", "unique" : true},
	"shiplocker" : {"name" : "kinepticshiplocker", "unique" : true},
	"techstation" : {"name" : "kineptictechstation", "unique" : true},
	"teleporter" : {"name" : "kinepticteleporter", "unique" : true}
  },
  {
    "race" : "lamia",
	"name" : "Lamia",
	"petName" : "Snake",
	"pet" : {"name" : "petsnake", "unique" : false},
	"starterTreasure" : {"name" : "lamiaStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "lamiacaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "lamiafuelhatch", "unique" : true},
	"shipdoor" : {"name" : "lamiashipdoor", "unique" : true},
	"shiphatch" : {"name" : "lamiashiphatch", "unique" : true},
	"shiplocker" : {"name" : "lamiashiplocker", "unique" : true},
	"techstation" : {"name" : "lamiatechstation", "unique" : true},
	"teleporter" : {"name" : "lamiateleporter", "unique" : true}
  },
  {
    "race" : "mantizi",
	"name" : "Mantizi",
	"petName" : "Slugbun",
	"pet" : {"name" : "petslugbun", "unique" : true},
	"starterTreasure" : {"name" : "mantiziStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "mantizicaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "mantizifuelhatch", "unique" : true},
	"shipdoor" : {"name" : "mantizishipdoor", "unique" : true},
	"shiphatch" : {"name" : "mantizishiphatch", "unique" : true},
	"shiplocker" : {"name" : "mantizishiplocker", "unique" : true},
	"techstation" : {"name" : "mantizitechstation", "unique" : true},
	"teleporter" : {"name" : "mantiziteleporter", "unique" : true}
  },
  {
    "race" : "munari",
	"name" : "Munari",
	"petName" : "Octoling",
	"pet" : {"name" : "octoling", "unique" : true},
	"starterTreasure" : {"name" : "apexStarterTreasure", "unique" : false},
	"captainschair" : {"name" : "munarishipcaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "munarishipfuelhatch", "unique" : true},
	"shipdoor" : {"name" : "munarishipdoor", "unique" : true},
	"shiphatch" : {"name" : "munarishiphatch", "unique" : true},
	"shiplocker" : {"name" : "munarishiplocker", "unique" : true},
	"techstation" : {"name" : "munarishiptechstation", "unique" : true},
	"teleporter" : {"name" : "munarishipteleporter", "unique" : true}
  },
  {
    "race" : "neko",
	"name" : "Neko",
	"petName" : "Cat",
	"pet" : {"name" : "petcat", "unique" : false},
	"starterTreasure" : {"name" : "nekoStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "nekocaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "nekofuelhatch", "unique" : true},
	"shipdoor" : {"name" : "nekoshipdoor", "unique" : true},
	"shiphatch" : {"name" : "nekoshiphatch", "unique" : true},
	"shiplocker" : {"name" : "nekoshiplocker", "unique" : true},
	"techstation" : {"name" : "nekotechstation", "unique" : true},
	"teleporter" : {"name" : "nekoteleporter", "unique" : true}
  },
  {
    "race" : "nightar",
	"name" : "Nightar",
	"petName" : "Weasel",
	"pet" : {"name" : "petweasel", "unique" : false},
	"starterTreasure" : {"name" : "glitchStarterTreasure", "unique" : false},
	"captainschair" : {"name" : "nightarcaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "nightarfuelhatch", "unique" : true},
	"shipdoor" : {"name" : "nightarshipdoor", "unique" : true},
	"shiphatch" : {"name" : "nightarshiphatch", "unique" : true},
	"shiplocker" : {"name" : "nightarshiplocker", "unique" : true},
	"techstation" : {"name" : "nightartechstation", "unique" : true},
	"teleporter" : {"name" : "nightarshipteleporter", "unique" : true}
  },
  {
    "race" : "ningen",
	"name" : "Ningen",
	"petName" : "Cat",
	"pet" : {"name" : "petcat", "unique" : false},
	"starterTreasure" : {"name" : "humanStarterTreasure", "unique" : false},
	"captainschair" : {"name" : "humancaptainschair", "unique" : false},
	"fuelhatch" : {"name" : "humanfuelhatch", "unique" : false},
	"shipdoor" : {"name" : "humanshipdoor", "unique" : false},
	"shiplocker" : {"name" : "humanshiplocker", "unique" : false},
	"techstation" : {"name" : "humantechstation", "unique" : false},
	"teleporter" : {"name" : "humanteleporter", "unique" : false}
  },
  {
    "race" : "orcana",
	"name" : "Orcana",
	"petName" : "Sea Frog",
	"pet" : {"name" : "seafrog", "unique" : true},
	"starterTreasure" : {"name" : "orcanaStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "orcanacaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "orcanafuelhatch", "unique" : true},
	"shipdoor" : {"name" : "orcanashipdoor", "unique" : true},
	"shiphatch" : {"name" : "orcanashiphatch", "unique" : true},
	"shiplocker" : {"name" : "orcanashiplocker", "unique" : true},
	"techstation" : {"name" : "orcanatechstation", "unique" : true},
	"teleporter" : {"name" : "orcanateleporter", "unique" : true}
  },
  {
    "race" : "peglaci",
	"name" : "Peglaci",
	"petName" : "Juvpeg",
	"pet" : {"name" : "juvpeg", "unique" : true},
	"starterTreasure" : {"name" : "peglaciStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "peglacicaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "peglacifuelhatch", "unique" : true},
	"shipdoor" : {"name" : "humanshipdoor", "unique" : false},
	"shiplocker" : {"name" : "peglacishiplocker", "unique" : true},
	"techstation" : {"name" : "peglacitechstation", "unique" : true},
	"teleporter" : {"name" : "peglaciteleporter", "unique" : true}
  },
  {
    "race" : "phox",
	"name" : "Phox",
	"petName" : "Coon",
	"pet" : {"name" : "petcoon", "unique" : true},
	"starterTreasure" : {"name" : "humanStarterTreasure", "unique" : false},
	"captainschair" : {"name" : "humancaptainschair", "unique" : false},
	"fuelhatch" : {"name" : "humanfuelhatch", "unique" : false},
	"shipdoor" : {"name" : "humanshipdoor", "unique" : false},
	"shiplocker" : {"name" : "humanshiplocker", "unique" : false},
	"techstation" : {"name" : "phoxtechstation", "unique" : true},
	"teleporter" : {"name" : "humanteleporter", "unique" : false}
  },
  {
    "race" : "pygs",
	"name" : "Pyg",
	"petName" : "Weasel",
	"pet" : {"name" : "petweasel", "unique" : false},
	"starterTreasure" : {"name" : "pygsStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "apexcaptainschair", "unique" : false},
	"fuelhatch" : {"name" : "apexfuelhatch", "unique" : false},
	"shipdoor" : {"name" : "apexshipdoor", "unique" : false},
	"shiplocker" : {"name" : "apexshiplocker", "unique" : false},
	"techstation" : {"name" : "techstation", "unique" : false},
	"teleporter" : {"name" : "teleporter", "unique" : false}
  },
  {
    "race" : "sergal",
	"name" : "Sergal",
	"petName" : "Nevrean",
	"pet" : {"name" : "petnevrean", "unique" : true},
	"starterTreasure" : {"name" : "sergalStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "sergalcaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "sergalfuelhatch", "unique" : true},
	"shipdoor" : {"name" : "sergalshipdoor", "unique" : true},
	"shiphatch" : {"name" : "sergalshiphatch", "unique" : true},
	"shiplocker" : {"name" : "sergalshiplocker", "unique" : true},
	"techstation" : {"name" : "sergaltechstation", "unique" : true},
	"teleporter" : {"name" : "sergalteleporter", "unique" : true}
  },
  {
    "race" : "skath",
	"name" : "Skath",
	"petName" : "Crasberry",
	"pet" : {"name" : "crasberry", "unique" : false},
	"starterTreasure" : {"name" : "skathStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "skathcaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "skathfuelhatch", "unique" : true},
	"shipdoor" : {"name" : "skathshipdoor", "unique" : true},
	"shiphatch" : {"name" : "skathshiphatch", "unique" : true},
	"shiplocker" : {"name" : "skathshiplocker", "unique" : true},
	"techstation" : {"name" : "skathtechstation", "unique" : true},
	"teleporter" : {"name" : "skathteleporter", "unique" : true}
  },
  {
    "race" : "skelekin",
	"name" : "Skelekin",
	"petName" : "Skelekin",
	"pet" : {"name" : "skelekinpet", "unique" : true},
	"starterTreasure" : {"name" : "skelekinStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "skelekincaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "skelekinfuelhatch", "unique" : true},
	"shipdoor" : {"name" : "skelekinshipdoor", "unique" : true},
	"shiphatch" : {"name" : "skelekinshiphatch", "unique" : true},
	"shiplocker" : {"name" : "skelekinshiplocker", "unique" : true},
	"techstation" : {"name" : "skelekintechstation", "unique" : true},
	"teleporter" : {"name" : "skelekinteleporter", "unique" : true}
  },
  {
    "race" : "slimeperson",
	"name" : "Slime Person",
	"petName" : "Slime",
	"pet" : {"name" : "slimecritter", "unique" : true},
	"starterTreasure" : {"name" : "slimepersonStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "slimecaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "slimepersonfuelhatch", "unique" : true},
	"shipdoor" : {"name" : "slimepersonshipdoor", "unique" : true},
	"shiphatch" : {"name" : "slimepersonshiphatch", "unique" : true},
	"shiplocker" : {"name" : "slimepersonshiplocker", "unique" : true},
	"techstation" : {"name" : "slimepersontechstation", "unique" : true},
	"teleporter" : {"name" : "slimepersonteleporter", "unique" : true}
  },
  {
    "race" : "trink",
	"name" : "Trink",
	"petName" : "Trinkoid",
	"pet" : {"name" : "trinkoid", "unique" : true},
	"starterTreasure" : {"name" : "trinkStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "trinkcaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "trinkfuelhatch", "unique" : true},
	"shipdoor" : {"name" : "trinkshipdoor", "unique" : true},
	"shiplocker" : {"name" : "trinkshiplocker", "unique" : true},
	"techstation" : {"name" : "trinktechstation", "unique" : true},
	"teleporter" : {"name" : "trinkteleporter", "unique" : true}
  },
  {
    "race" : "vespoid",
	"name" : "Vespoid",
	"petName" : "Snake",
	"pet" : {"name" : "petsnake", "unique" : false},
	"starterTreasure" : {"name" : "floranStarterTreasure", "unique" : false},
	"captainschair" : {"name" : "florancaptainschair", "unique" : false},
	"fuelhatch" : {"name" : "floranfuelhatch", "unique" : false},
	"shipdoor" : {"name" : "floranshipdoor", "unique" : false},
	"shiplocker" : {"name" : "floranshiplocker", "unique" : false},
	"techstation" : {"name" : "florantechstation", "unique" : false},
	"teleporter" : {"name" : "floranteleporter", "unique" : false}
  },
  {
    "race" : "viera",
	"name" : "Viera",
	"petName" : "Chocobo",
	"pet" : {"name" : "petchocobo", "unique" : true},
	"starterTreasure" : {"name" : "vieraStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "vieracaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "vierafuelhatch", "unique" : true},
	"shipdoor" : {"name" : "avianshipdoor", "unique" : false},
	"shiplocker" : {"name" : "vierashiplocker", "unique" : true},
	"techstation" : {"name" : "vieratechstation", "unique" : true},
	"teleporter" : {"name" : "vierateleporter", "unique" : true}
  },
  {
    "race" : "vulpes",
	"name" : "Vulpes",
	"petName" : "Bunny",
	"pet" : {"name" : "petbunny", "unique" : false},
	"starterTreasure" : {"name" : "avianStarterTreasure", "unique" : false},
	"captainschair" : {"name" : "aviancaptainschair", "unique" : false},
	"fuelhatch" : {"name" : "avianfuelhatch", "unique" : false},
	"shipdoor" : {"name" : "avianshipdoor", "unique" : false},
	"shiphatch" : {"name" : "avianshiphatch", "unique" : false},
	"shiplocker" : {"name" : "avianshiplocker", "unique" : false},
	"techstation" : {"name" : "aviantechstation", "unique" : false},
	"teleporter" : {"name" : "avianteleporter", "unique" : false}
  },
  {
    "race" : "wasphive",
	"name" : "Wasphive",
	"petName" : "Cat",
	"pet" : {"name" : "petcat", "unique" : false},
	"starterTreasure" : {"name" : "wasphiveStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "wasphivecaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "wasphivefuelhatch", "unique" : true},
	"shipdoor" : {"name" : "wasphiveshipdoor", "unique" : true},
	"shiphatch" : {"name" : "wasphiveshiphatch", "unique" : true},
	"shiplocker" : {"name" : "wasphiveshiplocker", "unique" : true},
	"techstation" : {"name" : "wasphivetechstation", "unique" : true},
	"teleporter" : {"name" : "wasphiveteleporter", "unique" : true}
  },
  
  //Non FR
  {
    "race" : "alicorn",
	"name" : "Alicorn",
	"petName" : "Cat",
	"pet" : {"name" : "petcat", "unique" : false},
	"starterTreasure" : {"name" : "humanStarterTreasure", "unique" : false},
	"captainschair" : {"name" : "humancaptainschair", "unique" : false},
	"fuelhatch" : {"name" : "humanfuelhatch", "unique" : false},
	"shipdoor" : {"name" : "humanshipdoor", "unique" : false},
	"shiplocker" : {"name" : "humanshiplocker", "unique" : false},
	"techstation" : {"name" : "ponytechstation", "unique" : false},
	"teleporter" : {"name" : "humanteleporter", "unique" : false}
  },
  {
    "race" : "batpony",
	"name" : "Bat Pony",
	"petName" : "Cat",
	"pet" : {"name" : "petcat", "unique" : false},
	"starterTreasure" : {"name" : "humanStarterTreasure", "unique" : false},
	"captainschair" : {"name" : "humancaptainschair", "unique" : false},
	"fuelhatch" : {"name" : "humanfuelhatch", "unique" : false},
	"shipdoor" : {"name" : "humanshipdoor", "unique" : false},
	"shiplocker" : {"name" : "humanshiplocker", "unique" : false},
	"techstation" : {"name" : "ponytechstation", "unique" : false},
	"teleporter" : {"name" : "humanteleporter", "unique" : false}
  },
  {
    "race" : "Canids",
	"name" : "Canids",
	"petName" : "Orbis",
	"pet" : {"name" : "petorbis", "unique" : true},
	"starterTreasure" : {"name" : "CanidsStarterTreasure", "unique" : true},
	"captainschair" : {"name" : "Canidscaptainschair", "unique" : true},
	"fuelhatch" : {"name" : "Canidsfuelhatch", "unique" : true},
	"shipdoor" : {"name" : "Canidsshipdoor", "unique" : true},
	"shiphatch" : {"name" : "Canidsshiphatch", "unique" : true},
	"shiplocker" : {"name" : "Canidsshiplocker", "unique" : true},
	"techstation" : {"name" : "Canidstechstation", "unique" : true},
	"teleporter" : {"name" : "Canidsteleporter", "unique" : true}
  },
  {
    "race" : "changeling",
	"name" : "Changeling",
	"petName" : "Cat",
	"pet" : {"name" : "petcat", "unique" : false},
	"starterTreasure" : {"name" : "humanStarterTreasure", "unique" : false},
	"captainschair" : {"name" : "humancaptainschair", "unique" : false},
	"fuelhatch" : {"name" : "humanfuelhatch", "unique" : false},
	"shipdoor" : {"name" : "humanshipdoor", "unique" : false},
	"shiplocker" : {"name" : "humanshiplocker", "unique" : false},
	"techstation" : {"name" : "ponytechstation", "unique" : false},
	"teleporter" : {"name" : "humanteleporter", "unique" : false}
  },
  {
    "race" : "pegasus",
	"name" : "Pegasus",
	"petName" : "Cat",
	"pet" : {"name" : "petcat", "unique" : false},
	"starterTreasure" : {"name" : "humanStarterTreasure", "unique" : false},
	"captainschair" : {"name" : "humancaptainschair", "unique" : false},
	"fuelhatch" : {"name" : "humanfuelhatch", "unique" : false},
	"shipdoor" : {"name" : "humanshipdoor", "unique" : false},
	"shiplocker" : {"name" : "humanshiplocker", "unique" : false},
	"techstation" : {"name" : "ponytechstation", "unique" : false},
	"teleporter" : {"name" : "humanteleporter", "unique" : false}
  },
  {
    "race" : "ponex",
	"name" : "Ponex",
	"petName" : "Cat",
	"pet" : {"name" : "petcat", "unique" : false},
	"starterTreasure" : {"name" : "humanStarterTreasure", "unique" : false},
	"captainschair" : {"name" : "humancaptainschair", "unique" : false},
	"fuelhatch" : {"name" : "humanfuelhatch", "unique" : false},
	"shipdoor" : {"name" : "humanshipdoor", "unique" : false},
	"shiplocker" : {"name" : "humanshiplocker", "unique" : false},
	"techstation" : {"name" : "ponytechstation", "unique" : false},
	"teleporter" : {"name" : "humanteleporter", "unique" : false}
  },
  {
    "race" : "pony",
	"name" : "Pony",
	"petName" : "Cat",
	"pet" : {"name" : "petcat", "unique" : false},
	"starterTreasure" : {"name" : "humanStarterTreasure", "unique" : false},
	"captainschair" : {"name" : "humancaptainschair", "unique" : false},
	"fuelhatch" : {"name" : "humanfuelhatch", "unique" : false},
	"shipdoor" : {"name" : "humanshipdoor", "unique" : false},
	"shiplocker" : {"name" : "humanshiplocker", "unique" : false},
	"techstation" : {"name" : "ponytechstation", "unique" : true},
	"teleporter" : {"name" : "humanteleporter", "unique" : false}
  },
  {
    "race" : "Umbreon",
	"name" : "Umbreon",
	"petName" : "Cat",
	"pet" : {"name" : "petcat", "unique" : false},
	"starterTreasure" : {"name" : "humanStarterTreasure", "unique" : false},
	"captainschair" : {"name" : "humancaptainschair", "unique" : false},
	"fuelhatch" : {"name" : "humanfuelhatch", "unique" : false},
	"shipdoor" : {"name" : "humanshipdoor", "unique" : false},
	"shiplocker" : {"name" : "humanshiplocker", "unique" : false},
	"techstation" : {"name" : "humantechstation", "unique" : false},
	"teleporter" : {"name" : "humanteleporter", "unique" : false}
  },
  {
    "race" : "unicorn",
	"name" : "Unicorn",
	"petName" : "Cat",
	"pet" : {"name" : "petcat", "unique" : false},
	"starterTreasure" : {"name" : "humanStarterTreasure", "unique" : false},
	"captainschair" : {"name" : "humancaptainschair", "unique" : false},
	"fuelhatch" : {"name" : "humanfuelhatch", "unique" : false},
	"shipdoor" : {"name" : "humanshipdoor", "unique" : false},
	"shiplocker" : {"name" : "humanshiplocker", "unique" : false},
	"techstation" : {"name" : "ponytechstation", "unique" : false},
	"teleporter" : {"name" : "humanteleporter", "unique" : false}
  }
]