{
  "craftingSound" : "/sfx/interface/crafting_furnace.ogg",
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/objectcrafting/campfire_header.png",
      "fileBody" : "/interface/objectcrafting/fu_atmosfilterbody.png",
      "fileFooter" : "/interface/objectcrafting/campfire_footer.png"
    },
	"toggleCrafting" : {
      "type" : "button",
      "position" : [42, 41],
      "base" : "/interface/objectcrafting/refine.png",
      "hover" : "/interface/objectcrafting/refineover.png",
      "caption" : "Racialise",
	  "callback" : "racialise"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [60, 61],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [123, 105]
    },
    "lblText" : {
      "type" : "label",
      "position" : [70, 83],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : ""
    },
	"next" : {
      "type" : "button",
      "base" : "/interface/pickright.png",
      "hover" : "/interface/pickright.png",
      "pressed" : "/interface/pickrightover.png",
      "pressedOffset" : [0, 0],
      "position" : [81, 65],
	  "callback" : "nextRace"
    },
	"previous" : {
      "type" : "button",
      "base" : "/interface/pickleft.png",
      "hover" : "/interface/pickleft.png",
      "pressed" : "/interface/pickleftover.png",
      "pressedOffset" : [0, 0],
      "position" : [49, 65],
	  "callback" : "previousRace"
    }
  },
  "scripts" : ["/interface/objectcrafting/fu_racialiser/fu_racialiser.lua"],
  "scriptWidgetCallbacks" : [
    "nextRace",
    "previousRace",
	"racialise"
  ]
}
