{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chestheader.png",
      "fileBody" : "/interface/chests/slots1to16.png",
      "fileFooter" : "/interface/chests/chestfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      "position" : [140, 134]
    },
    "objectImage" : {
      "type" : "image",
      "position" : [39, 79],
      "file" : "",
      "centered" : true,
      "maxSize" : [40, 40],
      "minSize" : [40, 40]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [95, 60],
      "dimensions" : [2, 1],
      "spacing" : [29, 29],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "dragDrop" : {
      "type" : "label",
      "value" : "Leaves on Right!",
      "hAnchor" : "mid",
      "position" : [40, 37]
    },
    "count" : {
      "type" : "label",
      "value" : "Insert Saplings",
      "hAnchor" : "mid",
      "position" : [120, 109]
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/chests/shine1to16.png",
      "position" : [0, 2]
    }
  }
}
