{
	"foliage": {
		"nothing": "",
		"bigflowers": "Big Flowers",
		"cactusflowers": "Flowers",
		"colourfulpalm": "Palm",
		"alienbigleaf": "Big",
		"aliencircle": "Circle",
		"alienbubble": "Bubbly",
		"bananatreeleaf": "",
		"bamboofoliage": "",
		"apple": "",
		"peach": "",
		"pear": "",
		"energyorbfoliage": "",
		"crystallinenofoliage2": "",
		"crystallinenofoliagefull": "Full",
		"baobab": "",
		"chromafoliage": "Pinky",
		"chromafoliage2": "Cloudy",
		"chromafoliage3": "Lush",
		"chromafoliage4": "Green",
		"burntmoss": "Moss",
		"burntleaves": "Leaves",
		"bloodkelpy": "Kelp",
		"toxickelpy": "Kelp",
		"pearlfoliage": "",
		"redwood1": "",
		"protoleaves": "",
		"nyanifoliage": "",
		"tearnutfoliage": "",
		"weeping": "",
		"weepingleaves": "Leaf",
		"hanging": "Hang",
		"leafy": "Leaf",
		"frumpy": "Frump",
		"scraggy": "Scrag",
		"cloudy": "Cloudy",
		"lotus": "Lotus",
		"lushgreen": "Lush",
		"jungleleaf": "Jungle",
		"deadleaves": "Leaves",
		"deadmoss": "Moss",
		"squarish": "Square",
		"flat": "Flat",
		"flatte": "Flatte",
		"redflower": "Red Flower",
		"bluepetals": "Blue Flower",
		"pinkflower": "Pink Flower",
		"pinkflower2": "Pink Flower",
		"orangeflower": "Orange Flower",
		"edelwoodleaves": "",
		"edelwoodleaves2": "Dark",
		"geodefoliage": "",
		"eyefoliage": "Pile",
		"palmleaves": "Palmleaves",
		"palmy": "Palmy",
		"burly": "Burly",
		"greenleaves": "Greenleaves",
		"rustflower": "",
		"coconut": "",
		"cocopalm": "Palm",
		"roseleaves": "Roseleaves",
		"lushleaves": "Lush",
		"doomy1": "Wood",
		"junglepalm": "Jungle Palm",
		"palmlush": "Lush",
		"elegant": "Elegant",
		"jungly": "Jungly",
		"lushy": "Lushy",
		"pinefoliage": "Pine",
		"brains": "Brain",
		"bubbles": "Bubble",
		"rose": "Rose",
		"redleaves": "Redleaves",
		"spikeyfoliage": "Spike",
		"rainbowleaves": "",
		"orangeleaf": "",
		"mushroomredtopfu": "Orange Shroom",
		"mushroomredtopfu2": "Red Shroom",
		"mushroomyellowtopfu": "White Shroom",
		"mushroomyellowtopfu2": "Yellow Shroom",
		"mushroomredtop": "Red Shroom",
		"mushroomyellowtop": "Yellow Shroom",
		"fluff": "Fluff",
		"grey": "Grey",
		"red": "Red Molten",
		"pitchy": "Pitchy",
		"autumny": "Autumn",
		"weirdly": "Weird",
		"willowy": "Willow",
		"patchy": "Patch",
		"piney": "Arid Pine",
		"bonky": "Bonk",
		"circly": "Circle",
		"savannahbloom": "Bloomy",
		"thorns": "Thorns",
		"bluebell": "Blue Bell",
		"icepinefoliage": "Pine",
		"snowbrains": "Snowbrains",
		"snowbubbles": "Snowbubbles",
		"snowcloudy": "Snowcloudy",
		"snowfrumpy": "Snowfrumpy",
		"snowgreenleaves": "Snowgreenleaves",
		"snowhanging": "Snowhanging",
		"snowleafy": "Snowleafy",
		"snowlotus": "Snowlotus",
		"snowpine": "Snowpine",
		"snowredleaves": "Snowredleaves",
		"snowscraggy": "Snowscraggy",
		"cherrygreen": "",
		"cherrybloom": "Bloom",
		"nebula": "Aetherial",
		"geometricfoliage": "",
		"icespherefoliage": "",
		"penumbralfoliage": "",
		"penumbralvespertine": "Vespertine",
		"penumbralviolet": "Violet",
		"autumnfrumpy": "Frumpy",
		"autumngreenleaves": "Greenleaves",
		"autumnleafy": "Leafy",
		"autumnredleaves": "Redleaves",
		"autumnscraggy": "Scraggy",
		"mossy": "Mossy",
		"scattered": "Scattered",
		"slimefoliage": ""
	},
	"stem": {
		"bamboostem":"Bamboo",
		"cactus": "Cactus",
		"colourfulstem": "Colorful",
		"applewood": "Apple",
		"alienbubble": "Alien Bubble",
		"bananatreestem": "Banana",
		"alienstriped": "Alien Striped",
		"alienweird": "Alien Weird",
		"peachwood": "Peach",
		"pearwood": "Pear",
		"energyorbstem": "Energy Orb",
		"crystalline2": "Crystal",
		"crystalline3": "Crystal",
		"baobab": "Baobab",
		"chromatree": "Chroma",
		"burnttreestem": "Burnt",
		"bloodkelp": "Blood",
		"toxickelp": "Toxic",
		"aetherkelp": "Large Aether",
		"aetherkelp2": "Aether",
		"pearlwood": "Pearl Fruit",
		"redwood": "Redwood",
		"prototree": "Proto",
		"nyanistem": "Nyani Fruit",
		"tearnutstem": "Tearnut",
		"weeping": "Weeping",
		"fleshy": "Fleshy",
		"cocoa": "Cocoa",
		"birch": "Birch",
		"pine": "Pine",
		"wood": "Wood",
		"woody": "Woody",
		"twisted": "Twist",
		"roottree": "Root",
		"deadtree1": "Dead",
		"blank": "Blank",
		"twirl": "Twirl",
		"gloomy": "Gloom",
		"bleake": "Bleake",
		"giantflower": "Giant",
		"edelwood": "Edelwood",
		"geode": "Geode",
		"bleak": "Bleak",
		"eyestem": "Eye",
		"beach": "Beach",
		"spikey": "Spikey",
		"rust": "Rust",
		"alienpalm": "Alien P.",
		"bark": "Bark",
		"coconutwood": "Coconut Wood",
		"coconut": "Coconut",
		"desertpalm": "Desert P.",
		"palmlike": "Palmy",
		"doomwood": "Doom",
		"plain": "Plain",
		"cross": "Cross",
		"crackly": "Crackly",
		"oldwood": "Oldwood",
		"twisty": "Twisty",
		"grumpy": "Grump",
		"metal": "Metal",
		"pineytree": "Piney",
		"something": "Something",
		"slimey": "Slime",
		"slobby": "Slob",
		"rainbowwood": "Rainbow",
		"rainbowfleshy": "Rainbow Flesh",
		"rainbowpine": "Rainbow Pine",
		"rainbowslobby": "Rainbow Slobby",
		"rainbowgrumpy": "Rainbow Grumpy",
		"orangestem": "Orange Fruit",
		"mushroomstalkfu": "Dirty",
		"mushroomstalkfu2": "Clean",
		"mushroomstalk": "Default",
		"magma": "Magma",
		"lava": "Lava",
		"crispy": "Crisp",
		"coal": "Coal",
		"ashy": "Ash",
		"stripey": "Stripe",
		"barren": "Barren",
		"old": "Old",
		"skeletal": "Skeletal",
		"murky": "Murk",
		"savah": "Savah",
		"savannahgloomy": "Savannah Gloom",
		"savannahbleak": "Savannah Bleak",
		"slabby": "Slab",
		"spiked": "Spiked",
		"grasstree": "Grass",
		"icepinestem": "Ice",
		"snowbirch": "Snow Birch",
		"snowcocoa": "Snow Cocoa",
		"snowfleshy": "Snow Flesh",
		"snowgrumpy": "Snow Grump",
		"snowmetal": "Snow Metal",
		"snowpine": "Snow Pine",
		"snowpinetree": "Snow Piney",
		"snowslimey": "Snow Slime",
		"snowsomething": "Snow Something",
		"snowspikey": "Snow Spike",
		"snowtwisted": "Snow Twist",
		"snowwood": "Snow",
		"cherrywood": "Cherry",
		"cherrybloomwood": "Cherrybloom",
		"astral": "Aen",
		"geometricstem": "Geometric",
		"bladetree": "Sharp Grass",
		"palm": "Palmy",
		"icespherestem": "Ice Sphere",
		"penumbral": "Penumbral",
		"penumbralbarren": "Tall Barren",
		"penumbralstripey": "Tall Striped",
		"autumnbirch": "Au. Birch",
		"autumncocoa": "Au. Cocoa",
		"autumnfleshy": "Au. Flesh",
		"autumngrumpy": "Au. Grump",
		"autumnpine": "Au. Pine",
		"autumnroottree": "Au. Root",
		"autumnslimey": "Au. Slime",
		"autumnsomething": "Au. Something",
		"autumnspikey": "Au. Spiked",
		"autumntwisted": "Au. Twisted",
		"autumnwood": "Au. Wood",
		"underwood": "Underwood",
		"slimestem": "Slime Tree"
	}
}
