{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.15,
      "type" : "teslaboomsmall2"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 2,
      "explosiveDamageAmount" : 4.5,
      "harvestLevel" : 99,
      "delaySteps" : 2
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/weapons/shock_impact3.ogg" ]
    }
  ]
}
