{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "teslaboom"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 6,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 2,
      "delaySteps" : 2
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/weapons/shock_impact3.ogg" ]
    }
  ]
}
