{
	// NOTE: There is an empty template at the end of the document for easy copy-pasting
	
	// This is a template file created to serve as documentation on how to define your own research trees.
	// To add research to the game, you must first create a research tree.
	// Trees are mainly used to split between multiple mods, so players don't end up with a cluttered mess on their screen
	// But they can also be used to split research to categories. (Though I'd suggest putting all your research into one tree for less clutter and more "WOW THIS TREE IS AMAZING" factor)
	// Make sure to give your trees unique names such as "zb_main" so you don't end up accidentally overriding someone elses tree, or your stuff getting overriden.
	// This is where you define your research trees:
	"researchTree" : {},
	
	// By following this example:
//	"researchTree" : {
//		"myTree" : {	// replace with the desired tree identifier, this is NOT the displayed name
//			"example1" : {
//				"icon" : "image.png",
//				"position" : [x, y],
//				"price" : [["currency", 322], ["item", 1337]],
//				"unlocks" : ["myResearchedItem", "myOtherItem"],	>> OPTIONAL
//				"hideUnlocks" : true/false,							>> OPTIONAL
//				"children" : ["example2"],							>> OPTIONAL
//				"func" : "myFunctionName"							>> OPTIONAL
//				"params" : "whatever the heck you need."			>> OPTIONAL
//			},
//			"example2" : {
//				"icon" : "/assetmissing.png",
//				"position" : [20, 30],
//				"price" : [["money", 300], ["corefragmentore", 20]],
//				"unlocks" : ["banana"]
//			}
//		}
//	}
	//	icon		- The image used to represent the research. Use "/assetmissing.png" if you want it blank. 16x16 sized images suggested, otherwise might look bad.
	//	position	- The position of the research on the drag screen.
	//	price		- An array of prices structured similar to how quest rewards are. Can use both currencies and items.
	//	unlocks		- An array of blueprints the player would learn upon completing the research.
	//	hideUnlocks	- By default, the info panel will display unlocked blue prints. Set this to true if you want to hide unlocks.
	//	children	- An array of research names that this research leads to. This research is a requirement before you can unlock any of its children.
	//	func		- A function you would like to call when the research is complete. We will cover this later
	//	params		- Parameters for the above function
	
	
	
	// Every research used in the tree MUST have an acronym.
	// While research can't exist without an acronym, acronyms can exist without research, but they will be erased when the research trees version is updated to prevent reusing them by accident
	// Make sure there are no duplicates of the same acronym on the same tree
	// Don't worry about other mods/trees using the same acronyms, each tree has its acronyms stored and read separatly 
	// Note that updating the mod after changing already present acronyms, players who already have the pre-update acronyms will keep them, and the system will see the new acronyms as not researched.
	// And this is where acronyms for research are defined:
	"acronyms" : {},
	
	// By following this example:
//	"acronyms" : {
//		"myTree" : {
//			"EXA1" : "example1",
//			"EXA2" : "example2"
//		}
//	},
	
	
	
	// To add strings to elements, you follow this table:
	// (AVOID using colors for currencies and research titles, because currencies have their own color defined elsewhere, and research titles are color coded to display their status)
	"strings" : {
		"currencies" : {
		//	"currencyName" : "Displayed Name",
		//	"money" : "Pixels"
		},
		"trees" : {
		//	"treeName" : "Displayed Tree Name",
		//	"myTree" : "[^orange;ZB^reset;] My Research Tree"
		},
		
		"research" : {
		//	"researchName" : [ "Research Title", "The text that is written below the title on the side view." ],
		//	"example1" : [ "Example Research", "This research is an example." ]
		}
	},
	
	
	
	// Every tree needs an origin point, and this is where we define them. Add the acronyms for researches you want to be initially researched.
	// Note that a single tree can have multiple origins.
	"initiallyResearched" : {},
	
	// By following this example:
//	"initiallyResearched" : {
//		"myTree" : [ "EXA1" ]
//	},
	
	
	
	
	// If you want some research and its children to be hidden from the player until it becomes available, you do the same thing you did the previous step, but for this object:
	"hiddenResearch" : {},
	
	// By following this example:
//	"hiddenResearch" : {
//		"myTree" : [ "EXA2" ]
//	},
	
	
	
	
	// If your mod adds custom currencies you'd like to be visually available (So you don't have to open another pane to view them) you add them here:
	"currencies" : [],
	
	// By following this example:
//	"currencies" : [
//		[ "currencyName", "#currencyColor", "representingItem", "miniIconPath", isHiddenWhenEmpty?	],
//		[ "essence", "#FF22FF", "essence", "/zb/researchTree/currencyMiniIcons.png:essence", false	]
//	]
	// isHiddenWhenEmpty	- If the player has less than 1, the currency will not be displayed
	
	
	
	// Going back the the tree definitions, I've mentioned custom functions.
	// To utilize this option, you must create a .lua script file(s), and add its(their) path(s) to the following array:
	// (again, make sure the functions have unique names to your mod so they don't override/get overriden)
	// IMPORTANT: Make sure to properly test the functions and any potential edge cases before making your addition public if you want to avoid gigantic pains in the ass
	"externalScripts" : [],
	
	// By following this example:
//		"externalScripts" : ["/folder/myscriptfile.lua", "/zb/zb_util.lua"]
	
	
	// Your tree can be easier to recognize with an icon, and you can give it one through this field:
	"treeIcons" : {},

	// Example:
//	"treeIcons" : {
//		"myTree" : "/path/to/icon.png"
//	}
	
	// If you want your tree to have a custom background, you can easily add the path to the desired background into the following table:
	// Note that the image is automatically tiled, and is used instead of the default grid tile image
	"cutsomGridTileImages" : {}
	
	// By following this example:
//	"cutsomGridTileImages":{
//		"treeName" : "path/to/image.png",
//		"myTree" : "/assetmissing.png"
//	}

	
	// Sometimes you'd like to add blueprints to already existing researches, which may already be researched by players
	// So instead of making them hack their way around to get the new blueprint, you simply add your tree and its version here:
	// By doing so, the research system would readd all the blueprints for already finished researches when the version changes.
	// No point in modifying it when you just add new research nodes. Modify it only when adding blueprints to already existing nodes instead.
	// IMPORTANT: This will NOT call FUNCTIONS assigned to research because of potential exploitation
	"versions" : {}
	
	// By following this example:
//	"versions" : {
//		"myTree" : "0.1",
//	}


	
	// If you'd like, you could hide a research tree until the player has completed certain quests, or unlocked certain research in certain trees, or both!
	"treeUnlocks" : {},

	// Example:
//	"treeUnlocks" : {
//		"myTree" : {
//			"quests" : [ "questId1", "questId2" ],
//			"research" : {
//				"myOtherTree" : [ "ACR1", "ACR2", "ACR5" ],
//				"myOtherOTHERTree" : [ "STF11", "ZZ20", "TERA1" ]
//			}
//		},
//		"yetAnotherTree" : {
//			"research" : {
//				"myTree" : [ "DD5" ],
//			}
//		},
//	}

	// By default, researching consumes the curencies and items it costs. You can modify this behavior per tree via this table:
	"customConsumptionRules" : { }

	// Example:
//	"customConsumptionRules" : {
//		"myTree" : {"currency" : true, "items" : true }, // will consume both items and currencies
//		"myOtherTree" : {"currency" : false, "items" : false }, // will consume neither items nor currencies
//		"myOtherOTHERTree" : { }, // will consume both items and currencies
// 	}

}
	
	// To ease testing your tree, I've implemented some debug commands.
	// To access the cheat console, you must click the gray smiley face that appears in the bottom left of the screen that appears only when you're in admin mode.
	// These are the commands you can use:
	//
	// nocosttoogreat					- Toggle free researches
	// iamabeaconofknowledge			- Research everything
	// forgottenmemories				- Reset researches
	// revealourselves					- Unhides all researches
	// nostringsonme					- Disables "read only" mode
	// kotlgiffmana	[acronym string]	- Research the specified acronyms in the current research tree
	// bankrupt							- Resets all currencies displayed on the side to 0
	
	
	// Empty table for easy-copy pasting:
{
	"researchTree" : {},
	"acronyms" : {},
	"strings" : {},
	"initiallyResearched" : {},
	"hiddenResearch" : {},
	"currencies" : [],
	"externalScripts" : [],
	"cutsomGridTileImages" : {},
	"versions" : {},
	"treeUnlocks" : {},
	"customConsumptionRules" : {},
	"treeIcons" : {}
}