{
//CURRENT LIST OF PERSONALITIES: bland, cheerful, playful, hyper, calm, robotic, enthusiastic, grumpy,
//yandere, flirt, anxious, perfectly generic, jock, daredevil, wimp, lazy, pathetic, emo
	"personalities": [
//PERSONALITY TEMPLATE
//		{
//			"personality" : "personalityname",
//			"personalityEffects" : [
//"statuseffect1",
//"statuseffect2",
//{"stat" : "maxHealth", "amount" : 50},
//{"stat" : "protection", "effectiveMultiplier" : 1.0},
//{"stat" : "healthRegen", "amount" : 10},
//{"stat" : "powerMultiplier", "baseMultiplier" : 1.0},
//{"stat" : "protection", "effectiveMultiplier" : 1.0},
//{"stat" : "physicalResistance", "effectiveMultiplier" : 1.05},
//{"stat" : "fireResistance", "effectiveMultiplier" : 1.05},
//{"stat" : "fireStatusImmunity", "amount" : 1},
//{"stat" : "iceResistance", "effectiveMultiplier" : 1.05},
//{"stat" : "iceStatusImmunity", "amount" : 1},
//{"stat" : "electricResistance", "effectiveMultiplier" : 1.05},
//{"stat" : "electricStatusImmunity", "amount" : 1},
//{"stat" : "poisonResistance", "effectiveMultiplier" : 1.05},
//{"stat" : "poisonStatusImmunity", "amount" : 1},
//{"stat" : "grit", "baseMultiplier" : 1.05}
//        ]
//1.0 does nothing. 0.95 is -5%, 1.05 is +5%, 1.1 is +10%, etc
//		},
		{
			"personality" : "bland",
			"personalityEffects" : []
		},
		{
			"personality" : "cheerful",
			"personalityEffects" : [
				{"stat" : "maxHealth", "effectiveMultiplier" : 1.01},
			  {"stat" : "healthRegen", "amount" : 4}
		 ]
		},
		{
			"personality" : "playful",
			"personalityEffects" : [
				{"stat" : "maxHealth", "effectiveMultiplier" : 1.02}
		 ]
		},
		{
			"personality" : "hyper",
			"personalityEffects" : [
				{"stat" : "maxHealth", "effectiveMultiplier" : 1.03}
		 ]
		},
		{
			"personality" : "calm",
			"personalityEffects" : [
				{"stat" : "maxHealth", "effectiveMultiplier" : 1.02},
				{"stat" : "healthRegen", "amount" : 2}
		 ]
		},
		{
			"personality" : "robotic",
			"personalityEffects" : [
				{"stat" : "maxHealth", "effectiveMultiplier" : 1.04},
				{"stat" : "healthRegen", "amount" : 1}
		 ]
		},
		{
			"personality" : "enthusiastic",
			"personalityEffects" : [
				{"stat" : "powerMultiplier", "baseMultiplier" : 1.05}
			]
		},
		{
			"personality" : "grumpy",
			"personalityEffects" : [
				{"stat" : "powerMultiplier", "baseMultiplier" : 1.1}
			]
		},
		{
			"personality" : "yandere",
			"personalityEffects" : [
				{"stat" : "powerMultiplier", "baseMultiplier" : 1.15},
				{"stat" : "healthRegen", "amount" : 5}
			]
		},
		{
			"personality" : "flirt",
			"personalityEffects" : [
				{"stat" : "powerMultiplier", "baseMultiplier" : 1.10},
				{"stat" : "healthRegen", "amount" : 3}
			]
		},
		{
			"personality" : "anxious",
			"personalityEffects" : [
				{"stat" : "physicalResistance", "effectiveMultiplier" : 1.05},
				{"stat" : "fireResistance", "effectiveMultiplier" : 1.05},
				{"stat" : "iceResistance", "effectiveMultiplier" : 1.05},
				{"stat" : "electricResistance", "effectiveMultiplier" : 1.05},
				{"stat" : "poisonResistance", "effectiveMultiplier" : 1.05}
			]
		},
		{
			"personality" : "perfectlygeneric",
			"personalityEffects" : [
				{"stat" : "maxHealth", "effectiveMultiplier" : 1.02},
				{"stat" : "protection", "effectiveMultiplier" : 1.05},
				{"stat" : "healthRegen", "amount" : 5},
				{"stat" : "powerMultiplier", "baseMultiplier" : 1.05},
				{"stat" : "physicalResistance", "effectiveMultiplier" : 1.05},
				{"stat" : "fireResistance", "effectiveMultiplier" : 1.05},
				{"stat" : "iceResistance", "effectiveMultiplier" : 1.05},
				{"stat" : "electricResistance", "effectiveMultiplier" : 1.05},
				{"stat" : "poisonResistance", "effectiveMultiplier" : 1.05},
				{"stat" : "grit", "baseMultiplier" : 1.05}
			]
		},
		{
			"personality" : "jock",
			"personalityEffects" : [
				{"stat" : "maxHealth", "effectiveMultiplier" : 1.04},
				{"stat" : "protection", "effectiveMultiplier" : 1.15},
				{"stat" : "powerMultiplier", "baseMultiplier" : 1.15},
				{"stat" : "physicalResistance", "effectiveMultiplier" : 1.15},
				{"stat" : "grit", "baseMultiplier" : 1.15}
			]
		},
		{
			"personality" : "daredevil",
			"personalityEffects" : [
				{"stat" : "powerMultiplier", "baseMultiplier" : 1.1},
				{"stat" : "physicalResistance", "effectiveMultiplier" : 0.90},
				{"stat" : "fireResistance", "effectiveMultiplier" : 0.90},
				{"stat" : "iceResistance", "effectiveMultiplier" : 0.90},
				{"stat" : "electricResistance", "effectiveMultiplier" : 0.90},
				{"stat" : "poisonResistance", "effectiveMultiplier" : 0.90}
			]
		},
		{
			"personality" : "wimp",
			"personalityEffects" : [
				{"stat" : "powerMultiplier", "baseMultiplier" : 0.95},
				{"stat" : "physicalResistance", "effectiveMultiplier" : 0.95},
				{"stat" : "fireResistance", "effectiveMultiplier" : 0.95},
				{"stat" : "iceResistance", "effectiveMultiplier" : 0.95},
				{"stat" : "electricResistance", "effectiveMultiplier" : 0.95},
				{"stat" : "poisonResistance", "effectiveMultiplier" : 0.95}
			]
		},
		{
			"personality" : "lazy",
			"personalityEffects" : [
				{"stat" : "powerMultiplier", "baseMultiplier" : 0.90}
			]
		},
		{
			"personality" : "pathetic",
			"personalityEffects" : [
				{"stat" : "powerMultiplier", "baseMultiplier" : 0.80}
			]
		},
		{
			"personality" : "clumsy",
			"personalityEffects" : [
				{"stat" : "maxHealth", "effectiveMultiplier" : 0.85},
				{"stat" : "powerMultiplier", "baseMultiplier" : 0.50},
				{"stat" : "physicalResistance", "effectiveMultiplier" : 0.50},
				{"stat" : "fireResistance", "effectiveMultiplier" : 0.50},
				{"stat" : "iceResistance", "effectiveMultiplier" : 0.50},
				{"stat" : "electricResistance", "effectiveMultiplier" : 0.50},
				{"stat" : "poisonResistance", "effectiveMultiplier" : 0.50},
				{"stat" : "grit", "baseMultiplier" : 0.05}
			]
		},
		{
			"personality" : "emo",
			"personalityEffects" : [
				{"stat" : "maxHealth", "effectiveMultiplier" : 0.95}
			]
		}
	],
    "statuses": {
        "generic": [
            "Contemplating their life choices",
					  "Thinking about their family",
						"Thinking about starting a lawn care business",
						"Wants to raid a candy store",
						"Thinking about starting a band",
						"Thinking about starting a rock band",
						"Thinking about starting a heavy metal band",
						"Left their wallet in their capture pod",
						"Starting a stamp collection",
						"Grooming theirself",
						"Questioning their reality",
						"Playing the latest Pocket Humanoids game",
						"Spinning in circles",
						"Lost in thought",
						"Wonders how many times they have died",
						"Feels like they're catching a cold",
						"Didn't finish their favorite video game",
						"Thinking about making a Starbound mod",
						"Can't think straight",
						"Renting out their capture pod",
						"Having déjà vu",
						"Questioning their sanity",
						"Having a ball",
						"Advocating equal rights for monsters",
						"Missing their friends and family",
						"Thinking about becoming a superhero",
						"Thinking about the places they've visited",
						"Wonders if they're still in shape",


//Imported from NPC Statuses
						"Has a song stuck in their head",
            "Tripped over a rock earlier",
            "Feels like they're stuck in a video game",
            "Wishes things were different",
            "Considering taking up a new hobby",
            "Needs a break",
            "Feels like breaking into song",
            "Trying to remember how old they are",
            "More than a number",
            "Can't believe it's true",
            "Tired after a long day of doing nothing",
            "Doesn't want anyone to discover their secret",
            "Hiding something",
            "Wants to try new things",
            "Has a feeling that their life is a lie",
            "Can't believe this is happening",
            "Unwilling to give up",
            "Contemplating the vastness of the universe",
            "Out of their depth",
            "Wondering what's for lunch",
            "Wants to write a song",
            "Feels like snacking",
            "Feeling nostalgic",
            "Doesn't want to be part of the system",
            "Wants to break free",
            "Secretly knows they should exercise more",
            "Craving some spicy food",
            "Staring into the abyss",
            "Considering living underground",
            "Has no idea what they're doing and hopes no-one notices",
            "Has an itchy toe",
            "Wishes they had superpowers",
            "Wondering how they would handle a zombie apocalypse",
            "Wishes they had a colouring book",
            "Can't see the forest for the trees",
            "Has a great idea for a video game",
            "Systematically counting every pixel",
            "Wonders if someone is secretly controlling their life",
            "Feeling sophisticated",
            "Considering becoming a vegetarian",
            "Feeling fancy",
            "Considering a hunting trip",
            "On the ball",
            "Trying not to vomit",
            "Is hot and bothered",
            "Wondering what snails are even trying to do",
            "Wondering if brushing your teeth is cleaning your skeleton",
            "Thinking about their lost owner",
            "Finding inspiration for their blog",
            "Beating a dead horse",
            "Feels like a new monster on the block",
            "In pain",
            "Dead inside",
            "Feeling deeply disturbed",
            "Reacting badly",
            "Feeling confident",
            "Wondering if bugs mind being caught",
            "Feels like dancing the night away",
            "Can't stop blinking",
            "Feeling fine",
            "Has great expectations",
            "Holding a grudge",
            "Feeling content",
            "Feeling good",
            "Taking their time",
            "Rocking the boat",
            "Trying their luck",
            "Enjoying the moment",
            "Finding answers",
            "Seeking distraction"
        ],
//Bland. Has no special buffs or nerfs.
				"bland": [
					  "Doing nothing of particular interest",
					  "Doing something boring",
						"Not doing much of anything",
						"Doesn't feel special",
						"Busy doing nothing at all"
        ],
//---POSITIVE PERSONALITIES---
//Cheerful. Has a positive outlook on life.
//+HEALTH +HEALTH REGEN
        "cheerful": [
            "Just happy to be alive",
						"Stops to smell the roses",
					  "Finished decorating the interior of its capture pod",
						"Enjoying the beautiful day",
						"Just happy to help you",

//Imported from NPC Statuses
						"Couldn't be happier",
            "Thinking it's a nice day",
            "Wouldn't want to be anywhere else",
            "Cheeks hurt from grinning",
            "Remembering not to skip in public",
            "Enjoying the scenery",
            "Immune to crippling loneliness",
            "Pretending everything is okay",
            "Has faith",
            "Believes everything is a-okay",
            "Enjoying the simple life",
            "Feeling motivated",
            "Wonders why they can't stop smiling",
            "Enjoying the feeling of needing to pee",
            "Looking for someone to tickle",
            "Can smell something nice",
            "Calm and cheerful",
            "Dealing well with the futility of their existence",
            "Feeling right at home",
            "One with the universe",
            "Can't stop thinking of cute animals",
            "Finally has a place to call home",
            "Thinking you're a lovely person",
            "Happy despite everything",
            "Would like to do a good deed",
            "Happy with their appearance",
            "Following their dreams",
            "Has a tasty bag of treats",
            "Feeling positive",
            "Happy to be alive",
            "Could die happy"
        ],
//Playful. Just loves having fun and enjoying life.
//+HEALTH
				"playful": [
						"Just frolicking along behind you",
						"Batting at a pebble",
						"Running in circles",
						"Playing a game of red light green light",
						"Pouncing at your feet"
				],
//Hyper. Just can't sit still.
//+HEALTH
				"hyper": [
						"Bouncing off the walls",
						"Violently vibrating",
						"Can't stay still",
						"Spinning in circles",
						"Hyped up on caffeine",
						"Making loud abrupt noises"
				],
//Calm. Fairly relaxed
//+HEALTH +REGEN
				"calm": [
				  	"In a state of zen",
					  "At one with their surroundings",
					  "Feels content",
				    "Feels perfectly relaxed",
						"Calming their mind"
		    ],
//Robotic. Observant, and focused.
//+HEALTH +REGEN
				"robotic": [
					 	"Scanning their surroundings",
					  "On the look out for threats",
					  "Repressing their emotions",
				    "Unphased by recent events",
						"Analyzing the situation"
				],
//Enthusiastic about assisting you in battle.
//+ATTACK
				"enthusiastic": [
				  	"Itching to fight",
					  "Can't contain theirself",
					  "Ready to give you a hand",
				    "Can't wait to help",
						"Eager to help"
        ],
//Grumpy. Doesn't like other monsters bothering them
//++ATTACK
			 "grumpy": [
				  	"Woke up on the wrong side of the capture pod",
					  "Feels angry for no good reason",
						"Feels angry at society",
						"Feeling angry over politics",
					  "Wants people to get off their lawn",
				    "Grumbling to theirself"
				 ],
//Yandere. Seems to like you a little too much...
//+ATTACK +HEALTH REGEN
				"yandere": [
						"Watching you while you sleep",
						"Desperate for your attention",
						"Is wondering what you're doing",
						"Hovering over your shoulder",
						"Invading your personal space",
						"Reading your text messages",
						"Wants you to notice them",
						"Is the only monster for you",
						"Won't stop staring at you",
						"Hacking your Starbook account",
            "Just Monika",

//Imported from NPC Statuses
						"Likes you in that outfit",
						"Feeling hormonal",
						"Unable to control themselves",
						"Finding it hard to control their desires",
						"Telling themselves they're not a stalker",
						"Loves the way you handle their capture pod",
						"Crossing the line",
						"Staring",
						"Wanting to be best friends",
						"Thinking of lyrics for a song about you",
						"Wanting to know what your face feels like"
				],
//Flirt. Likes to flirt with the player. Whether you find that adorable or weird is up to you :D
//+ATTACK +REGEN
			 "flirt": [
					  "Batting their eyes at you",
            "Rubbing against your leg",
					  "Playfully bumping into you",
					  "Wondering if you like them",
					  "Nudging against you"
				],
//Anxious. Always on the defensive (and frankly worries too much)
//+RESISTANCES
			  "anxious": [
					  "Worrying about tomorrow",
					 	"Thought they heard something",
					  "Feeling a little shakey",
				    "Feels like something bad's going to happen",

//Imported from NPC Statuses
            "Feeling unsure of themselves",
            "Worried",
            "Feels like the walls are closing in",
            "Feels a panic attack coming on",
            "Worrying that they might have undiagnosed illnesses",
            "Wants to avoid social interaction for a while",
            "Wondering just how fast they can run",
            "Wishes they were invisible",
            "Afraid of the end of the world",
            "Feels nervous",
            "Nervous wreck",
            "Second guessing their taste in music",
            "Trembling",
            "Doesn't feel cut out for this",
            "Lacking confidence",
            "Isn't sure they look cool after all",
            "Feeling more comfortable in front of a computer",
            "Feeling socially awkward",
            "Feeling unattractive",
            "Creating awkward silences",
            "Sweating uncontrollably",
            "Hiccuping at inappropriate times",
            "Feeling an intense sense of pressure",
            "Sensing dread",
            "Compulsively nail biting",
            "Nervously giggling",
            "Just wants to be at home",
            "Considering therapy",
            "Keeps snorting"
				],
//Perfectly generic.
//+HEALTH +RESISTANCES ETC
				"perfectlygeneric": [
            "Standing perfectly still",
						"Graduated College",
						"Aims to excel",
						"Feels absolutely perfect",
						"Polished their collection of awards"
        ],
//Jock. A very healthy monster.
//++ATTACK ++PHYSICAL RESISTANCE +HEALTH
	      "jock": [
		        "Running laps around your feet",
	        	"Just finished a workout session",
						"Wondering when they should visit the gym",
	        	"Feels in top form",
			      "Feels like they can conquer the world",
						"Jogging in place"
				],


//---DUAL PERSONALITIES---
//Daredevil. Throws caution to the wind.
//+ATTACK -RESISTANCES
        "daredevil": [
		        "Sticks the landing",
	        	"Dreaming of entering the Olympics",
						"Performing risky stunts",
						"Living life on the edge",
	        	"Doing backflips",
		        "Doesn't live only once"
        ],

//---NEGATIVE PERSONALITIES---
//Wimp. Runt of the litter
//-ATTACK -RESISTANCES
				"wimp": [
				  	"Covered in bruises",
			    	"Tripped over their own feet",
						"Having difficulties mustering up strength",
					  "Just can't climb the mountain",
				    "Wishes it didn't skip monster gym class"
				],
//Lazy. Just can't put in the effort
//-ATTACK
				"lazy": [
		        "Doesn't want to leave its capture pod",
						"Wants you to carry them",
						"Binging Netflix",
						"Doesn't feel like helping",
						"Thinking about their next meal"
			  ],
//Pathetic. Skipped combat class
//--ATTACK
				"pathetic": [
		        "Wallowing in their own tears",
						"Feels worthless",
						"Just wishes they mattered",
						"Wonders why they exist",
						"Feeling blue"
			  ],
//Clumsy. Lowest stat personality...
//Debuffs across all stats
				"clumsy": [
		        "Feels like a sorry excuse for a monster",
						"Wishes they didn't skip Monster School",
						"Wonders how they will fail you today",

//Imported from NPC Statuses
						"Wishing somebody could help open a jar",
            "Breaking everything they touch",
            "Keeps tripping up",
            "Repeatedly dropping expensive possessions",
            "Considering learning juggling",
            "Feeling prone to mistakes",
            "Slipping up",
            "Feeling clumsy",
            "Afraid of breaking something",
            "Wondering if they could operate a space ship",
            "Cursing their luck",
            "Cursing their dexterity",
            "Considering buying insurance",
            "Swearing they didn't do it",
            "Thinking they left something behind",
            "Feeling like they've lost something",
            "Feeling dangerous",
            "Compulsively wobbling",
            "Systematically ruining everything",
            "Unhappy with the physics",
            "In fear of falling down",
            "Hands are slippery",
            "Fingers are buttery",
            "Wobbling like jelly",
            "Feeling like they can't be trusted",
            "Dropping the ball",
            "Lacking dignity",
            "Stubbed their toe",
            "Gangling",
            "Feeling ungainly"
				],
//Emo. They radiate depression
//-HEALTH
				"emo": [
		        "Ponders why they're alive",
						"Embracing their eventual demise",
						"Wishes their capture pod would break",
						"Feeling depressed",
						"Feels like they don't matter",

//Imported from NPC Statuses
						"Is full of regret",
						"Shedding a single tear",
						"Feels like no one understands them",
						"Feeling very emotional",
						"Just wants to stay in the dark forever",
						"Has much sadness in their heart",
						"Feeling lost",
						"Feeling alone",
						"Feeling down",
						"Feeling misunderstood",
						"Considering a fringe",
						"Feeling angry at the world",
						"Feeling miserable",
						"Feeling like a failure",
						"Feeling feelings",
						"Feeling sad",
						"Feeling emotional",
						"Inventing a new kind of sadness",
						"Having an existential crisis",
						"Feeling excluded",
						"Questioning the point",
						"Feeling like sobbing",
						"Feeling depressed",
						"Feeling introverted",
						"Giving up",
						"Giving in",
						"Feeling deserted",
						"Feeling like sobbing",
						"Attempting to repair their self esteem",
						"Contemplating a piercing"
			  ]
    }
}
