{
   "blockKey" : [
    {
      "value" : [255, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false
    },

    {
      "value" : [0, 0, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true
    },

    {
      "value" : [255, 0, 0, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true
    },

    {
      "value" : [0, 255, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipwall",
      "flags" : [ "shipLockerPosition" ],
      "object" : "juuxshiplocker",
      "objectParameters" : {
        "treasurePools" : [ "juuxStarterTreasure" ],
        "level" : 0.5,
        "unbreakable" : false
      },
      "objectResidual" : true
    },

    {
      "value" : [0, 128, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipwall",
      "object" : "juuxshiplockerTier0",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [142, 255, 142, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipwall",
      "object" : "juuxtechstation",
      "objectParameters" : {
        "unbreakable" : false
      },
	  "objectResidual" : true
    },

    {
      "value" : [255, 87, 81, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "apexshipwall",
      "object" : "brokenjuuxfuelhatch",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [128, 44, 41, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "apexshipwall",
      "object" : "brokenjuuxfuelhatch",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [255, 90, 90, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "apexshipwall",
      "object" : "juuxfuelhatch",
      "objectParameters" : {
        "unbreakable" : false
      },
      "objectResidual" : true
    },

    {
      "value" : [255, 255, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails",
      "object" : "apexshiplight",
	  "objectParameters" : {
        "unbreakable" : false
      },
      "objectResidual" : true
    },

    {
      "value" : [191, 191, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails",
      "object" : "apexshiplightBroken",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [128, 128, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails",
      "object" : "apexshiplight",
      "objectParameters" : {
        "unbreakable" : true,
        "defaultLightState" : false
      }
    },

    {
      "value" : [255, 102, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "juuxshipdoor",
	  "objectParameters" : {
        "unbreakable" : false
      },
      "objectResidual" : true
    },

    {
      "value" : [128, 51, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "juuxshipdoorBroken",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [174, 137, 81, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "shipengine",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [156, 0, 255, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipwall",
      "object" : "juuxteleporter",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [79, 0, 128, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipwall",
      "object" : "juuxteleporterTier0",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [167, 167, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterflamehuman",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [168, 168, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterflamehuman2",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [180, 180, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterflamehuman3",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [166, 166, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterflame",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [100, 100, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "bigboosterflameavian",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [200, 200, 200, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "bigboosterflamehuman",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [168, 168, 168, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "smallboosterflamejuux",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [190, 190, 190, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "smallboosterflamehuman2",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [0, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "juuxcaptainschair",
      "objectDirection" : "right",
      "objectParameters" : {
        "unbreakable" : false
      },
      "objectResidual" : true
    },

    {
      "value" : [122, 122, 122, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "invisiblelight",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [255, 232, 128, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "invisiblesparker",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [255, 255, 144],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipwall"
    },

    {
      "value" : [255, 117, 144],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails"
    },

    {
      "value" : [255, 117, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipsupport"
    },

    {
      "value" : [255, 255, 220],
      "foregroundBlock" : true,
      "backgroundBlock" : false,
      "foregroundMat" : "hazard",
      "foregroundResidual" : true
    },

    {
      "value" : [255, 200, 220],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
      "foregroundMat" : "hazard",
      "foregroundResidual" : true,
      "backgroundMat" : "apexshipwall"
    },

			{
      "value" : [29, 90, 29, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
	  "backgroundMat" : "apexshipdetails",
      "foregroundMat" : "lunarbaseplatform",
	  "foregroundResidual" : true
    },

	    {
      "value" : [169, 169, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterflamejuux",
      "objectParameters" : {
        "unbreakable" : true
      }
    }

  ]
}
