{
  "chatterSound" : "/sfx/interface/aichatter1_loop.ogg",

  "defaultRecruitName" : "Cannon Fodder",
  "defaultRecruitDescription" : "> No data.",

  "missionBreadcrumbText" : "MISSION",
  "missionDeployText" : "DEPLOY",
  "crewBreadcrumbText" : "CREW",

  "breadcrumbLeftPadding" : 2,
  "breadcrumbRightPadding" : 6,

  "guiConfig" : {
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [231, 181]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "S.A.I.L.",
      "subtitle" : "Ship-based Artificial Intelligence Lattice",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/ai/AIicon.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/ai/header.png",
      "fileBody" : "/interface/ai/body.png",
      "fileFooter" : "/interface/ai/footer.png"
    },

    "backButton" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/leftmenuup.png",
      "hover" : "/interface/ai/leftmenuhover.png",
      "pressed" : "/interface/ai/leftmenudown.png",
      "position" : [10, 55],
      "pressedOffset" : [0, 0],
      "caption" : "BACK",

      "callback" : "goBack"
    },
    "showMissions" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/leftmenuup.png",
      "hover" : "/interface/ai/leftmenuhover.png",
      "pressed" : "/interface/ai/leftmenudown.png",
      "position" : [10, 55],
      "pressedOffset" : [0, 0],
      "caption" : "MISSIONS",

      "callback" : "showMissions"
    },
    "showCrew" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/leftmenuup.png",
      "hover" : "/interface/ai/leftmenuhover.png",
      "pressed" : "/interface/ai/leftmenudown.png",
      "position" : [10, 40],
      "pressedOffset" : [0, 0],
      "caption" : "CREW",

      "callback" : "showCrew"
    },

    "aiFaceCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [7, 75, 97, 169]
    },

    "homeBreadcrumbBg" : {
      "type" : "imageStretch",
      "zlevel" : 3,
      "position" : [108, 159],
      "size" : [6, 9], // x is dynamic
      "stretchSet" : {
        "begin" : "/interface/ai/breadcrumbbegin.png",
        "inner" : "/interface/ai/breadcrumbinner.png",
        "end" : "/interface/ai/breadcrumbend.png"
      }
    },
    "pageBreadcrumbBg" : {
      "type" : "imageStretch",
      "zlevel" : 2,
      "position" : [108, 159], // x is dynamic
      "size" : [6, 9], // x is dynamic
      "stretchSet" : {
        "begin" : "/interface/ai/breadcrumbbegin.png",
        "inner" : "/interface/ai/breadcrumbinner.png",
        "end" : "/interface/ai/breadcrumbend.png"
      }
    },
    "itemBreadcrumbBg" : {
      "type" : "imageStretch",
      "zlevel" : 1,
      "position" : [108, 159], // x is dynamic
      "size" : [6, 9], // x is dynamic
      "stretchSet" : {
        "begin" : "/interface/ai/breadcrumbbegin.png",
        "inner" : "/interface/ai/breadcrumbinner.png",
        "end" : "/interface/ai/breadcrumbend.png"
      }
    },

    "homeBreadcrumb" : {
      "type" : "label",
      "zlevel" : 4,
      "position" : [111, 158],
      "value" : "HOME"
    },
    "pageBreadcrumb" : {
      "type" : "label",
      "zlevel" : 4,
      "position" : [110, 158], // x is dynamic
      "value" : "replaceme",
      "hAnchor" : "left",
      "visible" : false
    },
    "itemBreadcrumb" : {
      "type" : "label",
      "zlevel" : 4,
      "position" : [110, 158], // x is dynamic
      "value" : "replaceme",
      "hAnchor" : "left",
      "visible" : false
    },

    "mainStack" : {
      "type" : "stack",
      "rect" : [110, 42, 238, 158],
      "stack" : [
        {
          "shipStatusRect" : {
            "zlevel" : 3,
            "type" : "layout",
            "layoutType" : "basic",
            "rect" : [8, 8, 128, 113],
            "children" : {
              "shipStatusText" : {
                "type" : "label",
                "color" : [174, 225, 238, 255],
                "hAnchor" : "left",
                "vAnchor" : "top",
                "position" : [0, 105],
                "wrapWidth" : 118,
                "lineSpacing" : 1.0
              }
            }
          }
        },
        {
          "missionStack" : {
            "type" : "stack",
            "stack" : [
              {
                "noMissionsRect" : {
                  "zlevel" : 3,
                  "type" : "layout",
                  "layoutType" : "basic",
                  "rect" : [8, 8, 128, 113],
                  "children" : {
                    "noMissionsText" : {
                      "type" : "label",
                      "color" : [174, 225, 238, 255],
                      "hAnchor" : "left",
                      "vAnchor" : "top",
                      "position" : [0, 105],
                      "wrapWidth" : 118,
                      "lineSpacing" : 1.0
                    }
                  }
                }
              },
              {
                "scrollArea" : {
                  "type" : "scrollArea",
                  "rect" : [0, 2, 128, 118],
                  "children" : {
                    "missionItemList" : {
                      "type" : "list",
                      "schema" : {
                        "selectedBG" : "/interface/ai/listitemscrollselected.png",
                        "unselectedBG" : "/interface/ai/listitemscroll.png",
                        "spacing" : [0, 1],
                        "memberSize" : [128, 21],
                        "listTemplate" : {
                          "background" : {
                            "type" : "image",
                            "file" : "/interface/ai/listitemscroll.png",
                            "position" : [0, -1],
                            "zlevel" : -1
                          },
                          "itemName" : {
                            "type" : "label",
                            "position" : [21, 10],
                            "hAnchor" : "left",
                            "vAnchor" : "mid",
                            "lineSpacing" : 1.0,
                            "wrapWidth" : 95
                          },
                          "itemIcon" : {
                            "type" : "image",
                            "position" : [3, 3]
                          }
                        }
                      }
                    }
                  }
                }
              },
              {
                "background" : {
                  "type" : "image",
                  "position" : [0, 95],
                  "file" : "/interface/ai/listitemselected.png"
                },
                "missionIcon" : {
                  "type" : "image",
                  "position" : [3, 99]
                },
                "missionName" : {
                  "type" : "label",
                  "position" : [21, 106],
                  "hAnchor" : "left",
                  "vAnchor" : "mid",
                  "value" : "mission name",
                  "lineSpacing" : 1.0,
                  "wrapWidth" : 100
                },
                "missionText" : {
                  "type" : "label",
                  "position" : [2, 90],
                  "vAnchor" : "top",
                  "hAnchor" : "left",
                  "value" : "mission text",
                  "wrapWidth" : 124
                },
                "startMission" : {
                  "type" : "button",
                  "base" : "/interface/ai/deployup.png",
                  "hover" : "/interface/ai/deployover.png",
                  "pressed" : "/interface/ai/deploydown.png",
                  "position" : [0, 1],
                  "pressedOffset" : [0, 0],
                  "caption" : "DEPLOY"
                }
              }
            ]
          }
        },
        {
          "crewStack" : {
            "type" : "stack",
            "stack" : [
              {
                "noCrewRect" : {
                  "zlevel" : 3,
                  "type" : "layout",
                  "layoutType" : "basic",
                  "rect" : [8, 8, 128, 113],
                  "children" : {
                    "noCrewText" : {
                      "type" : "label",
                      "color" : [174, 225, 238, 255],
                      "hAnchor" : "left",
                      "vAnchor" : "top",
                      "position" : [0, 105],
                      "wrapWidth" : 118,
                      "lineSpacing" : 1.0
                    }
                  }
                }
              },
              {
                "scrollArea" : {
                  "type" : "scrollArea",
                  "rect" : [0, 2, 128, 118],
                  "children" : {
                    "crewItemList" : {
                      "type" : "list",
                      "schema" : {
                        "selectedBG" : "/interface/ai/listitemscrollselected.png",
                        "unselectedBG" : "/interface/ai/listitemscroll.png",
                        "spacing" : [0, 1],
                        "memberSize" : [128, 21],
                        "listTemplate" : {
                          "background" : {
                            "type" : "image",
                            "file" : "/interface/ai/listitemscroll.png",
                            "position" : [0, -1],
                            "zlevel" : -1
                          },
                          "itemName" : {
                            "type" : "label",
                            "position" : [21, 10],
                            "hAnchor" : "left",
                            "vAnchor" : "mid",
                            "lineSpacing" : 1.0,
                            "wrapWidth" : 100
                          },
                          "itemIcon" : {
                            "type" : "image",
                            "position" : [3, 3],
                            "offset" : [12, 4]
                          }
                        }
                      }
                    }
                  }
                }
              },
              {
                "background" : {
                  "type" : "image",
                  "position" : [0, 95],
                  "file" : "/interface/ai/listitemselected.png"
                },
                "recruitIcon" : {
                  "type" : "image",
                  "position" : [3, 99],
                  "offset" : [12, 4]
                },
                "recruitName" : {
                  "type" : "label",
                  "position" : [21, 106],
                  "hAnchor" : "left",
                  "vAnchor" : "mid",
                  "value" : "recruit name",
                  "lineSpacing" : 1.0,
                  "wrapWidth" : 100
                },
                "recruitText" : {
                  "type" : "label",
                  "position" : [2, 93],
                  "vAnchor" : "top",
                  "hAnchor" : "left",
                  "value" : "recruit description",
                  "wrapWidth" : 124
                },
                "dismissRecruit" : {
                  "type" : "button",
                  "base" : "/interface/ai/dismissup.png",
                  "hover" : "/interface/ai/dismissover.png",
                  "pressed" : "/interface/ai/dismissdown.png",
                  "position" : [0, 1],
                  "pressedOffset" : [0, 0],
                  "caption" : "DISMISS"
                }
              }
            ]
          }
        }
      ]
    }
  }
}

