{
  "chatterSound" : "/sfx/interface/aichatter1_loop.ogg",

  "defaultRecruitName" : "Cannon Fodder",
  "defaultRecruitDescription" : "> No data.",

  "missionBreadcrumbText" : "MISSION",
  "missionDeployText" : "DEPLOY",
  "crewBreadcrumbText" : "CREW",

  "breadcrumbLeftPadding" : 2,
  "breadcrumbRightPadding" : 6,

  "gui" : {
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [231, 181]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "S.A.I.L.",
      "subtitle" : "Ship-based Artificial Intelligence Lattice",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/ai/AIicon.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/ai/header.png",
      "fileBody" : "/interface/ai/body.png",
      "fileFooter" : "/interface/ai/footer.png"
    },

    "showMissions" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/leftmenuup.png",
      "hover" : "/interface/ai/leftmenuhover.png",
      "pressed" : "/interface/ai/leftmenudown.png",
      "position" : [10, 55],
      "pressedOffset" : [0, 0],
      "caption" : "BUILD YOUR SHIP",

      "callback" : "byos"
    },
    "showCrew" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/leftmenuup.png",
      "hover" : "/interface/ai/leftmenuhover.png",
      "pressed" : "/interface/ai/leftmenudown.png",
      "position" : [10, 40],
      "pressedOffset" : [0, 0],
      "caption" : "DEFAULT SHIP",

      "callback" : "racial"
    },

    "aiFaceCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [7, 75, 97, 169]
    },

    "homeBreadcrumbBg" : {
      "type" : "imageStretch",
      "zlevel" : 3,
      "position" : [108, 159],
      "size" : [6, 9], // x is dynamic
      "stretchSet" : {
        "begin" : "/interface/ai/breadcrumbbegin.png",
        "inner" : "/interface/ai/breadcrumbinner.png",
        "end" : "/interface/ai/breadcrumbend.png"
      }
    },
    "pageBreadcrumbBg" : {
      "type" : "imageStretch",
      "zlevel" : 2,
      "position" : [108, 159], // x is dynamic
      "size" : [6, 9], // x is dynamic
      "stretchSet" : {
        "begin" : "/interface/ai/breadcrumbbegin.png",
        "inner" : "/interface/ai/breadcrumbinner.png",
        "end" : "/interface/ai/breadcrumbend.png"
      }
    },
    "itemBreadcrumbBg" : {
      "type" : "imageStretch",
      "zlevel" : 1,
      "position" : [108, 159], // x is dynamic
      "size" : [6, 9], // x is dynamic
      "stretchSet" : {
        "begin" : "/interface/ai/breadcrumbbegin.png",
        "inner" : "/interface/ai/breadcrumbinner.png",
        "end" : "/interface/ai/breadcrumbend.png"
      }
    },

    "homeBreadcrumb" : {
      "type" : "label",
      "zlevel" : 4,
      "position" : [111, 158],
      "value" : "HOME"
    },
    "pageBreadcrumb" : {
      "type" : "label",
      "zlevel" : 4,
      "position" : [110, 158], // x is dynamic
      "value" : "replaceme",
      "hAnchor" : "left",
      "visible" : false
    },
    "itemBreadcrumb" : {
      "type" : "label",
      "zlevel" : 4,
      "position" : [110, 158], // x is dynamic
      "value" : "replaceme",
      "hAnchor" : "left",
      "visible" : false
    },

    "mainStack" : {
      "type" : "stack",
      "rect" : [110, 42, 238, 158],
      "stack" : [
        {
          "shipStatusRect" : {
            "zlevel" : 3,
            "type" : "layout",
            "layoutType" : "basic",
            "rect" : [8, 8, 128, 113],
            "children" : {
              "shipStatusText" : {
                "type" : "label",
                "color" : [174, 225, 238, 255],
                "hAnchor" : "left",
                "vAnchor" : "top",
                "position" : [0, 105],
                "wrapWidth" : 118,
                "lineSpacing" : 1.0
              }
            }
          }
        }
	  ]
    }
  },
  "scripts" : ["/interface/ai/fu_byosai.lua"],
    "scriptWidgetCallbacks" : [
		"byos",
        "racial"
  ],
  "techstationUid" : "techstation"
}

