{
	"gui" : {
		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [0, 0],
			"position" : [240, 185]
		},
		
		"windowIcon" : {
			"type" : "image",
			"file": "/interface/ai/AIicon.png",
			"position" : [2, 176]
		},
		
		"windowTitle" : {
			"type" : "label",
			"position" : [28, 197],
			"vAnchor" : "top",
			"value" : "S.A.I.L"
		},
		
		"windowSubtitle" : {
			"type" : "label",
			"position" : [28, 178],
			"value" : "Ship-based Artificial Intelligence Lattice"
		},
		
		"background" : {
			"type" : "background",
			"fileHeader" : "/zb/newSail/header.png",
			"fileBody" : "/zb/newSail/body.png",
			"fileFooter" : "/zb/newSail/footer.png"
		},
		
		"button1" : {
			"type" : "button",
			"base" : "/zb/newSail/buttonMain.png:default",
			"hover" : "/zb/newSail/buttonMain.png:hover",
			"pressed" : "/zb/newSail/buttonMain.png:pressed",
			"position" : [8, 65],
			"pressedOffset" : [0, 0],
			"caption" : "",
			"callback" : "buttonPress"
		},
		
		"button2" : {
			"type" : "button",
			"base" : "/zb/newSail/buttonMain.png:default",
			"hover" : "/zb/newSail/buttonMain.png:hover",
			"pressed" : "/zb/newSail/buttonMain.png:pressed",
			"position" : [8, 50],
			"pressedOffset" : [0, 0],
			"caption" : "",
			"callback" : "buttonPress"
		},
		
		"button3" : {
			"type" : "button",
			"base" : "/zb/newSail/buttonMain.png:default",
			"hover" : "/zb/newSail/buttonMain.png:hover",
			"pressed" : "/zb/newSail/buttonMain.png:pressed",
			"position" : [8, 35],
			"pressedOffset" : [0, 0],
			"caption" : "",
			"callback" : "buttonPress"
		},
		
		"buttonBack" : {
			"type" : "button",
			"base" : "/zb/newSail/buttonMain.png:default",
			"hover" : "/zb/newSail/buttonMain.png:hover",
			"pressed" : "/zb/newSail/buttonMain.png:pressed",
			"position" : [8, 20],
			"pressedOffset" : [0, 0],
			"caption" : "Back",
			"callback" : "buttonPress",
			"disabled" : true
		},
		
		"aiFaceCanvas" : {
			"type" : "canvas",
			"rect" : [6, 78, 95, 172]
		},
		
		"path" : {
			"type" : "label",
			"position" : [103, 162],
			"wrapWidth" : 138,
			"fontSize" : 6,
			"value" : "root/sail/ui/replaceship"
		},
		
		"root" : {
			"type" : "scrollArea",
			"rect" : [101, 22, 245, 158],
			"children" : {
				"text" : {
					"type" : "label",
					"position" : [3, 0],
					"wrapWidth" : 128,
					"fontSize" : 7,
					"vAnchor" : "top",
					"value" : ""
				},
				
				"shipList" : {
					"type" : "list",
					"callback" : "shipSelected",
					"schema" : {
						"selectedBG" : "/zb/newSail/listMissionButton.png:visible",
						"unselectedBG" : "/zb/newSail/listMission.png",
						"spacing" : [0, 1],
						"memberSize" : [134, 20],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/zb/newSail/listMission.png",
								"position" : [0, 0],
								"zlevel" : -1
							},
							"icon" : {
								"type" : "image",
								"position" : [1, 1],
								"file" : "/zb/newSail/missionIconBG.png"
							},
							"name" : {
								"type" : "label",
								"position" : [25, 2],
								"fontSize" : 7,
								"value" : ""
							},
							"pseudobutton" : {
								"type" : "button",
								"base" : "/zb/newSail/listMissionButton.png:invisible",
								"hover" : "/zb/newSail/listMissionButton.png:visible",
								"pressed" : "/zb/newSail/listMissionButton.png:visible",
								"disabledImage" : "/zb/newSail/listMissionButton.png:invisible",
								"zlevel" : 1,
								"position" : [0, 0],
								"pressedOffset" : [0, 0],
								"callback" : "null"
							}
						}
					}
				}
			}
		},
		
		"buttonByos" : {
			"type" : "button",
			"visible" : false,
			"base" : "/zb/newSail/buttonMissionsMain.png:default",
			"hover" : "/zb/newSail/buttonMissionsMain.png:hover",
			"pressed" : "/zb/newSail/buttonMissionsMain.png:hover",
			"disabledImage" : "/zb/newSail/buttonMissionsMain.png:disabled",
			"position" : [99, 139],
			"pressedOffset" : [0, 0],
			"zlevel" : 2,
			"caption" : "^white;Buildable^reset;",
			"callback" : "buttonPress"
		},
		
		"buttonUpgradable" : {
			"type" : "button",
			"visible" : false,
			"base" : "/zb/newSail/buttonMissionsSecondary.png:default",
			"hover" : "/zb/newSail/buttonMissionsSecondary.png:hover",
			"pressed" : "/zb/newSail/buttonMissionsSecondary.png:hover",
			"disabledImage" : "/zb/newSail/buttonMissionsSecondary.png:disabled",
			"position" : [167, 139],
			"pressedOffset" : [0, 0],
			"zlevel" : 2,
			"caption" : "^white;Upgradable^reset;",
			"callback" : "buttonPress"
		},
		
		"preview" : {
			"type" : "image",
			"visible" : false,
			"file" : "",
			"position" : [173, 90],
			"maxSize" : [144, 136],
			"centered" : true
		}
	},
	
	"canvasKeyCallbacks" : { },
	"canvasClickCallbacks" : { },
	"scriptWidgetCallbacks" : [ "buttonPress", "shipSelected" ],
	
	"scripts" : ["/interface/ai/fu_byosai.lua"],
	"scriptDelta" : 1,
	
	"sailImage" : {
		"aiImage" : {
			"talk" : {
				"image" : "/ai/<fileName>:talk.<frame>",
				"frames" : 2,
				"updateTime" : 0.25
			},
			"idle" : {
				"image" : "/ai/<fileName>:idle.<frame>",
				"frames" : 21,
				"updateTime" : 0.14
			}
		},
		"scanlines" : {
			"image" : "/ai/scanlines.png:<frame>",
			"frames" : 14,
			"updateTime" : 0.05,
			"opacity" : 0.5
		},
		"static" : {
			"image" : "/ai/<fileName>:<frame>",
			"frames" : 4,
			"updateTime" : 0.05,
			"opacity" : 0.2
		}
	},
	"textUpdateDelay" : 1,
	"chatterSound" : "/sfx/interface/aichatter1_loop.ogg",
	
	"states" : {
		"initial" : {
			"text" : "Ship has sustained major damage when escaping earth. Please select which ship type you want:\n\nFrackin Ship:\nBuild your ship, choosing from a variety of presets. Requires installation of a new FTL Drive. See your tricorder quests for guidance.\n\nVanilla Ship:\nThe default starbound ship for your race. Does not have access to some FU ship features.",
			"buttons" : [
				{"name" : "Frackin Ship", "newState" : "frackinShipChoice"},
				{"name" : "Vanilla Ship", "newState" : "vanillaShipSelected"}
			],
			"path" : "root/sail/ui/fixship"
		},
		"frackinShipChoice" : {
			"text" : " ",
			"buttons" : [
				{"name" : "Select", "newState" : "frackinShipSelected"},
				{"name" : "Preview", "newState" : "frackinShipPreview"}
			],
			"previousState" : "initial",
			"path" : "root/sail/ui/fixship/frackin"
		},
		"frackinShipPreview" : {
			"text" : " ",
			"buttons" : [
				{"name" : "Select", "newState" : "frackinShipSelected"}
			],
			"previousState" : "frackinShipChoice",
			"path" : "root/sail/ui/fixship/frackin/preview"
		},
		"frackinShipSelected" : {
			"text" : "The frackin ship. Upgraded differently. This ship type has access to features that the vanilla ship does not have access to.\n\nCurrently Selected Ship: <shipName>\nCurrently Selected Ship Mode: <shipMode>",
			"buttons" : [
				{"name" : "Confirm", "newState" : "frackinShipChosen"}
			],
			"previousState" : "frackinShipChoice",
			"path" : "root/sail/ui/fixship/frackin/<shipMode>"
		},
		"frackinShipChosen" : {
			"text" : " ",
			"previousState" : "frackinShipSelected",
			"path" : "root/sail/ui/fixship/frackin/<shipMode>"
		},
		"vanillaShipSelected" : {
			"text" : "The normal vanilla ship. Upgraded normally. This ship type won't have access to some of the features the frackin ship will have access to.",
			"buttons" : [
				{"name" : "Confirm", "newState" : "vanillaShipChosen"}
			],
			"previousState" : "initial",
			"path" : "root/sail/ui/fixship/vanilla"
		},
		"vanillaShipChosen" : {
			"text" : " "
		},
		"shipChosen" : {
			"text" : "Constructing ship, please wait.",
			"buttons" : [],
			"path" : "root/sail/ui/constructship"
		},
		
		"skipRepairs" : {
			"text" : "Only skip repairs if the ship isn't currently damaged.",
			"buttons" : [
				{"name" : "Confirm", "newState" : "repairsSkipped"}
			],
			"previousState" : "initial",
			"path" : "root/sail/ui/fixship/skip"
		},
		"repairsSkipped" : {
			"text" : " ",
			"previousState" : "skipRepairs",
			"path" : "root/sail/ui/fixship/skip"
		}
	},
	
	"shipResetConfirmationDialogs" : {
		"repairShip" : {
			"paneLayout" : "/interface/windowconfig/warpout.config:paneLayout",
			"title" : "Repair Ship",
			"subtitle" : "Repair your ship",
			"icon" : "/interface/warning.png",
			"message" : "This will re-create your ship. Only do this if your ship was been reset. Are you sure you want to do this?",
			"okCaption" : "Okay",
			"cancelCaption" : "Cancel"
		},
		"skipRepairs" : {
			"paneLayout" : "/interface/windowconfig/warpout.config:paneLayout",
			"title" : "Skip Repairs",
			"subtitle" : "Skip repairing your ship",
			"icon" : "/interface/warning.png",
			"message" : "This will set your ship as repaired. Only do this if your ship hasn't been reset. Are you sure you want to do this?",
			"okCaption" : "Okay",
			"cancelCaption" : "Cancel"
		}
	},
	
	"backgroundPresentConfirmation" :{
		"paneLayout" : "/interface/windowconfig/warpout.config:paneLayout",
		"title" : "Repair Ship",
		"subtitle" : "Repair your ship",
		"icon" : "/interface/warning.png",
		"message" : "The normal background image has been detected. This background image will be rendered permenantly on your Frackin Ship. If you do not have Frackin Ship modded race support patch you should grab it from: https://steamcommunity.com/sharedfiles/filedetails/?id=1194878261 .",
		"okCaption" : "Okay",
		"cancelCaption" : "Cancel"
	}
}
