{
  //Vanilla
  "apex" : "petweasel",
  "avian" : "petbunny",
  "floran" : "petsnake",
  "glitch" : "piglett",
  "human" : "petcat",
  "hylotl" : "crasberry",
  "novakid" : "snugget",
  
  //Modded
  "argonian" : "petsnake",
  "avali" : "petcat",
  "avikan" : "sandcrawler",
  "bunnykin" : "petbunny",
  "callistan" : "petorbis",
  "droden" : "sandcrawler",
  "elunite" : "minimal",
  "familiar" : "petcat",
  "felin" : "tentillum",
  "fenerox" : "feneroxpet",
  "gardevan" : "petcat",
  "greckan" : "petfextal",
  "gyrusen" : "petrouki",
  "kazdra" : "staloa",
  "kemono" : "petcat",
  "kineptic" : "petlixmur",
  "lamia" : "petsnake",
  "mantizi" : "petslugbun",
  "munari" : "octoling", 
  "neko" : "petcat",
  "nightar" : "petweasel",
  "ningen" : "petcat",
  "orcana" : "seafrog",
  //"peglaci" : ,
  "pygs" : "petweasel",
  "sergal" : "petnevrean",
  "skath" : "crasberry",
  "skelekin" : "skelekinpet",
  "slimeperson" : "slimecritter",
  "trink" : "trinkoid",
  "vespoid" : "petsnake",
  "viera" : "petchocobo",
  "vulpes" : "petcat",
  "wasphive" : "petcat"
}