{
  "gui" : {
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [231, 181]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "S.A.I.L.",
      "subtitle" : "Ship-based Artificial Intelligence Lattice",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/ai/AIicon.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/ai/header.png",
      "fileBody" : "/interface/ai/body.png",
      "fileFooter" : "/interface/ai/footer.png"
    },

    "showMissions" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/leftmenuup.png",
      "hover" : "/interface/ai/leftmenuhover.png",
      "pressed" : "/interface/ai/leftmenudown.png",
      "position" : [10, 55],
      "pressedOffset" : [0, 0],
      "caption" : "BUILD YOUR SHIP",

      "callback" : "byos"
    },
    "showCrew" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/leftmenuup.png",
      "hover" : "/interface/ai/leftmenuhover.png",
      "pressed" : "/interface/ai/leftmenudown.png",
      "position" : [10, 40],
      "pressedOffset" : [0, 0],
      "caption" : "DEFAULT SHIP",

      "callback" : "racial"
    },
    
    "aiFaceCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [10, 78, 94, 166]
    },

    "homeBreadcrumbBg" : {
      "type" : "imageStretch",
      "zlevel" : 3,
      "position" : [108, 159],
      "size" : [28, 9], // x is dynamic
      "stretchSet" : {
        "begin" : "/interface/ai/breadcrumbbegin.png",
        "inner" : "/interface/ai/breadcrumbinner.png",
        "end" : "/interface/ai/breadcrumbend.png"
      }
    },

    "homeBreadcrumb" : {
      "type" : "label",
      "zlevel" : 4,
      "position" : [111, 158],
      "value" : "HOME"
    },

    "shipStatusText" : {
      "type" : "label",
      "color" : [174, 225, 238, 255],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "position" : [120, 155],
      "wrapWidth" : 118,
      "lineSpacing" : 1.0
    }
  },
  "scripts" : ["/interface/ai/fu_byosai.lua"],
  "scriptWidgetCallbacks" : [
		"byos",
        "racial"
  ],
  
  "techstationUid" : "techstation",
  "aiImage" : "/ai/portraits/fu_byosportrait.png:unique.<frame>",
  "aiFrames" : 8,
  "aiUpdateTime" : 0.25,
  "scanlinesImage" : "/ai/scanlines.png:<frame>",
  "scanlinesFrames" : 14,
  "scanlinesUpdateTime" : 0.05,
  "staticImage" : "/interface/ai/fu_byosstatic.png:<frame>",
  "staticFrames" : 4,
  "staticUpdateTime" : 0.05,
  "textUpdateDelay" : 1,
  "chatterSound" : "/sfx/interface/aichatter1_loop.ogg",
  "shipStatus" : "^#6f6f6f;$ status
^cyan;> Ship has sustained major damage when escaping earth.
> Initiating ship auto-repair systems.
> Please input repair method.
> Option 1: Build your ship. See Tricorder quests when obtained. Requires installation of a new FTL Drive.
> Option 2: Default ship."
}

