{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/fuvehiclerepair/header.png",
      "fileBody" : "/interface/scripted/fuvehiclerepair/body.png",
      "fileFooter" : "/interface/scripted/fuvehiclerepair/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : " Roger Repairo",
      "subtitle" : " Repair your vehicles here!",
      "icon" : {
        "type" : "image",
        "file" : "/objects/outpost/furepairo/furepairoicon.png",
        "zlevel" : -1
      }
    },

    "itemScrollArea" : {
      "type" : "scrollArea",
      "rect" : [5, 99, 174, 215],
      "children" : {
        "itemList" : {
          "type" : "list",
          "callback" : "itemSelected",
          "schema" : {
            "selectedBG" : "/interface/scripted/fuvehiclerepair/listitem.png:selected",
            "unselectedBG" : "/interface/scripted/fuvehiclerepair/listitem.png:unselected",
            "spacing" : [0, 1],
            "memberSize" : [156, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/fuvehiclerepair/listitem.png:unselected",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [22, 18],
                "hAnchor" : "left",
                "vAnchor" : "top",
                "wrapWidth" : 116,
                "lineSpacing" : 1.05,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "image",
                "position" : [10, 10],
                "centered" : true
              },
              "durability" : {
                "type" : "progress",
                "zlevel" : 2,
                "background" : "/interface/scripted/fuvehiclerepair/durabilityempty.png",
                "position" : [20, 2],
                "size" : [134, 6],
                "progressSet" : {
                  "inner" : "/interface/scripted/fuvehiclerepair/durability.png",
                  "type" : "repeat"
                },
                "direction" : "horizontal"
              }
            }
          }
        }
      }
    },

    "chipCostDescription" : {
      "type" : "label",
      "position" : [93, 65],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "color" : "cyan",
      "value" : "REQUIRED PIXELS"
    },
    "chipCost" : {
      "type" : "label",
      "position" : [93, 56],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "value" : "0 / --"
    },

    "repairButton" : {
      "type" : "button",
      "position" : [92, 30],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "disabledImage" : "/interface/buttongrayed.png",
      "caption" : "Repair",
      "callback" : "doRepair"
    },
    "cancel" : {
      "type" : "button",
      "position" : [33, 30],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "caption" : "Cancel",
      "callback" : "close"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [161, 242]
    },

    "emptyLabel" : {
      "type" : "label",
      "position" : [90, 150],
      "hAnchor" : "mid",
      "value" : "You don't have any vehicles to repair!",
      "wrapWidth" : 125,
      "color" : [185, 181, 178]
    }
  },

  "scriptWidgetCallbacks" : [
    "itemSelected",
    "doRepair"
  ],

  "scripts" : ["/interface/scripted/fuvehiclerepair/fuvehiclerepairgui.lua"],
  "scriptDelta" : 30,

  "chipRepairAmount" : 0.003
}
