{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.5,
      "type" : "fuhivebombexplosion1"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/hivebomb_impact.ogg" ]
    },
    {
      "action" : "projectile",
      "type" : "hiveswarm",
      "fuzzAngle" : 20,
      "inheritDamageFactor" : 0.3,
      "angleAdjust" : 0
    },
    {
      "action" : "projectile",
      "type" : "hiveswarm",
      "fuzzAngle" : 20,
      "inheritDamageFactor" : 0.3,
      "angleAdjust" : 45
    },
    {
      "action" : "projectile",
      "type" : "hiveswarm",
      "fuzzAngle" : 20,
      "inheritDamageFactor" : 0.3,
      "angleAdjust" : 90
    },
    {
      "action" : "projectile",
      "type" : "hiveswarm",
      "fuzzAngle" : 20,
      "inheritDamageFactor" : 0.3,
      "angleAdjust" : 135
    },
    {
      "action" : "projectile",
      "type" : "hiveswarm",
      "fuzzAngle" : 20,
      "inheritDamageFactor" : 0.3,
      "angleAdjust" : 180
    },
    {
      "action" : "projectile",
      "type" : "hiveswarm",
      "fuzzAngle" : 20,
      "inheritDamageFactor" : 0.3,
      "angleAdjust" : -45
    },
    {
      "action" : "projectile",
      "type" : "hiveswarm",
      "fuzzAngle" : 20,
      "inheritDamageFactor" : 0.3,
      "angleAdjust" : -90
    },
    {
      "action" : "projectile",
      "type" : "hiveswarm",
      "fuzzAngle" : 20,
      "inheritDamageFactor" : 0.3,
      "angleAdjust" : -135
    }
  ]
}
