{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/multitetherheader.png",
      "fileBody" : "/interface/chests/multitetherbody.png",
      "fileFooter" : "/interface/chests/multitetherfooter.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [9, 41],
      "dimensions" : [4, 4],
      "spacing" : [23, 23]
    },
    "insertPod" : {
      "type" : "label",
      "value" : "Insert Pods",
      "hAnchor" : "mid",
      "color" : [126, 117, 102],
      "position" : [54, 133]
    }
  }
}
