{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/voidchest200_header.png",
      "fileBody" : "/interface/chests/void200_body.png",
      "fileFooter" : "/interface/chests/voidchest200_footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      //position: horizontal, vertical
      "position" : [372, 229]
    },
     "itemGrid" : {
      "type" : "itemgrid",
      "position" : [5, 122],
      "dimensions" : [20, 5],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
     "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [5, 27],
      "slotOffset" : 100,
      "dimensions" : [20, 5],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "clear" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Take all",
      "position" : [33, 7]
    }
   }
}
