{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "precursorexplosion2"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/statuseffects/stimuse.ogg" ]
    },
    {
      "action" : "light",
      "color" : "yellow"
    }
  ]
}
