{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Artemis", "Blaze", "Boots", "Callie", "Cat", "Felix", "Firestar", "Garfield", "Grumpycat", "Fluffy", "Kitty", "Kao'kao", "Leafpool", "Luna", "Meowth", "Midnight", "Mittens", "Neko", "Nyan", "Rusty", "Skitty", "Stormfur", "Tardis", "Tao'ji", "Gii'naj", "Stormeater", "Squiggums", "Er'uth", "Tel'vash", "Lord Squishy", "Ayami", "Xih'lao" ]
    ]
  ]
}
