{
  "names" : [
    { "mode" : "alts" },
    [
	  { "mode" : "serie", "titleCase" : true },
      [ { "mode" : "markov", "source" : "elduukharmale", "targetLength" : [3, 10] } ]
      /*{ "mode" : "serie" },
      [ { "mode" : "alts" }, "Zack", "Drassil", "Veno", "Fenran", "Fizz", "Balrut", "Werin", "Sqeld", "Marlwind", "Tazuru", "Halfier", "Captain", "Spyro", "Cynder", "Wind", "Fire", "Soul", "Water", "Dark", "Jade", "Rock", "Rocky", "Mordecai", "Ice", "Lightening", "King", "Ziggy", "Leox", "Xelo", "Ulfbert", "Gazzin", "Jynx", "Konir", "Vernin", "Vrald", "Bassil", "Ridley", "Ryunoko", "Jasper", "Amathier", "Kaiser", "Jazz", "Roontayl", "Bob", "Kyru", "Rykuru", "Yamek", "Ronan", "Captain Nathaiel", "Zilemon", "Emera", "Rupert" ],
      [ { "mode" : "alts" }, " Glider", " Biter", " Jack", "", "horn", " Jaws", " Cliff", " Tucker", " Eye", "flyer", "diver", "binder", "fighter", "", " Claws", " Caller", "wing", "claw", " Fin", "", "tail", "claw", " Silbask", " Durango", " Flint", "", "", " Ross", " Boomer", " Flyer", " Claws", " Broketail", " D" ]*/
    ]
  ]
}
