{
	"names" : [
		{ "mode" : "alts" },
		[
			{ "mode" : "serie" },
			[
				{ "mode" : "alts" },
      	"",
      	"Aci ",
      	"Alph ",
      	"Ang ",
      	"Bet ",
      	"Blat ",
      	"Blue ",
      	"Burn ",
      	"Cata ",
      	"Cha ",
      	"Chi ",
      	"Chil ",
      	"Chrom ",
      	"Cont ",
      	"Col ",
      	"Cas ",
      	"Ciph ",
      	"Dee ",
      	"Del ",
      	"Dev ",
      	"Docc ",
      	"Dolphre ",
      	"Dozear ",
      	"Etassy ",
      	"Epaocah ",
      	"Epsilon ",
      	"Esta ",
      	"Falfo ",
      	"Freak ",
      	"Gamma ",
      	"Giso ",
      	"Gol ",
      	"Gry ",
      	"Grym ",
      	"Hexa ",
      	"Iota ",
      	"Joh ",
      	"Kaa ",
      	"Kii ",
      	"Lama ",
      	"Lizat ",
     	"Loarad ",
      	"Mnemon ",
      	"Mol ",
      	"Morphep ",
      	"Mouse ",
      	"Mu ",
      	"Nadir ",
      	"Nez ",
      	"Nen ",
      	"Nit ",
      	"Nu ",
      	"Ome ",
      	"Omiron ",
      	"Omni ",
      	"Oracle ",
      	"Override ",
      	"Paradox ",
      	"Phantom ",
      	"Phzi ",
      	"Pzi ",
      	"Plaga ",
      	"Posi ",
      	"Proxi ",
      	"Psi ",
      	"Ratta ",
      	"Reapu ",
      	"Redu ",
      	"Rhou ",
      	"Rideu ",
      	"Seri ",
      	"Sho ",
      	"Sig ",
      	"Spi ",
      	"Strit ",
      	"Swit ",
      	"Swork ",
      	"Yash ",
      	"Tanak ",
      	"Tau ",
      	"The ",
      	"Theta ",
      	"Trini ",
      	"Upsilon ",
      	"Virs ",
      	"Wasat ",
      	"Whit ",
      	"Xip ",
      	"Zeni ",
      	"Zerp ",
      	"Zeta ",
        "Aaralyn ",
        "Abi ",
        "Abina ",
        "Addison ",
        "Adora ",
        "Adoria ",
        "Aelan ",
        "Afina ",
        "Agatha ",
        "Aggie ",
        "Dorg ", "Dall ", "Ashi ", "Ava ", "Bal-","Blik-","Ceta ","Cail ","Da ","Dava ","Dannb","Exa-","Elorr-","Frek ","Gyu ","Gikka-gik ","Frem ", "Harg ","Halith ","Ikenz ","Il ","Il-","Jik ","Jikka ","Kilrax ","Kyla ","Norannx ","Shelvor-Nox ","Noc ","Lok-","Metissak ","Morg ","Nintik ","Opa ","Ova ","Pont ","Plyet ", "Qu ","Qyik ","Revvak ","Rika ","Stuk ","Salor ","Tim ","Tak ","Tyu ","Torgum ","Uiolk ", "Zax ","Zax-"
      ],
      [
      	{ "mode" : "alts" },
      	"Seller",
      	"Merchant-Born",
      	"Upper-Decker",
      	"Wastewalker",
      	"Arkweaver",
      	"Enginemaker",
      	"Warpmaster",
      	"Jettison",
      	"Psion",
      	"Pilot",
      	"Enfilader",
      	"Ionic",
      	"Peaceseller",
      	"Warmaker",
      	"Seeker",
      	"Lore-Bearer",
      	"Cleaner",
      	"Mechanis",
      	"Adept",
      	"Noviceborn",
      	"Wailer",
      	"Freethinker",
      	"Datahoarder",
      	"Docmaker",
      	"Plasmic",
      	"Enginemaster",
      	"Patroller",
      	"Writer",
      	"Ultrium",
      	"Lorex",
      	"Vexavith",
      	"Lombradie",
      	"Firstborn",
      	"Secondborn",
      	"Third",
      	"Unfett",
      	"Jillsong",
      	"Taleswapper",
      	"Wanderluster",
      	"Arkfinder",
      	"Arkleader",
      	"Acid",
      	"Alpha",
      	"Angel",
      	"Beta",
      	"Black",
      	"Blue",
      	"Box",
      	"Burn",
      	"Cataclysm",
      	"Chaos",
      	"Chi",
      	"Chill",
      	"Chrome",
      	"Control",
      	"Cool",
      	"Crash",
      	"Cipher",
      	"Deep",
      	"Delta",
      	"Devil",
      	"Doctor",
      	"Dolphin",
      	"Dozer",
      	"Easy",
      	"Epoch",
      	"Epsilon",
      	"Eta",
      	"Falcon",
      	"Freak",
      	"Gamma ",
      	"Gibson",
      	"Gold",
      	"Grey",
      	"Hex",
      	"Iota",
      	"Kappa",
      	"Killer",
      	"Lambda",
      	"Lizard",
      	"Lord",
      	"Millions",
      	"Mnemonic",
      	"Morpheus",
      	"Mouse",
      	"Mu",
      	"Nadir",
      	"Neo",
      	"Neon",
      	"Night",
      	"Nu",
      	"Omega",
      	"Omicron",
      	"One",
      	"Oracle",
      	"Override",
      	"Paradox",
      	"Phantom",
      	"Phi",
      	"Pi",
      	"Plague",
      	"Poison",
      	"Proxy",
      	"Psi",
      	"Rat",
      	"Reaper",
      	"Red",
      	"Rho",
      	"Rider",
      	"Serial",
      	"Seven",
      	"Shock",
      	"Sigma",
      	"Spider",
      	"Strike",
      	"Switch",
      	"Swordfish",
      	"System",
      	"Tank",
      	"Tau",
      	"Theta",
      	"Thirteen",
      	"Trinity",
      	"Upsilon",
      	"Virus",
      	"Wasp",
      	"White",
      	"Witch",
      	"Xi",
      	"Zenith",
      	"Zero",
      	"Zeta"
      ]
    ]
  ]
}
