{
	"names" : [
		{ "mode" : "alts" },
		[
			{ "mode" : "serie" },
			[ 
				{ "mode" : "alts" }, 
      	"", 
      	"Acid ", 
      	"Alpha ", 
      	"Angel ",
      	"Beta ", 
      	"Black ",
      	"Blue ", 
      	"Burn ", 
      	"Cataclysm ",
      	"Chaos ",
      	"Chi ", 
      	"Chill ",
      	"Chrome ", 
      	"Control ",
      	"Cool ", 
      	"Crash ", 
      	"Cipher ", 
      	"Deep ",
      	"Delta ",
      	"Devil ",
      	"Doctor ", 
      	"Dolphin ",
      	"Dozer ", 
      	"Easy ",
      	"Epoch ", 
      	"Epsilon ", 
      	"Eta ", 
      	"Falcon ",
      	"Freak ", 
      	"Gamma ", 
      	"Gibson ", 
      	"Gold ", 
      	"Grey ", 
      	"Grim ",
      	"Hex ",
      	"Iota ", 
      	"Johnny ", 
      	"Kappa ", 
      	"Killer ", 
      	"Lambda ",
      	"Lizard ", 
     		"Lord ",
      	"Mnemonic ", 
      	"Molly ", 
      	"Morpheus ", 
      	"Mouse ", 
      	"Mu ", 
      	"Nadir ", 
      	"Neo ", 
      	"Neon ",
      	"Night ", 
      	"Nu ", 
      	"Omega ", 
      	"Omicron ", 
      	"Omni ", 
      	"Oracle ", 
      	"Override ", 
      	"Paradox ", 
      	"Phantom ", 
      	"Phi ", 
      	"Pi ", 
      	"Plague ", 
      	"Posion ",
      	"Proxy ",
      	"Psi ", 
      	"Rat ",
      	"Reaper ",
      	"Red ", 
      	"Rho ", 
      	"Rider ",
      	"Serial ", 
      	"Shock ",
      	"Sigma ", 
      	"Spider ",
      	"Strike ",
      	"Switch ",
      	"Swordfish ", 
      	"System ",
      	"Tank ", 
      	"Tau ", 
      	"The ", 
      	"Theta ", 
      	"Trinity ", 
      	"Upsilon ", 
      	"Virus ", 
      	"Wasp ",
      	"White ",
      	"Xi ", 
      	"Zenith ", 
      	"Zero ", 
      	"Zeta " 
      ],
      [ 
      	{ "mode" : "alts" }, 
      	"Acid", 
      	"Alpha", 
      	"Angel",
      	"Beta", 
      	"Black", 
      	"Blue",
      	"Box",
      	"Burn",
      	"Cataclysm",
      	"Chaos", 
      	"Chi", 
      	"Chill",
      	"Chrome", 
      	"Control",
      	"Cool", 
      	"Crash", 
      	"Cipher", 
      	"Deep",
      	"Delta", 
      	"Devil",
      	"Doctor",
      	"Dolphin",
      	"Dozer", 
      	"Easy",
      	"Epoch", 
      	"Epsilon", 
      	"Eta", 
      	"Falcon",
      	"Freak", 
      	"Gamma ", 
      	"Gibson", 
      	"Gold", 
      	"Grey",
      	"Hex", 
      	"Iota", 
      	"Kappa", 
      	"Killer", 
      	"Lambda",
      	"Lizard",
      	"Lord", 
      	"Millions", 
      	"Mnemonic", 
      	"Morpheus", 
      	"Mouse", 
      	"Mu", 
      	"Nadir", 
      	"Neo", 
      	"Neon",
      	"Night", 
      	"Nu", 
      	"Omega", 
      	"Omicron", 
      	"One", 
      	"Oracle", 
      	"Override", 
      	"Paradox", 
      	"Phantom", 
      	"Phi", 
      	"Pi", 
      	"Plague", 
      	"Poison",
      	"Proxy",
      	"Psi", 
      	"Rat",
      	"Reaper",
      	"Red", 
      	"Rho",
      	"Rider",
      	"Serial", 
      	"Seven", 
      	"Shock",
      	"Sigma", 
      	"Spider",
      	"Strike",
      	"Switch", 
      	"Swordfish", 
      	"System",
      	"Tank", 
      	"Tau", 
      	"Theta", 
      	"Thirteen", 
      	"Trinity", 
      	"Upsilon", 
      	"Virus", 
      	"Wasp",
      	"White", 
      	"Witch",
      	"Xi", 
      	"Zenith", 
      	"Zero", 
      	"Zeta"  
      ]
    ]
  ]
}
