{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Chivii", "Cassius", "Crassus", "Cramm", "Lintulus", "Quint", "Quintus", "Marcus", "Crixus", "Gaulus", "Paulus", "Secundus", "Julii", "Zipii", "Scipii", "Tullie", "Cicero", "Tullius", "Onae", "Onomae", "Varro", "Danii", "Brutii", "Baro", "Aggripa", "Hipicii", "Scandii", "Dencae", "Lucre", "Aemilius", "Oraclii", "Arichni", "Strichnii", "Baselle", "Holus", "Robout", "Antonius", "Blasius", "Cato", "Fabius", "Livius", "Regulus", "Sabinus", "Servius", "Titus", "Vitus", "Dorne" ],
      [ { "mode" : "alts" }, "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", " Billii", " Scipus", " Piscus", " Nassum", " Daelom", " Lindae", " Vintre", " Rintus", " Sintus", " Septus", " Sollus", " Batiatus", " Aurelius", " Lissus", " Pontus", " Quants", " Episco", " Tinae", " Tenebrus", " Marcellus", " Nonus", " Otho", " Olo", " Pompilius", " Tacitus", " Tenebrus", " Baske" ]
    ]
  ]
}
