{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Addison", "Alex", "Alexis", "Aleksei", "Andre", "Angel", "Ashley", "Ashton", "Bailey", "Billy", "Blair", "Byron", "Caden", "Cameron", "Carmen", "Carmine", "Carson", "Cassidy", "Chen", "Charlie", "Chiaki", "Cody", "Corey", "Dakota", "Dallas", "Delaney", "Devon", "Ellery", "Emerson", "Fabian", "Francis", "Georgi", "Hadley", "Harley", "Hayden", "Ira", "Jaden", "Jamie", "Jan", "Jesse", "Jin", "Jude", "Julian", "Kadin", "Kelsey", "Kiley", "Lane", "Lee", "Lindsay", "Lonnie", "Liu", "Lucian", "Mallory", "Montana", "Morgan", "Marley", "Naoko", "Nevada", "Noel", "Orion", "Oleg", "Paris", "Parker", "Payton", "Perry", "Quinn", "Reed", "Rene", "Robin", "Scout", "Shay", "Shelby", "Sonny", "Skylar", "Sunny", "Sydney", "Stormy", "Taylor", "Tory", "Tyler", "Ulf", "Wesley", "Wynne", "Yang", "Yi", "Yuri", "Yury" ]
    ]
  ]
}
