{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ack", "Ap", "Ard", "Am", "Bac", "Brid", "Ciph", "Cal", "Drach", "Dred", "Drul", "Gwyn", "Kael", "Kil", "Mann", "Okt", "Shek", "Trid" ],
      [ { "mode" : "alts" }, "annod", "avus", "avian", "bar", "ber", "gar", "ilory", "mer", "odin", "raad", "vonnis", "vus", "'avel", "'avere", "'jaedon", "'kutsk", "'nyen", "'thas", "'zeer" ]
    ]
  ]
}
