{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Nath", "Alex", "Alph", "Ant", "Nat", "Aqui", "Him", "Mist", "No", "Hiv", "An", "Aug", "Benj", "Bertr", "Christ", "Er", "Fran", "Ger", "Greg", "Guill", "Hon", "Jac", "Jer", "Aga", "Agn", "An", "Neig", "Floc", "Aud", "Anast", "Aur", "Arg", "Noir", "Cath", "Chris", "Eleon", "Genev"],
      [ { "mode" : "alts" }, "an", "andre", "onse", "oine", "lo", "esh", "ral", "elle", "er", "dre", "uste", "amin", "and", "ophe", "ic", "cois", "ard", "oire", "aume", "ore", "ques", "ome", "the", "es", "ais", "on", "e", "a", "o", "ette", "ish", "asie", "elie", "ent", "anc", "erine", "tine", "", "ore", "ieve"]
    ]
  ]
}

