// for Pharitu and Maez

{
	"names": [{
			"mode": "alts"
		},
		[{
				"mode": "serie"
			},
			[{
					"mode": "alts"
				}, "Ju", "M", "T", "N", "K", "D", "L", "Q", "S", "F", "Mae" , "P", "Ma", "Be", "Mcz"
			],
			[{
					"mode": "alts"
				}, "u", "mako", "tris", "maki", "wru", "keth", "kitt", "hhel", "karu", "drev", "kara", "laen", "wen", "dazh", "miza", "sorn", "flaz", "user" , "mexy","wxy" , "har", "'ez", "ld", "enr"
			],
			[{
					"mode": "alts"
				}, "-Zh", "-X", "-Kh", "-Jt" , "-Ch" ,"ache", "x", "", "ehor", "ath"

			]

		]
	]
}