// for Pharitu and Maez

{
	"names": [{
			"mode": "alts"
		},
		[{
				"mode": "serie"
			},
			[{
					"mode": "alts"
				}, "Mmako", "Ttris", "Mmaki", "Nwru", "Kketh", "Kkitt", "Khhel", "Kkaru", "Ddrev", "Kkara", "Llaen", "Qwen", "Ddazh", "Mmiza", "Ssorn", "Fflaz", "Mäuser" , "Smexy","Mwxy"
			],
			[{
					"mode": "alts"
				}, "-Zh", "-X", "-Kh", "-Jt" , "-Ch" ,"ache"

			]

		]
	]
}