// for Pharitu and Maez

{
	"names": [{
			"mode": "alts"
		},
		[{
				"mode": "serie"
			},
			[{
					"mode": "alts"
				}, "Zh", "X", "Kh", "Jt" , "Ch" ,"Mäu"

			],
			[{
					"mode": "alts"
				}, "put", "ayl", "mako", "io", "tris", "zsu", "tog", "ras", "swe", "mei", "maki", "li", "nuru", "shi", "ten", "keth", "kitt", "khel", "karu", "hak", "avi", "ore", "zir", "an", "drev", "ey", "kara", "orm", "ees", "da", "en", "ar", "raw", "nil", "laen", "enc", "quen", "dazh", "er", "cot", "miza", "ras", "sorn", "flaz", "dag", "el" ,"ser" 

			],
			[{
					"mode": "alts"
				}, "zh", "", "kl", "jt" , "c" ,"ache"
			]

		]
	]
}