{
	"names" : [
		{ "mode" : "alts" },
		[
			{ "mode" : "serie" },
			[ 
				{ "mode" : "alts" }, 
      	"", 
      	"Angra ",
		"Atucha ",
		"Belene ",
		"Carem ",
		"Chanjian ",
		"Darliton ",
		"Doel ",
		"Embalse ",
		"Esalam ",
		"Gentilly ",
		"Gray ",
		"Kozloduy ",
		"Lingao ",
		"Metsamor ",
		"Moata ",
		"Nur ",
		"Opalre ",
		"Ostrovets ",
		"Pamir ",
		"Pengze ",
		"Pickerin ",
		"Roentgen ",
		"Ruppur ",
		"Sanmen ",
		"Savar ",
		"Sievert ",
		"Taishan ",
		"Thetis ",
		"Tihange ",
		"Triga ",
		"Venus ",
		"Xiapu ",
		"Zwetendorf ",
		"Fangchenggang ",
		"Fangjiashan ",
		"Fuqing ",
		"Yu ",
		"Haiyang ",
		"Hongyanhe ",
		"Ningde ",
		"Qinshan ",
		"Shidaowan ",
		"Taohuajiang ",
		"Tianwan ",
		"Xianning ",
		"Yangjiang ",
		"Zhangzhou ",
		"Trico ",
		"Bogota ",
		"Juragua ",
		"Dukovany ",
		"Temelin ",
		"Prague ",
		"Rez ",
		"Riso ",
		"Eldabaa ",
		"Eterr ",
		"Paldiski ",
		"Loviisa ",
		"Olkiluoto ",
		"Hanhikivi ",
		"Espoo ",
		"Belleville ",
		"Blayais ",
		"Brennilis ",
		"Bugey ",
		"Cattenom ",
		"Chinon ",
		"Chooz ",
		"Civaux ",
		"Cruas ",
		"Dampierre ",
		"Fessenheim ",
		"Flamanville ",
		"Golfech ",
		"Gravelines ",
		"Marcoule ",
		"Nogent ",
		"Paluel ",
		"Penly ",
		"Saint-Alban ",
		"Saint-Laurent ",
		"Superphenix ",
		"Tricastin ",
		"Plogoff ",
		"Thermos ",
		"Zoe ",
		"Aquilon ",
		"Rubeole ",
		"Melusine ",
		"Proserpine ",
		"Peg ",
		"Alize ",
		"Minerve ",
		"Triton ",
		"Nereide ",
		"Marius ",
		"Ulysse ",
		"Peggy ",
		"Rachel ",
		"Siloe ",
		"Pegase ",
		"Siloette ",
		"Terre ",
		"Pat ",
		"Cesar ",
		"Harmonie ",
		"Osiris ",
		"Strasbourg ",
		"Rus ",
		"Rhapsodie ",
		"Celestin ",
		"Prospero ",
		"Caliban ",
		"Phenix ",
		"Silene ",
		"Cap ",
		"Phebus ",
		"Azur ",
		"Cabri ",
		"Eole ",
		"Masurca ",
		"Orphee "
      ],
      [ 
      	{ "mode" : "alts" }, 
      	"Angra",
		"Atucha",
		"Belene",
		"Carem",
		"Chanjian",
		"Darliton",
		"Doel",
		"Embalse",
		"Esalam",
		"Gentilly",
		"Gray",
		"Kozloduy",
		"Lingao",
		"Metsamor",
		"Moata",
		"Nur",
		"Opalre",
		"Ostrovets",
		"Pamir",
		"Pengze",
		"Pickerin",
		"Roentgen",
		"Ruppur",
		"Sanmen",
		"Savar",
		"Sievert",
		"Taishan",
		"Thetis",
		"Tihange",
		"Triga",
		"Venus",
		"Xiapu",
		"Zwetendorf",
		"Fangchenggang",
		"Fangjiashan",
		"Fuqing",
		"Yu",
		"Haiyang",
		"Hongyanhe",
		"Ningde",
		"Qinshan",
		"Shidaowan",
		"Taohuajiang",
		"Tianwan",
		"Xianning",
		"Yangjiang",
		"Zhangzhou",
		"Trico",
		"Bogota",
		"Juragua",
		"Dukovany",
		"Temelin",
		"Prague",
		"Rez",
		"Riso",
		"Eldabaa",
		"Eterr",
		"Paldiski",
		"Loviisa",
		"Olkiluoto",
		"Hanhikivi",
		"Espoo",
		"Belleville",
		"Blayais",
		"Brennilis",
		"Bugey",
		"Cattenom",
		"Chinon",
		"Chooz",
		"Civaux",
		"Cruas",
		"Dampierre",
		"Fessenheim",
		"Flamanville",
		"Golfech",
		"Gravelines",
		"Marcoule",
		"Nogent",
		"Paluel",
		"Penly",
		"Saint-Alban",
		"Saint-Laurent",
		"Superphenix",
		"Tricastin",
		"Plogoff",
		"Thermos",
		"Zoe",
		"Aquilon",
		"Rubeole",
		"Melusine",
		"Proserpine",
		"Peg",
		"Alize",
		"Minerve",
		"Triton",
		"Nereide",
		"Marius",
		"Ulysse",
		"Peggy",
		"Rachel",
		"Siloe",
		"Pegase",
		"Siloette",
		"Terre",
		"Pat",
		"Cesar",
		"Harmonie",
		"Osiris",
		"Strasbourg",
		"Rus",
		"Rhapsodie",
		"Celestin",
		"Prospero",
		"Caliban",
		"Phenix",
		"Silene",
		"Cap",
		"Phebus",
		"Azur",
		"Cabri",
		"Eole",
		"Masurca",
		"Orphee"

      ]
    ]
  ]
}
