{
	"names" : [
		{ "mode" : "alts" },
		[
			{ "mode" : "serie" },
			[
				{ "mode" : "alts" },
      	"",
      "Veilar",
      "Shadea",
      "Voidin",
      "Umbral",
      "Umbra",
      "Teneb",
      "Umber",
      "Penum",
      "Penumbra",
      "Penumbral",
      "Vyal",
      "Sorgus",
      "Inten",
      "Loor",
      "Basha",
      "Nyanot",
      "Shaderit",
      "No-Light",
      "Dave",
      "Obscuros",
      "Sombra",
      "Visha",
      "Kylea",
      "Gantzi",
      "Irrelia",
      "Nimk",
      "Della",
      "Myam",
      "Lillit",
      "Fattra",
      "Rell",
      "Kylos",
      "Vertexa",
      "Azral",
      "Baer",
      "Tisha",
      "Rew",
      "Pol",
      "Loa",
      "Vae",
      "Vorg",
      "Jullin",
      "Balfrey",
      "Sinnra"
      ],
      [
      	{ "mode" : "alts" },
      " Tenebris",
      " Veilwalker",
      " Shadowhunter",
      " Lightkiller",
      " Holdra",
      " Shadefriend",
      " Jeffas",
      " Sashat",
      " Iulli",
      " Podunkus",
      " Kilvroy",
      " Freyat",
      " Yeltzor",
      " Opinaga",
      " Kin-killer",
      " Loremaker",
      " Loreteller",
      " Taleswapper",
      " Malignus",
      " Inconnu",
      " Telishat",
      " Porg",
      " Quantus",
      " Dormo",
      " Jex",
      " Deedalat",
      " Shadowend",
      " Shadesmar",
      " Cryptic",
      " Brinksetter",
      " Voidsearcher",
      " Umbra",
      " Occultus",
      " Eclipse",
      " Eclipsis",
      " Shadekin"
      ]
    ]
  ]
}
