{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ah'Kima", "Bah'Lehra", "Cris'Ta", "Daph'Tara", "Ehmi'Liha", "Fah'Tama", "Gah'Lama", "Hih'Nah", "Ihn'Dra", "Jeril'Hae", "Kah'Mara", "Lah'Mira", "Mah'Nera", "Nes'Mana", "Ohs'Tara", "Pal'Mah", "Ras'Tina", "Sam'Tha", "Thel'Mara", "Val'Taya", "Zah'Leia" ]
    ]
  ]
}
