{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ah", "Bah", "Cris", "Daph", "Ehmi", "Fah", "Gah", "Hih", "Ihn", "Jeril", "Kah", "Lah", "Mah", "Nes", "Ohs", "Pal", "Ras", "Sam", "Thel", "Val", "Zah" ],
      [ { "mode" : "alts" },
      	"'Dra",
      	"'Guna",
		"'Hae",
      	"'Kima",
      	"'Lama",
      	"'Lehra","'Leia",
      	"'Liha",
		"'Mah",
		"'Mana",
		"'Mara",
      	"'Mira",
      	"'Nah",
      	"'Nera",
      	"'Ta",
      	"'Tama",
      	"'Tara",
      	"'Tava",
		"'Taya",
		"'Tha",
      	"'Tina",
      	"'Wara" ]
    ]
  ]
}
