{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "As'ther", "Ahr'Zhu", "Bah'Lur", "Cre'Tah", "Dim'Tri", "Era'Zul", "Fas'Kah", "Gal'Tah", "Her'Lur", "In'Zah", "Jant'Ehr", "Klar'Enz", "Lee'Tah", "Luhr'Zah", "Mer'Tah", "Pahr'Lu", "Rehd'Yahl", "Stan'Kley", "Ther'Mun", "Vas'Tago", "Zah'Kal"    ]
    ]
  ]
}
