{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "As", "Ahr", "Bah", "Cre", "Dim", "Era", "Fas", "Gal", "Her", "In", "Jant", "Klar", "Lee", "Luhr", "Mer", "Pahr", "Rehd", "Ro-ald", "Stan", "Ther", "Vas", "Zah"  ],
      [ { "mode" : "alts" }, "'Dahl","'Ehr","'Enz",    "'Kah", "'Kal","'Kley","'Lu", "'Lur",  "'Mun", "'Tago", "'Tah","'Ther", "'Tri", "'Yahl", "'Zah","'Zhu", "'Zul" ]
    ]
  ]
}
