{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" },
"Akrō", "Ammu", "Pētte", "Pilli", "Plū", "Pāstan", "Prōnkō", "Nātu", "Cettas", "Kulōrō", "Tīyci", "Hparāti", "Teycinō", "Tōminō", "Trō", "Jeti", "Kāti", "Kerō", "Jikcā", "Hītā", "Haitrō", "Intikō",
			"Lakki", "Lerti", "Liyō", "Mettā", "Milli", "Nāptā", "Mettō", "Percē", "Aknēnē", "Smōkki", "Cōni", "Urcā", "Stairē", "Vippi", "Kāttu", "Velli", "Civappu", "Karuppu", "Vellai", "Tic", "Paccai", "Rājā", "Iravu", "Piranta", "Makilcci", "Cūriyan", "Puli", "Kutirai", "Eli", "Māttu", "Nāy", "Kuranku", "Pāmpu", "Atu", "Panri", "Kōli", "Cutti", "Pulūttō", "Cani", "Cevvāy", "Pataraca", "Cai",
			"Chue", "Tswb", "Kub", "Xyoob", "Huab", "Tub", "Ci", "Etic", "Kee", "Fuechy"


 ],[{
					"mode": "alts"
				}, "",


				"-ak",

				"-cēt",

				"-es",

				"-foom", "-fwam",

				"-gwam",

				"-hawj", "-hmoov",

				"-kaus", "-kit", "-klām", "-klānt", "-kraim",

				"-leks", "-lis", "-luk",

				"-meej", "-meng", "-muas",

				"-naag", "-nāl", "-nhia", "-nruag",

				"-pak", "-plast", "-pob", "-pul",

				"-rwg",

				"-skait", "-svaik", "-slān",

				"-taiys", "-terts", "-tiks", "-tīl", "-tooj", "-tsuas",

				"-uk",

				"-vis",

				"-wang",

				"-yeej",

				"-zoov", ""
			]
    ]
  ]
}
