{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Alluvia", "Alura", "Azure", "Azuris", "Blujoo", "Brine", "Dew", "Drizzle", "Flo", "Flora", "Gloo", "Glysn", "Guu", "Kii", "Mii", "Mire", "Misty", "Monse", "Myrrh", "Niru", "Phylia", "Poole", "Rayne", "Salis", "Scylla", "Trill", "Vi", "Xana" ]
    ]
  ]
}
