{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Azure", "Azuris", "Bob", "Blujoo", "Brine", "Draff", "Fluvis", "Geysis", "Gloo", "Guu", "Limus", "Mar", "Marsh", "Mire", "Monse", "Moss", "Poole", "Rivule", "Salis", "Scuz", "Sully", "Tsunis" ]
    ]
  ]
}
