{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" },
 "Alang", "Viyalan", "Tōtōn", "Tavun", "Luk", "Tast", "Hūmaim", "Heptan", "Hīliyam", "Hapiyam", "Amil", "Ak", "Arkōn", "Aksas", "Acen", "Acūr", "Muyal", "Foom", "Ninēn", "Nīlam", "Taiys", "Eriks", "Ittēn", "Etaik", "Ettiyal", "Kurōm", "Tīcal", "Ticais", "Tiks", "Ticail", "Tītil", "Pul", "Raitar", "Rēvan", "Rēcar", "Rēnar", "Rēcar", "Skait", "Cēt", "Nilal", "Cilvar", "Terts", "Vāran", "Mañcal", "Tirākan", "Katal", "Mēkam", "Nāl", "Yurenas", "Neptiyūn", "Naag", "Cenān", "Tuttanākam", "Cōlan", "Mettan", "Plas", "Hekrōn", "Letar", "Leks", "Svaik", "Slān", "Tarkat", "Tīl",
			"Fwam", "Pak", "Pullat",
			"Kraim", "Krimcan", "Klānt", "Klām", "Kōpālt", "Kit", "Ayan", "Cantiran", "Paittiyam",
			"Hawj",
			"Kaus",
			"Koob",

			"Lis",
			"Muas",
			"Nhia",
			"Nruag",
			"Pob",
			"Rwg",
			"Tooj",

			"Wang",

			"Yeej",
			"Zoov",
			"Ēs", "Akrēl"
 ],

		[ { "mode" : "alts" }, "",

// A
			"-ak"
,
//C
 			"-cēt"
,
// E
			"-es"
,
// F
			"-foom","-fwam"
,
//G
			"-gwam"
,
//H
			"-hawj","-hmoov"
,
// K
			"-kaus","-kit","-klām","-klānt","-kraim"
,
// L
			"-leks", "-lis", "-luk"
,
// M
			"-meej","-meng","-muas"
,
// N
			"-naag","-nāl","-nhia","-nruag"
,
// P
			"-pak", "-plast","-pob","-pul"
,
// R
			"-rwg"
,
// S
			"-skait","-svaik", "-slān"
,
// T
			"-taiys", "-terts", "-tiks","-tīl","-tooj", "-tsuas"
,
// U
			"-uk"
,
// V
			 "-vis"
,
// W
			"-wang"
,
// Y
			"-yeej"
,
// Z
			"-zoov"
, ""
 ]


    ]
  ]
}
