{
  // Configuration data for the humanoid renderer.  All values in pixels.

  // Offset applied to all pieces.  Half a pixel up to correct for the humanoid
  // frames being an odd number of pixels, so the bottom of the collision poly
  // would otherwise be not at a whole pixel boundary.
  "globalOffset" : [0.0, 0.5],

  "headRunOffset" : [1, 0],
  "headSwimOffset" : [1, 0],

  // Offset for hair and chest when running or falling
  "runFallOffset" : 1,
  // Offset for hair and chest when ducking
  "duckOffset" : -8,
  "headDuckOffset" : [1, 0],

  "sitOffset" : -1,
  "layOffset" : -1,
  "headSitOffset" : [0, 0],
  "headLayOffset" : [0, -1],

  "recoilOffset" : [-1, 0],

  // Walking sequence for front and back arms
  "armWalkSeq" : [2, 1, 2, 3, 4, 5, 4, 3],
  "armRunSeq" : [2, 1, 2, 3, 4, 5, 4, 3],

  // Used for bobbing hair, chest armor, and center of rotation.
  "walkBob" : [-1, -2, -1, 0, -1, -2, -1, 0],
  "runBob" : [-1, 0, -1, -2, -1, 0, -1, -2],
  "jumpBob" : 1,

  "swimBob" : [0, -1, -2, -1, 0, 0, 0],

  "frontArmRotationCenter" : [-3, -1],
  "backArmRotationCenter" : [-2, 0],
  // The anchor for items held in the front hand
  "frontHandPosition" : [8, -3],

  // The pixel difference between the front and back arms, all data for the
  // back arm is calculated by adding this offset to the front arm values.
  "backArmOffset" : [3, 0],

  "mouthOffset" : [0, 3],
  "feetOffset" : [0, -20],

  "headArmorOffset" : [0, 3],
  "chestArmorOffset" : [0, -2],
  "backArmorOffset" : [-6, -2],
  "legsArmorOffset" : [0, -12],

  "vaporTrailFrames" : 8,
  "vaporTrailCycle" : 0.5,

  "deathParticles": "deathPoof",
  "particleEmitters": {
    "deathPoof" : {
      "particles" : [
        {
          "particle" : {
            "type" : "animated",
            "animation" : "/animations/slimepersondeath/slimepersondeath.animation",
            "size" : 1,
            "angularVelocity" : 0,
            "fade" : 1,
            "destructionTime" : 1,
            "position" : [0, 0],
            "initialVelocity" : [0, 0],
            "finalVelocity" : [0, 0],
            "approach" : [1, 1],
            "timeToLive" : 1.0,
            "layer" : "middle"
          }
        }
      ]
    }
  },

  "humanoidTiming" : {
    // Idle, Walk, Run, Jump, Fall, Swim, SwimIdle, Duck, Sit, Lay
    "stateCycle" : [1.0, 0.75, 0.75, 0.25, 0.25, 0.50, 0.50, 1.0, 1.0, 1.0],
    "stateFrames" : [1, 8, 8, 4, 4, 7, 2, 1, 1, 1],

    // EmoteIdle, Blabbering, Shouting, Happy, Sad, NEUTRAL, Laugh, Annoyed, Oh, OOOH, Blink, Wink Eat Sleep
    //          , normal    , caps    , :)   , :'(, :|     , :D   ,        , :o, :O  ,      , ;)
    "emoteCycle" : [1.0, 0.3, 0.3, 0.3, 1.0, 0.3, 0.5, 1.0, 1.0, 1.0, 1.0, 0.5, 0.3, 1.0],
    "emoteFrames" : [1, 2, 2, 2, 5, 2, 2, 2, 2, 3, 3, 5, 2, 2]
  },

  "personalities" : [
    [ "idle.1", "idle.1", [0, 0], [0, 0] ], //standard
    [ "idle.2", "idle.2", [-1, 0], [0, 0] ], //confident
    [ "idle.3", "idle.3", [-1, 0], [0, 0] ], //gunslinger
    [ "idle.4", "idle.4", [-1, 0], [0, 0] ], //heroic
    [ "idle.5", "idle.5", [0, 0], [0, 0] ], //scared
    [ "idle.2", "idle.5", [-1, 0], [0, 0] ], //wonderful
    [ "idle.4", "idle.3", [-1, 0], [1, 0] ], //prepared
    [ "idle.5", "idle.2", [0, 0], [0, 0] ], //fabulous
    [ "idle.4", "idle.1", [0, 0], [0, 0] ], //stoic
    [ "idle.5", "idle.3", [0, 0], [2, 0] ] //nervous
  ],

  "movementParameters" : {
    "standingPoly" : [ [-0.75, -2.0], [-0.35, -2.5], [0.35, -2.5], [0.75, -2.0], [0.75, 0.65], [0.35, 1.22], [-0.35, 1.22], [-0.75, 0.65] ],
    "crouchingPoly" : [ [-0.75, -2.0], [-0.35, -2.5], [0.35, -2.5], [0.75, -2.0], [0.75, -1], [0.35, -0.5], [-0.35, -0.5], [-0.75, -1] ],
    "mass" : 1.6,

    // should keep the player from teleporting through walls
    "maximumCorrection" : 3,
    "maxMovementPerStep" : 0.4,

    "liquidFriction" : 13.0,
    "normalGroundFriction" : 35.0,

    "groundForce" : 250.0,
    "airForce" : 50.0,
    "liquidForce" : 80.0
  }
}