{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Acid ", 
      	"Alpha ", 
      	"Angel ",
      	"Beta ", 
      	"Black ",
      	"Blue ", 
      	"Burn ", 
      	"Cataclysm ",
      	"Chaos ",
      	"Chi ", 
      	"Chill ",
      	"Chrome ", 
      	"Control ",
      	"Cool ", 
      	"Crash ", 
      	"Cipher ", 
      	"Deep ",
      	"Delta ",
      	"Devil ",
      	"Doctor ", 
      	"Dolphin ",
      	"Dozer ", 
      	"Easy ",
      	"Epoch ", 
      	"Epsilon ", 
      	"Eta ", 
      	"Falcon ",
      	"Freak ", 
      	"Gamma ", 
      	"Gibson ", 
      	"Gold ", 
      	"Grey ", 
      	"Grim ",
      	"Hex ",
      	"Iota ", 
      	"Johnny ", 
      	"Kappa ", 
      	"Killer ", 
      	"Lambda ",
      	"Lizard ", 
     		"Lord ",
      	"Mnemonic ", 
      	"Molly ", 
      	"Morpheus ", 
      	"Mouse ", 
      	"Mu ", 
      	"Nadir ", 
      	"Neo ", 
      	"Neon ",
      	"Night ", 
      	"Nu ", 
      	"Omega ", 
      	"Omicron ", 
      	"Omni ", 
      	"Oracle ", 
      	"Override ", 
      	"Paradox ", 
      	"Phantom ", 
      	"Phi ", 
      	"Pi ", 
      	"Plague ", 
      	"Posion ",
      	"Proxy ",
      	"Psi ", 
      	"Rat ",
      	"Reaper ",
      	"Red ", 
      	"Rho ", 
      	"Rider ",
      	"Serial ", 
      	"Shock ",
      	"Sigma ", 
      	"Spider ",
      	"Strike ",
      	"Switch ",
      	"Swordfish ", 
      	"System ",
      	"Tank ", 
      	"Tau ", 
      	"The ", 
      	"Theta ", 
      	"Trinity ", 
      	"Upsilon ", 
      	"Virus ", 
      	"Wasp ",
      	"White ",
      	"Xi ", 
      	"Zenith ", 
      	"Zero ", 
      	"Zeta "  ],
      [ { "mode" : "alts" }, " Billii", " Scipus", " Piscus", " Nassum", " Daelom", " Lindae", " Vintre", " Rintus", " Sintus", " Septus", " Sollus", " Batiatus", " Aurelius", " Lissus", " Pontus", " Quants", " Episco", " Tinae", " Tenebrus", " Marcellus", " Nonus", " Otho", " Olo", " Pompilius", " Tacitus", " Tenebrus", " Baske" ]
    ]
  ]
}
