{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, 
        "Dorg ", "Dall ", "Ashi ", "Ava ", "Bal-","Blik-","Ceta ","Cail ","Da ","Dava ","Dannb","Exa-","Elorr-","Frek ","Gyu ","Gikka-gik ","Frem ", "Harg ","Halith ","Ikenz ","Il ","Il-","Jik ","Jikka ","Kilrax ","Kyla ","Norannx ","Shelvor-Nox ","Noc ","Lok-","Metissak ","Morg ","Nintik ","Opa ","Ova ","Pont ","Plyet ", "Qu ","Qyik ","Revvak ","Rika ","Stuk ","Salor ","Tim ","Tak ","Tyu ","Torgum ","Uiolk ", "Zax ","Zax-" ],
      [ { "mode" : "alts" }, " Gor", " Nonk", " Hlat", " Vatorr", " Jik", " Ja", " Fel", " Radi", " Bulka", " Rek", " Sev", " Akie", " Poe", " Ky", " Blad", " Vulk", " Qua", " In-Ki", " Norgi-Tu", " Fonz", " Harr", " Cek", " Xal", " Zena", " Poi", " Tash", " Blut" ]
    ]
  ]
}
