{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" },
        "Al","Alu","Anu","Bin","Bya","Bul","Bha","Ca","Cal","Cav","Akh","Khafs","Hakor","Dor-","Arakh","Ikag","Jri","Kil","Kalhra","Kabaka","Lerkath","Mak'tar","Nar","Pakl","Skabak","Skal","Ska-","Shas","Skash","Tuh","Tuhaga","Zu","Huma","Zerk","Xarra","Xar","Xax","Va","Nui","Lilaa","Loprek","Aahmas","Buto","Hiteq","Ro","Tauau","Hehet","Shadya","Bab","Narrak","Ka" ],
      [ { "mode" : "alts" }, "durm","-ku-durm","ka","-Ka","ha","-ha","-Ha","-Na","na","-jararak","ja","ilyat","-twabet-shi-nyet","vie","twab","hathor","-hathor-il-upti","upti","mhet","vhet","shett","-Yil","mout","au","atau","maj","-Maj","lillila","poharat","-Porat","ilka","khu","-Khu","pei","hei","lei","nei","yat","hat","rat","khet","aktehk","serah","-Hor","amen","-Amit","tuurak","-Tur","hashtu","-Ki-ret-ki","rut-Amed","ka-tilka","nyek-ilfrik","sinit"]
    ]
  ]
}
