{
	"gui" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/chests/chestheader.png",
			"fileBody" : "/interface/chests/slots1to16.png",
			"fileFooter" : "/interface/chests/chestfooter.png"
		},
		"objectImage" : {
			"type" : "image",
			"position" : [39, 79],
			"file" : "",
			"centered" : true,
			"maxSize" : [40, 40],
			"minSize" : [40, 40]
		},
		"itemGrid" : {
			"type" : "itemgrid",
			"position" : [81, 32],
			"dimensions" : [4, 4],
			"spacing" : [19, 19],
			"backingImage" : "/interface/inventory/empty.png"
		},
		"dragDrop" : {
			"type" : "label",
			"value" : "Drag&Pour",
			"hAnchor" : "mid",
			"position" : [40, 37]
		},
		"count" : {
			"type" : "label",
			"value" : "1 SLOT",
			"hAnchor" : "mid",
			"position" : [120, 109]
		},
		"overlay" : {
			"type" : "image",
			"file" : "/interface/chests/shine1to16.png",
			"position" : [0, 0]
		}
	}
}
