{
  "action" : "actions",
  "list" : [
    {
      "action" : "explosion",
      "foregroundRadius" : 3,
      "backgroundRadius" : 2,
      "explosiveDamageAmount" : 5.5,
      "delaySteps" : 2
    },
	{
      "action" : "sound",
      "options" : [ "/sfx/gun/rocketblast1.ogg", "/sfx/gun/rocketblast2.ogg", "/sfx/gun/rocketblast3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.16,
      "type" : "hellfireexplosion"
    },
    {
      "action" : "loop",
      "count" : 4,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "animation" : "/animations/smoke/smoke.animation",
                "size" : 1.0,
                "rotation" : 0.14,
                "timeToLive" : 10.6
              }
            }
          ]
        }
      ]
    },
	{
      "action" : "loop",
      "count" : 6,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "animation" : "/animations/magmacannon_blast/isn_magmacannonblast.animation",
                "size" : 5.0,
                "initial" : "drift",
                "rotation" : 0,
                "timeToLive" : 0.4
              }
            }
          ]
        }
      ]
    }
  ]
}
