{
  "itemMapPowder" : {
    "retexaetherdust" : {
      "fu_carbon" : ["uncommon",3],
      "biospore" : ["rarest",3],
      "liquidaether" : ["uncommon",3],
      "cellmatter" : ["rarest",3],
      "fu_nitrogen" : ["rare",3],
      "algaegreen" : ["common",3],
      "fu_hydrogen" : ["rare",3],
      "fu_salt" : ["rare",3],
      "berliniteore" : ["rarest",3],
      "fuscienceresource" : ["common",2],
      "ironore" : ["uncommon",3]
    },
    "coral2material" : {
      "bone" : ["common",3],
      "coralfragment" : ["common",3],
      "fuscienceresource" : ["uncommon",1],
      "calciumnitrate" : ["rarest",2],
      "fu_salt" : ["common",3],
      "cobblestonematerial" : ["rarest",2],
      "cellmatter" : ["rare",1]
    },
    "coralmaterial" : {
      "bone" : ["common",3],
      "coralfragment" : ["common",3],
      "calciumnitrate" : ["rarest",2],
      "fu_salt" : ["common",3],
      "cobblestonematerial" : ["rarest",2],
      "cellmatter" : ["rare",1],
      "fuscienceresource" : ["uncommon",1]
    },
    "glasssandmaterial" : {
      "biospore" : ["rarest",3],
      "lead" : ["rarest",3],
      "glass" : ["uncommon",3],
      "fu_nitrogen" : ["rare",3],
      "calciumnitrate" : ["rare",3],
      "fuscienceresource" : ["common",1],
      "sand2" : ["uncommon",3],
      "sand" : ["common",3],
      "ff_silicon" : ["rare",3],
      "liquidoil" : ["uncommon",3]
    },
    "ash" : {
      "corefragmentore" : ["uncommon",3],
      "fu_carbon" : ["rare",3],
      "coalore" : ["common",2],
      "tungstenore" : ["rare",3],
      "ironore" : ["uncommon",3],
      "diamond" : ["rarest",3],
      "fu_nitrogen" : ["rarest",3],
      "fu_hydrogen" : ["rare",3],
      "fu_salt" : ["rarest",3],
      "fuscienceresource" : ["common",2],
      "copperore" : ["uncommon",3]
    },
    "drysand" : {
      "biospore" : ["rarest",3],
      "lead" : ["rarest",3],
      "fu_nitrogen" : ["rare",3],
      "fuscienceresource" : ["common",2],
      "fu_salt" : ["rare",3],
      "sand2" : ["uncommon",2],
      "sand" : ["common",2],
      "ff_silicon" : ["rare",3],
      "liquidoil" : ["uncommon",2]
    },
    "bonemealmaterial" : {
      "biospore" : ["rarest",2],
      "bone" : ["common",2],
      "lead" : ["rarest",2],
      "liquidblood" : ["uncommon",3],
      "fu_nitrogen" : ["rare",3],
      "fuscienceresource" : ["common",2],
      "fu_salt" : ["rare",3],
      "sand2" : ["uncommon",3],
      "cellmatter" : ["rare",3],
      "liquidoil" : ["uncommon",3]
    },
    "biogravelmaterial" : {
      "lead" : ["uncommon",2],
      "liquidoil" : ["uncommon",2],
      "fuscienceresource" : ["common",1],
      "calciumnitrate" : ["rarest",3],
      "fu_salt" : ["rare",3],
      "corruptionore" : ["rarest",3],
      "cellmatter" : ["rare",3],
      "sulphur" : ["rare",3],
      "vialproto" : ["rarest",3]
    },
    "sulphurdirtmaterial" : {
      "cinnabarore" : ["common",3],
      "ironore" : ["rare",3],
      "lead" : ["common",3],
      "copperore" : ["uncommon",3],
      "fuscienceresource" : ["uncommon",3],
      "sulphur" : ["common",3],
      "fu_nitrogen" : ["rare",3],
      "liquidsulphuricacid" : ["uncommon",3],
      "ff_silicon" : ["rare",3]
    },
    "moondust" : {
      "moondust" : ["common",3],
      "lead" : ["rarest",3],
      "glass" : ["rare",3],
      "fu_nitrogen" : ["rare",3],
      "solidfuel" : ["common",3],
      "fu_hydrogen" : ["uncommon",3],
      "liquidfuel" : ["uncommon",3],
      "fuscienceresource" : ["common",3],
      "liquidoil" : ["uncommon",3],
      "helium3gasliquid" : ["rarest",3],
      "ff_silicon" : ["rare",3]
    },
    "steelashmaterial" : {
      "biospore" : ["rarest",3],
      "tungstenore" : ["rare",3],
      "lead" : ["rarest",3],
      "fu_nitrogen" : ["rare",3],
      "fuscienceresource" : ["common",2],
      "sand2" : ["uncommon",2],
      "sand" : ["common",2],
      "ff_silicon" : ["rare",3],
      "liquidoil" : ["uncommon",2]
    },
    "crystalsandmaterial" : {
      "biospore" : ["rarest",3],
      "lead" : ["rarest",3],
      "crystal" : ["uncommon",3],
      "fu_nitrogen" : ["rare",3],
      "calciumnitrate" : ["rare",3],
      "fuscienceresource" : ["common",2],
      "sand2" : ["uncommon",3],
      "sand" : ["common",2],
      "ff_silicon" : ["rare",3],
      "liquidoil" : ["uncommon",3]
    },
    "ff_spareparts" : {
      "cpu" : ["rarest",1],
      "ironore" : ["common",3],
      "tungstenore" : ["common",3],
      "copperore" : ["common",3],
      "laserdiode" : ["rare",2],
      "siliconboard" : ["rare",2],
      "silverore" : ["uncommon",3],
      "stickofram" : ["uncommon",3],
      "goldore" : ["uncommon",3]
    },
    "sand" : {
      "iodine" : ["common",2],
      "biospore" : ["rarest",3],
      "lead" : ["rarest",3],
      "fu_nitrogen" : ["rare",3],
      "volatilepowder" : ["rare",3],
      "sand2" : ["uncommon",2],
      "fuscienceresource" : ["common",2],
      "ff_silicon" : ["rare",3],
      "liquidoil" : ["uncommon",2]
    },
    "rainbowsandmaterial" : {
      "biospore" : ["rarest",3],
      "lead" : ["rarest",3],
      "rainbowsandmaterial" : ["common",3],
      "fu_nitrogen" : ["rare",3],
      "calciumnitrate" : ["rare",3],
      "fuscienceresource" : ["common",3],
      "sand" : ["common",3],
      "sand2" : ["uncommon",2],
      "ff_silicon" : ["rare",3],
      "liquidoil" : ["uncommon",2]
    },
    "dirtmaterial" : {
      "petalblue" : ["rare",3],
      "petalred" : ["rare",3],
      "ironore" : ["rarest",3],
      "lead" : ["rarest",3],
      "copperore" : ["rarest",3],
      "petalyellow" : ["rare",3],
      "fu_salt" : ["uncommon",1],
      "sand" : ["common",3],
      "fuscienceresource" : ["common",3],
      "liquidwater" : ["common",3]
    },
    "frozensandmaterial" : {
      "ice" : ["common",2],
      "icecrystal" : ["rarest",3],
      "sand" : ["rarest",3],
      "crystal" : ["rarest",3],
      "fu_nitrogen" : ["rare",3],
      "fuscienceresource" : ["common",2],
      "fu_salt" : ["rare",3],
      "cellmatter" : ["rare",3],
      "sulphur" : ["uncommon",2],
      "liquidoil" : ["uncommon",2]
    },
    "steelsand" : {
      "biospore" : ["rarest",3],
      "tungstenore" : ["rare",3],
      "lead" : ["rarest",3],
      "fu_nitrogen" : ["rare",3],
      "fuscienceresource" : ["common",2],
      "sand2" : ["uncommon",2],
      "sand" : ["common",2],
      "ff_silicon" : ["rare",3],
      "liquidoil" : ["uncommon",2]
    },
    "sand2" : {
      "biospore" : ["rarest",3],
      "lead" : ["rarest",3],
      "fuscienceresource" : ["common",2],
      "fu_nitrogen" : ["rare",3],
      "fu_salt" : ["rare",3],
      "sand2" : ["uncommon",2],
      "sand" : ["common",2],
      "ff_silicon" : ["rare",3],
      "liquidoil" : ["uncommon",2]
    },
    "gravelmaterial" : {
      "lazuliteore" : ["rarest",3],
      "magnesiumore" : ["rare",3],
      "asphalt" : ["common",3],
      "fuscienceresource" : ["common",3],
      "cobblestonematerial" : ["common",3],
      "fu_salt" : ["uncommon",2],
      "liquidoil" : ["uncommon",2],
      "lead" : ["rarest",3],
      "sulphur" : ["rare",3],
      "ff_silicon" : ["rare",3]
    },
    "redsand" : {
      "biospore" : ["rarest",3],
      "fuscienceresource" : ["common",2],
      "lead" : ["rarest",3],
      "fu_nitrogen" : ["rare",3],
      "volatilepowder" : ["uncommon",2],
      "fu_salt" : ["rare",3],
      "sand2" : ["uncommon",2],
      "sand" : ["common",2],
      "ff_silicon" : ["rare",3],
      "liquidoil" : ["rarest",3]
    }
  },
  "itemMapFarm" : {
    "milk" : {
      "cheese" : ["common",1]
    },
    "liquidwater" : {
      "fu_hydrogen" : ["normal",2],
      "liquidwastewater" : ["common",1],
      "fu_oxygen" : ["normal",2]
    }
  },
  "itemMapLiquids" : {
    "liquidwastewater" : {
      "fuscienceresource" : ["common",1],
      "liquidwater" : ["rare",1]
    },
    "liquidorganicsoup" : {
      "fuscienceresource" : ["common",2],
      "liquidwastewater" : ["common",2]
    },
    "liquidelderfluid" : {
      "aliencompound" : ["uncommon",1],
      "fuscienceresource" : ["common",3],
      "liquidwastewater" : ["common",2],
      "plutoniumore" : ["common",2]
    },
    "liquidcrystal" : {
      "essence" : ["rarest",2],
      "crystal" : ["common",1],
      "aliencompound" : ["rarest",2]
    },
    "liquidalienjuice" : {
      "fuscienceresource" : ["common",3],
      "liquidwastewater" : ["common",3],
      "ff_silicon" : ["common",3]
    },
    "liquidaether" : {
      "essence" : ["rarest",2],
      "fu_carbon" : ["common",2],
      "fu_hydrogen" : ["common",2],
      "aliencompound" : ["rarest",2],
      "vialproto" : ["rare",1]
    },
    "helium3gasliquid" : {
      "liquiddeuterium" : ["rarest",2],
      "fu_hydrogen" : ["common",1],
      "tritium" : ["rarest",2]
    },
    "liquidpus" : {
      "fuscienceresource" : ["common",2],
      "liquidbioooze" : ["common",2]
    },
    "liquidironfu" : {
      "ironore" : ["common",1],
      "fu_carbon" : ["rare",1],
      "liquidoil" : ["uncommon",1]
    },
    "liquidhealing" : {
      "fu_oxygen" : ["normal",1],
      "liquidwastewater" : ["common",1],
      "ff_silicon" : ["uncommon",1]
    },
    "liquidpoison" : {
      "fu_carbon" : ["normal",1],
      "liquidwastewater" : ["common",2],
      "toxicwaste" : ["common",2]
    },
    "liquidwater" : {
      "deuterium" : ["rarest",1],
      "fu_hydrogen" : ["normal",2],
      "liquidwastewater" : ["common",1],
      "fu_oxygen" : ["normal",2]
    },
    "liquiddarkwater" : {
      "liquidpoison" : ["common",3],
      "fuscienceresource" : ["common",2],
      "liquidwastewater" : ["common",2]
    },
    "liquidblacktar" : {
      "fu_carbon" : ["common",3],
      "liquidwastewater" : ["common",3],
      "liquidoil" : ["common",3]
    },
    "liquidnitrogenitem" : {
      "fu_nitrogen" : ["common",3],
      "liquidwastewater" : ["common",3],
      "icecrystal" : ["rare",1]
    },
    "liquidoil" : {
      "fu_carbon" : ["common",3],
      "liquidwastewater" : ["common",3],
      "coalore" : ["common",3]
    },
    "liquidorangegravrain" : {
      "ff_silicon" : ["uncommon",3],
      "sulphur" : ["uncommon",3],
      "liquidwastewater" : ["common",3],
      "fuscienceresource" : ["uncommon",3]
    },
    "shadowgasliquid" : {
      "fu_nitrogen" : ["common",1],
      "liquidelderfluid" : ["rarest",2],
      "essence" : ["rarest",2]
    },
    "fu_liquidhoney" : {
      "liquidwastewater" : ["common",2],
      "fuscienceresource" : ["common",2],
      "fuamberchunk" : ["rare",1]
    },
    "liquidbeer" : {
      "money" : ["common",1]
    },
    "liquidgravrain" : {
      "ff_silicon" : ["uncommon",3],
      "sulphur" : ["uncommon",3],
      "liquidwastewater" : ["common",3],
      "fuscienceresource" : ["uncommon",3]
    },
    "liquidbioooze" : {
      "liquidpoison" : ["common",3],
      "liquidwastewater" : ["common",3],
      "ff_silicon" : ["common",3]
    },
    "liquidslime" : {
      "greenslime" : ["common",2],
      "liquidwastewater" : ["common",2],
      "endomorphicjelly" : ["uncommon",1]
    },
    "swampwater" : {
      "fuscienceresource" : ["common",3],
      "liquidwater" : ["common",3],
      "algaegreen" : ["common",3]
    },
    "liquidirradium" : {
      "fu_nitrogen" : ["common",2],
      "sulphur" : ["common",2],
      "irradiumore" : ["rare",1]
    },
    "liquidblood" : {
      "liquidwastewater" : ["common",1],
      "fuscienceresource" : ["normal",1]
    },
    "liquidlava" : {
      "corefragmentore" : ["common",3],
      "ironore" : ["common",3],
      "copperore" : ["common",3],
      "tungstenore" : ["uncommon",3],
      "ff_silicon" : ["uncommon",3],
      "fu_carbon" : ["uncommon",3]
    },
    "liquidfuel" : {
      "toxicwaste" : ["common",2],
      "liquidwastewater" : ["common",2],
      "ff_silicon" : ["normal",1]
    },
    "ff_mercury" : {
      "ironore" : ["common",2],
      "liquidwastewater" : ["common",2],
      "fu_carbon" : ["uncommon",1]
    },
    "liquidmilk" : {
      "fuscienceresource" : ["common",2],
      "liquidwastewater" : ["common",2]
    },
    "liquidsulphuricacid" : {
      "fu_carbon" : ["common",3],
      "liquidwastewater" : ["common",3],
      "sulphur" : ["common",3]
    },
    "vialproto" : {
      "protociteore" : ["rare",1],
      "fuscienceresource" : ["common",2],
      "liquidwastewater" : ["common",2]
    }
  },
  "itemMapBees" : {
    "exceptionalcomb" : {
      "titaniumore" : ["rare",4],
      "tungstenore" : ["rare",4],
      "ironore" : ["rare",4],
      "beesilk" : ["rare",4],
      "fu_liquidhoney" : ["common",2],
      "fuamberchunk" : ["common",2]
    },  
    "feroziumcomb" : {
      "feroziumore" : ["common",1]
    },
    "morbidcomb" : {
      "ghostlywax" : ["common",1]
    },
    "aegisaltcomb" : {
      "aegisaltore" : ["common",1]
    },
    "magmacomb" : {
      "corefragmentore" : ["normal",1],
      "liquidlava" : ["common",1],
      "scorchedcore" : ["rare",1]
    },
    "aridcomb" : {
      "goldensand" : ["common",1]
    },
    "volcaniccomb" : {
      "liquidlava" : ["uncommon",1]
    },
    "forestcomb" : {
      "goldenwood" : ["common",1]
    },
    "godlycomb" : {
      "matteritem" : ["common",1]
    },
    "goldcomb" : {
      "goldore" : ["common",1]
    },
    "minercomb" : {
      "coalore" : ["uncommon",1]
    },
    "radioactivecomb" : {
      "uraniumore" : ["rare",1]
    },
    "redcomb" : {
      "redwaxchunk" : ["common",1]
    },
    "titaniumcomb" : {
      "titaniumore" : ["common",1]
    },
    "suncomb" : {
      "sulphur" : ["rare",1]
    },
    "violiumcomb" : {
      "violiumore" : ["common",1]
    },
    "silvercomb" : {
      "silverore" : ["common",1]
    },
    "preciouscomb" : {
      "diamond" : ["rarest",1]
    },
    "flowercomb" : {
      "petalblue" : ["common",3],
      "petalyellow" : ["common",3],
      "petalred" : ["common",3]
    },
    "silkcomb" : {
      "beesilk" : ["uncommon",1]
    },
    "tungstencomb" : {
      "tungstenore" : ["common",1]
    },
    "arcticcomb" : {
      "frozenwaxchunk" : ["normal",1]
    },
    "mooncomb" : {
      "fu_carbon" : ["common",1]
    },
    "ironcomb" : {
      "ironore" : ["common",1]
    },
    "plutoniumcomb" : {
      "plutoniumore" : ["rare",1]
    },
    "nocturnalcomb" : {
      "waxchunk" : ["common",1]
    },
    "mythicalcomb" : {
      "liquidhealing" : ["rare",1]
    },
    "coppercomb" : {
      "copperore" : ["common",1]
    },
    "normalcomb" : {
      "waxchunk" : ["common",1]
    },
    "durasteelcomb" : {
      "durasteelore" : ["common",1]
    },
    "junglecomb" : {
      "goldenleaves" : ["common",1]
    },
    "eldercomb" : {
      "liquidelderfluid" : ["normal",1],
      "protorockmaterial" : ["rare",1]
    },
    "solariumcomb" : {
      "solariumore" : ["rare",1]
    }
  },
  "itemMapIsotopes" : {
    "liquiddeuterium" : {
      "deuterium" : ["rare",1],
      "fu_carbon" : ["common",2],
      "fu_hydrogen" : ["common",2]
    },
    "neptuniumrod" : {
      "toxicwaste" : ["common",2],
      "fu_hydrogen" : ["common",2],
      "ultronium" : ["rarest",1]
    },
    "tritium" : {
      "uraniumrod" : ["common",2],
      "liquidmetallichydrogen" : ["rare",1],
      "fu_hydrogenmetallic" : ["rarest",1],
      "fu_carbon" : ["common",2]
    },
    "plutoniumrod" : {
      "enrichedplutonium" : ["rare",1],
      "fu_hydrogen" : ["common",2],
      "toxicwaste" : ["common",2]
    },
    "liquidmetallichydrogen" : {
      "fu_carbon" : ["common",2],
      "fu_hydrogenmetallic" : ["rarest",1],
      "fu_hydrogen" : ["common",2]
    },
    "deuterium" : {
      "tritium" : ["uncommon",1],
      "liquidmetallichydrogen" : ["rare",1],
      "fu_carbon" : ["common",1],
      "liquiddeuterium" : ["rarest",1]
    },
    "uraniumrod" : {
      "fu_hydrogen" : ["common",2],
      "enricheduranium" : ["rare",1],
      "lead" : ["rarest",1],
      "toxicwaste" : ["common",2]
    },
    "toxicwaste" : {
      "uraniumore" : ["common",1],
      "tritium" : ["rarest",1]
    },
    "thoriumrod" : {
      "ultronium" : ["rarest",1],
      "toxicwaste" : ["common",2],
      "lead" : ["rare",1],
      "fu_hydrogen" : ["common",2]
    },
    "solariumstar" : {
      "toxicwaste" : ["common",2],
      "ultronium" : ["uncommon",1],
      "fu_hydrogen" : ["common",2]
    }
  },
  "recipeTypes" : {
    "bees" : ["itemMapFarm","itemMapBees"],
    "liquid" : ["itemMapFarm","itemMapBees","itemMapLiquids"],
    "isotope" : ["itemMapFarm","itemMapBees","itemMapLiquids","itemMapIsotopes"],
    "farm" : ["itemMapFarm"],
    "powder" : ["itemMapPowder"]
  }
}
