[
  //double-input items
  {
    "inputs": { "brain": 1 },
    "outputs": { "psionicenergy": [10, 15, 20], "psionicenergy2": [15, 24, 36] }
  },
  {
    "inputs": { "brainpeerless": 1 },
    "outputs": {
      "psionicenergy3": [10, 15, 20],
      "psionicenergy4": [15, 24, 36]
    }
  },
  {
    "inputs": { "greghead": 1 },
    "outputs": { "psionicenergy": [15, 24, 36] }
  },
  {
    "inputs": { "inferiorbrain": 1 },
    "outputs": { "psionicenergy": [15, 24, 36] }
  },
  {
    "inputs": { "artificialbrain": 1 },
    "outputs": {
      "psionicenergy2": [10, 15, 20],
      "psionicenergy3": [15, 24, 36]
    }
  }
]
