[
	{"inputs":{"bottle":1,"normalcomb":1},"outputs":{"honeyjar":1}},
	{"inputs":{"bottle":1,"exceptionalcomb":1},"outputs":{"honeyjar":1}},
	{"inputs":{"bottle":1,"arcticcomb":1},"outputs":{"snowhoneyjar":1}},
	{"inputs":{"bottle":1,"aridcomb":1},"outputs":{"stronghoneyjar":1}},
	{"inputs":{"bottle":1,"coppercomb":1},"outputs":{"honeyjar":1}},
	{"inputs":{"bottle":1,"durasteelcomb":1},"outputs":{"shellhoneyjar":1}},
	{"inputs":{"bottle":1,"flowercomb":1},"outputs":{"floralhoneyjar":1}},
	{"inputs":{"bottle":1,"forestcomb":1},"outputs":{"greenhoneyjar":1}},
	{"inputs":{"bottle":1,"godlycomb":1},"outputs":{"mythicalhoneyjar":1}},
	{"inputs":{"bottle":1,"goldcomb":1},"outputs":{"speedhoneyjar":1}},
	{"inputs":{"bottle":1,"ironcomb":1},"outputs":{"shellhoneyjar":1}},
	{"inputs":{"bottle":1,"junglecomb":1},"outputs":{"greenhoneyjar":1}},
	{"inputs":{"bottle":1,"minercomb":1},"outputs":{"honeyjar":1}},
	{"inputs":{"bottle":1,"mooncomb":1},"outputs":{"honeyjar":1}},
	{"inputs":{"bottle":1,"morbidcomb":1},"outputs":{"redhoneyjar":1}},
	{"inputs":{"bottle":1,"mythicalcomb":1},"outputs":{"mythicalhoneyjar":1}},
	{"inputs":{"bottle":1,"nocturnalcomb":1},"outputs":{"nocturnalhoneyjar":1}},
	{"inputs":{"bottle":1,"plutoniumcomb":1},"outputs":{"plutoniumhoneyjar":1}},
	{"inputs":{"bottle":1,"preciouscomb":1},"outputs":{"honeyjar":1}},
	{"inputs":{"bottle":1,"radioactivecomb":1},"outputs":{"radioactivehoneyjar":1}},
	{"inputs":{"bottle":1,"redcomb":1},"outputs":{"redhoneyjar":1}},
	{"inputs":{"bottle":1,"silvercomb":1},"outputs":{"shellhoneyjar":1}},
	{"inputs":{"bottle":1,"suncomb":1},"outputs":{"hothoneyjar":1}},
	{"inputs":{"bottle":1,"solariumcomb":1},"outputs":{"solariumhoneyjar":1}},
	{"inputs":{"bottle":1,"titaniumcomb":1},"outputs":{"shellhoneyjar":1}},
	{"inputs":{"bottle":1,"tungstencomb":1},"outputs":{"shellhoneyjar":1}},
	{"inputs":{"bottle":1,"volcaniccomb":1},"outputs":{"hothoneyjar":1}},
	{"inputs":{"bottle":1,"aegisaltcomb":1},"outputs":{"shellhoneyjar":1}},
	{"inputs":{"bottle":1,"feroziumcomb":1},"outputs":{"shellhoneyjar":1}},
	{"inputs":{"bottle":1,"violiumcomb":1},"outputs":{"shellhoneyjar":1}},
	{"inputs":{"bottle":1,"liquidwater":1},"outputs":{"liquidwastewater":1}},
	{"inputs":{"bottle":1,"magmacomb":1},"outputs":{"hothoneyjar":1}},
	{"inputs":{"bottle":1,"eldercomb":1},"outputs":{"elderhoneyjar":1,"liquidelderfluid":1}}
]
