[
  {"inputs":{"candabeanjellseed":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"candacocoaberryseed":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"candablacklicoseed":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"candamarshrootsseed":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"candssugarreedseed":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"eecstrawberryseed":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"webbreadonseed":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"webcorexseed":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"webkaradiancarrotseed":1},"outputs":{"fugeneticmaterial":1}},

  {"inputs":{"xi_bulb":1},"outputs":{"fuscienceresource":[1,1,1]}},

  {"inputs":{"ambrumseed":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"wildambrumseed":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"boratoseed":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"wildboratoseed":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"loftgrainseed":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"wildloftgrainseed":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"mellowrootseed":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"wildmellowroot":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"selvasseed":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"wildselvasseed":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"vahlberryseed":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"wildvahlberryseed":1},"outputs":{"fugeneticmaterial":1}},
  
  {"inputs":{"ambrumfibre":1},"outputs":{"fuscienceresource":1}},  
  {"inputs":{"selvasextract":1},"outputs":{"fuscienceresource":1}},  
  {"inputs":{"loftgrain":1},"outputs":{"fuscienceresource":1}},  
  {"inputs":{"borato":1},"outputs":{"fuscienceresource":1}},  
  {"inputs":{"mellowroot":1},"outputs":{"fugeneticmaterial":1}},  
  {"inputs":{"vahlberries":1},"outputs":{"fuscienceresource":1}},  

  {"inputs":{"plasmangoseed":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"solusberryseed":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"phasefruitseed":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"violirootseed":1},"outputs":{"fugeneticmaterial":1}},
  
  {"outputs":{"wheatsprout":1},"inputs":{"soakedwheat":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"nakatibark":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"avikancactusseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"avikanspiceplantseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"bolbohnseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"dunestalkseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"shadowrootseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"aenemaflower":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"algaeseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"aquapodseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"arkaentree":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"automatoseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"avesmingoseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"bambooseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"bananaseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"batterystem":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"beakseedseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"beeflower":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"beetlesproutseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"bellamorte":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"biospore":4}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"biscornseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"blexplantseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"bladetree":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"blisterbushplantseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"blizzberryseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"bloodrootseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"bluemelonseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"boltbulbseed":1}},

  {"outputs":{"fugeneticmaterial":1},"inputs":{"bonebooseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"brackentreeseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"caprioleplantseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"carrotseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"cellpodsplant":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"chiliseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"cinnamonseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"cocoaseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"coffeeseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"coralcreepseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"cornseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"corvexseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"cottonseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"crystallite":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"crystalplantseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"currentcornseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"darklightflower":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"deathblossomseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"diodiahybridseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"diodiaseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"dirturchinseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"dragonsbeardseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"eggshootseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"energiflowerseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"erithianalgaeseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"fayshroomseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"floralytplantseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"feathercrownseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"fletchweed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"flowerblack":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"flowerblue":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"flowerbrown":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"flowergreen":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"flowergrey":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"flowerorange":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"flowerorchid":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"flowerorchid2":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"flowerorchid3":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"flowerpink":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"flowerpurple":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"flowerred":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"flowerspring":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"flowerwhite":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"floweryellow":1}},
  {"outputs":{"biospore":3},"inputs":{"fubioshroomblue":1}},
  {"outputs":{"biospore":3},"inputs":{"fubioshroomgreen":1}},
  {"outputs":{"biospore":3},"inputs":{"fubioshroompurple":1}},
  {"outputs":{"biospore":3},"inputs":{"fubioshroomred":1}},
  {"outputs":{"biospore":3},"inputs":{"fubioshroomyellow":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"fusnowberryseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"fuspongeweedseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"garpberryseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"garikleaf":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"gazelemonseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"gemglowseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"genesiberryseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"ghostmushroomseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"ginsengseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"glarestalkseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"goldenglowseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"goldenrootseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"goldenseaspongeplant":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"goldshroomseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"grapesseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"greenleafseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"guamseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"haleflowerseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"hellfireplantseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"herrodbush":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"hopsseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"ighantseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"ignuschili2seed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"ignuschiliseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"jillyrootseed":1}},
  {"outputs":{"fugeneticmaterial":1 },"inputs":{"isn_meatplant":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"itaseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"kamaranpodsplant":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"kirifruitseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"kiwiseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"kramil":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"lactariusindigoseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"lasherplantseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"littlerascalseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"leafshellseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"littlegoodberryseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"lumivineseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"melodistarseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"minkocoapodseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"miraclegrassseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"mintseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"mireurchinseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"mushroomseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"mutaviskseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"naileryseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"nakatiseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"neonmelonseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"neuropodseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"nissseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"oculemonseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"onionseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"oonfortaseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"pasakavineseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"pearlpeaseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"pekkitseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"petrifiedrootseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"pineappleseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"pinkloomseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"piruseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"poetree":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"porphisplantseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"potatoseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"pussplumseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"quellstem":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"reedseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"reefpodseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"rockrootseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"riceseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"sapling":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"shinyacornseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"shockshroomseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"shroomblockglow":50}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"silverleafseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"slimeplantseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"springvaultseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"stranglevineseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"sugarcaneseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"sweetscoopseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"talonseedseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"teratomatoseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"tentacleplant":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"tentacleproduce":5}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"tetherhookseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"thornitoxseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"tinselbush":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"tomatoseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"toxictopseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"tyvokkseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"vashtaplantseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"vanusflowerseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"varanberryseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"vextongueseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"victorleaf":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"voritseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"wartweedseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"wheatseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"whitespine":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"avaliplant1":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"avaliplant2":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"avaliplant3":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"wretchelseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"wubstemseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"xaxseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"yellowfootseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"zathiseed":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"alienfruit":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"cacti":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"coconut":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"coffeebeans":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"crystalplantedible":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"glowfibre":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"greenapple":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"orange":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"redapple":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"rice":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"shroom":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"thornfruit":1}},
  {"outputs":{"fugeneticmaterial":1},"inputs":{"wildvines":1}},

  //new genes extraction
  {"inputs":{"gene_adaptivecell":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_agility":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_aquacelerity":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_aquahomeo":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_assimilate":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_avian":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_bioluminescent":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_chloroplast":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_corrosive":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_cryo":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_defense":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_electric":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_energy":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_fish":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_harden":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_immunity":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_insectoid":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_mammal":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_mimetic":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_muscle":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_nervebundle":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_ocular":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_poisonous":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_pyro":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_rage":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_reactive":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_regen":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_reproductive":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_resist":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_skeletal":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_stealth":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_stimulant":1},"outputs":{"fugeneticmaterial":1}},
  {"inputs":{"gene_void":1},"outputs":{"fugeneticmaterial":1}}
]
