{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.5,
      "type" : "gaussrifleboom"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 1,
      "backgroundRadius" : 1,
      "explosiveDamageAmount" : 1,
      "delaySteps" : 2,
      "harvestLevel" : 99
    },
	{
      "action" : "sound",
      "options" : [ "/sfx/weapons/explosion1.ogg" ]
    }

  ]
}
