{
	"gui" : {
		"background" : {
			"zlevel" : 0,
			"type" : "background",
			"fileHeader" : "/objects/pilch_shieldadminconsole/interface/header.png",
			"fileBody" : "/objects/pilch_shieldadminconsole/interface/body.png",
			"fileFooter" : "/objects/pilch_shieldadminconsole/interface/footer.png"
		},

		"windowtitle" : {
			"type" : "title",
			"title" : "Pilchenstein's Field Generator",
			"subtitle" : "Generator Control Console",
			"icon" : {
			"type" : "image",
			"file" : "/objects/pilch_shieldadminconsole/interface/icon.png",
			"zlevel" : -1
			}
		},

		"quitButton" : {
			"type" : "button",
			"position" : [294, 148],
			"base" : "/objects/pilch_shieldadminconsole/interface/quit.png:inactive",
			"hover" : "/objects/pilch_shieldadminconsole/interface/quit.png:active",
			"pressed" : "/objects/pilch_shieldadminconsole/interface/quit.png:pressed",
			"disabledImage" : "/objects/pilch_shieldadminconsole/interface/quit.png:disabled",
			"pressedOffset" : [0, 0]
		},
		"statusImage" : {
			"type" : "image",
			"position" : [25, 105],
			"file" : "/objects/pilch_shieldadminconsole/interface/titlebar.png:green"
		},
		"statusLabel" : {
			"type" : "label",
			"position" : [160, 118],
			"hAnchor" : "mid",
			"vAnchor" : "mid",
			"value" : ""
		},
		"warningLabel" : {
			"type" : "label",
			"position" : [160, 90],
			"hAnchor" : "mid",
			"vAnchor" : "mid",
			"value" : "^#ff0000;CAUTION: Purging will remove/reset all fields on this world.\nAll registered field generators will be broken."
		},
		"purgeButton" : {
			"type" : "button",
			"position" : [100, 40],
			"base" : "/objects/pilch_shieldadminconsole/interface/purge.png:base",
			"hover" : "/objects/pilch_shieldadminconsole/interface/purge.png:hover",
			"pressed" : "/objects/pilch_shieldadminconsole/interface/purge.png:hover",
			"disabledImage" : "/objects/pilch_shieldadminconsole/interface/purge.png:disabled",
			"pressedOffset" : [0, -1]
		}
	},

	"scriptWidgetCallbacks" : [
		"quitButton",
		"purgeButton"
	],

	"scripts" : ["/objects/pilch_shieldadminconsole/pilch_shieldadminconsole_gui.lua"],
	"scriptDelta" : 5
}
