{
  "gui" : {
    "type" : "background",
    "fileHeader" : "/interface/tooltips/header.png",
    "fileBody" : "/interface/tooltips/bodyobjectextended2.png",
    "fileFooter" : "/interface/tooltips/footer.png"
  },
  "objectImage" : {
    "type" : "image",
    "position" : [67, 129],
    "file" : "",
    "centered" : true,
    "maxSize" : [38, 38],
    "minSize" : [38, 38]
  },
  "healthLabel" : {
    "type" : "label",
    "position" : [127, 91],
    "hAnchor" : "right",
    "value" : ""
  },
  "healthTitleLabel" : {
    "type" : "label",
    "position" : [12, 91],
    "hAnchor" : "left",
    "value" : "Shield Health:"
  },
  "critChanceLabel" : {
    "type" : "label",
    "position" : [127, 82],
    "hAnchor" : "right",
    "value" : ""
  },
  "critChanceTitleLabel" : {
    "type" : "label",
    "position" : [12, 82],
    "hAnchor" : "left",
    "value" : "Thing:"
  },
  "blockLabel" : {
    "type" : "label",
    "position" : [127, 73],
    "hAnchor" : "right",
    "value" : ""
  },
  "blockTitleLabel" : {
    "type" : "label",
    "position" : [12, 73],
    "hAnchor" : "left",
    "value" : "Perfect Block Time:"
  },  
  "stamLabel" : {
    "type" : "label",
    "position" : [127, 64],
    "hAnchor" : "right",
    "value" : ""
  },
  "stamTitleLabel" : {
    "type" : "label",
    "position" : [12, 64],
    "hAnchor" : "left",
    "value" : "Shield Regen Bonus:"
  },  
  
  "hpLabel" : {
    "type" : "label",
    "position" : [23, 112],
    "hAnchor" : "right",
    "value" : ""
  },
  "hp2Label" : {
    "type" : "label",
    "position" : [26, 112],
    "hAnchor" : "left",
    "value" : "%"
  }, 
  "hpTitleHealth" : {
    "type" : "image",
    "position" : [12, 128],
    "file" : "/interface/stats/hpup.png"
  },  
  
  "energyLabel" : {
    "type" : "label",
    "position" : [120, 112],
    "hAnchor" : "right",
    "value" : ""
  },
  "energy2Label" : {
    "type" : "label",
    "position" : [123, 112],
    "hAnchor" : "left",
    "value" : "%"
  },  
  "energyTitleHealth" : {
    "type" : "image",
    "position" : [109, 128],
    "file" : "/interface/stats/energyup.png"
  },   
  
  "descriptionLabel" : {
    "type" : "label",
    "position" : [12, 60],
    "hAnchor" : "left",
    "vAnchor" : "top",
    "wrapWidth" : 123,
    "lineSpacing" : 1.0,
    "value" : ""
  },
  "priceLabel" : {
    "type" : "label",
    "position" : [120, 23],
    "hAnchor" : "left",
    "value" : "tree"
  },
  "moneyIcon" : {
    "type" : "image",
    "position" : [107, 23],
    "file" : "/interface/money.png"
  },
  "rarityLabel" : {
    "type" : "label",
    "position" : [8, 23],
    "hAnchor" : "left",
    "centered" : true,
    "wrapWidth" : 126
  },
  "scripts" : ["/objects/crafting/testy/statsconsolegui.lua"],
  "scriptDelta" : 20
}
