{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/objects/power/braingenerator/fu_generatorHeader.png",
      "fileBody" : "/objects/power/braingenerator/braingenerator_ui.png",
      "fileFooter" : "/objects/power/braingenerator/fu_generatorFooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      "position" : [145, 124]
    }, 
    "objectImage" : {
      "type" : "image",
      "position" : [39, 81],
      "file" : "",
      "centered" : true,
      "maxSize" : [48, 48],
      "minSize" : [48, 48]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [111, 75],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/crafting/icons/emptyPsionic.png"
    },
    "dragDrop" : {
      "type" : "label",
      "value" : "",
      "hAnchor" : "left",
      "position" : [6, 40]
    },
    "count" : {
      "type" : "label",
      "value" : "BRAIN JAR",
      "hAnchor" : "mid",
      "position" : [120, 106]
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/chests/shine1to16.png",
      "position" : [0, 0]
    }
  }
}
