{
	//Vanilla + FU Races
	"Apex" : {
		"icon" : "sapemale.png",
		"items" : {
			"techstation" : true,
			"teleporter" : true
		}
	},
	"Floran" : {
		"icon" : "plantmale.png"
	},
	"Glitch" : {
		"icon" : "robotmale.png"
	},
	"Hylotl" : {
		"icon" : "aquaticmale.png"
	},
	"Fu_byos" : {
		"icon" : "sapemale.png",
		"name" : "BYOS",
		"items" : {
			"fu_byoscaptainschair" : true,
			"fu_byosfuelhatch" : true,
			"fu_byosshipdoor" : true,
			"fu_byosshiphatch" : true,
			"fu_byosshiplocker" : true,
			"fu_byostechstation" : true,
			"fu_byosteleporter" : true,
			"fu_byoscaptainschairdeco" : true,
			"fu_byostechstationdeco" : true,
			"fu_byosteleporterdeco" : true,
			"fu_byosteleportercrew" : true
		}
	},
	"Fumantizi" : {
		"race" : "mantizi"
	},
	"Fupeglaci" : {
		"icon" : "peglacimale.png"
		//"name" : "Peglaci"
	},
	"Slimeperson" : {
		//"name" : "Slime"
	},
	
	//Modded Races
	"Saturn2" : {
		//"name" : "Thaumoth"
	},
	"Trink" : {
		"items" : {
			"trinkshipdoor" : [-8, 0]
		}
	},
	"Viera" : {
		"items" : {
			"vieratechstation" : [-24, -16]
		}
	}
}