{
  "gui" :
  {
    "background" :
    {
      "type" : "background",
      "fileHeader" : "/interface/crafting/fu_racializer_header.png",
      "fileBody" : "/interface/crafting/fu_racializer_body.png",
      "fileFooter" : "/interface/crafting/fu_racializer_footer.png"
    },
    "close" :
    {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, -1],
      "position" : [170, 258]
    },
    "races1Label":
    {
      "type" : "label",
      "position" : [38, 240],
      "value" : "Supported Races  |  Input: --"
    },
    "scr_raceList" :
    {
      "type": "scrollArea",
      "zlevel": -1,
      "rect" : [10,28,107,238],
      "children":
      {
        "raceList" :
        {
          "type" : "list",
          "callback" : "raceList_SelectedChanged",
          "schema" :
          {
            "selectedBG" : "/interface/crafting/craftableselected2.png",
            "unselectedBG" : "/interface/crafting/craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [84, 20],
            "listTemplate" :
            {
              "background" :
              {
                "type" : "image",
                "file" : "/interface/crafting/craftablebackground.png",
                "position" : [2, 0],
                "size" : [84, 20],
                "zlevel" : -1
              },
              "title" :
              {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "New Member"
              },
              "icon" :
              {
                "type" : "image",
                "position" : [0, 0],
                "hAnchor" : "left",
                "vAnchor" : "mid",
                "callback" : "null"
              }
            }
          }
        }
      }
    },
    "itemGrid" :
    {
      "type" : "itemgrid",
      "position" : [115, 221],
      "dimensions" : [2, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/emptyEmpty.png",
      "zlevel": 5
    },
    "itemGrid2" :
    {
      "type" : "itemgrid",
      "position" : [115, 121],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/emptyEmpty.png",
      "slotOffset" : 2,
      "zlevel": 5
    },
    "preview_lbl2" :
    {
      "type" : "label",
      "position" : [112, 142],
      "value" : "Output: --"
    },
    "lblCost" :
    {
      "type" : "label",
      "position" : [112, 38],
      "value" : "Cost:   x0"
    },
    "imgCost" :
    {
      "type" : "image",
      "position" : [132, 38],
      "file" : "/items/currency/money.png"
    },
    "imgPreviewIn":{
        "type" : "image",
        "position" : [148,186],
        "minSize" : [64,64],
        "maxSize" : [64,64],
        "centered" : true,
        "file" : ""
    },
    "imgPreviewOut":{
        "type" : "image",
        "position" : [148,86],
        "minSize" : [64,64],
        "maxSize" : [64,64],
        "centered" : true,
        "file" : ""
    },
    "btnConvert":
    {
      "type" : "button",
      "caption" : "Convert",
      "textAlign" : "center",
      "base" : "/interface/bookmarks/edit/buttonup.png",
      "disabledImage" : "/interface/buttongrayed.png",
      "callback" : "btnConvert_Clicked",
      "zlevel": 1,
      "position" :[124,20]
    },
    "imgUnderlay_Input" :
    {
      "type" : "image",
      "position" : [115, 221],
      "file" : "/interface/inventory/emptyObject.png",
      "zlevel": 4
    },
    "imgUnderlay_PGI" :
    {
      "type" : "image",
      "position" : [134, 221],
      "file" : "/interface/inventory/emptyPGI.png",
      "zlevel": 4
    },
    "imgUnderlay_Output" :
    {
      "type" : "image",
      "position" : [115, 121],
      "file" : "/interface/inventory/emptyObject.png",
      "zlevel": 4
    },
    "cbUseAll":{
      "type" : "button",
      "caption" : "Use All",
      "textAlign" : "right",
      "base" : "/interface/checkbox_off.png",
      "hover" : "/interface/checkbox_hover.png",
      "pressed" : "/interface/checkbox_pressed.png",
      "baseImageChecked" : "/interface/checkbox_on.png",
      "hoverImageChecked" : "/interface/checkbox_hover.png",
      "position" : [137, 124],
      "pressedOffset" : [0, 0],
      "size":[44, 16],
      "zlevel": 1,
      "checkable": true,
      "checked": true,
      "callback" : "btnUseAll_Clicked"
    }
  },
  "scripts" : ["/interface/objectcrafting/fu_racializer/fu_racializer_gui.lua"],
  "scriptDelta" : 10,
  "scriptWidgetCallbacks" : ["btnConvert_Clicked","btnUseAll_Clicked","raceList_SelectedChanged"],

  "cost" : 50,			//with PGI
  "costModifier" : 4,	//without PGI
  "objectConversions" : {
    "fu_byoscaptainschairdeco" : "fu_byoscaptainschairdeco",
    "fu_byostechstation" : "fu_byostechstation",
    "fu_byosteleporter" : "fu_byosteleporter",
    "fu_byosteleportercrew" : "fu_byosteleportercrew",
    "captainschair" : "fu_byoscaptainschair",
    "fuelhatch" : "fu_byosfuelhatch",
    "shipdoor" : "fu_byosshipdoor",
    "shiphatch" : "fu_byosshiphatch",
    "shiplocker" : "fu_byosshiplocker",
    "techstation" : "fu_byostechstationdeco",
    "teleporter" : "fu_byosteleporterdeco"
  },
  "raceObjects" : ["captainschair", "fuelhatch", "shipdoor", "shiphatch", "shiplocker", "techstation", "teleporter"]
}