{
	"gui" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/scripted/fm_musicplayer/body_header.png",
			"fileBody" : "/interface/scripted/fm_musicplayer/body.png",
			"fileFooter" : "/interface/scripted/fm_musicplayer/body_footer.png"
		},

		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"press" : "/interface/xpress.png",
			"position" : [168, 288]
		},

		"titleIcon" : {
			"type" : "image",
			"position" : [9, 282],
			"file" : "/interface/scripted/fm_musicplayer/controls.png:album"
		},

		"titleText" : {
			"type" : "label",
			"position" : [32, 301],
			"vAnchor" : "top",
			"value" : "Select an album"
		},

		"titleSubtext" : {
			"type" : "label",
			"position" : [32, 284],
			"value" : "Frackin' Music Player",
			"color" : "gray"
		},

		"search" : {
			"type":"textbox",
			"position":[28, 17],
			"hint" : "Search",
			"maxWidth" : 73,
			"escapeKey" : "close",
			"callback" : "populateMusicList",
			"focus" : false
		},

		"modeButton" : {
			"type" : "button",
			"base" : "/interface/scripted/fm_musicplayer/controls.png:play",
			"hover" : "/interface/scripted/fm_musicplayer/controls.png:playHover",
			"press" : "/interface/scripted/fm_musicplayer/controls.png:play",
			"position" : [104, 10]
		},

		"stopButton" : {
			"type" : "button",
			"base" : "/interface/scripted/fm_musicplayer/controls.png:stop",
			"hover" : "/interface/scripted/fm_musicplayer/controls.png:stopHover",
			"press" : "/interface/scripted/fm_musicplayer/controls.png:stop",
			"position" : [126, 10]
		},

		"settingsButton" : {
			"type" : "button",
			"base" : "/interface/scripted/fm_musicplayer/controls.png:settings",
			"hover" : "/interface/scripted/fm_musicplayer/controls.png:settingsHover",
			"press" : "/interface/scripted/fm_musicplayer/controls.png:settings",
			"position" : [148, 10]
		},

		"scrollArea" : {
			"type" : "scrollArea",
			"rect" : [11, 34, 179, 279],
			"children" : {
				"list" : {
					"type" : "list",
					"callback" : "listSelected",
					"schema" : {
						"selectedBG" : "/interface/crafting/craftableselected2.png",
						"unselectedBG" : "/interface/crafting/craftablebackground.png",
						"spacing" : [0, 1],
						"memberSize" : [159, 20],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/interface/crafting/craftablebackground.png",
								"position" : [2, 0],
								"zlevel" : -1
							},
							"name" : {
								"type" : "label",
								"position" : [25, 14],
								"hAnchor" : "left",
								"vAnchor" : "top",
								"wrapWidth" : 120,
								"value" : ""
							},
							"button" : {
								"type" : "button",
								"base" : "/interface/scripted/fm_musicplayer/controls.png:play",
								"hover" : "/interface/scripted/fm_musicplayer/controls.png:playHover",
								"press" : "/interface/scripted/fm_musicplayer/controls.png:play",
								"position" : [1, 0]
							}
						}
					}
				}
			}
		},

		"settings" : {
			"type" : "scrollArea",
			"visible" : false,
			"rect" : [11, 34, 179, 279],
			"children" : {
				"offsetter" : {
					"type" : "label",
					"position" : [-2, 0],
					"value" : " "
				},
				"labelLabel" : {
					"type" : "label",
					"position" : [0, 0],
					"fontSize" : 6,
					"value" : "Toggle current track label above object"
				},
				"labelButton" : {
					"type" : "button",
					"base" : "/interface/scripted/fm_musicplayer/controls.png:label",
					"hover" : "/interface/scripted/fm_musicplayer/controls.png:labelHover",
					"press" : "/interface/scripted/fm_musicplayer/controls.png:label",
					"position" : [0, -23]
				},
				"rangeLabel" : {
					"type" : "label",
					"fontSize" : 6,
					"position" : [0, -40],
					"value" : "Select music player range (Default is 30)"
				},
				"rangeSublabel" : {
					"type" : "label",
					"position" : [0, -43],
					"wrapWidth" : 120,
					"fontSize" : 6,
					"vAnchor" : "top",
					"value" : "^red;This setting only applies to this specific music player, and not to every other one its wired to."
				},
				"range10" : {
					"type" : "button",
					"callback" : "rangeButton",
					"base" : "/interface/scripted/fm_musicplayer/controls.png:range10",
					"hover" : "/interface/scripted/fm_musicplayer/controls.png:range10Hover",
					"press" : "/interface/scripted/fm_musicplayer/controls.png:range10",
					"position" : [0, -87]
				},
				"range20" : {
					"type" : "button",
					"callback" : "rangeButton",
					"base" : "/interface/scripted/fm_musicplayer/controls.png:range20",
					"hover" : "/interface/scripted/fm_musicplayer/controls.png:range20Hover",
					"press" : "/interface/scripted/fm_musicplayer/controls.png:range20",
					"position" : [23, -87]
				},
				"range30" : {
					"type" : "button",
					"callback" : "rangeButton",
					"base" : "/interface/scripted/fm_musicplayer/controls.png:range30",
					"hover" : "/interface/scripted/fm_musicplayer/controls.png:range30Hover",
					"press" : "/interface/scripted/fm_musicplayer/controls.png:range30",
					"position" : [46, -87]
				},
				"range40" : {
					"type" : "button",
					"callback" : "rangeButton",
					"base" : "/interface/scripted/fm_musicplayer/controls.png:range40",
					"hover" : "/interface/scripted/fm_musicplayer/controls.png:range40Hover",
					"press" : "/interface/scripted/fm_musicplayer/controls.png:range40",
					"position" : [69, -87]
				}
			}
		}
	},

	"scriptWidgetCallbacks" : [ "playButton", "modeButton", "stopButton", "settingsButton", "populateMusicList", "listSelected", "rangeButton", "labelButton" ],
	"scripts" : ["/interface/scripted/fm_musicplayer/fm_musicplayer.lua"]
}

