{
  "noCategoryFilters" : false,
  "filter" : [ ],
  "titleFromEntity" : true,
  "requiresBlueprint" : true,
  "craftingSound" : "/sfx/interface/crafting_tech1.ogg",
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/windowconfig/newuiheader.png",
      "fileBody" : "/interface/crafting/newbody.png",
      "fileFooter" : "/interface/windowconfig/newuifooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      "position" : [380, 331]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Music Player",
      "subtitle" : "Plays music",
      "position" : [0, 152],
      "icon" : {
        "type" : "image",
        "file" : "",
        "position" : [10, -20],
        "zlevel" : -1
      }
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/scripted/fm_musicplayer/playmusic.png",
      "hover" : "/interface/scripted/fm_musicplayer/playmusic.png",
      "press" : "/interface/scripted/fm_musicplayer/playmusic.png",
      "disabledImage" : "/interface/scripted/fm_musicplayer/playmusicdisabled.png",
      "position" : [275, 61],
      "callback" : "doUnlock"
    },
    "filter" : {
      "type" : "textbox",
      "position" : [83, 50],
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [39, 80, 215, 342],
      "children" : {
        "itemList" : {
          "type" : "list",
          "callback" : "itemSelected",
          "schema" : {
            "selectedBG" : "/interface/crafting/craftableselected2.png",
            "unselectedBG" : "/interface/crafting/craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [119, 5],
                "file" : "",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [134, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
	
		"categories" : {
                "type" : "radioGroup",
                "toggleMode" : false,
                "buttons" : [
                {
                    "position" : [11, 325],
                    "baseImage" : "/interface/crafting/fm_musicvanillatab.png",
                    "baseImageChecked" : "/interface/crafting/fm_musicvanillatabon.png",
                    "data" : {
                        "filter" : "vanilla"
                    }
                },
                {
                    "position" : [11, 302],
                    "baseImage" : "/interface/crafting/fm_musicfrackintab.png",
                    "baseImageChecked" : "/interface/crafting/fm_musicfrackintabon.png",
                    "data" : {
                        "filter" : "frackin"
                    }
                },
                {
                    "position" : [11, 279],
                    "baseImage" : "/interface/crafting/fm_musicothertab.png",
                    "baseImageChecked" : "/interface/crafting/fm_musicothertabon.png",
                    "data" : {
                        "filter" : "other"
                    }
                }
            ]
        },
	
        "ingredient1" : {
            "type" : "itemslot",
            "backingImage" : "/interface/inventory/emptier.png",
            "position" : [239, 122],
            "callback" : "null",
            "rightClickCallback" : "null"
        },
        "ingredient2" : {
            "type" : "itemslot",
            "backingImage" : "/interface/inventory/emptier.png",
            "position" : [239, 96],
            "callback" : "null",
            "rightClickCallback" : "null"
        },
        "ingredient3" : {
            "type" : "itemslot",
            "backingImage" : "/interface/inventory/emptier.png",
            "position" : [321, 122],
            "callback" : "null",
            "rightClickCallback" : "null"
        },
        "ingredient4" : {
            "type" : "itemslot",
            "backingImage" : "/interface/inventory/emptier.png",
            "position" : [321, 96],
            "callback" : "null",
            "rightClickCallback" : "null"
        },
        "ingLabel1" : {
            "type" : "label",
            "position" : [314, 120],
            "hAnchor" : "right",
            "value" : ""
        },
        "ingLabel2" : {
            "type" : "label",
            "position" : [314, 94],
            "hAnchor" : "right",
            "value" : ""
        },
        "ingLabel3" : {
            "type" : "label",
            "position" : [396, 120],
            "hAnchor" : "right",
            "value" : ""
        },
        "ingLabel4" : {
            "type" : "label",
            "position" : [396, 94],
            "hAnchor" : "right",
            "value" : ""
        },
        "ingName1" : {
            "type" : "label",
            "position" : [261, 140],
            "hAnchor" : "left",
            "vAnchor" : "top",
            "wrapWidth" : 60,
            "value" : ""
        },
        "ingName2" : {
            "type" : "label",
            "position" : [261, 114],
            "hAnchor" : "left",
            "vAnchor" : "top",
            "wrapWidth" : 60,
            "value" : ""
        },
        "ingName3" : {
            "type" : "label",
            "position" : [343, 140],
            "hAnchor" : "left",
            "vAnchor" : "top",
            "wrapWidth" : 60,
            "value" : ""
        },
        "ingName4" : {
            "type" : "label",
            "position" : [343, 114],
            "hAnchor" : "left",
            "vAnchor" : "top",
            "wrapWidth" : 60,
            "value" : ""
        },
        "techDescription" : {
            "type" : "label",
            "position" : [262, 186],
            "hAnchor" : "left",
            "vAnchor" : "top",
            "wrapWidth" : 130,
            "value" : ""
        },
        "techIcon" : {
            "type" : "image",
            "position" : [279, 209],
            "file" : "",
            "scale" : 5
        }
    },
    "scripts" : ["/interface/scripted/fm_musicplayer/fm_musicplayer.lua"],
    "scriptWidgetCallbacks" : [
		"categories",
        "filter",
        "btnCraft",
        "itemSelected",
        "doUnlock"
    ],

    "music" : [
        {
			"name" : "Accretion Disc",
			"musicDirectory" : "/music/accretion-disc.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Arctic Battle 1",
			"musicDirectory" : "/music/arctic-battle1-loop.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Arctic Battle 2",
			"musicDirectory" : "/music/arctic-battle2-loop.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Arctic Battle 3",
			"musicDirectory" : "/music/arctic-battle3-loop.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Arctic Constellation 1",
			"musicDirectory" : "/music/arctic-constellation1.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Arctic Constellation 2",
			"musicDirectory" : "/music/arctic-constellation2.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Arctic Exploration 1",
			"musicDirectory" : "/music/arctic-exploration1.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Arctic Exploration 2",
			"musicDirectory" : "/music/arctic-exploration2.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Atlas",
			"musicDirectory" : "/music/atlas.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Atlas 8-bit",
			"musicDirectory" : "/music/atlas-8bit.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Blue Straggler",
			"musicDirectory" : "/music/blue-straggler.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Body Electric",
			"musicDirectory" : "/music/body-electric-loop.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Casiopeia",
			"musicDirectory" : "/music/casiopeia.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Crystal Battle 1",
			"musicDirectory" : "/music/crystal-battle1-loop.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Crystal Exploration 1",
			"musicDirectory" : "/music/crystal-exploration1.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Crystal Exploration 2",
			"musicDirectory" : "/music/crystal-exploration2.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Cygnus X1",
			"musicDirectory" : "/music/cygnus-x1.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Desert Battle 2",
			"musicDirectory" : "/music/desert-battle-2.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Desert Exploration 1",
			"musicDirectory" : "/music/desert-exploration1.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Desert Exploration 2",
			"musicDirectory" : "/music/desert-exploration2.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Drosera",
			"musicDirectory" : "/music/drosera.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Epsilon Indi",
			"musicDirectory" : "/music/epsilon-indi.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Eridanus Supervoid",
			"musicDirectory" : "/music/eridanus-supervoid.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Error 0xbfaf000",
			"musicDirectory" : "/music/error-0xbfaf000.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Europa",
			"musicDirectory" : "/music/europa.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Event Horizon",
			"musicDirectory" : "/music/event-horizon.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Forest Battle 2",
			"musicDirectory" : "/music/forest-battle2.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Forest",
			"musicDirectory" : "/music/forest-loop.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Forsaken Grotto",
			"musicDirectory" : "/music/forsaken-grotto.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Gravitational Collapse",
			"musicDirectory" : "/music/gravitational-collapse.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Gravitational Collapse (Loop)",
			"musicDirectory" : "/music/gravitational-collapse-loop.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Haiku",
			"musicDirectory" : "/music/haiku.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Home (Concept)",
			"musicDirectory" : "/music/home-concept-loop.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Horsehead Nebula",
			"musicDirectory" : "/music/horsehead-nebula.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Hymn to the Stars",
			"musicDirectory" : "/music/hymn-to-the-stars.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Impact Event",
			"musicDirectory" : "/music/impact-event.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Inviolate",
			"musicDirectory" : "/music/inviolate-loop.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "I Was the Sun",
			"musicDirectory" : "/music/i-was-the-sun.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Jupiter",
			"musicDirectory" : "/music/jupiter.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Large Magellanic Cloud",
			"musicDirectory" : "/music/large-magellanic-cloud.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Lava Exploration 1",
			"musicDirectory" : "/music/lava-exploration1.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Lava Exploration 2",
			"musicDirectory" : "/music/lava-exploration2.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "M54",
			"musicDirectory" : "/music/M54.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Mercury",
			"musicDirectory" : "/music/mercury.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Mira",
			"musicDirectory" : "/music/mira.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Nomads",
			"musicDirectory" : "/music/Nomads.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Ocean Battle 1",
			"musicDirectory" : "/music/ocean-battle1-loop.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Ocean Exploration 2",
			"musicDirectory" : "/music/ocean-exploration2.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "On the Beach at Night",
			"musicDirectory" : "/music/on-the-beach-at-night.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Planetarium",
			"musicDirectory" : "/music/planetarium.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Procyon",
			"musicDirectory" : "/music/procyon.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Psyche",
			"musicDirectory" : "/music/psyche.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Scorian Flow",
			"musicDirectory" : "/music/scorian-flow.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Stellar Acclimation",
			"musicDirectory" : "/music/stellar-acclimation.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Stellar Formation",
			"musicDirectory" : "/music/stellarformation.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Temple of Kluex",
			"musicDirectory" : "/music/temple-of-kluex.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Tentacle Battle 1",
			"musicDirectory" : "/music/tentacle-battle1-loop.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Tentacle Exploration 1",
			"musicDirectory" : "/music/tentacle-exploration1.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "The Apex",
			"musicDirectory" : "/music/the-apex.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "The Deep",
			"musicDirectory" : "/music/the-deep.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "The Eternal Tide",
			"musicDirectory" : "/music/the-eternal-tide.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Title Menu Music",
			"musicDirectory" : "/music/title-menu-music.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Title Theme (Concept - Old)",
			"musicDirectory" : "/music/title-theme-concept-old.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Tranquility Base",
			"musicDirectory" : "/music/tranquility-base.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Ultramarine",
			"musicDirectory" : "/music/ultramarine.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Ultramarine (Loop)",
			"musicDirectory" : "/music/ultramarine-loop.ogg",
			"category" : "vanilla"
        },
		{
			"name" : "Vast Immortal Suns",
			"musicDirectory" : "/music/vast-immortal-suns.ogg",
			"category" : "vanilla"
        }
    ]
}