{
	"##album_icons##" : {
		"Starbound" : "/interface/scripted/fm_musicplayer/icon_starbound.png",
		"FU" : "/interface/scripted/fm_musicplayer/icon_fu.png",
		"FM" : "/interface/scripted/fm_musicplayer/icon_fm.png"
	},

	"##files##" : [ ],

	"Starbound" : [
		{
			"name" : "Accretion Disc",
			"directory" : "/music/accretion-disc.ogg"
		},
		{
			"name" : "Arctic Battle 1",
			"directory" : "/music/arctic-battle1-loop.ogg"
		},
		{
			"name" : "Arctic Battle 2",
			"directory" : "/music/arctic-battle2-loop.ogg"
		},
		{
			"name" : "Arctic Battle 3",
			"directory" : "/music/arctic-battle3-loop.ogg"
		},
		{
			"name" : "Arctic Constellation 1",
			"directory" : "/music/arctic-constellation1.ogg"
		},
		{
			"name" : "Arctic Constellation 2",
			"directory" : "/music/arctic-constellation2.ogg"
		},
		{
			"name" : "Arctic Exploration 1",
			"directory" : "/music/arctic-exploration1.ogg"
		},
		{
			"name" : "Arctic Exploration 2",
			"directory" : "/music/arctic-exploration2.ogg"
		},
		{
			"name" : "Atlas",
			"directory" : "/music/atlas.ogg"
		},
		{
			"name" : "Atlas 8-bit",
			"directory" : "/music/atlas-8bit.ogg"
		},
		{
			"name" : "Blue Straggler",
			"directory" : "/music/blue-straggler.ogg"
		},
		{
			"name" : "Body Electric",
			"directory" : "/music/body-electric-loop.ogg"
		},
		{
			"name" : "Casiopeia",
			"directory" : "/music/casiopeia.ogg"
		},
		{
			"name" : "Crystal Battle 1",
			"directory" : "/music/crystal-battle1-loop.ogg"
		},
		{
			"name" : "Crystal Exploration 1",
			"directory" : "/music/crystal-exploration1.ogg"
		},
		{
			"name" : "Crystal Exploration 2",
			"directory" : "/music/crystal-exploration2.ogg"
		},
		{
			"name" : "Cygnus X1",
			"directory" : "/music/cygnus-x1.ogg"
		},
		{
			"name" : "Dead or Alive",
			"directory" : "/music/dead-or-alive.ogg"
		},
		{
			"name" : "Desert Battle 2",
			"directory" : "/music/desert-battle-2.ogg"
		},
		{
			"name" : "Desert Exploration 1",
			"directory" : "/music/desert-exploration1.ogg"
		},
		{
			"name" : "Desert Exploration 2",
			"directory" : "/music/desert-exploration2.ogg"
		},
		{
			"name" : "Drosera",
			"directory" : "/music/drosera.ogg"
		},
		{
			"name" : "Epsilon Indi",
			"directory" : "/music/epsilon-indi.ogg"
		},
		{
			"name" : "Eridanus Supervoid",
			"directory" : "/music/eridanus-supervoid.ogg"
		},
		{
			"name" : "Error 0xbfaf000",
			"directory" : "/music/error-0xbfaf000.ogg"
		},
		{
			"name" : "Europa",
			"directory" : "/music/europa.ogg"
		},
		{
			"name" : "Event Horizon",
			"directory" : "/music/event-horizon.ogg"
		},
		{
			"name" : "Exploration Fanfare",
			"directory" : "/music/explorationfanfare.ogg"
		},
		{
			"name" : "Forest Battle 2",
			"directory" : "/music/forest-battle2.ogg"
		},
		{
			"name" : "Forest",
			"directory" : "/music/forest-loop.ogg"
		},
		{
			"name" : "Forsaken Grotto",
			"directory" : "/music/forsaken-grotto.ogg"
		},
		{
			"name" : "Gravitational Collapse",
			"directory" : "/music/gravitational-collapse.ogg"
		},
		{
			"name" : "Gravitational Collapse (Loop)",
			"directory" : "/music/gravitational-collapse-loop.ogg"
		},
		{
			"name" : "Haiku",
			"directory" : "/music/haiku.ogg"
		},
		{
			"name" : "Home (Concept)",
			"directory" : "/music/home-concept-loop.ogg"
		},
		{
			"name" : "Horsehead Nebula",
			"directory" : "/music/horsehead-nebula.ogg"
		},
		{
			"name" : "House Cleaning",
			"directory" : "/music/housecleaning.ogg"
		},
		{
			"name" : "Hymn to the Stars",
			"directory" : "/music/hymn-to-the-stars.ogg"
		},
		{
			"name" : "Impact Event",
			"directory" : "/music/impact-event.ogg"
		},
		{
			"name" : "Inviolate",
			"directory" : "/music/inviolate-loop.ogg"
		},
		{
			"name" : "I Was the Sun",
			"directory" : "/music/i-was-the-sun.ogg"
		},
		{
			"name" : "Jupiter",
			"directory" : "/music/jupiter.ogg"
		},
		{
			"name" : "Large Magellanic Cloud",
			"directory" : "/music/large-magellanic-cloud.ogg"
		},
		{
			"name" : "Lava Exploration 1",
			"directory" : "/music/lava-exploration1.ogg"
		},
		{
			"name" : "Lava Exploration 2",
			"directory" : "/music/lava-exploration2.ogg"
		},
		{
			"name" : "M54",
			"directory" : "/music/M54.ogg"
		},
		{
			"name" : "Mercury",
			"directory" : "/music/mercury.ogg"
		},
		{
			"name" : "Mira",
			"directory" : "/music/mira.ogg"
		},
		{
			"name" : "Nomads",
			"directory" : "/music/Nomads.ogg"
		},
		{
			"name" : "Ocean Battle 1",
			"directory" : "/music/ocean-battle1-loop.ogg"
		},
		{
			"name" : "Ocean Exploration 2",
			"directory" : "/music/ocean-exploration2.ogg"
		},
		{
			"name" : "On the Beach at Night",
			"directory" : "/music/on-the-beach-at-night.ogg"
		},
		{
			"name" : "Planetarium",
			"directory" : "/music/planetarium.ogg"
		},
		{
			"name" : "Procyon",
			"directory" : "/music/procyon.ogg"
		},
		{
			"name" : "Psyche",
			"directory" : "/music/psyche.ogg"
		},
		{
			"name" : "Scorian Flow",
			"directory" : "/music/scorian-flow.ogg"
		},
		{
			"name" : "Stellar Acclimation",
			"directory" : "/music/stellar-acclimation.ogg"
		},
		{
			"name" : "Stellar Formation",
			"directory" : "/music/stellarformation.ogg"
		},
		{
			"name" : "Swansong",
			"directory" : "/music/swansong.ogg"
		},
		{
			"name" : "Temple of Kluex",
			"directory" : "/music/temple-of-kluex.ogg"
		},
		{
			"name" : "Tentacle Battle 1",
			"directory" : "/music/tentacle-battle1-loop.ogg"
		},
		{
			"name" : "Tentacle Exploration 1",
			"directory" : "/music/tentacle-exploration1.ogg"
		},
		{
			"name" : "The Apex",
			"directory" : "/music/the-apex.ogg"
		},
		{
			"name" : "The Deep",
			"directory" : "/music/the-deep.ogg"
		},
		{
			"name" : "The Eternal Tide",
			"directory" : "/music/the-eternal-tide.ogg"
		},
		{
			"name" : "The Peacekeepers",
			"directory" : "/music/the-peacekeepers.ogg"
		},
		{
			"name" : "Title Menu Music",
			"directory" : "/music/title-menu-music.ogg"
		},
		{
			"name" : "Title Theme (Concept - Old)",
			"directory" : "/music/title-theme-concept-old.ogg"
		},
		{
			"name" : "Tranquility Base",
			"directory" : "/music/tranquility-base.ogg"
		},
		{
			"name" : "Ultramarine",
			"directory" : "/music/ultramarine.ogg"
		},
		{
			"name" : "Ultramarine (Loop)",
			"directory" : "/music/ultramarine-loop.ogg"
		},
		{
			"name" : "Vast Immortal Suns",
			"directory" : "/music/vast-immortal-suns.ogg"
		},


		{
			"name" : "Forest Battle",
			"directory" : "/music/ForestBattle1.ogg"
		},
		{
			"name" : "Forest Exploration 1",
			"directory" : "/music/ForestExploration1.ogg"
		},
		{
			"name" : "Forest Exploration 2",
			"directory" : "/music/ForestExploration2.ogg"
		},
		{
			"name" : "Glacial Horizon",
			"directory" : "/music/GlacialHorizon.ogg"
		},
		{
			"name" : "Ocean Exploration 1",
			"directory" : "/music/OceanExploration1.ogg"
		},
		{
			"name" : "Tentacle Exploration 2",
			"directory" : "/music/TentacleExploration2.ogg"
		},
		{
			"name" : "Via Aurora",
			"directory" : "/music/ViaAurora.ogg"
		}

	],

	"FU" : [
		{
			"name" : "Alien Item",
			"directory" : "/music/alienitem.ogg"
		},
		{
			"name" : "Alien Jungle",
			"directory" : "/music/alienjungle.ogg"
		},
		{
			"name" : "Alien Jungle Boss",
			"directory" : "/music/alienjungleboss.ogg"
		},
		{
			"name" : "Alien Landscape",
			"directory" : "/music/alienlandscape.ogg"
		},
		{
			"name" : "Ambient_Dark",
			"directory" : "/music/ambient_dark.ogg"
		},
		{
			"name" : "ancientguardian",
			"directory" : "/music/ancientguardian.ogg"
		},
		{
			"name" : "Ancient Power",
			"directory" : "/music/ancientpower.ogg"
		},
		{
			"name" : "atropus ambience 1",
			"directory" : "/music/atropusambiance1a.ogg"
		},
		{
			"name" : "atropus ambience 2",
			"directory" : "/music/atropusambiance2a.ogg"
		},
		{
			"name" : "atropus ambience 3",
			"directory" : "/music/atropusambiance3a.ogg"
		},
		{
			"name" : "atropus ambience 4",
			"directory" : "/music/atropusambiance4a.ogg"
		},
		{
			"name" : "Chalky Woods",
			"directory" : "/music/chalkywoods.ogg"
		},
		{
			"name" : "Command",
			"directory" : "/music/command.ogg"
		},
		{
			"name" : "constellations",
			"directory" : "/music/constellations.ogg"
		},
		{
			"name" : "Cthulu Reformed - Cybersphere",
			"directory" : "/music/cybersphere_industrial.ogg"
		},
		{
			"name" : "cute event",
			"directory" : "/music/cuteevent.ogg"
		},
		{
			"name" : "dark ambient 1",
			"directory" : "/music/darkambient2a.ogg"
		},
		{
			"name" : "dark ambient 2",
			"directory" : "/music/darkambient2b.ogg"
		},
		{
			"name" : "depth",
			"directory" : "/music/depth.ogg"
		},
		{
			"name" : "devils_tritone",
			"directory" : "/music/devils_tritone.ogg"
		},
		{
			"name" : "dollboss",
			"directory" : "/music/dollboss.ogg"
		},
		{
			"name" : "dollhouse",
			"directory" : "/music/dollhouse.ogg"
		},
		{
			"name" : "Empire Upperhand",
			"directory" : "/music/empireupperhand.ogg"
		},
		{
			"name" : "Everlight Jungle",
			"directory" : "/music/everlightjungle.ogg"
		},
		{
			"name" : "Factory",
			"directory" : "/music/factory.ogg"
		},
		{
			"name" : "Fear",
			"directory" : "/music/fear.ogg"
		},
		{
			"name" : "Fighter",
			"directory" : "/music/fighter.ogg"
		},
		{
			"name" : "Flooded Complex",
			"directory" : "/music/floodedcomplex.ogg"
		},
		{
			"name" : "Gas Giant",
			"directory" : "/music/gasgiant1.ogg"
		},
		{
			"name" : "Science Outpost",
			"directory" : "/music/scienceoutpost.ogg"
		},
		{
			"name" : "ixoling grounds",
			"directory" : "/music/ixolinggrounds.ogg"
		},
		{
			"name" : "hizzaque",
			"directory" : "/music/hizzaque.ogg"
		},
		{
			"name" : "Industrial",
			"directory" : "/music/industrial.ogg"
		},
		{
			"name" : "infiltration",
			"directory" : "/music/infiltration.ogg"
		},
		{
			"name" : "japanese ruins",
			"directory" : "/music/japaneseruins.ogg"
		},
		{
			"name" : "lethialabs",
			"directory" : "/music/lethialabs.ogg"
		},
		{
			"name" : "lethiafleet",
			"directory" : "/music/lethfleet.ogg"
		},		
		{
			"name" : "Lurking in the Shadows",
			"directory" : "/music/LurkingintheShadows.ogg"
		},
		{
			"name" : "Magicka Forest",
			"directory" : "/music/magickaforest.ogg"
		},
		{
			"name" : "Wizard School",
			"directory" : "/music/wizardabode.ogg"
		},
		{
			"name" : "Mama Poptop",
			"directory" : "/music/mamapoptopboss.ogg"
		},
		{
			"name" : "onslaught",
			"directory" : "/music/onslaught.ogg"
		},
		{
			"name" : "penguin highway",
			"directory" : "/music/penguinhighway.ogg"
		},
		{
			"name" : "robotech",
			"directory" : "/music/robotech.ogg"
		},
		{
			"name" : "ruined monastery",
			"directory" : "/music/ruinedmonastery.ogg"
		},
		{
			"name" : "shoggothbossbattle",
			"directory" : "/music/shoggothbossbattle.ogg"
		},
		{
			"name" : "shores of tranquility",
			"directory" : "/music/shores_of_tranquility.ogg"
		},
		{
			"name" : "stage clear",
			"directory" : "/music/stageclear.ogg"
		},
		{
			"name" : "sunset riders",
			"directory" : "/music/sunset_riders.ogg"
		},
		{
			"name" : "sunset riders",
			"directory" : "/music/ninjapagoda.ogg"
		},
		{
			"name" : "swarm",
			"directory" : "/music/swarm.ogg"
		},
		{
			"name" : "temple",
			"directory" : "/music/temple.ogg"
		},
		{
			"name" : "the invasion",
			"directory" : "/music/theinvasion.ogg"
		},
		{
			"name" : "the tower invincible",
			"directory" : "/music/thetowerinvincible.ogg"
		},
		{
			"name" : "trieste forest",
			"directory" : "/music/triesteforest.ogg"
		},
		{
			"name" : "warlords might",
			"directory" : "/music/warlordsmight.ogg"
		},
		{
			"name" : "wasteland",
			"directory" : "/music/wasteland.ogg"
		},
		{
			"name" : "wastelandboss",
			"directory" : "/music/wastelandboss.ogg"
		},
		{
			"name" : "eight magics",
			"directory" : "/music/eightmagics.ogg"
		},
		{
			"name" : "Ancient Whispers",
			"directory" : "/music/a_thing.ogg"
		},
		{
			"name" : "Vangelis",
			"directory" : "/music/vangelis.ogg"
		},
		{
			"name" : "OTR",
			"directory" : "/music/OTR.ogg"
		},
		{
			"name" : "Depths of Despair",
			"directory" : "/music/depthsOfDespair.ogg"
		},
		{
			"name" : "Myst",
			"directory" : "/music/Myst.ogg"
		},
		{
			"name" : "Melody of Misery",
			"directory" : "/music/MelodyofMisery.ogg"
		},
		{
			"name" : "Something Into Darkness",
			"directory" : "/music/SomethingIntoDarkness.ogg"
		},
		{
			"name" : "Temporis",
			"directory" : "/music/Temporis.ogg"
		},
		{
			"name" : "Srinagar",
			"directory" : "/music/Srinagar.ogg"
		},
		{
			"name" : "Five Years",
			"directory" : "/music/Five-years.ogg"
		},
		{
			"name" : "Expiation",
			"directory" : "/music/Expiation.ogg"
		},
		{
			"name" : "Pure",
			"directory" : "/music/Pure.ogg"
		}
	]

}

