{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "chargeshotboom"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/weapons/branchhit.ogg" ]
    },
    {
      "action" : "light",
      "color" : "green"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.64,
      "harvestLevel" : 99,
      "delaySteps" : 2
    }

  ]
}
