{
  "action" : "actions",
  "list" : [
    {
      "action" : "spark"
    },
    {
      "action" : "projectile",
      "type" : "hellfireexplosion",
      "inheritDamageFactor" :0
    },
    {
      "action" : "projectile",
      "type" : "fufireworkgunred",
      "inheritDamageFactor" :0.05,
      "config" : {
        "timeToLive" : 0.9,
        "actionOnReap" : [
	    {
	      "action" : "projectile",
	      "type" : "hellfireexplosion",
	      "inheritDamageFactor" :0.25
	    },
	    {
	      "action" : "projectile",
	      "type" : "fufireworkred3",
	      "inheritDamageFactor" : 0.6,
	      "fuzzAngle" : 5,
	      "angle" : 0
	    },
	    {
	      "action" : "projectile",
	      "type" : "fufireworkred3",
	      "inheritDamageFactor" : 0.6,
	      "fuzzAngle" : 5,
	      "angle" : 22
	    },
	    {
	      "action" : "projectile",
	      "type" : "fufireworkred3",
	      "inheritDamageFactor" : 0.6,
	      "fuzzAngle" : 5,
	      "angle" : 45
	    },
	    {
	      "action" : "sound",
	      "options" : [ "/sfx/weapons/explosion-large01.ogg" ]
	    },
	    {
	      "action" : "explosion",
	      "foregroundRadius" : 6,
	      "backgroundRadius" : 4,
	      "explosiveDamageAmount" : 32,
	      "harvestLevel" : 99,
	      "delaySteps" : 2
	    }
        ]
      },
      "fuzzAngle" : 360
   },
    {
      "action" : "projectile",
      "type" : "fufireworkgungreen",
      "inheritDamageFactor" :0.05,
      "config" : {
        "timeToLive" : 0.7,
        "actionOnReap" : [
	    {
	      "action" : "projectile",
	      "type" : "hellfireexplosion",
	      "inheritDamageFactor" :0.25
	    },
	    {
	      "action" : "projectile",
	      "type" : "fufireworkblue3",
	      "inheritDamageFactor" : 0.6,
	      "fuzzAngle" : 5,
	      "angle" : 0
	    },
	    {
	      "action" : "projectile",
	      "type" : "fufireworkblue3",
	      "inheritDamageFactor" : 0.6,
	      "fuzzAngle" : 5,
	      "angle" : 22
	    },
	    {
	      "action" : "projectile",
	      "type" : "fufireworkblue3",
	      "inheritDamageFactor" : 0.6,
	      "fuzzAngle" : 5,
	      "angle" : 45
	    },
	    {
	      "action" : "sound",
	      "options" : [ "/sfx/weapons/explosion-large01.ogg" ]
	    },
	    {
	      "action" : "explosion",
	      "foregroundRadius" : 6,
	      "backgroundRadius" : 4,
	      "explosiveDamageAmount" : 32,
	      "harvestLevel" : 99,
	      "delaySteps" : 2
	    }
        ]},
      "fuzzAngle" : 360
   },
    {
      "action" : "projectile",
      "type" : "fufireworkgunyellow",
      "inheritDamageFactor" :0.05,
      "config" : {
        "timeToLive" : 0.6,
        "actionOnReap" : [
	    {
	      "action" : "projectile",
	      "type" : "hellfireexplosion",
	      "inheritDamageFactor" :0.25
	    },
	    {
	      "action" : "projectile",
	      "type" : "fufireworkgunyellow2",
	      "inheritDamageFactor" : 0.6,
	      "fuzzAngle" : 5,
	      "angle" : 0
	    },
	    {
	      "action" : "projectile",
	      "type" : "fufireworkgunyellow2",
	      "inheritDamageFactor" : 0.6,
	      "fuzzAngle" : 5,
	      "angle" : 22
	    },
	    {
	      "action" : "projectile",
	      "type" : "fufireworkgunyellow2",
	      "inheritDamageFactor" : 0.6,
	      "fuzzAngle" : 5,
	      "angle" : 45
	    },
	    {
	      "action" : "sound",
	      "options" : [ "/sfx/weapons/explosion-large01.ogg" ]
	    },
	    {
	      "action" : "explosion",
	      "foregroundRadius" : 6,
	      "backgroundRadius" : 4,
	      "explosiveDamageAmount" : 32,
	      "harvestLevel" : 99,
	      "delaySteps" : 2
	    }
        ]},
      "fuzzAngle" : 360
   },
    {
      "action" : "projectile",
      "type" : "fufireworkgunblue",
      "inheritDamageFactor" :0.05,
      "config" : {
        "timeToLive" : 0.8,
        "damageSourceKind" : "ice",
        "actionOnReap" : [
	    {
	      "action" : "projectile",
	      "type" : "hellfireexplosion",
	      "inheritDamageFactor" :0.25
	    },
	    {
	      "action" : "projectile",
	      "type" : "fufireworkblue3",
	      "inheritDamageFactor" : 0.6,
	      "fuzzAngle" : 5,
	      "angle" : 0
	    },
	    {
	      "action" : "projectile",
	      "type" : "fufireworkblue3",
	      "inheritDamageFactor" : 0.6,
	      "fuzzAngle" : 5,
	      "angle" : 22
	    },
	    {
	      "action" : "projectile",
	      "type" : "fufireworkblue3",
	      "inheritDamageFactor" : 0.6,
	      "fuzzAngle" : 5,
	      "angle" : 45
	    },
	    {
	      "action" : "sound",
	      "options" : [ "/sfx/weapons/explosion-large01.ogg" ]
	    },
	    {
	      "action" : "explosion",
	      "foregroundRadius" : 6,
	      "backgroundRadius" : 4,
	      "explosiveDamageAmount" : 32,
	      "harvestLevel" : 99,
	      "delaySteps" : 2
	    }
        ]
        },
      "fuzzAngle" : 360
   },
    {
      "action" : "projectile",
      "type" : "fufireworkgun",
      "inheritDamageFactor" :0.05,
      "config" : {
        "timeToLive" : 1,
        "damageSourceKind" : "freedom",
        "actionOnReap" : [
	    {
	      "action" : "projectile",
	      "type" : "hellfireexplosion",
	      "inheritDamageFactor" :0.25
	    },
	    {
	      "action" : "projectile",
	      "type" : "fufireworkgun2",
	      "inheritDamageFactor" : 0.6,

	      "fuzzAngle" : 5,
	      "angle" : 0
	    },
	    {
	      "action" : "projectile",
	      "type" : "fufireworkgun2",
	     "inheritDamageFactor" : 0.6,
	      "fuzzAngle" : 5,
	      "angle" : 22
	    },
	    {
	      "action" : "projectile",
	      "type" : "fufireworkgun2",
	      "inheritDamageFactor" : 0.6,
	      "fuzzAngle" : 5,
	      "angle" : 45
	    },
	    {
	      "action" : "sound",
	      "options" : [ "/sfx/weapons/explosion-large01.ogg" ]
	    },
	    {
	      "action" : "explosion",
	      "foregroundRadius" : 6,
	      "backgroundRadius" : 4,
	      "explosiveDamageAmount" : 32,
	      "harvestLevel" : 99,
	      "delaySteps" : 2
	    }
        ]},
      "fuzzAngle" : 360
   },
    {
      "action" : "sound",
      "options" : [ "/sfx/weapons/explosion-large01.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 10,
      "backgroundRadius" : 8,
      "explosiveDamageAmount" : 32,
      "harvestLevel" : 99,
      "delaySteps" : 2
    }
  ]
}



