{
  "action" : "actions",
  "list" : [
    {
      "action" : "spark"
    },
    {
      "action" : "projectile",
      "type" : "hellfireexplosion",
      "inheritDamageFactor" :0
   },     
    {
      "action" : "projectile",
      "type" : "fireworkgunred",
      "inheritDamageFactor" :0.25,
      "config" : {"timeToLive" : 1},
      "fuzzAngle" : 360
   },   
    {
      "action" : "projectile",
      "type" : "fireworkgungreen",
      "inheritDamageFactor" :0.25,
      "config" : {"timeToLive" : 1},
      "fuzzAngle" : 360
   },  
    {
      "action" : "projectile",
      "type" : "fireworkgunyellow",
      "inheritDamageFactor" :0.25,
      "config" : {"timeToLive" : 1},
      "fuzzAngle" : 360
   },  
    {
      "action" : "projectile",
      "type" : "fireworkgunyellow",
      "inheritDamageFactor" :0.25,
      "config" : {"timeToLive" : 1},
      "fuzzAngle" : 360
   },  
    {
      "action" : "projectile",
      "type" : "fireworkgunblue",
      "inheritDamageFactor" :0.25,
      "config" : {"timeToLive" : 1},
      "fuzzAngle" : 360
   },  
    {
      "action" : "projectile",
      "type" : "fireworkgun",
      "inheritDamageFactor" :0.25,
      "config" : {"timeToLive" : 1},
      "fuzzAngle" : 360
   }, 
    {
      "action" : "sound",
      "options" : [ "/sfx/weapons/explosion-large01.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 10,
      "backgroundRadius" : 8,
      "explosiveDamageAmount" : 80,
      "harvestLevel" : 99,
      "delaySteps" : 2
    }
  ]
}



