{
  "action" : "actions",
  "list" : [
    {
      "action" : "spark"
    },
    {
      "action" : "projectile",
      "type" : "hellfireexplosion",
      "inheritDamageFactor" :0
    },     
    {
      "action" : "projectile",
      "type" : "fireworkgunred",
      "inheritDamageFactor" :0.05,
      "config" : {
        "timeToLive" : 0.9, 
        "actionOnReap" : [
	    {
	      "action" : "projectile",
	      "type" : "hellfireexplosion",
	      "inheritDamageFactor" :0.25
	    },
	    {
	      "action" : "projectile",
	      "type" : "fireworkred3",
	      "inheritDamageFactor" : 1,
	      "fuzzAngle" : 5,
	      "angle" : 0
	    },
	    {
	      "action" : "projectile",
	      "type" : "fireworkred3",
	      "inheritDamageFactor" : 1,
	      "fuzzAngle" : 5,
	      "angle" : 22
	    },
	    {
	      "action" : "projectile",
	      "type" : "fireworkred3",
	      "inheritDamageFactor" : 1,
	      "fuzzAngle" : 5,
	      "angle" : 45
	    },		    
	    {
	      "action" : "sound",
	      "options" : [ "/sfx/weapons/explosion-large01.ogg" ]
	    },
	    {
	      "action" : "explosion",
	      "foregroundRadius" : 6,
	      "backgroundRadius" : 4,
	      "explosiveDamageAmount" : 80,
	      "harvestLevel" : 99,
	      "delaySteps" : 2
	    }	    
        ]
      },
      "fuzzAngle" : 360
   },   
    {
      "action" : "projectile",
      "type" : "fireworkgungreen",
      "inheritDamageFactor" :0.05,
      "config" : {
        "timeToLive" : 0.7, 
        "actionOnReap" : [
	    {
	      "action" : "projectile",
	      "type" : "hellfireexplosion",
	      "inheritDamageFactor" :0.25
	    },
	    {
	      "action" : "projectile",
	      "type" : "fireworkgreen3",
	      "inheritDamageFactor" : 1,
	      "fuzzAngle" : 5,
	      "angle" : 0
	    },
	    {
	      "action" : "projectile",
	      "type" : "fireworkgreen3",
	      "inheritDamageFactor" : 1,
	      "fuzzAngle" : 5,
	      "angle" : 22
	    },
	    {
	      "action" : "projectile",
	      "type" : "fireworkgreen3",
	      "inheritDamageFactor" : 1,
	      "fuzzAngle" : 5,
	      "angle" : 45
	    },	    
	    {
	      "action" : "sound",
	      "options" : [ "/sfx/weapons/explosion-large01.ogg" ]
	    },
	    {
	      "action" : "explosion",
	      "foregroundRadius" : 6,
	      "backgroundRadius" : 4,
	      "explosiveDamageAmount" : 80,
	      "harvestLevel" : 99,
	      "delaySteps" : 2
	    }	    
        ]},
      "fuzzAngle" : 360
   },  
    {
      "action" : "projectile",
      "type" : "fireworkgunyellow",
      "inheritDamageFactor" :0.05,
      "config" : {
        "timeToLive" : 0.6, 
        "actionOnReap" : [
	    {
	      "action" : "projectile",
	      "type" : "hellfireexplosion",
	      "inheritDamageFactor" :0.25
	    },
	    {
	      "action" : "projectile",
	      "type" : "fireworkgunyellow2",
	      "inheritDamageFactor" : 1,
	      "fuzzAngle" : 5,
	      "angle" : 0
	    },
	    {
	      "action" : "projectile",
	      "type" : "fireworkgunyellow2",
	      "inheritDamageFactor" : 1,
	      "fuzzAngle" : 5,
	      "angle" : 22
	    },
	    {
	      "action" : "projectile",
	      "type" : "fireworkgunyellow2",
	      "inheritDamageFactor" : 1,
	      "fuzzAngle" : 5,
	      "angle" : 45
	    },	    
	    {
	      "action" : "sound",
	      "options" : [ "/sfx/weapons/explosion-large01.ogg" ]
	    },
	    {
	      "action" : "explosion",
	      "foregroundRadius" : 6,
	      "backgroundRadius" : 4,
	      "explosiveDamageAmount" : 80,
	      "harvestLevel" : 99,
	      "delaySteps" : 2
	    }	    
        ]},
      "fuzzAngle" : 360
   },   
    {
      "action" : "projectile",
      "type" : "fireworkgunblue",
      "inheritDamageFactor" :0.05,
      "config" : {
        "timeToLive" : 0.8, 
        "actionOnReap" : [
	    {
	      "action" : "projectile",
	      "type" : "hellfireexplosion",
	      "inheritDamageFactor" :0.25
	    },
	    {
	      "action" : "projectile",
	      "type" : "fireworkblue3",
	      "inheritDamageFactor" : 1,
	      "fuzzAngle" : 5,
	      "angle" : 0
	    },
	    {
	      "action" : "projectile",
	      "type" : "fireworkblue3",
	      "inheritDamageFactor" : 1,
	      "fuzzAngle" : 5,
	      "angle" : 22
	    },
	    {
	      "action" : "projectile",
	      "type" : "fireworkblue3",
	      "inheritDamageFactor" : 1,
	      "fuzzAngle" : 5,
	      "angle" : 45
	    },	    
	    {
	      "action" : "sound",
	      "options" : [ "/sfx/weapons/explosion-large01.ogg" ]
	    },
	    {
	      "action" : "explosion",
	      "foregroundRadius" : 6,
	      "backgroundRadius" : 4,
	      "explosiveDamageAmount" : 80,
	      "harvestLevel" : 99,
	      "delaySteps" : 2
	    }	    
        ]
        },
      "fuzzAngle" : 360
   },  
    {
      "action" : "projectile",
      "type" : "fireworkgun",
      "inheritDamageFactor" :0.05,
      "config" : {
        "timeToLive" : 1, 
        "actionOnReap" : [
	    {
	      "action" : "projectile",
	      "type" : "hellfireexplosion",
	      "inheritDamageFactor" :0.25
	    },
	    {
	      "action" : "projectile",
	      "type" : "fireworkgun2",
	      "inheritDamageFactor" : 1,
	      "fuzzAngle" : 5,
	      "angle" : 0
	    },
	    {
	      "action" : "projectile",
	      "type" : "fireworkgun2",
	      "inheritDamageFactor" : 1,
	      "fuzzAngle" : 5,
	      "angle" : 22
	    },
	    {
	      "action" : "projectile",
	      "type" : "fireworkgun2",
	      "inheritDamageFactor" : 1,
	      "fuzzAngle" : 5,
	      "angle" : 45
	    },	    
	    {
	      "action" : "sound",
	      "options" : [ "/sfx/weapons/explosion-large01.ogg" ]
	    },
	    {
	      "action" : "explosion",
	      "foregroundRadius" : 6,
	      "backgroundRadius" : 4,
	      "explosiveDamageAmount" : 80,
	      "harvestLevel" : 99,
	      "delaySteps" : 2
	    }	    
        ]},
      "fuzzAngle" : 360
   }, 
    {
      "action" : "sound",
      "options" : [ "/sfx/weapons/explosion-large01.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 10,
      "backgroundRadius" : 8,
      "explosiveDamageAmount" : 80,
      "harvestLevel" : 99,
      "delaySteps" : 2
    }
  ]
}



