{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "hybridminerexplosion6"
    },
    {
      "action" : "light",
      "color" : "blue"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 5,
      "backgroundRadius" : 5,
      "explosiveDamageAmount" : 90,
      "harvestLevel" : 99,
      "delaySteps" : 2
    }

  ]
}
