{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "hybridminerexplosion2"
    },
    {
      "action" : "light",
      "color" : "cyan"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 3,
      "backgroundRadius" : 2,
      "explosiveDamageAmount" : 0.8,
      "harvestLevel" : 99,
      "delaySteps" : 2
    }

  ]
}
