{
  "action" : "actions",
  "list" : [
    {
      "action" : "spark"
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "cultiststaffexplosion"
    },
    {
      "action" : "light",
      "color" : "red"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/weapons/explosion-large01.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 40,
      "backgroundRadius" : 28,
      "explosiveDamageAmount" : 155,

      "delaySteps" : 2
    }
  ]
}



