{
  "action" : "actions",
  "list" : [
    {
      "action" : "spark"
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "energyburstexplosion3"
    },   
    {
      "action" : "light",
      "color" : "green"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/weapons/explosion-large01.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 30,
      "backgroundRadius" : 25,
      "explosiveDamageAmount" : 155,
      
      "delaySteps" : 2
    }
  ]
}



