{
  "action" : "actions",
  "list" : [
    {
      "action" : "spark"
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "energyburstexplosion4"
    },   
    {
      "action" : "light",
      "color" : "green"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/weapons/explosion1.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 5,
      "backgroundRadius" : 5,
      "explosiveDamageAmount" : 2,
     
      "delaySteps" : 2
    }
  ]
}
