{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "penumbriteminerexplosion"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/statuseffects/stimuse.ogg" ]
    },
    {
      "action" : "light",
      "color" : "green"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 3,
      "backgroundRadius" : 1,
      "explosiveDamageAmount" : 0.4,
      "harvestLevel" : 99,
      "delaySteps" : 2
    }

  ]
}
