{
  "action" : "actions",
  "list" : [
    {
      "action" : "spark"
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.1,
      "type" : "isn_fissionrads"
    },
    {
      "action" : "config",
      "file" : "/projectiles/explosions/radexplosion/radexplosion.config"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/weapons/explosion-large01.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 0,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0,
      "delaySteps" : 2
    }
  ]
}



