{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.15,
      "type" : "iceguardianlargeexplosion"
    },
    {
      "action" : "loop",
      "count" : 5,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/statuseffects/frozen/frozen.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.5,
                "variance" : {
                  "timeToLive" : 0.15,
                  "position" : [2.5, 2.5],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 5,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/frozendust2/frozendust2.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 2.0,
                "variance" : {
                  "timeToLive" : 0.4,
                  "position" : [2.5, 2.5],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 5,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/snowballexplosion/snowballexplosion.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 2.0,
                "variance" : {
                  "timeToLive" : 0.4,
                  "position" : [2.5, 2.5],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast_small_ice1.ogg", "/sfx/gun/grenadeblast_small_ice2.ogg", "/sfx/gun/grenadeblast_small_ice3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    }
  ]
}
