{
    "sort" : [
        // head techs
        "distortionsphere",
        "distortionsphere2",
        "spikesphere",
        "aquasphere",
        "sonicsphere",
        "armorsphere",
        "bouncesphere",
        "microsphere",
        "microspherebomb",
        "microspherespider",
        "microsphereprecursor",        
        "physicsfield",
        "physicsfield2",
        "physicsfield3",
        "powerboost",
        "emergencybounce",
        "funball",


        // body techs
        "combatmaneuvering1",
        "dash",
        "airdash",
        "airdash2",
        "blinkdash",
        "teleportdash",
        "dashcombat",
        "sprint",
        "fadesprint",
        "fadesprint2",
        "fadesprint3",
        "speedbootsweak",
        "speedboots",
        "speedboots2",
        "speedboots3",
        "speedbootsprecursor",
        "zeroburst",
        "zeroburst2",
        "zeroburst3",
        "zeroburst4",
        "sonicburst",

        // legs techs
        "doublejump",
        "multijump",
        "quadjump",
        "quintjump",
        "screwattack",
        "rocketjump",
        "rocketboots",
        "rocketboots2",
        "walljump",
        "fuwalljump",
        "fuwalljump2",
        "fuwalljump3",
        "longjump",
        "longjump2",
        "longjump3",
        "longjump4",
        "gravityjump",
        "fuwallclingtriangle",        
        "fuwallcling",
        "fuwallcling2"

    ]
}
