{
	"gui": {
		"background": {
			"type": "background",
			"fileHeader": "/bees/interface/apiary/smallheader.png",
			"fileBody": "/bees/interface/apiary/largebody.png",
			"fileFooter": "/bees/interface/apiary/smallfooter.png"
		},
		"close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"press": "/interface/xpress.png",
			"position": [96, 140]
		},
		"itemGrid": {
			"type": "itemgrid",
			"position": [12, 23],
			"dimensions": [1, 5],
			"spacing": [19, 19],
			"backingImage": "/interface/inventory/grayborder.png"
		},
		"itemGrid2": {
			"type": "itemgrid",
			"slotOffset": 5,
			"position": [41, 23],
			"dimensions": [3, 5],
			"spacing": [19, 19],
			"backingImage": "/interface/inventory/grayborder.png"
		},
		"labelinput": {
			"type": "label",
			"value": "Input",
			"hAnchor": "mid",
			"position": [22, 120]
		},
		"labeloutput": {
			"type": "label",
			"value": "Output",
			"hAnchor": "mid",
			"position": [69, 120]
		}
	}
}
