{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "blistergunexplosion"
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "pusexplosion"
    },    
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/goo_spit2.ogg" ]
    },
    {
      "action" : "liquid",
      "liquid" : "pus",
      "quantity" : 1
    },
    {
      "action" : "light",
      "color" : "blue"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.15,
      "delaySteps" : 2
    }

  ]
}
