{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.2,
      "type" : "mobiusrgunexplosion"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/pulsecannon_blast1.ogg" ]
    },
    {
      "action" : "light",
      "color" : "cyan"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 3,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 3,
      "harvestLevel" : 99,
      "delaySteps" : 2
    }

  ]
}
