{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Marksman's ", "Scout's. ", "Swift ", "Sturdy ", "Strung ", "Quick ", "Deadeye's ", "Accurate ", "Drawing ", "Stabiliser ", "Bullseye ", "Fielding ", "Loose ", "Recurve ", "Compound", "Soldier's ", "Valkyrie's ", "Warpwood ", "Redwood ", "Ironbark ", "Hunter's ", "Archer's " ],
      [ { "mode" : "alts" }, "Star", "Impact", "Short", "Long", "Heavy", "Tsunami", "Force", "Galaxy", "Impact", "Moon", "Saber", "Super", "Power", "Luna", "Poly", "Pixel", "Terra", "Solar", "Storm", "Flat", "Warp", "Soul", "Heart", "Dash", "Terror", "Bolt", "Nimbus", "Straight", "Sky", "Composite", "Reflex", "Skeletal", "Scatter", "Light", "Void", "Fusion", "Phase", "Dawn", "Dusk", "Flux", "Cyclone", "Atomic", "Astral", "Comet", "Warden", "Cross", "Pulse" ],
      [ { "mode" : "alts" }, "bow", "ballistica", "arbalest", "bow", "talon", "striker", "launcher", "crescent", "bolter", "song", "barrage", "hornet", "stinger", "piercer", "repeater", "drawstring", "arrow", "fire" ]
    ]
  ]
}
