{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" },
      "Champion's ", "Blessed ", "Marksman's ", "Scout's ", "Deadeye's ", "Soldier's ", "Valkyrie's ", "Hunter's ", "Archer's ", "Matt Damon's " , "Raider's ", "White Ash ",
      "Swift ", "Sturdy ", "Strung ", "Quick ", "Precise ", "Accurate ", "Stable ", "Sureshot ", "Short ", "Loose ", "Recurved ", "Compound ", "Warpwood ", "Destructive ",
      "Redwood ", "Ironbark ", "Singing ", "Killing ", "Mystic ", "Legendary ", "Famed ", "Generic ", "Knockoff ", "Cheap ", "Flawless ", "Peerless ", "Passable ", "Ash ", "Alien Wood "
      ],
      [ { "mode" : "alts" },
      "Impact", "Short", "Stealth", "Long", "Heavy", "Tsunami", "Force", "Galaxy", "Impact",
      "Moon", "Saber", "Super", "Power", "Lunar", "Poly", "Pixel", "Terra", "Solar", "Storm", "Flat", "Warp",
      "Soul", "Heart", "Dash", "Terror", "Bolt", "Nimbus", "Straight", "Sky", "Composite", "Reflex", "Necro",
      "Scatter", "Light", "Void", "Fusion", "Phase", "Dawn", "Dusk", "Flux", "Cyclone", "Atomic", "Astral", "Comet",
      "Warden", "Cross", "Pulse", "Snarsh", "Demon", "Phase", "Ward", "Plunger", "Tazer",
      "Love", "Reaping", "Purple", "Lash", "Angel", "Destructo-", "Forest", "Life", "Reaping"
      ],
      [ { "mode" : "alts" },
      "star", "bow", "ballista", "bolt", "piercer", "talon", "striker", "launcher", "crescent", "bolter", "song",
      "barrager", "hornet", "stinger", "bleeder", "wing", "fire", "wind", "ejector", "shadow"
      ]
    ]
  ]
}
