{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "acidexplosionshoggoth"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/acid_hit.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 3,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.05,
      "harvestLevel" : 99,
      "delaySteps" : 2
    }

  ]
}
