{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "shoggothcontrolfx"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 8,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.05,
      "harvestLevel" : 99,
      "delaySteps" : 2
    }

  ]
}
