{
  "seed" : {
    "projectileType" : "planet",
    "projectileParams" : {
      "speed" : 30,
      "power" : 10
    },

    "fireTime" : 1.5,
    "fireDt" : 100,
    "cooldown" : 0
  },

  "pollen" : {
    "projectileType" : "pollen",
    "projectileParams" : {
      "speed" : 3,
      "power" : 10
    },

    "fireTime" : 1.5,
    "fireDt" : 100,
    "cooldown" : 0
  }
}
