{
  "openWithInventory" : true,
  "startX" : 100,
  "startY" : 180,
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/catalystfuelrefinery/header.png",
      "fileBody" : "/interface/catalystfuelrefinery/body.png",
      "fileFooter" : "/interface/catalystfuelrefinery/footer.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "  Mech fuel refinery",
      "subtitle" : "  ^#b9b5b2;Refines mech fuel",
      "icon" : {
        "type" : "image",
        "file" : "/interface/catalystfuelrefinery/iconfull.png",
        "zlevel" : -1
      }
    },
    "toggleCrafting" : {
      "type" : "button",
      "position" : [42, 36],
      "base" : "/interface/catalystfuelrefinery/refine.png",
      "hover" : "/interface/catalystfuelrefinery/refineover.png",
      "caption" : "Refine",
      "callback" : "refine"
    },
    "lblText" : {
      "type" : "label",
      "position" : [70, 78],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "^#b9b5b2;Place unrefined fuel and catalyst in the left slots to make mech fuel."
      },
    "itemSlot_input" : {
        "type" : "itemslot",
        "zlevel" : 2,
        "position" : [55, 54],
        "callback" : "insertFuel",
        "rightClickCallback" : "null",
        "backingImage" : "/interface/catalystfuelrefinery/fuelslot.png"
      },
    "itemSlot_catalystInput" : {
        "type" : "itemslot",
        "zlevel" : 2,
        "position" : [25, 54],
        "callback" : "insertCatalyst",
        "rightClickCallback" : "null",
        "backingImage" : "/interface/catalystfuelrefinery/emptycatalyst.png"
    },
    "itemSlot_output" : {
        "type" : "itemslot",
        "zlevel" : 2,
        "position" : [91, 54],
        "callback" : "getFuel",
        "rightClickCallback" : "null",
        "backingImage" : "/interface/inventory/empty.png"
      },
    "progressArrow" : {
      "zlevel" : 1,
      "type" : "progress",
      "position" : [77, 57],
      "background" : "/interface/catalystfuelrefinery/arrow.png",
      "size" : [10, 11],
      "progressSet" : {
        "inner" : "/interface/catalystfuelrefinery/arrowfull.png",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [123, 116],
      "callback" : "close"
    }
  },

  "scriptWidgetCallbacks" :
  [
    "insertFuel",
    "insertCatalyst",
    "getFuel",
    "refine"
  ],

  "scripts" : ["/interface/catalystfuelrefinery/refinery.lua"],
  "scriptDelta" : 1
}
