{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "shockburstexplosion"
    },  
    {
      "action" : "explosion",
      "foregroundRadius" : 0,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0,
      "delaySteps" : 2
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/weapons/shock_impact3.ogg" ]
    }

  ]
}
