{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "elderrailgunexplosion",
      "stop" : true
    },
    {
      "action" : "loop",
      "count" : 10,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "animation" : "/animations/shards/elderrailgunshard.animation",
                "initial" : "drift",
                "rotation" : 3.14,
                "timeToLive" : 0.5
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/weapons/elderchime1.ogg" ]
    },
    {
      "action" : "light",
      "color" : "green"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 12.5,
      "delaySteps" : 2
    }

  ]
}
