{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "darkmatterexplosion"
    },
    {
      "action" : "loop",
      "count" : 10,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "animation" : "/animations/dusttest/dusttest.animation",
                "initial" : "drift",
                "rotation" : 3.14,
                "timeToLive" : 3
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/shockblast.ogg" ]
    },
    {
      "action" : "light",
      "color" : "red"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 8,
      "backgroundRadius" : 4,
      "explosiveDamageAmount" : 75.5,
      "delaySteps" : 2
    }
  ]
}
