{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "fuenergyshardexplosion"
    },
    {
      "action" : "loop",
      "count" : 15,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "ember",
                "size" : 3.0,
                "color" : [253, 143, 77, 255],
                "destructionAction" : "fade",
                "destructionTime" : 1.0,
                "initialVelocity" : [0, 0],
                "finalVelocity" : [0, 0],
                "approach" : [10, 10],
                "timeToLive" : 0.2,
                "layer" : "back",
                "variance" : {
                  "position" : [3, 3],
                  "initialVelocity" : [10, 10],
                  "size" : 2
                }
              }
            }
          ]
        },
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "ember",
                "size" : 2.0,
                "color" : [253, 200, 150, 255],
                "destructionAction" : "fade",
                "destructionTime" : 1.0,
                "initialVelocity" : [0, 0],
                "finalVelocity" : [0, 0],
                "approach" : [10, 10],
                "timeToLive" : 0.2,
                "layer" : "back",
                "variance" : {
                  "position" : [3, 3],
                  "initialVelocity" : [10, 10],
                  "size" : 1
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 1,
      "delaySteps" : 2
    }
  ]
}
