{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "fuguardiandeathexplosion"
    },
    {
      "action" : "loop",
      "count" : 50,
      "body" : [
        {
          "action" : "projectile",
          "inheritDamageFactor" : 1,
          "type" : "ancientenergy",
          "angle" : 90,
          "fuzzAngle" : 180,
          "config" : {
            "speed" : 50,
            "actionOnReap" : [
              {
                "action" : "item",
                "name" : "essence",
                "count" : 15
              },
              {
                "action" : "item",
                "name" : "fumadnessresource",
                "count" : 10
              },
              {
                "action" : "item",
                "name" : "fuscienceresource",
                "count" : 20
              }
            ]
          }
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 20,
      "body" : [
        {
          "action" : "particle",
          "specification" : {
            "type" : "ember",
            "size" : 1.5,
            "color" : [106, 34, 132],
            "fade" : 0.9,
            "approach" : [30, 30],
            "light" : [160, 40, 40],
            "timeToLive" : 1.5,
            "layer" : "middle",
            "variance" : {
              "position" : [2.75, 2.75],
              "finalVelocity" : [3.0, 3.0],
              "size" : 0.5,
              "timeToLive" : 0.7,
              "fade" : 0.3
            }
          }
        },
        {
          "action" : "particle",
          "specification" : {
            "type" : "ember",
            "size" : 1.5,
            "color" : [194, 81, 196],
            "fade" : 0.9,
            "approach" : [30, 30],
            "light" : [160, 40, 40],
            "timeToLive" : 1.5,
            "layer" : "middle",
            "variance" : {
              "position" : [2.75, 2.75],
              "finalVelocity" : [3.0, 3.0],
              "size" : 0.5,
              "timeToLive" : 0.7,
              "fade" : 0.3
            }
          }
        },
        {
          "action" : "particle",
          "specification" : {
            "type" : "ember",
            "size" : 1.5,
            "color" : [210, 156, 231],
            "fade" : 0.9,
            "approach" : [30, 30],
            "light" : [160, 40, 40],
            "timeToLive" : 1.5,
            "layer" : "middle",
            "variance" : {
              "position" : [2.75, 2.75],
              "finalVelocity" : [3.0, 3.0],
              "size" : 0.5,
              "timeToLive" : 0.7,
              "fade" : 0.3
            }
          }
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/npc/boss/guardian_death_explosion.ogg" ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/objects/ancientenergy_pickup1.ogg" ]
    },
    {
      "action" : "sound",
      "options" : ["/sfx/objects/ancientenergy_pickup2.ogg" ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/objects/ancientenergy_pickup3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    }
  ]
}
