{
  "config" : {
    "lineHeight" : 1.1,
    "visTime" : 8,
    "fadeRate" : 1.4,
    "chatHistoryLimit" : 1024,

    "portraitTextOffset" : [28, 0],
    "portraitScale" : 0.5,
    "portraitImageOffset" : [-5, -5],
    "portraitVerticalMargin" : 3,
    "portraitBackground" : "/interface/chat/portraitbg.png",

    "bodyHeight" : 100,
    "expandedBodyHeight" : 190,

    "font" : {
      "baseSize" : 8,
      "itemSize" : 8,
      "nameSize" : 8,
      "defaultColor" : [245, 235, 255]
    },
    "colors" : {
      "local" : "^#55ffcc;",
      "party" : "^#aa88ff;",
      "broadcast" : "^#aaccff;",
      "whisper" : "^#ffaaff;",
      "commandResult" : "^#ffff00;",
      "radioMessage" : "^#ff2200;",
      "world" : "^#aaffcc;"
    }
  },
  "gui" : {
    "panefeature" : {
      "type" : "panefeature",
      "anchor" : "BottomLeft",
      "offset" : [0, 5],
      "positionLocked" : true
    },
    "background" : {
      "type" : "imageStretch",
      "zlevel" : -10,
      "size" : [290, 28], // Height is header + footer, body height is added dynamically
      "direction" : "vertical",
      "stretchSet" : {
        "end" : "/interface/chat/header.png",
        "inner" : "/interface/chat/body.png",
        "begin" : "/interface/chat/footer.png"
      }
    },
    "chatLog" : {
      "type" : "canvas",
      "size" : [260, 60], // Height set dynamically
      "position" : [24, 25]
    },
    "textBoxBG" : {
      "type" : "image",
      "file" : "/interface/chat/chat.png",
      "position" : [20, 10]
    },
    "textBox" : {
      "type" : "textbox",
      "maxWidth" : 241,
      "position" : [44, 13],
      "color" : "white"
    },
    "say" : {
      "type" : "label",
      "value" : "Say:",
      "position" : [24, 13],
      "color" : "#3383DB"
    },
    "upButton" : {
      "type" : "button",
      "position" : [4, 75],
      "base" : "/interface/chat/up.png",
      "hover" : "/interface/chat/upOver.png"
    },
    "downButton" : {
      "type" : "button",
      "position" : [4, 22],
      "base" : "/interface/chat/down.png",
      "hover" : "/interface/chat/downOver.png"
    },
    "bottomButton" : {
      "type" : "button",
      "position" : [4, 1],
      "base" : "/interface/chat/bottom.png",
      "hover" : "/interface/chat/bottomOver.png"
    },
    "filterGroup" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "baseImage" : "/interface/chat/filtertab.png:inactive",
          "baseImageChecked" : "/interface/chat/filtertab.png:active",
          "pressedOffset" : [0, 0],
          "position" : [20, 2],
          "text" : "Main",
          "fontColor" : "#7FBF00",
          "fontColorChecked" : "#AAFF00",
          "data" : {
            "filter" : [],
            "sendMode" : "Broadcast"
          }
        },
        {
          "baseImage" : "/interface/chat/filtertab.png:inactive",
          "baseImageChecked" : "/interface/chat/filtertab.png:active",
          "pressedOffset" : [0, 0],
          "position" : [60, 2],
          "text" : "Global",
          "fontColor" : "#1774BF",
          "fontColorChecked" : "#1F9BFF",
          "data" : {
            "filter" : [ "Broadcast", "Local", "Party" ],
            "sendMode" : "Broadcast"
          }
        },
        {
          "baseImage" : "/interface/chat/filtertab.png:inactive",
          "baseImageChecked" : "/interface/chat/filtertab.png:active",
          "pressedOffset" : [0, 0],
          "position" : [100, 2],
          "text" : "Team",
          "fontColor" : "#7F65BF",
          "fontColorDisabled" : [84, 67, 127],
          "fontColorChecked" : "#AA88FF",
          "data" : {
            "filter" : [ "Party" ],
            "sendMode" : "Party"
          }
        },
        {
          "baseImage" : "/interface/chat/filtertab.png:inactive",
          "disabledImage" : "/interface/chat/filtertab.png:inactive",
          "baseImageChecked" : "/interface/chat/filtertab.png:active",
          "pressedOffset" : [0, 0],
          "position" : [140, 2],
          "text" : "Local",
          "fontColor" : "#3FBF98",
          "fontColorChecked" : "#55FFCC",
          "data" : {
            "filter" : [ "Local" ],
            "sendMode" : "Local"
          }
        },
        {
          "baseImage" : "/interface/chat/filtertab.png:inactive",
          "baseImageChecked" : "/interface/chat/filtertab.png:active",
          "pressedOffset" : [0, 0],
          "position" : [180, 2],
          "text" : "Logs",
          "fontColor" : "#BF7F00",
          "fontColorChecked" : "#FFAA00",
          "data" : {
            "filter" : [ "RadioMessage", "World" ],
            "sendMode" : "Broadcast"
          }
        }
      ]
    }
  },
  "bottom" : {
    "atbottom" : {
      "base" : "/interface/chat/bottom.png",
      "hover" : "/interface/chat/bottomOver.png"
    },
    "scrolling" : {
      "base" : "/interface/chat/atbottom.png",
      "hover" : "/interface/chat/bottomOver.png"
    }
  }
}
