{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/fugravgen/header.png",
      "fileBody" : "/interface/scripted/fugravgen/body.png",
      "fileFooter" : "/interface/scripted/fugravgen/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : " Gravity Console",
      "subtitle" : " Control your Gravity!",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/fugravgen/gravicon.png",
        "zlevel" : -1
      }
    },

    "lblGravity" : {
      "type" : "label",
      "position" : [15, 45],
      "hAnchor" : "left",
      "value" : "GRAVITY"
    },

    "sldGravity" : {
      "type" : "slider",
      "position" : [55, 45],
      "gridImage" : "/interface/optionsmenu/largeselection.png",
      "callback" : "setGravity",
      "range" : [0, 100, 1]
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [177, 85]
    },

    "imgShine" : {
      "type" : "image",
      "file" : "/interface/scripted/fugravgen/shine.png",
      "zlevel" : 2,
      "position" : [0, 8],
      "mouseTransparent" : true
    }
  },

  "scriptWidgetCallbacks" : [
    "setGravity"
  ],

  "scripts" : ["/interface/scripted/fugravgen/fugravgenui.lua"],
  "scriptDelta" : 5
}
