{
	// list of item categories and what general category they fall into for filters
	// khe's note: no capitalization! everything must be lower-case, as the code converts category strings to lowercase.
	"categories" : {
		// special
		"unhandled":"unhandled",
		
		// materials
		"block" : "material",
		"liquid" : "material",
		"platform" : "material",
		"breakable" : "material",

		// tools
		"tool" : "tool",
		"fishingrod" : "tool",
		"miningtool" : "tool",
		"flashlight" : "tool",
		"wiretool" : "tool",
		"beamminingtool" : "tool",
		"tillingtool" : "tool",
		"paintingbeamtool" : "tool",
		"harvestingtool" : "tool",
		"musicalinstrument" : "tool",
		"grapplinghook" : "tool",
		"thrownitem" : "tool",
		"throwableitem" : "tool",
		"console" : "tool",
	

		// rail-related
		"rail" : "rail",
		"railplatform" : "rail",
		"railpoint" : "rail",

		// weapons
		"swtjc_ewg_beampistol" : "weapon",
		"swtjc_ewg_revolver" : "weapon",
		"swtjc_ewg_submachinegun" : "weapon",
		"swtjc_ewg_battlerifle" : "weapon",
		"swtjc_ewg_squadautomaticweapon" : "weapon",
		"swtjc_ewg_beamrifle" : "weapon",
		"swtjc_ewg_antimaterialrifle" : "weapon",
		"swtjc_ewg_sawedoffshotgun" : "weapon",
		"swtjc_ewg_autoshotgun" : "weapon",
		"swtjc_ewg_flakcannon" : "weapon",
		"swtjc_ewg_multigrenadelauncher" : "weapon",
		"swtjc_ewg_minirocketlauncher" : "weapon",
		"^#e43774;upgradeable weapon^reset;" : "weapon",
		"assaultrifle" : "weapon",
		"sidearm" : "weapon",
		"combat rifle" : "weapon",
		"axe" : "weapon",
		"boomerang" : "weapon",
		"bow" : "weapon",
		"broadsword" : "weapon",
		"chakram" : "weapon",
		"crossbow" : "weapon",
		"dagger" : "weapon",
		"fistweapon" : "weapon",
		"grenadelauncher" : "weapon",
		"hammer" : "weapon",
		"machinepistol" : "weapon",
		"pistol" : "weapon",
		"rocketlauncher" : "weapon",
		"shield" : "weapon",
		"shortsword" : "weapon",
		"shotgun" : "weapon",
		"sniperrifle" : "weapon",
		"spear" : "weapon",
		"staff" : "weapon",
		"wand" : "weapon",
		"toy" : "weapon",
		"uniqueweapon" : "weapon",
		"whip" : "weapon",
		"fu_upgrade" : "weapon",
		"fu_warspear" : "weapon",
		"fu_lance" : "weapon",
		"fu_pierce" : "weapon",
		"fu_scythe" : "weapon",
		"quarterstaff" : "weapon",
		"warblade" : "weapon",
		"fu_keening" : "weapon",
		"xbow" : "weapon",
		"longsword" : "weapon",
		"greataxe" : "weapon",
		"rapier" : "weapon",
		"shortspear" : "weapon",
		"katana" : "weapon",
		"scythe" : "weapon",
		"mace" : "weapon",
		"lance" : "weapon",
		"energy" : "weapon",
		"magnorbs" : "weapon",
		"magnorb" : "weapon",
		"bioweapon" : "weapon",
		"plasma" : "weapon",
		"flamethrower" : "weapon",
		"liquidgun" : "weapon",
		"mininglaser" : "weapon",
		"upgradeable" : "weapon",
		"upgradeabletool" : "weapon",
		"rifle" : "weapon",
		"elder" : "weapon",

		// loot stuff
		"coin" : "treasure",
		"celestialitem" : "treasure",
		"vehiclecontroller" : "treasure",
		"bug" : "treasure",
		"largefossil" : "treasure",
		"mysteriousreward" : "treasure",
		"smallfossil" : "treasure",
		"shiplicense" : "treasure",
		"upgradecomponent" : "treasure",
		"tradingcard" : "treasure",
		"trophy" : "treasure",
		"actionfigure" : "treasure",
		"artifact" : "treasure",
		
		//currency has special handling now, and is its own separate category
		"currency" : "currency",

		// consumables
		"drink" : "consumable",
		"preparedfood" : "consumable",
		"food" : "consumable",
		"medicine" : "consumable",

		// augments/collars/dye/rod parts
		"eppaugment" : "augment",
		"fishinglure" : "augment",
		"fishingreel" : "augment",
		"petcollar" : "augment",
		"clothingdye" : "augment",

		// objects
		"techmanagement" : "building",
		"crafting" : "building",
		"machinery" : "building",
		"^orange;centrifuge^reset;" : "building",
		"^orange;extraction device^reset;" : "building",
		"spawner" : "building",
		"terraformer" : "building",
		"trap" : "building",
		"wire" : "building",
		"smart box" : "building",
		"light" : "building",
		"furniture" : "building",
		"decorative" : "building",
		"door" : "building",
		"fridgestorage" : "building",
		"teleporter" : "building",
		"teleportmarker" : "building",
		"shippingcontainer" : "building",
		"storage" : "building",
		// enhanced storage
		"reshapes storage matter":"building",
		"modifies storage matter":"building",
		"extracts storage matter":"building",
		// macrochips
		"virtual circuit manager":"building",
		"macrochip data":"building",
		// gardenbot fences
		"gardenbot fence":"building",

		// farming stuff
		"seed" : "farming",
		"sapling" : "farming",
		"farmbeastegg" : "farming",
		"farmbeastfood" : "farming",
		"farmbeastfeed" : "farming",

		// armors
		"headarmor" : "armor",
		"chestarmor" : "armor",
		"legsarmor" : "armor",
		"backarmor" : "armor",
		"headarmour" : "armor",
		"chestarmour" : "armor",
		"legsarmour" : "armor",
		"backarmour" : "armor",
		"enviroprotectionpack" : "armor",
		"^#e43774;upgradeable epp^reset;","armor",
		"t1armor" : "armor",
		"t1armoru" : "armor",
		"t2armor" : "armor",
		"t2armoru" : "armor",
		"t3armor" : "armor",
		"t3armoru" : "armor",
		"t4armor" : "armor",
		"t4armoru" : "armor",
		"t5armor" : "armor",
		"t5armoru" : "armor",
		"t6armor" : "armor",
		"t6armoru" : "armor",
		"t7armor" : "armor",
		"t7armoru" : "armor",
		"t8armor" : "armor",
		"t8armoru" : "armor",

		// cosmetic armors
		"chestwear" : "cosmeticarmor",
		"legwear" : "cosmeticarmor",
		"headwear" : "cosmeticarmor",
		"backwear" : "cosmeticarmor",

		// crafting stuff
		"salvage component":"reagent",
		"craftingmaterial" : "reagent",
		"cookingingredient" : "reagent",
		"fuel" : "reagent",

		// books
		"blueprint" : "book",
		"codex" : "book",

		// generic crap
		"foodjunk" : "generic",
		"junk" : "generic",
		"other" : "generic",
		"generic" : "generic",
		"quest" : "generic",
		"tech" : "generic",
		"science!":"generic",

		// beez
		"queen" : "bee",
		"drone" : "bee"
	}
}
