{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/objects/minibiome/precursor/precursoromegagenerator/chestheader.png",
      "fileBody" : "/objects/minibiome/precursor/precursoromegagenerator/precursorgenerator.png",
      "fileFooter" : "/objects/minibiome/precursor/precursoromegagenerator/chestfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      "position" : [145, 127]
    },
    "objectImage" : {
      "type" : "image",
      "position" : [39, 79],
      "file" : "",
      "centered" : true,
      "maxSize" : [50, 50],
      "minSize" : [50, 50]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [90, 83],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/precursorborderempty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "slotOffset" : 1,
      "position" : [112, 83],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/precursorborder.png"
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "slotOffset" : 2,
      "position" : [133, 83],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/precursorborder.png"
    },

    "dragDrop" : {
      "type" : "label",
      "value" : "",
      "hAnchor" : "left",
      "position" : [6, 40]
    }//,
    //"count" : {
    //  "type" : "label",
    //  "value" : "^yellow;FUEL^reset;",
    //  "hAnchor" : "mid",
    //  "position" : [100, 104]
    //},
    //"overlay" : {
    //  "type" : "image",
    //  "file" : "/interface/chests/shine1to16.png",
    //  "position" : [0, 0]
    //}
  }
}
