{
   "blockKey" : [
    {
      "value" : [255, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false
    },

    {
      "value" : [0, 0, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true
    },

    {
      "value" : [255, 0, 0, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true
    },

	 {
      "value" : [0, 255, 0, 255],
      "backgroundBlock" : true,
      "flags" : [ "shipLockerPosition" ],
      "object" : "peglacishiplocker",
      "objectParameters" : {
        "treasurePools" : [ "peglaciStarterTreasure" ],
        "level" : 1,
        "unbreakable" : true
      },
      "objectResidual" : true
    },
	  
		 {
      "value" : [123, 255, 0, 255],
      "backgroundBlock" : true,
      "object" : "peglacishiplockeroff",
      "objectParameters" : {
        "unbreakable" : true
      }
    },


   {
      "backgroundBlock": true,
      "object": "peglacitechstation",
      "objectParameters": {
        "unbreakable": true
      },
      "value": [
        142,
        255,
        142,
        255
      ]
    },

    {
      "value" : [0, 21, 128, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "peglaciinscribedpykreteblock",
      "object" : "peglaciresearchstation",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

     {
      "backgroundBlock": true,
      "object": "peglacifuelhatch",
      "objectParameters": {
        "unbreakable": true
      },
      "value": [
        255,
        87,
        81,
        255
      ]
    },
	
	{
      "backgroundBlock": true,
      "object": "peglacifuelhatchoff",
      "objectParameters": {
        "unbreakable": true
      },
      "value": [
        250,
        87,
        81,
        255
      ]
    },
	
	
     {
      "backgroundBlock": true,
      "object": "peglaciteleporter",
      "objectParameters": {
        "unbreakable": true
      },
	   "anchor" : true,
      "value": [
		156,
        0,
        255,
        255
      ]
    },
	
	 {
      "backgroundBlock": true,
      "object": "peglaciteleporteroff",
      "objectParameters": {
        "unbreakable": true
      },
	   "anchor" : true,
      "value": [
		150,
        0,
        255,
        255
      ]
    },

    {
      "value" : [255, 251, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "peglacihorcable",
      "object" : "peglacilightstriphoriz",
      "objectResidual" : true
    },
  
    {
      "value" : [174, 137, 81, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "shipengine",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [167, 167, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterflameapex",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

	   {
      "value" : [162, 167, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterpeglaciT5",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
	
	   {
      "value" : [163, 167, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterpeglaciT6",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
	
		   {
      "value" : [164, 167, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterpeglaciT8",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
	
    {
      "value" : [165, 165, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterflameapex2",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [168, 168, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterflamehuman2",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [170, 170, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterflameapex3",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [180, 180, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterflamehuman3",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [166, 166, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterflame",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [100, 100, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "bigboosterflameavian",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [200, 200, 200, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "bigboosterflamehuman",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [168, 168, 168, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "peglacismallbooster",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

	 {
      "value" : [169, 169, 169, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "peglacismallbooster2",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
	
    {
      "value" : [190, 190, 190, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "smallboosterflamehuman2",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
	
    {
      "value" : [0, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "peglacicaptainschair",
      "objectDirection" : "right",
      "objectParameters" : {
        "unbreakable" : true
      }, "flags": [
        "playerSpawn"
      ]
    },
	
	 {
      "value" : [10, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "peglacicaptainschairoff",
      "objectDirection" : "right",
      "objectParameters" : {
        "unbreakable" : true
      }, "flags": [
        "playerSpawn"
      ]
    },

    {
      "value" : [122, 122, 122, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "invisiblelight",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
  
    {
      "value" : [255, 232, 128, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "invisiblesparker",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [255, 255, 144],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "peglaciinscribedpykreteblock"
    },
	
	 {
      "value" : [250, 250, 100],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "peglacipykreteblock"
    },
	
	 {
      "value" : [250, 250, 200],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "peglacihorcable"
    },

	 {
      "value" : [250, 200, 200],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "castlewalls1"
    },

    {
      "value" : [255, 255, 220],
      "foregroundBlock" : true,
      "backgroundBlock" : false,
      "foregroundMat" : "hazard",
      "foregroundResidual" : true
    },

    {
      "value" : [255, 200, 220],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
      "foregroundMat" : "hazard",
      "foregroundResidual" : true,
      "backgroundMat" : "apexshipdetails"
    }
  ]
}
