{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.5,
      "type" : "atomsmasherboomyellow"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 5,
      "backgroundRadius" : 3,
      "explosiveDamageAmount" : 30,
      "delaySteps" : 0
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/weapons/fusionexplosion.ogg" ]
    }

  ]
}
