{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1.0,
      "type" : "atomsmasherboom"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 6,
      "backgroundRadius" : 4,
      "explosiveDamageAmount" : 80,
      "delaySteps" : 0
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/weapons/fusionexplosion.ogg" ]
    }

  ]
}
