{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1.0,
      "type" : "atomsmasherboom"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 2,
      "explosiveDamageAmount" : 3,
      "delaySteps" : 0
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/weapons/illusion.wav" ]
    }

  ]
}
