{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.15,
      "type" : "pusexplosion"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 2,
      "explosiveDamageAmount" : 0.15,
      "delaySteps" : 2
    },
    { 
      "action" : "liquid", 
      "liquid" : "pus", "quantity" : 10 
    },   
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/goocluster_pop.ogg" ]
    }

  ]
}
