{
  "troughlist" : [
    "trough",
	"largetrough"
  ],
  "foodlists" : {
    "robo" : [
	  "automato",
	  "boltbulb",
	  "currentcorn",
	  "diodia",
	  "batterystemcharge"
	],
	
    "herbivore" : [
          "cattlefeed",
          "apple",
          "pear",
          "peach",
          "varanberry",
	  "alienfruit",
	  "avesmingo",
	  "banana",
	  "beakseed",
	  "boneboo",
	  "carrot",
	  "chili",
	  "coralcreep",
	  "corn",
	  "dirturchin",
	  "eggshoot",
	  "feathercrown",
	  "grapes",
	  "greenapple",
	  "kiwi",
	  "neonmelon",
	  "oculemon",
	  "orange",
	  "pearlpea",
	  "pineapple",
	  "potato",
	  "pussplum",
	  "redapple",
	  "reefpod",
	  "thornfruit",
	  "tomato",
	  "toxictop",
	  "wartweed",
	  "petfood2"
	],
	"carnivore" : [
	  "petfood4",
	  "petfood3",
	  "petfood1",
	  "alienmeat",
	  "cookedalienmeat",
	  "cookedbacon",
	  "cookedfish",
	  "cookedham",
	  "cookedpoultry",
	  "cookedribmeat",
	  "cookedtentacle",
	  "rawbacon",
	  "rawfish",
	  "rawham",
	  "rawpoultry",
	  "rawribmeat",
	  "rawtentacle"
	]
  }
}