{
  "troughlist" : [
        "trough",
	"largetrough",
	"irontrough",
	"fuchickenfeeder"
  ],
  
  "liquidlists" : {//liquids currently unused
    "silicon" : [
	  "vialproto"
	],
    "carbon" : [
	  "liquidwater"
	],
    "elder" : [
	  "liquidelderfluid"
	] 	
  },
  
  "foodlists" : {
    "special1" : [
	  "liquidbeer"
	],  
    "robo" : [
	  "automato",
	  "boltbulb",
	  "currentcorn",
	  "diodia",
	  "batterystemcharge",
	  "nailery",
	  "aabattery",
	  "battery",
	  "ff_spareparts",
	  "liquidtar",
	  "fu_carbon",
	  "lead",
	  "ff_silicon"
	],	
    "herbivore" : [
          "vmite",
          "cattlefeed",
          "cattlefeed2",
          "cattlefeed3",
          "cattlefeed4",
          "apple",
          "pear",
          "peach",
          "varanberry",
	  "alienfruit",
	  "avesmingo",
	  "banana",
	  "beakseed",
	  "boneboo",
	  "carrot",
	  "chili",
	  "coralcreep",
	  "corn",
	  "dirturchin",
	  "eggshoot",
	  "feathercrown",
	  "grapes",
	  "greenapple",
	  "kiwi",
	  "neonmelon",
	  "oculemon",
	  "orange",
	  "pearlpea",
	  "pineapple",
	  "potato",
	  "pussplum",
	  "redapple",
	  "reefpod",
	  "thornfruit",
	  "tomato",
	  "toxictop",
	  "wheat",
	  "wartweed",
	  "petfood2",
	  "aquapod",
	  "beetlesproutflower",
	  "biscorn",
	  "blexsap",
	  "blisterbushplantfood",
	  "bluemelon",
	  "capriole",
	  "cellpods",
	  "corvex",
	  "dragonsbeard",
	  "energiflower",
	  "fayshroom",
	  "floralytcandy",
	  "fusnowberry",
	  "fuspongeweed",
	  "garpberry",
	  "gemglow",
	  "ghostmushroom",
	  "ginseng",
	  "goldenglowleaf",
	  "goldenroot",
	  "goldenseasponge",
	  "goldshroom",
	  "greenleaf",
	  "guam",
	  "haleflowerpetal",
	  "ighantbulb",
	  "itahead",
	  "jillyroot",
	  "kadavancactus",
	  "kamaranpods",
	  "lactariusindigo",
	  "leafshell",
	  "littlegoodberry",
	  "littlerascal",
	  "lumivine",
	  "melodistar",
	  "minkocoapod",
	  "mint",
	  "miraclegrass",
	  "mireurchin",
	  "nisscap",
	  "nyanifruit",
	  "onion",
	  "pasaka",
	  "pearlfruit",
	  "pekkit",
	  "petrifiedroot",
	  "pinkloom",
	  "rockroot",
	  "shadowroot",
	  "shinyacorn",
	  "silverleaf",
	  "slimeleaf",
	  "sprintvaultcoil",
	  "sweetscoop",
	  "talonseed",
	  "tearnut",
	  "tetherhookwheel",
	  "tyvokkhook",
	  "vanusflower",
	  "varanberry",
	  "vextonguestamen",
	  "voritcap",
	  "wretchel",
	  "wubstem",
	  "yellowfoot",
	  "zathitails",
	  "dunestalk",
	  "erithianalgae",
	  "avikanspices",
	  "kirifruit",
	  "nakatibark",
	  "pirufrond",
	  "darklightblossom",
	  "fletchweedstem",
	  "garikleafblossom",
	  "herrodbushgem",
	  "kramilspine",
	  "quellstembud",
	  "victorleafbud",
	  "whitespineshell"
	],
	"specialomnivore" : [
          "cattlefeed",
          "cattlefeed2",
          "cattlefeed3",
          "cattlefeed4",	
	  "xaxwing",
	  "teratomato",
	  "bloodroot",
	  "tentacleproduce",
	  "porphisblossom",
	  "neuropod",
	  "lasherstem",
	  "glarestalkeye",
	  "gazelemon",
	  "genesiberry",	
	  "petfood4",
	  "petfood3",
	  "petfood1",	
	  "egg",
	  "cookedalienmeat",
	  "cookedbacon",
	  "cookedfish",
	  "cookedham",
	  "cookedpoultry",
	  "cookedribmeat",
	  "cookedtentacle"	  
	],
	
	"carnivore" : [
	  "slew",
	  "slew2",
	  "slew3",
	  "slew4",
	  "xaxwing",
	  "teratomato",
	  "bloodroot",
	  "tentacleproduce",
	  "porphisblossom",
	  "neuropod",
	  "lasherstem",
	  "glarestalkeye",
	  "gazelemon",
	  "genesiberry",
	  "petfood4",
	  "petfood3",
	  "petfood1",
	  "alienmeat",
	  "cookedalienmeat",
	  "cookedbacon",
	  "cookedfish",
	  "cookedham",
	  "cookedpoultry",
	  "cookedribmeat",
	  "cookedtentacle",
	  "rawbacon",
	  "rawfish",
	  "rawham",
	  "rawpoultry",
	  "rawribmeat",
	  "rawtentacle",
	  "egg",
	  "crunchychick"
	]
  },
  
  "tileMods" : {
    "mainTiles" : [
      "aridgrass",
      "alpinegrass",
      "charredgrass",
      "colorfulgrass",
      "crystalgrass",
      "flowerygrass",
      "grass",
      "junglegrass",
      "thickgrass",
      "toxicgrass",
      "moss",
      "savannahgrass",
      "boggrass",
      "fualiengrass",
      "fualiengrass2",
      "lushgrass",
      "mossgrass1",
      "mossgrass2",
      "penumbragrass",
      "protograss",
      "rainbowgrass",
      "thickjunglegrass"
    ]
  }
}