// Stats:
// baseProduction : Base drone production at 100% hive efficiency
// droneToughness : Number of mites required to kill a drone. Also used in bee on bee fights
// droneBreedRate : Base drone breeding rate
// queenBreedRate : Base queen breeding rate
// queenLifespan : How many bee production ticks before the queen dies (up to 1295)
// mutationChance : Genetic stability. The higher the value is, the less likely the next generation will have the same stats.
// miteResistance : Mite birth rate modifier ("ZZ": 12.95 | "I0": 0 | "00": -12.95 | value:modifier | jumps by 0.01)
// workTime : Diurnal(0), nocturnal(1), or both(2)

// Mutation chance jumps by (math.floor(100/1295*100*n)*0.01) each increment:
// "00" : 0 | "01" : 0.07 | "HZ" : 49.96 | "ZZ" : 100

{
	"beeUpdateInterval" : 1, // In seconds
	"unloadedUpdateInterval" : 5, // Delay between bee ticks while the object is not loaded in seconds
	"maxSimulatedTicksPerUpdate" : 1, // Maximum simulated ticks per update, to prevent potential lag when the apiary needs to catch up on a lot of ticks
	
	// Biome likeness production modifiers (1 = 100% = normal)
	// Deadly biome not listed here as it halts production
	"biomeDisliked" : 0.5,
	"biomeLiked" : 1,
	"biomeFavorite" : 1.5,
	
	// Flower likeness related values
	"flowerDefaultLikeness" : 0.13, // Default modifier for plants without an entry for this bee
	"flowerMinimumModifierToWork" : 0.80, // Minimal flower modifier required for the hive to function
	"flowerSearchRadius" : 10,
	"flowerMinimum" : 5, // Minimal amount of flowers without further penalties
	"flowerMaximum" : 10, // Maximum amount of flowers the hive can see (closest)
	"flowerExtrasFavorModifier" : 0.33, // Modifier affecting favor of flowers past the minimal flower count
	"flowerLastTwoStagesModifier" : 1, // Multiplier affecting the modifier applied to the bee when the plant is on its last two stages
	"flowerLowerStagesModifier" : 0.75, // Multiplier affecting the modifier applied to the bee when the plant is on any other stage
	
	// Formula for less than minimal flower count
	//		flowerModifier = flowerModifier / (flowerMinFlowers / flowerCount)
	// Formula for more than minimal flower count
	//		flowerModifier = flowerModifier + flowerModifier / (flowerMinFlowers / flowerCount * flowerExtrasFavorModifier)
	
	
	
	// Values for capping maximum bee entities spawned from hives
	"maxBeeEntities" : 10,
	"beeEntityCheckRadius" : 25,
	"extraBeeEntitiesPerApiary" : 3,
	
	// Chance for a bee entity to spawn from the apiary (happens every queen bee tick)
	"beeSpawnChance" : 0.01, // 1 = 100%
	
	// Bee rivalries.
	"rivals" : {
		"carpenter" : "mason",
		"mason" : "carpenter",		
		"plasterer" : "squash",
		"squash" : "leafcutter",
		"leafcutter" : "sweat",
		"sweat" : "honey",
		"honey" : "plasterer"
	},
	
	"mites" : {
		"growthStatic" : 1,				// Static mite growth after infestation
		"growthPercentile" : 0.05,			// Percentile mite growth after infestation
		"infestationChance" : 0.005,			// Chance for a mite infestation to begin (checked for each bee production tick)
		"growthPercentileMinimum" : 0.0001		// Lowest value possible for the percentile growth (Since it gets reduced by mite resistance stat)
	},
	
	// Table containing two values which determine the random modifier to productions (100 in both = no random factor)
	"productionRandomModifierRange" : [90,110],
	
	// Production required to produce a young queen or a drone. How fast this actually happens depends on the bees stats
	"youngQueenProductionRequirement" : 100,
	"droneProductionRequirement" : 5,
	
	// Values responsible for queenless hives drone decay
	"droneDecayPercentile" : 0.01, // % of current amount to die each decay
	"droneDecayFlat" : 1, // flat amount to die each decay
	
	"flowerAffinities" : [],
	
	"biomeLikeness" : {
	// Biome likeness -
	// 0 = deadly (no production)
	// 1 = disliked (default. Not setting a biome to a value counts it as disliked) (-50% production modifier)
	// 2 = liked (no production modifier)
	// 3 = favorite (+50% production modifier)
	
	//	"beeFamily" : {
	//		"biome" : likenessValue,
	//		"biome" : likenessValue
	//	},
		
		"carpenter" : {
			"garden" : 3,
			"forest" : 2,
			"desert" : 0
		},
		"honey" : {
			"garden" : 3,
			"forest" : 2,
			"desert" : 0
		},
		"leafcutter" : {
			"garden" : 3,
			"forest" : 2,
			"desert" : 0
		},
		"mason" : {
			"garden" : 3,
			"forest" : 2,
			"desert" : 0
		},
		"plasterer" : {
			"garden" : 3,
			"forest" : 2,
			"desert" : 0
		},
		"squash" : {
			"garden" : 3,
			"forest" : 2,
			"desert" : 0
		},
		"sweat" : {
			"garden" : 3,
			"forest" : 2,
			"desert" : 0
		}
	},

// how to SPAWN these things
// local genome = genelib.generateDefaultGenome(beeTypeNameHere);
// Replace first two characters of the genome
// world.spawnItem(beeTypeNameHere, position, count, {genome = genome, wild = true}, velocity, intangibleTime)	
	"stats" : {
			//{
			//	// Default values for a new bees, for adding more later (or editing)
			//	"name" : "artisan",
			//	"baseProduction" : 1, //# of resources per tick
			//	"droneToughness" : 500,
			//	"droneBreedRate" : 4,
			//	"queenBreedRate" : 1,
			//	"queenLifespan" : 800,
			//	"mutationChance" : 1,	// Number between 0 and 1295. 0 = 0%, 1295 = 100%, jumps in increments of ~0.07
			//	"miteResistance" : 2, // value between -6.48 and 6.48
			//	"workTime" : 0, // 0 = day, 1 = night, 2 = both
			//	
			//	"production" : {
			//		"coalore" : 500  //basically, item produced and how frequently it is produced. Larger number takes longer.
			//	}
			//},	
		"carpenter" : [
			{
				"name" : "crystalwing",
				"baseProduction" : 1, 
				"droneToughness" : 709, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 600,  
				"mutationChance" : 3.34,	
				"miteResistance" : 4, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					//???
					"liquidcrystal" : 75,
				//comb
					"preciouscomb" : 300,
				//drops
					"crystal" : 100,
					"feya" : 100,
					"opul" : 100,
					"emera" : 100,
					"thanatite" : 100,
					"upilite" : 100,
					"tokanite" : 100,
					"blooddiamond" : 2000,
					"rainbowwood" : 2500,
					"alienweirdwood" : 500
				}
			},		
		
			{
				// Artisan bees are especially good at crafting their specific resources, and have a chance to produce rarer items
				"name" : "artisan",
				"baseProduction" : 3, 
				"droneToughness" : 900, 
				"droneBreedRate" : 2,   
				"queenBreedRate" : 5,   
				"queenLifespan" : 300,  
				"mutationChance" : 5,	
				"miteResistance" : 3, 
				"workTime" : 2, 
				
				"production" : {
				// honey
				        "liquidalienjuice" : 100,
				        "liquidbeer" : 300,
				//comb
				        "exceptionalcomb": 300,
				//drops
					"agaranichor" : 300,
					"rainbowwood" : 500,
					"alienweirdwood" : 900 
				}
			},
			{
				//Carpenter queens are among the hardiest there are, but they breed slowly
				"name" : "carpenter",
				"baseProduction" : 2, 
				"droneToughness" : 500, 
				"droneBreedRate" : 4,   
				"queenBreedRate" : 0.5,   
				"queenLifespan" : 1200,  
				"mutationChance" : 3,	
				"miteResistance" : 1, 
				"workTime" : 0, 
				
				"production" : {
				// honey
				       "fu_liquidhoney" : 90,
				//comb
				        "junglecomb": 300,				
				//drops
					"logblock" : 200,
					"agaranichor" : 300
				}
			},
			{
				"name" : "inventor",
				"baseProduction" : 3, 
				"droneToughness" : 900, 
				"droneBreedRate" : 2,   
				"queenBreedRate" : 5,   
				"queenLifespan" : 300,  
				"mutationChance" : 5,	
				"miteResistance" : 3, 
				"workTime" : 0,
				
				"production" : {
				// honey
					"fu_liquidhoney" : 90,
				//comb
				        "preciouscomb": 300,				
				//drops
					"volatilepowder" : 500,
					"fu_oxygen" : 200,
					"fu_carbondioxide" : 200,
					"fu_hydrogen" : 200,
					"fu_nitrogen" : 200 
				}
			},
			{
				"name" : "scoria",
				"baseProduction" : 1,
				"droneToughness" : 2000,
				"droneBreedRate" : 3,
				"queenBreedRate" : 1.5,
				"queenLifespan" : 700,
				"mutationChance" : 1,
				"miteResistance" : 6,
				"workTime" : 0, 
				
				"production" : {
				// honey
					"liquidlava" : 90,
				//comb
				        "magmacomb": 300,				
				//drops
					"scorchedcore" : 400,
					"ammoniumsulfate" : 200 
				}
			}
		],
		
		"honey" : [
			{
				"name" : "honey",
				"baseProduction" : 1,
				"droneToughness" : 500,
				"droneBreedRate" : 5,
				"queenBreedRate" : 1,
				"queenLifespan" : 1000,
				"mutationChance" : 2,
				"miteResistance" : 2,
				"workTime" : 0,
				
				"production" : {
				//honey type
					"fu_liquidhoney" : 10,
				//comb type
					"normalcomb" : 100,
				//drops	
					"waxchunk" : 150,
					"dirtmaterial" : 70,
					"beesilk" : 650
				}
			},
			{
				"name" : "exspiravit",
				"baseProduction" : 1,
				"droneToughness" : 500,
				"droneBreedRate" : 12,
				"queenBreedRate" : 2,
				"queenLifespan" : 500,
				"mutationChance" : 5,
				"miteResistance" : 1,
				"workTime" : 1,
				
				"production" : {
				// honey type
					"fu_honeyspirit" : 40,
				// comb type	
					"mooncomb" : 100,
				// drops	
					"ghostlywax" : 120,
					"beesilk" : 450
				}
			},
			{
				"name" : "bumblebee",
				"baseProduction" : 1,
				"droneToughness" : 800,
				"droneBreedRate" : 2,
				"queenBreedRate" : 1,
				"queenLifespan" : 1000,
				"mutationChance" : 1,
				"miteResistance" : 6,
				"workTime" : 0,
				
				"production" : {
				// honey type
					"fu_liquidhoney" : 70,
				// comb type
					"forestcomb" : 90,
				// drops	
					"waxchunk" : 120,
					"dirtmaterial" : 60,
					"beesilk" : 350
				}
			},
			{
				"name" : "orchid",
				"baseProduction" : 2,
				"droneToughness" : 300,
				"droneBreedRate" : 3,
				"queenBreedRate" : 1,
				"queenLifespan" : 800,
				"mutationChance" : 1,
				"miteResistance" : 1,
				"workTime" : 0,
				
				"production" : {
				//honey type
					"waxchunk" : 90,
				//comb	
					"flowercomb" : 90,
				//drops	
					"beeflower" : 400,
					"dirtmaterial" : 80,
					"beesilk" : 650
				}
			}
		],
		
		"leafcutter" : [
			{
				"name" : "tunguskudae",
				"baseProduction" : 3, 
				"droneToughness" : 900, 
				"droneBreedRate" : 2,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 450,  
				"mutationChance" : 8,	
				"miteResistance" : 3, 
				"workTime" : 2, 
				
				"production" : {
				// honey
					"fu_liquidhoney" : 70,
				//comb
					"aegisaltcomb" : 320,
				//drops
					"plutoniumore" : 350,
					"uraniumore" : 400,
					"neptuniumore" : 450,
					"thoriumore" : 500,
					"plantmatter" : 80,
					"irradiatedwall" : 100,
					"beesilk" : 500
					
				}
			},
			{
				"name" : "sandprowler",
				"baseProduction" : 2, 
				"droneToughness" : 500, 
				"droneBreedRate" : 2,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 500,  
				"mutationChance" : 2,	
				"miteResistance" : 5, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"fu_liquidhoney" : 70,
				//comb
					"aridcomb" : 300,
				//drops
					"bugshell" : 500,
					"liquidoil" : 200,
					"biosample" : 145,
					"goldensand" : 500,
					"sand2" : 50,
					"sand" : 20,
					"coalore" : 70,
					"beesilk" : 500
				}
			},
			{
				"name" : "goldensaint",
				"baseProduction" : 1, 
				"droneToughness" : 528, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 625,  
				"mutationChance" : 2,	
				"miteResistance" : 2, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"fu_liquidhoney" : 70,
				//comb
					"godlycomb" : 670,
				//drops
					"goldenfleece" : 900,
					"goldensand" : 90,
					"goldenleaves" : 45,
					"beesilk" : 500					
				}
			}
		],
		
		"mason" : [
			{
				"name" : "devoratrix",
				"baseProduction" : 1, 
				"droneToughness" : 709, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 600,  
				"mutationChance" : 3.34,	
				"miteResistance" : 4, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"fu_liquidhoneyred" : 50,
					"liquidblood" : 105,
				//comb
					"coppercomb" : 300,
				//drops
					"alienmeat" : 100,
					"bone" : 100,
					"boneyflesh" : 90
				}
			},		
			{
				"name" : "aquarum",
				"baseProduction" : 1, 
				"droneToughness" : 328, 
				"droneBreedRate" : 2,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 700,  
				"mutationChance" : 2,	
				"miteResistance" : 2, 
				"workTime" : 2, 
				
				"production" : {
				// honey
					"fu_honeyice" : 50,
					"ff_mercury" : 75,
				//comb
					"violiumcomb" : 300,
				//drops
					"vialproto" : 700,
					"kelp" : 100,
					"hydrolium" : 300
				}
			},			
			{
				"name" : "gelidBurrower",  //short lifespan
				"baseProduction" : 3, 
				"droneToughness" : 900, 
				"droneBreedRate" : 2,   
				"queenBreedRate" : 5,   
				"queenLifespan" : 300,  
				"mutationChance" : 5,	
				"miteResistance" : 3, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"fu_honeyice" : 50, 
				//comb
					"arcticcomb" : 367, 
				//drops
					"frozenwaxchunk" : 300,
					"cryonicextract" : 400,
					"alienwoodsap" : 800,
					"icecrystal" : 900,
					"snowflake" : 50
				}
			},
			{
				"name" : "digger",
				"baseProduction" : 1, 
				"droneToughness" : 600, 
				"droneBreedRate" : 2,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 662,  
				"mutationChance" : 2,	
				"miteResistance" : 2.4, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"liquidoil" : 50,
				//comb
					"volcaniccomb" : 300,
				//drops
					"scorchedcore" : 900,
					"dirtmaterial" : 60,
					"clay" : 50,
					"sand" : 150,
					"sand2" : 300,
					"goldensand" : 800,
					"fu_carbon" : 1500,
					"copperore" : 700,
					"silverore" : 1000,
					"goldore" : 1500
				}
			},
			{
				"name" : "oremason",
				"baseProduction" : 1, 
				"droneToughness" : 1200, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 600,  
				"mutationChance" : 3,	
				"miteResistance" : 6, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"liquidoil" : 50,
				//comb
					"minercomb" : 300,
				//drops
					"cobblestonematerial" : 40,
					"copperore" : 700,					
					"ironore" : 200,
					"tungstenore" : 400,
					"titaniumore" : 800,
					"silverore" : 1000,
					"goldore" : 1500,
					"durasteelbar" : 2000
				}
			}
		],
		
		"plasterer" : [
			{
				"name" : "cybernetic",
				"baseProduction" : 3, 
				"droneToughness" : 1300, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 0.5,   
				"queenLifespan" : 1200,  
				"mutationChance" : 0.1,	
				"miteResistance" : 6, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"liquidoil" : 40,
					"ff_mercury" : 90,
				//comb
					"titaniumcomb" : 300,
				//drops
					"ff_spareparts" : 100,
					"smallbatery" : 100,
					"battery" : 500,
					"electromagnet" : 200,
					"cpu" : 1200,
					"fuprocessor" : 1800,
					"aichip" : 2400
				}
			},		
			{
				"name" : "isovapitdae",
				"baseProduction" : 1, 
				"droneToughness" : 900, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 900,  
				"mutationChance" : 5,	
				"miteResistance" : 1, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"liquidbioooze" : 60,
					"ff_mercury" : 90,
				//comb
					"silkcomb" : 300,
				//drops
					"aliencompound" : 700,
					"endomorphicjelly" : 400,
					"greenslime" : 320,
					"petalbblue" : 320,
					"petalyellow" : 320,
					"petalred" : 320
				}
			},
			{
				"name" : "harlequin",
				"baseProduction" : 1, 
				"droneToughness" : 300, 
				"droneBreedRate" : 2,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 350,  
				"mutationChance" : 10,	
				"miteResistance" : 1, 
				"workTime" : 2, 
				
				"production" : {
				// honey
					"fu_liquidhoneyred" : 50,
					"liquidaether" : 400,
				//comb
					"morbidcomb" : 300,
				//drops
					"alienwoodsap" : 100,
					"corruptionore" : 900,
					"glowfibre" : 300
				}
			},
			{
				"name" : "shrouded",
				"baseProduction" : 2, 
				"droneToughness" : 30, 
				"droneBreedRate" : 5,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 1200,  
				"mutationChance" : 1,	
				"miteResistance" : 4, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"fu_honeyspirit" : 50,
				//comb
					"nocturnalcomb" : 300,
				//drops
					"effigiumore" : 1500
				}
			},
			{
				"name" : "stellar",
				"baseProduction" : 1, 
				"droneToughness" : 1300, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 1300,  
				"mutationChance" : 1,	
				"miteResistance" : 1, 
				"workTime" : 0, 
				
				"production" : {
				// honey	
					"fu_liquidhoney" : 30,
				//comb
					"mythicalcomb" : 600,
					"solarishard" : 400,
				//drops
					"psionicenergy" : 200,
					"psionicenergy2" : 500,
					"solariumore" : 2600
				}
			}
		],
		
		"squash" : [
			{
				"name" : "cuckoo",
				"baseProduction" : 1, 
				"droneToughness" : 524, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 400,  
				"mutationChance" : 2,	
				"miteResistance" : 2, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"fu_liquidhoney" : 70,
				//comb
					"exceptionalcomb" : 425,
				//drops
					"magnesiumpowder" : 300,
					"fu_salt" : 100,
					"sugar" : 100  
				}
			},
			{
				"name" : "loamzipper",
				"baseProduction" : 3, 
				"droneToughness" : 100, 
				"droneBreedRate" : 8,   
				"queenBreedRate" : 3,   
				"queenLifespan" : 300,  
				"mutationChance" : 1,	
				"miteResistance" : 1, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"fu_liquidhoney" : 90,
				//comb
					"exceptionalcomb" : 300,
				//drops
					"agaranichor" : 300,
					"iodine" : 400 ,
					"beesilk" : 100,
					"magnesiumsulfate" : 500
				}
			},
			{
				"name" : "stalwart",
				"baseProduction" : 1, 
				"droneToughness" : 980, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 821,  
				"mutationChance" : 3,	
				"miteResistance" : 2, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"fu_liquidhoney" : 90,
				//comb
					"ironcomb" : 350,
				//drops
					"liquidbeer" : 50
				}
			},
			{
				"name" : "rimewing",
				"baseProduction" : 1, 
				"droneToughness" : 1000, 
				"droneBreedRate" : 2,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 800,  
				"mutationChance" : 7,	
				"miteResistance" : 3, 
				"workTime" : 2, 
				
				"production" : {
				// honey
					//ice honey
					"fu_honeyice" : 70,
				//comb
					"arcticcomb" : 300,
				//drops
					"frozenwaxchunk" : 100,
					"icecrystal" : 500 
				}
			}
		],
		
		"sweat" : [
			{
				"name" : "xenodaemonae",
				"baseProduction" : 1, 
				"droneToughness" : 100, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 500,  
				"mutationChance" : 15,	
				"miteResistance" : 4, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"liquidelderfluid" : 100,
				//comb
					"eldercomb" : 500,
				//drops
					"agaranichor" : 200,
					"blobbushjelly" : 300,
					"protorock" : 500,
					"unstableparticles" : 900
				}
			},
			{
				"name" : "redbanded",
				"baseProduction" : 1, 
				"droneToughness" : 230, 
				"droneBreedRate" : 2,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 500,  
				"mutationChance" : 5,	
				"miteResistance" : 5, 
				"workTime" : 2, 
				
				"production" : {
				// honey
					"fu_liquidhoneyred" : 50,
				//comb
					"redcomb" : 300,
				//drops
					"redwaxchunk" : 140,
					"aliencompound" : 400,
					"fuflesh" : 700,
					"blooddiamong" : 1000 
				}
			},
			{
				"name" : "assassin",
				"baseProduction" : 1, 
				"droneToughness" : 300, 
				"droneBreedRate" : 5,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 1200,  
				"mutationChance" : 1,	
				"miteResistance" : 1, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"fu_liquidhoneyred" : 50,
				//comb
					"silkcomb" : 300,
				//drops
					"alienmeat" : 200,
					"bone" : 50,
					"leather" : 100,
					"fleshstrand" : 40
				}
			},
			{
				"name" : "reaper",
				"baseProduction" : 2, 
				"droneToughness" : 170, 
				"droneBreedRate" : 2,   
				"queenBreedRate" : 2,   
				"queenLifespan" : 400,  
				"mutationChance" : 1,	
				"miteResistance" : 6, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"fu_liquidhoneyred" : 50,
				//comb
					"feroziumcomb" : 400,
				//drops
					"redwaxchunk" : 300,
					"bugshell" : 40,
					"bone" : 240
				}
			}
		]
	}
}