// Stats:
// baseProduction : Base drone production at 100% hive efficiency
// droneToughness : Number of mites required to kill a drone. Also used in bee on bee fights
// droneBreedRate : Base drone breeding rate
// queenBreedRate : Base queen breeding rate
// queenLifespan : How many bee production ticks before the queen dies (up to 1295)
// mutationChance : Genetic stability. The higher the value is, the less likely the next generation will have the same stats.
// miteResistance : Mite birth rate modifier ("ZZ": 12.95 | "I0": 0 | "00": -12.95 | value:modifier | jumps by 0.01)
// workTime : Diurnal(0), nocturnal(1), or both(2)

// Mutation chance jumps by (math.floor(100/1295*100*n)*0.01) each increment:
// "00" : 0 | "01" : 0.07 | "HZ" : 49.96 | "ZZ" : 100

{
	"beeUpdateInterval" : 1, // In seconds
	"unloadedUpdateInterval" : 5, // Delay between bee ticks while the object is not loaded in seconds
	"maxSimulatedTicksPerUpdate" : 1, // Maximum simulated ticks per update, to prevent potential lag when the apiary needs to catch up on a lot of ticks
	
	// Biome likeness production modifiers (1 = 100% = normal)
	// Deadly biome not listed here as it halts production
	"biomeDisliked" : 0.5,
	"biomeLiked" : 1,
	"biomeFavorite" : 1.5,
	
	// Flower likeness related values
	"flowerDefaultLikeness" : 0.13, // Default modifier for plants without an entry for this bee
	"flowerMinimumModifierToWork" : 0.80, // Minimal flower modifier required for the hive to function
	"flowerSearchRadius" : 10,
	"flowerMinimum" : 5, // Minimal amount of flowers without further penalties
	"flowerMaximum" : 10, // Maximum amount of flowers the hive can see (closest)
	"flowerExtrasFavorModifier" : 0.33, // Modifier affecting favor of flowers past the minimal flower count
	"flowerLastTwoStagesModifier" : 1, // Multiplier affecting the modifier applied to the bee when the plant is on its last two stages
	"flowerLowerStagesModifier" : 0.75, // Multiplier affecting the modifier applied to the bee when the plant is on any other stage
	
	// Formula for less than minimal flower count
	//		flowerModifier = flowerModifier / (flowerMinFlowers / flowerCount)
	// Formula for more than minimal flower count
	//		flowerModifier = flowerModifier + flowerModifier / (flowerMinFlowers / flowerCount * flowerExtrasFavorModifier)
	
	
	
	// Values for capping maximum bee entities spawned from hives
	"maxBeeEntities" : 10,
	"beeEntityCheckRadius" : 25,
	"extraBeeEntitiesPerApiary" : 3,
	
	// Chance for a bee entity to spawn from the apiary (happens every queen bee tick)
	"beeSpawnChance" : 0.01, // 1 = 100%
	
	// Bee rivalries.
	"rivals" : {
		"carpenter" : "mason",
		"mason" : "carpenter",		
		"plasterer" : "squash",
		"squash" : "leafcutter",
		"leafcutter" : "sweat",
		"sweat" : "honey",
		"honey" : "plasterer"
	},
	
	"mites" : {
		"growthStatic" : 1,				// Static mite growth after infestation
		"growthPercentile" : 0.05,			// Percentile mite growth after infestation
		"infestationChance" : 0.005,			// Chance for a mite infestation to begin (checked for each bee production tick)
		"growthPercentileMinimum" : 0.0001		// Lowest value possible for the percentile growth (Since it gets reduced by mite resistance stat)
	},
	
	// Table containing two values which determine the random modifier to productions (100 in both = no random factor)
	"productionRandomModifierRange" : [90,110],
	
	// Production required to produce a young queen or a drone. How fast this actually happens depends on the bees stats
	"youngQueenProductionRequirement" : 100,
	"droneProductionRequirement" : 5,
	
	// Values responsible for queenless hives drone decay
	"droneDecayPercentile" : 0.01, // % of current amount to die each decay
	"droneDecayFlat" : 1, // flat amount to die each decay
	
	"flowerAffinities" : [],
	
	"biomeLikeness" : {
	// Biome likeness -
	// 0 = deadly (no production)
	// 1 = disliked (default. Not setting a biome to a value counts it as disliked) (-50% production modifier)
	// 2 = liked (no production modifier)
	// 3 = favorite (+50% production modifier)
	
	//	"beeFamily" : {
	//		"biome" : likenessValue,
	//		"biome" : likenessValue
	//	},
		
		"carpenter" : {
			"garden" : 3,
			"forest" : 2,
			"desert" : 0
		},
		"honey" : {
			"garden" : 3,
			"forest" : 2,
			"desert" : 0
		},
		"leafcutter" : {
			"garden" : 3,
			"forest" : 2,
			"desert" : 0
		},
		"mason" : {
			"garden" : 3,
			"forest" : 2,
			"desert" : 0
		},
		"plasterer" : {
			"garden" : 3,
			"forest" : 2,
			"desert" : 0
		},
		"squash" : {
			"garden" : 3,
			"forest" : 2,
			"desert" : 0
		},
		"sweat" : {
			"garden" : 3,
			"forest" : 2,
			"desert" : 0
		}
	},
	
	"stats" : {
		"carpenter" : [
			{
				// Default values for a new bee
				// Artisan bees are especially good at crafting their specific resources, and have a chance to produce rarer items
				"name" : "artisan",
				"baseProduction" : 1, //# of resources per tick
				"droneToughness" : 500,
				"droneBreedRate" : 2,
				"queenBreedRate" : 5,
				"queenLifespan" : 800,
				"mutationChance" : 1,	// Number between 0 and 1295. 0 = 0%, 1295 = 100%, jumps in increments of ~0.07
				"miteResistance" : 1.1, // value between -6.48 and 6.48
				"workTime" : 0, // 0 = day, 1 = night, 2 = both
				
				"production" : {
					"coalore" : 5  //basically, item produced and how frequently it is produced. Larger number takes longer.
				}
			},
			{
				//Carpenter bees work wood pretty well, and will produce timber and other wood resources to aid the player
				"name" : "carpenter",
				"baseProduction" : 5,
				"droneToughness" : 5,
				"droneBreedRate" : 5,
				"queenBreedRate" : 5,
				"queenLifespan" : 5,
				"mutationChance" : 77,
				"miteResistance" : 2, 
				"workTime" : 0, 
				
				"production" : {
					"coalore" : 5
				}
			},
			{
				"name" : "inventor",
				"baseProduction" : 5,
				"droneToughness" : 5,
				"droneBreedRate" : 5,
				"queenBreedRate" : 5,
				"queenLifespan" : 10,
				"mutationChance" : 2,
				"miteResistance" : 2, 
				"workTime" : 0,
				
				"production" : {
					"coalore" : 5
				}
			},
			{
				"name" : "scoria",
				"baseProduction" : 5,
				"droneToughness" : 5,
				"droneBreedRate" : 5,
				"queenBreedRate" : 5,
				"queenLifespan" : 10,
				"mutationChance" : 2,
				"miteResistance" : 2,
				"workTime" : 0, 
				
				"production" : {
					"coalore" : 5
				}
			}
		],
		
		"honey" : [
			{
				"name" : "honey",
				"baseProduction" : 1,
				"droneToughness" : 500,
				"droneBreedRate" : 5,
				"queenBreedRate" : 1,
				"queenLifespan" : 1000,
				"mutationChance" : 2,
				"miteResistance" : 2,
				"workTime" : 0,
				
				"production" : {
					"fu_liquidhoney" : 10,
					"normalcomb" : 100,
					"waxchunk" : 150,
					"dirtmaterial" : 70,
					"beesilk" : 650
				}
			},
			{
				"name" : "exspiravit",
				"baseProduction" : 1,
				"droneToughness" : 500,
				"droneBreedRate" : 12,
				"queenBreedRate" : 2,
				"queenLifespan" : 500,
				"mutationChance" : 5,
				"miteResistance" : 1,
				"workTime" : 1,
				
				"production" : {
					"ghostlywax" : 120,
					"mooncomb" : 100,
					"beesilk" : 450
				}
			},
			{
				"name" : "bumblebee",
				"baseProduction" : 1,
				"droneToughness" : 800,
				"droneBreedRate" : 2,
				"queenBreedRate" : 1,
				"queenLifespan" : 1000,
				"mutationChance" : 1,
				"miteResistance" : 6,
				"workTime" : 0,
				
				"production" : {
					"fu_liquidhoney" : 70,
					"forestcomb" : 90,
					"waxchunk" : 120,
					"dirtmaterial" : 60,
					"beesilk" : 350
				}
			},
			{
				"name" : "orchid",
				"baseProduction" : 2,
				"droneToughness" : 300,
				"droneBreedRate" : 3,
				"queenBreedRate" : 1,
				"queenLifespan" : 800,
				"mutationChance" : 1,
				"miteResistance" : 1,
				"workTime" : 0,
				
				"production" : {
					"waxchunk" : 90,
					"flowercomb" : 90,
					"beeflower" : 400,
					"dirtmaterial" : 80,
					"beesilk" : 650
				}
			}
		],
		
		"leafcutter" : [
			{
				"name" : "tunguskudae",
				"baseProduction" : 1,
				"droneToughness" : 1,
				"droneBreedRate" : 1,
				"queenBreedRate" : 1,
				"queenLifespan" : 1,
				"mutationChance" : 1,
				"miteResistance" : 1,
				"workTime" : 0,
				
				"production" : {
					"coalore" : 5
				}
			},
			{
				"name" : "sandprowler",
				"baseProduction" : 1,
				"droneToughness" : 1,
				"droneBreedRate" : 1,
				"queenBreedRate" : 1,
				"queenLifespan" : 1,
				"mutationChance" : 1,
				"miteResistance" : 1,
				"workTime" : 0,
				
				"production" : {
					"coalore" : 5
				}
			},
			{
				"name" : "goldensaint",
				"baseProduction" : 1,
				"droneToughness" : 1,
				"droneBreedRate" : 1,
				"queenBreedRate" : 1,
				"queenLifespan" : 1,
				"mutationChance" : 1,
				"miteResistance" : 1,
				"workTime" : 0,
				
				"production" : {
					"coalore" : 5
				}
			}
		],
		
		"mason" : [
			{
				"name" : "gelid",
				"baseProduction" : 1,
				"droneToughness" : 1,
				"droneBreedRate" : 1,
				"queenBreedRate" : 1,
				"queenLifespan" : 1,
				"mutationChance" : 1,
				"miteResistance" : 1,
				"workTime" : 0,
				
				"production" : {
					"coalore" : 5
				}
			},
			{
				"name" : "digger",
				"baseProduction" : 1,
				"droneToughness" : 1,
				"droneBreedRate" : 1,
				"queenBreedRate" : 1,
				"queenLifespan" : 1,
				"mutationChance" : 1,
				"miteResistance" : 1,
				"workTime" : 0,
				
				"production" : {
					"coalore" : 5
				}
			},
			{
				"name" : "oremason",
				"baseProduction" : 1,
				"droneToughness" : 1,
				"droneBreedRate" : 1,
				"queenBreedRate" : 1,
				"queenLifespan" : 1,
				"mutationChance" : 1,
				"miteResistance" : 1,
				"workTime" : 0,
				
				"production" : {
					"coalore" : 5
				}
			}
		],
		
		"plasterer" : [
			{
				"name" : "isovapitdae",
				"baseProduction" : 1,
				"droneToughness" : 1,
				"droneBreedRate" : 1,
				"queenBreedRate" : 1,
				"queenLifespan" : 1,
				"mutationChance" : 1,
				"miteResistance" : 1,
				"workTime" : 0,
				
				"production" : {
					"coalore" : 5
				}
			},
			{
				"name" : "harlequin",
				"baseProduction" : 1,
				"droneToughness" : 1,
				"droneBreedRate" : 1,
				"queenBreedRate" : 1,
				"queenLifespan" : 1,
				"mutationChance" : 1,
				"miteResistance" : 1,
				"workTime" : 0,
				
				"production" : {
					"coalore" : 5
				}
			},
			{
				"name" : "shrouded",
				"baseProduction" : 1,
				"droneToughness" : 1,
				"droneBreedRate" : 1,
				"queenBreedRate" : 1,
				"queenLifespan" : 1,
				"mutationChance" : 1,
				"miteResistance" : 1,
				"workTime" : 0,
				
				"production" : {
					"coalore" : 5
				}
			},
			{
				"name" : "stellar",
				"baseProduction" : 1,
				"droneToughness" : 1,
				"droneBreedRate" : 1,
				"queenBreedRate" : 1,
				"queenLifespan" : 1,
				"mutationChance" : 1,
				"miteResistance" : 1,
				"workTime" : 0,
				
				"production" : {
					"coalore" : 5
				}
			}
		],
		
		"squash" : [
			{
				"name" : "cuckoo",
				"baseProduction" : 1,
				"droneToughness" : 1,
				"droneBreedRate" : 1,
				"queenBreedRate" : 1,
				"queenLifespan" : 1,
				"mutationChance" : 1,
				"miteResistance" : 1,
				"workTime" : 0,
				
				"production" : {
					"coalore" : 5
				}
			},
			{
				"name" : "loamzipper",
				"baseProduction" : 1,
				"droneToughness" : 1,
				"droneBreedRate" : 1,
				"queenBreedRate" : 1,
				"queenLifespan" : 1,
				"mutationChance" : 1,
				"miteResistance" : 1,
				"workTime" : 0,
				
				"production" : {
					"coalore" : 5
				}
			},
			{
				"name" : "stalwart",
				"baseProduction" : 1,
				"droneToughness" : 1,
				"droneBreedRate" : 1,
				"queenBreedRate" : 1,
				"queenLifespan" : 1,
				"mutationChance" : 1,
				"miteResistance" : 1,
				"workTime" : 0,
				
				"production" : {
					"coalore" : 5
				}
			},
			{
				"name" : "rimewing",
				"baseProduction" : 1,
				"droneToughness" : 1,
				"droneBreedRate" : 1,
				"queenBreedRate" : 1,
				"queenLifespan" : 1,
				"mutationChance" : 1,
				"miteResistance" : 1,
				"workTime" : 0,
				
				"production" : {
					"coalore" : 5
				}
			}
		],
		
		"sweat" : [
			{
				"name" : "xenodaemonae",
				"baseProduction" : 1,
				"droneToughness" : 1,
				"droneBreedRate" : 1,
				"queenBreedRate" : 1,
				"queenLifespan" : 1,
				"mutationChance" : 1,
				"miteResistance" : 1,
				"workTime" : 0,
				
				"production" : {
					"coalore" : 5
				}
			},
			{
				"name" : "redbanded",
				"baseProduction" : 1,
				"droneToughness" : 1,
				"droneBreedRate" : 1,
				"queenBreedRate" : 1,
				"queenLifespan" : 1,
				"mutationChance" : 1,
				"miteResistance" : 1,
				"workTime" : 0,
				
				"production" : {
					"coalore" : 5
				}
			},
			{
				"name" : "assassin",
				"baseProduction" : 1,
				"droneToughness" : 1,
				"droneBreedRate" : 1,
				"queenBreedRate" : 1,
				"queenLifespan" : 1,
				"mutationChance" : 1,
				"miteResistance" : 1,
				"workTime" : 0,
				
				"production" : {
					"coalore" : 5
				}
			},
			{
				"name" : "killer",
				"baseProduction" : 1,
				"droneToughness" : 1,
				"droneBreedRate" : 1,
				"queenBreedRate" : 1,
				"queenLifespan" : 1,
				"mutationChance" : 1,
				"miteResistance" : 1,
				"workTime" : 0,
				
				"production" : {
					"coalore" : 5
				}
			}
		]
	}
}