// Stats:
// baseProduction : Base drone production at 100% hive efficiency
// droneToughness : Number of mites required to kill a drone. Also used in bee on bee fights
// droneBreedRate : Base drone breeding rate
// queenBreedRate : Base queen breeding rate
// queenLifespan : How many bee production ticks before the queen dies (up to 1295)
// mutationChance : Genetic stability. The higher the value is, the less likely the next generation will have the same stats.
// miteResistance : Mite birth rate modifier ("ZZ": 12.95 | "I0": 0 | "00": -12.95 | value:modifier | jumps by 0.01)
// workTime : Diurnal(0), nocturnal(1), or both(2)

// Mutation chance jumps by (math.floor(100/1295*100*n)*0.01) each increment:
// "00" : 0 | "01" : 0.07 | "HZ" : 49.96 | "ZZ" : 100

{
	"beeUpdateInterval" : 1, // In seconds
	"unloadedUpdateInterval" : 5, // Delay between bee ticks while the object is not loaded in seconds
	"maxSimulatedTicksPerUpdate" : 5, // Maximum simulated ticks per update, to prevent potential lag when the apiary needs to catch up on a lot of ticks
	
	// Biome likeness production modifiers (1 = 100% = normal)
	// Deadly biome not listed here as it halts production
	"biomeDisliked" : 0.5,
	"biomeLiked" : 1,
	"biomeFavorite" : 1.5,
	
	// Flower likeness related values
	"flowerDefaultLikeness" : 0.13, 		// Default modifier for plants without an entry for this bee
	"flowerMinimumModifierToWork" : 0.80, 		// Minimal flower modifier required for the hive to function
	"flowerSearchRadius" : 30, 			//distance from hive to look for flowers
	"flowerMinimum" : 5, 				// Minimal amount of flowers without further penalties
	"flowerMaximum" : 20, 				// Maximum amount of flowers the hive can see (closest)
	"flowerExtrasFavorModifier" : 0.33, 		// Modifier affecting favor of flowers past the minimal flower count
	"flowerLastTwoStagesModifier" : 1, 		// Multiplier affecting the modifier applied to the bee when the plant is on its last two stages
	"flowerLowerStagesModifier" : 0.75, 		// Multiplier affecting the modifier applied to the bee when the plant is on any other stage
	
	// Formula for less than minimal flower count
	//		flowerModifier = flowerModifier / (flowerMinFlowers / flowerCount)
	// Formula for more than minimal flower count
	//		flowerModifier = flowerModifier + flowerModifier / (flowerMinFlowers / flowerCount * flowerExtrasFavorModifier)

	// Values for capping maximum bee entities spawned from hives
	"maxBeeEntities" : 10,
	"beeEntityCheckRadius" : 25,
	"extraBeeEntitiesPerApiary" : 3,
	
	// Chance for a bee entity to spawn from the apiary (happens every queen bee tick)
	"beeSpawnChance" : 0.01, // 1 = 100%
	
	// Bee rivalries.
	"rivals" : {
		"carpenter" : "mason",
		"mason" : "carpenter",		
		"plasterer" : "squash",
		"squash" : "leafcutter",
		"leafcutter" : "sweat",
		"sweat" : "honey",
		"honey" : "plasterer",
		"crystalwing" : "carpenter",
		"artisan" : "mason",
		"inventor" : "bumblebee",
		"scoria" : "bumblebee",
		"bumblebee" : "exspiravit",
		"exspiravit" : "orchid",
		"orchid" : "tunguskudae",
		"tunguskudae" : "sandprowler",
		"sandprowler" : "gelidburrower",
		"gelidburrower" : "goldensaint",
		"goldensaint" : "devoratrix",
		"devoratrix" : "aquarum",
		"aquarum" : "digger",
		"digger" : "reaper",
		"oremason" : "assassin",
		"cybernetic" : "redbanded",
		"isovapitdae" : "harlequin",
		"harlequin" : "shrouded",
		"shrouded" : "stellar",
		"stellar" : "cuckoo",
		"cuckoo" : "loamzipper",
		"loamzipper" : "stalwart",
		"stalwart" : "rimewing",
		"rimewing" : "xenodaemonae",
		"xenodaemonae" : "redbanded",
		"redbanded" : "assassin",
		"assassin" : "reaper",
		"reaper" : "honey"
	},
	
	"mites" : {
		"growthStatic" : 1,				// Static mite growth after infestation
		"growthPercentile" : 0.05,			// Percentile mite growth after infestation
		"infestationChance" : 0.01,			// Chance for a mite infestation to begin (checked for each bee production tick). Original was 0.005
		"growthPercentileMinimum" : 0.0001		// Lowest value possible for the percentile growth (Since it gets reduced by mite resistance stat)
	},
	
	// Table containing two values which determine the random modifier to productions (100 in both = no random factor)
	"productionRandomModifierRange" : [90,110],
	
	// Production required to produce a young queen or a drone. How fast this actually happens depends on the bees stats
	"youngQueenProductionRequirement" : 300, //original was 100
	"droneProductionRequirement" : 5,
	
	// Values responsible for queenless hives drone decay
	"droneDecayPercentile" : 0.01, // % of current amount to die each decay
	"droneDecayFlat" : 1, // flat amount to die each decay
	
	"flowerAffinities" : [],
	
	"biomeLikeness" : {
	// Biome likeness -
	// 0 = deadly (no production, kills bees)
	// 1 = disliked (-50% production modifier)
	// 2 = liked (no production modifier. default)
	// 3 = favorite (+50% production modifier)
	//	"beeFamily" : {
	//		"biome" : likenessValue,
	//		"biome" : likenessValue
	//	},
		"carpenter" : { "eden" : 3, "desert" : 1,"unknown": 0, "moon" : 0, "fugasgiant" : 0},
		"honey" : {"eden" : 3, "garden" : 3,"unknown": 0,"desert" : 0, "moon" : 0, "fugasgiant" : 0},
		"leafcutter" : {"eden" : 3, "garden" : 1,"forest" : 2,"desert" : 1,"unknown": 0, "moon" : 0, "fugasgiant" : 0},
		"mason" : { "garden" : 1,"forest" : 1, "mountainous" : 3, "sulphuric" : 3 , "sulphuricdark": 3,"unknown": 0, "moon" : 0, "fugasgiant" : 0},
		"digger" : { "bog" : 3, "mountainous" : 3, "eden" : 3,"unknown": 0, "moon" : 0, "fugasgiant" : 0},
		"oremason"  : {"eden" : 3, "mountainous" : 3, "sulphuric" : 3 , "sulphuricdark": 3,"unknown": 0, "moon" : 0, "fugasgiant" : 0 },		
		"plasterer" : {"eden" : 3, "jungle" : 3, "thickjungle" : 3,"unknown": 0, "moon" : 0, "fugasgiant" : 0},
		"squash" : { "garden" : 3,"desert" : 1, "eden" : 3,"unknown": 0, "moon" : 0, "fugasgiant" : 0},
		"sweat" : { "fungus" : 3,"forest" : 3,"savannah" : 3, "thickjungle" : 3, "jungle" : 3,"unknown": 0, "moon" : 0, "fugasgiant" : 0},
		"crystalwing" : { "crystalmoon" : 3, "chromatic" : 3,"unknown": 0, "tabularasa" : 1, "atropus" : 0, "atropusdark" : 0, "fugasgiant" : 1 },
		"artisan" : { "eden" : 3, "thickjungle" : 3, "mountainous" : 3, "lightless" : 3,"unknown": 0, "moon" : 0, "fugasgiant" : 0 }, 
		"inventor" : { "eden" : 3, "forest" : 3, "lightless" : 0,"unknown": 0, "garden" : 1, "tabularasa" : 1, "barren" : 1, "moon" : 0, "fugasgiant" : 0 }, 
		"scoria" : {  "arctic" : 0, "arcticdark" : 0, "icewaste" : 0, "icewastedark" : 0, "icemoon" : 0, "frozenvolcanic" : 1,"unknown": 0, "eden" : 3, "moon" : 0, "fugasgiant" : 0 },
		"bumblebee" : {  "eden" : 3,"garden" : 3, "desert" : 1,"unknown": 0, "desertdark" : 1, "desertwastes" : 0, "desertwastesdark" : 0, "volcanic" : 1, "volcanicdark" : 1, "magma" : 0, "magmadark" : 0, "moon" : 0, "fugasgiant" : 0  },
		"exspiravit" : { "lightless" : 3, "moon_shadow" : 3, "penumbra" : 3, "magmadark" : 3, "arborealdark" : 3, "eden" : 3,"unknown": 0, "moon" : 0, "fugasgiant" : 0 }, 
		"orchid" : { "eden" : 3, "garden" : 2, "jungle" : 3, "thickjungle" : 3,"unknown": 0, "moon" : 0, "fugasgiant" : 0 },
		"tunguskudae" : { "chromatic" : 3, "irradiated" : 3, "alien" : 3, "moon" : 2,"unknown": 0, "fugasgiant" : 0 }, 
		"sandprowler" : { "jungle" : 1,"unknown": 0, "thickjungle" : 1, "arboreal" : 1, "arboreal2" : 1, "arborealdark" : 1, "eden" : 3, "garden" : 1,"forest" : 1,"desert" : 3, "desertwastes" : 3, "desertwastesdark" : 3, "moon" : 0, "fugasgiant" : 0 },
		"gelidburrower" : { "volcanic" : 1, "volcanicdark" : 1,"unknown": 0, "desert" : 0, "desertwastes" : 0, "desertwastesdark" : 0, "magma" : 0, "magmadark" : 0, "infernus" : 0, "infernusdark" : 0, "icemoon" : 3, "frozenvolcanic" : 3, "tundra": 3,"tundradark" : 3, "moon" : 0, "fugasgiant" : 0}, 
		"goldensaint" : { "garden" : 1, "eden" : 3, "chromatic" : 3, "toxic" : 1,"unknown": 0, "moon" : 2},
		"devoratrix"  : { "garden" : 1, "eden" : 3, "atropus" : 3, "atropusdark" : 3, "moon" : 0,"unknown": 0, "fugasgiant" : 0},
		"aquarum" : { "garden" : 1, "tidewater" : 3, "ocean" : 3,"unknown": 0, "desert" : 0, "desertwastes" : 0, "desertwastesdark" : 0, "eden" : 3, "moon" : 0, "fugasgiant" : 0 },
		"cybernetic" : { "garden" : 1, "eden" : 1, "urbanwasteland" : 3, "urbanwasteland2" : 3, "metallicmoon" : 3,"unknown": 0, "moon" : 2, "fugasgiant" : 2 },
		"isovapitdae" : { "slimeworld" : 3, "toxic" : 3, "scorched" : 2,"unknown": 0, "moon" : 0, "fugasgiant" : 0},
		"harlequin" : { "garden" : 1, "eden" : 3,"penumbra" : 3,"unknown": 0, "moon" : 0, "fugasgiant" : 0 },
		"shrouded" : { "garden" : 1, "eden" : 3, "lightless" : 3, "shadow" : 3, "moon_shadow" : 3,"unknown": 0, "moon" : 0, "fugasgiant" : 0 },
		"stellar" : { "eden" : 3, "strangesea" : 3, "moon" : 3,"unknown": 0 },
		"cuckoo" : { "garden" : 3, "eden" : 1, "tabularasa" : 3, "desert" : 2,"unknown": 0, "moon" : 0, "fugasgiant" : 0 },
		"loamzipper" : { "eden" : 3, "nitrogensea" : 3,"unknown": 0, "desert" : 1, "desertdark" : 1, "desertwastes" : 0, "desertwastesdark" : 0, "volcanic" : 1, "volcanicdark" : 1, "magma" : 0, "magmadark" : 0 }, 
		"stalwart" : { "eden" : 3, "barren" : 3, "scorched" : 3,"unknown": 0, "moon" : 0, "fugasgiant" : 0 },
		"rimewing" : { "snow" : 3, "snowdark" : 3, "eden" : 3, "icemoon" : 3,"protoworld" : 3,"unknown": 0, "moon" : 0, "fugasgiant" : 0 },
		"xenodaemonae" : { "garden" : 0, "forest" : 0, "jungle" : 0, "thickjungle" : 0, "eden" : 0, "lightless" : 3,"unknown": 0, "moon" : 0, "fugasgiant" : 0 },
		"redbanded" : { "garden" : 1, "eden" : 3, "bloodstone" : 3,"unknown": 0, "moon" : 0, "fugasgiant" : 0 },
		"assassin" : { "garden" : 1, "eden" : 3,"unknown": 0, "moon" : 0, "fugasgiant" : 0},
		"reaper" : { "garden" : 0, "eden" : 3, "shadow" : 3, "atropusdark" : 3,"unknown": 0, "moon" : 0, "fugasgiant" : 0 } 		
	},

// how to SPAWN these things
// local genome = genelib.generateDefaultGenome(beeTypeNameHere);
// Replace first two characters of the genome
// world.spawnItem(beeTypeNameHere, position, count, {genome = genome, wild = true}, velocity, intangibleTime)	
	"stats" : {
			//{
			//	// Default values for a new bees, for adding more later (or editing)
			//	"name" : "artisan",
			//	"baseProduction" : 1, //# of resources per tick
			//	"droneToughness" : 500,
			//	"droneBreedRate" : 4,
			//	"queenBreedRate" : 1,
			//	"queenLifespan" : 800,
			//	"mutationChance" : 1,	// Number between 0 and 1295. 0 = 0%, 1295 = 100%, jumps in increments of ~0.07
			//	"miteResistance" : 2, // value between -6.48 and 6.48
			//	"workTime" : 0, // 0 = day, 1 = night, 2 = both
			//	
			//	"production" : {
			//		"coalore" : 500  //basically, item produced and how frequently it is produced. Larger number takes longer.
			//	}
			//},	
		"carpenter" : [
			{
				"name" : "carpenter",
				"baseProduction" : 2, 
				"droneToughness" : 12, 
				"droneBreedRate" : 4,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 1200,  
				"mutationChance" : 3,	
				"miteResistance" : 25, 
				"workTime" : 0, 
				
				"production" : {
				// honey
				       "fu_liquidhoney" : 90,
				//comb
				        "junglecomb": 300,				
				//drops
					"logblock" : 200,
					"agaranichor" : 300
				}
			},
			{
				"name" : "woodCarver",
				"baseProduction" : 3, 
				"droneToughness" : 16, 
				"droneBreedRate" : 3,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 900,  
				"mutationChance" : 5,	
				"miteResistance" : 23, 
				"workTime" : 0, 
				
				"production" : {
				// honey
				       "fu_liquidhoney" : 30,
				//comb
				        "junglecomb": 400,				
				//drops
					"logblock" : 200,
					"agaranichor" : 200
				}
			}			
		],
		
		"honey" : [
			{
				"name" : "honey",
				"baseProduction" : 2,
				"droneToughness" : 10,
				"droneBreedRate" : 2,
				"queenBreedRate" : 2,
				"queenLifespan" : 1000,
				"mutationChance" : 2,
				"miteResistance" : 2,
				"workTime" : 0,
				
				"production" : {
				//honey type
					"fu_liquidhoney" : 10,
				//comb type
					"normalcomb" : 100,
				//drops	
					"waxchunk" : 150,
					"dirtmaterial" : 70,
					"beesilk" : 650
				}
			},			
			{
				"name" : "platedHoneybee",
				"baseProduction" : 1,
				"droneToughness" : 18,
				"droneBreedRate" : 3,
				"queenBreedRate" : 2,
				"queenLifespan" : 800,
				"mutationChance" : 8,
				"miteResistance" : 1,
				"workTime" : 0,
				
				"production" : {
				//honey type
					"fu_liquidhoney" : 40,
				//comb type
					"normalcomb" : 200,
				//drops	
					"waxchunk" : 250,
					"dirtmaterial" : 50,
					"beesilk" : 550
				}
			}			
		],
		
		"leafcutter" : [
			{
				"name" : "leafcutter",
				"baseProduction" : 3, 
				"droneToughness" : 13, 
				"droneBreedRate" : 2,   
				"queenBreedRate" : 3,   
				"queenLifespan" : 450,  
				"mutationChance" : 8,	
				"miteResistance" : 13, 
				"workTime" : 2, 
				
				"production" : {
				// honey
					"fu_liquidhoney" : 70,
				//comb
					"aegisaltcomb" : 320,
				//drops
					"waxchunk" : 450,
					"plantfibre" : 25,
					"wildvines" : 100,
					"plantmatter" : 80,
					"beesilk" : 500,
					"goldenwood" : 300
				}
			},
			{
				"name" : "meanderer",
				"baseProduction" : 3, 
				"droneToughness" : 23, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 7,   
				"queenLifespan" : 330,  
				"mutationChance" : 24,	
				"miteResistance" : 11, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"fu_liquidhoney" : 20,
				//comb
					"aegisaltcomb" : 320,
				//drops
					"waxchunk" : 450,
					"plantfibre" : 45,
					"wildvines" : 60,
					"plantblock" : 145,
					"plantmatter" : 80,
					"beesilk" : 400,
					"goldenwood" : 400
				}
			}			
		],
		
		"mason" : [
			{
				"name" : "mason",
				"baseProduction" : 2, 
				"droneToughness" : 14, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 3,   
				"queenLifespan" : 600,  
				"mutationChance" : 3.34,	
				"miteResistance" : 9, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"fu_liquidhoneyred" : 20,
					"copperore" : 105,
				//comb
					"coppercomb" : 300,
				//drops
					"ironore" : 600,
					"tungstenore" : 900
				}
			},
			{
				"name" : "ironmason",
				"baseProduction" : 1, 
				"droneToughness" : 18, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 3,   
				"queenLifespan" : 600,  
				"mutationChance" : 3.34,	
				"miteResistance" : 12, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"fu_liquidhoneyred" : 20,
					"ironore" : 105,
				//comb
					"coppercomb" : 300,
				//drops
					"tungstenore" : 600,
					"titaniumore" : 900
				}
			}			
		],
		
		"plasterer" : [
			{
				"name" : "plasterer",
				"baseProduction" : 2, 
				"droneToughness" : 24, 
				"droneBreedRate" : 5,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 1200,  
				"mutationChance" : 1.2,	
				"miteResistance" : 6, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"fu_liquidhoney" : 70,
				//comb
					"exceptionalcomb" : 425,
				//drops
					"darkwoodmaterial" : 300,
					"silkfibre" : 50,
					"sugar" : 300,
					"beesilk" : 200 
				}
			},
			{
				"name" : "mincer",
				"baseProduction" : 2, 
				"droneToughness" : 33, 
				"droneBreedRate" : 2,   
				"queenBreedRate" : 3,   
				"queenLifespan" : 700,  
				"mutationChance" : 1,	
				"miteResistance" : 16, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"fu_liquidhoney" : 70,
				//comb
					"exceptionalcomb" : 325,
				//drops
					"darkwoodmaterial" : 400,
					"silkfibre" : 150,
					"sugar" : 100,
					"beesilk" : 300 
				}
			}			
		],
		
		"squash" : [
			{
				"name" : "squash",
				"baseProduction" : 5, 
				"droneToughness" : 24, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 4,   
				"queenLifespan" : 400,  
				"mutationChance" : 3,	
				"miteResistance" : 9, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"fu_liquidhoney" : 70,
				//comb
					"exceptionalcomb" : 425,
				//drops
					"magnesiumpowder" : 300,
					"fu_salt" : 100,
					"sugar" : 100  
				}
			},
			{
				"name" : "harrowwing",
				"baseProduction" : 2, 
				"droneToughness" : 18, 
				"droneBreedRate" : 5,   
				"queenBreedRate" : 2,   
				"queenLifespan" : 600,  
				"mutationChance" : 0.6,	
				"miteResistance" : 7, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"fu_liquidhoney" : 20,
				//comb
					"exceptionalcomb" : 325,
				//drops
					"magnesiumpowder" : 400,
					"fu_salt" : 200,
					"sugar" : 200  
				}
			}			
		],
		
		"sweat" : [
			{
				"name" : "sweat",
				"baseProduction" : 1, 
				"droneToughness" : 16, 
				"droneBreedRate" : 6,   
				"queenBreedRate" : 2,   
				"queenLifespan" : 500,  
				"mutationChance" : 15,	
				"miteResistance" : 9, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"fu_liquidhoney" : 100,
				//comb
					"junglecomb" : 500,
				//drops
					"agaranichor" : 200,
					"blobbushjelly" : 300,
					"protorockmaterial" : 500,
					"ghostlywax" : 1000
				}
			},
			{
				"name" : "pesterer",
				"baseProduction" : 2, 
				"droneToughness" : 9, 
				"droneBreedRate" : 4,   
				"queenBreedRate" : 2,   
				"queenLifespan" : 1200,  
				"mutationChance" : 1,	
				"miteResistance" : 22, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"fu_liquidhoney" : 100,
				//comb
					"junglecomb" : 400,
				//drops
					"agaranichor" : 500,
					"blobbushjelly" : 500,
					"protorockmaterial" : 700,
					"ghostlywax" : 900
				}
			}			
		],
		"crystalwing" : [
			{
				"name" : "crystalwing",
				"baseProduction" : 1, 
				"droneToughness" : 30, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 4,   
				"queenLifespan" : 600,  
				"mutationChance" : 3.34,	
				"miteResistance" : 36, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"liquidcrystal" : 75,
				//comb
					"preciouscomb" : 300,
				//drops
					"crystal" : 100,
					"feya" : 100,
					"opul" : 100,
					"emera" : 100,
					"thanatite" : 100,
					"upilite" : 100,
					"tokanite" : 100,
					"blooddiamond" : 2000,
					"rainbowwood" : 2500,
					"alienweirdwood" : 500
				}
			},
			{
				"name" : "shuttershard",
				"baseProduction" : 4, 
				"droneToughness" : 15, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 600,  
				"mutationChance" : 0.05,	
				"miteResistance" : 24, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"liquidcrystal" : 35,
				//comb
					"preciouscomb" : 300,
				//drops
					"crystal" : 400,
					"feya" : 400,
					"opul" : 400,
					"emera" : 400,
					"thanatite" : 400,
					"upilite" : 400,
					"tokanite" : 400,
					"blooddiamond" : 1600,
					"rainbowwood" : 2000,
					"alienweirdwood" : 700
				}
			}			
		],
		"artisan" : [
			{
				"name" : "artisan",
				"baseProduction" : 6, 
				"droneToughness" : 16, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 300,  
				"mutationChance" : 5,	
				"miteResistance" : 3, 
				"workTime" : 1, 
				
				"production" : {
				// honey
				        "liquidalienjuice" : 100,
				        "liquidbeer" : 300,
				//comb
				        "exceptionalcomb": 300,
				//drops
					"agaranichor" : 300,
					"rainbowwood" : 500,
					"alienweirdwood" : 900,
					"goldenwood" : 200
				}
			},
			{
				"name" : "workman",
				"baseProduction" : 3, 
				"droneToughness" : 30, 
				"droneBreedRate" : 3,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 400,  
				"mutationChance" : 2,	
				"miteResistance" : 1, 
				"workTime" : 0, 
				
				"production" : {
				// honey
				        "liquidalienjuice" : 300,
				        "liquidbeer" : 300,
				//comb
				        "exceptionalcomb": 300,
				//drops
					"agaranichor" : 300,
					"rainbowwood" : 500,
					"alienweirdwood" : 900,
					"goldenwood" : 400
				}
			}			
		], 
		"inventor" : [
			{
				"name" : "inventor",
				"baseProduction" : 2, 
				"droneToughness" : 12, 
				"droneBreedRate" : 3,   
				"queenBreedRate" : 3,   
				"queenLifespan" : 300,  
				"mutationChance" : 5,	
				"miteResistance" : 3, 
				"workTime" : 0,
				
				"production" : {
				// honey
					"fu_liquidhoney" : 90,
				//comb
				        "goldcomb": 300,				
				//drops
					"volatilepowder" : 500,
					"fu_oxygen" : 350,
					"fu_carbondioxide" : 200,
					"fu_hydrogen" : 250,
					"fu_nitrogen" : 320 
				}
			},
			{
				"name" : "windsweeper",
				"baseProduction" : 1, 
				"droneToughness" : 14, 
				"droneBreedRate" : 7,   
				"queenBreedRate" : 2,   
				"queenLifespan" : 700,  
				"mutationChance" : 4,	
				"miteResistance" : 2, 
				"workTime" : 0,
				
				"production" : {
				// honey
					"fu_liquidhoney" : 90,
				//comb
				        "goldcomb": 300,				
				//drops
					"volatilepowder" : 500,
					"fu_oxygen" : 200,
					"fu_carbondioxide" : 200,
					"fu_hydrogen" : 200,
					"fu_nitrogen" : 200 
				}
			}			
		], 
		"scoria" : [
			{
				"name" : "scoria",
				"baseProduction" : 2,
				"droneToughness" : 48,
				"droneBreedRate" : 3,
				"queenBreedRate" : 2,
				"queenLifespan" : 700,
				"mutationChance" : 1,
				"miteResistance" : 6,
				"workTime" : 0, 
				
				"production" : {
				// honey
					"liquidlava" : 90,
				//comb
				        "magmacomb": 300,				
				//drops
					"scorchedcore" : 400,
					"ammoniumsulfate" : 200,
					"volatilepowder" : 40  
				}
			},
			{
				"name" : "firetip",
				"baseProduction" : 3,
				"droneToughness" : 35,
				"droneBreedRate" : 3,
				"queenBreedRate" : 1,
				"queenLifespan" : 900,
				"mutationChance" : 1,
				"miteResistance" : 4,
				"workTime" : 0, 
				
				"production" : {
				// honey
					"liquidlava" : 90,
				//comb
				        "magmacomb": 300,				
				//drops
					"scorchedcore" : 400,
					"ammoniumsulfate" : 200,
					"volatilepowder" : 40  
				}
			}			
		],
		"bumblebee" : [
			{
				"name" : "bumblebee",
				"baseProduction" : 2,
				"droneToughness" : 34,
				"droneBreedRate" : 2,
				"queenBreedRate" : 2,
				"queenLifespan" : 1000,
				"mutationChance" : 1,
				"miteResistance" : 13,
				"workTime" : 0,
				
				"production" : {
				// honey type
					"fu_liquidhoney" : 70,
				// comb type
					"forestcomb" : 90,
				// drops	
					"waxchunk" : 120,
					"dirtmaterial" : 60,
					"beesilk" : 350,
					"goldenwood" : 350
				}
			},
			{
				"name" : "chubbychump",
				"baseProduction" : 3,
				"droneToughness" : 42,
				"droneBreedRate" : 1,
				"queenBreedRate" : 2,
				"queenLifespan" : 550,
				"mutationChance" : 1,
				"miteResistance" : 11,
				"workTime" : 1,
				
				"production" : {
				// honey type
					"fu_liquidhoney" : 70,
				// comb type
					"forestcomb" : 90,
				// drops	
					"waxchunk" : 120,
					"dirtmaterial" : 60,
					"beesilk" : 350,
					"goldenwood" : 350
				}
			}			
		],
		"exspiravit" : [
			{
				"name" : "exspiravit",
				"baseProduction" : 1,
				"droneToughness" : 23,
				"droneBreedRate" : 12,
				"queenBreedRate" : 3,
				"queenLifespan" : 400,
				"mutationChance" : 5,
				"miteResistance" : 1,
				"workTime" : 1,
				
				"production" : {
				// honey type
					"fu_honeyspirit" : 40,
				// comb type	
					"mooncomb" : 100,
				// drops	
					"ghostlywax" : 120,
					"beesilk" : 450
				}
			},
			{
				"name" : "burrower",
				"baseProduction" : 1,
				"droneToughness" : 7,
				"droneBreedRate" : 15,
				"queenBreedRate" : 4,
				"queenLifespan" : 500,
				"mutationChance" : 5,
				"miteResistance" : 3,
				"workTime" : 1,
				
				"production" : {
				// honey type
					"fu_honeyspirit" : 40,
				// comb type	
					"mooncomb" : 200,
				// drops	
					"ghostlywax" : 220,
					"beesilk" : 550
				}
			}			
		], 
		"orchid" : [
			{
				"name" : "orchid",
				"baseProduction" : 2,
				"droneToughness" : 9,
				"droneBreedRate" : 3,
				"queenBreedRate" : 2,
				"queenLifespan" : 800,
				"mutationChance" : 2,
				"miteResistance" : 1,
				"workTime" : 0,
				
				"production" : {
				//honey type
					"waxchunk" : 90,
				//comb	
					"flowercomb" : 90,
				//drops	
					"beeflower" : 400,
					"dirtmaterial" : 80,
					"beesilk" : 650,
					"goldenwood" : 300
				}
			},
			{
				"name" : "ulrotra",
				"baseProduction" : 5,
				"droneToughness" : 15,
				"droneBreedRate" : 2,
				"queenBreedRate" : 1,
				"queenLifespan" : 800,
				"mutationChance" : 1,
				"miteResistance" : 2,
				"workTime" : 0,
				
				"production" : {
				//honey type
					"waxchunk" : 90,
				//comb	
					"flowercomb" : 90,
				//drops	
					"beeflower" : 500,
					"dirtmaterial" : 50,
					"beesilk" : 650,
					"goldenwood" : 300
				}
			}			
		],
		"tunguskudae" : [
			{
				"name" : "tunguskudae",
				"baseProduction" : 3, 
				"droneToughness" : 20, 
				"droneBreedRate" : 4,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 450,  
				"mutationChance" : 8,	
				"miteResistance" : 23, 
				"workTime" : 2, 
				
				"production" : {
				// honey
					"fu_liquidhoney" : 70,
				//comb
					"aegisaltcomb" : 320,
				//drops
					"plutoniumore" : 350,
					"uraniumore" : 400,
					"neptuniumore" : 450,
					"thoriumore" : 500,
					"plantmatter" : 80,
					"irradiatedwall" : 100,
					"beesilk" : 500
					
				}
			},
			{
				"name" : "pordratetch",
				"baseProduction" : 4, 
				"droneToughness" : 14, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 2,   
				"queenLifespan" : 950,  
				"mutationChance" : 8,	
				"miteResistance" : 5, 
				"workTime" : 2, 
				
				"production" : {
				// honey
					"fu_liquidhoney" : 70,
				//comb
					"aegisaltcomb" : 320,
				//drops
					"plutoniumore" : 350,
					"uraniumore" : 400,
					"neptuniumore" : 450,
					"thoriumore" : 500,
					"plantmatter" : 80,
					"irradiatedwall" : 100,
					"beesilk" : 500
					
				}
			}			
		], 
		"sandprowler" : [
			{
				"name" : "sandprowler",
				"baseProduction" : 2, 
				"droneToughness" : 33, 
				"droneBreedRate" : 3,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 500,  
				"mutationChance" : 1.5,	
				"miteResistance" : 7, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"fu_liquidhoney" : 70,
				//comb
					"aridcomb" : 300,
				//drops
					"bugshell" : 500,
					"liquidoil" : 200,
					"biosample" : 145,
					"goldensand" : 500,
					"sand2" : 50,
					"sand" : 20,
					"coalore" : 70,
					"beesilk" : 500
				}
			},
			{
				"name" : "dunedropper",
				"baseProduction" : 2, 
				"droneToughness" : 42, 
				"droneBreedRate" : 4,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 700,  
				"mutationChance" : 2,	
				"miteResistance" : 8, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"fu_liquidhoney" : 70,
				//comb
					"aridcomb" : 300,
				//drops
					"bugshell" : 500,
					"liquidoil" : 200,
					"biosample" : 145,
					"goldensand" : 500,
					"sand2" : 50,
					"sand" : 20,
					"coalore" : 70,
					"beesilk" : 500
				}
			}			
		],
		"goldensaint" : [
			{
				"name" : "goldensaint",
				"baseProduction" : 1, 
				"droneToughness" : 28, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 3,   
				"queenLifespan" : 625,  
				"mutationChance" : 2,	
				"miteResistance" : 3, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"fu_liquidhoney" : 70,
				//comb
					"godlycomb" : 670,
				//drops
					"mutaviskthread" : 900,
					"goldensand" : 90,
					"goldenleaves" : 45,
					"beesilk" : 500,
					"goldenwood" : 200
				}
			},
			{
				"name" : "purewing",
				"baseProduction" : 1, 
				"droneToughness" : 37, 
				"droneBreedRate" : 4,   
				"queenBreedRate" : 2,   
				"queenLifespan" : 625,  
				"mutationChance" : 2,	
				"miteResistance" : 2, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"fu_liquidhoney" : 110,
				//comb
					"godlycomb" : 770,
				//drops
					"mutaviskthread" : 900,
					"goldensand" : 290,
					"goldenleaves" : 245,
					"beesilk" : 500,
					"goldenwood" : 400
				}
			}			
		],
		"devoratrix"  : [
			{
				"name" : "devoratrix",
				"baseProduction" : 1, 
				"droneToughness" : 25, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 600,  
				"mutationChance" : 3.34,	
				"miteResistance" : 4, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"fu_liquidhoneyred" : 50,
					"liquidblood" : 105,
				//comb
					"coppercomb" : 300,
				//drops
					"alienmeat" : 100,
					"bone" : 100,
					"boneyflesh" : 90
				}
			},
			{
				"name" : "fleshCarver",
				"baseProduction" : 1, 
				"droneToughness" : 14, 
				"droneBreedRate" : 5,   
				"queenBreedRate" : 3,   
				"queenLifespan" : 400,  
				"mutationChance" : 9,	
				"miteResistance" : 6, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"fu_liquidhoneyred" : 50,
					"liquidblood" : 105,
				//comb
					"coppercomb" : 300,
				//drops
					"alienmeat" : 100,
					"bone" : 100,
					"boneyflesh" : 90
				}
			}			
		],
		"aquarum" : [
			{
				"name" : "aquarum",
				"baseProduction" : 0.8, 
				"droneToughness" : 22, 
				"droneBreedRate" : 2,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 700,  
				"mutationChance" : 2,	
				"miteResistance" : 6, 
				"workTime" : 2, 
				
				"production" : {
				// honey
					"fu_honeyice" : 50,
					"ff_mercury" : 75,
				//comb
					"violiumcomb" : 300,
				//drops
					"vialproto" : 700,
					"kelp" : 100,
					"hydrolium" : 300
				}
			},
			{
				"name" : "mariner",
				"baseProduction" : 1, 
				"droneToughness" : 24, 
				"droneBreedRate" : 4,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 900,  
				"mutationChance" : 1,	
				"miteResistance" : 11, 
				"workTime" : 2, 
				
				"production" : {
				// honey
					"fu_honeyice" : 50,
					"ff_mercury" : 75,
				//comb
					"violiumcomb" : 300,
				//drops
					"vialproto" : 700,
					"kelp" : 100,
					"hydrolium" : 300
				}
			}				
		],
		"gelidburrower" : [
			{
				"name" : "gelidburrower",  //short lifespan
				"baseProduction" : 1, 
				"droneToughness" : 35, 
				"droneBreedRate" : 2,   
				"queenBreedRate" : 2,   
				"queenLifespan" : 300,  
				"mutationChance" : 5,	
				"miteResistance" : 13, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"fu_honeyice" : 50, 
				//comb
					"arcticcomb" : 367, 
				//drops
					"frozenwaxchunk" : 300,
					"cryonicextract" : 400,
					"alienwoodsap" : 800,
					"icecrystal" : 900,
					"snowflake" : 50
				}
			},
			{
				"name" : "snowStalker",  //short lifespan
				"baseProduction" : 1, 
				"droneToughness" : 14, 
				"droneBreedRate" : 3,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 900,  
				"mutationChance" : 2,	
				"miteResistance" : 9, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"fu_honeyice" : 50, 
				//comb
					"arcticcomb" : 367, 
				//drops
					"frozenwaxchunk" : 300,
					"cryonicextract" : 400,
					"alienwoodsap" : 800,
					"icecrystal" : 900,
					"snowflake" : 50
				}
			}			
		], 		
		"digger" : [
			{
				"name" : "digger",
				"baseProduction" : 4, 
				"droneToughness" : 26, 
				"droneBreedRate" : 2,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 662,  
				"mutationChance" : 2,	
				"miteResistance" : 2.4, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"liquidoil" : 50,
				//comb
					"volcaniccomb" : 300,
				//drops
					"scorchedcore" : 900,
					"dirtmaterial" : 60,
					"clay" : 50,
					"sand" : 150,
					"sand2" : 300,
					"goldensand" : 800,
					"fu_carbon" : 1500,
					"copperore" : 700,
					"silverore" : 1000,
					"goldore" : 1500
				}
			},
			{
				"name" : "miner",
				"baseProduction" : 3, 
				"droneToughness" : 38, 
				"droneBreedRate" : 3,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 562,  
				"mutationChance" : 1,	
				"miteResistance" : 8, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"liquidoil" : 50,
				//comb
					"volcaniccomb" : 300,
				//drops
					"scorchedcore" : 900,
					"dirtmaterial" : 60,
					"clay" : 50,
					"sand" : 150,
					"sand2" : 300,
					"goldensand" : 800,
					"fu_carbon" : 1500,
					"copperore" : 700,
					"silverore" : 1000,
					"goldore" : 1500
				}
			}			
		],
		"oremason"  : [
			{
				"name" : "oremason",
				"baseProduction" : 1, 
				"droneToughness" : 49, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 600,  
				"mutationChance" : 3,	
				"miteResistance" : 16, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"liquidoil" : 50,
				//comb
					"minercomb" : 300,
				//drops
					"cobblestonematerial" : 40,
					"copperore" : 700,					
					"ironore" : 200,
					"tungstenore" : 400,
					"titaniumore" : 800,
					"silverore" : 1000,
					"goldore" : 1500,
					"durasteelbar" : 2000
				}
			},
			{
				"name" : "eyeGouger",
				"baseProduction" : 5, 
				"droneToughness" : 21, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 100,  
				"mutationChance" : 12,	
				"miteResistance" : 1, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"liquidoil" : 30,
				//comb
					"minercomb" : 200,
				//drops
					"cobblestonematerial" : 40,
					"copperore" : 700,					
					"ironore" : 200,
					"tungstenore" : 400,
					"titaniumore" : 800,
					"silverore" : 1000,
					"goldore" : 1500,
					"durasteelbar" : 2000
				}
			}			
		],
		"cybernetic" : [
			{
				"name" : "cybernetic",
				"baseProduction" : 3, 
				"droneToughness" : 90, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 1100,  
				"mutationChance" : 1,	
				"miteResistance" : 25, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"liquidoil" : 40,
					"ff_mercury" : 90,
				//comb
					"titaniumcomb" : 300,
				//drops
					"ff_spareparts" : 100,
					"smallbattery" : 100,
					"battery" : 500,
					"electromagnet" : 200,
					"cpu" : 1200,
					"fuprocessor" : 1800,
					"aichip" : 2400
				}
			},
			{
				"name" : "cybermorphic",
				"baseProduction" : 1, 
				"droneToughness" : 22, 
				"droneBreedRate" : 5,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 900,  
				"mutationChance" : 2,	
				"miteResistance" : 55, 
				"workTime" : 2, 
				
				"production" : {
				// honey
					"liquidoil" : 40,
					"ff_mercury" : 90,
				//comb
					"titaniumcomb" : 300,
				//drops
					"ff_spareparts" : 100,
					"smallbattery" : 100,
					"battery" : 500,
					"electromagnet" : 200,
					"cpu" : 1200,
					"fuprocessor" : 1800,
					"aichip" : 2400
				}
			}						
		],
		"isovapitdae" : [
			{
				"name" : "isovapitdae",
				"baseProduction" : 1, 
				"droneToughness" : 25, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 7,   
				"queenLifespan" : 900,  
				"mutationChance" : 5,	
				"miteResistance" : 1, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"liquidbioooze" : 60,
					"ff_mercury" : 90,
				//comb
					"silkcomb" : 300,
				//drops
					"aliencompound" : 700,
					"endomorphicjelly" : 400,
					"greenslime" : 320,
					"petalblue" : 320,
					"petalyellow" : 320,
					"petalred" : 320
				}
			},
			{
				"name" : "gunkMucker",
				"baseProduction" : 1, 
				"droneToughness" : 15, 
				"droneBreedRate" : 2,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 900,  
				"mutationChance" : 2,	
				"miteResistance" : 1, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"clay" : 30,
					"ff_mercury" : 50,
				//comb
					"silkcomb" : 400,
				//drops
					"endomorphicjelly" : 200,
					"greenslime" : 220
				}
			}			
		],
		"harlequin" : [
			{
				"name" : "harlequin",
				"baseProduction" : 2, 
				"droneToughness" : 12, 
				"droneBreedRate" : 2,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 350,  
				"mutationChance" : 10,	
				"miteResistance" : 3, 
				"workTime" : 2, 
				
				"production" : {
				// honey
					"fu_liquidhoneyred" : 50,
					"liquidaether" : 400,
				//comb
					"morbidcomb" : 300,
				//drops
					"alienwoodsap" : 100,
					"corruptionore" : 900,
					"glowfibre" : 300
				}
			},
			{
				"name" : "lacedLady",
				"baseProduction" : 2, 
				"droneToughness" : 11, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 4,   
				"queenLifespan" : 1500,  
				"mutationChance" : 30,	
				"miteResistance" : 2, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"fu_liquidhoneyred" : 50,
					"liquidaether" : 300,
				//comb
					"morbidcomb" : 400,
				//drops
					"alienwoodsap" : 200,
					"corruptionore" : 1100,
					"glowfibre" : 240
				}
			}			
		],
		"shrouded" : [
			{
				"name" : "shrouded",
				"baseProduction" : 3, 
				"droneToughness" : 10, 
				"droneBreedRate" : 4,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 1200,  
				"mutationChance" : 1,	
				"miteResistance" : 4, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"fu_honeyspirit" : 50,
				//comb
					"nocturnalcomb" : 300,
				//drops
					"effigiumore" : 1300,
					"matteritem" : 500,
					"darkmatter" : 1500
				}
			},
			{
				"name" : "vocadahl",
				"baseProduction" : 2, 
				"droneToughness" : 17, 
				"droneBreedRate" : 3,   
				"queenBreedRate" : 3,   
				"queenLifespan" : 900,  
				"mutationChance" : 3,	
				"miteResistance" : 2, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"fu_honeyspirit" : 50,
				//comb
					"nocturnalcomb" : 300,
				//drops
					"effigiumore" : 1300,
					"matteritem" : 500,
					"darkmatter" : 1500
				}
			}			
		],
		"stellar" : [
			{
				"name" : "stellar",
				"baseProduction" : 1, 
				"droneToughness" : 42, 
				"droneBreedRate" : 4,   
				"queenBreedRate" : 3,   
				"queenLifespan" : 1300,  
				"mutationChance" : 1,	
				"miteResistance" : 14, 
				"workTime" : 0, 
				
				"production" : {
				// honey	
					"fu_liquidhoney" : 30,
				//comb
					"mythicalcomb" : 600,
					"solarishard" : 300,
				//drops
					"psionicenergy" : 300,
					"psionicenergy2" : 600,
					"solariumore" : 2000
				}
			},
			{
				"name" : "cosmonaut",
				"baseProduction" : 2, 
				"droneToughness" : 30, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 800,  
				"mutationChance" : 2,	
				"miteResistance" : 19, 
				"workTime" : 0, 
				
				"production" : {
				// honey	
					"fu_liquidhoney" : 30,
				//comb
					"mythicalcomb" : 500,
					"solarishard" : 200,
				//drops
					"liquidaether" : 700
				}
			}			
		],
		"cuckoo" : [
			{
				"name" : "cuckoo",
				"baseProduction" : 3, 
				"droneToughness" : 15, 
				"droneBreedRate" : 3,   
				"queenBreedRate" : 5,   
				"queenLifespan" : 400,  
				"mutationChance" : 4,	
				"miteResistance" : 4, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"fu_liquidhoney" : 70,
				//comb
					"exceptionalcomb" : 425,
				//drops
					"magnesiumpowder" : 300,
					"fu_salt" : 100,
					"sugar" : 100  
				}
			},
			{
				"name" : "feignFly",
				"baseProduction" : 2, 
				"droneToughness" : 11, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 3,   
				"queenLifespan" : 800,  
				"mutationChance" : 6,	
				"miteResistance" : 1, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"fu_liquidhoney" : 70,
				//comb
					"exceptionalcomb" : 425,
				//drops
					"magnesiumpowder" : 300,
					"fu_salt" : 100,
					"sugar" : 100  
				}
			}			
		],
		"loamzipper" : [
			{
				"name" : "loamzipper",
				"baseProduction" : 2, 
				"droneToughness" : 16, 
				"droneBreedRate" : 8,   
				"queenBreedRate" : 4,   
				"queenLifespan" : 300,  
				"mutationChance" : 1,	
				"miteResistance" : 4, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"fu_liquidhoney" : 90,
				//comb
					"exceptionalcomb" : 300,
				//drops
					"agaranichor" : 300,
					"iodine" : 400 ,
					"beesilk" : 100,
					"magnesiumsulfate" : 500
				}
			},
			{
				"name" : "veilFlush",
				"baseProduction" : 1, 
				"droneToughness" : 32, 
				"droneBreedRate" : 4,   
				"queenBreedRate" : 2,   
				"queenLifespan" : 700,  
				"mutationChance" : 1,	
				"miteResistance" : 3, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"fu_liquidhoney" : 90,
				//comb
					"exceptionalcomb" : 300,
				//drops
					"agaranichor" : 300,
					"iodine" : 400 ,
					"beesilk" : 100,
					"magnesiumsulfate" : 500
				}
			}			
		], 
		"stalwart" : [
			{
				"name" : "stalwart",
				"baseProduction" : 1, 
				"droneToughness" : 20, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 821,  
				"mutationChance" : 3,	
				"miteResistance" : 11, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"fu_liquidhoney" : 90,
				//comb
					"ironcomb" : 350,
				//drops
					"liquidbeer" : 50
				}
			},
			{
				"name" : "armored",
				"baseProduction" : 1, 
				"droneToughness" : 70, 
				"droneBreedRate" : 2,   
				"queenBreedRate" : 3,   
				"queenLifespan" : 421,  
				"mutationChance" : 3,	
				"miteResistance" : 5, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"fu_liquidhoney" : 90,
				//comb
					"ironcomb" : 350,
				//drops
					"liquidbeer" : 50
				}
			}			
		],
		"rimewing" : [
			{
				"name" : "rimewing",
				"baseProduction" : 1, 
				"droneToughness" : 44, 
				"droneBreedRate" : 2,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 800,  
				"mutationChance" : 7,	
				"miteResistance" : 7, 
				"workTime" : 2, 
				
				"production" : {
				// honey
					"fu_honeyice" : 70,
				//comb
					"arcticcomb" : 300,
				//drops
					"frozenwaxchunk" : 100,
					"icecrystal" : 500 
				}
			},
			{
				"name" : "snatchling",
				"baseProduction" : 3, 
				"droneToughness" : 25, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 1000,  
				"mutationChance" : 9,	
				"miteResistance" : 4, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"fu_honeyice" : 70,
				//comb
					"arcticcomb" : 300,
				//drops
					"frozenwaxchunk" : 100,
					"icecrystal" : 500 
				}
			}			
		],
		"xenodaemonae" : [
			{
				"name" : "xenodaemonae",
				"baseProduction" : 1, 
				"droneToughness" : 15, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 2,   
				"queenLifespan" : 500,  
				"mutationChance" : 15,	
				"miteResistance" : 4, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"liquidelderfluid" : 600,
				//comb
					"eldercomb" : 500,
				//drops
					"agaranichor" : 200,
					"blobbushjelly" : 300,
					"protorockmaterial" : 500,
					"unstableparticles" : 900
				}
			},
			{
				"name" : "puker",
				"baseProduction" : 2, 
				"droneToughness" : 23, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 10,   
				"queenLifespan" : 200,  
				"mutationChance" : 25,	
				"miteResistance" : 5, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"liquidpus" : 50,
				//comb
					"eldercomb" : 400,
				//drops
					"agaranichor" : 200,
					"blobbushjelly" : 400
				}
			}			
		],
		"redbanded" : [
			{
				"name" : "redbanded",
				"baseProduction" : 1, 
				"droneToughness" : 14, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 2,   
				"queenLifespan" : 500,  
				"mutationChance" : 2,	
				"miteResistance" : 15, 
				"workTime" : 2, 
				
				"production" : {
				// honey
					"fu_liquidhoneyred" : 50,
				//comb
					"redcomb" : 300,
				//drops
					"redwaxchunk" : 140,
					"fuflesh" : 700,
					"blooddiamond" : 1300 
				}
			},
			{
				"name" : "stalkerBee",
				"baseProduction" : 1, 
				"droneToughness" : 7, 
				"droneBreedRate" : 2,   
				"queenBreedRate" : 8,   
				"queenLifespan" : 220,  
				"mutationChance" : 3,	
				"miteResistance" : 5, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"fu_liquidhoneyred" : 50,
				//comb
					"redcomb" : 300,
				//drops
					"aliencompound" : 400,
					"fuflesh" : 700,
					"blooddiamond" : 1300 
				}
			}			
		],
		"assassin" : [
			{
				"name" : "assassin",
				"baseProduction" : 1, 
				"droneToughness" : 8, 
				"droneBreedRate" : 5,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 1200,  
				"mutationChance" : 1,	
				"miteResistance" : 1, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"fu_liquidhoneyred" : 50,
				//comb
					"silkcomb" : 300,
				//drops
					"alienmeat" : 200,
					"bone" : 50,
					"leather" : 100,
					"fleshstrand" : 40
				}
			},
			{
				"name" : "burrowJack",
				"baseProduction" : 2, 
				"droneToughness" : 12, 
				"droneBreedRate" : 1,   
				"queenBreedRate" : 1,   
				"queenLifespan" : 700,  
				"mutationChance" : 8,	
				"miteResistance" : 2, 
				"workTime" : 1, 
				
				"production" : {
				// honey
					"fu_liquidhoneyred" : 30,
				//comb
					"silkcomb" : 500,
				//drops
					"alienmeat" : 400,
					"bone" : 150,
					"leather" : 50,
					"fleshstrand" : 20
				}
			}			
		],
		"reaper" : [
			{
				"name" : "reaper",
				"baseProduction" : 1, 
				"droneToughness" : 12, 
				"droneBreedRate" : 2,   
				"queenBreedRate" : 3,   
				"queenLifespan" : 400,  
				"mutationChance" : 1,	
				"miteResistance" : 6, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"fu_liquidhoneyred" : 50,
				//comb
					"feroziumcomb" : 400,
				//drops
					"redwaxchunk" : 300,
					"bugshell" : 40,
					"bone" : 240
				}
			},
			{
				"name" : "deathSting",
				"baseProduction" : 1, 
				"droneToughness" : 17, 
				"droneBreedRate" : 12,   
				"queenBreedRate" : 6,   
				"queenLifespan" : 400,  
				"mutationChance" : 1,	
				"miteResistance" : 2, 
				"workTime" : 0, 
				
				"production" : {
				// honey
					"fu_liquidhoneyred" : 350,
				//comb
					"feroziumcomb" : 700,
				//drops
					"redwaxchunk" : 1200,
					"bugshell" : 140,
					"bone" : 340
				}
			}			
		] 	
	}
}
