{
  "action" : "actions",
  "list" : [
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/hivebomb_impact.ogg" ]
    },
    {
      "action" : "projectile",
      "type" : "hiveswarm4",
      "fuzzAngle" : 20,
      "angleAdjust" : 0
    },    
    {
      "action" : "projectile",
      "type" : "hiveswarm3",
      "fuzzAngle" : 20,
      "inheritDamageFactor" : 1,
      "angleAdjust" : 0
    },
    {
      "action" : "projectile",
      "type" : "hiveswarm3",
      "fuzzAngle" : 20,
      "inheritDamageFactor" : 1,
      "angleAdjust" : 45
    },
    {
      "action" : "projectile",
      "type" : "hiveswarm3",
      "fuzzAngle" : 20,
      "inheritDamageFactor" : 1,
      "angleAdjust" : 90
    },
    {
      "action" : "projectile",
      "type" : "hiveswarm3",
      "fuzzAngle" : 20,
      "inheritDamageFactor" : 1,
      "angleAdjust" : 135
    },
    {
      "action" : "projectile",
      "type" : "hiveswarm3",
      "fuzzAngle" : 20,
      "inheritDamageFactor" : 1,
      "angleAdjust" : 180
    },
    {
      "action" : "projectile",
      "type" : "hiveswarm3",
      "fuzzAngle" : 20,
      "inheritDamageFactor" : 1,
      "angleAdjust" : -45
    },
    {
      "action" : "projectile",
      "type" : "hiveswarm3",
      "fuzzAngle" : 20,
      "inheritDamageFactor" : 1,
      "angleAdjust" : -90
    },
    {
      "action" : "projectile",
      "type" : "hiveswarm3",
      "fuzzAngle" : 20,
      "inheritDamageFactor" : 1,
      "angleAdjust" : -135
    }
  ]
}
