{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    
    
    
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/collections/header.png",
      "fileBody" : "/interface/scripted/collections/body.png",
      "fileFooter" : "/interface/scripted/collections/footer.png"
    },
    
    
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [296, 228]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Collections Library",
      "subtitle" : "Catalogue everything you've seen and done!",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/collections/collectionsicon.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    



    "scrollBG1" : {
      "type" : "image",
      "file" : "/interface/scripted/collections/list_left.png",
      "position" : [4, 25],
      "zlevel" : -5
    },   
    "scrollArea2" : {
      "type" : "scrollArea",
      "rect" : [8, 35, 81, 205],
      "children" : {
        "collectionList" : {
          "type" : "list",
          "callback" : "null",
          "position" : [1, 217],
          "columns" : 5,
          "fillDown" : true,
          "scissoring" : false,
          "schema" : {
            "selectedBG" : "/interface/scripted/collections/collect_bg.png",
            "unselectedBG" : "/interface/scripted/collections/collect_bg.png",
            "spacing" : [10, 10],
            "memberSize" : [32, 32],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/collections/collect_bg.png",
                "position" : [0, 0],
                "zlevel" : -10
              },
              "icon" : {
                "type" : "image",
                "file" : "",
                "position" : [16, 16],
                "size" : [22, 22],
                "centered" : true,
                "zlevel" : 0
              },
              "border" : {
                "type" : "image",
                "file" : "/interface/scripted/collections/collect_fg.png",
                "position" : [0, 0],
                "zlevel" : 10
              },
              "index" : {
                "type" : "label",
                "position" : [8, 2],
                "zlevel" : 20,
                "hAnchor" : "mid",
                "color" : "white",
                "value" : ""
              }
            }
          }
        }
      }
    }, 
    
    "collectionTabs" : {
      "type" : "radioGroup",
      "callback" : "selectCollection",
      "zlevel" : 2,
      "toggleMode" : false,
      "buttons" : [
      //178   152   126   100   74   48    -- row coordinates (Y)
      
        // row 1
        {
          "selected" : false,
          "position" : [11, 178],
          "baseImage" : "/interface/scripted/collections/tab_monster_deselect.png",
          "baseImageChecked" : "/interface/scripted/collections/tab_monster_select.png",
          "pressedOffset" : [0, 0],
          "data" : "monsters"
        },       
        {
          "selected" : false,
          "position" : [40, 178],
          "baseImage" : "/interface/scripted/collections/tab_figure_deselect.png",
          "baseImageChecked" : "/interface/scripted/collections/tab_figure_select.png",
          "pressedOffset" : [0, 0],
          "data" : "actionfigures"
        },
        
        // row 2
        {
          "selected" : false,
          "position" : [11, 152],
          "baseImage" : "/interface/scripted/collections/tab_fish_deselect.png",
          "baseImageChecked" : "/interface/scripted/collections/tab_fish_select.png",
          "pressedOffset" : [0, 0],
          "data" : "fishing"
        },
        {
          "selected" : false,
          "position" : [40, 152],
          "baseImage" : "/interface/scripted/collections/tab_food_deselect.png",
          "baseImageChecked" : "/interface/scripted/collections/tab_food_select.png",
          "pressedOffset" : [0, 0],
          "data" : "cooking"
        },
        
        //row 3
        {
          "selected" : false,
          "position" : [11, 126],
          "baseImage" : "/interface/scripted/collections/tab_fossil_deselect.png",
          "baseImageChecked" : "/interface/scripted/collections/tab_fossil_select.png",
          "pressedOffset" : [0, 0],
          "data" : "fossils"
        },
        {
          "selected" : false,
          "position" : [40, 126],
          "baseImage" : "/interface/scripted/collections/tab_bug_deselect.png",
          "baseImageChecked" : "/interface/scripted/collections/tab_bug_select.png",
          "pressedOffset" : [0, 0],
          "data" : "bugs"
        },

        //row 4
        {
          "selected" : false,
          "position" : [11, 100],
          "baseImage" : "/interface/scripted/collections/tab_fu_deselect.png",
          "baseImageChecked" : "/interface/scripted/collections/tab_fu_select.png",
          "pressedOffset" : [0, 0],
          "data" : "customCollections"
        },          
        {
          "visible": false,
          "selected": false,
          "data": "customCollectionsVisible"
        }     
      ]
    },

    "selectLabel" : {
      "type" : "label",
      "position" : [145, 208],
      "hAnchor" : "left",
      "value" : "Collection"
    },
    "emptyLabel" : {
      "type" : "label",
      "position" : [150, 192],
      "hAnchor" : "mid",
      "color" : "gray",
      "value" : "Select a collection to the left"
    },

    "scrollBG" : {
      "type" : "image",
      "file" : "/interface/scripted/collections/scroll_bg.png",
      "position" : [81, 25],
      "zlevel" : -5
    },
    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [91, 34, 308, 204],
      "children" : {
        "collectionList" : {
          "type" : "list",
          "callback" : "null",
          "position" : [1, 217],
          "columns" : 5,
          "fillDown" : true,
          "scissoring" : false,
          "schema" : {
            "selectedBG" : "/interface/scripted/collections/collect_bg.png",
            "unselectedBG" : "/interface/scripted/collections/collect_bg.png",
            "spacing" : [10, 10],
            "memberSize" : [32, 32],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/collections/collect_bg.png",
                "position" : [0, 0],
                "zlevel" : -10
              },
              "icon" : {
                "type" : "image",
                "file" : "",
                "position" : [16, 16],
                "size" : [22, 22],
                "centered" : true,
                "zlevel" : 0
              },
              "border" : {
                "type" : "image",
                "file" : "/interface/scripted/collections/collect_fg.png",
                "position" : [0, 0],
                "zlevel" : 10
              },
              "index" : {
                "type" : "label",
                "position" : [8, 2],
                "zlevel" : 20,
                "hAnchor" : "mid",
                "color" : "white",
                "value" : ""
              }
            }
          }
        }
      }
    },
    
    "scrollAreaCustom": {
      "type": "scrollArea",
      "rect": [88, 35, 308, 205],
      "children": {
        "customCollectionList": {
          "type": "list",
          "//callback": "selectCustomCollection",
          "schema": {
            "spacing": [4,2],
            "memberSize": [204,11],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/interface/scripted/collections/tab_customcollections_bg.png",
                "position": [
                  0,
                  1
                ],
                "zlevel": -1
              },
              "collectionName": {
                "type": "label",
                "position": [ 102,1 ],
                "hAnchor": "mid",
                "width": 198,
                "value": "Replace Me"
              }
            }
          }
        }
      }
    }
  },

  "scriptWidgetCallbacks" : [
    "selectCollection"
  ],

  "tooltipLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/tooltips/racebody.png",
      "fileFooter" : ""
    },
    "title" : {
      "type" : "label",
      "position" : [11, 54],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220,
      "fontSize" : 12
    },
    "description" : {
      "type" : "label",
      "position" : [11, 38],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220
    }
  },

  "scripts" : [ "/interface/scripted/collections/collectionsgui.lua" ],
  "scriptDelta" : 30,

  "iconSize" : [22, 22],
  
  
  "customCollectionsTitle": "Custom Collections",
  "customCollections": [
    "fu_shoggothart",
    "fu_chemist",
    "fu_geology",
    "fu_elderrelics",
    "fu_bees",
    "fu_monster",
    "fu_plant",
    "fu_liquid",
    "fu_tech",
    "fu_isotopes",
    "fu_armorbalanced",
    "fu_armorexplorer",
    "fu_armorprotection",
    "fu_armortank",
    "fu_armormelee",
    "fu_armorpowermelee",
    "fu_armorranged",
    "fu_armorpowerranged",
    "fu_weaponbow",
    "fu_weaponchakram",
    "fu_weaponfist",
    "fu_weaponaxe",
    "fu_weaponbroadsword",
    "fu_weapondagger",
    "fu_weapongreataxe",
    "fu_weaponhammer",
    "fu_weaponkatana",
    "fu_weaponlongsword",
    "fu_weaponmace",
    "fu_weaponquarterstaff",
    "fu_weaponrapier",
    "fu_weaponscythe",
    "fu_weaponshortspear",
    "fu_weaponshortsword",
    "fu_weaponspear"
  ]
}
