{
  "gui" : {
    "background" : {
      "type" : "background",
      //"fileHeader" : "/interface/tech/storagenet/header.png", // don't need a header, because...
      "fileFooter" : "/interface/tech/storagenet/terminal.body.png" // if we make this the footer, it's all draggable
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      //position: horizontal, vertical
      "position" : [201, 264]
    },    
    "title" : {
      "type" : "label",
      "position" : [24, 266],
      "value" : "Transmatter Terminal"
    },
    "requestLabel" : {
      "type" : "label",
      "position" : [151, 266],
      "value" : "Request"
    },

    "itemGrid" : { // because the game crashes without it :D isn't that just lovely?
      "type" : "itemgrid",
      "position" : [-100, 0],
      "dimensions" : [0,0],
      "spacing" : [22, 20],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "grid" : {
      "type" : "scrollArea",
      "rect" : [7, 54, 219, 246],
      "children" : {
        "nudge" : { // adds one extra pixel of buffer on the bottom of the list to match the top
          "type" : "image",
          "file" : "/interface/tech/storagenet/transpixel.png",
          "position" : [0, -1],
          "zlevel" : -1
        },
        "list" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/craftableselected2.png",
            "unselectedBG" : "/interface/crafting/craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [200, 24],
            "listTemplate" : {
              // and this is where it gets a bit silly
              "s1-icon" : {
                "type" : "list",
                "zlevel" : -573,
                "scissoring" : false,
                "schema" : {
                  "spacing" : [0, -24],
                  "memberSize" : [24, 24],
                  "listTemplate" : {
                    "icon" : {
                      "type" : "image",
                      "position" : [0, 0],
                      "zslevel" : -5
                } } }
              },
              "s1-count" : {
                "type" : "label",
                "position" : [7777, 0],
                "value" : "",
                "hAnchor" : "right",
                "zlevel" : 13
              },
              
              "s2-icon" : {
                "type" : "list",
                "zlevel" : -573,
                "scissoring" : false,
                "schema" : {
                  "spacing" : [0, -24],
                  "memberSize" : [24, 24],
                  "listTemplate" : {
                    "icon" : {
                      "type" : "image",
                      "position" : [0, 0],
                      "zslevel" : -5
                } } }
              },
              "s2-count" : {
                "type" : "label",
                "position" : [7777, 0],
                "value" : "",
                "hAnchor" : "right",
                "zlevel" : 13
              },
              
              "s3-icon" : {
                "type" : "list",
                "zlevel" : -573,
                "scissoring" : false,
                "schema" : {
                  "spacing" : [0, -24],
                  "memberSize" : [24, 24],
                  "listTemplate" : {
                    "icon" : {
                      "type" : "image",
                      "position" : [0, 0],
                      "zslevel" : -5
                } } }
              },
              "s3-count" : {
                "type" : "label",
                "position" : [7777, 0],
                "value" : "",
                "hAnchor" : "right",
                "zlevel" : 13
              },
              
              "s4-icon" : {
                "type" : "list",
                "zlevel" : -573,
                "scissoring" : false,
                "schema" : {
                  "spacing" : [0, -24],
                  "memberSize" : [24, 24],
                  "listTemplate" : {
                    "icon" : {
                      "type" : "image",
                      "position" : [0, 0],
                      "zslevel" : -5
                } } }
              },
              "s4-count" : {
                "type" : "label",
                "position" : [7777, 0],
                "value" : "",
                "hAnchor" : "right",
                "zlevel" : 13
              },
              
              "s5-icon" : {
                "type" : "list",
                "zlevel" : -573,
                "scissoring" : false,
                "schema" : {
                  "spacing" : [0, -24],
                  "memberSize" : [24, 24],
                  "listTemplate" : {
                    "icon" : {
                      "type" : "image",
                      "position" : [0, 0],
                      "zslevel" : -5
                } } }
              },
              "s5-count" : {
                "type" : "label",
                "position" : [7777, 0],
                "value" : "",
                "hAnchor" : "right",
                "zlevel" : 13
              },
              
              "s6-icon" : {
                "type" : "list",
                "zlevel" : -573,
                "scissoring" : false,
                "schema" : {
                  "spacing" : [0, -24],
                  "memberSize" : [24, 24],
                  "listTemplate" : {
                    "icon" : {
                      "type" : "image",
                      "position" : [0, 0],
                      "zslevel" : -5
                } } }
              },
              "s6-count" : {
                "type" : "label",
                "position" : [7777, 0],
                "value" : "",
                "hAnchor" : "right",
                "zlevel" : 13
              },
              
              "s7-icon" : {
                "type" : "list",
                "zlevel" : -573,
                "scissoring" : false,
                "schema" : {
                  "spacing" : [0, -24],
                  "memberSize" : [24, 24],
                  "listTemplate" : {
                    "icon" : {
                      "type" : "image",
                      "position" : [0, 0],
                      "zslevel" : -5
                } } }
              },
              "s7-count" : {
                "type" : "label",
                "position" : [7777, 0],
                "value" : "",
                "hAnchor" : "right",
                "zlevel" : 13
              },
              
              "s8-icon" : {
                "type" : "list",
                "zlevel" : -573,
                "scissoring" : false,
                "schema" : {
                  "spacing" : [0, -24],
                  "memberSize" : [24, 24],
                  "listTemplate" : {
                    "icon" : {
                      "type" : "image",
                      "position" : [0, 0],
                      "zslevel" : -5
                } } }
              },
              "s8-count" : {
                "type" : "label",
                "position" : [7777, 0],
                "value" : "",
                "hAnchor" : "right",
                "zlevel" : 13
              }
              // told you so
            }
          }
        }
      }
    },
    "searchBox" : {
      "type" : "textbox",
      "position" : [27, 253],
      "textAlign" : "left",
      "maxWidth" : 118,
      "hint" : "Search",
      "escapeKey" : "searchBoxEsc",
      "enterKey" : "searchBoxEnter"
    },
    
    "selItem_icon" : {
      "type" : "list",
      "position" : [13, 46], // y = 25+gridsize(24)
      "scissoring" : false,
      "schema" : {
        "spacing" : [0, -24],
        "memberSize" : [24, 24],
        
        "listTemplate" : {
          "icon" : {
            "type" : "image",
            "position" : [0, 0],
            "zslevel" : -5
          }
        }
      }
    },
    "selItem_label" : {
      "type" : "label",
      "position" : [50, 39],
      "zlevel" : 1024,
      "value" : ""
    },
    "selItem_description" : {
      "type" : "scrollArea",
      "rect" : [46, 10, 315, 40], // let's just push the scrollbar into the abyss (xend was 215)
      "zlevel" : 1024,
      "children" : {
        "text" : {
          "type" : "label",
          "vAnchor" : "top",
          "wrapWidth" : 178,
          "value" : ""
        }
      }
    },
    "expandedinfocover" : {
      "type" : "image",
      "position" : [5730, 0],
      "zlevel" : 1023,
      "file" : "/interface/tech/storagenet/terminal.body.expandedinfo.png"
    },
    
    "expandinfo" : {
      "type" : "button",
      "position" : [18, 10],
      "base" : "/interface/tech/storagenet/buttons/expandinfo.png",
      "pressedOffset" : [0, 0],
      "callback" : "btnExpandInfo"
    },
    
    "req1" : {
      "type" : "button",
      "position" : [151, 252],
      "zlevel" : 100,
      "base" : "/interface/tech/storagenet/buttons/request.1.png?replace;ff0000=fefefe",
      "hover" : "/interface/tech/storagenet/buttons/request.1.png?replace;ff0000=cbcbfe",
      "pressed" : "/interface/tech/storagenet/buttons/request.1.png?replace;ff0000=7fff7f",
      "pressedOffset" : [0, 0],
      "callback" : "request"
    },
    
    "req10" : {
      "type" : "button",
      "position" : [162, 252],
      "zlevel" : 100,
      "base" : "/interface/tech/storagenet/buttons/request.10.png?replace;ff0000=fefefe",
      "hover" : "/interface/tech/storagenet/buttons/request.10.png?replace;ff0000=cbcbfe",
      "pressed" : "/interface/tech/storagenet/buttons/request.10.png?replace;ff0000=7fff7f",
      "pressedOffset" : [0, 0],
      "callback" : "request"
    },
    
    "req100" : {
      "type" : "button",
      "position" : [177, 252],
      "zlevel" : 100,
      "base" : "/interface/tech/storagenet/buttons/request.100.png?replace;ff0000=fefefe",
      "hover" : "/interface/tech/storagenet/buttons/request.100.png?replace;ff0000=cbcbfe",
      "pressed" : "/interface/tech/storagenet/buttons/request.100.png?replace;ff0000=7fff7f",
      "pressedOffset" : [0, 0],
      "callback" : "request"
    },
    
    "req1000" : {
      "type" : "button",
      "position" : [196, 252],
      "zlevel" : 100,
      "base" : "/interface/tech/storagenet/buttons/request.stack.png?replace;ff0000=fefefe",
      "hover" : "/interface/tech/storagenet/buttons/request.stack.png?replace;ff0000=cbcbfe",
      "pressed" : "/interface/tech/storagenet/buttons/request.stack.png?replace;ff0000=7fff7f",
      "pressedOffset" : [0, 0],
      "callback" : "request"
    }
  },
  
  "scriptWidgetCallbacks" : [
    "searchBox",
    "searchBoxEsc",
    "searchBoxEnter",
    "refresh",
    "request",
    "btnExpandInfo"
  ],

  "scripts" : ["/interface/tech/storagenet/terminal.lua"],
  "scriptDelta" : 1
}
