{
  "converse" : {
    "default" : {
      "default" : [
        "Do I smell? Please let me know if I do, it could mean I botched the fermentation process again.",
        "Just because I live amongst distilling equipment rather than dusty old antiques doesn't mean I'm poor. I'm a master brewer after all.",
        "Concocting the ultimate bubbly is my raison d'être, if I dare say so myself.",
        "I do have a cushy day job with lots of benefits and pay, but brewing and sampling fine wine and spirits is my hobby.",
        "I rather like bad wine … one gets so bored with good wine, especially if one is a chef.",
        "Of course I'm rich! Just how many people do you think can afford to have the brewing equipment you see here?",
        "What is youth if not intoxication without wine?",
        "Tell me what you drink, and I will tell you what you are.",
        "When the wine is in, the wit is out.",
        "A meal without wine is like a day without sunshine.",
        "When I drink a Claret my head spins, so from now on I'll drink Anjou or Arbois wine instead.",
        "Voxels lose their value through inflation. Good vintage wines don't.",
        "Remember - please consume alcohol responsibly, and don't drive while drunk!"
        ],
        "human" : [
        "Good wine, good blood - that's what my nan used to tell me.",
        "I've had a smack of every sort of wine, from humble port to Imperial Tokay.",
        "Yes, that woman in the floppy hat is my sister. Or was, until I disowned here for filling my vats with dross-quality lager.",
        "I used to be a Protector, but then found my true calling - as a founding sole member of the Club of Extremely Inebriated and Erudite Gentlemen!",
        "I see nothing about having too much wealth, if it gives me time to produce something that makes people happy and inebriated. Corporate social responsibility, right?",
        "My peers oft indulge in pretensions of eruditeness by collecting crassly gilded ornamentations or wearing silly wigs, but I prefer to collect fine wines and fully aged spirits.",
        "Gather wine, summer fruits and oil, and put them in your vessels.",
        "Burgundy makes you think of silly things, Bordeaux makes you talk of them and Champagne makes you do them.",
        "Give strong drink unto him that is ready to perish, and wine unto those heavy of heart.",
        "Old wines to drink! old wood to burn! old books to read! old friends to trust! can anything else beat that?",
        "In vino veritas.",
        "Cura fugit multo diluiturque mero."        
        ],
        "hylotl" : [
        "Are your kind acquainted with the fine art of brewing and distilling alcoholic beverages?",
        "My ancestors became rich and powerful by making fine liquors for a living. Me? I just live to sample them, I suppose.",
        "Won't you agree that the ability to brew and refine spirits is a mark of civilised living?",
        "My people once had a saying: ''take wine in small doses, and knowledge in large ones''. But what about knowledge of wine?",
        "Better be jocund with the fruitful grape, than sadden after none, or bitter fruit."
        ],
        "twilek" : [
        "Are your kind acquainted with the fine art of brewing and distilling alcoholic beverages?",
        "My ancestors became rich and powerful by making fine liquors for a living. Me? I just live to sample them, I suppose.",
        "Won't you agree that the ability to brew and refine spirits is a mark of civilised living?",
        "My people once had a saying: ''take wine in small doses, and knowledge in large ones''. But what about knowledge of wine?",
        "Better be jocund with the fruitful grape, than sadden after none, or bitter fruit."
        ],
        "novakid" : [
        "Root pop? let me show you something better: it's red, bites like a serpent, and stings like an adder!",
        "Drink! for you not know whence you came, nor why; drink! for you know not why you go, nor where.",
        "While you live, drink! - for, once dead, you never shall return."
        ],
        "mawg" : [
        "Come try out my bread and drink the wine which I have brewed!",
        "Drink! for you not know whence you came, nor why; drink! for you know not why you go, nor where.",
        "While you live, drink! - for, once dead, you never shall return."
        ]
      }      
  },
  "accuse" : {
    "default" : {
      "default" : [
        "I saw that!",
        "Did you steal something?",
        "I urge you to return whatever you took. I have powerful friends.",
        "What contemptible scoundrel stole the cork from my lunch? was it you?",
        "If you stole something, beware, I am going to set your teeth on edge."
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default" : [
        "I saw that!",
        "Without that piece of equipment you took away, this place is worthless to me.",
        "Did you steal something?",
        "I urge you to return whatever you took. I have powerful friends.",
        "What contemptible scoundrel stole the cork from my lunch? was it you?",
        "If you stole something, beware, I am going to set your teeth on edge."
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default" : [
        "I need an enclosed area in order to brew. Please fix my walls.",
        "Those holes in the walls need patching, I can't afford anything being blown in and contaminating my ingredients.",
        "Can you do something about the breaches in the walls? I can't let anything contaminate my brews."
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default" : [
        "Are you trying to move a squatter in?",
        "I'm not sharing this place with another tenant!",
        "I thought this place was my very own home, and you want me to share it?!"
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [
        "I need you to fix this place; it's not safe to brew anything here.",
        "I wish my requests were listened to.",
        "The fixes to these premises haven't been made.",
        "This has gone too far, I need you to fix things!",
        "I can't put up with this much longer - look at the state of my brewery.",
        "My usually resilient patience is beginning to wear thin."
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [
        "This is beyond me. I'm taking my leave.",
        "I didn't want it to come to this, but I can't stay here any longer.",
        "Enough is enough. I deserve a better place than this",
        "That's it. I'm leaving. I can't stand working here anymore."
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "Be quick with your business, I have something in the mashing tun!",
        "You need me for something?",
        "Did you need me for a particular reason?",
        "Here I am! What did you want to talk about?",
        "Did you want to chat?",
        "Is this a social call?"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "My brewery efforts have been fantastic, and you ought to share in the rewards!",
        "This is going very well! Here's a gift to say thank you.",
        "Here is a gift, for all your help.",
        "A gift of thanks, I hope you enjoy it!",
        "I got you a present for all you've done for me.",
        "I hope you like the gift, you've earned it!",
        "That's for you to do as you please with."
      ]
    }
  },
  "reattack" : {
    "default" : {
      "default" : [
        "I'm here to collect the rent!",
        "@#$@$#@ *!!!HIC!!!*",
        "!!!",
        "Wantsh yer pixhels? Here, kitty kitty kitty!",
        "Back for more now?",
        "*BURRRRP!!*"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "I bite like a serpent, and sting like an adder!",
        "I'm coming to cut you down like John Barleycorn!" 
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Let's break out the celebratory bubbly, I think we bagged them all."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Only looshers like ya pick on people when they're drunk!",
        "Come back, the party wash jusht gettin' shtarted!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Only looshers like ya pick on people when they're drunk!",
        "Awwww, me ish alone again.",
        "By Venush, I'll need to find another drinkin' mate!"
      ]
    }
  },
  "helpme" : {
    "default" : {
      "default" : [
        "Please spare me, I'm unarmed!", 
        "NoooOOOOooo!!!",
        "Where's a reinforced concrete winecellar when you need one?!?!",
        "Take all the booze and cash I've got, just leave me alone!"
      ]
    }
  },  
  "safe" : {
    "default" : {
      "default" : [
        "Is it gone? are my wines safe?",
        "Are they dead yet?",
        "Is it safe now?",
        "Can I come back? I had to leave halfway through a drink."
      ]
    }
  },
  "greeting": {
    "default" : {
      "default" : [ 
        "Greetings!",
        "How are you my friend?",
        "Hello.",
        "Welcome, welcome, welcome!",
        "Cou cou"
      ]
    }
  }
}