{
  "greeting" : {
    "cat" : {
      "default" : [
        "Meow.",
		"Meow. Greetings! ...What? Yes, I can talk!",
		"Meow. How are mew?",
		"Meow! Oh hey, a visitor. Hello!",
		"Meow. Can I help mew?",
		"Meow! Hello, how are mew?",
		"Meow. Nice to meet mew!",
		"Meow. Hmm... Mew smell of foreign lands...",
		"Meow. Hey, a new furriend!",
		"Meow. Seen any good mice lately?",
		"Meow. Would mew care to pawse for a chat?",
		"Meow. Hi, I'm <selfname>!"
      ]
    }
  },

  "converse": {
    "cat" : {
      "generic" : [ "Meow! Better watch it. I have the power to read minds! No, really!" ,
	  "Meow. I spent yesterday outside, I love the feeling of sun on my fur!",
      "Meow... Mew look tired from all this adventuring. I bet it's the meownsters, right?",
	  "Meow. You are bold and brave, I can tell! What? No, I wasn't mind-reading!"
	  ],
      "default" : [
        "Meow? Mew don't LOOK like any creature I've ever seen."
      ],
      "human" : [
        "Meow. Mew want to pet me, don't mew? Well, don't. I'm not your pet cat!",
        "Meow... Mew seem a little sad... Is it because of what happened to Earth?",
        "Meow. We might LOOK like ordinary housecats, but we're not. We're far more intelligent!",
        "Meow. Mew wouldn't mind giving me a flea bath, would mew? ...Yeah that's what I thought.",
        "Meow! I've heard lots about humans, but I've never meet one before.",
        "Meow. I heard humans are usually dog people or cat people. Which are mew?",
        "Meow. It's always a bit startling to see people with no fur. Aren't mew cold?",
        "Meow. It must be great to have opposable thumbs like yours! Mew can actually hold items!",
        "Meow? I smell cat on mew... Oh, mew have a pet cat? Must be the inferior kind... ...R-Right?",
        "Meow... I never visited Earth, but it sounded like a nice place...",
        "Meow! What? No, a group of Cats isn't a clan! It's a clowder!",
        "Meow? Mew smell interesting... What? I may be more intelligent, but I'm still a cat!",
        "Meow. I heard there were once legends on Earth of two-tailed cats with psychic powers... Is it true?"
      ],
      "apex" : [
        "Meow? Hey, a humanoid with fur! Can mew spare some time to chat about the disadvangages of fur?",
        "Meow! It must be really hard to keep all that fur clean.",
        "Meow. I heard your kind used to be furless. Is that true?",
        "Meow... Hmm... Oh, sorry. I heard Apex were smarter than most species, so I was seeing if it was true.",
        "Meow... Your memories of other planets are quite curious... Oh, sorry! Mind-reading is a habit.",
        "Meow... Your mind is full of sad memories... I hope mew find nicer ones from here-on out!",
        "Meow. Do mew have fleas? No? Good. I'd hate to contract them again!",
        "Meow! A furry humanoid! Can we be furriends?",
		"Meow. What are a group of Apex called? We call a group of Cats clowders."
      ],
      "avian" : [
        "Meow. Mew are so feathery... It's hard to keep my instincts in check with all those feathers...",
        "Meow? A bird-person? Very strange, indeed.",
        "Meow. Exactly how closely-related are mew to normal birds?",
        "Meow? Mew just shed a feather... Can I have it?",
        "Meow? A bird-person? Now I've seen everything...",
        "Meow. Are feathers hard to keep clean?",
        "Meow! I heard Avians can't fly. Is that really true?",
        "Meow. Hello Avian.",
        "Meow. How does it feel to be so feathery?",
        "Meow... Is it hard to eat things with that beak?",
        "Meow. Good day to mew, Avian furriend.",
        "Meow. What do Avians eat, anyway?",
        "Meow! What do the bird-people do for fun?",
        "Meow! Your feathers remind me of a kitty-tease...",
		"Meow. Is a group of Avian called a flock? A group of Cats is called a clowder."
      ],
      "floran" : [
        "Meow? A Floran. Hi.",
        "Meow. Florans are always so bright and colorful!",
        "Meow... Don't hunt me, please...",
        "Meow. Floran clothes are so skimpy...but then again, I'm not wearing anything either!",
        "Meow! Don't eat me!",
        "Meow. Mew smell like freshly-cut grass.",
        "Meow... Please, don't kill me, I wouldn't make a good trophy anyway...",
        "Meow. Mew are very pretty... Uh...no offense...",
        "Meow! Don't even think about trying to kill me! I can read minds!",
        "Meow? Mew seem more civilised than the stories I've heard about Floran.",
        "Meow. Thank Mew for not hunting us, Floran.",
        "Meow... A Floran..."
      ],
      "glitch" : [
        "Meow? Hey, a robot! You look so cool!",
        "Meow... I've always heard Glitch are part of a hive-mind... Not mew, though...",
        "Meow! I've always wanted to meet a Glitch!",
        "Meow? It is very strange to not be able to read a creature's mind...",
        "Meow! Mew look strong.",
        "Meow. Can Mew Glitch be hurt by poison? What? Mew can?",
        "Meow... Do robots sleep?",
        "Meow... Oh, a self-aware Glitch. Interesting. Care to stay and chat for a while?",
        "Meow? I can't read your mind, yet mew're self-aware... Do Glitch even think?",
        "Meow. A Glitch! Can we be furriends?",
        "Meow. Do robots feel pain?",
        "Meow. Do Mew rust? Or age? Does your paint ever come off? I'm so curious!",
		"Meow! What is a group of Glitch called?"
      ],
      "hylotl" : [
        "Meow. Hello there, Hylotl.",
        "Meow? A fish-person... Well this is a first!",
        "Meow... Mew smell of salt-water. Does your kind live near the ocean?",
        "Meow. Nice fins!",
        "Meow? Maybe teach me to swim sometime? ...What? Not all cats dislike water!",
        "Meow. Do mew people eat fish?",
        "Meow... Your mind is filled with interesting thoughts. What is this Haiku mew think of?",
        "Meow! Good to meet mew, fish-man!",
        "Meow... A Hylotl... Mew don't seem as passive as the reports say...",
        "Meow! Hylotls and Cats have something in common--we've almost gone extinct at one point!",
        "Meow... How can mew stand all that water?",
        "Meow. Can Hylotl talk to fish?",
        "Meow? Is a group of Hylotl called a school?"
      ],
      "novakid" : [
        "Meow... I have never seen someone like mew before!",
        "Meow! Ooh glowy-person! Do mew attract bugs often?",
        "Meow. Mew're kind of warm... I like warm.",
        "Meow!? Mew don't have a face!",
        "Meow... What makes mew glow? Are mew immune to heat? How do mew see without eyes?",
        "Meow. Mew can glow! How does that work?",
        "Meow! Are mew on fire?",
        "Meow? Mew have a funny accent!",
        "Meow! Hey, a Novakid! Nice to meet mew! Can we be furriends?"
      ],
	  "cat" : [
	  "Meow? Oh, another Cat! Nice to meet mew!",
	  "Meow! Is it fun to travel the stars? I bet mew've learned so much!",
	  "Meow. If mew've traveled the stars, have you ever seen bird-people?",
	  "Meow... Don't mew wish mew had opposable thumbs? Yeah, me too!",
	  "Meow! Don't mew you just hate it when humanoids call a group of Cats something other than clowder?",
	  "Meow. Your fur pattern is so purretty. I'm envious!",
	  "Meow! Nice to meet you, furiend!",
	  "Meow? Your fur carries foreign scents! Can I ask what they are?",
	  "Meow! Isn't it fun to read humanoids' minds?"
	  ]
    }
  }
}