{
  "helpme" : {
    "cat" : {
      "default" : [
        "Hiss! Hostile intentions sensed! Somebody help meowt!",
        "Meow! I don't want to lose a life! I only get nine!",
        "Hiss! Meownster! Help!"
      ]
    }
	},
  "safe" : {
    "cat" : {
      "default" : [
        "Sensation of hostility is fading... Meow!",
        "Meow! Yay! Meownster is gone!",
        "Meow? I didn't lose a life?"
      ]
    }
  }
}