{
  "tagCriteria" : {
    "cat" : {
      "default" : [
        "Either another cat's using their powers to mess with me, or mew took something.",
        "Did you rearrange my house without purrmission?",
        "This new setup is upsetting my psychic powers. Put it back, please."
	  ]
	}
  },
  "enclosedArea" : {
    "cat" : {
      "default" : [
        "Maybe ordinary housecats like having holes in things, but I don't! Fix it please.",
        "Those holes are letting the weather in. Can mew repair it please?",
        "Purrfect timing. I need some repairs done to the house."
      ]
    }
  },
  "otherDeed" : {
    "cat" : {
      "default" : [
        "Why's someone else trying to mewve into my house?",
        "Methinks mew put that in the wrong house...",
        "Hey! This is my house. I don't want to share!"
      ]
    }
	},
  "severe" : {
    "cat" : {
      "default" : [
        "We cats demand a much higher effort from our landlords.",
        "If mew don't fix this house, I'm finding another place to live!",
        "Are mew going to fix things or what? I'll leave if not."
      ]
    }
  },
  "final" : {
    "cat" : {
      "default" : [
        "I've had enough of this! You're a terrible landlord.",
        "Not even a dog would want to stay here. I'm out.",
        "I'm done. I'm mewving out!"
      ]
    }
  }
}
