{
  "accuse" : {
    "cat" : {
      "default" : [
        "Hey, that doesn't belong to mew!",
		"I can sense your intentions, mew know!",
		"Put that back!",
		"Don't be a cat burgular!"
      ]
    }
  },
    "alert" : {
    "cat" : {
      "default" : [
        "Guards! There is a cat burgular here!",
        "Now mew've done it. GUARDS!"
      ]
    }
  }
}
