{
  "merchantStart" : {
    "default" : {
    	"default" : [
		"F'ilyaa uln'yar!",
		"Llll fhtagn lw'nafh...",
		"Hup mggokai ya ng c' ahor ah'lw'nafh syha'h!",
		"Ph' ya mgepog r'luhhor uaaahll."
      ]
    }    
  },
  "merchantEnd" : {
    "default" : {
    	"default" : [
		"C' ph'nglui c' mgepnah uh'eagl!",
		"Ymg' ah l' gotha mggokai?",    	
		"Uaaah syha'h uh'eagl!",
		"Vulgtlagln mgepog'drnn!",
		"Nogephaii ph'nglui yar!"
      ]
    }
  },
  "follow" : {
    "default" : {
    	"default" : [
		"Llll nog ya...",
		"Ah'hri..."
      ]
    }
  },
  "welcome" : {
    "default" : {
    	"default" : [
		"C' ph'nglui c' mgepnah uh'eagl!",
		"Ymg' ah l' gotha mggokai?",
		"Mgr'luh hup mgepuaaah n'gha!"
      ]
    }
  },
  "tout" : {
    "default" : {
    	"default" : [
		"Vulgtmor ymg' pixels!",
		"Uaaahll'Uaaahll'Uaaahll'Uaaahll'Uaaahll!",    	
		"Vulgtmor ymg' ahnah nilgh'rinahh!",
		"Y' hup nog R'lyeh llll shugnahoth!"

      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default": [
        "Y' vulgtlagln Mgepoghnahh!" 
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default": [
        "Wgah'nagl ah n'gha'agl, nafl yogagl!" 
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default": [
        "Y' fhtagn mguh'e!" 
      ]
    }
  },
  "severe" : {
    "default" : {
      "default": [
        "Ogthrod ai'f geb'l ee'h!" 
      ]
    }
  },
  "final" : {
    "default" : {
      "default": [
        "Ia! Ia!",
        "'Ngah'ng ai'y zhro!" 
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "Ahf' ah fahf?"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "Throdog r'luhhor mgr'luh vulgtmnah vulgtmor!" 
      ]
    }
  }
}
