{
  "merchantStart" : {
    "default" : {
    	"default" : [
		"F'ilyaa uln'yar!",
		"buildbuildbuildbuildbuildbuild...",
		"Hup mggokai ya ng c' ahor ah'lw'nafh syha'h!",
		"Ph' ya mgepog r'luhhor uaaahll."
      ]
    }    
  },
  "merchantEnd" : {
    "default" : {
    	"default" : [
		"C' ph'nglui c' mgepnah uh'eagl!",
		"Ymg' ah l' gotha mggokai?",
		"*groaning*"
      ]
    }
  },
  "follow" : {
    "default" : {
    	"default" : [
		"Llll nog ya...",
		"Ah'hri..."
      ]
    }
  },
  "welcome" : {
    "default" : {
    	"default" : [
		"C' ph'nglui c' mgepnah uh'eagl!",
		"Ymg' ah l' gotha mggokai?",
		"*groaning*"
      ]
    }
  },
  "tout" : {
    "default" : {
    	"default" : [
		"Vulgtmor ymg' pixels!",
		"Uaaahll'Uaaahll'Uaaahll'Uaaahll'Uaaahll!"

      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default": [
        "<unintelligible gibberish>" 
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default": [
        "<unintelligible gibberish>" 
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default": [
        "<unintelligible gibberish>" 
      ]
    }
  },
  "severe" : {
    "default" : {
      "default": [
        "<unintelligible gibberish>" 
      ]
    }
  },
  "final" : {
    "default" : {
      "default": [
        "Ia! Ia!" 
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "<unintelligible gibberish>" 
      ]
    }
  }
}
