{
  "greeting" : {
	"elduukhar" : {
		"default" : [
            "Greetings, friend."
		]
	}
  },
  "converse": {
    "elduukhar" : {
		"generic" : [
            "You're not here to cause trouble, are you?"
			],
					"default" : [
                        "Hello there."
					],
					"apex" : [
                        "I'm not sure what to think of you."
					],
					"avian" : [
                        "Your gemstones are exquisite. May I take a look sometime, friend?"
					],
					"floran" : [
                        "I'm not for stabbing, trust me."
					],
					"glitch" : [
                        "I promise I won't set fire to your castle."
					],
					"human" : [
                        "How are you doing today, human?"
					],
					"hylotl" : [
                        "I would be happy to learn more about swordfighting from your kind."
					],
					"elduukhar" : [
                        "It's nice to see a familiar face!"
					],
					"novakid" : [
                        "I've never seen someone like you before."
					]
    }
  }
}