{
   "converse" : {
    "default" : {
      "default" : [
        "Hello.",
        "Hi.",
        "How's it going?",
        "How's it?",
        "Yo!",
        "Hey, great to see you.",
        "Hey, what's up?",
        "Oh hey, how's it going?",
        "You seem like a nice sort.",
        "Thanks for dropping by!",
        "Great to see you, pal.",
        "Hey, nice to meet you.",
        "Ace meeting you.",
        "Nice meeting ya!",
        "What's up?",
        "Hey.",
        "Hey! Welcome!",
        "Alright?",
        "Oh hey!",
        "You alright?",
        "You good?",
        "Alright mate?",
        "Welcome!",
        "What you up to?",
        "Hellooo.",
        "Good to see you.",
        "How're things?",
        "How's life treating you?",
        "Hey, what's happening?"
      ],
      "fuslimeperson" : [
        "Hello, fellow slime.",
        "Anything interesting happening today?",
        "Every time I see a regular human, I get a little worried that they might be rude.",
        "I was in the slime world when I heard what happened to Earth.",
        "I like being squishy.",
        "I don't think I've been sick even once since I mutated.",
        "We decided to leave the other slimes in peace after all that happened.",
        "Have you ever heard of 'Monster Musume'?",
        "It's kinda nice living out here.  Much more peaceful.",
        "Becoming a slime really changed my opinion of those little slimes.",
        "I used to be expedition's xenobiologist, but I didn't want to hurt the slimes.",
        "Hey, you jelly?  So am I!  Ha!"
        ],
      "apex" : [
        "Hey, ape-dude!",
        "A talking monkey. Cool.",
        "Are you gonna hurt me?",
        "Just how big IS Big Ape?",
        "Didn't the Apex look kind of like us once?  Oh, uh... I mean like humans?",
        "A monkey! Oh wait, monkeys have tails. An ape!",
        "Aah!!! Oh, sorry - I have an irrational fear of chimpanzees, and your face... er... Sorry...",
        "I had a pizza with tuna and bananas on it once. Surprisingly good.",
        "Are all Apex good at science? It was my worst subject at school.",
        "Sorry that the Apex are all oppressed and stuff.",
        "Are the Apex continuously devolving? When do you get tails?",
        "I've heard bad things about the Miniknog, I'm not surprised you joined the Protectorate.",
        "Your hair is just magnificent.",
        "Who is \"Big Ape\"?",
        "Hey there, Apex!",
        "Have you ever tried shaving to pass as human?",
        "The Miniknog sounds terrible!",
        "Awesome to see you, Apex!",
        "You guys are so cool.",
        "You reek of wet dog! Or, I guess, wet ape.",
        "I've never met a Miniknog soldier. Are they scary?",
        "You look pretty strong, like a wrestler.",
        "Pleasure to make your acquaintance, ape.",
        "When I was a child I had a toy monkey that looked like you.",
        "Oh geez, uh... hello.",
        "Suddenly remembering working in my old xenobiology lab...",
        "Those poor monkeys... ... what?  Oh, uh... nothing!"
      ],
      "avian" : [
        "Hey, it's a big bird!",
        "Nice feathers there.",
        "It's weird that you can't fly.",
        "Hey there, Avian!",
        "I'm in a hurry, gotta fly. Oops, sorry, that was insensitive.",
        "You look so warm and fluffy.",
        "Who's this Kluex I keep hearing about, then?",
        "I too am flightless.",
        "I've never met an Avian I didn't like.",
        "I hear your kind build grand temples. We used to do that too.",
        "I like birds; my uncle used to own parrots.",
        "Don't worry, we're not too sticky.  Your feathers are safe.",
        "I saw one of those Avian towers once. People jump off those!?",
        "Have you ever tried sunflower seeds? I think you'd love them.",
        "I study intergalactic religions - Kluex is just fascinating.",
        "Another Avian I met told me about the Celestial Towers. Chilling.",
        "Can I borrow a feather to make a quill?",
        "If an Avian and a snake had a baby, would it be a feather boa?",
        "Avians are SO COOL!"
      ],
      "glitch" : [
        "I used to work in a robotics lab.",
        "Did you hear about our planet, Glitch? What do we do now?",
        "How do you work?",
        "Sometimes I like to pretend I'm an old timey knight!",
        "No bones about it, robots are just awesome.",
        "Do you ever have to replace your eye bulbs?",
        "Jovial. Hello! Uh, I hope that wasn't offensive.",
        "I once made a Glitch costume out of cardboard.",
        "The Glitch have a funny way of talking... Cuts out the flim-flam though.",
        "My dad is a mechanic, but I guess in Glitch terms he's a doctor.",
        "You're a bit creaky, maybe you should oil your joints.",
        "Don't worry, touching us won't corrode your fingers or anything.",
        "That's a nice alloy you've got there.",
        "I've always wanted to hang out with a robot.",
        "What's it like to be made of metal?",
        "Who created you guys, then?",
        "I want armour like yours.",
        "I love the way you guys talk.",
        "So lovely to meet you, Glitch!",
        "What metal are you made from?",
        "Can you go in the water?",
        "You're quite small for a killer robot.",
        "You have the coolest face."
      ],
      "floran" : [
        "Yo there, Floran.",
        "You're pretty cute.",
        "I've read that most of your kind are savages. You don't seem to be.",
        "You could do with a pruning.",
        "It's hard to believe Floran could be lethal killers.",
        "Do you guys have pollen?",
        "Do Floran ever get attacked by giant hummingbirds?",
        "You make me think of the garden I had when I was growing up on Earth.",
        "I met a greenfinger once - real nice guy... Or girl... Or neither?",
        "Could you teach me how to hunt some time?",
        "I wish I was a Floran.",
        "I've heard Floran can be pretty vicious, but you seem kinda nice.",
        "Which meat is the best meat?",
        "I want to go into spear production, do you think there's a market for it?",
        "You're so pretty.",
        "I'm scared of you.",
        "Do Floran ever get like 250ft tall, like a sequoia tree with a face?",
        "I got my eye on you, Floran.",
        "It's pretty exciting to see you!",
        "I hear you and the fish people don't get on?",
        "I bet you've killed more monsters than I've had hot dinners.",
        "Can you read?",
        "Florans are the best!",
        "Don't even think about it.  Our bodies are toxic.",
        "Some people tried eating slime jelly once.  Their bodies melted from the inside out."
      ],
      "hylotl" : [
        "Oh hey, a giant fish.",
        "Hah, oh my, you smell funny.",
        "You remind me of holidays at the beach.",
        "A Hylotl, eh?",
        "Nice to meet you, fishface.",
        "I've had some problems with water ever since I became a slimeperson, but I'm still a pretty good swimmer.",
        "I've read ten books!",
        "Hylotl art is pretty nice, I'm a fan.",
        "I had a pizza with tuna and bananas on it once. Surprisingly good.",
        "The Hylotl strive for peace, right? Same as humans. No wonder you're a Protector.",
        "I used to live by a beach on Earth. I miss it.",
        "I don't read a lot of poetry, I find it too opaque.",
        "I used to meditate, but I couldn't stand the quiet.",
        "I draw a little, maybe you'd like to take a look sometime?",
        "Do Hylotl ever dry out?",
        "Seals are like dogs, but in the sea. All Hylotl should have seals.",
        "You're pretty awesome for a talking tuna.",
        "Welcome, Hylotl!",
        "Nice to meet you!",
        "I think I'll pass on going for a swim.",
        "Something about you makes me want fish and chips. Can't put my finger on what.",
        "Living under water is cool.",
        "I hear your architecture is stunning.",
        "You seem like a cultured kind of person.",
        "Could you beat a shark in a fight? Maybe that's like asking if I could beat a tiger in a fight.",
        "Talking fish, sharks with legs... man, I love space!",
        "Our planet had many oceans. Then a tentacle monster happened.",
        "You're one slick fish man.",
        "We should hang out more often, fish.",
        "Hah, we're both slimy!",
        "Nice outfit, where'd you get it?",
        "I miss the cool sea breeze."
      ],
      "novakid" : [
        "Are you made of pure energy?",
        "Oh wow, I've never seen anyone like you before!",
        "Do you glow all the time, or is it like a switch you can turn off?",
        "Whoa, you're something new alright...",
        "Do you have eyes? How do you even see?",
        "You look so cool. I wish I was you.",
        "You're so bright!",
        "What are you? ...Whatever you are, I like it.",
        "Howdy.",
        "That's a pretty cool glow you've got going there.",
        "You would be a terrible \"murder in the dark\" player.",
        "Ow, my eyes. You're super bright.",
        "Nice face.",
        "Does your glow attract bugs at night? I collect bugs...",
        "I bet you're popular at parties!",
        "You're not from around here, are you?",
        "Wow, you're pretty brightly coloured! Are you off to a festival?",
        "Okay, I've never seen anyone like you before.",
        "Well, you're something I've not seen before.",
        "Oh wow, you're made of plasma.",
        "You Novakids are awesome."
      ]
    }
  },


  "accuse" : {
    "default" : {
      "default" : [
        "Hey, what're you doing?",
        "Put that back, please.",
        "Can't you just scan and replicate that or something instead of taking it?",
        "What's going on here?"
      ]
    }
  },
  "alert" : {
    "default" : {
      "default" : [
        "Where the heck's a guard when you need one?!",
        "Stop stealing my stuff!",
        "Oh come on, stop it!"
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default" : [
        "I liked this place the way it was before.",
        "Can you put things back the way they were?",
        "Something doesn't feel right."
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default" : [
        "Could you patch that hole for me?",
        "This place's seen better days.",
        "I'm feeling a bit of a draft here."
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default" : [
        "I still live here.  Why'd you put up another deed?",
        "What're you doing, <entityname>?",
        "It'd have been nice to be informed beforehand about this sorta thing.",
        "This place's already occupied."
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [
        "If things stay in this state, I'm heading elsewhere.",
        "Come on, <entityname>.  I can't live like this.",
        "Can't you just fix things back to normal?"
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [
        "That's it I'm outta here.",
        "Alright, I get the message.  I'm gone.",
        "Time to set up shop somewhere else, I guess.",
        "I hope your future tenants are treated better than this."
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "Hey, <entityname>.  Did you need anything?",
        "Did you need me?",
        "What's up, <entityname>?"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "Here, I'd like you to have this.",
        "Here you go, <entityname>.",
        "I hope this'll do."
      ]
    }
  },
  "helpme" : {
    "default" : {
      "default" : [
        "Oh shoot, HELP!!",
        "If anyone's got a weapon, take that thing out!!",
        "KILL IT!!  KILL IT!!",
        "Aaaaghhhh!!",
        "Guards!!",
        "Why didn't I take a weapon with me?!",
        "Where's a toolbox when you need one?!",
        "Help!",
        "I don't wanna die!"
      ]
    }
  },
  "helpthem" : {
    "default" : {
      "default" : [
        "Somebody do something!",
        "I'd help, but I don't have a weapon!  Can you help them?!",
        "Oh geez, somebody help!",
        "Please, help them!!"
      ]
    }
  },
  "encourage" : {
    "default" : {
      "default" : [
        "Go go go!",
        "Get 'em!",
        "Take 'em out!",
        "Whoo!"
      ]
    }
  },
  "safe" : {
    "default" : {
      "default" : [
        "Phew!",
        "Thank you!",
        "I hope that doesn't happen too often.",
        "Survived another day.  Whew...",
        "This place could use a better defense setup.",
        "Geez...",
        "Safe!  For the moment."
      ]
    }
  }
}