{
  "converse" : {
    "default" : {
      "default" : [
        "Greg.",
        "Greg!!!",
        "Greg!",
        "Greg. Greg? Greg greg.",
        "Greg.",
        "Greg. Greg! GREG!",
        "Greg...",
        "Greg...Greg greg greeeg!",
        "Greg.",
        "Greg. Greg.",
               "Greg?",
              "Greg. Greeeeg greg greg Greg?",
              "Greg!?",
              "Greg. Greg.",
              "Rainbow.",
              "Gregggggga gregga greg greg.",
              "Greg!? Greg. Gregga.",
              "Greg. Gregogreg."       
      ]
    }
  },
  "accuse" : {
    "default" : {
      "default" : [
        "Greg.",
        "Greg!!!",
        "Greg!",
        "Greg. Greg? Greg greg.",
        "Greg.",
        "Greg. Greg! GREG!",
        "Greg...",
        "Greg...Greg greg greeeg!",
        "Greg.",
        "Greg. Greg."
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default" : [
        "Greg.",
        "Greg!!!",
        "Greg!",
        "Greg. Greg? Greg greg.",
        "Greg.",
        "Greg. Greg! GREG!",
        "Greg...",
        "Greg...Greg greg greeeg!",
        "Greg.",
        "Greg. Greg."
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default" : [
        "Greg.",
        "Greg!!!",
        "Greg!",
        "Greg. Greg? Greg greg.",
        "Greg.",
        "Greg. Greg! GREG!",
        "Greg...",
        "Greg...Greg greg greeeg!",
        "Greg.",
        "Greg. Greg."
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default" : [
        "Greg.",
        "Greg!!!",
        "Greg!",
        "Greg. Greg? Greg greg.",
        "Greg.",
        "Greg. Greg! GREG!",
        "Greg...",
        "Greg...Greg greg greeeg!",
        "Greg.",
        "Greg. Greg."
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [
        "Greg.",
        "Greg!!!",
        "Greg!",
        "Greg. Greg? Greg greg.",
        "Greg.",
        "Greg. Greg! GREG!",
        "Greg...",
        "Greg...Greg greg greeeg!",
        "Greg.",
        "Greg. Greg."
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [
        "Greg.",
        "Greg!!!",
        "Greg!",
        "Greg. Greg? Greg greg.",
        "Greg.",
        "Greg. Greg! GREG!",
        "Greg...",
        "Greg...Greg greg greeeg!",
        "Greg.",
        "Greg. Greg."
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "Greg.",
        "Greg!!!",
        "Greg!",
        "Greg. Greg? Greg greg.",
        "Greg.",
        "Greg. Greg! GREG!",
        "Greg...",
        "Greg...Greg greg greeeg!",
        "Greg.",
        "Greg. Greg."
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "Greg.",
        "Greg!!!",
        "Greg!",
        "Greg. Greg? Greg greg.",
        "Greg.",
        "Greg. Greg! GREG!",
        "Greg...",
        "Greg...Greg greg greeeg!",
        "Greg.",
        "Greg. Greg."
      ]
    }
  },
  "reattack" : {
    "default" : {
      "default" : [
        "@#$@$#@ greg!",
        "Greg gregga gregga!",
        "...greg...",
        "...Gregga greg gregga gregga.",      
        "Greg.",
        "Greg!!!",
        "Greg!",
        "Greg. Greg? Greg greg.",
        "Greg.",
        "Greg. Greg! GREG!",
        "Greg...",
        "Greg...Greg greg greeeg!",
        "Greg.",
        "Greg. Greg."
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "....greg. Greg! GREG!",
        "...donkey...",
        "...greg...",
        "...Gregga greg gregga gregga.",
        "Greg.",
        "Greg!!!",
        "Greg!",
        "Greg. Greg? Greg greg.",
        "Greg.",
        "Greg. Greg! GREG!",
        "Greg...",
        "Greg...Greg greg greeeg!",
        "Greg.",
        "Greg. Greg."
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "....greg. Greg! GREG!",
        "...donkey...",
        "...greg...",
        "...Gregga greg gregga gregga.",      
        "Greg.",
        "Greg!!!",
        "Greg!",
        "Greg. Greg? Greg greg.",
        "Greg.",
        "Greg. Greg! GREG!",
        "Greg...",
        "Greg...Greg greg greeeg!",
        "Greg.",
        "Greg. Greg."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "....greg. Greg! GREG!",
        "...donkey...",
        "...greg...",
        "...Gregga greg gregga gregga.",      
        "Greg.",
        "Greg!!!",
        "Greg!",
        "Greg. Greg? Greg greg.",
        "Greg.",
        "Greg. Greg! GREG!",
        "Greg...",
        "Greg...Greg greg greeeg!",
        "Greg.",
        "Greg. Greg."
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "....greg. Greg! GREG!",
        "...donkey...",
        "...greg...",
        "...Gregga greg gregga gregga.",      
        "Greg.",
        "Greg!!!",
        "Greg!",
        "Greg. Greg? Greg greg.",
        "Greg.",
        "Greg. Greg! GREG!",
        "Greg...",
        "Greg...Greg greg greeeg!",
        "Greg.",
        "Greg. Greg."
      ]
    }
  },
  "combatBenefit" : {
    "default" : {
      "default" : [
        "....greg. Greg! GREG!",
        "...donkey...",
        "...greg...",
        "...Gregga greg gregga gregga.",      
        "Greg.",
        "Greg!!!",
        "Greg!",
        "Greg. Greg? Greg greg.",
        "Greg.",
        "Greg. Greg! GREG!",
        "Greg...",
        "Greg...Greg greg greeeg!",
        "Greg.",
        "Greg. Greg."
      ]
    }
  },  
  "cantReach" : {
    "default" : {
      "default" : [
        "....greg. Greg! GREG!",
        "...donkey...",
        "...greg...",
        "...Gregga greg gregga gregga.",      
        "Greg.",
        "Greg!!!",
        "Greg!",
        "Greg. Greg? Greg greg.",
        "Greg.",
        "Greg. Greg! GREG!",
        "Greg...",
        "Greg...Greg greg greeeg!",
        "Greg.",
        "Greg. Greg."
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "Pft. Greg!",
        "Ahahaha! Greg.",
        "!! GREG !!",
        "Greg gregged gregga greg!",
        "Greg.",
        "Greg!!!",
        "Greg!",
        "Greg. Greg? Greg greg.",
        "Greg.",
        "Greg. Greg! GREG!",
        "Greg...",
        "Greg...Greg greg greeeg!",
        "Greg.",
        "Greg. Greg."
      ]
    }
  }
}