{
  "converse" : {
    "default" : {
      "default" : [
        "<unintelligible gibberish>"
      ]
    }
  },
  "accuse" : {
    "default" : {
      "default" : [
        "<unintelligible gibberish>"
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default" : [
        "<unintelligible gibberish>"
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default" : [
        "<unintelligible gibberish>"
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default" : [
        "<unintelligible gibberish>"
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [
        "<unintelligible gibberish>"
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [
        "<unintelligible gibberish>"
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "<unintelligible gibberish>"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "<unintelligible gibberish>"
      ]
    }
  },
  "reattack" : {
    "default" : {
      "default" : [
        "<unintelligible gibberish>"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "<unintelligible gibberish>"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "<unintelligible jibberish>"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "<unintelligible jibberish>"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "<unintelligible jibberish>"
      ]
    }
  },
  "combatBenefit" : {
    "default" : {
      "default" : [
        "<unintelligible gibberish>"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "<unintelligible gibberish>"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "<unintelligible gibberish>"
      ]
    }
  }
}
