{
  
  
  
"reattack" : {
    "default" : {
      "default" : [
        "Dude. Why so violent?",
        "Killin my buzz, dude.",
        "Make love, not war. Jeez.",
        "You came back?",
        "So you came back."
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Attack!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Never mess with me!",
        "Victory!",
        "Phew!",
        "Another victory!",
        "I didn't even break a sweat!",
        "Heh.",
        "Of course I won!",
        "I'm pretty good at this!",
        "That was stressful...",
        "Another easy win!",
        "Yes!",
        "That's what you get!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "I will get you one day!",
        "It's not over!",
        "Don't come back!",
        "Where are you...",
        "What a hassle.",
        "Just you wait!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Sneaky! This is sneaky! How did you disappear?",
        "They're getting away!",
        "Where'd you go?",
        "Get back here!",
        "How did this happen?"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Get over here!",
        "Come here!",
        "Get back here!",
        "How did you get over there?",
        "I can't reach!"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "I have a plan!",
        "Get them!",
        "Everybody is in my way.",
        "Why aren't they already dead?",
        "Come on!"
      ]
    }
  }  
  
  
}
