{
  "converse" : {
    "default" : {
      "default" : [
        "Mmmmmm.......beer.",
        "*HIC*",
        "<unintelligible gibberish>",
        "That wash shum good shtuff, mon. Wanna try shum?",
        "Thish fine o' world, it jusht keeps shpinnin' round *BURP*",
        "*HIC*",
        "Liquor? *BURP* but I hardly --",
        "... *BURP*",
        "Oh, *HIC*.",
        "*Hi, uh. *HIC*.",
        "Yoush talkin' t''me, buddy?",
        "Hmmm, they says booze makesh people look prettier, but I've never sheen anyone sho ugly ash ya.",
        "*BURP*",
        "Wanna know how to be a good parent? eashy *HIC* - have no kidsh, and maxh out the mummy juice!",
        "What are sixh beer good for? eashy - it shtops you from givin' a shi' 'bout everything!",   
        "I may be drunk now but in the morning I'll be sober and yoush still be ugly.",
        "By Venush, yer me besht friend I shweear!",
        "Nienty-nine bottless o' beer on the wall, ninety-nine bottles o' -- *BURP*"
      ]
    },
      "human" : {
        "default" : [
        "Wondering what is a place like me doing in a drunk like this?", 
        "Itch shad that Earth ish gone, but at leasth there ish shtill-- *BURP*",
        "Heresh anuvver toasth to good ol' Earth!",
        "A li'l lesh covversation, a li'l more 'nebriation, pleash!",
        "Come 'ere me young laddie, and lay me down!",
        "Shumone just filched ma beer t'other day. Wash't you?"        
        ]
      },
      "apex" : {
        "default" : [
        "Hmmm, they says boozhe makesh people look prettier, but I've never sheen anyone sho ugly ash ya.",
        "I may be drunk now but in the morning I'll be sober and yoush still be ugly.",
        "If boozhe makesh people look prettier, why do yoush show ugly as f-- *HIC*",
        "Your kind mope too much, and need to learn to have a beer.",
        "Here's a toasht to *HIC*--ing Big Ape, and hish grenade launcher! *BURP*"        
        ]
      },
      "floran" : {
        "default" : [
        "Shing right follol, the diddle all the dee *HIC*", 
        "Oh wow, a talking plant. I am so phished!",
        "Hello there, John Barleycorn!",
        "Y'allsh look green i' th' fash. Be needin' to learn t' hold yer beer."        
        ]
      },
      "glitch" : {
        "default" : [
        "Matey, you duuu.",
        "I may be drunk ash a lord, but youshe shi--*HIC* ash a shtinking drunk!",
        "Dangit, you're all tin and no beer *HIC* Ain't no good at all!",
        "Can you turn fruit and veggiesh unto booshe in that can of yoursh, right?"        
        ]
      },
      "hylotl" : {
        "default" : [
        "If you're drunk ash I am, do you shee double? or triple?",
        "You're me besht friend matey. Sure shmell. Like fish. And vinegar. But moshtly, phish *HIC*"        
        ]
      },
      "novakid" : {
        "default" : [
        "Enough with the root pop shtick, jusht gimme anuvver bee--*BURP*",
        "Your kind sure look like white lightning! wait, ish it the white lightning I've been drinkin'?",
        "Now theresh a shpirit I hope I won't be gettin' plashtered on shomeday."        
        ]
      }      
  },
  "accuse" : {
    "default" : {
      "default" : [
        "!",
        "I shaw that!",
        "Only looshers like ya pick on people when they're drunk!",
        "Did ya jusht nick shome-thing?",
        "*!!!HIC!!!*",
        "Hey, shtay away from m-*!!!HIC!!!* beer!",
        "ROOOAARRRR!!",
        "Theresh only nienty-eight bottlesh o' beer on me wall!",
        "Pleash, put back my booszh. Yoush won't like me when I'm shober."
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default" : [
        "Why is all the rum gone? pleash, put it back.",
        "I shaw that!",
        "Only looshers like ya pick on people when they're drunk!",
        "Did ya jusht nick shome-thing?",
        "Pleash, put back my booszh. Yoush won't like me when I'm shober."
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default" : [
        "Thish room ish'nt shpinning ash it ushed to be. Fixh it, pleash.",
        "Pleash fix up my walls guv, shumone just filched ma beer t'other day."
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default" : [
        "I'm a pretty mean drunk, I don't wanna share the boozhe!",
        "There jusht ain't enough boozhe in here fer anuvver!"
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [
        "Looksh like thish plash ish reachin' peak beer. Guesh I'll be goin' away, my friend.",
        "With gold and shilver I'd shupport ye; but I'll shing no more 'til I get a drink."
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [
        "Only looshers like ya pick on people when they're drunk!",
        "Zooks, thish plash drier than the shurfash of Venush! besht get goin' to fin' me a new waterin' hole."
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "Mmmmmm.......beer.",
        "<unintelligible gibberish>",
        "That wash shum good shtuff, mon. Wanna try shum?",
        "Call me when you're sober. Thank you, come again!",
        "*HIC*",
        "... *BURP*",
        "Oh, *HIC*.",
        "*HIC*. Free beer?",
        "*Hi, uh. *HIC*.",
        "Yoush talkin' t''me, buddy?"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "Here'sh your rent. Now, leave me to me booze!",
        "Wantsh yer pixhels? Here, kitty kitty kitty!"
      ]
    }
  },
  "reattack" : {
    "default" : {
      "default" : [
        "I'm here to collect the rent!",
        "@#$@$#@ *!!!HIC!!!*",
        "!!!",
        "Wantsh yer pixhels? Here, kitty kitty kitty!",
        "Back for more now?",
        "*BURRRRP!!*"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "*!!!HIC!!!*",
        "ROOOAARRRR!!",
        "Think ya feel lucky, punk? *!!!BURP!!!*",
        "Caaaw!",
        "Chachalacaaa!", "Hello there, John Barleycorn!",
        "You're me besht mate. I'm a mean drunk!" 
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "I may be blind drunk, but yer jusht shtone cold and dead.",
        "Check their wallets! maybe they've got Pixels for ... beer!",
        "I need a glass o' root pop after all that. Not beer. Wait, what did I jusht say?",
        "We cooked their gooshe, iso t's time to looshe the joosh!",
        "If boozhe makesh people look prettier, why do yoush show ugly as f-- *HIC*"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Only looshers like ya pick on people when they're drunk!",
        "Come back, the party wash jusht gettin' shtarted!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Only looshers like ya pick on people when they're drunk!",
        "Awwww, me ish alone again.",
        "By Venush, I'll need to find another drinkin' mate!"
      ]
    }
  },
  "helpme" : {
    "default" : {
      "default" : [
        "What is a place like you doing in a doink like this?", 
        "Help! someone save me. And my beer. But save the beer first!"
      ]
    }
  },  
  "cantReach" : {
    "default" : {
      "default" : [
        "Come back matey, I'm your besht friend. Honesht!",
        "Darn, we wash about to share phone numbersh!",
        "F--*HIC* off, and don't come back until you've got a beer for me!"
      ]
    }
  },
  "greeting": {
    "default" : {
      "default" : [ 
        "I *HIC* nothing to *BURP* to you.",
        "Jusht shut it and gimme more beer already!",
        "<untillegible gibberish>",
        "Come back matey, I'm your besht friend. Honesht!",
        "Darn, we wash about to share phone numbersh!",
        "..."
      ]
    }
  }
}