{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "slimestormexplosionbow"
    },
    {
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "animation" : "/animations/projectiles/protopoof.animation",
                "size" : 1.4,
                "initial" : "drift",
                "rotation" : 0.14,
                "timeToLive" : 0.6
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/goo_spit1.ogg", "/sfx/projectiles/hivebomb_impact.ogg", "/sfx/melee/bouquet_hit_organic.ogg" ]
    },
    {
      "action" : "light",
      "color" : "yellow"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 3,
      "backgroundRadius" : 2,
      "explosiveDamageAmount" : 4,
      "delaySteps" : 2
    }

  ]
}
