
// changelog and credits are named "_FUversioning" and "_FUcredits" and are located in the root folder (same place where _metadata is

{
	"welcome" : "
Welcome to Frackin' Universe!

This window exists to guide new users and old through important changes, including updates to the mod itself, codexes and the like.

Before you can dismiss this pane, you'll have to wait 5 seconds. So take your time and read through the changes or refresh your memory if you've forgotten something.

You can open this window manually if you have the StardustLib or QuickBar mod installed.

Thanks, and have fun :)
",

	"info" : "
Frackin' Universe is a huge mod that add a lot of content which is usually hard to track or easy to miss should you be playing through it haphazardly or without attention.

But there is are two things that will help you advance: Reading the text you're provided with, and experimenting with whatever you have.

^orange;If using BYOS mode with custom races^reset;: you must install the addon located on Steam/CF Forums (FU BYOS Race Addon)
^orange;If using BYOS mode with Optional Start^reset;: you need to addon (again, steam/CF Forums)

^orange;Incompatible Mods^reset;

^red;-Danger: Absolutely -do not- use. WILL be broken-^reset;:
Enhanced Beginning, 
FrackinBreathing
Custom Collections UI
Extra Dungeons
ANY Nav UI Mod 
Universe Scanner
Realistic Fuel Cost
Trading Cards
Melee Weapon Types
Aperture Science Mech
Easy Ores
Steven Universe Items
Tier 10 Ships 
Damage Cap Begon
Realistic Fuel Cost
A.B.A.T.H.U.R. - Commander : Master of Evolution
Frackin' Irkens
Fullscreen Starmap 768p/1080p/dark
Optional Erchius Mining Facility Quest
Ore for Asteroids

^yellow;-Caution: May be a problem-^reset;:
Ooze Race, 
Moon Overhaul
Hunger Enabler for Casual
Very Varied Vehicles
Universe Scanner
Draconis FU Addon
Legacy Fuels
MadTulips Mod
BYOS
Melee Aiming
Powerful Uniques
Nobility's Bomb Mod

^cyan;-Probably fine, but may have a glitch or two-^reset;:
Damage Cap Begone
RPG Growth
WeaponStats
Manufacturers Touch
Enable Monster Special Attacks
Translocate(Teleport Tech)
Combinable Augments
The Legacy Fuels
Inklings Mod


^orange;Frequently Asked Questions^reset;

Q: Why can't I find the information I need on the wiki?
A: The wiki is user maintained. If you see info missing, feel free to add it when you make the discovery!

Q: Is there a social hub for FU users such as myself?
A: Yes, there is a Discord server. Check the mods page for a link.

Q: Where can I report issues/bugs, contribute, or make suggestions?
A: The FU discord server

"
}