
// changelog and credits are named "_FUversioning" and "_FUcredits" and are located in the root folder (same place where _metadata is

{
	"welcome" : "
Welcome to Frackin' Universe!

This window will always appear on newly created characters, or when the mod gets updated to tell you about the recent changes, and provide you with some basic information.

Before you can dismiss this pane, you'll have to wait 5 seconds. So take your time and read through the changes or refresh your memory if you've forgotten something.

You can open this window manually if you have the StardustLib or QuickBar mod installed.

Thanks, and have fun :)
",

	"info" : "
Frackin' Universe is a huge mod that add a lot of content which is usually hard to track or easy to miss should you be playing through it haphazardly or without attention.

But there is are two things that will 90% of the time help you advance or make new discoveries - Reading the text you're provided with, and experimenting with whatever you have.


^orange;Frequently Asked Questions^reset;

Q: Why can't I find the information I need on the wiki?
A: The wiki is user maintained.

Q: Is there a social hub for FU users such as myself?
A: Yes, there is a Discord server. Check the mods page for a link.

Q: Is X compatible with FU?
A: Some mods are, some aren't. Some have minor interferences. There is a list of the biggest offenders on the mods page.

Q: Where can I report issues/bugs, contribute, or make suggestions?
A: The FU discord server

Q: Why is X like that?
A: Because.

"
}