{
	"gui" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/scripted/fu_updateInfoWindow/body.png"
		},
		
		"logo" : {
			"type" : "image",
			"file" : "/interface/scripted/fu_updateInfoWindow/logo.png",
			"position" : [14, 221]
		},
		
		"textScrollBox" : {
			"type" : "scrollArea",
			"rect" : [9, 32, 293, 215],
			"children" : {
				"text" : {
					"type" : "label",
					"position" : [0, 0],
					"wrapWidth" : 273,
					"fontSize" : 8,
					"vAnchor" : "bottom",
					"value" : "I AM ERROR"
				}
			}
		},
		
		"close" : {
			"type" : "button",
			"fontColor" : "#FF0000",
			"base" : "/interface/buttonBig.png:default",
			"hover" : "/interface/buttonBig.png:hover",
			"disabledImage" : "/interface/buttonBig.png:grayed",
			"pressedOffset" : [0, 1],
			"position" : [110, 9],
			"caption" : ""
		},
		
		"version" : {
			"type" : "label",
			"position" : [20, 12],
			"fontSize" : 5,
			"value" : "version"
		}
	},
	
	"minReadTime" : 5,
	
	"scriptWidgetCallbacks" : ["close"],
	"scripts" : ["/interface/scripted/fu_updateInfoWindow/updateInfoWindow.lua"],
	"scriptDelta" : 1
}