{
	"gui" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/scripted/fu_updateInfoWindow/body.png"
		},
		
		"logo" : {
			"type" : "image",
			"file" : "/interface/scripted/fu_updateInfoWindow/logo.png",
			"position" : [14, 221]
		},
		
		"textScrollBox" : {
			"type" : "scrollArea",
			"rect" : [9, 31, 293, 215],
			"children" : {
				"text" : {
					"type" : "label",
					"position" : [0, 0],
					"wrapWidth" : 273,
					"fontSize" : 8,
					"vAnchor" : "bottom",
					"value" : "I AM ERROR"
				}
			}
		},
		
		"close" : {
			"type" : "button",
			"enabled" : false,
			"base" : "/interface/scripted/fu_updateInfoWindow/buttonLeft.png:default",
			"hover" : "/interface/scripted/fu_updateInfoWindow/buttonLeft.png:hover",
			"disabledImage" : "/interface/scripted/fu_updateInfoWindow/buttonLeft.png:disabled",
			"pressedOffset" : [0, 0],
			"position" : [5, 9],
			"caption" : ""
		},
		
		"buttonInfo" : {
			"type" : "button",
			"enabled" : false,
			"base" : "/interface/scripted/fu_updateInfoWindow/button.png:default",
			"hover" : "/interface/scripted/fu_updateInfoWindow/button.png:hover",
			"disabledImage" : "/interface/scripted/fu_updateInfoWindow/button.png:disabled",
			"pressedOffset" : [0, 0],
			"position" : [78, 9],
			"caption" : "Information"
		},
		
		"buttonChangelog" : {
			"type" : "button",
			"enabled" : false,
			"base" : "/interface/scripted/fu_updateInfoWindow/button.png:default",
			"hover" : "/interface/scripted/fu_updateInfoWindow/button.png:hover",
			"disabledImage" : "/interface/scripted/fu_updateInfoWindow/button.png:disabled",
			"pressedOffset" : [0, 0],
			"position" : [150, 9],
			"caption" : "Changelog"
		},
		
		"buttonCredits" : {
			"type" : "button",
			"enabled" : false,
			"base" : "/interface/scripted/fu_updateInfoWindow/buttonRight.png:default",
			"hover" : "/interface/scripted/fu_updateInfoWindow/buttonRight.png:hover",
			"disabledImage" : "/interface/scripted/fu_updateInfoWindow/buttonRight.png:disabled",
			"pressedOffset" : [0, 0],
			"position" : [222, 9],
			"caption" : "Credits"
		},
		
		"version" : {
			"type" : "label",
			"position" : [255, 2],
			"fontSize" : 5,
			"hAnchor" : "left",
			"value" : "version"
		}
	},
	
	"minReadTime" : 5,
	
	"scriptWidgetCallbacks" : ["close", "buttonInfo", "buttonChangelog", "buttonCredits"],
	"scripts" : ["/interface/scripted/fu_updateInfoWindow/updateInfoWindow.lua"],
	"scriptDelta" : 1
}