{
  "noCategoryFilters" : false,
  "filter" : [ ],
  "titleFromEntity" : true,
  "requiresBlueprint" : true,
  "craftingSound" : "/sfx/interface/crafting_tech1.ogg",
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/CraftingGUI_Header.png",
      "fileBody" : "/interface/crafting/CraftingGUI_Body.png",
      "fileFooter" : "/interface/windowconfig/newuifooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/crafting/close_button.png",
      "hover" : "/interface/crafting/close_button.png",
      "press" : "/interface/crafting/close_button.png",
      //position: horizontal, vertical
      "position" : [188, 328]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "ARMORY",
      "subtitle" : "Create deadly weapons & armor.",
      "position" : [10, 200],
      "icon" : {
        "type" : "image",
        "file" : "/interface/windowconfig/prototyper.png",
        "position" : [10, -20],
        "zlevel" : -1
      }
    },
    "btnUpgrade" : {
      "type" : "button",
      "disabledImage" : "/interface/crafting/upgradeUnready.png",
      "base" : "/interface/crafting/upgradeReady.png",
      "position" : [276, 328],
      "zlevel" : 5
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [270, 56],
      "upOffset" : 36
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [282, 56],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/amount.png",
      "position" : [276, 55],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [318, 55],
      "caption" : "Assemble"
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/interface/buttonactive.png",
      "hover" : "/interface/buttonactivehover.png",
      "position" : [318, 55],
      "caption" : "Stop"
    },
    "imgCraftBg" : {
      "type" : "image",
      "file" : "/interface/crafting/newuicraftbg.png",
      "position" : [260, 49],
      "zlevel" : -5
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [283, 68]
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      //position: horizontal, vertical
      "position" : [69, 66]
    },
    "lblProduct" : {
      "type" : "label",
      //position: horizontal, vertical
      "position" : [80, 65],
      "hAnchor" : "left",
      //Label: hex-color, text-shown
      "value" : "MATERIALS AVAILABLE"
    },

    "description" : {
      "type" : "widget",
      //position: horizontal, vertical
      "position" : [242, 128],
      //Size: width, height
      "size" : [220, 400]
    },
    "filter" : {
      "type" : "textbox",
      //position: horizontal, vertical
      "position" : [85, 51],
      //Label: text displayed
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },

    "scrollArea" : {
      "type" : "scrollArea",
      //Item List Postion: horizontal, length, width, height
      "rect" : [40, 83, 215, 320],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/craftableselected2.png",
            "unselectedBG" : "/interface/crafting/craftablebackground.png",
            "spacing" : [0, 1],
            //NoClue, display-size
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [119, 5],
                "file" : "/interface/crafting/new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [134, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          //Tab1 Position: horizontal, vertical
          "position" : [9, 300],
          "zlevel" : -1,
          "baseImage" : "/interface/crafting/armory/fuweapon.png",
          "baseImageChecked" : "/interface/crafting/armory/fuweaponon.png",
          "data" : {
            "filter" : [ "melee" ]
          }
        },
        {
          //Tab2 Position: horizontal, vertical
          "position" : [9, 276],
          "baseImage" : "/interface/crafting/armory/fubow.png",
          "baseImageChecked" : "/interface/crafting/armory/fubowon.png",
          "data" : {
            "filter" : [ "bow" ]
          }
        },        
        {
          //Tab3 Position: horizontal, vertical
          "position" :[9, 252],
          "baseImage" : "/interface/crafting/armory/fugun.png",
          "baseImageChecked" : "/interface/crafting/armory/fugunon.png",
          "data" : {
            "filter" : [ "ranged" ]
          }
        },
        {
          //Tab4 Position: horizontal, vertical
          "position" : [9, 228],
          "baseImage" : "/interface/crafting/armory/fuarmor.png",
          "baseImageChecked" : "/interface/crafting/armory/fuarmoron.png",
          "data" : {
            "filter" : [ "shield" ]
          }
        },
        {
          //Tab5 Position: horizontal, vertical
          "position" : [9, 204],
          "baseImage" : "/interface/crafting/armory/fuarmor2.png",
          "baseImageChecked" : "/interface/crafting/armory/fuarmor2on.png",
          "data" : {
            "filter" : [ "armors" ]
          }
        },
        {
          //Tab6 Position: horizontal, vertical
          "position" : [9, 180],
          "baseImage" : "/interface/crafting/armory/fumisc.png",
          "baseImageChecked" : "/interface/crafting/armory/fumiscon.png",
          "data" : {
            "filter" : [ "misc" ]
          }
        }/*,
        {
          //Tab7 Position: horizontal, vertical
          "position" : [9, 156],
          "baseImage" : "/interface/crafting/armory/fumisc.png",
          "baseImageChecked" : "/interface/crafting/armory/fumiscon.png",
          "data" : {
            "filter" : [ "misc" ]
          }
        },
        {
          //Tab8 Position: horizontal, vertical
          "position" : [9, 132],
          "baseImage" : "/interface/crafting/armory/fumisc.png",
          "baseImageChecked" : "/interface/crafting/armory/fumiscon.png",
          "data" : {
            "filter" : [ "misc" ]
          }
        },
        {
          //Tab9 Position: horizontal, vertical
          "position" : [9, 108],
          "baseImage" : "/interface/crafting/armory/fumisc.png",
          "baseImageChecked" : "/interface/crafting/armory/fumiscon.png",
          "data" : {
            "filter" : [ "misc" ]
          }
        },
        {
          //Tab10 Position: horizontal, vertical
          "position" : [9, 84],
          "baseImage" : "/interface/crafting/armory/fumisc.png",
          "baseImageChecked" : "/interface/crafting/armory/fumiscon.png",
          "data" : {
            "filter" : [ "misc" ]
          }
        }*/
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    }
  }
}