{
  "speciesOrdering" : ["human", "avian", "apex", "floran", "hylotl", "glitch", "novakid"],
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/title/charactercreation.png",
      "fileFooter" : "/interface/title/charactercreationfooter.png"
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/title/charactercreationshine.png",
      "position" : [0, 0],
      "zlevel" : -10
    },
    "labelSpeciesRadio" : {
      "type" : "label",
      "position" : [86, 314],
      "hAnchor" : "mid",
      "value" : "^#8d8d8d;SPECIES"
    },
    "labelMale" : {
      "type" : "label",
      "position" : [187, 269],
      "hAnchor" : "mid",
      "value" : "^#8d8d8d;MALE"
    },
    "labelFemale" : {
      "type" : "label",
      "position" : [336, 269],
      "hAnchor" : "mid",
      "value" : "^#8d8d8d;FEMALE"
    },
    "labelCustomise" : {
      "type" : "label",
      "position" : [263, 201],
      "hAnchor" : "mid",
      "value" : "^#8d8d8d;CUSTOMISE"
    },
    "labelName" : {
      "type" : "label",
      "position" : [263, 125],
      "hAnchor" : "mid",
      "value" : "^#8d8d8d;NAME"
    },
    "labelDifficulty" : {
      "type" : "label",
      "position" : [263, 97],
      "hAnchor" : "mid",
      "value" : "^#8d8d8d;DIFFICULTY"
    },
    "labelRandomise" : {
      "type" : "label",
      "position" : [258, 230],
      "hAnchor" : "mid",
      "value" : "RANDOMISE:"
    },
    "labelToggleClothing" : {
      "type" : "label",
      "position" : [267, 215],
      "hAnchor" : "mid",
      "value" : "Show clothing"
    },
    "btnToggleClothing" : {
      "type" : "button",
      "base" : "/interface/title/checkboxnocheck.png",
      "hover" : "/interface/title/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/title/checkboxcheck.png",
      "hoverImageChecked" : "/interface/title/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true,
      "position" : [226, 215],
      "callback" : "toggleClothing"
    },
    "labelPortrait" : {
      "type" : "label",
      "position" : [264, 310],
      "hAnchor" : "mid",
      "value" : "HUMAN",
      "color" : [141, 141, 141]
    },
    "labelMainSkinColor" : {
      "type" : "label",
      "position" : [171, 188],
      "hAnchor" : "left"
    },
    "mainSkinColor" : {
      "type" : "spinner",
      "position" : [237, 188],
      "zlevel" : 1
    },
    "labelHairStyle" : {
      "type" : "label",
      "position" : [171, 176],
      "hAnchor" : "left"
    },
    "hairStyle" : {
      "type" : "spinner",
      "position" : [237, 176],
      "zlevel" : 1
    },
    "labelShirt" : {
      "type" : "label",
      "position" : [171, 164],
      "hAnchor" : "left"
    },
    "shirt" : {
      "type" : "spinner",
      "position" : [237, 164],
      "zlevel" : 1
    },
    "labelPants" : {
      "type" : "label",
      "position" : [171, 152],
      "hAnchor" : "left"
    },
    "pants" : {
      "type" : "spinner",
      "position" : [237, 152],
      "zlevel" : 1
    },
    "labelPersonality" : {
      "type" : "label",
      "position" : [171, 139],
      "hAnchor" : "left"
    },
    "personality" : {
      "type" : "spinner",
      "position" : [237, 139],
      "zlevel" : 1
    },
    "labelAlty" : {
      "type" : "label",
      "position" : [269, 188],
      "hAnchor" : "left"
    },
    "alty" : {
      "type" : "spinner",
      "position" : [336, 188],
      "zlevel" : 1
    },
    "labelHeady" : {
      "type" : "label",
      "position" : [269, 176],
      "hAnchor" : "left"
    },
    "heady" : {
      "type" : "spinner",
      "position" : [336, 176],
      "zlevel" : 1
    },
    "labelShirtColor" : {
      "type" : "label",
      "position" : [269, 164],
      "hAnchor" : "left"
    },
    "shirtColor" : {
      "type" : "spinner",
      "position" : [336, 164],
      "zlevel" : 1
    },
    "labelPantsColor" : {
      "type" : "label",
      "position" : [269, 152],
      "hAnchor" : "left"
    },
    "pantsColor" : {
      "type" : "spinner",
      "position" : [336, 152],
      "zlevel" : 1
    },
    "randomize" : {
      "type" : "button",
      "base" : "/interface/title/dice.png",
      "hover" : "/interface/title/diceover.png",
      "position" : [284, 226]
    },
    "randomName" : {
      "type" : "button",
      "base" : "/interface/title/dice.png",
      "hover" : "/interface/title/diceover.png",
      "position" : [309, 110]
    },
    "saveChar" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [281, 30],
      "caption" : "Done"
    },
    "cancel" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [194, 30],
      "caption" : "Cancel"
    },
    "species" : {
      "type" : "radioGroup",
      "position" : [19, 283],

      "baseImage" : "/interface/title/button.png",
      "hoverImage" : "/interface/title/buttonover.png",
      "baseImageChecked" : "/interface/title/selected.png",
      "hoverImageChecked" : "/interface/title/selectedover.png",

      "buttons" : [
        {
          "id" : 0,
          "image" : "",
          "position" : [0, 0]
        },
        {
          "id" : 1,
          "image" : "",
          "position" : [27, 0]
        },
        {
          "id" : 2,
          "image" : "",
          "position" : [54, 0]
        },
        {
          "id" : 3,
          "image" : "",
          "position" : [81, 0]
        },
        {
          "id" : 4,
          "image" : "",
          "position" : [108, 0]
        },
        {
          "id" : 5,
          "image" : "",
          "position" : [0, -26]
        },
        {
          "id" : 6,
          "image" : "",
          "position" : [27, -26]
        },
        {
          "id" : 7,
          "image" : "",
          "position" : [54, -26]
        },
        {
          "id" : 8,
          "image" : "",
          "position" : [81, -26]
        },
        {
          "id" : 9,
          "image" : "",
          "position" : [108, -26]
        },{
          "id" : 10,
          "image" : "",
          "position" : [0, -52]
        },
        {
          "id" : 11,
          "image" : "",
          "position" : [27, -52]
        },
        {
          "id" : 12,
          "image" : "",
          "position" : [54, -52]
        },
        {
          "id" : 13,
          "image" : "",
          "position" : [81, -52]
        },
        {
          "id" : 14,
          "image" : "",
          "position" : [108, -52]
        },
        {
          "id" : 15,
          "image" : "",
          "position" : [0, -78]
        },
        {
          "id" : 16,
          "image" : "",
          "position" : [27, -78]
        },
        {
          "id" : 17,
          "image" : "",
          "position" : [54, -78]
        },
        {
          "id" : 18,
          "image" : "",
          "position" : [81, -78]
        },
        {
          "id" : 19,
          "image" : "",
          "position" : [108, -78]
        },{
          "id" : 20,
          "image" : "",
          "position" : [0, -104]
        },
        {
          "id" : 21,
          "image" : "",
          "position" : [27, -104]
        },
        {
          "id" : 22,
          "image" : "",
          "position" : [54, -104]
        },
        {
          "id" : 23,
          "image" : "",
          "position" : [81, -104]
        },
        {
          "id" : 24,
          "image" : "",
          "position" : [108, -104]
        },
        {
          "id" : 25,
          "image" : "",
          "position" : [0, -130]
        },
        {
          "id" : 26,
          "image" : "",
          "position" : [27, -130]
        },
        {
          "id" : 27,
          "image" : "",
          "position" : [54, -130]
        },
        {
          "id" : 28,
          "image" : "",
          "position" : [81, -130]
        },
        {
          "id" : 29,
          "image" : "",
          "position" : [108, -130]
        },
        {
          "id" : 30,
          "image" : "",
          "position" : [0, -156]
        },
        {
          "id" : 31,
          "image" : "",
          "position" : [27, -156]
        },
        {
          "id" : 32,
          "image" : "",
          "position" : [54, -156]
        },
        {
          "id" : 33,
          "image" : "",
          "position" : [81, -156]
        },
        {
          "id" : 34,
          "image" : "",
          "position" : [108, -156]
        },
        {
          "id" : 35,
          "image" : "",
          "position" : [0, -182]
        },
        {
          "id" : 36,
          "image" : "",
          "position" : [27, -182]
        },
        {
          "id" : 37,
          "image" : "",
          "position" : [54, -182]
        },
        {
          "id" : 38,
          "image" : "",
          "position" : [81, -182]
        },
        {
          "id" : 39,
          "image" : "",
          "position" : [108, -182]
        },
        {
          "id" : 40,
          "image" : "",
          "position" : [0, -208]
        },
        {
          "id" : 41,
          "image" : "",
          "position" : [27, -208]
        },
        {
          "id" : 42,
          "image" : "",
          "position" : [54, -208]
        },
        {
          "id" : 43,
          "image" : "",
          "position" : [81, -208]
        },
        {
          "id" : 44,
          "image" : "",
          "position" : [108, -208]
        },
        {
          "id" : 45,
          "image" : "",
          "position" : [0, -234]
        },
        {
          "id" : 46,
          "image" : "",
          "position" : [27, -234]
        },
        {
          "id" : 47,
          "image" : "",
          "position" : [54, -234]
        },
        {
          "id" : 48,
          "image" : "",
          "position" : [81, -234]
        },
        {
          "id" : 49,
          "image" : "",
          "position" : [108, -234]
        },
        {
          "id" : 50,
          "image" : "",
          "position" : [353, 0]
        },
        {
          "id" : 51,
          "image" : "",
          "position" : [380, 0]
        },
        {
          "id" : 52,
          "image" : "",
          "position" : [407, 0]
        },
        {
          "id" : 53,
          "image" : "",
          "position" : [434, 0]
        },
        {
          "id" : 54,
          "image" : "",
          "position" : [461, 0]
        },
        {
          "id" : 55,
          "image" : "",
          "position" : [353, -26]
        },
        {
          "id" : 56,
          "image" : "",
          "position" : [380, -26]
        },
        {
          "id" : 57,
          "image" : "",
          "position" : [407, -26]
        },
        {
          "id" : 58,
          "image" : "",
          "position" : [434, -26]
        },
        {
          "id" : 59,
          "image" : "",
          "position" : [461, -26]
        },
        {
          "id" : 60,
          "image" : "",
          "position" : [353, -52]
        },
        {
          "id" : 61,
          "image" : "",
          "position" : [380, -52]
        },
        {
          "id" : 62,
          "image" : "",
          "position" : [407, -52]
        },
        {
          "id" : 63,
          "image" : "",
          "position" : [434, -52]
        },
        {
          "id" : 64,
          "image" : "",
          "position" : [461, -52]
        },
        {
          "id" : 65,
          "image" : "",
          "position" : [353, -78]
        },
        {
          "id" : 66,
          "image" : "",
          "position" : [380, -78]
        },
        {
          "id" : 67,
          "image" : "",
          "position" : [407, -78]
        },
        {
          "id" : 68,
          "image" : "",
          "position" : [434, -78]
        },
        {
          "id" : 69,
          "image" : "",
          "position" : [461, -78]
        },{
          "id" : 70,
          "image" : "",
          "position" : [353, -104]
        },
        {
          "id" : 71,
          "image" : "",
          "position" : [380, -104]
        },
        {
          "id" : 72,
          "image" : "",
          "position" : [407, -104]
        },
        {
          "id" : 73,
          "image" : "",
          "position" : [434, -104]
        },
        {
          "id" : 74,
          "image" : "",
          "position" : [461, -104]
        },
        {
          "id" : 75,
          "image" : "",
          "position" : [353, -130]
        },
        {
          "id" : 76,
          "image" : "",
          "position" : [380, -130]
        },
        {
          "id" : 77,
          "image" : "",
          "position" : [407, -130]
        },
        {
          "id" : 78,
          "image" : "",
          "position" : [434, -130]
        },
        {
          "id" : 79,
          "image" : "",
          "position" : [461, -130]
        },
        {
          "id" : 80,
          "image" : "",
          "position" : [353, -156]
        },
        {
          "id" : 81,
          "image" : "",
          "position" : [380, -156]
        },
        {
          "id" : 82,
          "image" : "",
          "position" : [407, -156]
        },
        {
          "id" : 83,
          "image" : "",
          "position" : [434, -156]
        },
        {
          "id" : 84,
          "image" : "",
          "position" : [461, -156]
        },
        {
          "id" : 85,
          "image" : "",
          "position" : [353, -182]
        },
        {
          "id" : 86,
          "image" : "",
          "position" : [380, -182]
        },
        {
          "id" : 87,
          "image" : "",
          "position" : [407, -182]
        },
        {
          "id" : 88,
          "image" : "",
          "position" : [434, -182]
        },
        {
          "id" : 89,
          "image" : "",
          "position" : [461, -182]
        },
        {
          "id" : 90,
          "image" : "",
          "position" : [353, -208]
        },
        {
          "id" : 91,
          "image" : "",
          "position" : [380, -208]
        },
        {
          "id" : 92,
          "image" : "",
          "position" : [407, -208]
        },
        {
          "id" : 93,
          "image" : "",
          "position" : [434, -208]
        },
        {
          "id" : 94,
          "image" : "",
          "position" : [461, -208]
        },
        {
          "id" : 95,
          "image" : "",
          "position" : [353, -234]
        },
        {
          "id" : 96,
          "image" : "",
          "position" : [380, -234]
        },
        {
          "id" : 97,
          "image" : "",
          "position" : [407, -234]
        },
        {
          "id" : 98,
          "image" : "",
          "position" : [434, -234]
        },
        {
          "id" : 99,
          "image" : "",
          "position" : [461, -234]
        }
      ]
    },
    "gender" : {
      "type" : "radioGroup",
      "position" : [174, 240],

      "baseImage" : "/interface/title/button.png",
      "hoverImage" : "/interface/title/buttonover.png",
      "baseImageChecked" : "/interface/title/selected.png",
      "hoverImageChecked" : "/interface/title/selectedover.png",

      "buttons" : [
        {
          "id" : 0,
          "image" : "/interface/title/male.png",
          "position" : [0, 0]
        },
        {
          "id" : 1,
          "image" : "/interface/title/female.png",
          "selected" : true,
          "position" : [151, 0]
        }
      ]
    },
    "labelMode" : {
      "type" : "label",
      "position" : [264, 70],
      "hAnchor" : "mid",
      "zlevel" : 1
    },
    "labelCasualMode" : {
      "type" : "label",
      "position" : [185, 85],
      "zlevel" : 1,
      "value" : "CASUAL"
    },
    "labelSurvivalMode" : {
      "type" : "label",
      "position" : [249, 85],
      "zlevel" : 1,
      "value" : "SURVIVAL"
    },
    "labelHardcoreMode" : {
      "type" : "label",
      "position" : [313, 85],
      "zlevel" : 1,
      "value" : "HARDCORE"
    },
    "mode" : {
      "type" : "radioGroup",
      "position" : [191, 85],

      "baseImage" : "/interface/title/checkboxnocheck.png",
      "hoverImage" : "/interface/title/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/title/checkboxcheck.png",
      "hoverImageChecked" : "/interface/title/checkboxcheckhover.png",

      "buttons" : [
        {
          "id" : 0,
          "image" : "",
          "text" : "",
          "position" : [-17, 0],
          "data" : {
            "description" : "No need to eat and no death penalties."
          }
        },
        {
          "id" : 1,
          "image" : "",
          "text" : "",
          "selected" : true,
          "position" : [47, 0],
          "data" : {
            "description" : "Eat to survive, drop items on death."
          }
        },
        {
          "id" : 2,
          "image" : "",
          "text" : "",
          "position" : [111, 0],
          "data" : {
            "description" : "When you die your character stays dead!"
          }
        }
      ]
    },
    "charPreview" : {
      "type" : "portrait",
      "position" : [263, 274],
      "scale" : 1.6
    },
    "name" : {
      "type" : "textbox",
      "regex" : "[a-zA-Z0-9 '-]{0,16}",
      "position" : [206, 114],
      "hint" : "Name",
      "maxWidth" : 120,
      "enterKey" : "saveChar",
      "escapeKey" : "cancel",
      "focus" : true
    },
    "btnSkipIntro" : {
      "type" : "button",
      "base" : "/interface/title/checkboxnocheck.png",
      "hover" : "/interface/title/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/title/checkboxcheck.png",
      "hoverImageChecked" : "/interface/title/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : false,
      "position" : [222, 54],
      "callback" : "null"
    },
    "lblSkipIntro" : {
      "type" : "label",
      "position" : [234, 54],
      "hAnchor" : "left",
      "value" : "Skip intro mission",
      "color" : [190, 190, 190]
    }
  }
}
