{
  "textColor" : "white",
  "fontSize" : 8,
  "textPadding" : [10, 2],
  "textWrapWidth" : 145,
  "textZoom" : 2,
  "bubbleOffset" : [0, 1],
  "maxAge" : 8,
  "portraitMaxAge" : 8,
  "interBubbleMargin" : 3,
  "maxMessagePerEntity" : 1,
  "tweenFactor" : 0.03,
  "movementThreshold" : 2,

  "partSize" : 10,

  "portraitBackgroundImage" : "/interface/chatbubbles/portraitbubble.png",
  "portraitMoreImage" : "/interface/chatbubbles/portraitbubbleMore.png",
  "portraitMorePosition" : [167, 8],
  "portraitBackgroundSize" : [180, 59],
  "portraitPosition" : [-7, -2],
  "portraitSize" : [20, 20],
  "portraitTextPosition" : [55, 52],
  "portraitTextWidth" : 120,
  "portraitChatterFramerate" : 0.25,
  "portraitChatterDuration" : 3.0,

  "furthestTextDistance" : 0.75,
  "textFadeFunction" : "chatBubbleTextFade",
  "bubbleFadeFunction" : "chatBubbleBackgroundFade"
}
