{
  "filter" : [ "crewcontract" , "crewshop" ],
  "titleFromEntity" : true,
  "requiresBlueprint" : true,
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/craftingheader.png",
      "fileBody" : "/interface/crafting/researchbody.png",
      "fileFooter" : "/interface/crafting/craftingfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [321, 263]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "  Crafting",
      "subtitle" : "  Create all kinds of wonderful things!",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/craftingicon.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "lblSchematics" : {
      "type" : "label",
      "position" : [88, 244],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;SCHEMATICS"
    },
    "lblProducttitle" : {
      "type" : "label",
      "position" : [265, 244],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;PRODUCT"
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [202, 40],
      "upOffset" : 36
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [214, 40],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/amount.png",
      "position" : [208, 39],
      "zlevel" : -3
    },
    "lbllvlSort" : {
      "type" : "image",
      "file" : "/interface/crafting/cost.png",
      "position" : [123, 232],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [274, 38],
      "caption" : "Craft"
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      "position" : [26, 59]
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [51, 58],
      "hAnchor" : "left",
      "value" : "MATERIALS AVAILABLE"
    },

    "description" : {
      "type" : "widget",
      "position" : [190, 50],
      "size" : [140, 220]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [60, 43],
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [5, 69, 174, 229],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/craftableselected2.png",
            "unselectedBG" : "/interface/crafting/craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [21, 11],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [119, 5],
                "file" : "/interface/crafting/new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [134, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/notcraftableoverlay.png",
                "position" : [0, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
        {
          "position" : [8, 232],
          "baseImage" : "/interface/crafting/sortcommon.png",
          "baseImageChecked" : "/interface/crafting/sortcommonselected.png",
          "data" : {
            "rarity" : [ "common" ]
          }
        },
        {
          "position" : [14, 232],
          "baseImage" : "/interface/crafting/sortuncommon.png",
          "baseImageChecked" : "/interface/crafting/sortuncommonselected.png",
          "data" : {
            "rarity" : [ "uncommon" ]
          }
        },
        {
          "position" : [20, 232],
          "baseImage" : "/interface/crafting/sortrare.png",
          "baseImageChecked" : "/interface/crafting/sortrareselected.png",
          "data" : {
            "rarity" : [ "rare" ]
          }
        },
        {
          "position" : [26, 232],
          "baseImage" : "/interface/crafting/sortlegendary.png",
          "baseImageChecked" : "/interface/crafting/sortlegendaryselected.png",
          "data" : {
            "rarity" : [ "legendary" ]
          }
        }
      ]
    }
  }
}
