{
  "noCategoryFilters" : false,
  "filter" : [ ],
  "titleFromEntity" : true,
  "requiresBlueprint" : true,
  "craftingSound" : "/sfx/interface/crafting_tech1.ogg",
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/windowconfig/newuiheader.png",
      "fileBody" : "/interface/crafting/newbody.png",
      "fileFooter" : "/interface/windowconfig/newuifooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      //position: horizontal, vertical
      "position" : [380, 331]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "ARMORY",
      "subtitle" : "Create deadly weapons & armor.",
      "position" : [0, 152],
      "icon" : {
        "type" : "image",
        "file" : "/interface/windowconfig/prototyper.png",
        "position" : [10, -20],
        "zlevel" : -1
      }
    },
    "btnUpgrade" : {
      "type" : "button",
      "disabledImage" : "/interface/crafting/upgradeUnready.png",
      "base" : "/interface/crafting/upgradeReady.png",
      "position" : [273, 328],
      "zlevel" : 5
    },

    "spinCount" : {
      "type" : "spinner",
      "position" : [271, 53],
      "upOffset" : 36
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [287, 53],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/amount.png",
      "position" : [277, 52],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [321, 52],
      "caption" : "Assemble"
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/interface/buttonactive.png",
      "hover" : "/interface/buttonactivehover.png",
      "position" : [321, 52],
      "caption" : "Stop"
    },
    "imgCraftBg" : {
      "type" : "image",
      "file" : "/interface/crafting/newuicraftbg.png",
      "position" : [262, 49],
      "zlevel" : -5
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [284, 66]
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      //position: horizontal, vertical
      "position" : [36, 66.8]
    },
    "lblProduct" : {
      "type" : "label",
      //position: horizontal, vertical
      "position" : [47, 65.8],
      "hAnchor" : "left",
      //Label: hex-color, text-shown
      "value" : "MATERIALS AVAILABLE"
    },

    "description" : {
      "type" : "widget",
      //position: horizontal, vertical
      "position" : [233, 129],
      //Size: width, height
      "size" : [188, 220]
    },
    "filter" : {
      "type" : "textbox",
      //position: horizontal, vertical
      "position" : [83, 50],
      //Label: text displayed
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },

    "scrollArea" : {
      "type" : "scrollArea",
      //Item List Postion: horizontal, length, width, height
      "rect" : [39, 80, 215, 342],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/craftableselected2.png",
            "unselectedBG" : "/interface/crafting/craftablebackground.png",
            "spacing" : [0, 1],
            //NoClue, display-size
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [119, 5],
                "file" : "/interface/crafting/new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [134, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          //Chemical Tab Position: horizontal, vertical
          "position" : [11, 325],
          "baseImage" : "/interface/crafting/futree.png",
          "baseImageChecked" : "/interface/crafting/futreeon.png",
          "data" : {
            "filter" : [ "tree" ]
          }
        },
        {
          //Chemical Tab Position: horizontal, vertical
          "position" : [11, 302],
          "baseImage" : "/interface/crafting/fuflower.png",
          "baseImageChecked" : "/interface/crafting/fufloweron.png",
          "data" : {
            "filter" : [ "flower" ]
          }
        }, 
        {
          //Chemical Tab Position: horizontal, vertical
          "position" : [11, 279],
          "baseImage" : "/interface/crafting/fumushroom.png",
          "baseImageChecked" : "/interface/crafting/fumushroomon.png",
          "data" : {
            "filter" : [ "mushroom" ]
          }
        },         
        {
          //Chemical Tab Position: horizontal, vertical
          "position" : [11, 256],
          "baseImage" : "/interface/crafting/fubush.png",
          "baseImageChecked" : "/interface/crafting/fubushon.png",
          "data" : {
            "filter" : [ "bush" ]
          }
        },        
        {
          //Genetics Tab Position: horizontal, vertical
          "position" :[11, 233],
          "baseImage" : "/interface/crafting/fuvegetable.png",
          "baseImageChecked" : "/interface/crafting/fuvegetableon.png",
          "data" : {
            "filter" : [ "vegetable" ]
          }
        },
        {
          //Genetics Tab Position: horizontal, vertical
          "position" :[11, 210],
          "baseImage" : "/interface/crafting/fufruit.png",
          "baseImageChecked" : "/interface/crafting/fufruiton.png",
          "data" : {
            "filter" : [ "fruit" ]
          }
        },
        {
          //Genetics Tab Position: horizontal, vertical
          "position" :[11, 187],
          "baseImage" : "/interface/crafting/fuvine.png",
          "baseImageChecked" : "/interface/crafting/fuvineon.png",
          "data" : {
            "filter" : [ "vine" ]
          }
        }         
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    }
  }
}