{
  "noCategoryFilters" : false,
  "filter" : [ ],
  "titleFromEntity" : true,
  "requiresBlueprint" : true,
  "craftingSound" : "/sfx/interface/crafting_anvil.ogg",
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/windowconfig/ff_header.png",
      "fileBody" : "/interface/crafting/fu_assemblercraftingbody.png",
      "fileFooter" : "/interface/windowconfig/ff_footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      "position" : [347, 365]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "  FRUIT PRESS",
      "subtitle" : "  Mush up fruits for use in booze.",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/windowconfig/designlab.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/crafting/shine.png",
      "position" : [-15, 0],
      "zlevel" : -10
    },
    "btnUpgrade" : {
      "type" : "button",
      "disabledImage" : "/interface/crafting/upgradeUnready.png",
      "base" : "/interface/crafting/upgradeReady.png",
      "position" : [139, 258],
      "zlevel" : 5
    },
    "lblSchematics" : {
      "type" : "label",
      "position" : [103, 317],
      "hAnchor" : "mid",
      "value" : "^#ffffff;BLUEPRINTS"
    },
    "lblProducttitle" : {
      "type" : "label",
      "position" : [274, 285],
      "hAnchor" : "mid",
      "value" : "^#ffffff;PRODUCT"
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [220, 46],
      "upOffset" : 36
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [232, 46],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/amount.png",
      "position" : [226, 45],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [271, 43],
      "caption" : "Forge"
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/interface/buttonactive.png",
      "hover" : "/interface/buttonactivehover.png",
      "position" : [271, 43],
      "caption" : "Stop"
    },
    "imgCraftBg" : {
      "type" : "image",
      "file" : "/interface/crafting/craftbg.png",
      "position" : [196, 40],
      "zlevel" : -5
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [197, 41]
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      "position" : [51, 66.8]
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [62, 65.8],
      "hAnchor" : "left",
      "value" : "MATERIALS AVAILABLE"
    },

    "description" : {
      "type" : "widget",
      "position" : [190, 41],
      "size" : [148, 220]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [73, 47],
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [20, 79, 191, 315],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/craftableselected2.png",
            "unselectedBG" : "/interface/crafting/craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [119, 5],
                "file" : "/interface/crafting/new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [134, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          //Tree Tab
          "selected" : true,
          "position" : [19, 329],
          "baseImage" : "/interface/crafting/tree.png",
          "baseImageChecked" : "/interface/crafting/treeon.png",
          "data" : {
            "filter" : [ "tree" ]
          }
        },
        {
          //Flower Tab
          "position" : [38, 329],
          "baseImage" : "/interface/crafting/flower.png",
          "baseImageChecked" : "/interface/crafting/floweron.png",
          "data" : {
            "filter" : [ "flower" ]
          }
        },
        {
          //Mushroom Tab
          "position" : [58, 329],
          "baseImage" : "/interface/crafting/mushroom.png",
          "baseImageChecked" : "/interface/crafting/mushroomon.png",
          "data" : {
            "filter" : [ "mushroom" ]
          }
        },
        {
          //Bush Tab
          "position" : [78, 329],
          "baseImage" : "/interface/crafting/bush.png",
          "baseImageChecked" : "/interface/crafting/bushon.png",
          "data" : {
            "filter" : [ "bush" ]
          }
        },
        {
          //Vine Tab
          "position" : [98, 329],
          "baseImage" : "/interface/crafting/vine.png",
          "baseImageChecked" : "/interface/crafting/vineon.png",
          "data" : {
            "filter" : [ "vine" ]
          }
        },
        {
          //Vegetable Tab
          "position" : [118, 329],
          "baseImage" : "/interface/crafting/vegetable.png",
          "baseImageChecked" : "/interface/crafting/vegetableon.png",
          "data" : {
            "filter" : [ "vegetable" ]
          }
        },
        {
          //Fruit Tab
          "position" : [138, 329],
          "baseImage" : "/interface/crafting/fruit.png",
          "baseImageChecked" : "/interface/crafting/fruiton.png",
          "data" : {
            "filter" : [ "fruit" ]
          }
        }
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    }
  }
}