{
  "onShowSound" : [
    ""
  ],
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/quests/newquest/header.png",
      "fileBody" : "/interface/quests/newquest/body2.png",
      "fileFooter" : "/interface/quests/newquest/footer.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "",
      "subtitle" : "",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/quests/quest.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "nqImage" : {
      "type" : "image",
      "file" : "/interface/quests/newquest/NewQuest.png",
      "position" : [30, 234],
      "zlevel" : -10
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/quests/newquest/shine.png",
      "position" : [0, 10],
      "zlevel" : -10
    },
    "bgOverlay" : {
      "type" : "image",
      "file" : "/interface/quests/newquest/details.png",
      "position" : [3, 37],
      "zlevel" : -20
    },
    "portraitImage" : {
      "type" : "image",
      "offset" : [48, 35],
      "position" : [9, 163],
      "scale" : 1.5
    },
    "portraitTitle" : {
      "type" : "label",
      "position" : [32, 153],
      "hAnchor" : "mid",
      "charLimit" : 24,
      "fontSize" : 8,
      "value" : "",
      "color" : "white"
    },
    "imgPolaroid" : {
      "type" : "image",
      "file" : "/interface/quests/newquest/polaroid.png",
      "position" : [216, 67],
      "zlevel" : -1
    },
    "imgPolaroidBack" : {
      "type" : "image",
      "file" : "/interface/quests/newquest/polaroidBackground.png",
      "position" : [216, 67],
      "zlevel" : -2
    },
    "objectivePortraitImage" : {
      "type" : "image",
      "position" : [235, 92],
      "maxSize" : [31, 31],
      "minSize" : [31, 31],
      "centered" : true
    },
    "objectivePortraitTitle" : {
      "type" : "label",
      "position" : [235, 69],
      "hAnchor" : "mid",
      "fontSize" : 4,
      "charLimit" : 24,
      "value" : "",
      "color" : "black"
    },
    "btnAccept" : {
      "type" : "button",
      "base" : "/interface/quests/newquest/acceptUp.png",
      "hover" : "/interface/quests/newquest/acceptOver.png",
      "position" : [144, 37],
      "caption" : "Accept"
    },
    "btnDecline" : {
      "type" : "button",
      "base" : "/interface/quests/newquest/declineUp.png",
      "hover" : "/interface/quests/newquest/declineOver.png",
      "disabledImage" : "/interface/quests/newquest/declineUp.png",
      "position" : [64, 37],
      "caption" : "Decline"
    },
    "rewardItems" : {
      "type" : "itemgrid",
      "position" : [110, 67],
      "dimensions" : [2, 1],
      "spacing" : [22, 19],
      "callback" : "null",
      "backingImage" : "/interface/inventory/empty.png",
      "zlevel" : 1
    },
    "lblRewards" : {
      "type" : "label",
      "position" : [67, 71],
      "fontSize" : 8,
      "value" : "REWARDS:",
      "color" : [155, 227, 214]
    },
    "lblQuestTitle" : {
      "type" : "label",
      "position" : [140, 220],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "wrapWidth" : 230,
      "lineSpacing" : 1.0,
      "value" : "Secret of the Avian Troll Master",
      "color" : [155, 227, 214]
    },
    "lblQuestBody" : {
      "type" : "label",
      "position" : [67, 208],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 187,
      "lineSpacing" : 1.0,
      "value" : "quest body of the Secret of the Avian Troll Master quest bla",
      "color" : "white"
    }
  }
}
