{
	"disableTimer": true,
	"paneLayout": {
		"panefeature": {
			"type": "panefeature"
		},
		"background": {
			"type": "background",
			"fileHeader": "/interface/crafting/ppheader.png",
			"fileBody": "/interface/crafting/ppbody.png",
			"fileFooter": "/interface/crafting/ppfooter.png"
		},
		"close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"press": "/interface/xpress.png",
			"position": [466, 261]
		},
		"windowtitle": {
			"type": "title",
			"title": "                                       PROP PACK",
			"subtitle": "^white;           Your one-stop-shop for furnishings and more!^white;",
			"position": [20, 252],
			"icon": {
				"type": "image",
				"file": "/interface/crafting/ppicon.png",
				"position": [0, -20],
				"zlevel": -1
			}
		},
		"lblSchematics": {
			"type": "label",
			"position": [232, 243],
			"hAnchor": "mid",
			"value": "PRODUCT"
		},
		"lblProducttitle": {
			"type": "label",
			"position": [404, 243],
			"hAnchor": "mid",
			"value": "PRODUCT DESCRIPTION"
		},
		"spinCount": {
			"type": "spinner",
			"position": [346, 40],
			"upOffset": 34
		},
		"tbSpinCount": {
			"type": "textbox",
			"position": [358, 40],
			"textAlign": "center",
			"maxWidth": 15,
			"regex": "x?\\d{0,3}",
			"hint": ""
		},
		"lblAmountInput": {
			"type": "image",
			"file": "/interface/crafting/ppamount.png",
			"position": [352, 39],
			"zlevel": -3
		},
		"lbllvlSort": {
			"type": "image",
			"file": "/interface/crafting/cost.png",
			"position": [267, 232],
			"zlevel": -3
		},
		"btnCraft": {
			"type": "button",
			"base": "/interface/crafting/ppbutton.png",
			"hover": "/interface/crafting/ppbuttonhover.png",
			"position": [418, 38],
			"caption": "Buy"
		},
		"btnFilterHaveMaterials": {
			"type": "button",
			"base": "/interface/crafting/checkboxnocheck.png",
			"baseImageChecked": "/interface/crafting/checkboxcheck.png",
			"checkable": true,
			"checked": false,
			"position": [170, 59]
		},
		"lblProduct": {
			"type": "label",
			"position": [214, 58],
			"hAnchor": "left",
			"value": "CAN AFFORD"
		},

		"scrollArea": {
			"type": "scrollArea",
			"rect": [151, 69, 318, 230],
			"children": {
				"itemList": {
					"type": "list",
					"schema": {
						"selectedBG": "/interface/crafting/ppcraftableselected.png",
						"unselectedBG": "/interface/crafting/ppcraftablebackground.png",
						"spacing": [0, 1],
						"memberSize": [156, 20],
						"listTemplate": {
							"background": {
								"type": "image",
								"file": "/interface/crafting/ppcraftablebackground.png",
								"position": [0, 0],
								"zlevel": -1
							},
							"itemName": {
								"type": "label",
								"position": [21, 11],
								"hAnchor": "left",
								"wrapWidth": 116,
								"value": "Replace Me"
							},
							"itemIcon": {
								"type": "itemslot",
								"position": [1, 1],
								"callback": "null"
							},
							"moneyIcon": {
								"type": "image",
								"position": [122, 1],
								"file": "/interface/money.png"
							},
							"priceLabel": {
								"type": "label",
								"position": [135, 1],
								"hAnchor": "left",
								"value": "0"
							},
							"notcraftableoverlay": {
								"type": "image",
								"file": "/interface/crafting/ppnotcraftableoverlay.png",
								"position": [0, 0],
								"zlevel": 1
							}
						}
					}
				}
			}
		},
		"description": {
			"type": "widget",
			"position": [334, 42],
			"size": [140, 220]
		},
		"filter": {
			"type": "textbox",
			"position": [202, 43],
			"hint": "Search",
			"maxWidth": 70,
			"escapeKey": "close",
			"enterKey": "filter",
			"focus": true
		},
		"categories": {
			"type": "radioGroup",
			"toggleMode": true,
			"buttons": [{
					"position": [8, 211],
					"baseImage": "/interface/crafting/ppblocksoff.png",
					"baseImageChecked": "/interface/crafting/ppblockson.png",
					"data": {
						"filter": ["ppblocks"]
					}
				},
				{
					"position": [42, 211],
					"baseImage": "/interface/crafting/ppfurnitureoff.png",
					"baseImageChecked": "/interface/crafting/ppfurnitureon.png",
					"data": {
						"filter": ["ppfurniture"]
					}
				},
				{
					"position": [76, 211],
					"baseImage": "/interface/crafting/pplegacyoff.png",
					"baseImageChecked": "/interface/crafting/pplegacyon.png",
					"data": {
						"filter": ["pplegacy"]
					}
				},
				{
					"position": [110, 211],
					"baseImage": "/interface/crafting/ppstorageoff.png",
					"baseImageChecked": "/interface/crafting/ppstorageon.png",
					"data": {
						"filter": ["ppstorage"]
					}
				},
				{
					"position": [8, 177],
					"baseImage": "/interface/crafting/pppetsoff.png",
					"baseImageChecked": "/interface/crafting/pppetson.png",
					"data": {
						"filter": ["pppets"]
					}
				},
				{
					"position": [42, 177],
					"baseImage": "/interface/crafting/ppdoorsoff.png",
					"baseImageChecked": "/interface/crafting/ppdoorson.png",
					"data": {
						"filter": ["ppdoors"]
					}
				},
				{
					"position": [76, 177],
					"baseImage": "/interface/crafting/ppflagpolesoff.png",
					"baseImageChecked": "/interface/crafting/ppflagpoleson.png",
					"data": {
						"filter": ["ppflagpoles"]
					}
				},
				{
					"position": [110, 177],
					"baseImage": "/interface/crafting/ppflowerpotsoff.png",
					"baseImageChecked": "/interface/crafting/ppflowerpotson.png",
					"data": {
						"filter": ["ppflowerpots"]
					}
				},
				{
					"position": [8, 143],
					"baseImage": "/interface/crafting/ppprotectorateoff.png",
					"baseImageChecked": "/interface/crafting/ppprotectorateon.png",
					"data": {
						"filter": ["ppprotectorate"]
					}
				},
				{
					"position": [42, 143],
					"baseImage": "/interface/crafting/ppsetsoff.png",
					"baseImageChecked": "/interface/crafting/ppsetson.png",
					"data": {
						"filter": ["ppsets"]
					}
				},
				{
					"position": [76, 143],
					"baseImage": "/interface/crafting/ppunsmashablesoff.png",
					"baseImageChecked": "/interface/crafting/ppunsmashableson.png",
					"data": {
						"filter": ["ppunsmashables"]
					}
				},
				{
					"position": [110, 143],
					"baseImage": "/interface/crafting/ppwalldecoroff.png",
					"baseImageChecked": "/interface/crafting/ppwalldecoron.png",
					"data": {
						"filter": ["ppwalldecor"]
					}
				},
				{
					"position": [8, 109],
					"baseImage": "/interface/crafting/ppshipoff.png",
					"baseImageChecked": "/interface/crafting/ppshipon.png",
					"data": {
						"filter": ["ppship"]
					}
				},
				{
					"position": [42, 109],
					"baseImage": "/interface/crafting/offpp.png",
					"baseImageChecked": "/interface/crafting/onpp.png",
					"data": {
						"filter": ["filler9"]
					}
				},
				{
					"position": [76, 109],
					"baseImage": "/interface/crafting/offpp.png",
					"baseImageChecked": "/interface/crafting/onpp.png",
					"data": {
						"filter": ["filler10"]
					}
				},
				{
					"position": [110, 109],
					"baseImage": "/interface/crafting/offpp.png",
					"baseImageChecked": "/interface/crafting/onpp.png",
					"data": {
						"filter": ["filler11"]
					}
				},
				{
					"position": [8, 75],
					"baseImage": "/interface/crafting/offpp.png",
					"baseImageChecked": "/interface/crafting/onpp.png",
					"data": {
						"filter": ["filler12"]
					}
				},
				{
					"position": [42, 75],
					"baseImage": "/interface/crafting/offpp.png",
					"baseImageChecked": "/interface/crafting/onpp.png",
					"data": {
						"filter": ["filler13"]
					}
				},
				{
					"position": [76, 75],
					"baseImage": "/interface/crafting/offpp.png",
					"baseImageChecked": "/interface/crafting/onpp.png",
					"data": {
						"filter": ["filler14"]
					}
				},
				{
					"position": [110, 75],
					"baseImage": "/interface/crafting/offpp.png",
					"baseImageChecked": "/interface/crafting/onpp.png",
					"data": {
						"filter": ["filler15"]
					}
				},
				{
					"position": [8, 41],
					"baseImage": "/interface/crafting/offpp.png",
					"baseImageChecked": "/interface/crafting/onpp.png",
					"data": {
						"filter": ["filler16"]
					}
				},
				{
					"position": [42, 41],
					"baseImage": "/interface/crafting/offpp.png",
					"baseImageChecked": "/interface/crafting/onpp.png",
					"data": {
						"filter": ["filler17"]
					}
				},
				{
					"position": [76, 41],
					"baseImage": "/interface/crafting/offpp.png",
					"baseImageChecked": "/interface/crafting/onpp.png",
					"data": {
						"filter": ["filler18"]
					}
				},
				{
					"position": [110, 41],
					"baseImage": "/interface/crafting/ppbundlesoff.png",
					"baseImageChecked": "/interface/crafting/ppbundleson.png",
					"data": {
						"filter": ["ppbundles"]
					}
				}
			]
		},
		"rarities": {
			"type": "radioGroup",
			"toggleMode": true,
			"buttons": [{
					"position": [150, 232],
					"baseImage": "/interface/crafting/sortcommon.png",
					"baseImageChecked": "/interface/crafting/sortcommonselected.png",
					"data": {
						"rarity": ["common"]
					}
				},
				{
					"position": [156, 232],
					"baseImage": "/interface/crafting/sortuncommon.png",
					"baseImageChecked": "/interface/crafting/sortuncommonselected.png",
					"data": {
						"rarity": ["uncommon"]
					}
				},
				{
					"position": [162, 232],
					"baseImage": "/interface/crafting/sortrare.png",
					"baseImageChecked": "/interface/crafting/sortrareselected.png",
					"data": {
						"rarity": ["rare"]
					}
				},
				{

					"position": [168, 232],
					"baseImage": "/interface/crafting/sortlegendary.png",
					"baseImageChecked": "/interface/crafting/sortlegendaryselected.png",
					"data": {
						"rarity": ["legendary"]
					}
				}
			]
		}
	},
	"tooltip": {
		"panefeature": {
			"type": "panefeature"
		},
		"itemList": {
			"position": [2, 3],
			"type": "list",
			"schema": {
				"spacing": [0, 0],
				"memberSize": [125, 25],
				"listTemplate": {
					"itemName": {
						"type": "label",
						"position": [22, 10],
						"hAnchor": "left",
						"wrapWidth": 116,
						"value": "Golden Moustache"
					},
					"itemIcon": {
						"type": "itemslot",
						"position": [1, 1],
						"callback": "null"
					},
					"count": {
						"type": "label",
						"position": [118, 0],
						"hAnchor": "right",
						"value": "19/99"
					}
				}
			}
		}
	}
}