{
  "noCategoryFilters" : false,
  "filter" : [ ],
  "titleFromEntity" : true,
  "requiresBlueprint" : true,
  "craftingSound" : "/sfx/interface/crafting_tech1.ogg",
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/windowconfig/newuiheader.png",
      "fileBody" : "/interface/crafting/fu_assemblercraftingbody.png",
      "fileFooter" : "/interface/windowconfig/newuifooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      //position: horizontal, vertical
      "position" : [355, 338]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "MATTER ASSEMBLER",
      "subtitle" : "Primary Lab crafting.",
      "position" : [0, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/windowconfig/prototyper.png",
        "position" : [10, -20],
        "zlevel" : -1
      }
    },
    "btnUpgrade" : {
      "type" : "button",
      "disabledImage" : "/interface/crafting/upgradeUnready.png",
      "base" : "/interface/crafting/upgradeReady.png",
      "position" : [249, 103],
      "zlevel" : 5
    },

    "lblProducttitle" : {
      "type" : "label",
      //position: horizontal, vertical
      "position" : [239, 339],
      "hAnchor" : "mid",
      //Label: hex-color, textshown
      "value" : "^#ffffff;PRODUCT"
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [237, 62],
      "upOffset" : 36
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [249, 62],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/amount.png",
      "position" : [243, 61],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [289, 61],
      "caption" : "Assemble"
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/interface/buttonactive.png",
      "hover" : "/interface/buttonactivehover.png",
      "position" : [289, 61],
      "caption" : "Stop"
    },
    "imgCraftBg" : {
      "type" : "image",
      "file" : "/interface/crafting/newuicraftbg.png",
      "position" : [229, 57],
      "zlevel" : -5
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [251, 75]
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      //position: horizontal, vertical
      "position" : [41, 66.8]
    },
    "lblProduct" : {
      "type" : "label",
      //position: horizontal, vertical
      "position" : [52, 65.8],
      "hAnchor" : "left",
      //Label: hex-color, text-shown
      "value" : "MATERIALS AVAILABLE"
    },

    "description" : {
      "type" : "widget",
      //position: horizontal, vertical
      "position" : [199, 139],
      //Size: width, height
      "size" : [188, 220]
    },
    "filter" : {
      "type" : "textbox",
      //position: horizontal, vertical
      "position" : [83, 50],
      //Label: text displayed
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },

    "scrollArea" : {
      "type" : "scrollArea",
      //Item List Postion: horizontal, length, width, height
      "rect" : [8, 83, 183, 320],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/craftableselected2.png",
            "unselectedBG" : "/interface/crafting/craftablebackground.png",
            "spacing" : [0, 1],
            //NoClue, display-size
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [119, 5],
                "file" : "/interface/crafting/new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [134, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [     
        {
          //Chemical Tab Position: horizontal, vertical
          "position" : [14, 327],
          "baseImage" : "/interface/crafting/technology.png",
          "baseImageChecked" : "/interface/crafting/technologyon.png",
          "data" : {
            "filter" : [ "chemical" ]
          }
        },    
        {
          //Genetics Tab Position: horizontal, vertical
          "position" :[40, 327],
          "baseImage" : "/interface/crafting/genetics.png",
          "baseImageChecked" : "/interface/crafting/geneticson.png",
          "data" : {
            "filter" : [ "genetics" ]
          }
        },
        {
          //Furniture Tab Position: horizontal, vertical
          "position" : [66, 327],
          "baseImage" : "/interface/crafting/fuobjects.png",
          "baseImageChecked" : "/interface/crafting/fuobjectson.png",
          "data" : {
            "filter" : [ "furniture" ]
          }
        },
        {
          //Packs Tab Position: horizontal, vertical
          "position" : [92, 327],
          "baseImage" : "/interface/crafting/fuvehicle.png",
          "baseImageChecked" : "/interface/crafting/fuvehicleon.png",
          "data" : {
            "filter" : [ "vehicle" ]
          }
        },
        {
          //Packs Tab Position: horizontal, vertical
          "position" : [118, 327],
          "baseImage" : "/interface/crafting/furobot.png",
          "baseImageChecked" : "/interface/crafting/furoboton.png",
          "data" : {
            "filter" : [ "robot" ]
          }
        },
        {
          //Packs Tab Position: horizontal, vertical
          "position" : [144, 327],
          "baseImage" : "/interface/crafting/tree.png",
          "baseImageChecked" : "/interface/crafting/treeon.png",
          "data" : {
            "filter" : [ "terraformer" ]
          }
        }         
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    }
  }
}