{
  "onShowSound" : [
    "/sfx/cinematics/quest_event.ogg"
  ],
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/quests/questcomplete2/header.png",
      "fileBody" : "/interface/quests/questcomplete2/body2.png",
      "fileFooter" : "/interface/quests/questcomplete2/footer.png"
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/quests/questcomplete2/shine.png",
      "position" : [0, 0],
      "zlevel" : -10
    },
    "bgOverlay" : {
      "type" : "image",
      "file" : "/interface/quests/questcomplete2/details.png",
      "position" : [3, 145],
      "zlevel" : -10
    },
    "portraitImage" : {
      "type" : "image",
      "offset" : [48, 30],
      "position" : [12, 91],
      "scale" : 1.5
    },
    "portraitTitle" : {
      "type" : "label",
      "position" : [35, 81],
      "hAnchor" : "mid",
      "charLimit" : 12,
      "fontSize" : 8,
      "value" : "",
      "color" : "white"
    },
    "btnAccept" : {
      "type" : "button",
      "base" : "/interface/quests/questcomplete2/okayOver.png",
      "hover" : "/interface/quests/questcomplete2/okayUp.png",
      "position" : [104, 24],
      "caption" : "Okay"
    },
    "imgComplete" : {
      "type" : "image",
      "file" : "/interface/quests/questcomplete2/questcomplete.png",
      "position" : [37, 269]
    },
    "imgRewards" : {
      "type" : "image",
      "file" : "/interface/quests/questcomplete2/rewards.png",
      "position" : [80, 59]
    },
    "imgBanner" : {
      "type" : "image",
      "file" : "/interface/quests/questcomplete2/rewardbanner.png",
      "position" : [-37, 19]
    },
    "rewardItems" : {
      "type" : "itemgrid",
      "position" : [157, 57],
      "dimensions" : [2, 1],
      "spacing" : [22, 19],
      "callback" : "null",
      "backingImage" : "/interface/inventory/empty.png",
      "zlevel" : 1
    },
    "lblMoney" : {
      "type" : "label",
      "position" : [126, 46],
      "fontSize" : 8,
      "value" : "^shadow;BONUS:^noshadow;",
      "color" : "orange"
    },
    "imgMoney" : {
      "type" : "image",
      "file" : "/interface/quests/questlog/money.png",
      "position" : [157, 47]
    },
    "lblMoneyAmount" : {
      "type" : "label",
      "position" : [170, 46],
      "fontSize" : 8,
      "value" : "9999999",
      "color" : "white"
    },
    "lblQuestTitle" : {
      "type" : "label",
      "position" : [140, 261],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "wrapWidth" : 230,
      "lineSpacing" : 1.0,
      "value" : "Secret of the Avian Troll Master",
      "color" : "orange"
    },
    "lblQuestBody" : {
      "type" : "label",
      "position" : [74, 245],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 190,
      "lineSpacing" : 1.0,
      "value" : "quest body of the Secret of the Avian Troll Master quest bla",
      "color" : "white"
    }
  }
}
