{
  "onShowSound" : [],
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/quests/newquest/header.png",
      "fileBody" : "/interface/quests/questfailed/body.png",
      "fileFooter" : "/interface/quests/newquest/footer.png"
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/quests/questfailed/shine.png",
      "position" : [0, 12],
      "zlevel" : -10
    },
    "bgOverlay" : {
      "type" : "image",
      "file" : "/interface/quests/questfailed/details.png",
      "position" : [3, 38],
      "zlevel" : -20
    },
    "portraitImage" : {
      "type" : "image",
      "offset" : [48, 25],
      "position" : [9, 86],
      "scale" : 1.5
    },
    "portraitTitle" : {
      "type" : "label",
      "position" : [32, 75],
      "hAnchor" : "mid",
      "charLimit" : 12,
      "fontSize" : 8,
      "value" : "",
      "color" : "white"
    },
    "btnAccept" : {
      "type" : "button",
      "base" : "/interface/quests/questcomplete/acceptRewardUp.png",
      "hover" : "/interface/quests/questcomplete/acceptRewardOver.png",
      "position" : [104, 37],
      "caption" : "OKAY :("
    },
    "imgComplete" : {
      "type" : "image",
      "file" : "/interface/quests/questfailed/questfailed.png",
      "position" : [30, 148]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "",
      "subtitle" : "",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/quests/quest.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "lblQuestTitle" : {
      "type" : "label",
      "position" : [140, 134],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "wrapWidth" : 230,
      "lineSpacing" : 1.0,
      "value" : "Secret of the Avian Troll Master",
      "color" : "orange"
    },
    "lblQuestBody" : {
      "type" : "label",
      "position" : [65, 118],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 190,
      "lineSpacing" : 1.0,
      "value" : "quest body of the Secret of the Avian Troll Master quest bla",
      "color" : "white"
    }
  }
}
