{
  "noCategoryFilters" : false,
  "filter" : [ "radiencrafting" ],
  "titleFromEntity" : true,
  "requiresBlueprint" : true,
  "craftingSound" : "/sfx/interface/crafting_tech1.ogg",
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/windowconfig/newuiheader_dark_upgraded.png",
      "fileBody" : "/interface/crafting/newbody_dark.png",
      "fileFooter" : "/interface/windowconfig/newuifooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      "position" : [390, 360]
    },

    //blank out original label (hardcode) but leave so window border still exists
    "windowtitle" : {
      "type" : "title",
      "title" : "",
      "subtitle" : "",
      "position" : [0, 152],
      "icon" : { "type" : "image","file" : "","position" : [10, -20], "zlevel" : -1}
    },

// -- BEGIN new label
    "imgTopLeft" : {
      "type" : "image",
      "file" : "/interface/crafting/fuStationIcon.png",
      "position" : [11, 356],
      "zlevel" : 5
    },
    "lblTitle" : {
      "type" : "label",
      "position" : [40, 367],
      "value" : " Replace Me",
      "fontSize" : 9
    },
    "lblSubTitle" : {
      "type" : "label",
      "position" : [40, 357],
      "value" : " Replace Me",
      "fontSize" : 7
    },
// -- END new label


    "btnUpgrade" : {
      "type" : "button",
      "disabledImage" : "/interface/crafting/upgradeUnready.png",
      "base" : "/interface/crafting/upgradeReady.png",
      "position" : [268, 357],
      "zlevel" : 5
    },

    "spinCount" : {
      "type" : "spinner",
      "position" : [234, 53],
      "upOffset" : 36
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [247, 53],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/icons/amount.png",
      "position" : [240, 52],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/crafting/icons/craftbutton.png",
      "hover" : "/interface/crafting/icons/craftbuttonhover.png",
      "fontSize"  :10,
      "position" : [294, 52],
      "caption" : "Craft"
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/interface/crafting/icons/craftbuttonactive.png",
      "hover" : "/interface/crafting/icons/craftbuttonactivehover.png",
      "fontSize"  :10,
      "position" : [294, 52],
      "caption" : "Stop"
    },

    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [247, 66]
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      //position: horizontal, vertical
      "position" : [37, 59.8]
    },
    "lblProduct" : {
      "type" : "label",
      //position: horizontal, vertical
      "position" : [48, 58.8],
      "hAnchor" : "left",
      //Label: hex-color, text-shown
      "value" : "HAVE MATERIAL"
    },

    "description" : {
      "type" : "widget",
      //position: horizontal, vertical
      "position" : [223, 154],
      //Size: width, height
      "size" : [188, 250]
    },
    "filter" : {
      "type" : "textbox",
      //position: horizontal, vertical
      "position" : [140, 58],
      //Label: text displayed
      "hint" : "Search",
      "maxWidth" : 62,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },

    "scrollArea" : {
      "type" : "scrollArea",
      //Item List Postion: horizontal, length, width, height
      "rect" : [39, 74, 215, 346],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/icons/craftableselected2.png",
            "unselectedBG" : "/interface/crafting/icons/craftablebackground.png",
            "spacing" : [0, 1],
            //NoClue, display-size
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/icons/craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [119, 5],
                "file" : "/interface/crafting/new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [134, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          //Chemical Tab Position: horizontal, vertical
          "position" : [11, 325],
          "baseImage" : "/interface/crafting/radienoff.png",
          "baseImageChecked" : "/interface/crafting/radienon.png",
          "data" : {
            "filter" : [ "all" ]
          }
        },
        {
          //Chemical Tab Position: horizontal, vertical
          "position" : [11, 302],
          "baseImage" : "/interface/crafting/axetab.png",
          "baseImageChecked" : "/interface/crafting/axetabon.png",
          "data" : {
            "filter" : [ "weapon" ]
          }
        },
        {
          //Chemical Tab Position: horizontal, vertical
          "position" : [11, 279],
          "baseImage" : "/interface/crafting/fuarmor.png",
          "baseImageChecked" : "/interface/crafting/fuarmoron.png",
          "data" : {
            "filter" : [ "armor" ]
          }
        },
        {
          //Chemical Tab Position: horizontal, vertical
          "position" : [11, 256],
          "baseImage" : "/interface/crafting/radienoff.png",
          "baseImageChecked" : "/interface/crafting/radienon.png",
          "data" : {
            "filter" : [ "object" ]
          }
        },
        {
          //Chemical Tab Position: horizontal, vertical
          "position" : [11, 233],
          "baseImage" : "/interface/crafting/fuaugment.png",
          "baseImageChecked" : "/interface/crafting/fuaugmenton.png",
          "data" : {
            "filter" : [ "augment" ]
          }
        },
        {
          //Chemical Tab Position: horizontal, vertical
          "position" : [11, 210],
          "baseImage" : "/interface/crafting/fubeaker.png",
          "baseImageChecked" : "/interface/crafting/fubeakeron.png",
          "data" : {
            "filter" : [ "consumables" ]
          }
        },
        {
          //Chemical Tab Position: horizontal, vertical
          "position" : [11, 187],
          "baseImage" : "/interface/crafting/fufruit.png",
          "baseImageChecked" : "/interface/crafting/fufruiton.png",
          "data" : {
            "filter" : [ "resources" ]
          }
        }

      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    }
  }
}