{
  "energyBarColor" : "#48ee3c",
  "energyBarUnusableColor" : "gray",
  "energyBarRegenMixColor" : "#0265c1",

  "foodBarFlashTime" : 0.2,
  "foodBarFlashOverlay" : "/interface/foodbarflashoverlay.png",

  "memberPortraitScale" : 1.5,
  "memberSize" : 38,
  "memberSpacing" : 1,

  "memberMenuOffset" : [29, -15],
  "selfMenuOffset" : [31, -78],

  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
      "anchor" : "TopLeft"
    },
    "backing" : {
      "zlevel" : 1,
      "type" : "image",
      "file" : "/interface/party/playerbar.png",
      "position" : [0, -35]
    },
    "portrait" : {
      "zlevel" : 2,
      "type" : "portrait",
      "portraitMode" : "bust",
      "position" : [15, -27],
      "scale" : 1.5
    },
    "overlay" : {
      "zlevel" : 3,
      "type" : "image",
      "file" : "/interface/party/playerbar_overportrait.png",
      "position" : [0, -35]
    },
    "showSelfMenu" : {
      "zlevel" : 10,
      "type" : "button",
      "position" : [0, -35],
      "size" : [30, 30],
      "invisible" : true,
      "pressedOffset" : [0, 0]
    },
    "leader" : {
      "zlevel" : 4,
      "type" : "image",
      "file" : "/interface/party/partylead.png",
      "position" : [4, -34]
    },
    "name" : {
      "zlevel" : 4,
      "type" : "label",
      "fontSize" : 8,
      "value" : "Beefjeff",
      "vAnchor" : "mid",
      "position" : [33, -7]
    },
    "inviteButton" : {
      "type" : "button",
      "base" : "/interface/party/invite.png",
      "pressed" : "/interface/party/invite_pressed.png",
      "pressedOffset" : [0, 0]
    },
    "noInviteImage" : {
      "type" : "image",
      "file" : "/interface/party/noinvite.png"
    },
    "healthBar" : {
      "zlevel" : 7,
      "type" : "progress",
      "position" : [30, -22],
      "background" : "/interface/emptybar.png",
      "size" : [60, 8],
      "progressSet" : {
        "inner" : "/interface/healthbar.png",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "energyBar" : {
      "zlevel" : 8,
      "type" : "progress",
      "position" : [30, -30],
      "background" : "/interface/emptybar.png",
      "size" : [60, 8],
      "progressSet" : {
        "inner" : "/interface/energybar.png",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "foodBar" : {
      "zlevel" : 8,
      "type" : "progress",
      "position" : [30, -35],
      "background" : "/interface/emptybarfood.png",
      "size" : [60, 5],
      "progressSet" : {
        "inner" : "/interface/foodbar.png",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "list" : {
      "type" : "container",
      "position" : [2, -36]
    }
  },

  "entry" : {
    "backing" : {
      "zlevel" : 1,
      "type" : "image",
      "file" : "/interface/party/portraitparty.png",
      "position" : [0, 0]
    },
    "portrait" : {
      "zlevel" : 2,
      "type" : "image",
      "file" : "",
      "position" : [14, 18],
      "scissoring" : false
    },
    "overlay" : {
      "zlevel" : 3,
      "type" : "image",
      "file" : "/interface/party/portraitparty_overportrait.png",
      "position" : [0, 0]
    },
    "leader" : {
      "zlevel" : 4,
      "type" : "image",
      "file" : "/interface/party/partylead.png",
      "position" : [2, 11]
    },
    "compass" : {
      "zlevel" : 5,
      "type" : "image",
      "file" : "/interface/party/compass.png",
      "centered" : true,
      "trim" : false,
      "position" : [23, 15],
      "scissoring" : false
    },
    "compassoffworld" : {
      "zlevel" : 6,
      "type" : "image",
      "file" : "/interface/party/compassoffworld.png",
      "position" : [17, 10]
    },
    "healthBar" : {
      "zlevel" : 7,
      "type" : "progress",
      "position" : [1, 6],
      "background" : "/interface/party/emptybar.png",
      "progressSet" : {
        "inner" : "/interface/party/healthbar.png",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "energyBar" : {
      "zlevel" : 8,
      "type" : "progress",
      "position" : [1, 1],
      "background" : "/interface/party/emptybar.png",
      "progressSet" : {
        "inner" : "/interface/party/energybar.png",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "showMemberMenu" : {
      "zlevel" : 9,
      "type" : "button",
      "position" : [0, 0],
      "size" : [30, 38],
      "invisible" : true,
      "pressedOffset" : [0, 0]
    }
  }
}
