{
//Want to add a new quest line?
//- Add a new table into lines
//- do "id" : ... and replace ... with an ID you want the line to have.
//- do "sublines" : ... and replace the ... with an array of subline names (sublines covered later).
//- do "requirements" : ... and replace the ... with an array of quests the player must complete before they can access this quest line.
//- do "secret" : ... and replace the ... with either true or false. If set to true, the quest line will not be visible to the player until its unlocked.
//- do "moneyRange" : ... and replace the ... with either a money range [10, 30] or a single value to reward the player with pixels upon completing the questline
//- do "rewards" : ... and replace the ... with an array holding arrays of rewarded items upon completing the questline
//-		"rewards" : [ [itemname, amount], [itemname, amount, {parameter : value}] ]

//Images for quest lines and sublines?
//- For quest lines, add a two frame image to the "banners" folder with the quest lines name, where one frame shows the unlocked image, and the other 
//shows when the line is unavailable. Follow the example there.
//- For sublines, just add an image into the "givers" folder with the sublines name. This image also serves as a separator between sublines inside the 
//questline.
	
	
	"questlineFiles" : [],

	"lines" : [
		//{ 
		//	"id" : "fu_guide",	
		//	"sublines" : [ "fu_vinj", "fu_extractor" ],
		//	"requirements" : [],
		//	"moneyRange" : [0,0],
		//	"rewards" : [],
		//	"secret" : false
		//},
		{ 
			"id" : "fu_tutorial",
			"sublines" : [ "fu_vinj", "fu_extractor" ],
			"requirements" : [ ],//"create_matterassembler" ],
			"moneyRange" : [100, 150],
			"rewards" : [ [ "fu_pickuprangeaugment1", 1 ], ["salvagebody", 5],["salvagetier4", 5], ["fu_lootbox", 3, {"level" : 3}]],
			"secret" : false
		},
		{ 
			"id" : "fu_byos",
			"sublines" : [ "fu_byosbasics" ],	
			"requirements" : [ "fu_byos" ],
			"moneyRange" : [0, 0],
			"rewards" : [ ["salvagebody", 5],["salvagebooster", 5],["salvagetier4", 5], ["fu_lootbox", 3, {"level" : 2}] ],
			"secret" : true	
		},
		{ 
			"id" : "fu_sciences",
			"sublines" : [ "fu_physics", "fu_chemistry", "fu_electronics", "fu_genetics", "fu_mechanical" ],	
			"requirements" : [ "create_tinkertable"  ],
			"moneyRange" : [400, 600],
			"rewards" : [ [ "cuddlehorse", 1 ], [ "mecharmsentrygun-recipe", 1 ], ["fu_lootbox", 2, {"level" : 4}] ],
			"secret" : false
		},
		{ 
			"id" : "fu_outpost_tasks",	
			"sublines" : [ "fu_kevin", "fu_bees", "fu_booze" ],	
			"requirements" : [ "create_clothingfabricator"  ],
			"moneyRange" : [200, 300],
			"rewards" : [ [ "cuddlehorse", 1 ],[ "8bitpowerup", 1 ], ["fu_lootbox", 2, {"level" : 3}] ],
			"secret" : false
		},
		{ 
			"id" : "fu_battle",	
			"sublines" : [ "fu_gear", "fu_monsters" ],	
			"requirements" : [ "create_matterassembler" ],
			"moneyRange" : [0, 0],
			"rewards" : [ [ "cuddlehorse", 1 ],[ "cuddlehorse", 1 ], ["fu_lootbox", 2, {"level" : 6}] ],
			"secret" : false
		}
	],
	
	"sublines" : {
		"fu_vinj" : [ 
			"create_alchemy", 
			"fuquest_biochem",
			"create_armory",
			"create_electronics",
			"create_rockbreaker",
			"create_greenhouse",
			"create_growingtray",
			"fuquest_extractor",
			"fuquest_xeno",
			"create_tinkertable",
			"create_woodencentrifuge",
			"fuquest_powergeneration1",
			"fuquest_powergeneration2",
			"fuquest_farming1",
			"fuquest_farming2",
			"fuquest_farming3",
			"fuquest_farming4",
			"fuquest_bonespear",
			"fuquest_mechparts"
		],
		
		"fu_extractor" : [ 
			"create_silicon",
			"extractor1",
			"extractor6"
		],
		
		"fu_physics" : [ 
			"create_fission", 
			"create_protocite", 
			"create_teleportercore",
			"create_tritium"
		],
		"fu_chemistry" : [ 
			"create_fertilizer",
			"create_icecrystal",
			"create_iodine",
			"create_methanol",
			"create_methyliodide",
			"create_plastic",
			"create_wastewater"
		],
		"fu_electronics" : [ 
			"create_aichip",
			"create_centrifuge", 
			"create_circuitboard",
			"create_powdersifter",
			"create_solarpanel", 
			"fuquest_powerstation",
			"create_watcher",
			"fuquest_battery"
		],
		"fu_genetics" : [ 
			"create_miraclegrass",
			"fuquest_bracken",
			"fuquest_mutavisk",
			"fuquest_oonforta",
		    "fuquest_cloning",
			"create_ignuschili",
			"create_mutavisk",
			"create_radleaf",
			"create_regengene"
		],		
		"fu_mechanical" : [ 
			"create_advxeno",
			"create_arcsmelter",
			"create_atmosregulator",
			"create_augment",
			"create_blastfurnace",
			"create_extractor",
			"fuquest_prototyper"
		],
		
		//battle
		"fu_monsters" : [
		  "fuquest_mamapoptop",
		  "fuquest_warbot",
		  "fuquest_megarachnid",
		  "fuquest_ancientsentry"
		],
		
		"fu_npcs" : [],
		"fu_gear" : [
		  "fuquest_armory",
		  "create_armcannon",
		  "create_energyassault",
		  "create_laspistol",
		  "create_steelwarblade",
		  "create_warcleaver"
		],

		//Outpost
		"fu_general" : [],
		
		"fu_kevin" : [ 
			"create_clothingfabricator2",
			"create_clothingfabricator3" 
		],

		"fu_booze" : [ 
			"2brew_a",
			"2brew_b",
			"2brew_c",
			"2brew_d",
			"3hops",
			"4malt", 
			"5wort",
			"6beer",
			"7distill",
			"8spirits",
			"9merrymead"
		],
		"fu_bees" : [ 
			"2apiary",
			"3basicframe",
			"4bees",
			"5plantflowers",
			"6centrifuge",
			"7combs",
			"8extractcombs",
			"9alveary",
			"10industrialcentrifuge",
			"11honeyjarrer",
			"12breeding",
			"13mites"
		],
		
		//BYOS
		"fu_byosbasics" : [
			"fu_byoscrew",
			"fu_byoscrewdeed"
		]
		
	},
	
	"strings" : {
		"instructions" : {
			"title" : "Corvex Research Task Terminal",
			"description" : "To select a task, click on its name on the left window, and relevant information will be displayed here.\n\nTasks also come with a color to represent your progress with them: \n^red;red^reset; : unavailable\n^yellow;yellow^reset; : available\n^cyan;cyan^reset; : in progress\n^green;green^reset; : complete.\n\nThere may be different task branches, which you can access by pressing the big image at the top of the window on the left. More become available as you unlock them."
		},
		
		"questlines" : {
			"fu_tutorial" :	
			{
				"title" : "Tutorials",						
				"description" : "Learn the basics of Frackin Universe through this series of quests. You'll be guided through each of the initial stations and inform you of basic resource acquisition and mechanics.\n\n The focus is on getting you to use the ^orange;Research System^reset; first and foremost, so be sure to keep your Tricorder handy."		
			},
			"fu_general" :		
			{
				"title" : "General Tasks",							
				"description" : "A wide variety of quests fill this group, from basic survival to more complex things such as teaching poodles to fly, or the French Revolution."	
			},			
			"fu_sciences" :		
			{
				"title" : "Scientific Study",							
				"description" : "To build a lab, you have a great number of things to do. This set of quests will serve to aid you in doing exactly that. Learn the function of each station, how it is used in conjunction with other stations in your arsenal and more!"	
			},
			"fu_outpost_tasks" :		
			{
				"title" : "Miscellaneous Tasks",							
				"description" : "Here you can track miscellaneous tasks which may not fit into other quest groupings."	
			},			
			"fu_kevin_tasks" :		
			{
				"title" : "Kevin's Amazing Tasks",							
				"description" : "These tasks are of the utmost importance. Without completing them nobody will think you are as awesome as I am. That is clearly not something you would desire. I guarantee it is worth your while."	
			},
			"fu_battle" :		
			{
				"title" : "Battle",							
				"description" : "Quests in this grouping tend to be related to battle, be it killing monsters or creating new sorts of weaponry."	
			},
			"fu_exploration" :		
			{
				"title" : "Exploration",							
				"description" : "Going places will lead to the completion of tasks in this grouping. If travel is your aim, you'll have no problems here."	
			},
			"fu_byos" :
			{
				"title" : "Build Your Own Ship",
				"description" : "The basics of manual ship building."
			}
		},
		"sublines" : {
			"fu_kevin" : "Kevin",
			"fu_vinj" : "Vinalisj",
			"fu_extractor" : "Extraction",
			
			"fu_guy" : "Miscellaneous",
			
			//sciences
			"fu_physics" : "Physics",
			"fu_chemistry" : "Chemistry",
			"fu_electronics" : "Electronics",
			"fu_genetics" : "Genetics",
			"fu_mechanical" : "Mechanical",

			//oustpost
			"fu_bees" : "Bees",
			"fu_general" : "General Tasks",
			"fu_booze" : "Starbooze",
			
			//battle
			"fu_monsters" : "Monsters and Villains",
			"fu_npcs" : "People",
			"fu_gear" : "Gear",
			
			//exploration
			"fu_planets" : "Biomes",
			"fu_places" : "Locations",
			"fu_things" : "Other",
			
			"sumothafehg" : "Sum'otha-Fehg",
			
			//BYOS
			"fu_byosbasics" : "Basics"
		}
	}
}
