{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1.0,
      "type" : "icedragon3"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/npc/monsters/dino1.ogg","/sfx/npc/monsters/dino2.ogg","/sfx/npc/monsters/dino3.ogg","/sfx/npc/monsters/dino4.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 2,
      "delaySteps" : 2
    }
  ]
}