{

  "action" : "actions",

  "list" : [

    {

      "action" : "projectile",

      "inheritDamageFactor" : 1.0,

      "type" : "iceicedragon2"

    },

    {

      "action" : "sound",

      "options" : [ "/sfx/gun/shotgun4.wav" ]

    },

    {

      "action" : "explosion",

      "foregroundRadius" : 4,

      "backgroundRadius" : 0,

      "explosiveDamageAmount" : 2,

      "delaySteps" : 2

    }


  ]

}
