{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.5,
      "type" : "spatialcollapse"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/weapons/spatialcollapse.ogg" ]
    },
    {
      "action" : "light",
      "color" : "blue"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 3,
      "explosiveDamageAmount" : 50,
      "delaySteps" : 2,
      "harvestLevel" : 99
    }

  ]
}
