{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "spatialcollapse"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/goo_spit2.ogg" ]
    },
    {
      "action" : "light",
      "color" : "blue"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 3,
      "backgroundRadius" : 3,
      "explosiveDamageAmount" : 10,
      "delaySteps" : 2,
      "harvestLevel" : 99
    }

  ]
}
