{
	"gui" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/kheAA/kheAA_pump/header.png",
			"fileBody" : "/interface/kheAA/kheAA_pump/body.png"
		},
		"itemGrid" : {
			"type" : "itemgrid",
			"position" : [8, 35],
			"dimensions" : [4, 4],
			"spacing" : [22, 22],
			"backingImage" : "/interface/inventory/empty.png"
		},
		//"itemGrid2" : {
		//	"type" : "itemgrid",
		//	"position" : [8, 11],
		//	"dimensions" : [1, 1],
		//	"spacing" : [22, 20],
		//	"slotOffset" : 16,
		//	"backingImage" : "/interface/inventory/empty.png"
		//},
		//"fuelLabel" : {
		//	"type" : "label",
		//	"value" : "Fuel:",
		//	"hAnchor" : "left",
		//	"position" : [9, 27]
		//},
		"close" : {
			"type" : "button",
			"zlevel" : 2,
			"base" : "/interface/kheAA/kheAA_pump/buttonClose.png",
			"hover" : "/interface/kheAA/kheAA_pump/buttonCloseH.png",
			"press" : "/interface/kheAA/kheAA_pump/buttonCloseH.png",
			"caption" : "Close",
			"position" : [36, 11]
		}
	}
}
