{
	"gui" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/kheAA/kheAA_pump/header.png",
			"fileBody" : "/interface/kheAA/kheAA_pump/body.png"
		},
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      //position: horizontal, vertical
      "position" : [80, 132]
    },					
		"itemGrid" : {
			"type" : "itemgrid",
			"position" : [8, 35],
			"dimensions" : [4, 4],
			"spacing" : [22, 22],
			"backingImage" : "/interface/inventory/empty.png"
		}
	}
}
