{
	// Data that must be stored within the object
	// If using the station object for the first time, this table will be saved into it
	"objectData" : {
		"stationName"		: "",
		"stationRace"		: "",
		"stationType"		: "",
		"mercHired"			: false,
		"specialsTable"		: [],
		"shopItems"			: [],
		"lastVisit"			: 0,
		
		"goodsStock" : {
			"fufoodgoods"		: 0,
			"fumineralgoods"	: 0,
			"fumedicalgoods"	: 0,
			"fuelectronicgoods"	: 0,
			"fuchemicalgoods"	: 0,
			"fuluxurygoods"		: 0,
			"fumilitarygoods"	: 0,
			"fucontrabandgoods"	: 0
		},
		
		"currentQuest" : {
			"location"		: "",
			"objective"		: "",
			"time"			: "",
			"reward"		: "",
			"difficulty"	: 1,
			"stage"			: 0		//	stages... 0 : not started | 1 : in progress | 2 : failed | 3 : complete (reward ready to be claimed)
		}
	},
	
	"stationTypes"	: ["medical", "military", "scientific", "trading"],
	"stationRaces"	: ["generic"],
	
	"specialsAmountRanges": {
		"medical"		: {	"min" : 4,	"max" : 6	},
		"military"		: {	"min" : 3,	"max" : 5	},
		"scientific"	: { "min" : 5,	"max" : 10	}
	},
	
	// Passive trades are simulate trades that don't happen with the player, but to simulate the station trading with other sources
	// So revisiting them for trading is viable
	// Each passive trade modifies all the goods in favor of their base amount (+ lack/abundance modifier)
	"passiveTradeInterval" : 180,
	"passiveTradePcntOfBaseAmount" : [0.03, 0.08],	// % of "baseAmount" added/substracted each passive (simulated, non-player) trade
	
	"goodsAbundanceRange" : [1.35, 1.55],
	"goodsNormalRange" : [0.85, 1.1],
	"goodsLackRange" : [0.45, 0.6],
	"goods" : [
			// "abundance" means which stations have a lot of it, and "lack" means which stations get less of it
			// They can both be either a table of string, or a single string
		{"name" : "fufoodgoods",			"basePrice" : 100,		"baseAmount" : 100,		"abundance" : "trading",					"lack" : ["military", "medical"]				},
		{"name" : "fumineralgoods",			"basePrice" : 150,		"baseAmount" : 150,		"abundance" : "trading",					"lack" : "military"								},
		{"name" : "fumedicalgoods",			"basePrice" : 250,		"baseAmount" : 130,		"abundance" : "medical",					"lack" : "military"								},
		{"name" : "fuelectronicgoods",		"basePrice" : 350,		"baseAmount" : 180,		"abundance" : "scientific",					"lack" : "trading"								},
		{"name" : "fuchemicalgoods",		"basePrice" : 500,		"baseAmount" : 100,		"abundance" : ["scientific", "medical"],	"lack" : "trading"								},
		{"name" : "fuluxurygoods",			"basePrice" : 650,		"baseAmount" : 100,		"abundance" : "trading",					"lack" : ["military", "medical", "scientific"]	},
		{"name" : "fumilitarygoods",		"basePrice" : 800,		"baseAmount" : 50,		"abundance" : "military",					"lack" : "trading"								},
		{"name" : "fucontrabandgoods",		"basePrice" : 1000,		"baseAmount" : 5,		"abundance" : null,							"lack" : null									}
	],
	
	"medicalSpecialCooldown"	: 600,	// # of seconds that have to pass before the player can buy a new enhancer
	"medicalEnhancerRemoveCost"	: 500,
	"medical" : [
	//		Enhancer name					Cost				Icon															  applied status				description
		[ "^red;Berserks Rage",				8000,		"/interface/statuses/medicalStationSpecials/berserk.png", 				"medicalberserk",			"Movement speed and power are multiplied by 1.25\nIn return, drastically reduces protection and knockback resistance."],
		[ "^gray;Glass Cannon",				8000,		"/interface/statuses/medicalStationSpecials/glasscannon.png", 			"medicalglasscannon",		"Doubles power multiplier, but reduces protection by 90%"],
		[ "^green;Immunization",			8000,		"/interface/statuses/medicalStationSpecials/immunization.png", 			"medicalimmunization",		"Provides immunity to most negative status effect, but halves all resistances."],
		[ "^white;Juggernaut",				8000,		"/interface/statuses/medicalStationSpecials/juggernaut.png", 			"medicaljuggernaut",		"You become immune to knockback and gain 50 protection, but your movement speed is reduced by 33%."],
		[ "^green;Toxic Cloud",				8000,		"/interface/statuses/medicalStationSpecials/toxiccloud.png", 			"medicaltoxiccloud",		"Every 3 seconds a toxic cloud that lasts 5 seconds and deals 30 piercing damage is released at your location. Every time this happens, you take 5 piercing damage, and you consume a bit of food."],
		[ "^#B200FF;Experiment #322",		8000,		"/interface/statuses/medicalStationSpecials/experimental.png", 			"medicalexperimental",		"Applies random positive and/or negative statuses every 10 seconds which last 15-25 seconds."],
		[ "^red;Trollblood",				8000,		"/interface/statuses/medicalStationSpecials/trollblood.png", 			"medicaltrollblood",		"Regenerate 40% of damage taken over 5 seconds, but suffer 20% reduction in max health, and +0.5 sec energy block time."],
		[ "^green;Renergizer",				8000,		"/interface/statuses/medicalStationSpecials/renergizer.png", 			"medicalrenergizer",		"Total energy regeneration is increased by 33%, and max energy is increased by 50. Total food consumption is increased by 25% and energy block time is increased by 0.75 seconds."],
		[ "^yellow;Hypopanic",				8000,		"/interface/statuses/medicalStationSpecials/hypopanic.png", 			"medicalhypopanicc",		"Energy regen is multiplied by 33%, but maximum is reduced by 50. In addition, you gain increased movement speed the less energy you have (up to +67% speed at 35% energy remaining). Taking damage briefly stop energy regen, and  consumes energy for 150% of damage."],
		[ "^green;Hivemind",				8000,		"/interface/statuses/medicalStationSpecials/hivemind.png", 				"medicalhivemind",			"Shoots a projectile at the closest enemy in a medium radius with a clear line of fire every second, dealing 10 base damage (^orange;affected by power multiplier^reset;) on impact. Drains 0.5% of your current health every 0.5 seconds as long as you have more than 10%."],
		[ "^cyan;Mitochondria",				8000,		"/interface/statuses/medicalStationSpecials/mitochondria.png", 			"medicalmitochondria",		"Consumes 2 energy to regenerate 1 health every 0.15 seconds. Energy will regenerate only at full health."],
		[ "^#7A7D81;Shadow Repel",			8000,		"/interface/statuses/medicalStationSpecials/shadowrepel.png", 			"medicalshadowrepel",		"Increases shadow resistance by 50% and grants immunity to shadow status effects, but reduces the overall effectiveness of other ressistances (except physical) by 33%."],
		[ "^#C5B00A;Radiation Repel",		8000,		"/interface/statuses/medicalStationSpecials/radiationrepel.png", 		"medicalradrepel",			"Increases radiation resistance by 50% and grants immunity to radiation status effects, but reduces the overall effectiveness of other ressistances (except physical) by 33%."],
		[ "^#69B115;Poison Repel",			8000,		"/interface/statuses/medicalStationSpecials/poisonrepel.png", 			"medicalpoisonrepel",		"Increases poison resistance by 50% and grants immunity to poison status effects, but reduces the overall effectiveness of other ressistances (except physical) by 33%."],
		[ "^#A1F1FE;Ice Repel",				8000,		"/interface/statuses/medicalStationSpecials/icerepel.png", 				"medicalicerepel",			"Increases ice resistance by 50% and grants immunity to ice status effects, but reduces the overall effectiveness of other ressistances (except physical) by 33%."],
		[ "^#E99400;Fire Repel",			8000,		"/interface/statuses/medicalStationSpecials/firerepel.png", 			"medicalfirerepel",			"Increases fire resistance by 50% and grants immunity to fire status effects, but reduces the overall effectiveness of other ressistances (except physical) by 33%."],
		[ "^#9711E4;Electrical Repel",		8000,		"/interface/statuses/medicalStationSpecials/electricrepel.png", 		"medicalelectricrepel",		"Increases electric resistance by 50% and grants immunity to electric status effects, but reduces the overall effectiveness of other ressistances (except physical) by 33%."],
		[ "^#6062EB;Cosmic Repel",			8000,		"/interface/statuses/medicalStationSpecials/cosmicrepel.png", 			"medicalcosmicrepel",		"Increases cosmic resistance by 50% and grants immunity to cosmic status effects, but reduces the overall effectiveness of other ressistances (except physical) by 33%."]
	],
	
	"crewRaces" : [ "apex", "avian", "floran", "glitch", "human", "hylotl", "novakid" ],
	"military" : [
	//	[  Name,  Cost,  Icon,  spanwed NPC,  Description],
		[ "^gray;Assassin",			5000,	"/items/armors/tier2/furecon/icons.png:head",			"crewmember_spacestationassassin",		"An assassin specialized in shooting stuff from afar."],
		[ "Captain",				5000,	"/items/armors/tier4/fuprotector/icons.png:head",		"crewmember_spacestationcaptain",		"Attacks and defends with a sword and a shield."],
		[ "^#2222FF;Commander",		5000,	"/items/armors/tier3/mutaviskarmor/icons.png:head",		"crewmember_spacestationcommander",		"A commander who'll fight for you with a badass shotgun, and a nitrogen gun."],
		[ "^orange;Mercenary",		5000,	"/items/armors/tier4/fubountyhunter/icons.png:head",	"crewmember_spacestationmercenary",		"They fight for coin with a wide variety of ranged weapons. Yours, if you can afford their efforts.."],
		[ "^red;Devastator",		5000,	"/items/armors/tier3/gendarme/icons.png:head",			"crewmember_spacestationdevastator",	"They have a thing for explosions."],
		[ "^#FF2222;Warmonger",		5000,	"/items/armors/tier5/warframe/icons.png:head",			"crewmember_spacestationwarmonger",		"There are people in this universe you want on your side. This person, is one of them."]
	],
	
	"scientific" : {
		// Nothing yet
	},
	
	"trading" : {
		"sellPriceIncreasePerLevel"	: 0.02,
		"charismaSellPriceIncrease"	: 0.02,
		"buyPriceReductionPerLevel"	: 0.05,
		"charismaBuyPriceReduction"	: 0.05,
		"initialInvestRequired"		: 500,
		"investRequirementMult"		: 1.35,	// invest requirement = initial * (mult ^ level)
		"investMaxLevel"			: 20
	},
	
	"quests" : {
		"dif0" : [	// easy
			{ "location" : "Sol III",			"objective" : "kill a horde of Hippies",				"time" : "90 minutes",	"reward" : "300 pixels"	},
			{ "location" : "Sol IV",			"objective" : "eliminate several Martians",				"time" : "60 minutes",	"reward" : "450 pixels"	},
			{ "location" : "Sol IIIa",			"objective" : "defeat a few Moonmen",					"time" : "45 minutes",	"reward" : "600 pixels"	}
		],
		"dif1" : [	// normal
			{ "location" : "Altair II",			"objective" : "exterminate a pack of huge spiders",		"time" : "35 minutes",	"reward" : "1750 pixels"	},
			{ "location" : "Sol IX",			"objective" : "return a single cartoon dog",			"time" : "30 minutes",	"reward" : "1000 pixels"	},
			{ "location" : "Orion I",			"objective" : "destroy the Guardian",					"time" : "40 minutes",	"reward" : "2500 pixels"	}
		],
		"dif2" : [	// hard
			{ "location" : "Anteras III",		"objective" : "destroy the Harbinger",					"time" : "10 minutes",	"reward" : "5000 pixels & 200 ancient essence"	},
			{ "location" : "Grandma Armpit II",	"objective" : "defeat an elite squadron",				"time" : "30 minutes",	"reward" : "8000 pixels"	},
			{ "location" : "SpQ12-x34H4",		"objective" : "purify several corruptors",				"time" : "25 minutes",	"reward" : "2500 pixels"	}
		]
	},
	
	"naming" : [
		["Alpha", "Beta", "Gamma", "Delta", "Zeta", "Tera", "Leo", "Taur", "Scorpio", "Iszh", "Hermes", "Apollo", "Herrah", "San", "Synha", "Halo", "Doro", "Sauce", "Zote", "Bara", "Tor", "Magi", "Xol", "Jah", "Top", "Mid", "Bot", "Bite" ],
		["Ith", "Nebulus", "Oroth", "Theo", "Tarrasque", "And", "Topaz", "Ruby", "Thoth", "Nice", "Whoosh", "Git", "Synth", "Nou", "Kek", "Huy", "Cyka", "Kira", "Za" ],
		["Ber", "Meme", "Gud", "Durha", "Emporium", "Blyat", "Kurwa", "Queen", "Dastu", "Wardo", "Ress"]
	],
	
	"shop" : {
		"minUniqueItems" : 4,
		"maxUniqueItems" : 7,
		"minGenericItems" : 8,
		"maxGenericItems" : 11,
		
		"initBuyMult" : 3,
		"initSellMult" : 0.3,
		"minBuyMult" : 1.2,
		"maxSellMult" : 0.9,
		
		// System rolls a number from 1 to 100. If its below the value on a certain level, that level is chosen
		// 1 = 101, 2 = 100, 3 = 90, 4 = 65, 5 = 45, 6 = 25, 7 = 10, 8 = 3
		// rolled 35 - 5 is chosen
		"weaponLevelRates" : [ 101, 100, 90, 65, 45, 25, 10, 3],
		
		"potentialStock" : {
			"generic"		: [ "coalore", "ironore", "tungstenore", "titaniumore", "copperore", "corefragmentore", "leather", "bottle", "battery", "cellmateria", "wildvines", "cattlefeed", "venomsample", "stickofram", "staticcell", "sharpenedclaw", "scorchedcore", "phasematter", "livingroot","hardenedcarapace","cryonicextract", "coffeebeans", "orange", "cannedfood", "cheese", "chocolate", "egg", "oculemonade", "reefcola", "soda" ],
			"medical"		: [ "antidote", "burnspray", "greenstim", "yellowstim", "bluestim", "redstim", "battery", "biosample", "bone", "bottle", "bugshell", "artificialbrain", "devilsbargain", "gravstim", "honeyboon", "portablelight", "portaljuice", "protostim","serumstim","shieldpatch", "waterstim", "bouncewrap", "corvexputty", "crunchychick", "shroomremedy" ],
			"scientific"	: [ "cellmateria", "cellmatter", "endomorphicjelly", "biosample", "greenslime", "robotchest", "robotarms", "robothead", "robotlegs", "calciumnitrate", "cinnabarore", "fu_hydrogen", "ff_silicon", "fu_carbon", "fu_nitrogen", "fu_nodule", "fu_salt", "geneticmaterial", "nutrientpaste", "rawminerals", "tissueculture", "iodine", "laboil", "magnesiumpowder", "raptoregg", "raptoregg2", "aliencompound", "mutagene1", "mutagene2", "mutagene3","mutagene4" ],
			"military"		: [ "uncommonsniperrifle", "commonsniperrifle", "uncommonshotgun", "commonshotgun", "commonpistol", "uncommonpistol", "uncommonrocketlauncher", "commonrocketlauncher", "commonmachinepistol", "uncommonmachinepistol","uncommongrenadelauncher", "commongrenadelauncher","flamethrower", "uncommonassaultrifle", "commonassaultrifle" ],
			"trading"		: [ "fabric", "cotton", "canvas", "silk", "wire", "giantflowerpetal",  "lead", "rainbowwood", "sulphur", "salvagearm", "salvagebody", "salvagebooster", "salvagelegs", "salvagetier4", "salvagetier5", "salvagetier6", "rottenfood", "techcard", "manipulatormodule" ]
		}
	}
}