{
	"gui" : {
		"panefeature" : { 
			"type" : "panefeature", 
			"keyDismissable" : false,	// Doesn't seem to work?
			"positionLocked" : false
		},
		
		"dialogueCanvas" : {
			"zlevel" : -1,
			"type" : "canvas",
			"rect" : [0, 0, 172, 209],
			"captureMouseEvents" : true,
			"captureKeyboardEvents" : false
		},
		
		"background" : {
			"zlevel" : -2,
			"type" : "background",
			"fileHeader" : "/interface/scripted/spaceStation/header.png",
			"fileBody" : "/interface/scripted/spaceStation/body.png"
		},
		
		"playerPixels" : {
			"type" : "label",
			"position" : [0, 0],
			"fontSize" : 6,
			"visible" : false,
			"value" : ""
		},
		
		"windowtitle" : {
			"type" : "title",
			"title" : " Space station front desk",
			"subtitle" : " Interact with the station",
			"offset" : [-20, 0],
			"icon" : {
				"type" : "image",
				"file" : "/interface/scripted/spaceStation/icon.png"
			}
		},
		
		"text" : {
			"type" : "label",
			"position" : [9, 206],
			"wrapWidth" : 159,
			"fontSize" : 6,
			"vAnchor" : "top",
			"value" : "I AM ERROR"
		},
		
		"talkerImage" : {
			"type" : "image",
			"position" : [192, 158],
			"file" : "",
			"centered" : false,
			"maxSize" : [40, 42],
			"minSize" : [40, 42]
		},
		
		"button1" : { //top most
			"type" : "button",
			"position" : [178, 116],
			"base" : "/interface/buttonBig.png:default",
			"hover" : "/interface/buttonBig.png:hover",
			"disabledImage" : "/interface/buttonBig.png:grayed",
			"visible" : false,
			"caption" : "",
			"data" : "",
			"callback" : "commandProcessor"
		},
		
		"button2" : {
			"type" : "button",
			"position" : [178, 94],
			"base" : "/interface/buttonBig.png:default",
			"hover" : "/interface/buttonBig.png:hover",
			"disabledImage" : "/interface/buttonBig.png:grayed",
			"visible" : false,
			"caption" : "",
			"data" : "",
			"callback" : "commandProcessor"
		},
		
		"button3" : {
			"type" : "button",
			"position" : [178, 72],
			"base" : "/interface/buttonBig.png:default",
			"hover" : "/interface/buttonBig.png:hover",
			"disabledImage" : "/interface/buttonBig.png:grayed",
			"visible" : false,
			"caption" : "",
			"data" : "",
			"callback" : "commandProcessor"
		},
		
		"button4" : {
			"type" : "button",
			"position" : [178, 50],
			"base" : "/interface/buttonBig.png:default",
			"hover" : "/interface/buttonBig.png:hover",
			"disabledImage" : "/interface/buttonBig.png:grayed",
			"visible" : false,
			"caption" : "",
			"data" : "",
			"callback" : "commandProcessor"
		},
		
		"button5" : {
			"type" : "button",
			"position" : [178, 28],
			"base" : "/interface/buttonBig.png:default",
			"hover" : "/interface/buttonBig.png:hover",
			"disabledImage" : "/interface/buttonBig.png:grayed",
			"visible" : false,
			"caption" : "",
			"data" : "",
			"callback" : "commandProcessor"
		},
		
		"button6" : {
			"type" : "button",
			"position" : [178, 6],
			"base" : "/interface/buttonBig.png:default",
			"hover" : "/interface/buttonBig.png:hover",
			"disabledImage" : "/interface/buttonBig.png:grayed",
			"visible" : false,
			"caption" : "",
			"data" : "",
			"callback" : "commandProcessor"
		},
		
		"goodsTradeList" : {
			"zlevel" : 10,
			"type" : "scrollArea",
			"rect" : [4, 6, 172, 209],
			"visible" : false,
			"children" : {
				"itemList" : {
					"type" : "list",
					"callback" : "goodsSelected",
					"schema" : {
						"selectedBG" : "/interface/scripted/spaceStation/listTrade.png",
						"unselectedBG" : "/interface/scripted/spaceStation/listTrade.png",
						"spacing" : [0, 2],
						"memberSize" : [159, 20],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/interface/scripted/spaceStation/listTrade.png",
								"position" : [2, 0],
								"zlevel" : -1
							},
							
							"itemIcon" : {
								"type" : "itemslot",
								"position" : [3, 1],
								"callback" : "null"
							},
							
							"buyButton" : {
								"type" : "button",
								"position" : [22, 1],
								"pressedOffset" : [0, 0],
								"caption" : "Buy",
								"fontSize" : 7,
								"callback" : "buyGoods",
								"base" : "/interface/buttonSmall.png:default",
								"hover" : "/interface/buttonSmall.png:hover",
								"disabledImage" : "/interface/buttonSmall.png:grayed"
							},
							
							"sellButton" : {
								"type" : "button",
								"position" : [22, 11],
								"pressedOffset" : [0, 0],
								"caption" : "Sell",
								"fontSize" : 7,
								"callback" : "sellGoods",
								"base" : "/interface/buttonSmall.png:default",
								"hover" : "/interface/buttonSmall.png:hover",
								"disabledImage" : "/interface/buttonSmall.png:grayed"
							},
							
							"buyRate" : {
								"type" : "image",
								"position" : [54, 1],
								"file" : "/interface/scripted/spaceStation/tradeRate.png:0"
							},
							
							"sellRate" : {
								"type" : "image",
								"position" : [54, 11],
								"file" : "/interface/scripted/spaceStation/tradeRate.png:2"
							},
							
							"buyPixelIcon" : {
								"type" : "image",
								"file" : "/items/currency/money.png",
								"position" : [64, 1]
							},
							
							"sellPixelIcon" : {
								"type" : "image",
								"file" : "/items/currency/money.png",
								"position" : [64, 11]
							},
							
							"buyPrice" : {
								"type" : "label",
								"position" : [71, 2],
								"callback" : "null",
								"fontSize" : 6,
								"value" : "x "
							},
							
							"sellPrice" : {
								"type" : "label",
								"position" : [71, 12],
								"callback" : "null",
								"fontSize" : 6,
								"value" : "x "
							},
							
							"stationStockLabel" : {
								"type" : "label",
								"fontSize" : 6,
								"position" : [91, 1],
								"value" : "Station stock: ",
								"callback" : "null"
							},
							
							"sellStockLabel" : {
								"type" : "label",
								"fontSize" : 6,
								"position" : [91, 11],
								"value" : "Your stock:     ",
								"callback" : "null"
							}
						}
					}
				}
			}
        },
		
		"specialsScrollList" : {
			"zlevel" : 10,
			"type" : "scrollArea",
			"rect" : [4, 6, 172, 133],
			"visible" : false,
			"children" : {
				"itemList" : {
					"type" : "list",
					"callback" : "specialSelected",
					"schema" : {
						"selectedBG" : "/interface/scripted/weaponupgrade/listitemselected.png",
						"unselectedBG" : "/interface/scripted/weaponupgrade/listitem.png",
						"spacing" : [0, 1],
						"memberSize" : [159, 20],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/interface/scripted/weaponupgrade/listitem.png",
								"position" : [2, 0],
								"zlevel" : -1
							},
							"icon" : {
								"type" : "image",
								"file" : "",
								"position" : [4, 2],
								"callback" : "null"
							},
							"name" : {
								"type" : "label",
								"position" : [25, 5],
								"hAnchor" : "left",
								"wrapWidth" : 116,
								"value" : ""
							},
							"pixelIcon" : {
								"type" : "image",
								"file" : "/items/currency/money.png",
								"position" : [125, 5]
							},
							"price" : {
								"type" : "label",
								"position" : [132, 6],
								"callback" : "null",
								"fontSize" : 6,
								"value" : "x "
							}
						}
					}
				}
			}
		},
		
		"scientificSpecialList" : {
			"zlevel" : 10,
			"type" : "scrollArea",
			"rect" : [4, 6, 172, 133],
			"visible" : false,
			"children" : {
				"itemList" : {
					"type" : "list",
					"callback" : "scientificSelected",
					"schema" : {
						"selectedBG" : "/interface/scripted/spaceStation/listSpecialScience.png",
						"unselectedBG" : "/interface/scripted/spaceStation/listSpecialScience.png",
						"spacing" : [0, 0],
						"memberSize" : [159, 20],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/interface/scripted/spaceStation/listSpecialScience.png",
								"position" : [2, 0],
								"zlevel" : -1
							},
							
							"itemIn1" : {
								"type" : "itemslot",
								"position" : [3, 1],
								"callback" : "null"
							},
							
							"amountInBG1" : {
								"type" : "image",
								"position" : [20, 5],
								"file" : "/interface/scripted/spaceStation/numberLabel.png"
							},
							
							"amountIn1" : {
								"type" : "label",
								"hAnchor" : "mid",
								"position" : [27, 6],
								"fontSize" : 6,
								"value" : "-"
							},
							
							"trade1" : {
								"type" : "button",
								"position" : [32, 1],
								"pressedOffset" : [0, -1],
								"callback" : "tradeA",
								"base" : "/interface/scripted/spaceStation/buttonTrade.png:default",
								"hover" : "/interface/scripted/spaceStation/buttonTrade.png:hover",
								"disabledImage" : "/interface/scripted/spaceStation/buttonTrade.png:grayed"
							},
							
							
							"amountOutBG1" : {
								"type" : "image",
								"position" : [49, 5],
								"file" : "/interface/scripted/spaceStation/numberLabel.png"
							},
							
							"amountOut1" : {
								"type" : "label",
								"hAnchor" : "mid",
								"position" : [56, 6],
								"fontSize" : 6,
								"value" : "-"
							},
							
							"itemOut1" : {
								"type" : "itemslot",
								"position" : [61, 1],
								"callback" : "null"
							},
							
						// --
						// 2nd side
						// --
							
							"itemIn2" : {
								"type" : "itemslot",
								"position" : [81, 1],
								"callback" : "null"
							},
							
							"amountInBG2" : {
								"type" : "image",
								"position" : [98, 5],
								"file" : "/interface/scripted/spaceStation/numberLabel.png"
							},
							
							"amountIn2" : {
								"type" : "label",
								"hAnchor" : "mid",
								"position" : [105, 6],
								"fontSize" : 6,
								"value" : "-"
							},
							
							"trade2" : {
								"type" : "button",
								"position" : [110, 1],
								"pressedOffset" : [0, -1],
								"callback" : "tradeB",
								"base" : "/interface/scripted/spaceStation/buttonTrade.png:default",
								"hover" : "/interface/scripted/spaceStation/buttonTrade.png:hover",
								"disabledImage" : "/interface/scripted/spaceStation/buttonTrade.png:grayed"
							},
							
							"amountOutBG2" : {
								"type" : "image",
								"position" : [127, 5],
								"file" : "/interface/scripted/spaceStation/numberLabel.png"
							},
							
							"amountOut2" : {
								"type" : "label",
								"hAnchor" : "mid",
								"position" : [134, 6],
								"fontSize" : 6,
								"value" : "-"
							},
							
							"itemOut2" : {
								"type" : "itemslot",
								"position" : [139, 1],
								"callback" : "null"
							}
						}
					}
				}
			}
        },
		
        "investEmptyBar" : {
			"type" : "image",
			"visible" : false,
			"position" : [7, 6],
			"file" : "/interface/scripted/spaceStation/investEmptyBar.png"
        },
		
        "investingFillBar" : {
			"type" : "imageStretch",
			"visible" : false,
			"position" : [10, 9],
			"size" : [6, 0], // Full size - 6x113
			"direction" : "horizontal",
			"stretchSet" : {
				"type" : "repeat",
				"inner" : "/interface/scripted/spaceStation/investFillingBar.png"
			}
        },
		
        "investFillBar" : {
			"type" : "imageStretch",
			"visible" : false,
			"position" : [10, 9],
			"size" : [6, 0], // Full size - 6x113
			"direction" : "horizontal",
			"stretchSet" : {
				"type" : "repeat",
				"inner" : "/interface/scripted/spaceStation/investFilledBar.png"
			}
        },
		
        "investLevel" : {
			"type" : "label",
			"visible" : false,
			"hAnchor" : "left",
			"textAlign" : "left",
			"position" : [11, 33],
			"fontSize" : 9,
			"value" : ""
        },
		
        "investRequired" : {
			"type" : "label",
			"visible" : false,
			"hAnchor" : "left",
			"textAlign" : "left",
			"position" : [11, 26],
			"fontSize" : 7,
			"value" : ""
        },
		
        "benefitsLabel" : {
			"type" : "label",
			"visible" : false,
			"hAnchor" : "left",
			"textAlign" : "left",
			"position" : [80, 32],
			"fontSize" : 9,
			"value" : "Benefits"
        },
		
		"benefitsBuyPriceLabel" : {
			"type" : "label",
			"position" : [80, 19],
			"visible" : false,
			"hAnchor" : "left",
			"textAlign" : "left",
			"fontSize" : 6,
			"value" : "Buy prices:"
		},
		
		"benefitsBuyPriceMult" : {
			"type" : "label",
			"position" : [118, 19],
			"visible" : false,
			"hAnchor" : "left",
			"textAlign" : "left",
			"fontSize" : 6,
			"value" : ""
		},
		
		"benefitsSellPriceLabel" : {
			"type" : "label",
			"position" : [80, 25],
			"visible" : false,
			"hAnchor" : "left",
			"textAlign" : "left",
			"fontSize" : 6,
			"value" : "Sell prices:"
		},
		
		"benefitsSellPriceMult" : {
			"type" : "label",
			"position" : [118, 25],
			"visible" : false,
			"hAnchor" : "left",
			"textAlign" : "left",
			"fontSize" : 6,
			"value" : ""
		},
		
		"investAmountBG" : {
			"type" : "image",
			"visible" : false,
			"file" : "/interface/scripted/spaceStation/slightlyLargerAmount.png",
			"position" : [137, 6]
		},
		
		"investAmount" : {
			"type" : "textbox",
			"visible" : false,
			"position" : [140, 8],
			"fontSize" : 7,
			"text" : "",
			"textAlign" : "center",
			"enterKey" : "invest",
			"maxWidth" : 20,
			"regex" : "\\d{0,5}",
			"hint" : "amount"
		},
		
		"investButton" : {
			"type" : "button",
			"visible" : false,
			"position" : [137, 17],
			"base" : "/interface/buttonSmall.png:default",
			"hover" : "/interface/buttonSmall.png:hover",
			"disabledImage" : "/interface/buttonSmall.png:grayed",
			"pressedOffset" : [0, -1],
			"caption" : "Invest",
			"fontSize" : 6,
			"callback" : "invest"
		},
		
		"investMax" : {
			"type" : "button",
			"visible" : false,
			"position" : [137, 25],
			"base" : "/interface/buttonSmall.png:default",
			"hover" : "/interface/buttonSmall.png:hover",
			"disabledImage" : "/interface/buttonSmall.png:grayed",
			"pressedOffset" : [0, -1],
			"caption" : "Max",
			"fontSize" : 6,
			"callback" : "investMax"
		},
			
		"shopScrollList" : {
			"zlevel" : 10,
			"type" : "scrollArea",
			"rect" : [4, 20, 172, 209],
			"visible" : false,
			"children" : {
				"itemList" : {
					"type" : "list",
					"callback" : "shopSelected",
					"schema" : {
						"selectedBG" : "/interface/merchant/itemselected.png",
						"unselectedBG" : "/interface/merchant/itembackground.png",
						"spacing" : [0, 1],
						"memberSize" : [159, 20],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/interface/merchant/itembackground.png",
								"position" : [2, 0],
								"zlevel" : -1
							},
							"item" : {
								"type" : "itemslot",
								"position" : [3, 1],
								"callback" : "null"
							},
							"name" : {
								"type" : "label",
								"position" : [24, 10],
								"hAnchor" : "left",
								"wrapWidth" : 116,
								"value" : ""
							},
							"pixelIcon" : {
								"type" : "image",
								"zlevel" : 2,
								"file" : "/interface/money.png",
								"position" : [110, 1]
							},
							"price" : {
								"type" : "label",
								"zlevel" : 2,
								"position" : [155, 0],
								"callback" : "null",
								"hAnchor" : "right",
								"value" : ""
							},
							"unavailableOverlay" : {
								"type" : "image",
								"visible" : false,
								"zlevel" : 1,
								"file" : "/interface/merchant/unavailableoverlay.png",
								"position" : [2, 0]
							}
						}
					}
				}
			}
		},
		
		"shopDecrement" : {
			"type" : "button",
			"visible" : false,
			"position" : [7, 7],
			"base" : "/interface/easel/shiftleftright.png:leftnormal",
			"hover" : "/interface/easel/shiftleftright.png:lefthighlight",
			"disabledImage" : "/interface/easel/shiftleftright.png:leftgrayed",
			"pressedOffset" : [0, 0],
			"callback" : "shopDecrement"
		},
		
		"shopBuyAmountBG" : {
			"type" : "image",
			"visible" : false,
			"zlevel" : -1,
			"file" : "/interface/merchant/amount.png",
			"position" : [17, 7]
		},
		
		"shopBuyAmount" : {
			"type" : "textbox",
			"visible" : false,
			"position" : [21, 8],
			"text" : "",
			"textAlign" : "center",
			"enterKey" : "invest",
			"maxWidth" : 20,
			"regex" : "x?\\d{0,5}",
			"hint" : "x0"
		},
		
		"shopIncrement" : {
			"type" : "button",
			"visible" : false,
			"position" : [49, 7],
			"base" : "/interface/easel/shiftleftright.png:rightnormal",
			"hover" : "/interface/easel/shiftleftright.png:righthighlight",
			"disabledImage" : "/interface/easel/shiftleftright.png:rightgrayed",
			"pressedOffset" : [0, 0],
			"callback" : "shopIncrement"
		},
		
		"shopBuyButton" : {
			"type" : "button",
			"visible" : false,
			"position" : [60, 7],
			"base" : "/interface/buttonShop.png:default",
			"hover" : "/interface/buttonShop.png:hover",
			"disabledImage" : "/interface/buttonShop.png:grayed",
			"caption" : "Buy",
			"fontSize" : 6,
			"callback" : "shopBuy"
		},
		
		"shopTotalPriceLabel" : {
			"type" : "label",
			"visible" : false,
			"position" : [93, 8],
			"hAnchor" : "left",
			"value" : "TOTAL"
		},
		
		"pixelIcon" : {
			"type" : "image",
			"visible" : false,
			"file" : "/interface/money.png",
			"position" : [119, 8]
		},
		
		"shopTotalPrice" : {
			"type" : "label",
			"visible" : false,
			"position" : [162, 8],
			"hAnchor" : "right",
			"value" : "0"
		},
		
		"shopSellButton" : {
			"type" : "button",
			"visible" : false,
			"position" : [60, 7],
			"base" : "/interface/buttonShop.png:default",
			"hover" : "/interface/buttonShop.png:hover",
			"disabledImage" : "/interface/buttonShop.png:grayed",
			"caption" : "Sell",
			"fontSize" : 6,
			"callback" : "shopSell"
		},
		
		"shopSellSlot11" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [13, 76],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot12" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [32, 76],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot13" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [51, 76],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot14" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [70, 76],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot15" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [89, 76],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot16" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [108, 76],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot17" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [127, 76],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot18" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [146, 76],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot21" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [13, 57],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot22" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [32, 57],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot23" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [51, 57],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot24" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [70, 57],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot25" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [89, 57],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot26" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [108, 57],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot27" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [127, 57],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot28" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [146, 57],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot31" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [13, 38],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot32" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [32, 38],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot33" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [51, 38],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot34" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [70, 38],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot35" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [89, 38],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot36" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [108, 38],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot37" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [127, 38],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot38" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [146, 38],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot41" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [13, 19],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot42" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [32, 19],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot43" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [51, 19],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot44" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [70, 19],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot45" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [89, 19],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot46" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [108, 19],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot47" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [127, 19],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		},
		
		"shopSellSlot48" : {
			"type" : "itemslot",
			"visible" : false,
			"zlevel" : 2,
			"position" : [146, 19],
			"callback" : "shopItemSlot",
			"rightClickCallback" : "shopItemSlotRight",
			"backingImage" : "/interface/inventory/empty.png"
		}
	},
	
	
	"pixelDisplayTradePos" : [7,6],
	"pixelDisplaySpecialPos" : [105,133],
	"pixelDisplayInvestPos" : [11,19],
	"textDelay" : 2,				// Each # scriptDelats will update the text
	"scientificUpdateDelay" : 10,	// Each # scriptDelats will update the scientific list (for price purposes)
	"shopUpdateDelay" : 5,			// Each # scriptDelats will update the shop list (reason same as above)
	"shopSellSlots" : [4,8],		// [rows, columns] of sell slots
	
	"scriptWidgetCallbacks" : [ "commandProcessor", "goodsSelected", "buyGoods", "sellGoods", "specialSelected", "scientificSelected", "tradeA", "tradeB", "invest", "investMax", "investAmount", "shopSelected", "shopBuyAmount", "shopBuy", "shopSell", "shopIncrement", "shopDecrement", "itemGrid", "shopItemSlot", "shopItemSlotRight", "shopSell" ],
	"canvasClickCallbacks" : { "dialogueCanvas" : "canvasClickEvent" },
	
	"scripts" : ["/interface/scripted/spaceStation/spaceStation.lua"],
	"scriptDelta" : 1
}