{

	"currentRace": "generic",
	"defaultButtonStates": ["Chat", false, "Shop", "Trade Goods", "Special", "Goodbye"],

	// Sound control
	"sound": "/interface/scripted/spaceStation/sounds/generic.ogg",
	"cutoffSound": false,
	"volume": 1,

	// Portrait control
	"currentTalkFrame": 0,
	"currentBlinkFrame": 0,
	"blinkCurrentCooldown": 0,
	"talkFrameCooldown": 0,
	"blinkFrameCooldown": 0,
	"blinkCooldown": 0,

	"generic": {
		"welcome": "Welcome to the {STATIONNAME} station [(playername)]. Enjoy your stay!",

		//	can add as many as you'd like as long as they follow the naming format ("chat#")

		"chatCount": 10, // number of chat texts
		"chat1": "*Additional supplies depots required*\n[(pause)5]...[(pause)5]\nPardon me - wrong AI state.",
		"chat2": "To protect you, we must isolate you.",
		"chat3": "You're totally not a brain in a jar living a simulation, serving as a processor.",
		"chat4": "*Incoming Transmission*\n[(pause)5]*Processing...*\n[(pause)5]*Printing to screen*\nAccording to all known laws of aviation, there is no way a bee should be able to fly.\nIts wings are too small to get its fat little body off the ground.\nThe bee, of course, flies anyway because bees don't care what humans think is impossible.\nYellow, black. Yellow, black.\nYellow, black. Yellow, black.\nOoh, black and yellow!\nLet's shake it up a little.\nBarry! Breakfast is ready!\nOoming!\nHang on a second.\nHello?\n- Barry?\n- Adam?\n- Oan you believe this is happening?\n- I can't. I'll pick you up.\nLooking sharp.\nUse the stairs. Your father\npaid good money for those.\nSorry. I'm excited.\nHere's the graduate.\nWe're very proud of you, son.",
		"chat5": "*Searching archives for entertainment*\n[(pause)5].[(pause)5].[(pause)5].[(pause)10] *Entertainment detected. Printing to screen*\n[(pause)3]Now this is a story all about how\nMy life got flipped-turned upside down\nAnd I'd like to take a minute\nJust sit right there\nI'll tell you how I became the prince of a town called Bel-Air\nIn west Philadelphia born and raised\nOn the playground was where I spent most of my days\nChillin' out maxin' relaxin' all cool\nAnd all shooting some b-ball outside of the school\nWhen a couple of guys who were up to no good\nStarted making trouble in my neighborhood\nI got in one little fight and my mom got scared\nShe said, 'You're movin' with your auntie and uncle in Bel-Air.'",
		"chat6": "You've got mail!",
		"chat7": "Would you like some cake?",
		"chat8": "When travelling on Sulphuric worlds, if you are able to protect yourself against the ravages of the environment you will be capable of procuring enormous quantities of ore. With hazard comes reward.",
		"chat9": "There are legends of an ancient race, long forgotten, that came here from some unknown sector of space. Allegedly, there is a treasure trove of powerful technology awaiting the intrepid explorer.",
		"chat10": "Exposure to psionically damaging effects can permanently affect your brain. Madness -can- lead to genius, but not if you completely lose your mind.",

		////////// Deprecated
		//		"questStage0"			: "Why yes, we do have a task that needs completing.",
		//		"questStage1"			: "Finish your previous assigment before asking for another.",
		//		"questStage2"			: "Unfortunetly, you've failed to uphold your part of the deal.\nTherefore, we shall not pay you the promised ^orange;[(data)questData.current.reward]^reset;.",
		//		"questStage3"			: "Well done!\nWe shall now tranfer you the promised ^orange;[(data)questData.current.reward]^reset;.",
		//
		//		"questBriefing"			: "You must reach {LOCATION}, and {OBJECTIVE} within {TIME}. In return, you will receive {REWARD}.",
		//		"questNone"				: "Sorry, we do not have anything that needs taking care of at the moment.",
		//		"questDecline"			: "Oh well, another time perhaps.\nDon't forget you can ask for an easier task, unless it was the easier task you've declined, in which case I pity you.",
		//		"questAccept"			: "I'm sending the details and a more specific location to your quest log right now.\nGood luck, and remember - we won't be paying you should you not meet one of the conditions.",
		//		"questEasier"			: "Easier?\nYour impression was of someone who could complete the task, guess I was wrong.\nBut its good to know the limit of your abilities, and for that I respect you.",
		//		"questHarder"			: "Harder? Thats the spirit!\nJust let me remind you - Should you fail to meet any of the conditions, you will not be payed at all.",

		"militarySpecial": "As a military station, our special service is allowing you to hire new crew members. The price goes up with the quality, so does the return when they save your ass from some otherwordly monstrocity. Sadly, we can only spare one crew member per captain. We don't want to end up being the ones in need of crew members...",
		"medicalSpecial": "As a medical research lab, our special service is providing you with powerful body enhancers, for the right price of course.\nDue to health hazard, you can have only one enhancer active at a time, but they last until death, or until removed at a medical station for 500 pixels.\nRemember - Every medical station has its own collection of enhancers, so be sure to check them all out!",
		"scientificSpecial": "deprecated",
		"tradingSpecial": "As a trading center, we care primarily about pixels and their value.\nShould you be able to raise a high enough amount and invest in us, we'll make sure it'll be worth your while.\nWith each investment you make, the prices in our shops will shift in your favor, allowing you to buy and sell goods at better rates!\nInvest enough, and the prices for all space stations will have a shift in your favor!",
		"tradingSpecialMax": "Thank you for your great contribution!\nThanks to you, we are now a bustling trading station with a lot of goods to pick from, with good prices for everyone!\nWe'll make sure your contribution is known beyond the bounds of this station, providing you with a better price rate when you buy or sell from other vendors across the stars!",
		"returnSpecial": "Was there anything else you wanted?",

		"cantAffordCount": 4, // number of 'cant afford' texts
		"cantAfford1": "Seems like you're a bit short on pixels...",
		"cantAfford2": "You're low on pixels.",
		"cantAfford3": "You can not afford that.",
		"cantAfford4": "You'll need more pixels.",

		"activeEnhancer": "I'm sorry, but for your own safety we cannot apply another enhancer while another one is active.\nWe can remove your current one for 500 pixels if you'd like.",
		"acquireEnhancer": "Don't forget you'll lose the enhancer should you die, or you can ask us to remove it should you tire from it.\nIn addition, side effects may include: dry mouth, nausea, vomiting, water retention, painful rectal itch, hallucination, dementia, psychosis, coma, death, and halitosis.",
		"cooldownEnhancer": "deprecated",
		"removeEnhancer": "Enhancer removed. Enjoy your enhancer free body!",

		"hireMerc": "Heres the contract, use it to call and recruit them.",
		"noMoreMerc": "Sorry, we only allow one crewmate per captain.\nTry checking other military stations if you're in need for more crewmates.",

		"portraitPath": "/interface/scripted/spaceStation/portraits/generic.png",
		"talkTotalFrames": 2,
		"talkTicksPerFrame": 5,
		"blinkTotalFrames": 1,
		"blinkTicksPerFrame": 3,
		"blinkCooldownAvg": 90
	},

	"apex": {
		"welcome": "Welcome to the {STATIONNAME} station [(playername)], and remember, Big Ape is watching.",

		"chatCount": 4, // number of chat texts
		"chat1": "I like bananas.",
		"chat2": "Serving up here is a lot more fun than being a common worker.",
		"chat3": "Apex engineering is the best in the universe!",
		"chat4": "Get out of here stalker!",

		"militarySpecial": "As a military station, our special service is allowing you to hire new crew members. The price goes up with the quality, so does the return when they save your ass from some otherwordly monstrocity. Sadly, we can only spare one crew member per captain. We don't want to end up being the ones in need of crew members...",
		"medicalSpecial": "As a medical research lab, our special service is providing you with powerful body enhancers, for the right price of course.\nDue to health hazard, you can have only one enhancer active at a time, but they last until death, or until removed at a medical station for 500 pixels.\nRemmember - Every medical station has its own collection of enhancers, so be sure to check them all out!",
		"scientificSpecial": "deprecated",
		"tradingSpecial": "As a trading center, we care primarily about pixels and their value.\nShould you be able to raise a high enough amount and invest in us, we'll make sure it'll be worth your while.\nWith each investment you make, the prices in our shops will shift in your favor, allowing you to buy and sell goods at better rates!\nInvest enough, and the prices for all space stations will have a shift in your favor!",
		"tradingSpecialMax": "Thank you for your great contribution!\nThanks to you, we are now a bustling trading station with a lot of goods to pick from, with good prices for everyone!\nWe'll make sure your contribution is known beyond the bounds of this station, providing you with a better price rate when you buy or sell from other vendors across the stars!",
		"returnSpecial": "Was there anything else you wanted?",

		"cantAffordCount": 4, // number of 'cant afford' texts
		"cantAfford1": "Seems like you're a bit short on pixels...",
		"cantAfford2": "You're low on pixels.",
		"cantAfford3": "You can not afford that.",
		"cantAfford4": "You'll need more pixels.",

		"activeEnhancer": "I'm sorry, but for your own safety we cannot apply another enhancer while another one is active.\nWe can remove your current one for 500 pixels if you'd like.",
		"acquireEnhancer": "Don't forget you'll lose the enhancer should you die, or you can ask us to remove it should you tire from it.\nIn addition, side effects may include: dry mouth, nausea, vomiting, water retention, painful rectal itch, hallucination, dementia, psychosis, coma, death, and halitosis.",
		"cooldownEnhancer": "deprecated",
		"removeEnhancer": "Enhancer removed. Enjoy your enhancer free body!",

		"hireMerc": "Heres the contract, use it to call and recruit them.",
		"noMoreMerc": "Sorry, we only allow one crewmate per captain.\nTry checking other military stations if you're in need for more crewmates.",

		"portraitPath": "/interface/scripted/spaceStation/portraits/apex.png",
		"talkTotalFrames": 6,
		"talkTicksPerFrame": 2,
		"blinkTotalFrames": 2,
		"blinkTicksPerFrame": 1,
		"blinkCooldownAvg": 90,

		"sound": ["/sfx/humanoid/apex_chatter_male1.ogg",
			"/sfx/humanoid/apex_chatter_male2.ogg",
			"/sfx/humanoid/apex_chatter_male3.ogg"
		],
		"volume": 1,
		"cutoffSound": false
	},

	"avian": {
		"welcome": "Welcome to the {STATIONNAME} station [(playername)], Kluex watch over you!",

		"chatCount": 4, // number of chat texts
		"chat1": "I may be flightless, but I imagine floating through space is just as fun!",
		"chat2": "Tell me of your adventures!",
		"chat3": "One day I'll save enough to buy my own ship!",
		"chat4": "I'm bored...",

		"militarySpecial": "As a military station, our special service is allowing you to hire new crew members. The price goes up with the quality, so does the return when they save your ass from some otherwordly monstrocity. Sadly, we can only spare one crew member per captain. We don't want to end up being the ones in need of crew members...",
		"medicalSpecial": "As a medical research lab, our special service is providing you with powerful body enhancers, for the right price of course.\nDue to health hazard, you can have only one enhancer active at a time, but they last until death, or until removed at a medical station for 500 pixels.\nRemmember - Every medical station has its own collection of enhancers, so be sure to check them all out!",
		"scientificSpecial": "deprecated",
		"tradingSpecial": "As a trading center, we care primarly about pixels and their value.\nShould you be able to raise a high enough amount and invest in us, we'll make sure it'll be worth your while.\nWith each investment you make, the prices in our shops will shiftin your favor, allowing you to buy and sell goods at better rates!\nInvest enough, and the prices for all space stations will have a shift in your favor!",
		"tradingSpecialMax": "Thank you for your great contribution!\nThanks to you, we are now a bustling trading station with a lot of goods to pick from, with good prices for everyone!\nWe'll make sure your contribution is known beyond the bounds of this station, providing you with a better price rate when you buy or sell from other vendors across the stars!",
		"returnSpecial": "Was there anything else you wanted?",

		"cantAffordCount": 4, // number of 'cant afford' texts
		"cantAfford1": "Seems like you're a bit short on pixels...",
		"cantAfford2": "You're low on pixels.",
		"cantAfford3": "You can not afford that.",
		"cantAfford4": "You'll need more pixels.",

		"activeEnhancer": "I'm sorry, but for your own safety we cannot apply another enhancer while another one is active.\nWe can remove your current one for 500 pixels if you'd like.",
		"acquireEnhancer": "Don't forget you'll lose the enhancer should you die, or you can ask us to remove it should you tire from it.\nIn addition, side effects may include: dry mouth, nausea, vomiting, water retention, painful rectal itch, hallucination, dementia, psychosis, coma, death, and halitosis.",
		"cooldownEnhancer": "deprecated",
		"removeEnhancer": "Enhancer removed. Enjoy your enhancer free body!",

		"hireMerc": "Heres the contract, use it to call and recruit them.",
		"noMoreMerc": "Sorry, we only allow one crewmate per captain.\nTry checking other military stations if you're in need for more crewmates.",

		"portraitPath": "/interface/scripted/spaceStation/portraits/avian.png",
		"talkTotalFrames": 6,
		"talkTicksPerFrame": 2,
		"blinkTotalFrames": 4,
		"blinkTicksPerFrame": 1,
		"blinkCooldownAvg": 90,

		"sound": ["/sfx/humanoid/avian_chatter_female1.ogg",
			"/sfx/humanoid/avian_chatter_female2.ogg",
			"/sfx/humanoid/avian_chatter_female3.ogg",
			"/sfx/humanoid/avian_chatter_female4.ogg"
		],
		"volume": 0.5,
		"cutoffSound": false
	},

	"floran": {
		"welcome": "Floran must welcome [(playername)] to the {STATIONNAME} ssstation. Ssstate your businesss",

		"chatCount": 8, // number of chat texts
		"chat1": "Nice weather. Good for Floransss.",
		"chat2": "You haven't died.",
		"chat3": "Floran lossst their meat. Floran susspects Sssteve.",
		"chat4": "Is Floran wilting?",
		"chat5": "Starsss are boring. Too far away to stab.",
		"chat6": "There is no meat for sale. Everything is in a tube.",
		"chat7": "Floran will ssstab if you act bad.",
		"chat8": "Floran dreamt of being hunted.",

		"questStage0": "Floran doesss have something they want done...",
		"questStage1": "Greedy! Come back when you've finissshed the lassst one.",
		"questStage2": "Floran will not give rewards for nothing.",
		"questStage3": "Floran could have done better...\nHere isss your payment.",

		//		"questNone"				: "Come back when theres ssomething to do, sssilly.",
		//		"questDecline"			: "Maybe another time.\nRemember, wusssesss can ask for easier tasksss.",
		//		"questAccept"			: "Floran isss telling quesst log where to go now\nIf you fail, weakling, Floran will not pay you.",
		//		"questEasier"			: "Easier?\nHa! You are ssscared!\nYou have lost honour in Floransss booksss.",
		//		"questHarder"			: "Harder? You ssshow mettle, prey.\nJussst remember- if it its too hard for you, Floran will eat you-or at least not reward you.",

		"militarySpecial": "Floransss sstation isss military, and Floran hiresss out crew membersss. The better you pay Floran, the better the hunter, but you can only take one. We are good, ssstrong fightersss but even we can't fight alone...",
		"medicalSpecial": "Floran will sssell power boosssters for weaklingss.\nBoosstersss don't ssstay after death, weakling.\nCan alsso remove boosster if you regret. Cosssts 500 pixelss.",
		"scientificSpecial": "Floransss peoplesss are sciencey and will trade for different things they needsss.\nIf you have the wrong stuff Floran may need it later. Wait or be eaten.",
		"tradingSpecial": "Thisss isss a trading center, so we like ssshiny pixelssss.\nIf you give usss money we will ssscare our shopss into giving you better pricess.\nIf you give usss enough pixelss, we sscare all other sspace sstation shops to give you better pricess.",
		"tradingSpecialMax": "Floran should thank you for your money...\nNow we have more ssstuff to ssstab and thingsss.\nFloran will frighten other sellers into giving their ssstuff away cheaper and giving more pixelsss for your ssstuff!",
		"returnSpecial": "Floran can sell you more thingsss...",

		"cantAffordCount": 4, // number of 'cant afford' texts
		"cantAfford1": "You don't have enough moneysss.",
		"cantAfford2": "Come back when you have enough pixelsss, wimp.",
		"cantAfford3": "Floran needsss more pixelsss for that.",
		"cantAfford4": "You'll need more pixelsss.",

		"activeEnhancer": "Floran iss told to ssay, can't have more than one enhancer active at a time.\nCan remove active enhancer for 500 pixels.",
		"acquireEnhancer": "Floran is told to say: 'ssside effects may include: dry mouth, nausea, vomiting, water retention, painful rectal itchyness, hallucination, dementia, psychosisss, coma, death, and halitosis.'\nThat wasss a mouthful. Also, boossster gone if you die, weakling. Come back if you need another.",
		"cooldownEnhancer": "deprecated",
		"removeEnhancer": "Enhancer removed. Enjoy your enhancer free body!",

		"hireMerc": "Here isss contract. Good for one hunter.",
		"noMoreMerc": "Huntersss are come in sssingles. Go somewhere elesse for more.",

		"portraitPath": "/interface/scripted/spaceStation/portraits/floran.png",
		"talkTotalFrames": 6,
		"talkTicksPerFrame": 2,
		"blinkTotalFrames": 4,
		"blinkTicksPerFrame": 1,
		"blinkCooldownAvg": 90,

		"sound": ["/sfx/humanoid/floran_chatter_female1.ogg",
			"/sfx/humanoid/floran_chatter_female2.ogg",
			"/sfx/humanoid/floran_chatter_female3.ogg",
			"/sfx/humanoid/floran_chatter_female4.ogg",
			"/sfx/humanoid/floran_chatter_female5.ogg",
			"/sfx/humanoid/floran_chatter_female6.ogg"
		],
		"volume": 1,
		"cutoffSound": true
	},

	"glitch": {
		"welcome": "Cordial. Welcome to the {STATIONNAME} station [(playername)]. Enjoy your stay!",

		"chatCount": 8, // number of chat texts
		"chat1": "Welcoming. We rarely receive visitors.",
		"chat2": "Content. It is good to have you here.",
		"chat3": "Puzzled. I can't find my lunchbag.",
		"chat4": "Nostalgic. I miss proper metallic cuisine.",
		"chat5": "Inquisitive. Do you come here often?",
		"chat6": "Observant. Your mech is of interesting craft.",
		"chat7": "Calm. It's so quiet out here, among the void...",
		"chat8": "Cautious. Those warriors from Terra, they got curved swords. Curved. Swords.",

		"questStage0": "Affirmative. IF you want to help, there's something we need.",
		"questStage1": "Irraritated. Finish your previous assigment before asking for another.",
		"questStage2": "Negative. You failed to honor your part of the deal.\nYou won't receive any payment.",
		"questStage3": "Approving. Here, take this as payment.",

		//		"questNone"				: "Negative. No task requires aid at the moment.",
		//		"questDecline"			: "Disappointed. Perhaps another day?\nAdvisory. You can also request an easier task, unless that task is the one you just refused. I'm afraid you are a lost cause if that is the case.",
		//		"questAccept"			: "Supporting. I'm sending you all the details you need to your log.\nGood luck, and remember to meet all conditions if you hope to get paid for this.",
		//		"questEasier"			: "Disappointed. You want an easier task?\nI believe we have overestimated your skills.\nConsoling. It is good to know the limit of your capabilities, however, and we will adjust your task and payment to better fit them.",
		//		"questHarder"			: "Satisfied. You don't seem afraid of doing hard work.\nAdvisory - If you fail to meet any objective, you will not receive payment.",

		"militarySpecial": "Explanatory. As a military station, we deal in specialized crewmember contracts. Price and quality are tied, so go the extra mile if you want to be extra safe.\nKeep in mind that we can only spare one crew member per captain, in order to remain functional ourselves.",
		"medicalSpecial": "Explanatory. As a medical research lab, we deal in all sort of long lasting enhancers.\nThey will remain with you until your eventual death, or until removed.\nThey can be removed at any medical station for 500 pixels.",
		"scientificSpecial": "Discoursing. As a scientific research lab, our main branch of action is synthesysing and trading all sorts of materials.\nDo remember to check back every now and then, as our stored goods may vary quite a bit.",
		"tradingSpecial": "Discoursing. As a trading center, we are here mainly to amass pixels.\nWe are accepting investments, which may bring you a great profit if sufficient.\nWith each investment you make, our prices will shift in your favor.\nEncouraging. Raising enough pixels in our name will award you with a better price through out all the space stations in the cosmos!",
		"tradingSpecialMax": "Pleased. Thank you for this important aid.\nAll thanks to you, this is now a prosperous merchant outpost with a large variety of goods to offer.\nWe'll make sure your contribution is known far and wide, allowing you to get better prices when buying or selling with other vendors as well.",
		"returnSpecial": "Questioning. Do you need anything else?",

		"cantAffordCount": 4, // number of 'cant afford' texts
		"cantAfford1": "Disappointed. You lack economical possessions.",
		"cantAfford2": "Patient. Please return with more pixels.",
		"cantAfford3": "Explanatory. You can not afford that.",
		"cantAfford4": "Disagreeing. That is not enough to pay for this.",

		"activeEnhancer": "Explanatory. As stated, you cannot have more than one enhancer active at a time.\nWe can remove your active enhancer for 500 pixels if desired.",
		"acquireEnhancer": "Hopeful. Come back if you would like another enhancer.\nAdvisory. The Galactic Food & Drug Agency has not fully approved this type of mechanism, and possible side effects are not completely known yet. Have fun, and remember to come back for another when you die!",
		"cooldownEnhancer": "deprecated",
		"removeEnhancer": "Pleased. Enhancer removed. Enjoy your enhancer free body!",

		"hireMerc": "Explanatory. Here is your contract, use it to call your recruit.",
		"noMoreMerc": "Apologizing. We only allow one crewmate per captain.\nIf you need more crew members, check in with other military stations.",

		"portraitPath": "/interface/scripted/spaceStation/portraits/glitch.png",
		"talkTotalFrames": 8,
		"talkTicksPerFrame": 2,
		"blinkTotalFrames": 2,
		"blinkTicksPerFrame": 1,
		"blinkCooldownAvg": 90,

		"sound": ["/sfx/humanoid/glitch_chatter_male1.ogg",
			"/sfx/humanoid/glitch_chatter_male2.ogg",
			"/sfx/humanoid/glitch_chatter_male3.ogg"
		],
		"volume": 1,
		"cutoffSound": true
	},

	"human": {
		"welcome": "Welcome to the {STATIONNAME} station [(playername)]!",

		"chatCount": 7, // number of chat texts
		"chat1": "Damn tentacled beasts, destroying planets and childhoods...",
		"chat2": "You have my attention.",
		"chat3": "I miss the 3120s",
		"chat4": "C'mooooooon it's been 3 hours since I last checked the time, and only ten minutes have passed!",
		"chat5": "One more loot box, and I'll finally complete my cosmetic set in Hats n' Guns 2!",
		"chat6": "Hey, I'm pretty sure I've seen you on- ...nevermind.",
		"chat7": "I used to be a spacefarer like you, but then I took a laser to the knee.",

		"militarySpecial": "As a military station, our special service is allowing you to hire new crew members. The price goes up with the quality, so does the return when they save your ass from some otherwordly monstrocity. Sadly, we can only spare one crew member per captain. We don't want to end up being the ones in need of crew members...",
		"medicalSpecial": "As a medical research lab, our special service is providing you with powerful body enhancers, for the right price of course.\nDue to health hazard, you can have only one enhancer active at a time, but they last until death, or until removed at a medical station for 500 pixels.\nRemmember - Every medical station has its own collection of enhancers, so be sure to check them all out!",
		"scientificSpecial": "deprecated",
		"tradingSpecial": "As a trading station, we care primarly about pixels and their value.\nShould you be able to raise a high enough amount and invest in us, we'll make sure it'll be worth your while.\nWith each investment you make, the prices in our shops will shiftin your favor, allowing you to buy and sell goods at better rates!\nInvest enough, and the prices for all space stations will have a shift in your favor!",
		"tradingSpecialMax": "Thank you for your great contribution!\nThanks to you, we are now a bustling trading station with a lot of goods to pick from, with good prices for everyone!\nWe'll make sure your contribution is known beyond the bounds of this station, providing you with a better price rate when you buy or sell from other vendors across the stars!",
		"returnSpecial": "Was there anything else you wanted?",

		"cantAffordCount": 4, // number of 'cant afford' texts
		"cantAfford1": "Seems like you're a bit short on pixels...",
		"cantAfford2": "You're low on pixels.",
		"cantAfford3": "You can not afford that.",
		"cantAfford4": "You'll need more pixels.",

		"activeEnhancer": "I'm sorry, but for your own safety we cannot apply another enhancer while another one is active.\nWe can remove your current one for 500 pixels if you'd like.",
		"acquireEnhancer": "Don't forget you'll lose the enhancer should you die, or you can ask us to remove it should you tire from it.\nIn addition, side effects may include: dry mouth, nausea, vomiting, water retention, painful rectal itch, hallucination, dementia, psychosis, coma, death, and halitosis.",
		"cooldownEnhancer": "deprecated",
		"removeEnhancer": "Enhancer removed. Enjoy your enhancer free body!",

		"hireMerc": "Heres the contract, use it to call and recruit them.",
		"noMoreMerc": "Sorry, we only allow one crewmate per captain.\nTry checking other military stations if you're in need for more crewmates.",

		"portraitPath": "/interface/scripted/spaceStation/portraits/human.png",
		"talkTotalFrames": 6,
		"talkTicksPerFrame": 2,
		"blinkTotalFrames": 2,
		"blinkTicksPerFrame": 1,
		"blinkCooldownAvg": 90,

		"sound": ["/sfx/humanoid/human_chatter_male1.ogg",
			"/sfx/humanoid/human_chatter_male2.ogg",
			"/sfx/humanoid/human_chatter_male3.ogg"
		],
		"volume": 1,
		"cutoffSound": false
	},

	"hylotl": {
		"welcome": "Greetings [(playername)], and welcome to the {STATIONNAME} station ",

		"chatCount": 4, // number of chat texts
		"chat1": "I ate a fish the other day and got weird looks from the humans on board...",
		"chat2": "Have you seen [you can quite make out what they're saying]?? Its the best show ever!",
		"chat3": "When my shifts over, I'm going back to working on my novel!",
		"chat4": "I broke my favorite brush yesterday and now I'm too sad to draw anything.",

		"militarySpecial": "As a military station, our special service is allowing you to hire new crew members. The price goes up with the quality, so does the return when they save your ass from some otherwordly monstrocity. Sadly, we can only spare one crew member per captain. We don't want to end up being the ones in need of crew members...",
		"medicalSpecial": "As a medical research lab, our special service is providing you with powerful body enhancers, for the right price of course.\nDue to health hazard, you can have only one enhancer active at a time, but they last until death, or until removed at a medical station for 500 pixels.\nRemmember - Every medical station has its own collection of enhancers, so be sure to check them all out!",
		"scientificSpecial": "deprecated",
		"tradingSpecial": "As a trading station, we care primarly about pixels and their value.\nShould you be able to raise a high enough amount and invest in us, we'll make sure it'll be worth your while.\nWith each investment you make, the prices in our shops will shiftin your favor, allowing you to buy and sell goods at better rates!\nInvest enough, and the prices for all space stations will have a shift in your favor!",
		"tradingSpecialMax": "Thank you for your great contribution!\nThanks to you, we are now a bustling trading station with a lot of goods to pick from, with good prices for everyone!\nWe'll make sure your contribution is known beyond the bounds of this station, providing you with a better price rate when you buy or sell from other vendors across the stars!",
		"returnSpecial": "Was there anything else you wanted?",

		"cantAffordCount": 4, // number of 'cant afford' texts
		"cantAfford1": "Seems like you're a bit short on pixels...",
		"cantAfford2": "You're low on pixels.",
		"cantAfford3": "You can not afford that.",
		"cantAfford4": "You'll need more pixels.",

		"activeEnhancer": "I'm sorry, but for your own safety we cannot apply another enhancer while another one is active.\nWe can remove your current one for 500 pixels if you'd like.",
		"acquireEnhancer": "Don't forget you'll lose the enhancer should you die, or you can ask us to remove it should you tire from it.\nIn addition, side effects may include: dry mouth, nausea, vomiting, water retention, painful rectal itch, hallucination, dementia, psychosis, coma, death, and halitosis.",
		"cooldownEnhancer": "deprecated",
		"removeEnhancer": "Enhancer removed. Enjoy your enhancer free body!",

		"hireMerc": "Heres the contract, use it to call and recruit them.",
		"noMoreMerc": "Sorry, we only allow one crewmate per captain.\nTry checking other military stations if you're in need for more crewmates.",

		"portraitPath": "/interface/scripted/spaceStation/portraits/hylotl.png",
		"talkTotalFrames": 7,
		"talkTicksPerFrame": 2,
		"blinkTotalFrames": 4,
		"blinkTicksPerFrame": 1,
		"blinkCooldownAvg": 90,

		"sound": ["/sfx/humanoid/hylotl_chatter_female1.ogg",
			"/sfx/humanoid/hylotl_chatter_female2.ogg",
			"/sfx/humanoid/hylotl_chatter_female3.ogg"
		],
		"volume": 1,
		"cutoffSound": true
	},

	"novakid": {
		"welcome": "Howdy [(playername)]! Welcome to the {STATIONNAME} station pardner!",

		"chatCount": 4, // number of chat texts
		"chat1": "Ya ever stare into a sun and get a funny feeling in yer eyes?\nI don't, got no eyes to feel!",
		"chat2": "Now where'd I leave my banjo at?",
		"chat3": "Ya like country music?",
		"chat4": "How do I solve problems? [(pause)5]Guns.\n[(pause)10]How do I solve big problems? [(pause)5]Big guns!",

		"militarySpecial": "Ya want extra guns by your side? You at the right military station cowboy!\nYa can hire a merc here ta help ya on yer travels, but we only allow one crewmate per captn', otherwise we'd end up being the ones hiring!",
		"medicalSpecial": "If ya lookin' for a boon, you at the right medical station!\nWe're sellin' all sorts of enhancers that do all kinds of stuff.\nWe can't let ya walk around with more than one though, bad for yer health n' all that, but they strong enough to last you a life time, so dying ain't advised if ya have one. They can also be removed at any med station for 500 pixels if you'd like.\nAnd don't forget - Every station has its own collection of boosters, so be sure to check em' all out!",
		"scientificSpecial": "deprecated",
		"tradingSpecial": "Ya like pixels? So do we!\nIn this trading station, ya can invest pixels to better prices in yer favor.\nOnce ya invest enough, we'll make sure all stations, no matter what type, will have a better price ta offer ya!",
		"tradingSpecialMax": "We all grateful to yer countribution pardenr!\nWe'll make sure any other station floating out there will have a better price for you!",
		"returnSpecial": "Anything else pardner?",

		"cantAffordCount": 4, // number of 'cant afford' texts
		"cantAfford1": "Ya low on pixels.",
		"cantAfford2": "Sorry, ya can't afford that.",
		"cantAfford3": "You'll need more pixels for that.",
		"cantAfford4": "Yer wallet reminds me of the desert!",

		"activeEnhancer": "Like I said, can't have more than one enhancer active at a time.\nWe can remove your active enhancer for 500 pixels if ya'd like.",
		"acquireEnhancer": "Aaaaaand done!\nRemember - ya don't keep them if ya die, and we can remove em for 500 pixels if ya want.",
		"cooldownEnhancer": "deprecated",
		"removeEnhancer": "Enhancer removed, good as new!",

		"hireMerc": "Heres the contract for em'. Use it ta call em' in and recruit em'.",
		"noMoreMerc": "Sorry pardner, we only allow one crew per capn'. Try askin' other military stations!",

		"portraitPath": "/interface/scripted/spaceStation/portraits/novakid.png",
		"talkTotalFrames": 5,
		"talkTicksPerFrame": 2,
		"blinkTotalFrames": 11,
		"blinkTicksPerFrame": 2,
		"blinkCooldownAvg": 0,

		"sound": ["/sfx/humanoid/novakid_chatter_female1.ogg",
			"/sfx/humanoid/novakid_chatter_female2.ogg",
			"/sfx/humanoid/novakid_chatter_female3.ogg",
			"/sfx/humanoid/novakid_chatter_female4.ogg",
			"/sfx/humanoid/novakid_chatter_female5.ogg",
			"/sfx/humanoid/novakid_chatter_female6.ogg",
			"/sfx/humanoid/novakid_chatter_female7.ogg",
			"/sfx/humanoid/novakid_chatter_female8.ogg",
			"/sfx/humanoid/novakid_chatter_female9.ogg",
			"/sfx/humanoid/novakid_chatter_female10.ogg",
			"/sfx/humanoid/novakid_chatter_female11.ogg",
			"/sfx/humanoid/novakid_chatter_female12.ogg"
		],
		"volume": 1,
		"cutoffSound": true
	},

	"cari": {
		"welcome": "Welcome to the {STATIONNAME} station. Don't break anything.",

		"chatCount": 8, // number of chat texts
		"chat1": "I know what you did.",
		"chat2": "No.",
		"chat3": "Did you know Avians can be alcoholics?",
		"chat4": "I'd give a tailfeather for some lunch.",
		"chat5": "Did you know the sign is blue?",
		"chat6": "I'm banned from the Beakeasy.",
		"chat7": "Welcome to our station! No loitering.",
		"chat8": "I eat chicken.",

		"militarySpecial": "As a military station, our special service is allowing you to hire new crew members. The price goes up with the quality, so does the return when they save your ass from some otherwordly monstrosity. Sadly, we can only spare one crew member per captain. I don't know if you're capable of handling more.",
		"medicalSpecial": "As a medical research lab, our special service is providing you with all sort of long lasting enhancers, for the right price of course.\nDue to health hazard, only one enhancer can be applied.\nLucky you, they stay with you until your inevitable death!\nOr you can remove them for 500 pixels at any medical station, if death doesn't do it for you by the time you get to one.",
		"scientificSpecial": "As a scientific research lab, we specialize in synthesysing all sorts of materials, and are willing to trade them for others.\nBe sure to check in often though, we don't always have or need the same materials!",
		"tradingSpecial": "As a trading center, we care primarly about pixels and their value.\nShould you be able to raise a high enough amount and invest in us, we'll make sure it'll be worth your while.\nWith each investment you make, the prices in our shops will shiftin your favor, allowing you to buy and sell goods at better rates!\nInvest enough, and the prices for all space stations will have a shift in your favor!",
		"tradingSpecialMax": "Thank you for your great contribution!\nThanks to you, we are now a bustling trading station with a lot of goods to pick from, with good prices for everyone!\nWe'll make sure your contribution is known beyond the bounds of this station, providing you with a better price rate when you buy or sell from other vendors across the stars!",
		"returnSpecial": "What do you want?",

		"cantAffordCount": 4, // number of 'cant afford' texts
		"cantAfford1": "Seems like you're a bit short on pixels...",
		"cantAfford2": "You're broke.",
		"cantAfford3": "You're poor. Come back richer.",
		"cantAfford4": "Time is money. You seem to be out of both.",

		"activeEnhancer": "Like I said, you can't have more than one enhancer active at a time.\nWe can remove your active enhancer for 500 pixels if you'd like.",
		"acquireEnhancer": "Come back if you want another one!\nOh, and side effects may include: dry mouth, nausea, vomiting, water retention, tingling rectal itch, hallucination, epiphany, psychosis, coma, death, and a fate worse than death.",
		"cooldownEnhancer": "deprecated",
		"removeEnhancer": "Enhancer removed. Enjoy your enhancer free body!",

		"hireMerc": "Heres the contract, use it to call and recruit them.",
		"noMoreMerc": "Sorry, we only allow one crewmate per captain.\nTry checking other military stations.\nNo refunds.",

		"portraitPath": "/interface/scripted/spaceStation/portraits/cari.png",
		"talkTotalFrames": 2,
		"talkTicksPerFrame": 5,
		"blinkTotalFrames": 1,
		"blinkTicksPerFrame": 3,
		"blinkCooldownAvg": 90,

		"sound": ["/sfx/humanoid/avian_chatter_male1.ogg",
			"/sfx/humanoid/avian_chatter_male2.ogg",
			"/sfx/humanoid/avian_chatter_male3.ogg",
			"/sfx/humanoid/avian_chatter_male4.ogg"
		],
		"volume": 0.5,
		"cutoffSound": false
	}
}
