{
	
	"currentRace" : "generic",
	"defaultButtonStates" : [ "Chat", false, "Shop", "Trade Goods", "Special", "Goodbye" ],
	
	// Sound control
	"sound" : "/interface/scripted/spaceStation/sounds/generic.ogg",
	"cutoffSound" : false,
	"volume" : 1,
	
	// Portrait control
	"currentTalkFrame" : 0,
	"currentBlinkFrame" : 0,
	"blinkCurrentCooldown" : 0,
	"talkFrameCooldown" : 0,
	"blinkFrameCooldown" : 0,
	"blinkCooldown" : 0,
	
	"generic" : {
		"welcome"				: "Welcome to the {STATIONNAME} station [(playername)]. Enjoy your stay!",
		
		"chat1"					: "*Additional supplies depots required*\n[(pause)5]...[(pause)5]\nPardon me - wrong AI state.",
		"chat2"					: "To protect you, we must isolate you.",
		"chat3"					: "You're totally not a brain in a jar living a simulation, serving as a processor.",
		"chat4"					: "*Incoming Transmission*\n[(pause)5]*Processing...*\n[(pause)5]*Printing to screen*\nAccording to all known laws of aviation, there is no way a bee should be able to fly.\nIts wings are too small to get its fat little body off the ground.\nThe bee, of course, flies anyway because bees don't care what humans think is impossible.\nYellow, black. Yellow, black.\nYellow, black. Yellow, black.\nOoh, black and yellow!\nLet's shake it up a little.\nBarry! Breakfast is ready!\nOoming!\nHang on a second.\nHello?\n- Barry?\n- Adam?\n- Oan you believe this is happening?\n- I can't. I'll pick you up.\nLooking sharp.\nUse the stairs. Your father\npaid good money for those.\nSorry.",
		"chat5"					: "*Searching archives for enterteinment*\n[(pause)5].[(pause)5].[(pause)5].[(pause)10] *Enterteinment detected. Printing to screen*\n[(pause)3]Now this is a story all about how\nMy life got flipped-turned upside down\nAnd I'd like to take a minute\nJust sit right there\nI'll tell you how I became the prince of a town called Bel-Air\nIn west Philadelphia born and raised\nOn the playground was where I spent most of my days\nChillin' out maxin' relaxin' all cool\nAnd all shooting some b-ball outside of the school\nWhen a couple of guys who were up to no good\nStarted making trouble in my neighborhood\nI got in one little fight and my mom got scared\nShe said, 'You're movin' to your auntie and uncle in Bel-Air.'",
		"chat6"					: "I've heard rumors of a planet in the far reaches that houses strange ruins and terrible danger. I wonder what the truth of it is?",
		"chat7"					: "Considering the ease with which silicon can be obtained from common sand, it continues to surprise the scientific community when a newcomer (supposedly) educated at a university screams for aid at the source of this wonderful material.",
		"chat8"					: "Have you met the Director of the Corvex Research team? He's of a species I am not familiar with, but is such a stand-up guy! I hear he's vacationing on a ^green;Lush^reset; biome and is looking for new people to join his team even while on vacation!",
		"chat9"					: "No one really knows where Atropus worlds come from, or why they are even possible in the first place. We can be certain that they are some sort of biological oddity, in that the entire world seems to be a single massive living organism. Whether they feel pain is up for debate, though the miasma of madenning substances in the atmosphere make it somewhat complicated to properly research these horrors of the cosmos.",
		"chat10"				: "Never trust Kevin.",
		"chat11"				: "Kevin is the greatest being to ever inhabit the cosmos",
		"chat12"				: "The mysterious ancient races have been extensively studied, save for one. We simply call them Precursors, and the remains of their civilization are rare and scattered. Their technology is powerful, and much could be learned from it. Perhaps you could try cybernetic worlds or other more hazardous planets if you wanted to find some of their structures.",
		"chat13"				: "The ruin continues to spread, and in the wake of it worlds lie in disarray. Most are swallowed by the incalculable needs of its appetite. Resistance is pointless. Join our Faithful Masses. The worthy will find us.",
		
	//	can add as many as you'd like as long as they follow the naming format ("chat#")
		
		"questStage0"			: "Why yes, we do have a task that needs completing.",
		"questStage1"			: "Finish your previous assigment before asking for another.",
		"questStage2"			: "Unfortunetly, you've failed to uphold your part of the deal.\nTherefore, we shall not pay you the promised ^orange;[(data)questData.current.reward]^reset;.",
		"questStage3"			: "Well done!\nWe shall now tranfer you the promised ^orange;[(data)questData.current.reward]^reset;.",
		
		"questBriefing"			: "You must reach {LOCATION}, and {OBJECTIVE} within {TIME}. In return, you will recieve {REWARD}.",
		"questNone"				: "Sorry, we do not have anything that needs taking care of at the moment.",
		"questDecline"			: "Oh well, another time perhaps.\nDon't forget you can ask for an easier task, unless it was the easier task you've declined, in which case I pity you.",
		"questAccept"			: "I'm sending the details and a more specific location to your quest log right now.\nGood luck, and remember - we won't be paying you should you not meet one of the conditions.",
		"questEasier"			: "Easier?\nYour impression was of someone who could complete the task, guess I was wrong.\nBut its good to know the limit of your abilities, and for that I respect you.",
		"questHarder"			: "Harder? Thats the spirit!\nJust let me remind you - Should you fail to meet any of the conditions, you will not be payed at all.",
		
		"militarySpecial"		: "As a military station, our special service is allowing you to hire new crew members. The price goes up with the quality, so does the return when they save your ass from some otherwordly monstrocity. Sadly, we can only spare one crew member per captain. We don't want to end up being the ones in need of crew members...",
		"medicalSpecial"		: "As a medical research lab, our special service is providing you with all sort of long lasting enhancers, for the right price of course.\ndue to health hazard, only one enhancer can be applied once per 10 minutes.\nOn the bright side, they stay with you even after death!\nIf you're under the effect of an enhancer, we can remove it for you as well for 500 pixels.",
		"scientificSpecial"		: "As a scientific research lab, we specialize in synthesysing all sorts of materials, and are willing to trade them for others.\nBe sure to check in often though, we don't always have or need the same materials!",
		"tradingSpecial"		: "As a trading center, we care primarly about pixels and their value.\nShould you be able to raise a high enough amount and invest in us, we'll make sure it'll be worth your while.\nNot only will we recieve new goods to sell and buy your items at a higher rate, but we'll also return a small percentage of our earnings onces in a while.",
		"tradingSpecialMax"		: "Thank you for your great contribution!\nThanks to you, we are now a bustling trading station with a lot of goods to pick from, with good prices for everyone!\nWe'll make sure your contribution is known beyond the bounds of this station, providing you with a better price rate when you buy or sell from other vendors across the stars!",
		"returnSpecial"			: "Was there anything else you wanted?",
		
		"cantAfford1"			: "Seems like you're a bit short on pixels...",
		"cantAfford2"			: "You're low on pixels.",
		"cantAfford3"			: "You can not afford that.",
		"cantAfford4"			: "You'll need more pixels.",
		
		"acquireEnhancer"		: "Come back in 10 minutes if you want another one!\nOh, and side effects may include: dry mouth, nausea, vomiting, water retention, painful rectal itch, hallucination, dementia, psychosis, coma, death, and halitosis.",
		"cooldownEnhancer"		: "I'm sorry, but for your own safety we cannot provide you with another enhancer for the next ^orange;[(data)medicalSpecialCooldownRemaining.hours] hours^reset;, ^orange;[(data)medicalSpecialCooldownRemaining.minutes] minutes^reset;, and ^orange;[(data)medicalSpecialCooldownRemaining.seconds] seconds^reset;.\nBut if you'd like, we can remove your current enhancer for 500 pixels.",
		"removeEnhancer"		: "Enhancer removed!\nEven though your'e not affected by one right now, you'll still have to wait for the entire 10 minute period since you recieved it for your own safety.",
		
		"hireMerc"				: "Heres the contract, use it to call and recruit them.",
		"noMoreMerc"			: "Sorry, we only allow one crewmate per captain.\nTry checking other military stations if you're in need for more crewmates.",
		
		"chatCount"				: 7,	// number of chat texts
		"cantAffordCount"		: 4,	// number of 'cant afford' texts
		
		"portraitPath"			: "/interface/scripted/spaceStation/portraits/generic.png",
		"talkTotalFrames"		: 2,
		"talkTicksPerFrame"		: 5,
		"blinkTotalFrames"		: 1,
		"blinkTicksPerFrame"	: 3,
		"blinkCooldownAvg"		: 90
	},
	
	"floran" : {
		"welcome"				: "Floran must welcome [(playername)] to the {STATIONNAME} ssstation. Ssstate your businesss",

		"chat1"					: "Nice weather. Good for Floransss.",
		"chat2"					: "You haven't died.",
		"chat3"					: "Floran lossst their meat. Floran susspects Sssteve.",
		"chat4"					: "Is Floran wilting?",
		"chat5"					: "Starsss are boring. Too far away to stab.",
		"chat6"					: "There is no meat for sale. Everything is in a tube.",
		"chat7"					: "Floran will ssstab if you act bad.",
		"chat8"					: "Floran dreamt of being hunted.",

		"questStage0"			: "Floran doesss have something they want done...",
		"questStage1"			: "Greedy! Come back when you've finissshed the lassst one.",
		"questStage2"			: "Floran will not give rewards for nothing.",
		"questStage3"			: "Floran could have done better...\nHere isss your payment.",

		"questNone"				: "Come back when theres ssomething to do, sssilly.",
		"questDecline"			: "Maybe another time.\nRemember, wusssesss can ask for easier tasksss.",
		"questAccept"			: "Floran isss telling quesst log where to go now\nIf you fail, weakling, floran will not pay you.",
		"questEasier"			: "Easier?\nHa! You are ssscared!\nYou have lost honour in Floransss booksss.",
		"questHarder"			: "Harder? You ssshow mettle, prey.\nJussst remember- if it its too hard for you, Floran will eat you-or at least not reward you.",

		"militarySpecial"		: "Floransss sstation isss military, and Floran hiresss out crew membersss. The better you pay Floran, the better the hunter, but you can only take one. We are good, ssstrong fightersss but even we can't fight alone...",
		"medicalSpecial"		: "Floran will sssell power boosssters for weaklingss.\nOnly have one every 10 minutes, weakling.\nBoosstersss sso ssstrong, ssstay after death.\nCan alsso remove boosster if you regret. Cosssts 500 pixelss.",
		"scientificSpecial"		: "Floransss peoplesss are sciencey and will trade for different things they needsss.\nIf you have the wrong stuff Floran may need it later. Wait or be eaten.",
		"tradingSpecial"		: "Thisss isss a trading center, so we like ssshiny pixelssss.\nIf you give usss money we will get more goodsss and sssell your ssstuff on for many pixelsss.\nWe may even be nice and give you sssome money back sssometime!",
		"tradingSpecialMax"		: "Floran should thank you for your money...\nNow we have more ssstuff to ssstab and thingsss.\nFloran will frighten other sellers into giving their ssstuff away cheaper and giving more pixelsss for your ssstuff!",
		"returnSpecial"			: "Floran can sell you more thingsss...",

		"cantAfford1"			: "You don't have enough moneysss.",
		"cantAfford2"			: "Come back when you have enough pixelsss, wimp.",
		"cantAfford3"			: "Floran needsss more pixelsss for that.",
		"cantAfford4"			: "You'll need more pixelsss.",

		"acquireEnhancer"		: "Come back in 10 minutesss for another one!\nFloran is told to say: 'ssside effects may include: dry mouth, nausea, vomiting, water retention, painful rectal itchyness, hallucination, dementia, psychosisss, coma, death, and halitosis.'\nThat wasss a mouthful.",
		"cooldownEnhancer"		: "Come back in ^orange;[(data)medicalSpecialCooldownRemaining.hours] hours^reset;, ^orange;[(data)medicalSpecialCooldownRemaining.minutes] minutes^reset;, and ^orange;[(data)medicalSpecialCooldownRemaining.seconds] seconds^reset; for more. Or do you want Floran to remove yoursss for 500 pixelss?",

		"hireMerc"				: "Here isss contract. Good for one hunter.",
		"noMoreMerc"			: "Huntersss are come in sssingles. Go somewhere elesse for more.",
		
		"chatCount"				: 8,	// number of chat texts
		"cantAffordCount"		: 4,	// number of 'cant afford' texts
		
		"sound"					: ["/sfx/humanoid/floran_chatter_female1.ogg", "/sfx/humanoid/floran_chatter_female2.ogg", "/sfx/humanoid/floran_chatter_female3.ogg", "/sfx/humanoid/floran_chatter_female4.ogg", "/sfx/humanoid/floran_chatter_female5.ogg", "/sfx/humanoid/floran_chatter_female6.ogg"],
		"cutoffSound"			: true,
		"volume"				: 1,
		"portraitPath"			: "/interface/scripted/spaceStation/portraits/floran.png",
		"talkTotalFrames"		: 2,
		"talkTicksPerFrame"		: 5,
		"blinkTotalFrames"		: 1,
		"blinkTicksPerFrame"	: 3,
		"blinkCooldownAvg"		: 90
	},
	
	// NO UNIQUE PORTRAIT YET
	"glitch" : {
		"welcome"				: "Cordial. Welcome to the (NAME OF STATION) station [(playername)]. Enjoy your stay!",

		"chat1"					: "Welcoming. We rarely receive visitors.",
		"chat2"					: "Content. It is good to have you here.",
		"chat3"					: "Puzzled. I can't find my lunchbag.",
		"chat4"					: "Nostalgic. I miss proper metallic cuisine.",
		"chat5"					: "Inquisitive. Do you come here often?",
		"chat6"					: "Observant. Your mech is of interesting craft.",
		"chat7"					: "Calm. It's so quiet out here, among the void...",

		"questStage0"			: "Affirmative. IF you want to help, there's something we need.",
		"questStage1"			: "Irraritated. Finish your previous assigment before asking for another.",
		"questStage2"			: "Negative. You failed to honor your part of the deal.\nYou won't receive any payment.",
		"questStage3"			: "Approving. Here, take this as payment.",

		"questNone"				: "Negative. No task requires aid at the moment.",
		"questDecline"			: "Disappointed. Perhaps another day?\nAdvisory. You can also request an easier task, unless that task is the one you just refused. I'm afraid you are a lost cause if that is the case.",
		"questAccept"			: "Supporting. I'm sending you all the details you need to your log.\nGood luck, and remember to meet all conditions if you hope to get paid for this.",
		"questEasier"			: "Disappointed. You want an easier task?\nI believe we have overestimated your skills.\nConsoling. It is good to know the limit of your capabilities, however, and we will adjust your task and payment to better fit them.",
		"questHarder"			: "Satisfied. You don't seem afraid of doing hard work.\nAdvisory - If you fail to meet any objective, you will not receive payment.",

		"militarySpecial"		: "Explanatory. As a military station, we deal in specialized crewmember contracts. Price and quality are tied, so go the extra mile if you want to be extra safe.\nKeep in mind that we can only spare one crew member per captain, in order to remain functional ourselves.",
		"medicalSpecial"		: "Explanatory. As a medical research lab, we deal in all sort of long lasting enhancers.\nDue to their experimental state, only one enhancer can be applied every 48 hours.\nHowever, even after eventual death, they will remain with you.",
		"scientificSpecial"		: "Discoursing. As a scientific research lab, our main branch of action is synthesysing and trading all sorts of materials.\nDo remember to check back every now and then, as our stored goods may vary quite a bit.",
		"tradingSpecial"		: "Discoursing. As a trading center, we are here mainly to amass pixels.\nWe are accepting investments, which may bring you a great profit if sufficient.\nAfter a while, we will receive new goods to sell and buy your items at a better price. You will also receive a percentage of our earnings, due to your stock holdings.",
		"tradingSpecialMax"		: "Pleased. Thank you for this important aid.\nAll thanks to you, this is now a prosperous merchant outpost with a large variety of goods to offer.\nWe'll make sure your contribution is known far and wide, allowing you to get better prices when buying or selling with other vendors as well.",
		"returnSpecial"			: "Questioning. Do you need anything else?",

		"cantAfford1"			: "Disappointed. You lack economical possessions.",
		"cantAfford2"			: "Patient. Please return with more pixels.",
		"cantAfford3"			: "Explanatory. You can not afford that.",
		"cantAfford4"			: "Disagreeing. That is not enough to pay for this.",

		"acquireEnhancer"		: "Hopeful. Come back in 10 minutes if you would like another enhancer.\nAdvisory. The Galactic Food & Drug Agency has not fully approved this type of mechanism, and possible side effects are not completely known yet. Have fun.",
		"cooldownEnhancer"		: "Negative. For your own integrity, we cannot provide you with another enhancer for the next ^orange;[(data)medicalSpecialCooldownRemaining.hours] hours^reset;, ^orange;[(data)medicalSpecialCooldownRemaining.minutes] minutes^reset;, and ^orange;[(data)medicalSpecialCooldownRemaining.seconds] seconds^reset;. We can still remove your current one for 500 if so you desire.",

		"hireMerc"				: "Explanatory. Here is your contract, use it to call your recruit.",
		"noMoreMerc"			: "Apologizing. We only allow one crewmate per captain.\nIf you need more crew members, check in with other military stations.",
		
		"chatCount"				: 7,	// number of chat texts
		"cantAffordCount"		: 4,	// number of 'cant afford' texts
		
		"portraitPath"			: "/interface/scripted/spaceStation/portraits/generic.png",
		"talkTotalFrames"		: 2,
		"talkTicksPerFrame"		: 5,
		"blinkTotalFrames"		: 1,
		"blinkTicksPerFrame"	: 3,
		"blinkCooldownAvg"		: 90
	}
}