{
	"gui" : {
		"canvas" : {
			"zlevel" : -19,
			"type" : "canvas",
			"rect" : [4, 4, 397, 296],
			"captureMouseEvents" : true,
			"captureKeyboardEvents" : false
		},
		
		"background" : {
			"zlevel" : -1,
			"type" : "background",
			"fileHeader" : "/interface/scripted/fu_researchtreegui/header.png",
			"fileBody" : "/interface/scripted/fu_researchtreegui/body.png"
		},
		
		"title" : {
			"type" : "label",
			"position" : [500, 289],
			"hAnchor" : "mid",
			"value" : "I AM ERROR"
		},
		
		"text" : {
			"type" : "label",
			"position" : [403, 284],
			"vAnchor" : "top",
			"fontSize" : 7,
			"wrapWidth" : 182,
			"value" : ""
		},
		
		"researchButton" : {
			"type" : "button",
			"position" : [460, 3],
			"base" : "/interface/buttonBig.png:default",
			"hover" : "/interface/buttonBig.png:hover",
			"disabledImage" : "/interface/buttonBig.png:grayed",
			"caption" : "Research"
		},
		
		"centerButton" : {
			"type" : "button",
			"position" : [6, 278],
			"base" : "/interface/scripted/fu_researchtreegui/buttons.png:center:default",
			"hover" : "/interface/scripted/fu_researchtreegui/buttons.png:center:hover",
			"disabledImage" : "/assetmissing.png",
			"pressedOffset" : [0,0]
		},
		
		"searchButton" : {
			"type" : "button",
			"position" : [24, 278],
			"base" : "/interface/scripted/fu_researchtreegui/buttons.png:search:default",
			"hover" : "/interface/scripted/fu_researchtreegui/buttons.png:search:hover",
			"disabledImage" : "/assetmissing.png",
			"pressedOffset" : [0,0]
		},
		
		"closeButton" : {
			"type" : "button",
			"position" : [379, 278],
			"base" : "/interface/scripted/fu_researchtreegui/buttons.png:close:default",
			"hover" : "/interface/scripted/fu_researchtreegui/buttons.png:close:hover",
			"disabledImage" : "/assetmissing.png",
			"pressedOffset" : [0,0]
		},
		
		"cheatBox" : {
			"type" : "textbox",
			"visible" : false,
			"position" : [10, 7],
			"fontSize" : 7,
			"text" : "",
			"enterKey" : "cheat",
			"hint" : ":)",
			"callback" : "null"
		},
		
		"searchList" : {
			"type" : "scrollArea",
			"rect" : [402, 50, 598, 284],
			"visible" : false,
			"children" : {
				"list" : {
					"type" : "list",
					"callback" : "researchSelected",
					"schema" : {
						"selectedBG" : "/assetmissing.png",
						"unselectedBG" : "/assetmissing.png",
						"spacing" : [0, 2],
						"memberSize" : [195, 16],
						"listTemplate" : {
							"icon" : {
								"type" : "image",
								"file" : "/assetmissing.png",
								"position" : [1, 1]
							},
							
							"title" : {
								"type" : "label",
								"position" : [19, 2],
								"value" : "null"
							}
						}
					}
				}
			}
        },
		
		"priceItem1" : {
			"type" : "itemslot",
			"position" : [405, 27], //iconsize 18 spacing 2
			"backingImage" : "/interface/scripted/fu_researchtreegui/itemSlot.png",
			"callback" : "null"
		},
		
		"priceItem2" : {
			"type" : "itemslot",
			"position" : [425, 27],
			"backingImage" : "/interface/scripted/fu_researchtreegui/itemSlot.png",
			"callback" : "null"
		},
		
		"priceItem3" : {
			"type" : "itemslot",
			"position" : [445, 27],
			"backingImage" : "/interface/scripted/fu_researchtreegui/itemSlot.png",
			"callback" : "null"
		},
		
		"priceItem4" : {
			"type" : "itemslot",
			"position" : [465, 27],
			"backingImage" : "/interface/scripted/fu_researchtreegui/itemSlot.png",
			"callback" : "null"
		},
		
		"priceItem5" : {
			"type" : "itemslot",
			"position" : [485, 27],
			"backingImage" : "/interface/scripted/fu_researchtreegui/itemSlot.png",
			"callback" : "null"
		},
		
		"priceItem6" : {
			"type" : "itemslot",
			"position" : [505, 27],
			"backingImage" : "/interface/scripted/fu_researchtreegui/itemSlot.png",
			"callback" : "null"
		},
		
		"priceItem7" : {
			"type" : "itemslot",
			"position" : [525, 27],
			"backingImage" : "/interface/scripted/fu_researchtreegui/itemSlot.png",
			"callback" : "null"
		},
		
		"priceItem8" : {
			"type" : "itemslot",
			"position" : [545, 27],
			"backingImage" : "/interface/scripted/fu_researchtreegui/itemSlot.png",
			"callback" : "null"
		},
		
		"priceItem9" : {
			"type" : "itemslot",
			"position" : [565, 27],
			"backingImage" : "/interface/scripted/fu_researchtreegui/itemSlot.png",
			"callback" : "null"
		}
	},
	
	"canvasClickCallbacks" : { "canvas" : "canvasClickEvent" },
	"scriptWidgetCallbacks" : [ "researchButton", "centerButton", "searchButton", "cheat", "researchSelected", "closeButton" ],
	
	"scripts" : ["/interface/scripted/fu_researchtreegui/researchTreeGUI.lua"],
	"scriptDelta" : 1
}