{
	"searchListRepopulationInterval" : 0.5,
	"idleRedrawInterval" : 0.1,
	"doubleClickTime" : 0.25,
	"doubleTapTime" : 1,
	"gridTileSize" : 19,
	"clickTime" : 0.15,
	"iconSizes" : 16,
	
	// "initiallyResearched" are researches the player will ALWAYS have. The trees grow from these researches
	// "hiddenResearch" are researches that are hidden until available. They also hide all of their children (childrens children to, and so on)
	"initiallyResearched" : [ "basic" ],
	"hiddenResearch" : [ "extraction4", "a1" ],
	
	// Non standard/default currencies will not be visible if the player doesn't have a recipe for them
	// Just have the currency item give the player a crafting recipe for itself that can't be used in any station (or that crafts 2 of itself into 1 of itself lel)
	// If you want it to be shown even when they have 0 of it
	"defaultCurrency" : "fuscienceresource",
	"currencies" : [
	//	[ resource name		display color		representing item		mini-icon],
		[ "fuscienceresource",		"#22FF22",		"fuscienceresource",	"/interface/scripted/fu_researchtreegui/currencyMiniIcons.png:research" ],
		[ "money",					"#FFFFFF",		"money",				"/interface/scripted/fu_researchtreegui/currencyMiniIcons.png:pixels" ],
		[ "essence",				"#FF22FF",		"essence",				"/interface/scripted/fu_researchtreegui/currencyMiniIcons.png:essence" ],
		[ "fuprecursorresource",	"#FFF522",		"fuprecursorresource",	"/interface/scripted/fu_researchtreegui/currencyMiniIcons.png:precursorData" ]
	],
	
	// Every research used in the tree MUST have an acronym.
	// Be advised, should you change the acronym, the system will think the player doesn't have the research you changed the acronym for
	// While research can't exist without an acronym, acronyms can exist without research
	// Make sure there are no duplicates of the same acronym!
	"acronyms" : {
		"BAS" : "basic",
		"SIF1" : "sifting",
		"EXT1" : "extraction1",
		"EXT2" : "extraction2",
		"EXT3" : "extraction3",
		"EXT4" : "extraction4",
		"A1" : "a1",
		"A2" : "a2",
		"A3" : "a3",
		"B2" : "b2"
	},
	
	"strings" : {
		// Currencies
		"fuscienceresource" : "Research",
		"fuprecursorresource" : "Precursor Data",
		
		// Text title/box
	//	research name	: [	research title,			research text ],
		"default"		: [ "Select a Research",	"Select a research by clicking one of the icons on the grid.\nYou can navigate the grid by dragging with the left mouse button.\nThe left button at the top left corner will move the view to the center of the tree, and the left button will open a list of researches, from which you can zoom to other researches." ],
		"basic"			: [ "Basic Knowledge",		"To even start researching anything, you must first learn the basics of scientific theory!" ],
		"extraction1"	: [ "Extraction I",			"Learn how to extract shit from bigger shit" ],
		"extraction2"	: [ "Extraction II",		"Ho boy! More shit to extract with!" ],
		"extraction3"	: [ "Extraction III",		"shit-extraktoar 4k at your service" ],
		"extraction4"	: [ "Extraction IV",		"Best shit extraction in the known universe!" ],
		"sifting"		: [ "Sifting",				"sand has good shit in it. I'm sure you can dig in it for usefull stuffz" ]
	},
	
	// The research tree definition
	// Here is where you build the tree itself, and define reseches as well as their ties to other ones.
	// Example definition:

//		"example" : {
//			"icon" : "image.png",
//			"children" : ["researchA", "researchB"],	>> OPTIONAL
//			"position" : [69, 420],
//			"blueprint" : ["myResearchedItem"],			>> OPTIONAL
//			"price" : 300								>> Costs this amount of "defaultCurrency"
//				>> OR
//			"price" : [["currency1", 300], ["currency2", 100]
//		}

	// And this added into the "acronyms" table:
	//	"EXA" : "example",								>> "example" research will be recognized with with the "EXA" acronym in the saved string
	
	
	"researchTree" : {
		"basic" : {
			"icon" : "/objects/crafting/matterassembler/prototyper3icon.png",
			"children" : ["extraction1", "sifting"],
			"position" : [0, 0]
		},
		
		"extraction1" : {
			"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
			"blueprint" : "durasteelassaultrifle",
			"children" : ["extraction2"],
			"position" : [-30, 30],
			"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100]]
		},
		
		"extraction2" : {
			"icon" : "/objects/crafting/powerstation/powerstation2icon.png",
			"blueprint" : "durasteelmachinepistol",
			"children" : ["extraction3"],
			"position" : [-30, 60],
			"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100], ["durasteelbar", 5]]
		},
		
		"extraction3" : {
			"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
			"blueprint" : "durasteelrevolver",
			"children" : ["extraction4"],
			"position" : [-60, 60],
			"price" : 1000
		},
		
		"extraction4" : {
			"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
			"blueprint" : "durasteelaxe",
			"children" : ["a1"],
			"position" : [-60, 90],
			"price" : 2000
		},
		
		"sifting" : {
			"icon" : "/objects/crafting/nanofabricator/nanofabricator3icon.png",
			"blueprint" : "durasteelbroadsword",
			"children" : ["a2"],
			"position" : [30, 30],
			"price" : 300
		},
		
		"a1" : {
			"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
			"blueprint" : "durasteeldagger",
			"children" : ["a2"],
			"position" : [95, 90],
			"price" : 200
		},
		
		"a2" : {
			"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
			"blueprint" : "durasteelgreataxe",
			"children" : ["a3", "b2"],
			"position" : [95, 30],
			"price" : 300
		},
		
		"a3" : {
			"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
			"blueprint" : "durasteelhammer",
			"position" : [125, 50],
			"price" : 400,
			"currency" : "fuprecursorresource"
		},
		
		"b2" : {
			"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
			"blueprint" : "durasteelkatana",
			"position" : [70, 50],
			"price" : 2000,
			"currency" : "fuprecursorresource"
		}
	}
	
}