{
	"defaultGridTileImage" : "/zb/researchTree/gridTile.png",
	"searchListRepopulationInterval" : 0.5,
	"idleRedrawInterval" : 0.1,
	"doubleClickTime" : 0,
	"clickTime" : 0.15,
	"iconSizes" : 16,
	"versionSplitString" : "~~~",

	"researchFiles" : [
	  "/zb/researchTree/fu_agriculture.config",
	  "/zb/researchTree/fu_chemistry.config",
	  "/zb/researchTree/fu_engineering.config",
	  "/zb/researchTree/fu_geology.config",
	  "/zb/researchTree/fu_power.config",
	  "/zb/researchTree/fu_craftsmanship.config",
	  "/zb/researchTree/fu_warcraft.config",
	  "/zb/researchTree/madness.config"
	],
	
	"externalScripts" : [],
	"initiallyResearched" : {},
	"hiddenResearch" : {},
	"acronyms" : {},
	"researchTree" : {},
	"cutsomGridTileImages":{},
	"versions":{},

	"currencies" : [
		[ "money", "#FFFFFF", "money", "/zb/researchTree/currencyMiniIcons.png:pixels" ],
		[ "essence", "#FF22FF", "essence", "/zb/researchTree/currencyMiniIcons.png:essence" ],
		[ "fuscienceresource", "#00F365", "fuscienceresource", "/zb/researchTree/frackinuniverseMiniIcons.png:research" ],
		[ "fumadnessresource", "#e43774", "fumadnessresource", "/zb/researchTree/frackinuniverseMiniIcons.png:madness" ],
		[ "fugeneticmaterial", "#35bdff", "fugeneticmaterial", "/zb/researchTree/frackinuniverseMiniIcons.png:geneticmaterial" ],
		[ "fuprecursorresource", "#ffea00", "fuprecursorresource", "/zb/researchTree/frackinuniverseMiniIcons.png:precursorData" ]
	],

	"strings" : {
		"info" : [ "Instructions", "Select a research by clicking one of the icons on the grid.\nYou can navigate the grid by dragging with the left mouse button.\n\n- The topmost button at the right corner closes the research interface.\n\n- The second button opens a list of research trees to pick from.\n\n- The third button opens a list of non-hidden research options. Click a research on the displayed to center the view on it. Click again to hide the list.\n\n- The fourth button will center the view on the middle of the tree, or the currently selected research.\n\n- The last button toggles ^orange;low quality mode^reset;. This makes the GUI jump to a position instead of panning to it, or the center button. In addition, dragging/navigating on the the main screen will update only after you release the mouse button. It is best to use the search list with this mode enabled." ],
		"currencies" : {
			"money" : "Pixels",
			"essence" : "Essence",
			"fuscienceresource" : "Research",
			"fumadnessresource" : "Madness",
			"fuprecursorresource" : "Protheon",
			"fugeneticmaterial" : "Genes"
		},
		"trees" : {},
		"research" : {}
	},

	"treeUnlocks" : {
		"frackinuniversemadness" : { "quests" : [ "outpostclue" ] }	//after the player completes scanning at the outpost, we give them this tree
	},

	"customConsumptionRules" : {},
	"treeIcons" : {}
}

