{
	"searchListRepopulationInterval" : 0.5,
	"idleRedrawInterval" : 0.1,
	"doubleClickTime" : 0.25,
	"doubleTapTime" : 1,
	"gridTileSize" : 19,
	"clickTime" : 0.15,
	"iconSizes" : 16,
	
	"researchFiles" : [],
	"externalScripts" : [],
	"initiallyResearched" : {},
	"hiddenResearch" : {},
	"acronyms" : {},
	"researchTree" : {},
	
	"currencies" : [
		[ "money", "#FFFFFF", "money", "/zb/researchTree/currencyMiniIcons.png:pixels" ],
		[ "essence", "#FF22FF", "essence", "/zb/researchTree/currencyMiniIcons.png:essence" ]
	],
	
	"strings" : {
		"info" : [ "Instructions", "Select a research by clicking one of the icons on the grid.\nYou can navigate the grid by dragging with the left mouse button.\n\n- The left most button at the upper part of the screen opens a list of research trees to pick from.\n- The second button will open a list of non-hidden research options. Clicking on a research on the displayed list will center the view on it. Click on the button again to hide the list.\n- The third button will center the view on the middle of the tree, or the currently selected research.\n- The last button toggles ^orange;low quality mode^reset;, which will make the GUI jump to a position instead of panning to it via the search list, or the center button. In addition, dragging/navigating on the the main screen will update only after you release the mouse button. It is best to use the search list with this mode enabled." ],
		"currencies" : {},
		"trees" : {},
		"research" : {}
	}
}

