{
	"researchTree" : {
		"frackinuniverse" : {

			"basic" : {
				"icon" : "/objects/crafting/matterassembler/prototyper3icon.png",
				"children" : ["extraction1", "sifting"],
				"position" : [0, 0]
			},
			
			"extraction1" : {
				"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
				"blueprint" : "durasteelassaultrifle",
				"children" : ["extraction2"],
				"position" : [-30, 30],
				"price" : [["durasteelbar", 5]]
			},
			
			"extraction2" : {
				"icon" : "/objects/crafting/powerstation/powerstation2icon.png",
				"blueprint" : "durasteelmachinepistol",
				"children" : ["extraction3"],
				"position" : [-60, 30],
				"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100], ["durasteelbar", 5]]
			},
			
			"extraction3" : {
				"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
				"blueprint" : "durasteelrevolver",
				"children" : ["extraction4"],
				"position" : [-90, 30],
				"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100]]
			},
			
			"extraction4" : {
				"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
				"blueprint" : "durasteelaxe",
				"children" : ["a1"],
				"position" : [-120, 30],
				"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100]]
			},
			
			"sifting" : {
				"icon" : "/objects/crafting/nanofabricator/nanofabricator3icon.png",
				"blueprint" : "durasteelbroadsword",
				"children" : ["sifting2"],
				"position" : [30, 30],
				"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100]]
			},
			"sifting2" : {
				"icon" : "/objects/crafting/nanofabricator/nanofabricator3icon.png",
				"blueprint" : "durasteelbroadsword",
				"children" : ["a2"],
				"position" : [60, 30],
				"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100]]
			},			
			"a1" : {
				"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
				"blueprint" : "durasteeldagger",
				"children" : ["a2"],
				"position" : [95, 90],
				"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100]]
			},
			
			"a2" : {
				"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
				"blueprint" : "durasteelgreataxe",
				"children" : ["a3", "b2"],
				"position" : [95, 30],
				"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100]]
			},
			
			"a3" : {
				"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
				"blueprint" : "durasteelhammer",
				"position" : [125, 50],
				"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100]]
			},
			
			"b2" : {
				"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
				"blueprint" : "durasteelkatana",
				"position" : [70, 50],
				"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100]]
			},
			
		        "metals1" : {
				"icon" : "/objects/crafting/matterassembler/prototyper3icon.png",
				"children" : ["metals2","alloys1"],
				"position" : [0, -30],
				"price" : [["durasteelbar", 5]]		        
		        }, // Lunari, Telebrium
		          "lunaricraft" : {},
		          "telebriumcraft" : {},

		        "metals2" : { // Protocite, Penumbrite, Zerchesium
				"icon" : "/objects/crafting/matterassembler/prototyper3icon.png",
				"children" : ["metals3","alloys2"],
				"position" : [0, -60],
				"price" : [["durasteelbar", 5]]			        
		        }, 
		          "protocraft" : {},
		          "penumbracraft" : {},
		          "zerchesiumcraft" : {},

		        "metals3" : { // Trianglium, Quietus, Irradium
				"icon" : "/objects/crafting/matterassembler/prototyper3icon.png",
				"children" : ["metals4","alloys3"],
				"position" : [0, -90],
				"price" : [["durasteelbar", 5]]			        
		        }, 
		          "triangliumcraft" : {},
		          "quietuscraft" : {},
		          "irradiumcraft" : {},

		        "metals4" : { // Prism, Effigium, Lasombrium
				"icon" : "/objects/crafting/matterassembler/prototyper3icon.png",
				"children" : ["metals5","alloys4"],
				"position" : [0, -120],
				"price" : [["durasteelbar", 5]]			        
		        }, 
		          "effigiumcraft" : {},
		          "lasombriumcraft" : {},
		          "prismcraft" : {},
		          
		        "metals5" : {  // Isogen, Pyreite, Xithricite
				"icon" : "/objects/crafting/matterassembler/prototyper3icon.png",
				"children" : ["metals6","alloys5"],
				"position" : [0, -150],
				"price" : [["durasteelbar", 5]]			        
		        },
		          "isogencraft" : {},
		          "pyreitecraft" : {},
		          "xithricitecraft" : {},
		        
		        "metals6" : { // Densinium
				"icon" : "/objects/crafting/matterassembler/prototyper3icon.png",
				"children" : ["alloys6"],
				"position" : [0, -180],
				"price" : [["durasteelbar", 5]]			        
		        }, 
		          "densiniumcraft" : {},
		          
		        "alloys1" : {// Carbon
				"icon" : "/objects/crafting/matterassembler/prototyper3icon.png",
				"children" : ["metals2","alloys1"],
				"position" : [-30, -30],
				"price" : [["durasteelbar", 5]]			        
		        }, 
		        "alloys2" : {// Advance Alloy
				"icon" : "/objects/crafting/matterassembler/prototyper3icon.png",
				"children" : ["metals2","alloys1"],
				"position" : [-30, -60],
				"price" : [["durasteelbar", 5]]			        
		        }, 
		        "alloys3" : {// Morphite
				"icon" : "/objects/crafting/matterassembler/prototyper3icon.png",
				"children" : ["metals2","alloys1"],
				"position" : [-30, -90],
				"price" : [["durasteelbar", 5]]		        
		        }, 
		        "alloys4" : {// Dense Alloy
				"icon" : "/objects/crafting/matterassembler/prototyper3icon.png",
				"children" : ["metals2","alloys1"],
				"position" : [-30, -120],
				"price" : [["durasteelbar", 5]]			        
		        }, 
		        "alloys5" : {// Tritanium
				"icon" : "/objects/crafting/matterassembler/prototyper3icon.png",
				"children" : ["metals2","alloys1"],
				"position" : [-30, -150],
				"price" : [["durasteelbar", 5]]			        
		        }, 
		        "alloys6" : {// Aetherium, Nocxium
				"icon" : "/objects/crafting/matterassembler/prototyper3icon.png",
				"children" : ["metals2","alloys1"],
				"position" : [-30, -180],
				"price" : [["durasteelbar", 5]]			        
		        }, 
		
		        "isotopes1" : {}, // Plutonium, Uranium
		        "isotopes2" : {}, // Tritium, Neptunium, Thorium
		        "isotopes3" : {}, // Enriched Plutonium, Enriched Uranium, Deuterium
		        "isotopes4" : {} // Ultronium      			
		}
	},
	
	"acronyms" : {
		"frackinuniverse" : {
			"BAS" : "basic",
			"SIF1" : "sifting",
			"SIF2" : "sifting2",
			"EXT1" : "extraction1",
			"EXT2" : "extraction2",
			"EXT3" : "extraction3",
			"EXT4" : "extraction4",
			
			"A1" : "a1",
			"A2" : "a2",
			"A3" : "a3",
			"B2" : "b2",
			
			"ME1" : "metals1",
			"ME2" : "metals2",
			"ME3" : "metals3",
			"ME4" : "metals4",
			"ME5" : "metals5",
			"ME6" : "metals6",
			"AL1" : "alloys1",
			"AL2" : "alloys2",
			"AL3" : "alloys3",
			"AL4" : "alloys4",
			"AL5" : "alloys5",
			"AL6" : "alloys6"			
		}
	},
	
	"strings" : {
		"currencies" : {
			"fuscienceresource" : "Research",
			"fuprecursorresource" : "Precursor Data"
		},
		
		"trees" : {
			"frackinuniverse" : "Frackin' Universe"
		},
		
		"research" : {
			"default"	: [ "Select a Research","Select a research by clicking one of the icons on the grid.\nYou can navigate the grid by dragging with the left mouse button.\nThe left button at the top left corner will move the view to the center of the tree, and the left button will open a list of researches, from which you can zoom to other researches." ],
			"basic"		: [ "Basic Knowledge",	"You have basic knowledge of science, but to really begin advancing, you'll need to branch out a bit more." ],
			"extraction1"	: [ "Extraction I",	"Learn the basics of resource extraction, and gain access to related tools." ],
			"extraction2"	: [ "Extraction II",	"You've mastered basic extraction. It's time to branch out into more advanced technology to increase your yields." ],
			"extraction3"	: [ "Extraction III",	"Further advancement in extraction will give you even greater utility in resource acquisition." ],
			"extraction4"	: [ "Extraction IV",	"Learn the art of Quantum extraction and advanced centrifuging." ],
			"sifting"	: [ "Sifting",		"Learn how to pull resources right from loose materials." ],
			"sifting2"	: [ "Sifting II",	"Gain access to the Powder Sifter, and pull a lot of useful resources from loose materials." ],
			
			"metals1"	: [ "Metals I",		"Learn how to work unusual alien metals (Telebrium, Lunari)" ],
			"metals2"	: [ "Metals II",	"More advanced alien metals can be worked (Protocite, Penumbrite, Zerchesium)." ],
			"metals3"	: [ "Metals III",	"Opens the ability to work with denser alien metals (Trianglium, Quietus, Irradium)." ],
			"metals4"	: [ "Metals IV",	"Exceptionally strange metals are workable. (Prisilite, Effigium, Lasombrium)" ],
			"metals5"	: [ "Metals V",		"Unlocks the ability to work with elemental metals (Isogen, Pyreite, Xithricite)." ],
			"metals6"	: [ "Metals VI",	"Shape and work with the densest of metals (Densinium)." ]
		}
	},

	"hiddenResearch" : {
		"frackinuniverse" : [ "EXT4", "A1" ]
	},
	
	"initiallyResearched" : {
		"frackinuniverse" : [ "BAS" ]
	},
	
	"currencies" : [
		[ "fuscienceresource", "#00F365", "fuscienceresource", "/zb/researchTree/frackinuniverseMiniIcons.png:research" ],
		[ "fuprecursorresource", "#20F0FF", "fuprecursorresource", "/zb/researchTree/frackinuniverseMiniIcons.png:research", true ]
	]
}