{
	"researchTree" : {
		"frackinuniverse" : {
			"basic" : {
				"icon" : "/objects/crafting/matterassembler/prototyper3icon.png",
				"children" : ["extraction1", "sifting", "metals1","isotopes1"],
				"position" : [0, 0]
			},			
			"extraction1" : {
				"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
				"blueprint" : "durasteelassaultrifle",
				"children" : ["extraction2"],
				"position" : [-30, 30],
				"price" : [["durasteelbar", 5]]
			},
			
			"extraction2" : {
				"icon" : "/objects/crafting/powerstation/powerstation2icon.png",
				"blueprint" : "durasteelmachinepistol",
				"children" : ["extraction3"],
				"position" : [-60, 30],
				"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100], ["durasteelbar", 5]]
			},
			
			"extraction3" : {
				"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
				"blueprint" : "durasteelrevolver",
				"children" : ["extraction4"],
				"position" : [-90, 30],
				"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100]]
			},
			
			"extraction4" : {
				"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
				"blueprint" : "durasteelaxe",
				"children" : ["a1"],
				"position" : [-120, 30],
				"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100]]
			},
			
			"sifting" : {
				"icon" : "/objects/crafting/nanofabricator/nanofabricator3icon.png",
				"blueprint" : "durasteelbroadsword",
				"children" : ["sifting2"],
				"position" : [30, 30],
				"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100]]
			},
			"sifting2" : {
				"icon" : "/objects/crafting/nanofabricator/nanofabricator3icon.png",
				"blueprint" : "durasteelbroadsword",
				"children" : ["a2"],
				"position" : [60, 30],
				"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100]]
			},			
			"a1" : {
				"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
				"blueprint" : "durasteeldagger",
				"children" : ["a2"],
				"position" : [95, 90],
				"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100]]
			},
			
			"a2" : {
				"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
				"blueprint" : "durasteelgreataxe",
				"children" : ["a3", "b2"],
				"position" : [95, 30],
				"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100]]
			},
			
			"a3" : {
				"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
				"blueprint" : "durasteelhammer",
				"position" : [125, 50],
				"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100]]
			},
			
			"b2" : {
				"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
				"blueprint" : "durasteelkatana",
				"position" : [70, 50],
				"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100]]
			},
			
		        "metals1" : {// Lunari, Telebrium
				"icon" : "/items/generic/crafting/fissionfurnace/solaricrystal.png",
				"blueprint" : "durasteelkatana",
				"children" : ["metals2","alloys1"],
				"position" : [0, -30],
				"price" : [["durasteelbar", 5]]		        
		        }, 

		        "metals2" : { // Protocite, Penumbrite, Zerchesium
				"icon" : "/items/generic/crafting/fissionfurnace/protocitebar.png",
				"children" : ["metals3","alloys2"],
				"position" : [0, -60],
				"price" : [["durasteelbar", 5]]			        
		        }, 

		        "metals3" : { // Trianglium, Quietus, Irradium
				"icon" : "/items/generic/crafting/fissionfurnace/quietusbar.png",
				"children" : ["metals4","alloys3"],
				"position" : [0, -90],
				"price" : [["durasteelbar", 5]]			        
		        }, 

		        "metals4" : { // Prism, Effigium, Lasombrium
				"icon" : "/items/generic/crafting/fissionfurnace/effigiumbar.png",
				"children" : ["metals5","alloys4"],
				"position" : [0, -120],
				"price" : [["durasteelbar", 5]]			        
		        }, 

		        "metals5" : {  // Isogen, Pyreite, Xithricite
				"icon" : "/items/generic/crafting/fissionfurnace/xithricitecrystal.png",
				"children" : ["metals6","alloys5"],
				"position" : [0, -150],
				"price" : [["durasteelbar", 5]]			        
		        },
		        
		        "metals6" : { // Densinium
				"icon" : "/items/generic/crafting/fissionfurnace/densiniumbar.png",
				"children" : ["alloys6"],
				"position" : [0, -180],
				"price" : [["durasteelbar", 5]]			        
		        }, 

		        "alloys1" : {// Carbon
				"icon" : "/items/generic/crafting/fissionfurnace/carbonplate.png",
				"children" : [],
				"position" : [-30, -30],
				"price" : [["durasteelbar", 5]]			        
		        }, 
		        "alloys2" : {// Advance Alloy
				"icon" : "/items/generic/crafting/fissionfurnace/advancealloy.png",
				"children" : [],
				"position" : [-30, -60],
				"price" : [["durasteelbar", 5]]			        
		        }, 
		        "alloys3" : {// Morphite
				"icon" : "/items/generic/crafting/fissionfurnace/eridianbar.png",
				"children" : [],
				"position" : [-30, -90],
				"price" : [["durasteelbar", 5]]		        
		        }, 
		        "alloys4" : {// Dense Alloy
				"icon" : "/items/generic/crafting/fissionfurnace/densealloy.png",
				"children" : [],
				"position" : [-30, -120],
				"price" : [["durasteelbar", 5]]			        
		        }, 
		        "alloys5" : {// Tritanium
				"icon" : "/items/generic/crafting/fissionfurnace/tritaniumbar.png",
				"children" : [],
				"position" : [-30, -150],
				"price" : [["durasteelbar", 5]]			        
		        }, 
		        "alloys6" : {// Aetherium
				"icon" : "/items/generic/crafting/fissionfurnace/aetheriumalloy.png",
				"children" : [ "alloys7" ],
				"position" : [-30, -180],
				"price" : [["durasteelbar", 5]]			        
		        }, 
		        "alloys7" : {// Nocxium
				"icon" : "/items/generic/crafting/fissionfurnace/nocxiumbar.png",
				"children" : [],
				"position" : [30, -180],
				"price" : [["durasteelbar", 5]]			        
		        }, 		
		        "isotopes1" : {// Plutonium, Uranium
				"icon" : "/items/generic/crafting/uraniumrod.png",
				"children" : ["isotopes2"],
				"position" : [30, 0],
				"price" : [["durasteelbar", 5]]			        
		        }, 
		        "isotopes2" : {// Tritium, Neptunium, Thorium
				"icon" : "/items/generic/crafting/isotopes/tritiumrod.png",
				"children" : ["isotopes3"],
				"position" : [30, -30],
				"price" : [["durasteelbar", 5]]			        
		        }, 
		        "isotopes3" : {// Enriched Plutonium, Enriched Uranium, Deuterium
				"icon" : "/items/generic/crafting/isotopes/enrichedplutonium.png",
				"children" : ["isotopes4"],
				"position" : [30, -60],
				"price" : [["durasteelbar", 5]]			        
		        }, 
		        "isotopes4" : {// Ultronium 
				"icon" : "/items/generic/crafting/isotopes/ultronium.png",
				"children" : [],
				"position" : [30, -90],
				"price" : [["durasteelbar", 5]]			        
		        }			
		}
	},
	
	"acronyms" : {
		"frackinuniverse" : {

			"BAS" : "basic",
			"SIF1" : "sifting",
			"SIF2" : "sifting2",
			"EXT1" : "extraction1",
			"EXT2" : "extraction2",
			"EXT3" : "extraction3",
			"EXT4" : "extraction4",
			
			"A1" : "a1",
			"A2" : "a2",
			"A3" : "a3",
			"B2" : "b2",
			
			"ME1" : "metals1",
			"ME2" : "metals2",
			"ME3" : "metals3",
			"ME4" : "metals4",
			"ME5" : "metals5",
			"ME6" : "metals6",
			"AL1" : "alloys1",
			"AL2" : "alloys2",
			"AL3" : "alloys3",
			"AL4" : "alloys4",
			"AL5" : "alloys5",
			"AL6" : "alloys6",
			"AL7" : "alloys7",
			"ISO1" : "isotopes1",
			"ISO2" : "isotopes2",
			"ISO3" : "isotopes3",
			"ISO4" : "isotopes4"		
		}
	},
	
	"strings" : {
		"currencies" : {
		        "money" : "Pixels",
		        "essence" : "Essence",
			"fuscienceresource" : "Research",
			"fuprecursorresource" : "Precursor Data"
		},
		
		"trees" : {
			"frackinuniverse" : "TEST (FU)"
		},
		
		"research" : {
			"default"	: [ "Select a Research","NOT ACTIVATED YET. DO NOT USE, AS THIS CURRENTLY DOES NOTHING AT ALL. THIS IS PLACEHOLDER CONTENT. Select a research by clicking one of the icons on the grid.\nYou can navigate the grid by dragging with the left mouse button.\nThe left button at the top left corner will move the view to the center of the tree, and the left button will open a list of researches, from which you can zoom to other researches." ],
			"basic"		: [ "Basic Knowledge",	"^orange;Tier 0^reset;\n\nNOT ACTIVATED YET. DO NOT USE, AS THIS CURRENTLY DOES NOTHING AT ALL. THIS IS PLACEHOLDER CONTENT.You have basic knowledge of science, but to really begin advancing, you'll need to branch out a bit more." ],
			"extraction1"	: [ "Extraction I",	"^orange;Tier 1^reset;\n\nLearn the basics of resource extraction, and gain access to related tools." ],
			"extraction2"	: [ "Extraction II",	"^orange;Tier 2^reset;\n\nYou've mastered basic extraction. It's time to branch out into more advanced technology to increase your yields." ],
			"extraction3"	: [ "Extraction III",	"^orange;Tier 4^reset;\n\nFurther advancement in extraction will give you even greater utility in resource acquisition." ],
			"extraction4"	: [ "Extraction IV",	"^orange;Tier 5^reset;\n\nLearn the art of Quantum extraction and advanced centrifuging." ],
			"sifting"	: [ "Sifting",		"^orange;Tier 2^reset;\n\nLearn how to pull resources right from loose materials." ],
			"sifting2"	: [ "Sifting II",	"^orange;Tier 4^reset;\n\nGain access to the Powder Sifter, and pull a lot of useful resources from loose materials." ],
			
			"metals1"	: [ "Metals I",		"^orange;Tier 2^reset;\n\nYou've managed to unlock the secrets of working with basic alien metal types often found on ^cyan;Crystalline^reset; and ^cyan;Moon^reset; biomes. \n\nUnlocks: ^green;Telebrium, Lunari^reset;" ],
			"metals2"	: [ "Metals II",	"^orange;Tier 3^reset;\n\nMore advanced alien metals with stranger qualities can be worked. Often, these can be found on ^cyan;Penumbra, Mountainous^reset; and ^cyan;Protoworld^reset; biomes. \n\nUnlocks: ^green;Protocite, Penumbrite, Zerchesium^reset;." ],
			"metals3"	: [ "Metals III",	"^orange;Tier 4^reset;\n\nYour scientific explorations have led to the ability to work with more exotic metals found often on ^cyan;Tar, Atropus^reset; and ^cyan;Irradiated^reset; biomes. \n\nUnlocks: ^green;Trianglium, Quietus, Irradium^reset;." ],
			"metals4"	: [ "Metals IV",	"^orange;Tier 5^reset;\n\nExceptionally strange metals are workable now, though obtaining them could prove dangerous. More elusive than other metals, you could try places such as ^cyan;Chromatic^reset; or ^cyan;Lightless^reset; biomes. \n\nUnlocks: ^green;Prisilite, Effigium, Lasombrium^reset;" ],
			"metals5"	: [ "Metals V",		"^orange;Tier 6^reset;\n\nUnlocks the ability to work with elemental metals found on extremely dangerous worlds such as ^cyan;Infernus, Ice Waste^reset; or ^cyan;Aether Sea^reset; biomes. \n\nUnlocks: ^green;Isogen, Pyreite, Xithricite^reset;." ],
			"metals6"	: [ "Metals VI",	"^orange;Tier 7^reset;\n\nShape and work with the densest of known metals. You can locate this powerful mineral on biomes such as ^cyan;Sulphuric^reset; or ^cyan;Cybersphere^reset; biomes, or the more dangerous (but rewarding) ^cyan;Gas Giant^reset; biome. \n\nUnlocks: ^green;Densinium^reset;." ],
			
			"alloys1"	: [ "Alloys I",		"^orange;Tier 2^reset;\n\nLearn to work with Carbon alloy" ],
			"alloys2"	: [ "Alloys II",	"^orange;Tier 3^reset;\n\nGain the ability to work with Advanced Alloy" ],
			"alloys3"	: [ "Alloys III",	"^orange;Tier 4^reset;\n\nYou can now shape and work with Morphite alloy." ],
			"alloys4"	: [ "Alloys IV",	"^orange;Tier 5^reset;\n\nDense" ],
			"alloys5"	: [ "Alloys V",		"^orange;Tier 6^reset;\n\nTritanium" ],
			"alloys6"	: [ "Alloys VI",	"^orange;Tier 7^reset;\n\nAether" ],
			"alloys7"	: [ "Alloys VII",	"^orange;Tier 7^reset;\n\nNocxium" ],
			
			"isotopes1"	: [ "Isotopes I",	"^orange;Tier 5^reset;\n\nYou have basic understanding of nuclear materials, and can store and use Plutonium and Uranium without a problem." ],
			"isotopes2"	: [ "Isotopes II",	"^orange;Tier 6^reset;\n\nYou've learned to harness Thorium, Neptunium, and can fashion enriched plutonium and uranium in your lab." ],
			"isotopes3"	: [ "Isotopes III",	"^orange;Tier 7^reset;\n\nYou've got the know-how to handle all but the most hostile of radioactive materials." ],
			"isotopes4"	: [ "Isotopes IV",	"^orange;Tier 7^reset;\n\nYou can work with all known radioactive material and are able to create Ultronium." ]

			//research per tier [0,25,50,200,500,1000,2600,5500]??
			//1 Basic Metalworking (Copper, Iron, Core Fragment) 
			//								"ironworking"	: [ "Basic Metalworking","^orange;Tier 1^reset;\n\nYou've learned to work with basic metals. You can smelt ^orange;Coal^reset;, ^orange;Copper^reset;, and ^orange;Iron^reset. They can be found on many types of worlds." ],

			    //2 Steelworking (Tungsten) 				"steelworking" : [ "Steelworking","^orange;Tier 2^reset;\n\nYou now understand how to work with ^orange;Tungsten^reset;. This formidable resource has a super-high melting point and makes an excellent metal for many purposes. You can find it on ^green;Threat 2^reset; worlds, primarily ^cyan;Forest^reset; and ^cyan;Desert^resset; biomes." ],
			      //2 Precious Metals (Silver, Gold, Lead, Magnesite)	"preciousmetals" : [ "Precious Metals","^orange;Tier 2^reset;\n\nThanks to your knowledge continuing to grow you are now able to work with ^orange;Silver^reset;, ^orange;Gold^reset; and ^orange;Lead^reset;. While silver and gold are valuable, Lead will give you the basics for starting with alloys." ],
			      //2 Lunar Metal (Telebrium) 				"lunarmetals" : [ "Lunar Metal","^orange;Tier 2^reset;\n\nYou've learned how to work with Telebrium, a rare metal unique to ^cyan;Moon^reset; biomes. With it you'll be able to fashion some truly interesting gear." ],	
			      
			      //3 Advanced Metal (Titanium, Zerchesium) 		"advancedmetal" : [ "Advanced Metal","^orange;Tier 3^reset;\n\n^orange;Titanium^reset; and ^orange;Zerchesium^reset; are tough metals able to resist absurd amounts of punishment. This makes them quite useful for weapons, armor and machinery. You'll find ^orange;Titanium^reset; on ^cyan;Threat 3^reset; worlds and ^orange;Zerchesium^reset; tends to be located in few places save for ^cyan;Sulphuric^reset; and ^cyan;Mountainous^reset; biomes." ],	
			        //3 Energy-Rich Metal (Protocite)
			        //3 Entropic Metal (Lasombrium)
			        
			        //4 Dense Metals (Durasteel)
			          //4 Biomorphic Metal (Quietus)
			          //4 Ultraconductive Metal (Trianglium)
			          //4 Super-Fissionable Metal (Irradium)
			          
			           //5 Superior Metals(Aegisalt,Ferozium,Violium)
			             //5 Quantum-State Metals (Effigium)
			             
			             //6 Peerless Metals (Solarium)
			               //6 Ultra-Durable Metal (Densinium)
			               //6 Elemental Metal (Isogen, Pyreite)
			               
			                   //7 Xeno Metals (Nocxium)

		       //3 Alloys I - Carbon
			 //4 Alloys II - Advance Alloy
			   //5 Alloys III - Dense Alloy
			     //6 Alloys IV - Tritanium
			       //7 Alloys V - Aetherium Alloy
                                       
			//1 Basic Crystals (Crystal)
			
			    // 2 Fine Crystals (Lunari, Ice Crystal)
			      
			      //3 Diamondcrafting (Diamond)
			        //3 Dense Gemstones (Penumbrite)
			        
			          //4 Metallic Crystals (Prisilite)
			          
			            //5 Muta-Crystal (Blood Diamond)
			            
			               // 6 Xeno Crystals (Xithricite)
		}
	},

	"hiddenResearch" : {
		"frackinuniverse" : [ "EXT4", "A1" ]
	},
	
	"initiallyResearched" : {
		"frackinuniverse" : [ "BAS" ]
	},
	
	"currencies" : [
		[ "fuscienceresource", "#00F365", "fuscienceresource", "/zb/researchTree/frackinuniverseMiniIcons.png:research" ],
		[ "fuprecursorresource", "#20F0FF", "fuprecursorresource", "/zb/researchTree/frackinuniverseMiniIcons.png:precursorData", true ]
	]
}