{
	"researchTree" : {
		"frackinuniverse" : {
			"basic" : {
				"icon" : "/objects/crafting/matterassembler/prototyper3icon.png",
				"children" : ["extraction1", "sifting"],
				"position" : [0, 0]
			},
			
			"extraction1" : {
				"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
				"blueprint" : "durasteelassaultrifle",
				"children" : ["extraction2"],
				"position" : [-30, 30],
				"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100]]
			},
			
			"extraction2" : {
				"icon" : "/objects/crafting/powerstation/powerstation2icon.png",
				"blueprint" : "durasteelmachinepistol",
				"children" : ["extraction3"],
				"position" : [-30, 60],
				"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100], ["durasteelbar", 5]]
			},
			
			"extraction3" : {
				"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
				"blueprint" : "durasteelrevolver",
				"children" : ["extraction4"],
				"position" : [-60, 60],
				"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100]]
			},
			
			"extraction4" : {
				"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
				"blueprint" : "durasteelaxe",
				"children" : ["a1"],
				"position" : [-60, 90],
				"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100]]
			},
			
			"sifting" : {
				"icon" : "/objects/crafting/nanofabricator/nanofabricator3icon.png",
				"blueprint" : "durasteelbroadsword",
				"children" : ["a2"],
				"position" : [30, 30],
				"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100]]
			},
			
			"a1" : {
				"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
				"blueprint" : "durasteeldagger",
				"children" : ["a2"],
				"position" : [95, 90],
				"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100]]
			},
			
			"a2" : {
				"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
				"blueprint" : "durasteelgreataxe",
				"children" : ["a3", "b2"],
				"position" : [95, 30],
				"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100]]
			},
			
			"a3" : {
				"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
				"blueprint" : "durasteelhammer",
				"position" : [125, 50],
				"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100]]
			},
			
			"b2" : {
				"icon" : "/objects/crafting/extractionlab/extractionlabicon.png",
				"blueprint" : "durasteelkatana",
				"position" : [70, 50],
				"price" : [["fuscienceresource", 500], ["fuprecursorresource", 100]]
			}
		}
	},
	
	"acronyms" : {
		"frackinuniverse" : {
			"BAS" : "basic",
			"SIF1" : "sifting",
			"EXT1" : "extraction1",
			"EXT2" : "extraction2",
			"EXT3" : "extraction3",
			"EXT4" : "extraction4",
			"A1" : "a1",
			"A2" : "a2",
			"A3" : "a3",
			"B2" : "b2"
		}
	},
	
	"strings" : {
		"currencies" : {
			"fuscienceresource" : "Research",
			"fuprecursorresource" : "Precursor Data"
		},
		
		"trees" : {
			"frackinuniverse" : "Frackin' Universe"
		},
		
		"research" : {
			"default"		: [ "Select a Research",	"Select a research by clicking one of the icons on the grid.\nYou can navigate the grid by dragging with the left mouse button.\nThe left button at the top left corner will move the view to the center of the tree, and the left button will open a list of researches, from which you can zoom to other researches." ],
			"basic"			: [ "Basic Knowledge",		"To even start researching anything, you must first learn the basics of scientific theory!" ],
			"extraction1"	: [ "Extraction I",			"Learn how to extract shit from bigger shit" ],
			"extraction2"	: [ "Extraction II",		"Ho boy! More shit to extract with!" ],
			"extraction3"	: [ "Extraction III",		"shit-extraktoar 4k at your service" ],
			"extraction4"	: [ "Extraction IV",		"Best shit extraction in the known universe!" ],
			"sifting"		: [ "Sifting",				"sand has good shit in it. I'm sure you can dig in it for usefull stuffz" ]
		}
	},

	"hiddenResearch" : {
		"frackinuniverse" : [ "EXT4", "A1" ]
	},
	
	"initiallyResearched" : {
		"frackinuniverse" : [ "BAS" ]
	},
	
	"currencies" : [
		[ "fuscienceresource", "#00F365", "fuscienceresource", "/zb/researchTree/frackinuniverseMiniIcons.png:research" ],
		[ "fuprecursorresource", "#20F0FF", "fuprecursorresource", "/zb/researchTree/frackinuniverseMiniIcons.png:research", true ]
	]
}