{
	"researchTree" : {
		"fu_agriculture" : {
                        "foraging" : {
                                "icon" : "/objects/crafting/upgradeablecraftingobjects/craftingfarm/craftingfarmicon.png",
                                "position" : [60, -120],
                                "children" : [ "agriculture" ],
                                "price" : [["fuscienceresource", 120],["dirtmaterial", 10],["cobblestonematerial", 10],["mud", 4]],
                                "unlocks" : [ "craftingfarm", "woodenwateringcan", "scarecrow", "mothtrap", "bugnet", "fishingrod" ]
                        },
                                "agriculture" : {
                                        "icon" : "/objects/crafting/fu_growingtray/fu_growingtray_inv.png",
                                        "position" : [0, 0],
                                        "children" : [ "beekeeping", "botany", "booze" ],
                                        "price" : [["fuscienceresource", 360]],
                                        "unlocks" : [ "fu_growingtray", "farmwell", "fufarmstorage", "eggincubator", "fuchickenfeeder", "fuhaypilewheelbarrow","fuhayrollwheelbarrow", "rosebushlarge", "rosebushlarge_box", "rosebushmed", "rosebushmed_box", "rosebushsmall", "rosebushsmall_box" ]
                                },	

                                        "booze" : {
                                                "icon" : "/items/generic/drinks/rums/agedrum.png",
                                                "position" : [0, 30],
                                                "children" : [ ],
                                                "price" : [["fuscienceresource", 120]],
                                                "unlocks" : [ "boozekit", "rainbarrel", "beerkeg","fermenter", "champagnebucket", "distillery","mashingtun" ]
                                        },	

                                        "beekeeping" : {
                                                "icon" : "/bees/combs/normalcomb.png",
                                                "position" : [0, -30],
                                                "children" : [ ],
                                                "price" : [["fuscienceresource", 500]],
                                                "unlocks" : [ "beestation" ]
                                        },	

                                        "botany" : {
                                                "icon" : "/objects/crafting/designlab/designlab1icon.png",
                                                "position" : [30, 0],
                                                "children" : [ "botany2" ],
                                                "price" : [["fuscienceresource", 360]],
                                                "unlocks" : [ "designlab" ]
                                        },	
                                                "botany2" : {
                                                        "icon" : "/objects/crafting/designlab/designlab1icon.png",
                                                        "position" : [60, 0],
                                                        "children" : [ "genetics" ],
                                                        "price" : [["fuscienceresource", 1560]],
                                                        "unlocks" : [ "clonelab" ]
                                                },
                                                        "genetics" : {
                                                                "icon" : "/interface/statuses/runboost.png",
                                                                "position" : [60, -30],
                                                                "children" : [ "genetics2"],
                                                                "price" : [["fuscienceresource", 180]],
                                                                "unlocks" : [ "xenostation", "genesequencer" ]
                                                        },
                                                                "genetics2" : {
                                                                        "icon" : "/interface/statuses/runboost.png",
                                                                        "position" : [60, -60],
                                                                        "children" : [  ],
                                                                        "price" : [["fuscienceresource", 180]],
                                                                        "unlocks" : [ "xenostationadvnew" ]
                                                                }
		}
	},
	
	"acronyms" : {
		"fu_agriculture" : {
			"BASICTRAINING" : "survival_1",	
                        "SC2" : "foraging",
                                "SC3" : "agriculture",
                                        "BOOZE" : "booze",
                                        "BEES" : "beekeeping",
                                        "BOTANY1" : "botany",
                                                "BOTANY2" : "botany2",
                                                        "GENETICS" : "genetics",
                                                                "GENETICS2" : "genetics2"
		}
	},

	"strings" : {
		"currencies" : {
		    "money" : "Pixels",
		    "essence" : "Essence",
			"fuscienceresource" : "Research",
			"fuprecursorresource" : "Precursor Data"
		},
		
		"trees" : {
			"fu_agriculture" : "^#ff180c;Agriculture^reset;"
		},
		
		"research" : {
			"default"	: [ "Select a Research",". Select a research by clicking one of the icons on the grid.\nYou can navigate the grid by dragging with the left mouse button.\nThe left button at the top left corner will move the view to the center of the tree, and the left button will open a list of researches, from which you can zoom to other researches." ],
			
			"survival_1"	: [ "Basic Training",	"^orange;Tier 1^reset;\n\nYour training, thanks to four years in the Protectorate Academy, provides you with basic survival skills to keep you alive for extended periods in the event of a crash." ],

                        "foraging" : ["Foraging","^orange;Tier 1^reset;\n\nFinding useful resources in the wild and making the best of them is one of the most essential survival skills one can possess. \n\nThrough this specialized knowledge you'll be able to branch into ^green;tool making^reset;, ^green;biological sciences^reset;, ^green;animal husbandry^reset; and ^green;agriculture^reset;.\n\n^yellow;Did you know?^reset;: Fact player could find useful."],
                        "agriculture" : ["Agriculture","^orange;Tier 1^reset;\n\nCreate thriving farms ripe with harvestable crops."],
			"botany" : ["Botany","^orange;Tier 1^reset;\n\nFurther developing your agricultural knowledge, you now have firsthand experience with plants and are able to combine them to create new types."],
			"botany2" : ["Cloning","^orange;Tier 2^reset;\n\nYou've moved from basic planting and growing of crops to actually delving into ways to improve them through cloning and crossbreeding various strains."],
                        "genetics" : ["Genetics","^orange;Tier 1^reset;\n\nYou've progressed well into the Life Sciences, and are now ready to dive into this rich and fascinating field.\n\nYou'll get access to the ^green;Sprouting Table^reset;, which in turn will allow you to (poorly) extract ^orange;Genetic Material^reset; for use in experiments."],
			"genetics2" : ["Genetics II","^orange;Tier 1^reset;\n\nYou've progressed well into the Life Sciences, and are now ready to dive into this rich and fascinating field.\n\nYou'll get access to the ^green;Sprouting Table^reset;, which in turn will allow you to (poorly) extract ^orange;Genetic Material^reset; for use in experiments."],
                        "beekeeping"	: [ "Beekeeping",	"^orange;Tier 1^reset;\n\nThrough knowledge of woodworking and biology you are able to combine the best of both worlds and delve into the world of beekeeping. This can prove exceptionally lucrative if you don't mind a little hard work." ],
			"booze" : ["Brewing","^orange;Tier 1^reset;\n\nYou are able to combine your knowledge of science, agriculture and craftsmanship to brew delicious and valuable alcoholic beverages.\n\n^yellow;Did you know?^reset;: Frackin Universe incorporated this from kingofcrows way back in 2015?"]
                }
	},

	"cutsomGridTileImages":{ "fu_agriculture" : "/zb/researchTree/gridTile.png" },

	"hiddenResearch" : {
		"fu_agriculture" : [ ]
	},

	"versions":{
	  "fu_agriculture" : "0.0971"
	},	
	"initiallyResearched" : {
		"fu_agriculture" : [ ]
	},
	
	"currencies" : []
}
