{
    "researchTree" : {
        "fu_agriculture" : {
            "survival_1" : {
                    "icon" : "/items/tools/miningtools/beamaxe.png",
                    "position" : [40, 0],
                    "children" : [ "foragingn" ],
                    "price" : [ ],
                    "unlocks" : [ "climbingrope", "roastedcarrot", "salve" ]
            },
    
            "foragingn" : {
                    "icon" : "/objects/crafting/upgradeablecraftingobjects/craftingfarm/craftingfarmicon.png",
                    "position" : [0, 0],
                    "children" : [ "crops1", "survival1", "gathering1", "farming1", "husbandry1", "bees1", "fishing1" ],
                    "price" : [["fuscienceresource", 90],["dirtmaterial", 10],["cobblestonematerial", 10],["darkwoodmaterial", 10]],
                    "unlocks" : [ "craftingfarm", "fuprotectorateflag", "hoe", "woodenwateringcan", "farmwell", "bugnet", "fuwaterbarrel", "scarecrow", "huntingspear", "flare", "flashlight_new" ]
            },
    
            "crops1" : {
                    "icon" : "/objects/farmables/potato/potatoseedicon.png",
                    "position" : [0, 40],
                    "children" : [ "crops2", "xenolab1", "kadavan" ],
                    "price" : [["fuscienceresource", 120],["livingroot", 2]],
                    "unlocks" : [ "designlab", "sproutingtable", "potatoseed", "cornseed", "wheatseed", "riceseed", "mushroomseed", "carrotseed", "tomatoseed", "chiliseed", "avesmingoseed", "bananaseed", "grapesseed", "kiwiseed", "pineappleseed", "pearlpeaseed", "feathercrownseed", "beakseedseed", "eggshootseed", "dirturchinseed", "wartweedseed", "pussplumseed", "toxictopseed", "oculemonseed", "bonebooseed", "coralcreepseed", "reefpodseed", "currentcornseed", "boltbulbseed", "diodiaseed", "automatoseed" ]
            },
            "crops2" : {
                    "icon" : "/objects/farmables/cotton/cottonseedicon.png",
                    "position" : [0, 80],
                    "children" : [ "explorationplants1","utilityplants1","combatplants1" ],
                    "price" : [["fuscienceresource", 750],["fugeneticmaterial", 10]],
                    "unlocks" : [ "cottonseed", "coffeeseed", "sugarcaneseed", "cocoaseed", "cinnamonseed", "neonmelonseed", "isn_meatplant", "hopsseed", "miraclegrassseed", "miraclegrass", "bambooseed", "ff_bambooshoot", "algaeseed", "algaegreen" ]
            },
    
            "explorationplants1" : {
                    "icon" : "/objects/farmables/wubstem/wubstemseedicon.png",
                    "position" : [-60, 120],
                    "children" : [ "explorationplants2" ],
                    "price" : [["fuscienceresource", 2000],["fugeneticmaterial", 80]],
                    "unlocks" : [ "nissseed", "nisscap", "kamaranpodsplant", "kamaranpods", "fusnowberryseed", "fusnowberry", "slimeplantseed", "slimeleaf", "wubstemseed", "wubstem", "diodiahybridseed", "diodiahybrid", "talonseedseed", "talonseed", "mireurchinseed", "mireurchin" ]
            },
            "explorationplants2" : {
                    "icon" : "/objects/farmables/crystalplant/crystalplantseedicon.png",
                    "position" : [-90, 160],
                    "children" : [ "explorationplants3", "aquaticplants" ],
                    "price" : [["fuscienceresource", 4000],["fugeneticmaterial", 160]],
                    "unlocks" : [ "fuspongeweedseed", "fuspongeweed", "itaseed", "itahead", "pasakavineseed", "pasaka", "whitespine", "whitespineshell", "crystalplantseed", "crystalplantedible" ]
            },
            "explorationplants3" : {
                    "icon" : "/objects/farmables/lumivine/lumivineseedicon.png",
                    "position" : [-110, 200],
                    "children" : [ "explorationplants4", "garpberry" ],
                    "price" : [["fuscienceresource", 6000],["fugeneticmaterial", 240]],
                    "unlocks" : [ "lactariusindigoseed", "lactariusindigo", "zathiseed", "zathitails", "ghostmushroomseed", "ghostmushroom", "lumivineseed", "lumivine", "darklightflower", "darklightblossom" ]
            },
            "explorationplants4" : {
                    "icon" : "/objects/farmables/quellstem/quellstemicon.png",
                    "position" : [-120, 240],
                    "children" : [  ],
                    "price" : [["fuscienceresource", 8000],["fugeneticmaterial", 320]],
                    "unlocks" : [ "guamseed", "guam", "dragonsbeardseed", "dragonsbeard", "quellstem", "quellstembud", "kramil", "kramilspine", "blizzberryseed", "blizzberry", "herrodbush", "herrodbushgem" ]
            },
            
            "utilityplants1" : {
                    "icon" : "/objects/farmables/brackentree/brackentreeicon.png",
                    "position" : [0, 120],
                    "children" : [ "utilityplants2", "blisterbush" ],
                    "price" : [["fuscienceresource", 2000],["fugeneticmaterial", 80]],
                    "unlocks" : [ "brackentreeseed", "varanberryseed", "varanberry", "cellpodsplant", "cellpods", "onionseed", "onion", "kirifruitseed", "kirifruit", "oonfortaseed", "oonfortaglobule", "goldshroomseed", "goldshroom" ]
            },
            "utilityplants2" : {
                    "icon" : "/objects/farmables/mutavisk/mutaviskseedicon.png",
                    "position" : [0, 160],
                    "children" : [ "utilityplants3", "aquaticplants", "energeticplants" ],
                    "price" : [["fuscienceresource", 4000],["fugeneticmaterial", 160]],
                    "unlocks" : [ "mutaviskseed", "mutavisksilk", "poetree", "erithianalgaeseed", "erithianalgae", "jillyrootseed", "jillyroot", "biscornseed", "biscorn", "vextongueseed", "vextonguestamen" ]
            },
            "utilityplants3" : {
                    "icon" : "/objects/farmables/gazelemon/gazelemonseedicon.png",
                    "position" : [0, 200],
                    "children" : [ "utilityplants4", "garpberry", "aenema" ],
                    "price" : [["fuscienceresource", 6000],["fugeneticmaterial", 240]],
                    "unlocks" : [ "gazelemonseed", "gazelemon", "gemglowseed", "gemglow", "ighantseed", "ighantbulb", "springvaultseed", "springvaultcoil", "fubioshroomblue", "fubioshroomgreen", "fubioshroomred", "fubioshroompurple", "fubioshroomyellow", "ff_biolight1", "ff_biolight2", "ff_biolight3", "ff_biolight4", "ff_biolight5" ]
            },
            "utilityplants4" : {
                    "icon" : "/objects/farmables/tetherhookseed/tetherhookseedicon.png",
                    "position" : [0, 240],
                    "children" : [ "soulleaf" ],
                    "price" : [["fuscienceresource", 8000],["fugeneticmaterial", 320]],
                    "unlocks" : [ "caprioleplantseed", "capriole", "minkocoapodseed", "minkocoapod", "garikleaf", "garikleafblossom", "victorleaf", "victorleafbud", "tetherhookseed", "tetherhookwheel" ]
            },
            "soulleaf" : {
                    "icon" : "/objects/farmables/soulleaf/fusoulleafseedicon.png",
                    "position" : [0, 280],
                    "children" : [ ],
                    "price" : [["fuscienceresource", 21600],["essence", 1000], ["precursorfluid", 50]],
                    "unlocks" : [ "fusoulleafseed" ]
            },
            
            "combatplants1" : {
                    "icon" : "/objects/farmables/leafshell/leafshellseedicon.png",
                    "position" : [60, 120],
                    "children" : [ "combatplants2", "blisterbush", "thornitox" ],
                    "price" : [["fuscienceresource", 2000],["fugeneticmaterial", 80]],
                    "unlocks" : [ "goldenrootseed", "goldenroot", "vanusflowerseed", "vanusflower", "leafshellseed", "leafshell", "ginsengseed", "ginseng", "littlerascalseed", "littlerascal", "bloodrootseed", "bloodroot", "naileryseed", "nailery", "nailbomb" ]
            },
            "combatplants2" : {
                    "icon" : "/objects/farmables/melodistar/melodistarseedicon.png",
                    "position" : [90, 160],
                    "children" : [ "combatplants3", "energeticplants", "throwableplants1" ],
                    "price" : [["fuscienceresource", 4000],["fugeneticmaterial", 160]],
                    "unlocks" : [ "shinyacornseed", "shinyacorn", "melodistarseed", "melodistar", "littlegoodberryseed", "littlegoodberry", "yellowfootseed", "yellowfoot", "sweetscoopseed", "sweetscoop", "stranglevineseed", "stranglevineroot", "tinselbush", "tinselbushsprout" ]
            },
            "combatplants3" : {
                    "icon" : "/objects/farmables/lasherplant/lasherplantseedicon.png",
                    "position" : [110, 200],
                    "children" : [ "combatplants4", "aenema" ],
                    "price" : [["fuscienceresource", 6000],["fugeneticmaterial", 240]],
                    "unlocks" : [ "batterystem", "batterystemcharge", "silverleafseed", "silverleaf", "rockrootseed", "rockroot", "teratomatoseed", "teratomato", "lasherplantseed", "lasherstem", "pinkloomseed", "pinkloom", "fayshroomseed", "fayshroom", "bladetree", "bladetreeblade" ]
            },
            "combatplants4" : {
                    "icon" : "/objects/farmables/corvexsprout/corvexseedicon.png",
                    "position" : [120, 240],
                    "children" : [  ],
                    "price" : [["fuscienceresource", 8000],["fugeneticmaterial", 320]],
                    "unlocks" : [ "corvexseed", "corvex", "porphisplantseed", "porphisblossom", "vashtaplantseed", "vashtaclaw", "vashtagun", "fletchweed", "fletchweedstem", "beetlesproutseed", "beetlesproutflower", "petrifiedrootseed", "petrifiedroot", "nakatiseed", "nakatibark", "tentacleplant", "tentacleproduce" ]
            },
            
            "kadavan" : {
                    "icon" : "/items/generic/produce/bolbohn.png",
                    "position" : [40, 40],
                    "children" : [ ],
                    "price" : [["fuscienceresource", 500],["cacti", 10]],
                    "unlocks" : [ "bolbohnseed", "bolbohn", "dunestalkseed", "dunestalk", "avikanspiceplantseed", "avikanspices", "avikancactusseed", "kadavancactus" ]
            },
            
            "aquaticplants" : {
                    "icon" : "/objects/farmables/voritseed/voritseedicon.png",
                    "position" : [-50, 175],
                    "children" : [  ],
                    "price" : [["fuscienceresource", 800],["kelp", 10]],
                    "unlocks" : [ "bluemelonseed", "bluemelon", "goldenseaspongeplant", "goldenseasponge", "piruseed", "pirufrond", "aquapodseed", "aquapod", "voritseed", "voritcap" ]
            },
            
            "garpberry" : {
                    "icon" : "/items/generic/produce/garpberry.png",
                    "position" : [-60, 215],
                    "children" : [  ],
                    "price" : [["fuscienceresource", 800],["neptuniumrod", 6]],
                    "unlocks" : [ "garpberryseed", "garpberry" ]
            },
            
            "blisterbush" : {
                    "icon" : "/items/generic/produce/blisterbushplantfood.png",
                    "position" : [30, 130],
                    "children" : [  ],
                    "price" : [["fuscienceresource", 400],["biosample", 4],["biospore", 10]],
                    "unlocks" : [ "blisterbushplantseed", "blisterbushplantfood", "blisterhelm", "blisterchest", "blisterpants", "blistergun", "blisterpistol", "blistershield", "ff_blisterlight1", "ff_blisterlight2", "ff_blisterlight3" ]
            },
            
            "energeticplants" : {
                    "icon" : "/items/generic/produce/energiflowericon.png",
                    "position" : [50, 175],
                    "children" : [  ],
                    "price" : [["fuscienceresource", 600]],
                    "unlocks" : [ "energiflowerseed", "energiflower", "blexplantseed", "blexsap", "greenleafseed", "greenleaf", "mintseed", "mint", "goldenglowseed", "goldenglowleaf" ]
            },
            
            "aenema" : {
                    "icon" : "/items/generic/produce/ise3/aenemapetal.png",
                    "position" : [60, 215],
                    "children" : [  ],
                    "price" : [["fuscienceresource", 800]],
                    "unlocks" : [ "aenemaflower", "aenemapetal" ]
            },
            
            "thornitox" : {
                    "icon" : "/items/generic/produce/thornitox.png",
                    "position" : [90, 130],
                    "children" : [  ],
                    "price" : [["fuscienceresource", 800],["bone", 10]],
                    "unlocks" : [ "thornitoxseed", "thornitox", "spikesword", "thornrifle", "thornslinger" ]
            },
            
            "throwableplants1" : {
                    "icon" : "/items/throwables/ignuschili.png",
                    "position" : [120, 170],
                    "children" : [ "throwableplants2" ],
                    "price" : [["fuscienceresource", 400],["volatilepowder", 10]],
                    "unlocks" : [ "pekkitseed", "pekkit", "pekkitfreeze_freezegrenade", "shockshroomseed", "shockshroom", "crystallite", "crystalliteshard", "ignuschiliseed", "ignuschili", "ignuschili2seed", "ignuschili2" ]
            },
            "throwableplants2" : {
                    "icon" : "/items/throwables/magmabomb.png",
                    "position" : [145, 195],
                    "children" : [  ],
                    "price" : [["fuscienceresource", 800]],
                    "unlocks" : [ "hellfireplantseed", "magmabomb", "deathblossomseed", "deathblossom", "bellamorte", "bellamortecore", "arkaentree", "arkaendart" ]
            },
    
    
            "xenolab1" : {
                    "icon" : "/objects/crafting/xenostation/xenostationicon.png",
                    "position" : [-40, 40],
                    "children" : [ "xenolab2", "treecloner" ],
                    "price" : [["fuscienceresource", 600],["tungstenbar", 2]],
                    "unlocks" : [ "xenostation" ]
            },
            "xenolab2" : {
                    "icon" : "/objects/crafting/xenostationadvnew/xenostationadvicon.png",
                    "position" : [-65, 65],
                    "children" : [ ],
                    "price" : [["fuscienceresource", 900],["aichip", 1],["nuclearcore", 1],["densealloy", 5]],
                    "unlocks" : [ "xenostationadvnew" ]
            },
            "treecloner" : {
                    "icon" : "/objects/crafting/clonelab/clonelabicon.png",
                    "position" : [-65, 15],
                    "children" : [ ],
                    "price" : [["fuscienceresource", 750],["ff_plastic", 10]],
                    "unlocks" : [ "clonelab" ]
            },
            
            "farming1" : {
                    "icon" : "/objects/crafting/fu_growingtray/fu_growingtray_inv.png",
                    "position" : [-20, -50],
                    "children" : [ "farming2" ],
                    "price" : [["fuscienceresource", 320]],
                    "unlocks" : [ "fu_growingtray", "grassseeds", "slimepersoncompost","handhoe","wateringcan","sprinklerroofweak", "frontierwatertower","chainsaw", "HarvesterBeam"]
            },
            "farming2" : {
                    "icon" : "/objects/power/irongrowingtray/irongrowingtray_inv.png",
                    "position" : [-20, -90],
                    "children" : [ "farming3" ],
                    "price" : [["fuscienceresource", 600], ["fu_growingtray", 1]],
                    "unlocks" : [ "irongrowingtray", "sprinklerroof","hydrotubematerial","avaliaeroponics","sprinkler","liquidpumpwell","HarvesterBeam2"  ]
            },
            "farming3" : {
                    "icon" : "/objects/power/isn_hydroponicstray/isn_hydroponicstray_inv.png",
                    "position" : [-20, -130],
                    "children" : [ ],
                    "price" : [["fuscienceresource", 1050], ["irongrowingtray", 1]],
                    "unlocks" : [ "isn_hydroponicstray","fu_portablewaterpumpback","HarvesterBeam3"  ]
            },
            "gathering1" : {
                    "icon" : "/items/active/weapons/bow/bow/bowicon.png",
                    "position" : [20, -50],
                    "children" : [ "gathering2" ],
                    "price" : [["fuscienceresource", 320]],
                    "unlocks" : [ "bow", "fuhuntingrifle", "woodencrossbow", "pesttrap", "lobstertrap", "throwingspear", "throwingdart", "throwingbones", "throwingboulder" ]
            },
            "gathering2" : { 
                    "icon" : "/items/active/weapons/bow/tungstenbow/tungstenbowicon.png",
                    "position" : [20, -90],
                    "children" : [ "gathering3" ],
                    "price" : [["fuscienceresource", 700], ["bow", 1]],
                    "unlocks" : [ "tungstenbow", "fuhuntingrifle2", "throwingdagger" ]
            },
            "gathering3" : { 
                    "icon" : "/items/active/weapons/bow/compoundbow/compoundbowicon.png",
                    "position" : [20, -130],
                    "children" : [ ],
                    "price" : [["fuscienceresource", 1440], ["tungstenbow", 1]],
                    "unlocks" : [ "compoundbow", "fuhuntingrifle3", "throwingaxe", "javelin", "energyjavelin", "throwingknife", "throwingkunai", "throwingstar" ]
            },
            "husbandry1" : {
                    "icon" : "/objects/crafting/eggstra/eggincubator/eggincubatoricon.png",
                    "position" : [-60, -50],
                    "children" : [ "husbandry2" ],
                    "price" : [["fuscienceresource", 320]],
                    "unlocks" : [ "trough", "fuchickenfeeder","eggincubator","slew", "cattlefeed", "bughouse", "pethouse", "pettether","tinytether", "statuetether", "fu_petrenamer" ]
            },
            "husbandry2" : {
                    "icon" : "/objects/crafting/eggstra/largetrough/largetroughicon.png",
                    "position" : [-60, -90],
                    "children" : [ "husbandry3" ],
                    "price" : [["fuscienceresource", 600], ["trough", 1]],
                    "unlocks" : [ "capturestation", "largetrough", "slew2", "cattlefeed2", "relocator", "capturepod", "pethealingstation", "multitether" , "multitinytether"  ]
            },
            "husbandry3" : {
                    "icon" : "/items/generic/food/cattlefeed4.png",
                    "position" : [-60, -130],
                    "children" : [ ],
                    "price" : [["fuscienceresource", 1050], ["largetrough", 1]],
                    "unlocks" : [ "pethealingstationauto", "irontrough", "mothtrap", "mothtrap2","slew3", "cattlefeed3", "slew4", "cattlefeed4", "fu_autobeamer3farmbeasts", "fu_autobeamer3bugs" ]
            },
            "survival1" : {
                    "icon" : "/items/armors/decorative/hats/mininghat/icons.png",
                    "position" : [60, -50],
                    "children" : [ "survival2" ],
                    "price" : [["fuscienceresource", 200]],
                    "unlocks" : [ "mininghathead","mininglantern", "lanternstickback", "flashlight", "fuflashlight", "iceaxe", "flaregun", "portablelight", "throwingblock" ]
            },
            "survival2" : {
                    "icon" : "/items/armors/backitems/halogenpack/halogenpackicon.png",
                    "position" : [60, -90],
                    "children" : [ "survival3" ],
                    "price" : [["fuscienceresource", 750], ["lanternstickback", 1]],
                    "unlocks" : [ "halogenpack","grapplinghook" ]
            },

            "survival3" : {
                    "icon" : "/items/armors/backitems/halogenpack/halogenpackicon.png",
                    "position" : [60, -130],
                    "children" : [  ],
                    "price" : [["fuscienceresource", 1440]],
                    "unlocks" : [ "xenonpack", "survivaltent", "diamondlantern" ]
            },

            "fishing1" : {
                    "icon" : "/monsters/fishing/small/chirp/fishingchirp.png:swim.1",
                    "position" : [90, -50],
                    "children" : [ "fishing2" ],
                    "price" : [["fuscienceresource", 300]],
                    "unlocks" : [ "fishingrod", "fishingluresinking", "fishingreellong" ]
            },
            "fishing2" : {
                    "icon" : "/monsters/fishing/small/worm/fishingworm.png:swim.1",
                    "position" : [90, -90],
                    "children" : [ "fishing3" ],
                    "price" : [["fuscienceresource", 1500], ["fishingrod", 1]],
                    "unlocks" : [ "durablefishingrod", "fishinglurelight", "fishingreelfast" ]
            },
            "fishing3" : {
                    "icon" : "/monsters/fishing/small/eye/fishingeye.png:swim.1",
                    "position" : [90, -130],
                    "children" : [  ],
                    "price" : [["fuscienceresource", 2800], ["durablefishingrod", 1]],
                    "unlocks" : [ "profishingrod", "fishinglurecontrol", "fishingreelstrong" ]
            },
            "bees1" : {
                    "icon" : "/bees/bees/beeicon.png",
                    "position" : [-100, -50],
                    "children" : [ "bees2" ],
                    "price" : [["fuscienceresource", 500]],
                    "unlocks" : [ "fubeekeeperhead", "beestation","normalapiary","apiary_frame_basic","apiary_frame_antimite","apiary_frame_copper", "apiary_frame_iron", "apiary_frame_sweet","honeyextractor","beeexaminer", "honeyham", "honeybread", "honeynutboltos", "hivebomb" ]
            },
            "bees2" : {
                    "icon" : "/bees/frames/tungsten.png",
                    "position" : [-100, -90],
                    "children" : [ "bees3" ],
                    "price" : [["fuscienceresource", 900], ["beestation", 1]],
                    "unlocks" : [ "normalalveary","beeexaminer2", "honeyjarrer","apiary_frame_antimite2", "apiary_frame_tungsten","apiary_frame_titanium","apiary_frame_armored","apiary_frame_radioactive", "fustingergun", "neonhoneystraw", "honeystraw", "applehoneystraw", "grapehoneystraw", "orangehoneystraw"]
            },
            "bees3" : {
                    "icon" : "/bees/frames/durasteel.png",
                    "position" : [-100, -130],
                    "children" : [ "bees4" ],
                    "price" : [["fuscienceresource", 1350], ["normalalveary", 1]],
                    "unlocks" : [ "apiary_frame_scented","apiary_frame_antimite3","apiary_frame_protective","apiary_frame_densealloy","apiary_frame_durasteel","apiary_frame_uranium"]
            },
            "bees4" : {
                    "icon" : "/bees/frames/plutonium.png",
                    "position" : [-100, -170],
                    "children" : [ "bees5" ],
                    "price" : [["fuscienceresource", 1850], ["apiary_frame_scented", 1]],
                    "unlocks" : ["apiary_frame_scented2","apiary_frame_advanced","apiary_frame_narcotic","apiary_frame_dawn","apiary_frame_irradiated", "apiary_frame_computerised", "fubeewings"]
            },
            "bees5" : {
                    "icon" : "/bees/frames/elder.png",
                    "position" : [-100, -210],
                    "children" : [  ],
                    "price" : [["fuscienceresource", 2400], ["apiary_frame_scented2", 1]],
                    "unlocks" : ["apiary_frame_solarium","apiary_frame_universal","apiary_frame_entropic","apiary_frame_eclipse","apiary_frame_arctic","apiary_frame_volcanic"]
            }
        }
    },
    
    "acronyms" : {
        "fu_agriculture" : {
            "BASICTRAINING" : "survival_1",
            "FORAGINGN" : "foragingn",
            "CROPS1" : "crops1",
            "CROPS2" : "crops2",
            "EXPLORATIONPLANTS1" : "explorationplants1",
            "EXPLORATIONPLANTS2" : "explorationplants2",
            "EXPLORATIONPLANTS3" : "explorationplants3",
            "EXPLORATIONPLANTS4" : "explorationplants4",
            "UTILITYPLANTS1" : "utilityplants1",
            "UTILITYPLANTS2" : "utilityplants2",
            "UTILITYPLANTS3" : "utilityplants3",
            "UTILITYPLANTS4" : "utilityplants4",
            "SOULLEAF" : "soulleaf",
            "COMBATPLANTS1" : "combatplants1",
            "COMBATPLANTS2" : "combatplants2",
            "COMBATPLANTS3" : "combatplants3",
            "COMBATPLANTS4" : "combatplants4",
            
            "KADAVAN" : "kadavan",
            "AQUATICPLANTS" : "aquaticplants",
            "GARPBERRY" : "garpberry",
            "BLISTERBUSH" : "blisterbush",
            "ENERGETICPLANTS" : "energeticplants",
            "AENEMA" : "aenema",
            "THORNITOX" : "thornitox",
            "THROWABLEPLANTS1" : "throwableplants1",
            "THROWABLEPLANTS2" : "throwableplants2",
            //"THROWABLEPLANTSMETAL" : "throwableplantsmetal",
            
            "XENOLAB1" : "xenolab1",
            "XENOLAB2" : "xenolab2",
            "TREECLONER" : "treecloner",
            
            "BEES1" : "bees1",
            "BEES2" : "bees2",
            "BEES3" : "bees3",
            "BEES4" : "bees4",
            "BEES5" : "bees5",
            "HUSBANDRY1" : "husbandry1",
            "HUSBANDRY2" : "husbandry2",
            "HUSBANDRY3" : "husbandry3",
            "FARMING1" : "farming1",
            "FARMING2" : "farming2",
            "FARMING3" : "farming3",
            "GATHERING1" : "gathering1",
            "GATHERING2" : "gathering2",
            "GATHERING3" : "gathering3",
            "SURVIVAL1" : "survival1",
            "SURVIVAL2" : "survival2",
            "SURVIVAL3" : "survival3",
            "FISHING1" : "fishing1",
            "FISHING2" : "fishing2",
            "FISHING3" : "fishing3"
        }
    },

    "strings" : {
        "currencies" : {},
        
        "trees" : {
            "fu_agriculture" : "Agriculture"
        },
        
        "research" : {
            "default" : [ "Instructions","Select a research by clicking one of the icons on the grid.\nYou can navigate the grid by dragging with the left mouse button.\n\n- The left most button at the upper part of the screen opens a list of research trees to pick from.\n\n- The second button opens a list of non-hidden research options. Click a research on the displayed to center the view on it. Click again to hide the list.\n\n- The third button will center the view on the middle of the tree, or the currently selected research.\n\n- The last button toggles ^orange;low quality mode^reset;. This makes the GUI jump to a position instead of panning to it, or the center button. In addition, dragging/navigating on the the main screen will update only after you release the mouse button. It is best to use the search list with this mode enabled."],
            "survival_1" : [ "Basic Training","^orange;Tier 1^reset;\n\nYour training, thanks to four years in the Protectorate Academy, provides you with basic survival skills to keep you alive for extended periods in the event of a crash." ],
            "foragingn" : ["Agriculture","^orange;Tier 1^reset;\n\nYou've learned how to build a ^orange;Foraging Table^reset; which is the place to invest into agricultural pursuits and hunting. You also learn to make some simple farming tools and a means to capture useful wild bugs.\n\nInvesting into this tree will allow you to learn to create your own plant seeds to grow foodstuffs or useful effect-granting plants, how to raise farm beasts, how to hunt and fish, advanced farming techniques and how to raise bees."],
            "crops1" : ["Basic Crops","^orange;Tier 1^reset;\n\nThough the universe is filled with many strange plants, the Protectorate academy taught you about quite a few. You've learned to start culvtivating these plants for yourself at a ^orange;Greenhouse^reset; which can be made at your ^orange;Machining Table^reset;. You can also (crudely) extract genetic material from plants for use in the creation of more complex plants at a ^cyan;Sprouting Table^reset;, also made at your Machining Table.\n\n^yellow;Tip:^reset; Grow lots of corn! Corn is an incredibly versatile crop, being a source of oil, cattle feed, and the basis of many more complex plants."], 
            "crops2" : ["Advanced Crops","^orange;Tier 2^reset;\n\nYou've mastered all the plants the Protectorate Academy taught you about, allowing you to artificially create many more plants, including the all-important ^yellow;Cotton^reset;.\n\nYou're ready to start branching into making various medicinal plants that don't provide satiation, but don't spoil and provide useful buffs like environmental resistance, healing, increased stats, or even act as weapons!\n\nYou'll need ^orange;genes^reset; from this point on - found by processing seeds, saplings and some produce in the ^cyan;Sprouting Table^reset; or its upgrades. Some plants produce more seeds than others: flowers unsuited for dye-making are a good early source of seeds."],

            "explorationplants1" : ["Basic Exploration Plants","^orange;Tier 3^reset;\n\nThe universe is a dangerous place, filled with many environments your physiology isn't equipped to handle. Your research has given you access to a number of plants that make the universe a little more forgiving, including plants that assist in traversing difficult terrain, produce natural antitoxins, and shore up your physiology from dangerous climates."], 
            "explorationplants2" : ["Advanced Exploration Plants","^orange;Tier 4^reset;\n\nFurther research has given you plants that can protect you entirely from poisons and acid, as well as shield you from the dangerous radiation of many alien materials."],
            "explorationplants3" : ["Superior Exploration Plants","^orange;Tier 5^reset;\n\nYou're becoming especially adept at exploring alien worlds through the use of bioengineering, and have created several new plants protecting from more esoteric threats, including the crushing pressure of gas giants, eldritch ghosts, and even the poor mental health hours of slaving away over a gene lab results in."], 
            "explorationplants4" : ["Master Exploration Plants","^orange;Tier 6^reset;\n\nYour latest plants are a thing of beauty, protecting you from even the most dangerous worlds. Equipped only with the contents of your herb pouch, you're now equipped to explore nearly any world imaginable, including those with lead-melting heat, atmospheres so cold it falls to the ground as snow and environments so radioactive that even the ground glistens with energy."],

            "utilityplants1" : ["Basic Utility Plants","^orange;Tier 3^reset;\n\nThe universe is a gruelling place, requiring great effort to extract the meanest of resources from it. Your research uses the miracle of life to lift this burden, by creating plants which provide silk, genetic resources, healing, and mining aids, saving your valuable resources and effort for where they're needed elsewhere."], 
            "utilityplants2" : ["Advanced Utility Plants","^orange;Tier 4^reset;\n\nThrough careful experimentation, you've created plants that produce incredibly useful resources, including organic silicon, radiation-resistant silk and enhanced algae which can be processed into fuel for your ship and mech."],
            "utilityplants3" : ["Superior Utility Plants","^orange;Tier 5^reset;\n\nAn adept at genetic engineering, you've begun to create plants which greatly light your way in the darkness, beyond the level that Gold Shroom was capable of. You're also experimenting with organic performance enhancers, including those which protect your body from lethal falls and gravitic rain."], 
            "utilityplants4" : ["Master Utility Plants","^orange;Tier 6^reset;\n\nThe plants you've learned to make would be illegal in any Olympics, if Earth still existed. You can now run at breakneck speeds, jump up sheer surfaces and even alter the strength of gravity on your body, all with the use of plants. You've also dipped into stranger, less corporeal realms, and created a type of plant which can be eaten in a life-or-death situation to pull you away to safety."],
            "soulleaf" : ["Essence Cultivation","^orange;Tier 7^reset;\n\nUsing the properties of Quantum Fluid, you are able to make a plant that grows Ancient Essence botanically. Essence is very useful for upgrading weapons at ancient crucibles."],
            
            "combatplants1" : ["Basic Combat Plants","^orange;Tier 3^reset;\n\nThe universe is a hostile place, with countless monsters and enemies out for your blood and few allies to stand alongside. Your research levels the playing field, fortifying your health and increasing your defenses to shield you from harm."],
            "combatplants2" : ["Advanced Combat Plants","^orange;Tier 4^reset;\n\nYour studies have borne fruit, granting you the ability to grow stronger varieties of fortifying plants, as well as a curious tentacled plant that reflects damage back at those who would seek to harm you."],
            "combatplants3" : ["Superior Combat Plants","^orange;Tier 5^reset;\n\nThrough much experimentation, you're gradually becoming a force to be reckoned with. Your plants can strengthen you to inhuman levels, sap your enemies' life and increase the damage you deal out."],
            "combatplants4" : ["Master Combat Plants","^orange;Tier 6^reset;\n\nAn unstoppable juggernaut, you now hunt those who used to prey upon you, draining their vitality even as you slay them with your organic weapons. The universe is yours to take now, and your genetic weaponry is unparalelled."],

            "kadavan" : ["Kadavan Crops","^orange;Tier 2^reset;\n\nYou've learned to cultivate some strange Avikan crops, farmed by a race of starfaring nomads originally from the planet Kadavan."],
            "aquaticplants" : ["Aquatic Plants","^orange;Tier 4.5^reset;\n\nYou've learned how to develop some specialized plants that enhance your mobility in water, and created Vorit, a strange jelly-like mushroom which allows you to breathe normally underwater or even in a total vacuum for a while, then harmlessly passes through your system.\n\nAquapods are especially useful for the copious amounts of genetic information they contain, in both the seeds and bulbs."], 
            "garpberry" : ["Garp Berries","^orange;Tier 5.5^reset;\n\nYou've created Garp berries, an incredibly useful plant which can be used both eaten to protect yourself from radioactive burns, and processed in your extraction lab to create the rare and extremely useful Alien Compound."],
            "blisterbush" : ["Blister Bush","^orange;Tier 3.5^reset;\n\nYou've learned to grow the gross-but-useful Blister Pods. They're bioluminescent, and can be used in making weapons and armor, as well as lights for decorating your base."],
            "energeticplants" : ["Energetic Plants","^orange;Tier 4.5^reset;\n\nYou've created a family of plants that fortify your natural energy reserves, including Energiflower, a plant so packed with energy that it can even power your ship's FTL drive."],
            "aenema" : ["Aenema Flowers","^orange;Tier 5.5^reset;\n\nThe searing hot petals of the Aenema plant are packed with useful Caliginous Gas just waiting to be extracted. Now that you can cultivate your own Aenema, you will have easy access to that resource."],
            "thornitox" : ["Thornitox Weaponry","^orange;Tier 3.5^reset;\n\nThornitox isn't good for eating, but it's a thick, tough vine that can create weapons perfect for killing."],

            "throwableplants1" : ["Throwable Plants","^orange;Tier 4.5^reset;\n\nUnsatisfied with simply eating the plants you grow, you've created new strains which can be thrown as weapons, to share them with your foes as well."],
            "throwableplants2" : ["Advanced Throwable Plants","^orange;Tier 5^reset;\n\nYou've created a number of even stronger plants, which are devastating when thrown, and in the case of hellfire plants can even be used to create some powerful weapons, with some further research in the weaponry tree."],
            //"throwableplantsmetal" : ["Metallic Throwable Plants","^orange;Tier 4.5^reset;\n\nExperiments in your lab have provided you with three new plants, which can be used as weapons and explosives, or put into an extraction lab to produce organically-grown iron, tungsten and titanium."],

            "xenolab1" : ["Improved Gene Extraction","^orange;Tier 2^reset;\n\nThe sprouting table is a little slow for your liking, so you made a more complex electronic version, which will be critical to your future research efforts. Craft it at your ^orange;Auto-Assembler^reset;."],
            "xenolab2" : ["Amazing Gene Extraction","^orange;Tier 4^reset;\n\nYou've improved even further on your Xenolab design. Your new ^cyan;Advanced Xenolab^reset; works incredibly fast."],
            "treecloner" : ["Tree Cloning","^orange;Tier 3^reset;\n\nYou've used your knowledge of genetic engineering to splice trees together into strange combined forms with the trunk of one tree and the leaves of another. The possibilities are immense, and experimentation will yield great results."], 
            
            "farming1" : ["Farming","^orange;Tier 1^reset;\n\nYou've learned some more complex methods of farming and can now build several helpful farming objects. The ^cyan;Growing Tray^reset; is the most important of these, as it will automatically grow seeds placed inside with the help of fertilizers that increase yields far beyond what is possible through manual labor. Craft it at your ^orange;Foraging Station^reset;."], 
            "farming2" : ["Advanced Farming","^orange;Tier 2^reset;\n\nWith a ^cyan;Heatlamp Tray^reset; made at your ^orange;Electronics Center^reset;, you can turn electrical power into faster plant growth. They'll use more water per plant than a Growing Tray, but the added speed is worth it! \n\nIn addition, you've learned to create hydroponic and aeroponic tubing, more advanced sprinkler systems, and other useful farming enhancements for farming the old-fashioned way if you prefer that."], 
            "farming3" : ["Farming Mastery","^orange;Tier 3^reset;\n\nYou can make an hydroponics-powered Growing Tray that operates even faster when powered, and doesn't use extra water like the Heatlamp Tray does. You can find it at your ^orange;Electronics Center^reset;."], 
            "gathering1" : ["Gathering","^orange;Tier 1^reset;\n\nYou've learned hunter-gatherer skills like trapping, fishing and creating specialized weapons designed to maximize usable material from the things you kill."], 
            "gathering2" : ["Advanced Gathering","^orange;Tier 3^reset;\n\nYou've vastly improved in hunter-gathering tactics and can create far more capable hunting tools than before."], 
            "gathering3" : ["Master Gathering","^orange;Tier 4^reset;\n\nYou've mastered hunter-gatherer tactics and can make top-shelf hunting gear."], 
            "husbandry1" : ["Husbandry","^orange;Tier 1^reset;\n\nYou've learned how to raise farm animals and also designed a few cabinets designed to lure and capture wild bugs."],
            "husbandry2" : ["Advanced Husbandry","^orange;Tier 2^reset;\n\nYou can make even better animal feed and some automated devices to collect products from them, saving you the trouble."],
            "husbandry3" : ["Master Husbandry","^orange;Tier 3^reset;\n\nTop of the line gear for keeping your farm animals healthy and happy."],
            "survival1" : ["Survival","^orange;Tier 1^reset;\n\nYou've learned to create some simple survival aids - namely portable light sources to help with exploration."],
            "survival2" : ["Advanced Survival","^orange;Tier 2^reset;\n\nYou can make brighter, better lights and a few advanced survival tools."],
            "survival3" : ["Master Survival","^orange;Tier 3^reset;\n\nYou can craft top of the line lights and survival tools."], 
            "bees1" : ["Beekeeping","^orange;Tier 1^reset;\n\nYou've learned to raise bees in an apiary to provide you with useful resources. Make an ^cyan;Apiary Crafting Station^reset; at your ^orange;Machining Table^reset; to get started.\n\nRaising bees is pretty complex. If you're not sure how, buy a guide from the Bee Refuge in the Science Outpost, accessible once you leave your starter planet.\n\nAs a simple starter tip, you need a microscope-identified queen, a matching microscope-identified drone, one or more frames, and some flowers planted nearby for production to start."], 
            "bees2" : ["Improved Beekeeping","^orange;Tier 2^reset;\n\nYou can make bigger bee apiaries and more useful Frames to supplement their production."],
            "bees3" : ["Advanced Beekeeping","^orange;Tier 4^reset;\n\nYou can make even more powerful Frames that drastically improve your bees' efficiency."], 
            "bees4" : ["Efficient Beekeeping","^orange;Tier 5^reset;\n\nYou can make advanced Frames that drastically improve your hives."], 
            "bees5" : ["Ultimate Beekeeping","^orange;Tier 6^reset;\n\nYou have achieved a truly enviable master's degree. You have managed to make your hives produce efficiently."], 
            "fishing1" : ["Basic Fishing","^orange;Tier 3^reset;\n\nFishing is both a useful survival skill and a relaxing hobby. You can now create a basic fishing rod and use it to catch fish in bodies of water."],
            "fishing2" : ["Fishing Techniques","^orange;Tier 4^reset;\n\nYou can craft better quality fishing tackle, enabling you to catch fish with greater ease."],
            "fishing3" : ["Master Wrangler","^orange;Tier 5^reset;\n\nWith your knowledge of fishing, you can create a nearly perfect fishing rod."]
        }
    },
    "cutsomGridTileImages":{"fu_agriculture" : "/zb/researchTree/gridTileGreen.png"},
    "hiddenResearch" : {
        "fu_agriculture" : [ ]//"FORAGINGN","PLANTS1","PLANTS2","PLANTS3","XENOLAB1","XENOLAB2","KADAVAN","BRACKEN","MUTAVISK","ALGAE","RADS1","RADS2","ENERGIFLOWER","GLOWING1","GLOWING2","INDIGO","COSMIC","SOULLEAF","FIRE1","FIRE2","ANEMA","INSANITY","MOBILITY1","MOBILITY2","MOBILITY3","BREATH1","BREATH2","POWER1","POWER2","POWER3","POWERSTATS","STATS1","STATS2","STATS3","SUPERFOOD","ENERGY1","ENERGY2","DEFENSE1","DEFENSE2","DEFENSE3","LUMIVINE","HEALING1","HEALING2","HEALING3","THORNITOX","POISON1","POISON2","SHROOMS1","SHROOMS2","ELECTRIC","COLD1","COLD2","COLD3","NAILERY","METAL","CRYSTAL","FARMING1","FARMING2","GATHERING1","GATHERING2","HUSBANDRY1","HUSBANDRY2","SURVIVAL1","SURVIVAL2","BEES1","BEES2","BEES3", "BEES4", "BEES5", "TREECLONER", "FISHING1", "FISHING2", "FISHING3" ] //
    },

    "versions":{
      "fu_agriculture" : "0.137"
    },
    "initiallyResearched" : {
        "fu_agriculture" : [ "BASICTRAINING" ]
    },
    
    "currencies" : [],
    
    "customConsumptionRules" : {
        "fu_agriculture" : {"currency" : true, "items" : false }
    },
    "treeIcons" : {
        "fu_agriculture" : "/objects/crafting/upgradeablecraftingobjects/craftingfarm/craftingfarmicon.png"
    }
}
                
