{
	"researchTree" : {
		"fu_agriculture" : {

//knowledge
			"agriculture" : {
                                "icon" : "/objects/crafting/fu_growingtray/fu_growingtray_inv.png",
                                "position" : [120, -120],
                                "children" : [ "beekeeping", "botany", "booze" ],
                                "price" : [["fuscienceresource", 360]],
                                "unlocks" : [ "fu_growingtray", "farmwell", "fufarmstorage", "eggincubator", "fuchickenfeeder", "fuhaypilewheelbarrow","fuhayrollwheelbarrow", "rosebushlarge", "rosebushlarge_box", "rosebushmed", "rosebushmed_box", "rosebushsmall", "rosebushsmall_box" ]
                        },	

                                "booze" : {
                                        "icon" : "/items/generic/drinks/rums/agedrum.png",
                                        "position" : [60, -60],
                                        "children" : [  ],
                                        "price" : [["fuscienceresource", 120]],
                                        "unlocks" : [ "boozekit", "rainbarrel", "beerkeg","fermenter", "champagnebucket", "distillery","mashingtun" ]
                                },	

                                "beekeeping" : {
                                        "icon" : "/bees/combs/normalcomb.png",
                                        "position" : [120, -60],
                                        "children" : [ ],
                                        "price" : [["fuscienceresource", 500]],
                                        "unlocks" : [ "beestation" ]
                                },	

                                "botany" : {
                                        "icon" : "/objects/crafting/designlab/designlab1icon.png",
                                        "position" : [180, -120],
                                        "children" : [ "botany2" ],
                                        "price" : [["fuscienceresource", 360]],
                                        "unlocks" : [ "designlab" ]
                                },	
                                        "botany2" : {
                                                "icon" : "/objects/crafting/designlab/designlab1icon.png",
                                                "position" : [240, -120],
                                                "children" : [ "genetics" ],
                                                "price" : [["fuscienceresource", 1560]],
                                                "unlocks" : [ "designlab" ]
                                        }


		}
	},
	
	"acronyms" : {
		"fu_agriculture" : {
		    "SC3" : "agriculture",
			"BOOZE" : "booze",
                        "BEES" : "beekeeping",
			
			"BOTANY1" : "botany",
				"BOTANY2" : "botany2",
		}
	},

	"strings" : {
		"currencies" : {
		    "money" : "Pixels",
		    "essence" : "Essence",
			"fuscienceresource" : "Research",
			"fuprecursorresource" : "Precursor Data"
		},
		
		"trees" : {
			"fu_agriculture" : "^#ff180c;Agriculture^reset;"
		},
		
		"research" : {
			"default"	: [ "Select a Research","^red;NOT ACTIVATED YET. DO NOT USE, AS THIS CURRENTLY DOES NOTHING AT ALL. THIS IS PLACEHOLDER CONTENT^reset;. Select a research by clicking one of the icons on the grid.\nYou can navigate the grid by dragging with the left mouse button.\nThe left button at the top left corner will move the view to the center of the tree, and the left button will open a list of researches, from which you can zoom to other researches." ],
			//main categories
			//"survival_1"	: [ "Basic Training",	"^orange;Tier 1^reset;\n\nYour training, thanks to four years in the Protectorate Academy, provides you with basic survival skills to keep you alive for extended periods in the event of a crash." ]
                        "agriculture" : ["Agriculture","^orange;Tier 1^reset;\n\nCreate thriving farms ripe with harvestable crops."],
			"botany" : ["Botany","^orange;Tier 1^reset;\n\nFurther developing your agricultural knowledge, you now have firsthand experience with plants and are able to combine them to create new types."],
			"botany2" : ["Cloning","^orange;Tier 2^reset;\n\nYou've moved from basic planting and growing of crops to actually delving into ways to improve them through cloning and crossbreeding various strains."],
                        "beekeeping"	: [ "Beekeeping",	"^orange;Tier 1^reset;\n\nThrough knowledge of woodworking and biology you are able to combine the best of both worlds and delve into the world of beekeeping. This can prove exceptionally lucrative if you don't mind a little hard work." ],
			"booze" : ["Brewing","^orange;Tier 1^reset;\n\nYou are able to combine your knowledge of science, agriculture and craftsmanship to brew delicious and valuable alcoholic beverages.\n\n^yellow;Did you know?^reset;: Frackin Universe incorporated this from kingofcrows way back in 2015?"],
                }
	},

	"cutsomGridTileImages":{ "fu_agriculture" : "/zb/researchTree/gridTile.png" },

	"hiddenResearch" : {
		"fu_agriculture" : [ 
			//"MT1","MT2","MT3","MT4","MT5","MT6","MT7","MT8", "WW2", "WW3", "MED1" 
		]
	},

	"versions":{
	  "fu_agriculture" : "0.0971"
	},	
	"initiallyResearched" : {
		"fu_agriculture" : [ "BASICTRAINING" ]
	},
	
	"currencies" : []
}
