{
	"researchTree" : {
		"fu_automation" : {

//knowledge
			"survival_1" : {
				"icon" : "/items/tools/miningtools/beamaxe.png",
				//"blueprint" : "blueprintname",
				"position" : [0, 0],
				"children" : [  ],
				"price" : [ ],
				"unlocks" : [ ]
			},


		}
	},
	
	"acronyms" : {
		"fu_automation" : {
			"BASICTRAINING" : "survival_1"
		}
	},

	"strings" : {
		"currencies" : {
		    "money" : "Pixels",
		    "essence" : "Essence",
			"fuscienceresource" : "Research",
			"fuprecursorresource" : "Precursor Data"
		},
		
		"trees" : {
			"fu_automation" : "^#ff180c;Automation^reset;"
		},
		
		"research" : {
			"default"	: [ "Select a Research","^red;NOT ACTIVATED YET. DO NOT USE, AS THIS CURRENTLY DOES NOTHING AT ALL. THIS IS PLACEHOLDER CONTENT^reset;. Select a research by clicking one of the icons on the grid.\nYou can navigate the grid by dragging with the left mouse button.\nThe left button at the top left corner will move the view to the center of the tree, and the left button will open a list of researches, from which you can zoom to other researches." ],
			//main categories
			"survival_1"	: [ "Basic Training",	"^orange;Tier 1^reset;\n\nYour training, thanks to four years in the Protectorate Academy, provides you with basic survival skills to keep you alive for extended periods in the event of a crash." 
		}
	},

	"cutsomGridTileImages":{ "fu_automation" : "/zb/researchTree/gridTile.png" },

	"hiddenResearch" : {
		"fu_automation" : [ 
			//"MT1","MT2","MT3","MT4","MT5","MT6","MT7","MT8", "WW2", "WW3", "MED1" 
		]
	},

	"versions":{
	  "fu_automation" : "0.0971"
	},	
	"initiallyResearched" : {
		"fu_automation" : [ "BASICTRAINING" ]
	},
	
	"currencies" : []
}
