{
	"researchTree" : {
		"fu_biology" : {

//knowledge
			"biology" : {
                                "icon" : "/objects/crafting/clonelab/clonelabicon.png",
                                "position" : [180, -60],
                                "children" : [ "botany", "beekeeping", "medicine", "biochemistry" ],
                                "price" : [["fuscienceresource", 180]],
                                "unlocks" : [ "sproutingtable" ]
                        },	
                                "medicine" : {
                                        "icon" : "/interface/statuses/hpup.png",
                                        "position" : [240, -60],
                                        "children" : [ "medicine2" ],
                                        "price" : [["fuscienceresource", 380]],
                                        "unlocks" : [ "bandage","medkit" ]
                                },		
                                        "medicine2" : {
                                                "icon" : "/interface/statuses/hpup.png",
                                                "position" : [300, -60],
                                                "children" : [ "medicine3" ],
                                                "price" : [["fuscienceresource", 1280]],
                                                "unlocks" : [ "bandage","medkit" ]
                                        },	
                                                "medicine3" : {
                                                        "icon" : "/interface/statuses/hpup.png",
                                                        "position" : [360, -60],
                                                        "children" : [ "medicine4" ],
                                                        "price" : [["fuscienceresource", 5680]],
                                                        "unlocks" : [ "bandage","medkit" ]
                                                },	
                                                        "medicine4" : {
                                                                "icon" : "/interface/statuses/hpup.png",
                                                                "position" : [420, -60],
                                                                "children" : [ ],
                                                                "price" : [["fuscienceresource", 11180]],
                                                                "unlocks" : [ "bandage","medkit" ]
                                                        }
		}
	},
	
	"acronyms" : {
		"fu_biology" : {
			"BASICTRAINING" : "survival_1",
                        "BIOLOGY" : "biology",
				"MEDICINE" : "medicine",
					"MEDICINE2" : "medicine2",
						"MEDICINE3" : "medicine3",
							"MEDICINE4" : "medicine4"
		}
	},

	"strings" : {
		"currencies" : {
		    "money" : "Pixels",
		    "essence" : "Essence",
			"fuscienceresource" : "Research",
			"fuprecursorresource" : "Precursor Data"
		},
		
		"trees" : {
			"fu_biology" : "^#ff180c;Biology^reset;"
		},
		
		"research" : {
			"default"	: [ "Select a Research",". Select a research by clicking one of the icons on the grid.\nYou can navigate the grid by dragging with the left mouse button.\nThe left button at the top left corner will move the view to the center of the tree, and the left button will open a list of researches, from which you can zoom to other researches." ],
			
			//main categories
			"survival_1"	: [ "Basic Training",	"^orange;Tier 1^reset;\n\nYour training, thanks to four years in the Protectorate Academy, provides you with basic survival skills to keep you alive for extended periods in the event of a crash." ],

                        //Biology
                        "biology" : ["Biology","^orange;Tier 1^reset;\n\nYou've progressed well into the Life Sciences, and are now ready to dive into this rich and fascinating field.\n\nYou'll get access to the ^green;Sprouting Table^reset;, which in turn will allow you to (poorly) extract ^orange;Genetic Material^reset; for use in experiments."],
                        "medicine" : ["First Aid","^orange;Tier 1^reset;\n\nCreate basic ^green;healing^reset; items.\n\n^yellow;Did you know?^reset;: There is a timer on healing items. You cannot rapidly spam them. Plan your heals accordingly."],
			"medicine2" : ["Medicine","^orange;Tier 2^reset;\n\nCreate basic ^green;healing^reset; items.\n\n^yellow;Did you know?^reset;: There is a timer on healing items. You cannot rapidly spam them. Plan your heals accordingly."],
			"medicine3" : ["Applied Bioscience","^orange;Tier 4^reset;\n\nCreate basic ^green;healing^reset; items.\n\n^yellow;Did you know?^reset;: There is a timer on healing items. You cannot rapidly spam them. Plan your heals accordingly."],
			"medicine4" : ["Advanced Medicine","^orange;Tier 6^reset;\n\nCreate basic ^green;healing^reset; items.\n\n^yellow;Did you know?^reset;: There is a timer on healing items. You cannot rapidly spam them. Plan your heals accordingly."]
                }
	},

	"cutsomGridTileImages":{ "fu_biology" : "/zb/researchTree/gridTile.png" },

	"hiddenResearch" : {
		"fu_biology" : [ 
			//"MT1","MT2","MT3","MT4","MT5","MT6","MT7","MT8", "WW2", "WW3", "MED1" 
		]
	},

	"versions":{
	  "fu_biology" : "0.0971"
	},	
	"initiallyResearched" : {
		"fu_biology" : [ "BASICTRAINING" ]
	},
	
	"currencies" : []
}