{
  "researchTree" : {
    "fu_chemistry" : {
      "survival_1" : {
        "icon" : "/items/tools/miningtools/beamaxe.png",
        "position" : [0, -40],
        "children" : [ "chemistryn", "medicinen1" ],
        "price" : [ ],
        "unlocks" : [ "bomb" ]
      },
      "chemistryn" : {
        "icon" : "/objects/crafting/chemlab/chemlab1icon.png",
        "position" : [0, 0],
        "children" : [ "optics1", "plastic1", "chemistrystuff1", "explosives1", "fertilizer1", "biofuel1", "liquidcrafting1" ],
        "price" : [["fuscienceresource", 180], ["bottle", 1], ["plantfibre", 20], ["liquidwater", 20]],
        "unlocks" : [ "ff_gasmask", "chemlab", "fu_mulch", "fu_nitrogen", "liquidblood", "livingroot", "cellmatter" ]
      },

      "optics1" : {
        "icon" : "/objects/apex/microscope/microscopeicon.png",
        "position" : [-30, -40],
        "children" : [ "optics2" ],
        "price" : [["fuscienceresource", 380], ["glass", 1], ["tungstenbar", 2]],
        "unlocks" : [ "microscope"]
      },
      "optics2" : {
        "icon" : "/objects/generic/hazardmicroscope/hazardmicroscopeicon.png",
        "position" : [-60, -60],
        "children" : [ "optics3" ],
        "price" : [["fuscienceresource", 1580], ["glass", 1], ["ff_plastic", 2]],
        "unlocks" : [ "hazardmicroscope"]
      },
      "optics3" : {
        "icon" : "/objects/generic/labfurniture/electronmicroscope/electronmicroscopeicon.png",
        "position" : [-90, -90],
        "children" : [ "optics4" ],
        "price" : [["fuscienceresource", 2380], ["glass", 1], ["durasteelbar", 2]],
        "unlocks" : [ "electronmicroscope"]
      },
      "optics4" : {
        "icon" : "/objects/generic/labfurniture/electronmicroscope/electronmicroscope2icon.png",
        "position" : [-120, -120],
        "children" : [ ],
        "price" : [["fuscienceresource", 4380], ["glass", 1], ["network_containerlink2", 1]],
        "unlocks" : [ "electronmicroscope2"]
      },

      "plastic1" : {
        "icon" : "/items/generic/crafting/polymer.png",
        "position" : [30, 30],
        "children" : [ "plastic2", "graphene" ],
        "price" : [["fuscienceresource", 250], ["copperbar", 2], ["fu_carbondioxide", 10]],
        "unlocks" : [ "polymer", "beachball", "bouncyball", "waterballoon" ]
      },
      "plastic2" : {
        "icon" : "/items/generic/crafting/ff_plastic.png",
        "position" : [60, 60],
        "children" : [  ],
        "price" : [["fuscienceresource", 740], ["liquidoil", 20], ["polymer", 15]],
        "unlocks" : [ "ff_plastic", "ff_divingmaskhead", "lavaballoon" ]
      },
      "graphene" : {
        "icon" : "/items/generic/crafting/graphene.png",
        "position" : [15, 60],
        "children" : [ "morphite" ],
        "price" : [["fuscienceresource", 1000], ["carbonplate", 10], ["liquidsulphuricacid", 25]],
        "unlocks" : [ "graphene" ]
      },
      "morphite" : {
        "icon" : "/items/generic/crafting/chemlab/eridianore.png",
        "position" : [0, 100],
        "children" : [ "aliencompound" ],
        "price" : [["fuscienceresource", 5000], ["irradiumbar", 10], ["phasematter", 10]],
        "unlocks" : [ "morphiteore", "matteritem", "pureerchius" ]
      },
      "chemistrystuff1" : {
        "icon" : "/items/generic/crafting/calciumnitrate.png",
        "position" : [-20, 30],
        "children" : [ "chemistrystuff2", "fertilizer2" ],
        "price" : [["fuscienceresource", 160], ["magnesiumpowder", 1], ["fu_carbondioxide", 10]],
        "unlocks" : [ "calciumnitrate", "magnesiumsulfate", "fu_carbon"]
      },
      "chemistrystuff2" : {
        "icon" : "/items/generic/crafting/monsterdrops/cryonicextract.png",
        "position" : [-20, 60],
        "children" : [ "morphite"],//, "elduucrystals"
        "price" : [["fuscienceresource", 1000]],
        "unlocks" : [ "cryonicextract", "scorchedcore", "phasematter", "staticcell", "venomsample", "icecrystal", "ff_silicon" ]
      },
      "aliencompound" : {
        "icon" : "/items/generic/crafting/chemlab/aliencompound.png",
        "position" : [-30, 120],
        "children" : [ ],//"lasombrium" ],
        "price" : [["fuscienceresource", 4500], ["prisilitestar", 5], ["blooddiamond", 5]],
        "unlocks" : [ "aliencompound","quietusore" ]
      },
      "explosives1" : {
        "icon" : "/objects/explosives/crudebombicon.png",
        "position" : [-40, -15],
        "children" : [ "explosives2" ],
        "price" : [["fuscienceresource", 200], ["volatilepowder", 20], ["fu_oxygen", 20]],
        "unlocks" : [ "thorngrenade", "fucopperbomb", "fuironbomb", "chilibomb", "powderkeg", "crudebomb", "molotov" ]
      },
      "explosives2" : {
        "icon" : "/objects/explosives/c4explosiveicon.png",
        "position" : [-70, -30],
        "children" : [ "unstableparticles" ],
        "price" : [["fuscienceresource", 900], ["volatilepowder", 10], ["ff_plastic", 20]],
        "unlocks" : [ "blastingdynamite", "stickblastingdynamite","c4explosive"]
      },
      "fertilizer1" : {
        "icon" : "/items/generic/crafting/chemlab/fertilizer.png",
        "position" : [-45, 15],
        "children" : [ "fertilizer2" ],
        "price" : [["fuscienceresource", 240], ["fu_mulch", 10], ["ammoniumsulfate", 10]],
        "unlocks" : [ "ff_fertilizer" ]
      },
      "fertilizer2" : {
        "icon" : "/items/generic/crafting/chemlab/fertilizer2.png",
        "position" : [-75, 50],
        "children" : [ "fertilizer3" ],
        "price" : [["fuscienceresource", 2200], ["ff_fertilizer", 10], ["fu_nitrogen", 50], ["phosphorus", 10]],
        "unlocks" : [ "ff_fertilizer2" ]
      },
      "fertilizer3" : {
        "icon" : "/items/generic/crafting/chemlab/fertilizer3.png",
        "position" : [-100, 75],
        "children" : [ ],
        "price" : [["fuscienceresource", 7200], ["ff_fertilizer2", 10], ["iodine", 20]],
        "unlocks" : [ "ff_fertilizer3", "pesticide", "methyliodide" ]
      },
      "biofuel1" : {
        "icon" : "/items/generic/crafting/chemlab/biofuelcannister.png",
        "position" : [40, 0],
        "children" : [ "biofuel2", "mechfuel" ],
        "price" : [["fuscienceresource", 300], ["algaegreen", 20], ["fu_salt", 10]],
        "unlocks" : [ "biofuelcannister" ]
      },
      "biofuel2" : {
        "icon" : "/items/generic/crafting/chemlab/biofuelcannisteradv.png",
        "position" : [70, 30],
        "children" : [ "biofuel3" ],
        "price" : [["fuscienceresource", 1000], ["erithianalgae", 10], ["liquidalienjuice", 20]],
        "unlocks" : [ "biofuelcannisteradv" ]
      },
      "biofuel3" : {
        "icon" : "/items/generic/crafting/chemlab/biofuelcannistermax.png",
        "position" : [110, 10],
        "children" : [ ],
        "price" : [["fuscienceresource", 3500], ["vialproto", 10], ["blobbushjelly", 5]],
        "unlocks" : [ "biofuelcannistermax" ]
      },
      "liquidcrafting1" : {
        "icon" : "/items/liquids/liquidwatericon.png",
        "position" : [40, -35],
        "children" : [ "liquidcrafting2", "mechfuel" ],
        "price" : [["fuscienceresource", 350], ["liquidwater", 50], ["fu_hydrogen", 15]],
        "unlocks" : [ "cellmateria", "liquidblacktar", "liquidpoison", "liquidwater", "fusaltwater", "liquidpus", "waterball" ]
      },
      "liquidcrafting2" : {
        "icon" : "/items/liquids/ff_mercury.png",
        "position" : [70, -60],
        "children" : [ "cells1", "liquidcrafting3", "glowinggels" ],
        "price" : [["fuscienceresource", 1400], ["liquidwastewater", 50]],
        "unlocks" : [ "cell_spliced", "liquidbioooze", "liquidironfu", "liquidorganicsoup", "liquidnitrogenitem", "liquidslime", "liquidsulphuricacid", "ff_mercury" ]
      },
      "liquidcrafting3" : {
        "icon" : "/items/liquids/liquidirradiumicon.png",
        "position" : [90, -30],
        "children" : ["biofuel3" ],
        "price" : [["fuscienceresource", 4000]],
        "unlocks" : [ "liquidalienjuice", "vialproto", "liquidirradium", "liquiddarkwater", "liquidcrystal", "irradiumore" ]
      },
      "mechfuel" : {
        "icon" : "/items/liquids/liquidmechfuelicon.png",
        "position" : [65, -15],
        "children" : [  ],
        "price" : [["fuscienceresource", 500], ["solidfuel", 20], ["liquidoil", 15], ["volatilepowder", 10]],
        "unlocks" : [ "liquidmechfuel", "unrefinedliquidmechfuel", "fuelcatalyst" ]
      },
      "cells1" : {
        "icon" : "/items/generic/crafting/chemlab/cell_mutated.png",
        "position" : [110, -100],
        "children" : [ "cells2" ],
        "price" : [["fuscienceresource", 1200], ["cellmatter", 40], ["liquidorganicsoup", 100]],
        "unlocks" : [ "cell_mutated", "blobbushjelly", "mutagene3", "mutagene1"]
      },
      "cells2" : {
        "icon" : "/items/generic/crafting/chemlab/cell_advanced.png",
        "position" : [160, -85],
        "children" : [  ],
        "price" : [["fuscienceresource", 3000], ["aliencompound", 20], ["liquidgravrain", 100]],
        "unlocks" : [ "cell_viral", "mutagene2", "mutagene4"]
      },
      //"elduucrystals" : {
      //	"icon" : "/items/generic/crafting/emera.png",
      //	"position" : [-70, 100],
      //	"children" : [  ],
      //	"price" : [["fuscienceresource", 3000], ["crystal", 5], ["lunaricrystal", 5]],
      //	"unlocks" : [ "furniturestation", "crystalloom", "wovencrystal", "gemstation" ]
      //},
      "glowinggels" : {
        "icon" : "/objects/gels/isn_glowgel/isn_glowgelicon.png",
        "position" : [70, -100],
        "children" : [  ],
        "price" : [["fuscienceresource", 500], ["biospore", 10]],
        "unlocks" : [ "isn_glowgel", "isn_glowgel_b", "isn_glowgel_g", "isn_glowgel_p", "isn_glowgel_r", "isn_glowgel_y", "isn_bouncegel", "isn_accelgel", "isn_lowfrictionstrip", "isn_propulsionstrip_l", "isn_propulsionstrip_r"]
      },
      "unstableparticles" : {
        "icon" : "/items/generic/crafting/chemlab/unstableparticles.png",
        "position" : [-100, 0],
        "children" : [ "metallichydrogen" ],
        "price" : [["fuscienceresource", 1500], ["neptuniumrod", 10], ["helium3gasliquid", 20]],
        "unlocks" : [ "unstableparticles"]
      },
      "metallichydrogen" : {
        "icon" : "/items/generic/crafting/fu_hydrogenmetallic.png",
        "position" : [-130, 40],
        "children" : [ ],
        "price" : [["fuscienceresource", 7000], ["fu_hydrogen", 1000]],
        "unlocks" : [ "fu_hydrogenmetallic", "particlegrenade"]
      },
      "medicinen1" : {
        "icon" : "/objects/crafting/upgradeablecraftingobjects/craftingmedical/craftingmedicalicon.png",
        "position" : [0, -80],
        "children" : [ "medicinen2" ],
        "price" : [["fuscienceresource", 200], ["glass", 2], ["fabric", 10]],
        "unlocks" : [ "craftingmedical", "bandage", "fuhoneysilkbandage", "antidote", "redstim", "yellowstim", "syringe"]
      },
      "medicinen2" : {
        "icon" : "/items/generic/other/medkit.png",
        "position" : [0, -110],
        "children" : [ "medicinen3" ],
        "price" : [["fuscienceresource", 1500], ["bandage", 20], ["fabric", 10]],
        "unlocks" : [ "burnspray", "medkit", "medkit2","mutaviskbandage","bluestim","orangestim","greenstim", "corvexputty" ]
      },
      "medicinen3" : {
        "icon" :  "/items/generic/other/nanowrap.png",
        "position" : [30, -110],
        "children" : [ ],
        "price" : [["fuscienceresource", 7000], ["mutaviskbandage", 40]],
        "unlocks" : [ "medkit3", "medkit4","perfectelygenericmedkit","nanowrap","medbaybed" ]
      }
    }
  },

  "acronyms" : {
    "fu_chemistry" : {
      "BASICTRAINING" : "survival_1",
      "CHEMISTRYN" : "chemistryn",
      "PLASTIC1" : "plastic1",
      "PLASTIC2" : "plastic2",
      "GRAPHENE" : "graphene",
      "MORPHITE" : "morphite",
      "CHEMISTRYSTUFF1" : "chemistrystuff1",
      "CHEMISTRYSTUFF2" : "chemistrystuff2",
      "ALIENCOMPOUND" : "aliencompound",
      //"LASOMBRIUM" : "lasombrium",
      "EXPLOSIVES1" : "explosives1",
      "EXPLOSIVES2" : "explosives2",
      "FERTILIZER1" : "fertilizer1",
      "FERTILIZER2" : "fertilizer2",
      "FERTILIZER3" : "fertilizer3",
      "BIOFUEL1" : "biofuel1",
      "BIOFUEL2" : "biofuel2",
      "BIOFUEL3" : "biofuel3",
      "LIQUIDCRAFTING1" : "liquidcrafting1",
      "LIQUIDCRAFTING2" : "liquidcrafting2",
      "LIQUIDCRAFTING3" : "liquidcrafting3",
      "MECHFUEL" : "mechfuel",
      //"SLIMES" : "slimes",
      "CELLS1" : "cells1",
      "CELLS2" : "cells2",
      "ELDUUCRYSTALS" : "elduucrystals",
      "GLOWINGGELS" : "glowinggels",
      "UNSTABLEPARTICLES" : "unstableparticles",
      "METALLICHYDROGEN" : "metallichydrogen",
      "MEDICINEN1" : "medicinen1",
      "MEDICINEN2" : "medicinen2",
      "MEDICINEN3" : "medicinen3",
      "OPTICS1":"optics1",
      "OPTICS2":"optics2",
      "OPTICS3":"optics3",
      "OPTICS4":"optics4"
    }
  },

  "strings" : {
    "currencies" : {
    },

    "trees" : {
      "fu_chemistry" : "Chemistry"
    },

    "research" : {
      "default"	: [ "Instructions","Select a research by clicking one of the icons on the grid.\nYou can navigate the grid by dragging with the left mouse button.\n\n- The left most button at the upper part of the screen opens a list of research trees to pick from.\n\n- The second button opens a list of non-hidden research options. Click a research on the displayed to center the view on it. Click again to hide the list.\n\n- The third button will center the view on the middle of the tree, or the currently selected research.\n\n- The last button toggles ^orange;low quality mode^reset;. This makes the GUI jump to a position instead of panning to it, or the center button. In addition, dragging/navigating on the the main screen will update only after you release the mouse button. It is best to use the search list with this mode enabled."],
      "survival_1": [ "Basic Training","^orange;Tier 0^reset;\n\nYour training, thanks to four years in the Protectorate Academy, provides you with basic survival skills to keep you alive for extended periods in the event of a crash. This includes basic chemistry knowledge."],

      "chemistryn" : ["Chemistry","^orange;Tier 1^reset;\n\nChemistry is a wonderful field with many practical applications such as the creation of plastics, bombs, medicine, fertilizer or biodiesel. With the ability to make an ^orange;Alchemy Table^reset; at your ^orange;Machining Table^reset;, you're now ready to start exploring its potential."],

      "optics1" : ["Simple Optics","^orange;Tier 2^reset;\n\nMicroscopes are extremely useful, allowing you to scan Bees for their genetic capabilities as well as generate research from investigated artifacts and equipment.\n\nThis microscope is available in an ^orange;Auto-Assembler^reset;."],
      "optics2" : ["Complex Optics","^orange;Tier 3^reset;\n\nYou're able to create much better microscopes now, enhancing your production rates.\n\nThis microscope is available in a ^orange;Matter Assembler^reset;."],
      "optics3" : ["Advanced Optics","^orange;Tier 4^reset;\n\nYour microscopes are getting quite good now, allowing extreme zoom and fantastic clarity.\n\nThis microscope is available in a ^orange;Matter Assembler^reset;."],
      "optics4" : ["Master Optics","^orange;Tier 5^reset;\n\nYour microscopes are a thing of beauty, allowing you to see into microcosms previously unknown.\n\nThis microscope is available in a ^orange;Power Station^reset;."],

      "plastic1" : ["Simple Plastics","^orange;Tier 2^reset;\n\nYou've learned to create a simple, flexible plastic material that is especially helpful in the creation of electronics and wearables."],

      "plastic2" : ["Complex Plastics","^orange;Tier 3^reset;\n\nHaving learned a lot about plastic creation, you can now create a much more potent rigid plastic that is extremely durable and quite heat-proof. Advanced Plastic is a key ingredient in tons of things, and you can almost never have enough. Luckily, you've learned of several different ways to make this substance, though you'll probably be deriving it from petrol most of the time."],

      "graphene" : ["Carbon Latticing","^orange;Tier 3^reset;\n\nGraphene is one of the most wonderful substances ever created, and now you know how to make it yourself. A one-atom thick sheet of hexagonal graphite, graphene is ridiculously durable. In addition to being a key component in many powerful weapons and armor, graphene is also very useful in the creation of complex circuitry."],

      "morphite" : ["Morphic Super-Compounds","^orange;Tier 4^reset;\n\nThrough intense experimentation, you've learned to create an amazing substance that exploits the strange properties of phase matter to be simultaneously incredibly durable and highly moldable. Besides its use in weapons and armor, it's also quite conductive and will allow amazing new electronic devices to be made.\n\nYour knowledge of phasic materials has also allowed you to create 'blocks' of raw matter in your lab that are useful for a couple different esoteric reactions."],

      "chemistrystuff1" : ["Chemical Reactions","^orange;Tier 1^reset;\n\nYou've learned to make chunks of pure carbon in your lab and a couple different compounds that will be useful in agriculture and medicine."],

      "chemistrystuff2" : ["Elemental Synthesis","^orange;Tier 2^reset;\n\nWith your newfound chemistry knowledge, you can now create various elemental compounds that would normally be obtained from slain foes. You can also create more advanced crystals. You'll have to upgrade to a ^orange;Chemistry Lab^reset; first, though."],

      "aliencompound" : ["Bio-Metallic Compounds","^orange;Tier 4^reset;\n\nYou've learned how to mix living material and metals in chemistry to do some bizarre things. You can produce useful Alien Compound and Quietus Ore in your lab."],

      //"lasombrium" : ["Corruption Chemistry","^orange;Tier 5^reset;\n\nThanks to your extensive knowledge of bio-metallic chemistry, you can now produce Lasombrium in your lab. Lasombrium is often referred to as \"seeds of corruption\" because it twists and corrupts organic and inorganic matter alike into strange and sinister forms. It can be used to create all sorts of icky bio-weapons and half-living armor."],

      "explosives1" : ["Explosives","^orange;Tier 1^reset;\n\nPerhaps one of the most classic chemical reactions is something going boom. Now, you can make that happen on demand with some neat new explodables to help you mine."],

      "explosives2" : ["Advanced Explosives","^orange;Tier 3^reset;\n\nBy using plastic in the creation of explosives, you can not only more safely contain bigger and deadlier bombs, but also easily shape your charges to make them more effective when they blow."],

      "fertilizer1" : ["Fertilizer","^orange;Tier 1^reset;\n\nYou've begun to learn how to make useful crop-growing aids out of chemicals and can now craft basic fertilizer at your ^orange;Alchemy Table^reset;\n\nAmmonium Sulfate can be extracted from many sources. Try grinding up some Core Fragments or Poop in your Hand Mill.\n\nYou'll need a ^orange;Growing Tray^reset; to do anything with your fertilizer - if you're just growing plants out of the ground with a hoe and watering can, it won't be of any use to you."],

      "fertilizer2" : ["Improved Fertilizer","^orange;Tier 2^reset;\n\nYou can make even better fertilizer using more complex chemicals. Your plants will thank you with faster growth and more yields."],

      "fertilizer3" : ["Peerless Fertilizer","^orange;Tier 3^reset;\n\nYou've mastered not just plant fertilization, but also the making of pesticides. Just make sure to wash it before you eat it."],

      "biofuel1" : ["Biofuel","^orange;Tier 2^reset;\n\nYou've learned how to make fuel out of organic matter, which can be used to fuel various generators, ship engines and mechs."],

      "biofuel2" : ["Improved Biofuel","^orange;Tier 3^reset;\n\nYou've learned how to make fuel out of organic matter, which can be used to fuel various generators, ship engines and mechs."],

      "biofuel3" : ["Amazing Biofuel","^orange;Tier 4^reset;\n\nYou've learned how to make fuel out of organic matter, which can be used to fuel various generators, ship engines and mechs."],

      "liquidcrafting1" : ["Liquid Creation","^orange;Tier 1^reset;\n\nYou've learned the basics of liquid creation and can now artifically create a few different liquid types at your lab.\n\nYou've also learned to create Cell Material, a useful resource when engineering novel plants."],

      "liquidcrafting2" : ["Advanced Liquids","^orange;Tier 2^reset;\n\nYou now know how to make a few more types of liquid, including some really hot or really cold ones.\n\nWith the engineered Spliced Cell, you have access to even greater genetic engineering."],

      "liquidcrafting3" : ["Peerless Liquid Creation","^orange;Tier 4^reset;\n\nYou can make even more complicated liquids at your lab."],

      "mechfuel" : ["Liquid Fuels","^orange;Tier 2^reset;\n\nYour combined knowledge of fluid creation and biofuel has led to you designing an enhanced, efficient fuel for use in mechs and combustion generators."],

      //"slimes" : ["Strange Slime","^orange;Tier 3^reset;\n\nThrough your chemistry studies, you are now able to synthesize strange biological slimes that will be useful in further chemistry and botany."],

      "cells1" : ["Cell Manipulation","^orange;Tier 3^reset;\n\nYou are now able to engineer advanced cells and mutagenic samples in your lab that are especially useful in bioweapons and plant design as well as craft and utilize bizarre biological slimes."],

      "cells2" : ["Cell Mastery","^orange;Tier 5^reset;\n\nYour knowledge of cells is vast. You can make even more strange cells and mutagenic samples."],

      "elduucrystals" : ["Crystal Horticulture","^orange;Tier 3^reset;\n\nYou've studied the Eld'uukhar art of growing crystals like plants and can now do so yourself."],

      "glowinggels" : ["Specialized Gels","^orange;Tier 3^reset;\n\nYou've developed some weird gels that glow in the dark and can accelerate anything that touches them to a high speed."],

      "unstableparticles" : ["Particle Destabilization","^orange;Tier 4^reset;\n\nTurns out all that explosives knowledge was good for something besides making things explode: making things _prone_ to exploding. Unstable Particles are crucial in developing nuclear technology."],

      "metallichydrogen" : ["Metallic Hydrogen","^orange;Tier 5^reset;\n\nNormally, this stuff is only found in the depths of gas giants, but you found a way to make it in your lab by yourself. Metallic Hydrogen is a powerful superconductor, and an amazing fuel source. Also, you found the best way to weaponize Unstable Particles - by combining them with Metallic Hydrogen to build ridiculously destructive grenades."],

      "medicinen1" : ["Basic Medicine","^orange;Tier 1^reset;\n\nYou've taught yourself some basic medical knowledge and can make simple healing items.\n\n^yellow;Did you know?^reset; Healing items in Frackin' Universe impose a moderately long cooldown upon use during which no other healing items can be used. Don't expect to spam bandages to victory!"],

      "medicinen2" : ["Advanced Medicine","^orange;Tier 3^reset;\n\nYour medical knowledge has grown quite a bit. You're able to make superior healing items."],

      "medicinen3" : ["Peerless Medicine","^orange;Tier 5^reset;\n\nIt's no exaggeration to say that you're one of the best medics in the galaxy. You can craft impossibly potent healing items which can cure any wound."]
    }
  },

    "cutsomGridTileImages":{"fu_chemistry" : "/zb/researchTree/gridTileCyan.png"},

  "hiddenResearch" : {
    "fu_chemistry" : [ ]//"PLASTIC1","PLASTIC2","GRAPHENE","MORPHITE","CHEMISTRYSTUFF1",	"CHEMISTRYSTUFF2",	"ALIENCOMPOUND",	"LASOMBRIUM","EXPLOSIVES1","EXPLOSIVES2","FERTILIZER1","FERTILIZER2","FERTILIZER3","BIOFUEL1","BIOFUEL2","BIOFUEL3","LIQUIDCRAFTING1","LIQUIDCRAFTING2","LIQUIDCRAFTING3","MECHFUEL","SLIMES","CELLS1","CELLS2","ELDUUCRYSTALS","GLOWINGGELS","UNSTABLEPARTICLES","METALLICHYDROGEN","MEDICINEN2","MEDICINEN3"]
  },

  "versions":{
    "fu_chemistry" : "0.125"
  },
  "initiallyResearched" : {
    "fu_chemistry" : [ "BASICTRAINING" ]
  },

  "currencies" : [],

  "customConsumptionRules" : {
    "fu_chemistry" : {"currency" : true, "items" : false }
  },
  "treeIcons" : {
    "fu_chemistry" : "/zb/researchTree/icons/chemistry.png"
  }
}
