{
	"researchTree" : {
		"fu_geology" : {
			"survival_1" : {
				"icon" : "/items/tools/miningtools/beamaxe.png",
				"position" : [-40, 40],
				"children" : [ "metals_tier1","metals_crystal","isotopes2", "fossils1", "amber","isotopes1" ], //"terraforming1"
				"price" : [ ],
				"unlocks" : [ ]
			},
			"amber" : {
				"icon" : "/items/generic/crafting/fissionfurnace/fuamberchunk.png",
				"position" : [-40, 0],
				"children" : [  ],
				"price" : [["fuscienceresource", 250]],
				"unlocks" : [ "fuamberchunk", "slimegem", "greenslime", "slimegoo", "slimecentrifuge"  ]
			},
			"metals_tier1" : {
				"icon" : "/objects/crafting/upgradeablecraftingobjects/craftingfurnace/craftingfurnaceicon.png",

				"position" : [20, 0],
				"children" : [ "metals_tier2", "metals_copper","metals_iron", "metals_silver", "metals_gold" ],
				"price" : [["fuscienceresource", 90],["cobblestonematerial", 5]],
				"unlocks" : [ "craftingfurnace", "firedclay", "volatilepowder", "paper", "nicepaper", "glass", "bottle" ]
			},
			"fossils1" : {
				"icon" : "/objects/crafting/fossilstation/fossilstationicon.png",
				"position" : [-90, 40],
				"children" : [ "fossils2" ],
				"price" : [["fuscienceresource", 300],["ironbar", 4]],
				"unlocks" : [ "fossilstation", "fossilbrushbeginner", "fossildisplay1", "fossildisplay3", "fossildisplay5", "fossildisplay6", "fossildisplay7" ]
			},
				"fossils2" : {
					"icon" : "/items/active/fossil/fossilbrushstudenticon.png",
					"position" : [-120, 40],
					"children" : [ "fossils3" ],
					"price" : [["fuscienceresource", 1500],["fossilbrushbeginner", 1]],
					"unlocks" : [ "fossilbrushstudent","fossilbrushhammer" ]
				},
				"fossils3" : {
					"icon" : "/items/active/fossil/fossilbrushmastericon.png",
					"position" : [-150, 40],
					"children" : [ "fossils4" ],
					"price" : [["fuscienceresource", 3000],["fossilbrushstudent",1]],
					"unlocks" : [ "fossilbrushmaster" ]
				},
				"fossils4" : {
					"icon" : "/items/active/fossil/fossilbrushultraicon.png",
					"position" : [-180, 40],
					"children" : [ ],
					"price" : [["fuscienceresource", 5000],["fossilbrushmaster",1],["fumadnessresource",250]],
					"unlocks" : [ "fossilbrushultra" ]
				},

			"metals_copper" : {
				"icon" : "/items/generic/crafting/copperbar.png",
				"children" : [ ],
				"position" : [0, 40],
				"price" : [["fuscienceresource", 90],["copperore", 1]],
				"unlocks" : [ "copperbar" ]
			},
			"metals_iron" : {
				"icon" : "/items/generic/crafting/ironbar.png",
				"children" : [ ],
				"position" : [0, -40],
				"price" : [["fuscienceresource", 120],["ironore", 1]],
				"unlocks" : [ "ironbar" ]
			},

			"metals_tier2" : {
				"icon" : "/zb/researchTree/icons/2.png",
				"children" : [ "metals_tier3","metals_telebrium","metals_tungsten", "metals_alloy1" ],
				"position" : [80, 0],
				"price" : [["fuscienceresource", 800]],
				"unlocks" : []
			},
				"metals_tungsten" : {
					"icon" : "/items/generic/crafting/tungstenbar.png",
					"children" : [ ],
					"position" : [110, 40],
					"price" : [["fuscienceresource", 240],["tungstenore", 1]],
					"unlocks" : ["tungstenbar", "tungstenore", "skathreinforcedglass" ]
				},
				"metals_telebrium" : {
					"icon" : "/items/generic/crafting/fissionfurnace/moonstonebar.png",
					"children" : [ ],
					"position" : [110, -40],
					"price" : [["fuscienceresource", 300],["moonstoneore", 1]],
					"unlocks" : ["moonstonebar"]
				},
				"metals_silver" : {
					"icon" : "/items/generic/crafting/silverbar.png",
					"children" : [ ],
					"position" : [40, -40],
					"price" : [["fuscienceresource", 240],["silverore", 1]],
					"unlocks" : ["silverbar"]
				},
				"metals_gold" : {
					"icon" : "/items/generic/crafting/goldbar.png",
					"children" : [],
					"position" : [40, 40],
					"price" : [["fuscienceresource", 500],["goldore", 1]],
					"unlocks" : ["goldbar" ]
				},

			"metals_tier3" : {
				"icon" : "/zb/researchTree/icons/3.png",
				"children" : [ "metals_tier4", "metals_alloy2", "metals_titanium", "metals_protocite", "metals_zerchesium", "metals_penumbrite" ],
				"position" : [170, 0],
				"price" : [["fuscienceresource", 1400]],
				"unlocks" : []
			},
				"metals_titanium" : {
					"icon" : "/items/generic/crafting/titaniumbar.png",
					"children" : [ ],
					"position" : [140, 40],
					"price" : [["fuscienceresource", 300],["titaniumore", 1]],
					"unlocks" : ["titaniumbar"]
				},
				"metals_protocite" : {
					"icon" : "/items/generic/crafting/fissionfurnace/protocitebar.png",
					"children" : [ ],
					"position" : [140, -40],
					"price" : [["fuscienceresource", 500],["protociteore", 1]],
					"unlocks" : ["protocitebar", "protoblockmaterial"]
				},
				"metals_penumbrite" : {
					"icon" : "/items/generic/crafting/fissionfurnace/penumbriteshard.png",
					"children" : [ ],
					"position" : [200, -40],
					"price" : [["fuscienceresource", 500],["penumbriteore", 1]],
					"unlocks" : ["penumbriteshard"]
				},
				"metals_zerchesium" : {
					"icon" : "/items/generic/crafting/fissionfurnace/zerchesiumbar.png",
					"children" : [ ],
					"position" : [200, 40],
					"price" : [["fuscienceresource", 600],["zerchesiumore", 1]],
					"unlocks" : ["zerchesiumbar"]
				},

			"metals_tier4" : {
				"icon" : "/zb/researchTree/icons/4.png",

				"position" : [260, 0],
				"children" : [ "metals_tier5", "metals_alloy3","metals_durasteel","metals_lasombrium", "metals_quietus", "metals_trianglium", "metals_irradium" ],
				"price" : [["fuscienceresource", 3500]],
				"unlocks" : []
			},
				"metals_durasteel" : {
					"icon" : "/items/generic/crafting/durasteelbar.png",
					"children" : [ ],
					"position" : [290, 40],
					"price" : [["fuscienceresource", 400],["durasteelore", 1]],
					"unlocks" : ["durasteelbar"]
				},
				"metals_lasombrium" : {
					"icon" : "/items/generic/crafting/chemlab/corruptionseed.png",
					"children" : [ ],
					"position" : [290, -40],
					"price" : [["fuscienceresource", 1350],["corruptionore", 1]],
					"unlocks" : ["corruptionseed"]
				},
				"metals_quietus" : {
					"icon" : "/items/generic/crafting/fissionfurnace/quietusbar.png",
					"children" : [ ],
					"position" : [230, -40],
					"price" : [["fuscienceresource", 450],["quietusore", 1]],
					"unlocks" : ["quietusbar"]
				},
				"metals_trianglium" : {
					"icon" : "/items/generic/crafting/fissionfurnace/triangliumpyramid.png",
					"children" : [ ],
					"position" : [230, 40],
					"price" : [["fuscienceresource", 900],["triangliumore", 1]],
					"unlocks" : ["triangliumpyramid"]
				},
				"metals_irradium" : {
					"icon" : "/items/generic/crafting/fissionfurnace/irradiumbar.png",
					"children" : [ ],
					"position" : [260, -90],
					"price" : [["fuscienceresource", 1000],["irradiumore", 1],["plutoniumrod", 1]],
					"unlocks" : [ "irradiumbar" ]
				},

			"metals_tier5" : {
				"icon" : "/zb/researchTree/icons/5.png",
				"position" : [350, 0],
				"children" : [ "metals_tier6", "metals_alloy4",  "metals_effigium", "metals_aegisalt", "metals_violium", "metals_ferozium" ],//"metals_alloy5",
				"price" : [["fuscienceresource", 6400]],
				"unlocks" : []
			},
				"metals_effigium" : {
					"icon" : "/items/generic/crafting/fissionfurnace/effigiumbar.png",
					"children" : [ ],
					"position" : [380, 40],
					"price" : [["fuscienceresource", 700],["effigiumore", 1]],
					"unlocks" : ["effigiumbar"]
				},
				"metals_aegisalt" : {
					"icon" : "/items/generic/crafting/refinedaegisalt.png",
					"children" : [],
					"position" : [380, -40],
					"price" : [["fuscienceresource", 500],["aegisaltore", 1]],
					"unlocks" : ["refinedaegisalt"]
				},
				"metals_ferozium" : {
					"icon" : "/items/generic/crafting/refinedferozium.png",
					"children" : [],
					"position" : [320, 40],
					"price" : [["fuscienceresource", 500],["feroziumore", 1]],
					"unlocks" : ["refinedferozium"]
				},
				"metals_violium" : {
					"icon" : "/items/generic/crafting/refinedviolium.png",
					"children" : [],
					"position" : [320, -40],
					"price" : [["fuscienceresource", 500],["violiumore", 1]],
					"unlocks" : ["refinedviolium"]
				},

			"metals_tier6" : {
				"icon" : "/zb/researchTree/icons/6.png",
				"position" : [440, 0],
				"children" : [ "metals_tier8", "metals_solarium", "metals_isogen", "metals_pyreite", "metals_densinium"],//"metals_tier7" nocxium is only in Madness where it belongs
				"price" : [["fuscienceresource", 9000]],
				"unlocks" : []
			},

				"metals_solarium" : {
					"icon" : "/items/generic/crafting/solariumstar.png",
					"children" : [],
					"position" : [470, 40],
					"price" : [["fuscienceresource", 900],["solariumore", 1]],
					"unlocks" : ["solariumstar"]
				},
				"metals_isogen" : {
					"icon" : "/items/generic/crafting/fissionfurnace/isogenbar.png",
					"children" : [ ],
					"position" : [470, -40],
					"price" : [["fuscienceresource", 2000],["isogenore", 1]],
					"unlocks" : ["isogenbar"]
				},
				"metals_pyreite" : {
					"icon" : "/items/generic/crafting/fissionfurnace/pyreitebar.png",
					"children" : [ ],
					"position" : [410, -40],
					"price" : [["fuscienceresource", 2000],["pyreiteore", 1]],
					"unlocks" : ["pyreitebar"]
				},
				"metals_densinium" : {
					"icon" : "/items/generic/crafting/fissionfurnace/densiniumbar.png",
					"children" : [ ],
					"position" : [410, 40],
					"price" : [["fuscienceresource", 2000],["densiniumore", 1]],
					"unlocks" : ["densiniumbar"]
				},

				"metals_tier8" : {
					"icon" : "/items/generic/crafting/fissionfurnace/aetheriumalloy.png",
					"position" : [530, 0],
					"children" : [  ],
					"price" : [["fuscienceresource", 9200],["densiniumbar", 1],["solariumstar", 1],["xithricitecrystal", 1]],
					"unlocks" : ["aetheriumalloy"]
				},

			//crystals
			"metals_crystal" : {
				"icon" : "/items/generic/crafting/crystal.png",
				"position" : [-90, 0],
				"children" : [ "metals_lunari", "metals_crystal2" ],
				"price" : [["fuscienceresource", 320]],
				"unlocks" : [ "furniturestation", "crystalloom", "wovencrystal", "gemstation", "crystal", "crystallight", "duskilineseed", "oceaniteseed", "thanatiteseed", "emeraseed", "feyaseed" ]
			},
			"metals_crystal2" : {
				"icon" : "/items/generic/crafting/crystal.png",
				"position" : [-130, 0],
				"children" : [ ],
				"price" : [["fuscienceresource", 450]],
				"unlocks" : [  "siviteore", "phositeseed", "tokaniteseed","apaliteseed", "rukarseed", "koaniteore" ]
			},
			"metals_lunari" : {
				"icon" : "/items/generic/crafting/fissionfurnace/solaricrystal.png",
				"children" : [ "metals_prisilite", "metals_honedlunari" ],
				"position" : [-90, -40],
				"price" : [["fuscienceresource", 600],["solarishard", 1]],
				"unlocks" : ["solaricrystal", "exoniteseed", "rasilineseed", "sahkiteseed" ]
			},
			"metals_honedlunari" : {
				"icon" : "/items/generic/crafting/fissionfurnace/solaricrystal.png",
				"children" : [ ],
				"position" : [-130, -80],
				"price" : [["fuscienceresource", 10800],["solaricrystal", 1]],
				"unlocks" : ["honedlunari"]
			},
			"metals_prisilite" : {
				"icon" : "/items/generic/crafting/prisilitestar.png",
				"children" : [ "metals_xithricite" ],
				"position" : [-90, -80],
				"price" : [["fuscienceresource", 1200],["prisiliteore", 1]],
				"unlocks" : ["prisilitestar"]
			},
			"metals_xithricite" : {
				"icon" : "/items/generic/crafting/fissionfurnace/xithricitecrystal.png",
				"children" : [ ],
				"position" : [ -90, -120 ],
				"price" : [["fuscienceresource", 8600],["xithriciteore", 1]],
				"unlocks" : ["xithricitecrystal"]
			},

			"metals_alloy1" : {
				"icon" : "/items/generic/crafting/fissionfurnace/carbonplate.png",
				"children" : [ ],
				"position" : [80, 50],
				"price" : [["fuscienceresource", 900],["coalore", 10],["fu_carbon", 5]],
				"unlocks" : [ "carbonplate" ]
			},
			"metals_alloy2" : {
				"icon" : "/items/generic/crafting/fissionfurnace/advancealloy.png",
				"children" : [ ],
				"position" : [170, 90],
				"price" : [["fuscienceresource", 2250],["protocitebar", 1],["penumbriteshard", 1],["zerchesiumbar", 1]],
				"unlocks" : [ "advancealloy" ]
			},
			"metals_alloy3" : {
				"icon" : "/items/generic/crafting/fissionfurnace/tritaniumbar.png",
				"children" : [ ],
				"position" : [260, 90],
				"price" : [["fuscienceresource", 3600],["prisilitestar", 1],["triangliumpyramid", 1],["irradiumbar", 1]],
				"unlocks" : [ "tritaniumbar" ]
			},
			"metals_alloy4" : {
				"icon" : "/items/generic/crafting/fissionfurnace/densealloy.png",
				"children" : [ ],
				"position" : [350, 90],
				"price" : [["fuscienceresource", 4700],["refinedaegisalt", 1],["refinedviolium", 1],["refinedferozium", 1]],
				"unlocks" : [ "densealloy" ]
			},
			//isotopes
			"isotopes1" : {
				"icon" : "/items/generic/crafting/isotopes/plutoniumore.png",
				"children" : [ "isotopes2","isotopes3", "isotopes4" ],
				"position" : [0, 80],
				"price" : [["fuscienceresource", 700],["plutoniumore", 1]],
				"unlocks" : [ "plutoniumrod", "deuterium" ]
			},
			"isotopes2" : {
				"icon" : "/items/generic/crafting/isotopes/uraniumore.png",
				"children" : [ "isotopes_enriched" ],//"isotopes5"
				"position" : [40, 120],
				"price" : [["fuscienceresource", 800],["uraniumore", 1]],
				"unlocks" : [ "uraniumrod" ]
			},
			"isotopes3" : {
				"icon" : "/items/generic/crafting/isotopes/neptuniumore.png",
				"children" : [ ],
				"position" : [-40, 80],
				"price" : [["fuscienceresource", 1200],["neptuniumore", 1]],
				"unlocks" : [ "neptuniumrod" ]
			},
			"isotopes4" : {
				"icon" : "/items/generic/crafting/isotopes/thoriumore.png",
				"children" : [ ],
				"position" : [-40, 120],
				"price" : [["fuscienceresource", 1400],["thoriumore", 1]],
				"unlocks" : [ "thoriumrod" ]
			},
			"isotopes_enriched" : {
				"icon" : "/items/generic/crafting/isotopes/enricheduranium.png",
				"children" : [  ],//"isotopes5"
				"position" : [70, 150],
				"price" : [["fuscienceresource", 2200],["deuterium", 1]],
				"unlocks" : [ "enricheduranium","enrichedplutonium"  ]
			}
		}
	},

	"acronyms" : {
		"fu_geology" : {

			"BASICTRAINING" : "survival_1",
			"MT1" : "metals_tier1",
				"MT2" : "metals_tier2",
				"MT3" : "metals_tier3",
				"MT4" : "metals_tier4",
				"MT5" : "metals_tier5",
				"MT6" : "metals_tier6",
				"MT8" : "metals_tier8",
					"MET0" : "metals_copper",
					"MET1" : "metals_iron",
					"MET2" : "metals_silver",
					"MET3" : "metals_gold",
					"MET4" : "metals_tungsten",
					"MET5" : "metals_titanium",
					"MET6" : "metals_durasteel",
					"MET7" : "metals_aegisalt",
					"MET8" : "metals_violium",
					"MET9" : "metals_ferozium",
					"MET10" : "metals_solarium",
					"MET11" : "metals_telebrium",
					"MET12" : "metals_densiniumbar",
					"MET13" : "metals_effigiumbar",
					"MET14" : "metals_irradium",
					"MET15" : "metals_isogen",
					"MET16" : "metals_pyreite",
					"MET17" : "metals_morphite",
					"MET19" : "metals_penumbrite",
					"MET20" : "metals_protocite",
					"MET21" : "metals_quietus",
					"MET22" : "metals_lunari",
					"MET23" : "metals_trianglium",
					"MET24" : "metals_xithricite",
					"MET25" : "metals_zerchesium",
					"MET26" : "metals_lasombrium",
					"MET27" : "metals_plasmiccrystal",
					"MET28" : "metals_prisilite",
					"MET29" : "metals_effigium",
					"MET30" : "metals_densinium",
					"MET31" : "metals_crystal",
					"MET32" : "metals_diamond",
					"MET33" : "metals_crystal2",
					"MET35" : "metals_honedlunari",
//					"MET36" : "metals_carbon",
					"MA1" : "metals_alloy1",
					"MA2" : "metals_alloy2",
					"MA3" : "metals_alloy3",
					"MA4" : "metals_alloy4",
					"MA5" : "metals_alloy5",
					"MA6" : "metals_alloy6",
					"FS1" : "fossils1",
					"FS2" : "fossils2",
					"FS3" : "fossils3",
					"FS4" : "fossils4",
					"TF1" : "terraforming1",
					"TF2" : "terraforming2",
					"TF3" : "terraforming3",
					"ISO1" : "isotopes1",
					"ISO2" : "isotopes2",
					"ISO3" : "isotopes3",
					"ISO4" : "isotopes4",
					"ISO5" : "isotopes5",
					"ISO6" : "isotopes6",
					"ISOEN" : "isotopes_enriched",
					"AMBER" : "amber"
		}
	},

	"strings" : {
		"currencies" : {

		},

		"trees" : {
			"fu_geology" : "Geology"
		},

		"research" : {
			"default"	: [ "Select a Research",". Select a research by clicking one of the icons on the grid.\nYou can navigate the grid by dragging with the left mouse button.\nThe left button at the top left corner will move the view to the center of the tree, and the left button will open a list of researches, from which you can zoom to other researches." ],
			"survival_1"	: [ "Basic Training",	"^orange;Tier 1^reset;\n\nYour training, thanks to four years in the Protectorate Academy, provides you with basic survival skills to keep you alive for extended periods in the event of a crash." ],
			"amber"	: [ "Organic Smelting",	"^orange;Tier 2^reset;\n\nYou've learned to smelt organic substances into usable forms. You can now make chunks of amber and hardened slime 'gems' at your furnace." ],
			"metals_tier1"	: [ "Geology I","^orange;Blacksmithing - Tier 1^reset;\n\nLearn to process ^cyan;Copper^reset; and ^cyan;Iron^reset; ores. Through these materials you'll be able to dive into crafting and really get started. This research will lead to greater knowledge of metalworking.\n\nYou've also learn to smelt basic items like ^cyan;Clay^reset; and ^cyan;Glass^reset;. Should you have trouble locating the requirements for these, you'll need to dig. You'll find both ^cyan;Clay^reset; and ^cyan;Sand^reset; readily."],
			"metals_tier2"	: [ "Geology II",	"^orange;Steelworker - Tier 2^reset;\n\nLearn to process ^cyan;Tungsten^reset; and ^cyan;Telebrium^reset; and work it into useful equipment. This will grant access to higher quality gear and dramatically increase survivability through defensive gear." ],
			"metals_tier3"	: [ "Geology III",  "^orange;Industrial Metals - Tier 3^reset;\n\nNow you can work with ^cyan;Titanium^reset;, and through it you'll be able to upgrade many of your crafting stations. Furthermore, you'll learn to work with more unusual materials such as ^cyan;Protocite^reset; and ^cyan;Penumbrite^reset; (both of which are quite useful)." ],
			"metals_tier4"	: [ "Geology IV",	"^orange;Space-Age Metals - Tier 4^reset;\n\nDurasteel is a fantastic material. Through this metal, all of your crafting tables will be able to upgrade to their maximum capacity. You'll also find a much more potent set of defensive and offensive gear." ],
			"metals_tier5"	: [ "Geology V",	"^orange;Elemental Metals - Tier 5^reset;\n\nAegisalt, Ferozium and Violium are sought after resources of relatively high value, and are capable of being forged into very useful equipment." ],
			"metals_tier6"	: [ "Geology VI",	"^orange;Superior Metals - Tier 6^reset;\n\nSolarium, Pyreite, Isogen and Densinium are all remarkable metals guaranteed to excel in their particular idiom. Through these metals you will be able to forge fantastic things." ],
			"metals_tier7"	: [ "Geology VII",	"^orange;Multi-Phasic Metals - Tier 7^reset;\n\nYou can now delve into metals that violate the very laws of physics. Anything beyond here is truly wonderous to behold, and the fact that you can work with it puts you a step above nearly every living metalsmith in the galaxy." ],
			"metals_tier8"	: [ "Geology VIII",	"^orange;Impossible Metals - Tier 8^reset;\n\nHarnessing the very essence of the cosmos, you are able to form it into a new form of matter specially created to be nearly perfect. You have mastered all there is to know about this artform." ],
			"metals_copper"	: [ "Copper",	"^orange;Tier 1^reset;\n\nThe simplest of the metals for you to work with. It is soft, conductive and abundant. ^cyan;Copper^reset; remains useful in most industrial processes thanks to its requirement in wiring. \n\nYou'll find ^cyan;Copper^reset; on ^green;most worlds^reset;, as it is extremely abundant throughout the cosmos." ],
			"metals_iron"	: [ "Iron",	"^orange;Tier 1^reset;\n\n^cyan;Iron^reset; is perhaps the most commonly used metal, even in our current age. Without it, the fundamentals of industrialization seldom come to pass. It forms the backbone for early survival, fashioning useful hunting weapons.\n\n ^cyan;Iron^reset; is found on a great deal of worlds, but is most easily located on ^green;Lush^reset; worlds." ],
			"metals_tungsten"	: [ "Tungsten",	"^orange;Tier 2^reset;\n\n^cyan;Tungsten^reset; is a tough metal with a very high melting point. This makes it a favorite in advanced construction, as it is exceptionally useful in weapons and equipment. \n\n^cyan;Tungsten^reset; can be found on many worlds but is most easily found on ^green;Forest^reset; and ^green;Desert^reset; biomes. You've also learned to make a functionally similar steel-like substitute by alloying Iron ore at an ^orange;Industrial Furnace^reset;." ],
			"metals_silver"	: [ "Silversmithing",	"^orange;Tier 2^reset;\n\n^cyan;Silver^reset; is a soft metal that is heralded for its beauty. It's a good way to turn a profit, but can also be used to create useful gear. \n\n^cyan;Silver^reset; is found on most worlds, generally ^green;below the first layer of the biome^reset;." ],
			"metals_gold"	: [ "Goldsmithing",	"^orange;Tier 2^reset;\n\n^cyan;Gold^reset; has always been a status symbol, valuable among metals. It's soft, and thus not particularly useful in weapons and armor. \n\n^cyan;Gold^reset; is found on most worlds, generally ^green;below the first and second layer of the biome^reset;." ],
			"metals_titanium"	: [ "Titanium",	"^orange;Tier 3^reset;\n\nDurable, extremely hard to melt, and one of the most important metals for construction in the known galaxy. \n\nYou can find ^cyan;Titanium^reset; on most ^green;Tier 3^reset; worlds. ^green;Oceanic^reset; worlds prove to be the lowest threat, but also have less abundant sources." ],
			"metals_durasteel"	: [ "Durasteel",	"^orange;Tier 4^reset;\n\nA dense metal with the uncanny ability to meld seamlessly against a vaccuum, ^cyan;Durasteel^reset; is a favorite among space engineers. \n\n^cyan;Durasteel^reset; can be found on nearly all ^green;Tier 4^reset; worlds. ^green;Alien^reset;, ^green;Sulphuric^reset;, ^green;Mountainous^reset; are all good sources." ],
			"metals_ferozium"	: [ "Ferozium",	"^orange;Tier 5^reset;\n\nLearn to process ^cyan;Ferozium^reset;. \n\nYou can find ^reset;Ferozium^reset; on any world that is ^green;Tier 5^reset;." ],
			"metals_aegisalt"	: [ "Aegisalt",	"^orange;Tier 5^reset;\n\nLearn to process ^cyan;Aegisalt^reset;. \n\nYou can find ^reset;Aegisalt^reset; on any world that is ^green;Tier 5^reset;." ],
			"metals_violium"	: [ "Violium",	"^orange;Tier 5^reset;\n\nLearn to process ^cyan;Violium^reset;. \n\nYou can find ^reset;Violium^reset; on any world that is ^green;Tier 5^reset;." ],
			"metals_solarium"	: [ "Solarium",	"^orange;Tier 6^reset;\n\nLearn to process ^cyan;Solarium^reset;. \n\nYou can find ^reset;Solarium^reset; on any world that is ^green;Tier 6^reset;." ],
			"metals_telebrium"	: [ "Telebrium",	"^orange;Tier 2.5^reset;\n\nLearn to process the unusual ore known as ^cyan;Telebrium^reset;. Lightweight, conductive enough to create charge but unsuitable for holding it long-term, this metal has found use in numerous areas.\n\nYou can find Telebrium primarily on ^green;Moons^reset;, where it can be found abundantly forming." ],
			"metals_densinium"	: [ "Densinium",	"^orange;Tier 6^reset;\n\nLearn to process ^cyan;Densinium^reset;. \n\nYou can find Densinium primarily on ^green;Cyberspheres^reset;. It can also rarely be found on ^green;Sulphuric^reset; biomes and ^green;Gas Giants^reset;. It is the most dense of metals, capable of unimaginable resistance against force. It is extremely hard to work with as a result, reserved for the most skilled weaponsmiths." ],
			"metals_effigium"	: [ "Effigium",	"^orange;Tier 5^reset;\n\nLearn to process ^cyan;Effigium^reset;. \n\nYou can find Effigium  only on ^green;Lightless^reset; worlds, where it blends into the terrain around it as if it were insubstantial. This is a strange trick of physics that few can even begin to understand, but many have theorized that it is able to repel light photons." ],
			"metals_irradium"	: [ "Irradium",	"^orange;Tier 4.5^reset;\n\nLearn to process ^cyan;Irradium^reset;. \n\nYou can find Irradium primarily on ^green;Irradiated^reset; biomes. Easily the most radioactive of ores you can safely work with, it fills an interesting niche in geological terms: it both creates and nullifies radioactivity." ],
			"metals_isogen"	: [ "Isogen",	"^orange;Tier 6^reset;\n\nLearn to process ^cyan;Isogen^reset;. \n\nYou can find Isogen primarily on dangerous freezing worlds like ^green;Ice Wastes^reset;. Even touching this ore can risk frostbite, so care should be excercised when working with it. It can make fantastic shielding against heat, and can be worked into deadly frost weapons." ],
			"metals_pyreite"	: [ "Pyreite",	"^orange;Tier 6^reset;\n\nLearn to process ^cyan;Pyreite.^reset; \n\nYou can find Pyreite primarily on dangerous burning worlds like ^green;Infernus^reset;. It is perhaps the best known insulator against cold temperatures and doubly great for incendiary use. Do not leave on any easily melted surface for longer than 2 minutes. This metal never grows fully cold." ],
			"metals_morphite"	: [ "Morphite",	"^orange;Tier 4.5^reset;\n\nLearn to process ^cyan;Morphite^reset;. \n\nMorphite is invented, not natural. You can syntesize it in a ^green;Chem Lab^reset;." ],
			"metals_nocxium"	: [ "Nocxium",	"^orange;Tier 7^reset;\n\nLearn to process ^cyan;Nocxium^reset;. \n\nNocxium is exceedingly rare, found only in the whispered dark reaches of the universe. Absolutely nobody knows how it first formed, or what elements it is composed of, for all attempts at study defy any such thing." ],
			"metals_penumbrite"	: [ "Penumbrite",	"^orange;Tier 3.5^reset;\n\nLearn to process ^cyan;Penumbrite^reset;. \n\nYou can find Penumbrite on ^green;Penumbra^reset; biomes. It gleams under light, shimmering for several seconds after being returned to darkness. It possesses a dull blue glow, making it simple to locate even in the dark." ],
			"metals_protocite"	: [ "Protocite",	"^orange;Tier 3.5^reset;\n\nLearn to process ^cyan;Protocite^reset;. \n\nYou can find Protocite only on ^green;Proto Worlds^reset;. This ore is famed for its ability to store and channel power while insulating at the same time, making it a popular metal for numerous processes. It glows yellow, giving away its presence to the intrepid miner." ],
			"metals_quietus"	: [ "Quietus",	"^orange;Tier 4^reset;\n\nLearn to process ^cyan;Quietus^reset;. \n\nThis horrifying metal is found only on ^green;Atropus^reset; biomes. It pulses and throbs almost imperceptibly, and when worked hard under a hammer it can almost be heard to 'scream'. It possesses useful properties, especially in regard to biological weapons." ],
			"metals_lunari"	: [ "Lunari Crystal",	"^orange;Tier 2.5^reset;\n\nLearn to process ^cyan;Lunari^reset;. \n\nThis unique crystal can be found on ^green;Crystalline^reset; biomes and is a fantastic means of transferring and storing energy. This makes it particularly popular for weapons and armor." ],
			"metals_trianglium"	: [ "Trianglium",	"^orange;Tier 4^reset;\n\nLearn to process ^cyan;Trianglium^reset;. \n\nThs unusual shape of this ore can be found readily on several biomes. The most common source are ^green;Tar Balls^reset;." ],
			"metals_xithricite"	: [ "Xithricite Crystal",	"^orange;Tier 6^reset;\n\nLearn to process ^cyan;Xithricite^reset;. \n\nThese crystals can be found only on ^green;Aether Worlds^reset;, or from the bowels of a ^green;Doom Wyrm^reset;." ],
			"metals_zerchesium"	: [ "Zerchesium",	"^orange;Tier 3.5^reset;\n\nLearn to process ^cyan;Zerchesium^reset;. \n\nZerchesium can be located on ^green;Mountainous^reset; biomes, but sometimes appears on ^green;Sulphuric^reset; worlds as well." ],
			"metals_lasombrium"	: [ "Lasombrium",	"^orange;Tier 4^reset;\n\nLearn to process ^cyan;Lasombrium^reset;. \n\nRaw chaos and entropy given form, this metal is unique and not a natural part of the universe. It phases between solid and non nearly constantly. It is only found in ^green;Corruption^reset; sub biomes, found on and beneath many types of decaying worlds.\n\nTo process this rare and unusual mineral, you'll need at least a ^orange;Chem Lab^reset; (upgrade of the Alchemy station) to properly cleanse the toxic outer shell and remove impurities. A ^orange;Blast Furnace^reset; or ^orange;Arc Smelter^reset; can also do the trick on their own." ],
			"metals_plasmiccrystal"	: [ "Plasmic Crystal",	"^orange;Tier 4^reset;\n\nLearn to process ^cyan;Plasmic Crystal^reset;. \n\nYou can find these rare crystals only in ^green;Bloodstone Seas^reset; and ^green;Atropus^reset; biomes." ],
			"metals_prisilite"	: [ "Prisilite",	"^orange;Tier 4^reset;\n\nLearn to process ^cyan;Prisilite^reset;. \n\nPrisilite is a truly interesting mineral. Capable of holding charge but not discharging it without an impact, it has been harnessed for many creative purposes across the galaxy.\n\nYou can find this chromatic crystal in many places, but ^green;Chromatic^reset; biomes are among the best places to hunt." ],
			"metals_crystal"	: [ "Crystalworking",	"^orange;Tier 2^reset;\n\nGlittering beautifully, crystals have long fascinated people across the cosmos. Through this branch of research you will learn to process Crystals. If you're desperate for some, crystals are best found on ^green;Crystalline^reset; biomes.\n\nTo craft or process these gems, you'll need a ^orange;Crystal Fusion Station^reset;." ],
			"metals_crystal2"	: [ "Elemental Crystals",	"^orange;Tier 2^reset;\n\nLearn to process Elemental Crystals of various sorts. These are utilized in a wide variety of uses by certain races, but have little value apart from trade otherwise.\n\nTo craft or process these gems, you'll need a ^orange;Crystal Fusion Station^reset;." ],
			"metals_diamond"	: [ "Diamondcraft",	"^orange;Tier 4^reset;\n\nSought after as decorative for reasons few have ever been able to discern, diamonds are allegedly beautiful (nevermind the fact that they are colorless and bland!). However, diamond is exceptionally useful to those with the means to make the most of them. You're able to do just that, and will be able to make exceptionally useful gear." ],
			"metals_honedlunari"	: [ "Peerless Lunari",	"^orange;Tier 6^reset;\n\nConvert Lunari into a vastly superior form of itself, shot-through with potent veins of energy." ],
//			"metals_carbon"	: [ "Carbon","^orange;Tier 2.5^reset;\n\nWhile it doesn't look it, Carbon houses great potential, and you'll need it for many useful technologies. It plays a part in a great deal of crafting, and paves the way to strong alloys and powerful equipment. You'll need to upgrade your starting ^orange;Furnace^reset; to smelt it." ],
			"metals_alloy1"	: [ "Carbon Plating",	"^orange;Tier 2.5^reset;\n\nWhile it doesn't look it, Carbon houses great potential, and you'll need it for many useful technologies. It plays a part in a great deal of crafting, and paves the way to strong alloys and powerful equipment.\n\nCreating carbon is simple enough, through research into ^green;Chemistry^reset; or by extracting coal. Turning it into a form that is useable in everyday processes for crafting is another matter entirely. You've learned to do just that." ],
			"metals_alloy2"	: [ "Advanced Alloy",	"^orange;Tier 3.5^reset;\n\nCombining several metals together allows you to create a superior type of alloy." ],
			"metals_alloy3"	: [ "Tritanium Alloy",	"^orange;Tier 4.5^reset;\n\nFew metals can look as beautiful as Tritanium, one of the most potent known alloys. Beneath its surface, subtly moving striations of gold and opalescent blue fluctuate in random fractal patterns. The effect is magical in appearance." ],
			"metals_alloy4"	: [ "Dense Alloy",	"^orange;Tier 5.5^reset;\n\nMerging Violium, Ferozium and Aegisalt together allows the creation of a super-strong alloy useful in many processes." ],
			"metals_alloy5"	: [ "Precursor Alloy",	"^orange;Tier 6^reset;\n\nYou have absolultely no idea what the Precursors created this alloy from, but you've at least learned to work with it." ],
			"metals_alloy6"	: [ "Aetherium Alloy",	"^orange;Tier 8^reset;\n\nYou've invented an entirely new form of alloy, and none created before it can claim to be its rival." ],
			"isotopes1"	: [ "Plutonium","^orange;Tier 2^reset;\n\nProcessing isotopes is dangerous to the uninitiated. That used to be you. Now, though, you're confident that you can safely handle these sorts of materials and utilize them in very lucrative scientific pursuits.\n\nYou're ready to start working with Plutonium, which can be quite useful for numerous applications" ],
			"isotopes2"	: [ "Uranium","^orange;Tier 3^reset;\n\nThough Plutonium is quite a bit more dangerous than Uranium, Uranium is somewhat harder to smelt. It has a high degree of usefulness in numerous machines and can even be worked into weaponry." ],
			"isotopes3"	: [ "Neptunium","^orange;Tier 4^reset;\n\nWhile not as radioactive, Neptunium has a number of applications that are not shared with Uranium." ],
			"isotopes4"	: [ "Thorium",	"^orange;Tier 5^reset;\n\nNot inherently dangerous or unstable, Thorium is quite a beneficial material when used creatively in a lab." ],
			"isotopes_enriched"	: [ "Enriched Isotopes","^orange;Tier 6^reset;\n\nThanks to your wealth of knowledge on this subject matter, you now have the ability to vastly improve Uranium and Plutonium by enhancing them with Deuterium and Erchius Fuel at your ^orange;Chem Lab^reset;. These isotopes will provide far more radioactive energy than before." ],
			"isotopes6"	: [ "Experimental Isotopes","^orange;Tier 7^reset;\n\nYou've learned to harness the power of isotopes to your utmost advantage and advanced the knowledge in this field by a generation or two in the process. You've learned to create an entirely new form of isotope with properties hitherto unseen." ],
			"fossils1"	: [ "Archaeology I","^orange;Tier 1^reset;\n\nThrough your scientific studies, you've found a certain fascination with the past. You've studied the basics of Archaeology and Anthropology, and can now create gear to help you find ^green;Fossils and Artifacts^reset;. You can craft the ^orange;Fossil Station^reset; at your ^orange;Inventor's Table^reset;.\n\nTo dig up fossils, you'll first need to find some in the soil underground. Once you do, simply stand next to the fossil and target it with your Fossil Brush of choice, and swipe it for a few seconds. You'll then be taken to the Fossil Minigame for a skill-testing challenge." ],
			"fossils2"	: [ "Archaeology II",	"^orange;Tier 2^reset;\n\nWith firmer understanding of techniques, you can now create more efficient tools to procure fossils with." ],
			"fossils3"	: [ "Archaeology III",	"^orange;Tier 3^reset;\n\nYou're able to create top of the line gear capable of unearthing even the most fragile of fossilized remains or ancient buried artifacts." ],
			"fossils4"	: [ "Archaeology IV",	"^orange;Tier 4^reset;\n\nUsing unconventional materials, you can create amazing new tools capable of near effortless archaeological digs.\n\n^cyan;You'll require just a hint of madness to figure this one out^reset;." ],

			//terraforming
			"terraforming1"	: [ "Terraforming I","^orange;Tier 4^reset;\n\nYour understanding of science and geology now makes it possible to directly interfere with planetary ecology. Through advanced technology you can edit the very nature of worlds you explore.\n\nThe first step: ^orange;Microformers^reset;. These handy devices can be placed to convert small regions into new biomes." ],
			"terraforming2"	: [ "Terraforming II","^orange;Tier 5^reset;\n\nYou can create more exotic forms of Microformer now, providing access to a number of materials you may otherwise have had to hunt for." ],
			"terraforming3"	: [ "Terraforming III",	"^orange;Tier 6^reset;\n\nWith the science of Microformers now easily understood, you've moved on to more advanced forms of terrestrial editing. You can now craft Terraformers capable of converting an entire planetary biome to one of your choosing.\n\nNote that in order to make these devices function you will require ^#e43774;Ancient Essence^reset;. This rare resource can be found in many mysterious places." ]
		}
	},

	"cutsomGridTileImages":{ "fu_geology" : "/zb/researchTree/gridTilePurple.png" },

	"hiddenResearch" : {"fu_geology" : [ "MET35","MT7", "MET18", "MT8" ]},

	"versions":{
	  "fu_geology" : "0.135"
	},
	"initiallyResearched" : {
		"fu_geology" : [ "BASICTRAINING" ]
	},

	"currencies" : [],

	"customConsumptionRules" : {
		"fu_geology" : {"currency" : true, "items" : false }
	},
    "treeIcons" : {
            "fu_geology" : "/objects/crafting/upgradeablecraftingobjects/craftingfurnace/craftingfurnaceicon.png"
    }
}
