{
	"researchTree" : {
		"fu_physics" : {

//knowledge
			"survival_1" : {
				"icon" : "/items/tools/miningtools/beamaxe.png",
				"position" : [0, 0],
				"children" : [ "physics" ],
				"price" : [ ],
				"unlocks" : [  ]
			},

					"physics" : {
						"icon" : "/interface/statuses/runboost.png",
						"position" : [180, 60],
						"children" : [ "physics2"],
						"price" : [["fuscienceresource", 180]],
						"unlocks" : [ "fieldgen" ]
					},	
						"physics2" : {
							"icon" : "/interface/statuses/runboost.png",
							"position" : [240, 60],
							"children" : [ "physics3" ],
							"price" : [["fuscienceresource", 1800]],
							"unlocks" : [ "pilch_shieldmarker", "pilch_shieldgenerator", "pilch_shieldextender", "pilch_shieldadminconsole" ]
						},		
							"physics3" : {
								"icon" : "/interface/statuses/runboost.png",
								"position" : [300, 60],
								"children" : [ "physics4" ],
								"price" : [["fuscienceresource", 11880]],
								"unlocks" : [ "sproutingtable" ]
							},	
								"physics4" : {
									"icon" : "/interface/statuses/runboost.png",
									"position" : [360, 60],
									"children" : [ ],
									"price" : [["fuscienceresource", 211380]],
									"unlocks" : [ "quantumextractor" ]
								}


		}
	},
	
	"acronyms" : {
		"fu_physics" : {
			"BASICTRAINING" : "survival_1",	
			"PHYSICS" : "physics",
				"PHYSICS2" : "physics2",
					"PHYSICS3" : "physics3",
						"PHYSICS4" : "physics4"
		}
	},

	"strings" : {
		"currencies" : {
		    "money" : "Pixels",
		    "essence" : "Essence",
			"fuscienceresource" : "Research",
			"fuprecursorresource" : "Precursor Data"
		},
		
		"trees" : {
			"fu_physics" : "^#ff180c;Physics^reset;"
		},
		
		"research" : {
			"default"	: [ "Select a Research","^red;NOT ACTIVATED YET. DO NOT USE, AS THIS CURRENTLY DOES NOTHING AT ALL. THIS IS PLACEHOLDER CONTENT^reset;. Select a research by clicking one of the icons on the grid.\nYou can navigate the grid by dragging with the left mouse button.\nThe left button at the top left corner will move the view to the center of the tree, and the left button will open a list of researches, from which you can zoom to other researches." ],
			
			//main categories
			"survival_1"	: [ "Basic Training",	"^orange;Tier 1^reset;\n\nYour training, thanks to four years in the Protectorate Academy, provides you with basic survival skills to keep you alive for extended periods in the event of a crash." ],
			"physics" : ["Physics","^orange;Tier 2^reset;\n\nThrough basic scientific process and theory, you've got the know-how to delve into basic chemistry. Using elements to produce results can prove quite powerful if you continue down this path."],
			"physics2" : ["Advanced Physics","^orange;Tier 3^reset;\n\nYou can use your know-how to bend the rules of reality...just a little bit. This path opens up far more advanced sciences."],
			"physics3" : ["Nuclear Physics","^orange;Tier 4^reset;\n\nNuclear power is exceptionally useful and will bring your resource and production control to new heights."],
			"physics4" : ["Quantum Physics","^orange;Tier 6^reset;\n\nThe real world is only a suggestion, and you can bend the rules of physics through quantum engineering to do just about anything you set your mind to. It won't be cheap, but it will be rewarding."]									
			
		}
	},

	"cutsomGridTileImages":{ "fu_physics" : "/zb/researchTree/gridTile.png" },

	"hiddenResearch" : {
		"fu_physics" : [ 
			//"MT1","MT2","MT3","MT4","MT5","MT6","MT7","MT8", "WW2", "WW3", "MED1" 
		]
	},

	"versions":{
	  "fu_physics" : "0.0971"
	},	
	"initiallyResearched" : {
		"fu_physics" : [ "BASICTRAINING" ]
	},
	
	"currencies" : []
}
