{
  "researchTree" : {
    "fu_power" : {
      "survival_1" : {
        "icon" : "/items/tools/miningtools/beamaxe.png",
        "position" : [50, -50],
        "children" : [ "electronicsbasic" ],
        "price" : [ ],
        "unlocks" : [ ]
      },

      "electronicsbasic" : {
        "icon" : "/items/generic/crafting/wire.png",
        "position" : [0, 0],
        "children" : [ "solar1", "combustion", "fission", "battery1", "centrifuge1", "itemnetwork", "liquidcollector", "windpower", "electricfurnace", "hydraulicdynamo" ],
        "price" : [["fuscienceresource", 720], ["wire", 9], ["potato", 1]],
        "unlocks" : [ "powerstation", "railcraftingtable", "fu_alternatorgenerator", "fu_conduit", "isn_powersensor", "fu_powersensorlarge", "ironcentrifuge", "fu_woodensifter", "fu_rockbreaker", "isn_battery_t0", "fu_weatherbeacon", "wiretoolfu", "network_pump", "network_quarry" ]
      },
      "solar1" : {
        "icon" : "/objects/power/isn_solarpanel/isn_solarpanel_inv.png",
        "position" : [40, 0],
        "children" : [ "solar2" ],
        "price" : [["fuscienceresource", 900], ["ff_silicon", 5], ["silverbar", 5]],
        "unlocks" : [ "isn_solarpanel" ]
      },
      "solar2" : {
        "icon" : "/objects/power/fu_solararray/fu_solararray_icon.png",
        "position" : [65, 0],
        "children" : [ "solar3" ],
        "price" : [["fuscienceresource", 1440], ["goldbar", 5], ["graphene", 8]],
        "unlocks" : [ "fu_solararray" ]
      },
      "solar3" : {
        "icon" : "/objects/power/fu_solararrayadv/fu_solararrayadv_icon.png",
        "position" : [90, 0],
        "children" : [ ],
        "price" : [["fuscienceresource", 2700], ["funanofibre", 5],  ["quietusbar", 5]],
        "unlocks" : [ "fu_solararrayadv" ]
      },
      "hydraulicdynamo" : {
        "icon" : "/objects/power/hydraulicdynamo/hydraulicdynamoicon.png",
        "position" : [-65, -25],
        "children" : [ ],
        "price" : [["fuscienceresource", 500]],
        "unlocks" : [ "hydraulicdynamo" ]
      },
      "windpower" : {
        "icon" : "/objects/power/fu_windarray/isn_windarrayicon.png",
        "position" : [-60, 20],
        "children" : [ ],
        "price" : [["fuscienceresource", 3600], ["titaniumbar", 5], ["wire", 25]],
        "unlocks" : [ "isn_windarray" ]
      },
      "combustion" : {
        "icon" : "/objects/power/isn_thermalgenerator/isn_thermalgeneratoricon.png",
        "position" : [45, 60],
        "children" : [ "blastfurnace" ],
        "price" : [["fuscienceresource", 600], ["liquidoil", 10], ["cpu", 1] ],
        "unlocks" : [ "isn_thermalgenerator" ]
      },
      "electricfurnace" : {
        "icon" : "/objects/power/electricfurnace/electricfurnace_inv.png",
        "position" : [50, 30],
        "children" : [ "blastfurnace" ],
        "price" : [["fuscienceresource", 750], ["tungstenbar", 3] ],
        "unlocks" : [ "electricfurnace" ]
      },
      "blastfurnace" : {
        "icon" : "/objects/power/fu_blastfurnace/fu_blastfurnace_inv.png",
        "position" : [100, 40],
        "children" : [ "arcsmelter" ],
        "price" : [["fuscienceresource", 7200], ["advancealloy", 8], ["fuprocessor", 1]],
        "unlocks" : [ "fu_blastfurnace" ]
      },
      "arcsmelter" : {
        "icon" : "/objects/power/isn_arcsmelter/isn_arcsmelter_inv.png",
        "position" : [150, 40],
        "children" : [ ],
        "price" : [["fuscienceresource", 12500], ["pyreitebar", 5], ["isogenbar", 5]],
        "unlocks" : [ "isn_arcsmelter" ]
      },
      "fission" : {
        "icon" : "/objects/power/isn_fissionreactornew/isn_fissionreactornew_inv.png",
        "position" : [80, -40],
        "children" : [ "fusion" ],
        "price" : [["fuscienceresource", 6600], ["advancealloy", 3], ["unstableparticles", 3]],
        "unlocks" : [ "isn_fissionreactornew" ]
      },
      "fusion" : {
        "icon" : "/objects/power/makeshiftreactor/makeshiftreactor_inv.png",
        "position" : [115, -40],
        "children" : [ "fusion2" ],
        "price" : [["fuscienceresource", 8600], ["tritaniumbar", 5], ["particlecore", 1]],
        "unlocks" : [ "makeshiftreactor"]
      },
      "fusion2" : {
        "icon" : "/objects/skath/skathfusionreactor/skathfusionreactoricon.png",
        "position" : [150, -40],
        "children" : [ "quantumpower","quantumextractor" ],
        "price" : [["fuscienceresource", 11000], ["densealloy", 5]],
        "unlocks" : [ "skathfusionreactor" ]
      },
      "quantumpower" : {
        "icon" : "/objects/power/fu_quantumgenerator/fu_quantumgeneratoricon.png",
        "position" : [180, -20],
        "children" : [  ],
        "price" : [["fuscienceresource", 14400], ["liquidmetallichydrogen", 2], ["densiniumbar", 5]],
        "unlocks" : [ "fu_quantumgenerator" ]
      },
      "quantumextractor" : {
        "icon" : "/objects/power/quantumextractor/quantumextractoricon.png",
        "position" : [180, -60],
        "children" : [ ],
        "price" : [["fuscienceresource", 8800], ["xithricitecrystal", 10], ["liquiddeuterium", 10] ],
        "unlocks" : [ "quantumextractor" ]
      },
      "battery1" : {
        "icon" : "/objects/power/isn_battery_t1/isn_battery_t1icon.png",
        "position" : [0, 40],
        "children" : [ "battery2" ],
        "price" : [["fuscienceresource", 210], ["tungstenbar", 5], ["ff_silicon", 5]],
        "unlocks" : [ "isn_battery_t1" ]
      },
      "battery2" : {
        "icon" : "/objects/power/isn_battery_t2/isn_battery_t2_inv.png",
        "position" : [0, 70],
        "children" : [ "battery3" ],
        "price" : [["fuscienceresource", 720], ["titaniumbar", 5], ["advcircuit", 1]],
        "unlocks" : [ "isn_battery_t2" ]
      },
      "battery3" : {
        "icon" : "/objects/power/isn_battery_t3_ceru/isn_battery_t3_ceru_inv.png",
        "position" : [0, 100],
        "children" : [ "battery4" ],
        "price" : [["fuscienceresource", 1350], ["protocitebar", 5], ["fuprocessor", 1]],
        "unlocks" : [ "isn_battery_t3_ceru" ]
      },
      "battery4" : {
        "icon" : "/objects/power/isn_battery_t3_fero/isn_battery_t3_fero_inv.png",
        "position" : [0, 130],
        "children" : [ "battery5a" ],//"battery5b"
        "price" : [["fuscienceresource", 2200], ["quietusbar", 5], ["aichip", 2], ["particlecore", 1]],
        "unlocks" : [ "isn_battery_t3_fero" ]
      },
      "battery5a" : {
        "icon" : "/objects/power/isn_battery_t4_fero/isn_battery_t4_fero_inv.png",
        "position" : [20, 150],
        "children" : [],
        "price" : [["fuscienceresource", 5200], ["densiniumbar", 8], ["liquidmetallichydrogen", 50]],
        "unlocks" : [ "isn_battery_t4_fero" ]
      },
      "centrifuge1" : {
        "icon" : "/objects/bees/industrialcentrifuge/industrialcentrifugeicon.png",
        "position" : [-40, 40],
        "children" : [ "centrifuge2", "sifter2" ],
        "price" : [["fuscienceresource", 1050], ["tungstenbar", 5]],
        "unlocks" : [ "industrialcentrifuge" ]
      },
      "centrifuge2" : {
        "icon" : "/objects/power/centrifuge/centrifugeicon.png",
        "position" : [-40, 80],
        "children" : [ "centrifuge3" ],
        "price" : [["fuscienceresource", 3600], ["protocitebar", 5], ["fuprocessor", 1]],
        "unlocks" : [ "centrifuge" ]
      },
      "sifter2" : {
        "icon" : "/objects/power/isn_powdersifter/isn_powdersiftericon.png",
        "position" : [-75, 80],
        "children" : [ ],
        "price" : [["fuscienceresource", 3600], ["titaniumbar", 5],["advcircuit", 2]],
        "unlocks" : [ "isn_powdersifter", "fu_rockcrusher" ]
      },
      "centrifuge3" : {
        "icon" : "/objects/power/centrifuge2/centrifuge2icon.png",
        "position" : [-40, 120],
        "children" : [ ],
        "price" : [["fuscienceresource", 6800], ["morphiteore", 5], ["effigiumbar", 3], ["ff_focusingarray", 1]],
        "unlocks" : [ "centrifuge2" ]
      },
      "itemnetwork" : {
        "icon" : "/objects/kheAA/kheAA_router/kheAA_routericon.png",
        "position" : [-120, 0],
        "children" : [ "worker2", "wiringadv", "manufacturing" ],
        "price" : [["fuscienceresource", 800], ["electromagnet", 5], ["laserdiode", 5]],
        "unlocks" : [ "network_router", "network_pointsensor", "configurable3statecycler", "network_terminal", "network_repeater", "fu_watcher", "isn_incinerator", "network_containerlink", "network_containerlink2", "network_spout", "pumpoutfu", "pumpinfu", "pumpoutpressurefu", "network_currencytoken", "network_unhandledtoken", "smartbox_singular", "smartbox_comparer", "smartbox_halver", "smartbox_splitter", "network_dropper", "network_capacitySensor", "network_itemsensor", "network_grabber", "network_grabber2", "network_grabber3", "massincinerator" ]
      },
      "worker2" : {
        "icon" : "/objects/kheAA/kheAA_pump/kheAA_pump_ironicon.png",
        "position" : [-120, 30],
        "children" : [ "worker3" ],
        "price" : [["fuscienceresource", 300], ["ironbar", 5]],
        "unlocks" : [ "network_pump_iron", "network_quarryiron" ]
      },
      "worker3" : {
        "icon" : "/objects/kheAA/kheAA_pump/kheAA_pump_titaniumicon.png",
        "position" : [-120, 60],
        "children" : ["worker4"  ],
        "price" : [["fuscienceresource", 720], ["titaniumbar", 5]],
        "unlocks" : [ "network_pump_titanium", "network_quarrytitanium" ]
      },
      "worker4" : {
        "icon" : "/objects/kheAA/kheAA_pump/kheAA_pump_densiniumicon.png",
        "position" : [-120, 90],
        "children" : [ ],
        "price" : [["fuscienceresource", 900], ["densiniumbar", 5]],
        "unlocks" : [ "network_pump_densinium", "network_quarrydensinium" ]
      },
      "wiringadv" : {
        "icon" : "/objects/crafting/wiringstation/wiringstationicon.png",
        "position" : [-150, 60],
        "children" : [ "turrets" ],
        "price" : [["fuscienceresource", 800], ["titaniumbar", 5], ["wire", 20]],
        "unlocks" : ["wiringstation"]
      },
      "turrets" : {
        "icon" : "/objects/wired/fu_turrets/fu_rocketturret/icon.png",
        "position" : [-150, 90],
        "children" : [ ],
        "price" : [["fuscienceresource", 500], ["siliconboard", 15], ["electromagnet", 10]],
        "unlocks" : ["standingturret", "fu_flameturret", "fu_cripplerturret", "fu_vashtaturret", "fu_gaussturret", "fu_laserturret", "fu_rocketturret", "fu_teslaturret", "fu_autoBeamer", "fu_autoBeamer2", "fu_autoBeamer3", "lavarooftrap", "slimerooftrap", "craftsawblade"]
      },
      "manufacturing" : {
        "icon" : "/objects/power/manufacturing/mfgstationicon.png",
        "position" : [-140, -20],
        "children" : [ ],
        "price" : [["fuscienceresource", 4200], ["advancealloy", 5], ["powercore", 1]],
        "unlocks" : [ "mfgstation" ]
      },
      "liquidcollector" : {
        "icon" : "/objects/power/fu_liquidcondenser/fu_liquidcondenser_inv.png",
        "position" : [0, -40],
        "children" : [ "condenser", "mixer" ],
        "price" : [["fuscienceresource", 400], ["fu_oxygen", 100], ["tungstenbar", 4]],
        "unlocks" : [ "fu_liquidcondenser" ]
      },
      "condenser" : {
        "icon" : "/objects/power/isn_atmoscondenser/isn_atmoscondenser_inv.png",
        "position" : [-40, -40],
        "children" : [ "filter" ],
        "price" : [["fuscienceresource", 2700], ["powercore", 1]],
        "unlocks" : [ "isn_atmoscondenser" ]
      },

      "mixer" : {
        "icon" : "/objects/power/fu_liquidmixer/fu_liquidmixericon.png",
        "position" : [0, -70],
        "children" : [ ],
        "price" : [["fuscienceresource", 2700], ["titaniumbar", 5]],
        "unlocks" : [ "fu_liquidmixer" ]
      },

      "filter" : {
        "icon" : "/objects/power/fu_atmosfilter/fu_atmosfiltericon.png",
        "position" : [-70, -70],
        "children" : [ "regulator", "regenmatrix" ],
        "price" : [["fuscienceresource", 10800], ["advancealloy", 5] ],
        "unlocks" : [ "fu_atmosfilter" ]
      },
      "regulator" : {
        "icon" : "/objects/power/isn_atmosregulator/isn_atmosregulator_inv.png",
        "position" : [-105, -70],
        "children" : [  ],
        "price" : [["fuscienceresource", 21600], ["densealloy", 10], ["liquidmetallichydrogen", 25]],
        "unlocks" : [ "isn_atmosregulatornew" ]
      },
      "regenmatrix" : {
        "icon" : "/items/generic/other/medkit4.png",
        "position" : [-70, -105],
        "children" : [  ],
        "price" : [["fuscienceresource", 12600], ["unstableparticles", 5], ["densealloy", 5], ["medkit4", 25]],
        "unlocks" : [ "isn_atmosregulator" ]
      }
    }
  },



  "acronyms" : {
    "fu_power" : {
      "BASICTRAINING" : "survival_1",
      "ELECTRONICS" : "electronicsbasic",
      "SOLAR1" : "solar1",
      "SOLAR2" : "solar2",
      "SOLAR3" : "solar3",
      "COMBUSTION" : "combustion",
      "HYDRAULICDYNAMO" : "hydraulicdynamo",
      "ELECTRICFURNACE" : "electricfurnace",
      "WINDPOWER" : "windpower",
      "BLASTFURNACE" : "blastfurnace",
      "FISSION" : "fission",
      "FUSION" : "fusion",
      "FUSION2" : "fusion2",
      "QUANTUMPOWER" : "quantumpower",
      "ARCSMELTER" : "arcsmelter",
      "QUANTUMEXTRACTOR" : "quantumextractor",
      "BATTERY1" : "battery1",
      "BATTERY2" : "battery2",
      "BATTERY3" : "battery3",
      "BATTERY4" : "battery4",
      "BATTERY5A" : "battery5a",
      //"BATTERY5B" : "battery5b",
      "CENTRIFUGE1" : "centrifuge1",
      "CENTRIFUGE2" : "centrifuge2",
      "SIFTER2" : "sifter2",
      "CENTRIFUGE3" : "centrifuge3",
      "ITEMNETWORK" : "itemnetwork",
      "WORKER2" : "worker2",
      "WORKER3" : "worker3",
      "WORKER4" : "worker4",
      "WIRINGADV" : "wiringadv",
      "TURRETS" : "turrets",
      "MANUFACTURING": "manufacturing",
      "ANSIBLE" : "ansible",
      "LIQUIDCOLLECTOR" : "liquidcollector",
      "CONDENSER" : "condenser",
      "MIXER" : "mixer",
      "FILTER" : "filter",
      "REGULATOR" : "regulator",
      "REGENMATRIX" : "regenmatrix"
    }
  },

  "strings" : {
    "currencies" : {
    },

    "trees" : {
      "fu_power" : "Electronics"
    },

    "research" : {
      "default"	: [ "Instructions","Select a research by clicking one of the icons on the grid.\nYou can navigate the grid by dragging with the left mouse button.\n\n- The left most button at the upper part of the screen opens a list of research trees to pick from.\n\n- The second button opens a list of non-hidden research options. Click a research on the displayed to center the view on it. Click again to hide the list.\n\n- The third button will center the view on the middle of the tree, or the currently selected research.\n\n- The last button toggles ^orange;low quality mode^reset;. This makes the GUI jump to a position instead of panning to it, or the center button. In addition, dragging/navigating on the the main screen will update only after you release the mouse button. It is best to use the search list with this mode enabled."],
      "survival_1" : [ "Basic Training",	"^orange;Tier 1^reset;\n\nYour training, thanks to four years in the Protectorate Academy, provides you with basic survival skills to keep you alive for extended periods in the event of a crash." ],

      "electronicsbasic" : [ "Electronics","^orange;Tier 1^reset;\n\nYou've taught yourself some basic electronics and can now make a variety of rudimentary wired machinery at the ^orange;Electronics Center.^reset;"],

      "solar1" : ["Solar Power","^orange;Tier 2^reset;\n\nThe free energy of stars is now within your reach with your understanding of solar technology. You can now build solar panels at your ^orange;Electronics Center^reset;."],

      "solar2" : ["Improved Solar Cells","^orange;Tier 3^reset;\n\nYou've learned to use graphene to enhance your solar panels, allowing you to build bigger and more efficient solar arrays."],

      "solar3" : ["Peerless Solar Cells","^orange;Tier 4^reset;\n\nBy combining nanofibre and Quietus metals, you can create incredibly potent solar towers which harvest vast amounts of renewable energy."],

      "hydraulicdynamo" : ["Steam Power","^orange;Tier 2^reset;\n\nYou've mastered the primitive-but-useful art of steam power. You can build a hydraulic piston that boils water using 'hot' fuels like lava or core fragments to generate early power."],

      "windpower" : ["Wind Turbines","^orange;Tier 3^reset;\n\nWith access to hardier metals like Titanium, you've developed a durable wind turbine which will generate lots of renewable energy in the right environment."],

      "combustion" : ["Combustion Engines","^orange;Tier 2^reset;\n\nYou've improved upon your fossil-fuel-burner design. With a Combustion Engine, you can generate more power than an Alternator using a wider array of fuel types."],

      "electricfurnace" : ["Powered Smelting","^orange;Tier 2^reset;\n\nYou've learned to use electrically-generated heat to smelt materials automatically. The ^orange;Electric Furnace^reset; can only process ^gray;common^reset; and ^green;uncommon^reset; ores, but it's great for getting extra materials from ores and blocks."],

      "blastfurnace" : ["Industrial Smelting","^orange;Tier 3^reset;\n\nExperimentation with heat-resistant alloys have lead to your creation of a powerful Blast Furnace which can efficiently smelt ^cyan;rare^reset; ores, and many materials which regular furnaces can't handle."],

      "arcsmelter" : ["Arc Smelting","^orange;Tier 6^reset;\n\nUsing your newfound quantum knowledge, you've designed an incredibly powerful electric furnace that smelts even more efficiently and quickly than a blast furnace, but can also perform quantum conversions by pressurizing its contents to levels that surpass gas giants."],

      "fission" : ["Nuclear Power","^orange;Tier 3^reset;\n\nYou've gotten a hang of nuclear fission, and can now build Fission Reactors that not only provide tons of power, but also generate useful fission by-products. Just mind the radiation."],

      "fusion" : ["Basic Fusion","^orange;Tier 4^reset;\n\nYou've done it! You've determined how to create stable fusion reactions! This is an efficient producer of energy, but ^red;requires coolant such as water or liquid nitrogen^reset; or you risk potentially fatal explosion.\nCan be fueled with hydrogen isotopes such as Hydrogen, Helium 3 and Tritium."],

      "fusion2" : ["Advanced Fusion","^orange;Tier 5^reset;\n\nWhy stop at -basic- fusion when you can create something far more appealing? While expensive, the ^orange;Large Fusion Reactor^reset; is well worth its weight for the power it can produce using hydrogen isotopes. It still ^red;requires coolant such as water or liquid nitrogen^reset;."],

      "quantumpower" : ["Quantum Nucleonics","^orange;Tier 6^reset;\n\nGenerating electricity from quantum mechanics is something very few people have done, but you can count yourself among them with your new Quantum Reactor. Capable of burning both traditional and esoteric fuels, it generates unfathomably large amounts of power."],

      "quantumextractor" : ["Quantum Processing","^orange;Tier 6^reset;\n\nNot satisfied with traditional extraction machines, you've improved on the design with quantum mechanics. Quantum Extractors not only work faster than ever, but produce twice as much from their extractions."],

      "battery1" : ["Silicon Batteries","^orange;Tier 2^reset;\n\nUsing silicon, you've learned to create simple solid-state batteries at your ^orange;Electronics Center^reset;- a big step up from junky old lead-acid ones."],

      "battery2" : ["Improved Batteries","^orange;Tier 3^reset;\n\nYou've improved your skills building batteries with silicon, and can now create batteries that hold much more charge than before."],

      "battery3" : ["Protocite Batteries","^orange;Tier 4^reset;\n\nUsing Protocite's amazing ability to store and channel energy, you've designed a new kind of battery that is better than silicon in every way."],

      "battery4" : ["Advanced Batteries","^orange;Tier 5^reset;\n\nCombining Quantum technology and Quietus metals, you have developed a bizarre sort of battery that stores energy almost like a living creature. This comes with even better storage capacity."],

      "battery5a" : ["Hydrogen Batteries","^orange;Tier 6^reset;\n\nLiquid Metallic Hydrogen is such a potent energy medium that it blows any solid-state battery out of the water. With it, you've designed what may well be the best battery in the galaxy."],

      "centrifuge1" : ["Industrial Centrifuging","^orange;Tier 2^reset;\n\nWith Tungsten, you can now build a big, bulky centrifuge that more efficiently processes liquids and can also receive external attachments to jar honey. Build one at your ^orange;Electronics Center^reset;."],

      "centrifuge2" : ["Laboratory Centrifuging","^orange;Tier 3^reset;\n\nYou've developed a sleek new centrifuge that is better at its job than before thanks to the power of Protocite processing."],

      "sifter2" : ["Powered Sifting","^orange;Tier 3^reset;\n\nHaving improved upon your Sifter design, you can now harvest the hidden treasures of blocks much more efficiently. You can also create a Rock Crusher, which breaks up hard materials like cobblestone and conglomerate instead of sands and silts."],

      "centrifuge3" : ["Isotope Processing","^orange;Tier 4^reset;\n\nWith AI technology, you've designed a centrifuge that is so efficient and capable that it can even process radioactive isotopes into exciting new forms."],

      "itemnetwork" : ["Item Utilities","^orange;Tier 2^reset;\n\nUsing Item Networks, you can automate a huge number of processes and improve your quality of life dramatically. Researching Item Utilities will give you access to a laundry list of useful utility objects at your ^orange;Electronics Center^reset;."],

      "worker2" : ["Improved Producers","^orange;Tier 2^reset;\n\nYou've learned to upgrade your copper pumps and quarries into iron versions, which work more quickly."],

      "worker3" : ["Advanced Producers","^orange;Tier 3^reset;\n\nYou've learned to upgrade your iron pumps and quarries into titanium versions, which work more quickly still."],

      "worker4" : ["Peerless Producers","^orange;Tier 4^reset;\n\nYou've learned to upgrade your titanium pumps and quarries into Densinium versions, which work extremely quickly."],

      "wiringadv" : ["Technical Wiring","^orange;Tier 3^reset;\n\nYou've designed a crafting table for creating logic gates, sensors, traps and other large-scale wiring objects."],

      "turrets" : ["Defense Systems","^orange;Tier 4^reset;\n\nYou've put your wiring expertise to work, and can now create many autonomous turrets for defense or automation."],

      "manufacturing" : ["Automated Assembly","^orange;Tier 4^reset;\n\nUsing advanced metals and machinery, you've created an automatic manufacturer which can be configured to quickly craft any item or object you want when provided with materials."],

      "ansible" : ["Subspace Communications","^orange;Tier 5^reset;\n\nThe interstellar ansible internet is a bustling and lucrative place to be, and now you can access it with your newly devised machine."],

      "liquidcollector" : ["Condensation","^orange;Tier 2^reset;\n\nYou've designed a device that will condense the atmosphere into liquid when powered. What liquid is produced depends on the planet."],

      "condenser" : ["Advanced Condensation","^orange;Tier 3^reset;\n\nYou've improved upon your condenser design to create a much more potent device which will condense many useful reagents and elements in addition to liquids."],

      "mixer" : ["Controlled Reactions","^orange;Tier 3^reset;\n\nMixing liquids can have many beneficial effects, especially now that you designed a machine to do just that. The liquid mixer can not only produce liquid reactions quickly and cleanly, but also allows for some reactions that couldn't happen when mixing liquid manually."],

      "filter" : ["Atmospheric Cleansing","^orange;Tier 4^reset;\n\nUsing your knowledge of atmospheric mechanics, you've designed a device which filters the air and regulates temperature, providing protection against many hazards while nearby."],

      "regulator" : ["Total Purification","^orange;Tier 6^reset;\n\nYou've mastered atmospheric cleansing. With the Atmospheric Regulator, there is no place you can't settle - butt-naked, if you so choose."],

      "regenmatrix" : ["Healing Vapors","^orange;Tier 5^reset;\n\nBy applying your knowledge of medicine to electronics, you've created a field generator that rapidly heals everything within a wide radius."]

    }
  },

  "cutsomGridTileImages":{ "fu_power" : "/zb/researchTree/gridTileYellow.png" },

  "hiddenResearch" : {
    "fu_power" : []
  },
//	"SOLAR2", "SOLAR3", "WINDPOWER", "FISSION", "BLASTFURNACE", "QUANTUMPOWER", "ARCSMELTER", "QUANTUMEXTRACTOR", "BATTERY2", "BATTERY3", "BATTERY4", "BATTERY5A", "BATTERY5B", "CENTRIFUGE2", "SIFTER2", "CENTRIFUGE3", "WORKER2", "WORKER3", "WORKER4", "WIRINGADV", "TURRETS", "MANUFACTURING", "ANSIBLE", "CONDENSER" "MIXER", "FILTER", "REGULATOR", "REGENMATRIX", "SOLAR1", "COMBUSTION", "BATTERY1", "ITEMNETWORK", "FISSION", "LIQUIDCOLLECTOR"

  "versions":{
    "fu_power" : "0.159"
  },
  "initiallyResearched" : {
    "fu_power" : ["BASICTRAINING"]
  },

  "currencies" : [],

  "customConsumptionRules" : {
    "fu_power" : {"currency" : true, "items" : false }
  },
    "treeIcons" : {
            "fu_power" : "/interface/statuses/energy.png"
    }
}
