{
	"researchTree" : {
		"fu_power" : {

//knowledge
			"survival_1" : {
				"icon" : "/items/tools/miningtools/beamaxe.png",
				"position" : [0, 0],
				"children" : [ "electronics" ],
				"price" : [ ],
				"unlocks" : [ ]
			},
						

					"electronics" : {
						"icon" : "/interface/statuses/electric.png",
						"position" : [180, 120],
						"children" : [ "electronics2","power", "augmentation", "mechs" ],
						"price" : [["fuscienceresource", 180]],
						"unlocks" : [ "powerstation", "wiringstation", "wire", "laserdiode", "isn_hydroponicstray", "isn_powdersifter",  "fu_alternatorgenerator", "smartbox_halver", "configurable3statecycler", "smartbox_singular", "smartbox_splitter", "isn_incinerator", "fu_watcher", "isn_powersensor" ]
					},						
						"electronics2" : {
							"icon" : "/interface/statuses/electric.png",
							"position" : [240, 120],
							"children" : [ "electronics3","power2" ],
							"price" : [["fuscienceresource", 2180]],
							"unlocks" : [ "aex", "fu_liquidcondenser", "mfgstation" ]
						},	
							"electronics3" : {
								"icon" : "/interface/statuses/electric.png",
								"position" : [300, 120],
								"children" : [ "electronics4","power3" ],
								"price" : [["fuscienceresource", 5180]],
								"unlocks" : [ "fu_blastfurnace" ]
							},
								"electronics4" : {
									"icon" : "/interface/statuses/electric.png",
									"position" : [360, 120],
									"children" : [ "power4" ],
									"price" : [["fuscienceresource", 12180]],
									"unlocks" : [ "sproutingtable", "isn_arcsmelter" ]
								},	

					"mechs" : {
						"icon" : "/interface/statuses/electric.png",
						"position" : [120, 180],
						"children" : [ "mechs2" ],
						"price" : [["fuscienceresource", 780]],
						"unlocks" : [ "powerstation", "wiringstation", "wire", "laserdiode", "fu_alternatorgenerator" ]
					},	
						"mechs2" : {
							"icon" : "/interface/statuses/electric.png",
							"position" : [120, 240],
							"children" : [ "mechs3" ],
							"price" : [["fuscienceresource", 1280]],
							"unlocks" : [ "powerstation", "wiringstation", "wire", "laserdiode", "fu_alternatorgenerator" ]
						},	
							"mechs3" : {
								"icon" : "/interface/statuses/electric.png",
								"position" : [120, 300],
								"children" : [ "mechs4" ],
								"price" : [["fuscienceresource", 7180]],
								"unlocks" : [ "powerstation", "wiringstation", "wire", "laserdiode", "fu_alternatorgenerator" ]
							},
								"mechs4" : {
									"icon" : "/interface/statuses/electric.png",
									"position" : [120, 360],
									"children" : [ "mechs5" ],
									"price" : [["fuscienceresource", 12180]],
									"unlocks" : [ "powerstation", "wiringstation", "wire", "laserdiode", "fu_alternatorgenerator" ]
								},	
									"mechs5" : {
										"icon" : "/interface/statuses/electric.png",
										"position" : [120, 420],
										"children" : [ ],
										"price" : [["fuscienceresource", 32180]],
										"unlocks" : [ "powerstation", "wiringstation", "wire", "laserdiode", "fu_alternatorgenerator" ]
									},		


					"augmentation" : {
						"icon" : "/interface/statuses/electric.png",
						"position" : [180, 180],
						"children" : [ "augmentation2" ],
						"price" : [["fuscienceresource", 180]],
						"unlocks" : [ "fupoisonaugment1", "fubreathaugmentt1" ]
					},	
						"augmentation2" : {
							"icon" : "/interface/statuses/electric.png",
							"position" : [180, 240],
							"children" : [ "augmentation3" ],
							"price" : [["fuscienceresource", 3180]],
							"unlocks" : [ "fupoisonaugment1", "fubreathaugmentt1" ]
						},	
							"augmentation3" : {
								"icon" : "/interface/statuses/electric.png",
								"position" : [180, 300],
								"children" : [ "augmentation4" ],
								"price" : [["fuscienceresource", 8180]],
								"unlocks" : [ "fupoisonaugment1", "fubreathaugmentt1" ]
							},	
								"augmentation4" : {
									"icon" : "/interface/statuses/electric.png",
									"position" : [180, 360],
									"children" : [ ],
									"price" : [["fuscienceresource", 17180]],
									"unlocks" : [ "fupoisonaugment1", "fubreathaugmentt1" ]
								},	


						"power" : {
							"icon" : "/interface/statuses/electric.png",
							"position" : [210, 90],
							"children" : [ "power2" ],
							"price" : [["fuscienceresource", 380]],
							"unlocks" : [ "isn_thermalgenerator", "isn_battery_t1", "isn_windarray","fu_powersensorlarge","isn_powersensor","fu_liquidcondenser", "fu_conduit", "fu_liquidmixer" ]
						},			
							"power2" : {
								"icon" : "/interface/statuses/electric.png",
								"position" : [270, 90],
								"children" : [ "power3" ],
								"price" : [["fuscienceresource", 1280]],
								"unlocks" : [ "isn_battery_t2","isn_solarpanel", "fu_solararray", "fu_solararrayadv" ]
							},	
								"power3" : {
									"icon" : "/interface/statuses/electric.png",
									"position" : [330, 90],
									"children" : [ "power4" ],
									"price" : [["fuscienceresource", 9180]],
									"unlocks" : [ "isn_battery_t3_fero", "isn_battery_t3_ceru" ]
								},	
									"power4" : {
										"icon" : "/interface/statuses/electric.png",
										"position" : [390, 90],
										"children" : [  ],
										"price" : [["fuscienceresource", 15180]],
										"unlocks" : [ "fu_quantumgenerator", "isn_battery_t4_fero" ]
									}		


		}
	},
	
	"acronyms" : {
		"fu_power" : {

			"BASICTRAINING" : "survival_1",	
			"ELECTRONICS" : "electronics",	
				"ELECTRONICS2" : "electronics2",
					"ELECTRONICS3" : "electronics3",
						"ELECTRONICS4" : "electronics4",
				"POWER" : "power",
					"POWER2" : "power2",
						"POWER3" : "power3",
							"POWER4" : "power4",
				"AUGMENTS" : "augmentation",
					"AUGMENTS2" : "augmentation2",
						"AUGMENTS3" : "augmentation3",
							"AUGMENTS4" : "augmentation4",
				"MECHS" : "mechs",
					"MECHS2" : "mechs2",
						"MECHS3" : "mechs3",
							"MECHS4" : "mechs4",
								"MECHS5" : "mechs5"							
		}
	},

	"strings" : {
		"currencies" : {
		    "money" : "Pixels",
		    "essence" : "Essence",
			"fuscienceresource" : "Research",
			"fuprecursorresource" : "Precursor Data"
		},
		
		"trees" : {
			"fu_power" : "^#ff180c;Power Systems^reset;"
		},
		
		"research" : {
			"default"	: [ "Select a Research","^red;NOT ACTIVATED YET. DO NOT USE, AS THIS CURRENTLY DOES NOTHING AT ALL. THIS IS PLACEHOLDER CONTENT^reset;. Select a research by clicking one of the icons on the grid.\nYou can navigate the grid by dragging with the left mouse button.\nThe left button at the top left corner will move the view to the center of the tree, and the left button will open a list of researches, from which you can zoom to other researches." ],
			
			//main categories
			"survival_1"	: [ "Basic Training",	"^orange;Tier 1^reset;\n\nYour training, thanks to four years in the Protectorate Academy, provides you with basic survival skills to keep you alive for extended periods in the event of a crash." ],
			"augmentation" : ["Augmentation","^orange;Tier 2^reset;\n\nThrough some unusual routes of experimentation you can now mix physics and chemistry together into a new scientific methodology."],
			"augmentation2" : ["Advanced Augmentation","^orange;Tier 4^reset;\n\nThrough some unusual routes of experimentation you can now mix physics and chemistry together into a new scientific methodology."],
			"augmentation3" : ["Genetic Augmentation","^orange;Tier 6^reset;\n\nThrough some unusual routes of experimentation you can now mix physics and chemistry together into a new scientific methodology."],
			"augmentation4" : ["Transsentient Augmentation","^orange;Tier 7^reset;\n\nThrough some unusual routes of experimentation you can now mix physics and chemistry together into a new scientific methodology."],

			"mechs" : ["Mechanized Armor","^orange;Tier 2^reset;\n\nThrough some unusual routes of experimentation you can now mix physics and chemistry together into a new scientific methodology."],
			"mechs2" : ["Mechanized Armor II","^orange;Tier 3^reset;\n\nThrough some unusual routes of experimentation you can now mix physics and chemistry together into a new scientific methodology."],
			"mechs3" : ["Mechanized Armor III","^orange;Tier 4^reset;\n\nThrough some unusual routes of experimentation you can now mix physics and chemistry together into a new scientific methodology."],
			"mechs4" : ["Mechanized Armor IV","^orange;Tier 5^reset;\n\nThrough some unusual routes of experimentation you can now mix physics and chemistry together into a new scientific methodology."],
			"mechs5" : ["Mechanized Armor V","^orange;Tier 6^reset;\n\nThrough some unusual routes of experimentation you can now mix physics and chemistry together into a new scientific methodology."],
			"electronics" : ["Electronics","^orange;Tier 2^reset;\n\nYou can channel and control current and use it to generate all sorts of powerful effects. This path will open up extremely advanced methods for controlling your resource management and automation."],
			"electronics2" : ["Computers","^orange;Tier 3^reset;\n\nYou can channel and control current and use it to generate all sorts of powerful effects. This path will open up extremely advanced methods for controlling your resource management and automation."],
			"electronics3" : ["Robotics","^orange;Tier 4^reset;\n\nYou can channel and control current and use it to generate all sorts of powerful effects. This path will open up extremely advanced methods for controlling your resource management and automation."],
			"electronics4" : ["Advanced Mechanics","^orange;Tier 5^reset;\n\nYou can channel and control current and use it to generate all sorts of powerful effects. This path will open up extremely advanced methods for controlling your resource management and automation."],
			"power" : ["Power Production","^orange;Tier 2^reset;\n\nYou can channel and control current and use it to generate all sorts of powerful effects. This path will open up extremely advanced methods for controlling your resource management and automation."],
			"power2" : ["Solar Power","^orange;Tier 3^reset;\n\nYou can channel and control current and use it to generate all sorts of powerful effects. This path will open up extremely advanced methods for controlling your resource management and automation."],
			"power3" : ["Nuclear Power","^orange;Tier 4^reset;\n\nYou can channel and control current and use it to generate all sorts of powerful effects. This path will open up extremely advanced methods for controlling your resource management and automation."],
			"power4" : ["Quantum Power","^orange;Tier 6^reset;\n\nYou can channel and control current and use it to generate all sorts of powerful effects. This path will open up extremely advanced methods for controlling your resource management and automation."]

		}
	},

	"cutsomGridTileImages":{ "fu_power" : "/zb/researchTree/gridTile.png" },

	"hiddenResearch" : {
		"fu_power" : [ 
			//"MT1","MT2","MT3","MT4","MT5","MT6","MT7","MT8", "WW2", "WW3", "MED1" 
		]
	},

	"versions":{
	  "fu_power" : "0.0971"
	},	
	"initiallyResearched" : {
		"fu_power" : [ "BASICTRAINING" ]
	},
	
	"currencies" : []
}
