{

//elder tree
//
//1 Entropic Focus    		--> Void Gene
//2 Lost Epochs                 -->
  //3 Glimpsed the Void         --> Resources 
    //3 Blasphemous Fabrication --> blocks
  
    //4 Whispers in the Dark    --> Madness Tokens I
          //Knowledge         	--> Elder Bee, Elder Beetle
          
    //5 Madness    	      	--> Madness Tokens II
    	  //Hideous Adornment   --> Elder Furniture     
    	  //Zealot of the Old   --> Elder Altar
    	  //Infernal Machines   --> Elder Brain-Harvester
    	        
    //6 Insanity              	--> Madness Tokens III
          //Voidcleaver         --> Elder Melee
          //Focused Blasts      --> Elder firearms
          //Guardian            --> Elder Armor
          //Protective Layers   --> Necro Armor

	"researchTree" : {
		"frackinuniversemadness" : {
			"basicelder" : {
				"icon" : "/items/currency/fumadnessresource.png",
				"children" : ["forbidden"],
				"position" : [0, 0],
				"price" : [["fumadnessresource", 500]]
			},			
			"forbidden" : {
				"icon" : "/items/currency/fumadnessresource1.png",
				"blueprint" : "durasteelassaultrifle",
				"children" : ["forbidden2","forbidden3"],
				"position" : [80, 0],
				"price" : [["fumadnessresource", 700]]
			},
			"forbidden2" : {
				"icon" : "/items/currency/fumadnessresource2.png",
				"blueprint" : "durasteelassaultrifle",
				"position" : [160, -80],
				"price" : [["fumadnessresource", 900]]
			},
			"forbidden3" : {
				"icon" : "/items/currency/fumadnessresource2.png",
				"blueprint" : "durasteelassaultrifle",
				"position" : [160, 80],
				"price" : [["fumadnessresource", 720]]
			}			
		}
	},
	
	"acronyms" : {
		"frackinuniversemadness" : {
		        "BEL" : "basicelder",
		        "FB1" : "forbidden",
		        "FB2" : "forbidden2",
		        "FB3" : "forbidden3"			
		}
	},
	
	"strings" : {
		"currencies" : {
		        "money" : "Pixels",
		        "essence" : "Essence",
			"fuscienceresource" : "Research",
			"fuprecursorresource" : "Precursor Data",
			"fumadnessresource" : "Madness"
		},
		
		"trees" : {
			"frackinuniversemadness" : "Elder Whispers (FU)"
		},
		
		"research" : {
			"default"	: [ "Select a Research","Select a research by clicking one of the icons on the grid.\nYou can navigate the grid by dragging with the left mouse button.\nThe left button at the top left corner will move the view to the center of the tree, and the left button will open a list of researches, from which you can zoom to other researches." ],
			"basicelder"		: [ "Lost Epochs",	"^orange;Tier 0^reset;\n\nIn your dreams you see vasy cyclopean ruins opening upon vistas of unimaginable vastness, stretching on into the boundless depths of time. Whispers call to you, and through them you can see the forgotten secrets of those who have long wandered the stars and have built the very bedrock of reality as we understand it." ],
			"forbidden"		: [ "Glimpse the Void",	"^orange;Tier 1^reset;\n\nA voice has revealed blasphemous truths about the nature of our universe. Your shattered mind is now able to glimpse them in all the glory they represent." ],
			"forbidden2"		: [ "Whispers in the Dark",	"^orange;Tier 2^reset;\n\nA single word, repeated, lures your psyche into the trap of complacency...and in a moment of rest your flittering sanity slips. In that precious instant, your very nature is laid bare and though your screams are silent...something hears them. You gain insight into the abominable will of the Elder beings." ],
			"forbidden3"		: [ "Blasphemous Fabrication",	"^orange;Tier 3^reset;\n\nThanks to your continued descent into insanity you can now begin to comprehend non-euclidian geometric architecure. You've gained the ability to fashion materials suitable for the Elder things to live within." ]

		}
	},

	"hiddenResearch" : {
		"frackinuniversemadness" : [ "EXT4", "A1" ]
	},
	
	"initiallyResearched" : {
		"frackinuniversemadness" : [ "BEL" ]
	},
	
	"currencies" : [
		[ "fuscienceresource", "#00F365", "fuscienceresource", "/zb/researchTree/frackinuniverseMiniIcons.png:research" ],
		[ "fuprecursorresource", "#20F0FF", "fuprecursorresource", "/zb/researchTree/frackinuniverseMiniIcons.png:research", true ],
		[ "fumadnessresource", "#20F0FF", "fumadnessresource", "/zb/researchTree/frackinuniverseMiniIcons.png:research", true ]
	]
}