{

//Metaphysics
  //Psionics
  //Cosmic Mysteries
  //Genetic Mutation
  //Cryptogeology
  
    //Eloptic Energy
    //Dark Matter
    //Genetic Alteration
    //Particle Entropy
    
      //The Void
        //Astral Projection
        //Dimensional Phasing
        //Psionic Channeling
        //The Calling
        
      //Forbidden Knowledge
           //Reanimation
           //Biomorphic Particles
           //Genesis
           //Reality Bridge
          

	"researchTree" : {
		"frackinuniversemadness" : {
			"basicelder" : {
				"icon" : "/items/currency/fumadnessresource.png",
				"children" : ["psionics1"],
				"position" : [0, 0],
				"price" : [["fumadnessresource", 500]]
			},			
			"psionics1" : {
				"icon" : "/items/currency/fumadnessresource1.png",
				"blueprint" : "durasteelassaultrifle",
				"children" : ["psionics2"],
				"position" : [80, 0],
				"price" : [["fumadnessresource", 700]]
			},
			"psionics2" : {
				"icon" : "/items/currency/fumadnessresource2.png",
				"blueprint" : "durasteelassaultrifle",
				"position" : [160, -80],
				"price" : [["fumadnessresource", 900]]
			},
			"psionics3" : {
				"icon" : "/items/currency/fumadnessresource2.png",
				"blueprint" : "durasteelassaultrifle",
				"position" : [160, 80],
				"price" : [["fumadnessresource", 1520]]
			},
			"psionics4" : {
				"icon" : "/items/currency/fumadnessresource2.png",
				"blueprint" : "durasteelassaultrifle",
				"position" : [160, 80],
				"price" : [["fumadnessresource", 1520]]
			}			
		}
	},
	
	"acronyms" : {
		"frackinuniversemadness" : {
		        "BEL" : "basicelder",
		        "FB1" : "forbidden",
		        "FB2" : "forbidden2",
		        "FB3" : "forbidden3",
		        "PS1" : "psionics1",
		        "PS2" : "psionics2",
		        "PS3" : "psionics3",
		        "PS4" : "psionics4"
		}
	},
	
	"strings" : {
		"currencies" : {
		        "money" : "Pixels",
		        "essence" : "Essence",
			"fuscienceresource" : "Research",
			"fuprecursorresource" : "Precursor Data",
			"fumadnessresource" : "Madness"
		},
		
		"trees" : {
			"frackinuniversemadness" : "Elder Whispers (FU)"
		},
		
		"research" : {
			"default"	: [ "Select a Research","NOT ACTIVATED YET. DO NOT USE, AS THIS CURRENTLY DOES NOTHING AT ALL. THIS IS PLACEHOLDER CONTENT.Select a research by clicking one of the icons on the grid.\nYou can navigate the grid by dragging with the left mouse button.\nThe left button at the top left corner will move the view to the center of the tree, and the left button will open a list of researches, from which you can zoom to other researches." ],
			"basicelder"		: [ "Metaphysics",	"NOT ACTIVATED YET. DO NOT USE, AS THIS CURRENTLY DOES NOTHING AT ALL. THIS IS PLACEHOLDER CONTENT.^orange;Tier 0^reset;\n\nIn your dreams you see vasy cyclopean ruins opening upon vistas of unimaginable vastness, stretching on into the boundless depths of time. Whispers call to you, and through them you can see the forgotten secrets of those who have long wandered the stars and have built the very bedrock of reality as we understand it." ],
			"psionics1"		: [ "Psionics",	"^orange;Tier 1^reset;\n\nA voice has revealed blasphemous truths about the nature of our universe. Your shattered mind is now able to glimpse them in all the glory they represent." ],
			"psionics2"		: [ "Eloptic Energy",	"^orange;Tier 2^reset;\n\nA single word, repeated, lures your psyche into the trap of complacency...and in a moment of rest your flittering sanity slips. In that precious instant, your very nature is laid bare and though your screams are silent...something hears them. You gain insight into the abominable will of the Elder beings." ],
			"psionics3"		: [ "Astral Projection",	"^orange;Tier 3^reset;\n\nThanks to your continued descent into insanity you can now begin to comprehend non-euclidian geometric architecure. You've gained the ability to fashion materials suitable for the Elder things to live within." ]

		}
	},

	"hiddenResearch" : {
		"frackinuniversemadness" : [ "EXT4", "A1" ]
	},
	
	"initiallyResearched" : {
		"frackinuniversemadness" : [ "BEL" ]
	},
	
	"currencies" : [
		[ "fuscienceresource", "#00F365", "fuscienceresource", "/zb/researchTree/frackinuniverseMiniIcons.png:research" ],
		[ "fuprecursorresource", "#20F0FF", "fuprecursorresource", "/zb/researchTree/frackinuniverseMiniIcons.png:research", true ],
		[ "fumadnessresource", "#20F0FF", "fumadnessresource", "/zb/researchTree/frackinuniverseMiniIcons.png:research", true ]
	]
}