{
	"researchTree" : {
		"frackinuniversemadness" : {
			"starteroption" : {
				"icon" : "/interface/statuses/cosmic.png",
				"children" : ["basicelder","psychiatry"],
				"position" : [0, 50],
				"price" : []
			},		
			"basicelder" : {
				"icon" : "/items/currency/fumadnessresource.png",
				"children" : ["psionics1","weapon1","genes1","cosmic1","myphis"],
				"position" : [0, 0],
				"price" : [["fumadnessresource", 200],["fuscienceresource", 200]],
				"unlocks" : ["madscientistpants", "madscientistchest", "flyingv", "goggles1", "goggles2", "insaneramblings","fumadnessresource","madnesscodex","embalmingtable","bizarreerotica","bizarrefiction","furimworlderhead","furimworlderchest","furimworlderlegs"]
			},	
			
			"dreams" : {
				"icon" : "/interface/statuses/cthulu.png",
				"children" : [],
				"position" : [-130, -60],
				"price" : [["fumadnessresource", 100],["fuscienceresource", 20]],
				"unlocks" : ["cthulhuplush","crewcontract_magicalgirl","carving","paintingrandom2", "crunchychickdeluxe", "crunchychickevil","strangetome" ]
			},
			
			"cosmicweapons" : {
				"icon" : "/zb/researchTree/madnessTree/darkmatter1.png",
				"children" : [],
				"position" : [-40, -110],
				"price" : [["fumadnessresource", 750],["fuscienceresource", 1500]],
				"unlocks" : ["reapersniper","reaperassault","reapercarbine","reapermachinepistol","reaperpistol","reaperrailgun","reaperrocket","reapershotgun", "fubonusarmorhead", "fubonusarmorchest", "fubonusarmorpants", "wretchelhead", "wretchelchest", "wretchelpants" ]
			},	
			
			"psychiatry" : {
				"icon" : "/interface/statuses/booze.png",
				"children" : ["psychiatry2"],
				"position" : [-75, 20],
				"price" : [["fumadnessresource", 20],["fuscienceresource", 900]],
				"unlocks" : ["crewcontract_counsellor", "instafreud"]
			},	
			"psychiatry2" : {
				"icon" : "/interface/statuses/booze.png",
				"children" : ["psychiatry3"],
				"position" : [-105, 20],
				"price" : [["fumadnessresource", 120],["fuscienceresource", 2200]],
				"unlocks" : ["crewcontract_counsellor2"]
			},	
			"psychiatry3" : {
				"icon" : "/interface/statuses/booze.png",
				"children" : [],
				"position" : [-140, 20],
				"price" : [["fumadnessresource", 320],["fuscienceresource", 4200]],
				"unlocks" : ["crewcontract_counsellor3"]
			},	
			
			"myphis" : {
				"icon" : "/items/generic/loot/novaglowdrug.png",
				"children" : ["myphis2"],
				"position" : [0, -30],
				"price" : [["fumadnessresource", 100],["fuscienceresource", 200]],
				"unlocks" : ["honeyboon","novaglowjuice","shieldpatch","waterstim","injector","hermespill","bouncewrap","gravstim","protostim", "fupilldrug", "futeltikparasite", "fushroomspore", "fudeathstick" ]
			},
			"myphis2" : {
				"icon" : "/items/generic/loot/myphisinjector.png",
				"children" : ["myphis3"],
				"position" : [0, -60],
				"price" : [["fumadnessresource", 200],["fuscienceresource", 500]],
				"unlocks" : ["myphisinjector","powderednarcotics","faceskin","poutine","c_drugdiffuser"]
			},
			"myphis3" : {
				"icon" : "/items/generic/loot/thesauce.png",
				"children" : [],
				"position" : [0, -90],
				"price" : [["fumadnessresource", 400],["fuscienceresource", 800]],
				"unlocks" : ["thesauce","uberstim","ultrastim","serumstim","devilsbargain"]
			},
			
			"psionics1" : {
				"icon" : "/zb/researchTree/madnessTree/psionics1.png",
				"children" : ["psionics2"],
				"position" : [-100, -30],
				"price" : [["fumadnessresource", 520],["fuscienceresource", 500]],
				"unlocks" : [ "apexbrainjar","inferiorbrain","brain","brainpeerless","artificialbrain","brainharvester","brainyummy"]
			},
			"psionics2" : {
				"icon" : "/zb/researchTree/madnessTree/psionics2.png",
				"children" : ["forbidden1","dreams","psionicpower1"],
				"position" : [-100, -60],
				"price" : [["fumadnessresource", 700],["fuscienceresource", 900]],
				"unlocks" : ["braingenerator","brainbattery","psionicenergy","apexbrainjar2","psionicbench","psionicloader","psiejector","psionicblastammo","psionicpyroammo"]
			},
			
			
			"cosmic1" : {
				"icon" : "/zb/researchTree/madnessTree/darkmatter2.png",
				"children" : ["cosmic2"],
				"position" : [-50, -30],
				"price" : [["fumadnessresource", 520],["fuscienceresource", 720]],
				"unlocks" : [ "erchiusghostback","crewcontract_ghostbuster","precursorgel","matterconverter","impossibletheories","elderbookstandwood","booksaboutbees","weaponshuffler"]
			},
			"cosmic2" : {
				"icon" : "/zb/researchTree/madnessTree/darkmatter1.png",
				"children" : ["forbidden1","cosmicweapons"],
				"position" : [-50, -60],
				"price" : [["fumadnessresource", 700],["fuscienceresource", 1200]],
				"unlocks" : [ "darkmatter","madnessfleshreaper","elderbookstandrelic","luckyseveredtoe","darkdisguisechestkhe","darkdisguiseheadkhe","darkdisguiselegskhe", "shrineoflostsouls","fumementomori","erchiusghostback2","erchiusghostback3"]
			},

			"genes1" : {
				"icon" : "/zb/researchTree/madnessTree/genes1.png",
				"children" : ["genes2"],
				"position" : [50, -30],
				"price" : [["fumadnessresource", 620],["fuscienceresource", 250]],
				"unlocks" : [
					"madnessoculob",
					"madnessderrick",
					"madnesspoptop",
					"cell_spliced",
					"cell_mutated",
					"reanimationfluid",
					"madnessmaggot",
					"elderhealingstation",
					"elderscrolldeskwood",
					"jellylump", 
					"alienwoodsap",
					"fubloodchalice"
				]
			},
			"genes2" : {
				"icon" : "/zb/researchTree/madnessTree/genes2.png",
				"children" : ["forbidden2"],
				"position" : [50, -60],
				"price" : [["fumadnessresource", 900],["fuscienceresource", 600]],
				"unlocks" : [				
					"madnesspteropod",
					"cell_viral",
					"glarestalkseed", 
					"plasmangoseed",
					"phasefruitseed",
					"shadowrootseed",
					"tyvokkseed",
					"violirootseed",
					"madnessratthing",
					"madnessbunnythingmeat",
					"solusberryseed",
					"fflagoonchest", 
					"fflagoonlegs", 
					"fflagoonhead",
					"madnesseyejelly",
					"madnesseyeslime",
					"madnessjuvenilepoptop",
					"elderscrolldeskmetal"
				]
			},
			"weapon1" : {
				"icon" : "/zb/researchTree/madnessTree/weapon1.png",
				"children" : ["weapon2"],
				"position" : [100, -30],
				"price" : [["fumadnessresource", 520],["fuscienceresource", 200]],
				"unlocks" : [ "lightningbackunique", "gyrostabilizer","murdermanipulator","fu_monsterdetector", "fucatapult", "punchyspawner"]
			},
			"weapon2" : {
				"icon" : "/zb/researchTree/madnessTree/weapon2.png",
				"children" : ["forbidden2"],
				"position" : [100, -60],
				"price" : [["fumadnessresource", 700],["fuscienceresource", 400]],
				"unlocks" : [
					"redmatter",
					"tritium",
					"robothead",
					"robotlegs",
					"robotchest",
					"robotarms",
					"fatalcircuitdroid",
					"mecharmspikefist3"
				]
			},
			
			
			"forbidden1" : {
				"icon" : "/zb/researchTree/madnessTree/fumadnessresource1.png",
				"children" : ["psionics3","cosmic3"],
				"position" : [-75, -120],
				"price" : [["fumadnessresource", 1120],["fuscienceresource", 1200]],
				"unlocks" : ["madnessbrainbeast","elderscrolldesk","fu_nocturnarray", "bloodritual", "eyeofyokar" ]
			},
			"forbidden2" : {
				"icon" : "/interface/statuses/medicalStationSpecials/hypopanic.png",
				"children" : ["genes3","weapon3","cosmic4"],
				"position" : [75, -120],
				"price" : [["fumadnessresource", 1120],["fuscienceresource", 1200]],
				"unlocks" : ["wretchelseed","xaxseed","elderbookstand","fuexosuitchest", "fuexosuitlegs", "fuexosuithead","madnessbomb","fucharmbomb"]
			},			
			
			"psionics3" : {
				"icon" : "/zb/researchTree/madnessTree/psionics3.png",
				"children" : ["psionics4","psionicpower3"],
				"position" : [-100, -150],
				"price" : [["fumadnessresource", 1200],["fuscienceresource", 1200]],
				"unlocks" : ["apexbrainjar3","apexbrainjar4"]
			},
			"psionics4" : {
				"icon" : "/zb/researchTree/madnessTree/psionics4.png",
				"position" : [-100, -180],
				"price" : [["fumadnessresource", 2200],["fuscienceresource", 2000]],
				"unlocks" : ["psioniclab","c_psionicharvester"]
			},

			"cosmic3" : {
				"icon" : "/zb/researchTree/madnessTree/darkmatter3.png",
				"children" : ["cosmic4"],
				"position" : [-50, -150],
				"price" : [["fumadnessresource", 1200],["fuscienceresource", 1200]],
				"unlocks" : ["atmoscondensermadness","translocator"]
			},
			"cosmic4" : {
				"icon" : "/zb/researchTree/madnessTree/darkmatter4.png",
				"position" : [-50, -180],
				"price" : [["fumadnessresource", 2200],["fuscienceresource", 2000]],
				"unlocks" : ["elderaltar","madequation","attunedpaper"]
			},

			"genes3" : {
				"icon" : "/zb/researchTree/madnessTree/genes3.png",
				"children" : ["genes4"],
				"position" : [50, -150],
				"price" : [["fumadnessresource", 1200],["fuscienceresource", 1200]],
				"unlocks" : [ "haleflowerseed","floralytplantseed","swarmgun","unknowngene","madnessjellyking","madnessslimeking","madnessadultpoptop","fusluggun"]
			},
			"genes4" : {
				"icon" : "/zb/researchTree/madnessTree/genes4.png",
				"position" : [50, -180],
				"price" : [["fumadnessresource", 2200],["fuscienceresource", 2000]],
				"unlocks" : ["neuropodseed","genesiberryseed","swarmgun2","madnessfleshtyrant","madnessmegapoptop","madnessmegapoptopfire"]
			},			
			"weapon3" : {
				"icon" : "/zb/researchTree/madnessTree/weapon3.png",
				"children" : ["weapon4"],
				"position" : [100, -150],
				"price" : [["fumadnessresource", 1200],["fuscienceresource", 1200]],
				"unlocks" : ["nocxiumbar","neutronium","mecharmspikefist4","bonethresher", "spacetimeobeliskmodified"]
			},
			"weapon4" : {
				"icon" : "/zb/researchTree/madnessTree/weapon4.png",
				"position" : [100, -180],
				"price" : [["fumadnessresource", 2200],["fuscienceresource", 2000]],
				"unlocks" : ["antineutronium", "hydrogencore", "kheWarpedAIChip", "fugrenadearm", "isn_atmosregulatorwarped", "neutronbomb", "timewinderschnapps" ]
			},
			
			"psionicpower1" : {
				"icon" : "/zb/researchTree/madnessTree/psionicpower1.png",
				"children" : ["psionicpower2"],
				"position" : [-130, -90],
				"price" : [["fumadnessresource", 220],["fuscienceresource", 200]],
				"unlocks" : ["psionicenergy2","psionicplatformammo","psionichealammo"]
			},
			"psionicpower2" : {
				"icon" : "/zb/researchTree/madnessTree/psionicpower2.png",
				"children" : ["psionicpower3"],
				"position" : [-130, -120],
				"price" : [["fumadnessresource", 420],["fuscienceresource", 300]],
				"unlocks" : ["psionicenergy3","psionicfreezeammo"]
			},
			"psionicpower3" : {
				"icon" : "/zb/researchTree/madnessTree/psionicpower3.png",
				"children" : [],
				"position" : [-130, -150],
				"price" : [["fumadnessresource", 620],["fuscienceresource", 400]],
				"unlocks" : ["psionicenergy4","transdimensionalstaff","psionicbulletammo"]
			}			
			
		}
	},
	
	"acronyms" : {
		"frackinuniversemadness" : {
			"ST1" : "starteroption",
		        "BEL" : "basicelder",
		        
		        "FB1" : "forbidden1",
		        "FB2" : "forbidden2",
		        
		        "MYP" : "myphis",
		        "MY2" : "myphis2",
		        "MY3" : "myphis3",
		        
		        "PSY" : "psychiatry",
		        "PY2" : "psychiatry2",
		        "PY3" : "psychiatry3",
		        
		        "PW1" : "psionicpower1",
		        "PW2" : "psionicpower2",
		        "PW3" : "psionicpower3",
		        
		        "DRM" : "dreams",
		        "CWP" : "cosmicweapons",
		        
		        "PS1" : "psionics1",
		        "PS2" : "psionics2",
		        "PS3" : "psionics3",
		        "PS4" : "psionics4",
		        
		        "CS1" : "cosmic1",
		        "CS2" : "cosmic2",
		        "CS3" : "cosmic3",
		        "CS4" : "cosmic4",
		        
		        "GS1" : "genes1",
		        "GS2" : "genes2",
		        "GS3" : "genes3",
		        "GS4" : "genes4",		        

		        "WS1" : "weapon1",
		        "WS2" : "weapon2",
		        "WS3" : "weapon3",
		        "WS4" : "weapon4"
		        
		}
	},
	
	"strings" : {
		"currencies" : {},
		
		"trees" : {
			"frackinuniversemadness" : "Metaphysics [ ^#1fbbfd;Madness^reset; ]"
		},
		
		"research" : {
			"default"	: [ "Instructions","Select a research by clicking one of the icons on the grid.\nYou can navigate the grid by dragging with the left mouse button.\n\n- The left most button at the upper part of the screen opens a list of research trees to pick from.\n\n- The second button opens a list of non-hidden research options. Click a research on the displayed to center the view on it. Click again to hide the list.\n\n- The third button will center the view on the middle of the tree, or the currently selected research.\n\n- The last button toggles ^orange;low quality mode^reset;. This makes the GUI jump to a position instead of panning to it, or the center button. In addition, dragging/navigating on the the main screen will update only after you release the mouse button. It is best to use the search list with this mode enabled."],
			"starteroption"		: [ "Dream Whispers",		"^orange;Tier 0^reset;\n\nLately, you've been thinking of things in new ways. The numerous sciences feel new to you again, and you are anxious to utilize fresh methodologies in your experimentation and theorizing.\n\nThis all came about thanks to your dreams, where you swear you've heard voices whispering new theories and formulas to you. Obviously it's just your genius manifesting while you sleep, but it ^green;feels like more^reset; to you. You are compelled to investigate these thoughts." ],

			"basicelder"		: [ "Metaphysics",		"^orange;Tier 1^reset;\n\nYou've done a fair amount of pondering things beyond the limits of modern science thanks to your new insights.\n\nYou know without a doubt that you can revitalize the entire scientific community, but to do it you'll need to be willing to take ethical and moral steps outside of the conventional. \n\nPsychic powers, otherworldly entities and more are all within your grasp if you're willing to step above and beyond silly limits put in place by cowards afraid to truly discover." ],
			
			"psionics1"		: [ "Psionics",			"^orange;Tier 2^reset;\n\nYou've learned that the brain is a marvellous thing, and unlocking its secrets is only the beginning. To really dig in you'll need to...dig in. Are there ethical issues with removing brains from subjects? Yes. Do you care? Probably not...\n\nYou can now harvest brains from subjects for further study with the use of a Brain Extractor." ],
			"psionics2"		: [ "Mental Energy",		"^orange;Tier 3^reset;\n\nThe energy that binds all things, the very life-essence of the cosmos, is at long last a thing you can quantify. While the results are less than concrete, you cannot deny the truths you have discovered in your studies.\n\nYou can now use brains and their 'Psionic Energy' to accomplish incredible things." ],
			"psionics3"		: [ "Astral Projection",	"^orange;Tier 5^reset;\n\nNot only have you proven psionics are real, you've learned to harness the brain itself to grant untold possibilities to science! Your next task is to learn to use your own mind to do impossible things. You can start by connecting with your Astral self...who knows what awaits beyond that." ],
			"psionics4"		: [ "Psionic Channeling",	"^orange;Tier 6^reset;\n\nYou can harness the raw essence of mental energy and utilize it to accomplish impossible feats, power technology, and so much more. None can doubt your mastery of the mind. If only you could stop the voices from whispering to you when nobody is looking..." ],

			"psionicpower1"		: [ "Psionic Power",		"^orange;Tier 3^reset;\n\nNow that you have a basic grasp of Psionic powers, you can begin to experiment in new ways to focus that power. You're able to fabricate various types of attacks for your Psionic Focus." ],
			"psionicpower2"		: [ "Psionic Power II",		"^orange;Tier 4^reset;\n\nNow that you have a basic grasp of Psionic powers, you can begin to experiment in new ways to focus that power. You're able to fabricate various types of attacks for your Psionic Focus." ],
			"psionicpower3"		: [ "Psionic Power III",	"^orange;Tier 5^reset;\n\nNow that you have a basic grasp of Psionic powers, you can begin to experiment in new ways to focus that power. You're able to fabricate various types of attacks for your Psionic Focus." ],


			"cosmic1"		: [ "Cosmic Mysteries",		"^orange;Tier 2^reset;\n\nUnhappy with the paltry offerings of knowledge provided in conventional educational facilities, private collections and 'reputable' locations of the sort, you have begun to delve into the more fantastic and unknown. \n\nWild theories that defy physics, ludicrous tales about things living just outside our reality - you've determined through experiments that its all real. To prove it to the galaxy, you are willing to do just about anything." ],
			"cosmic2"		: [ "Dark Matter",		"^orange;Tier 3^reset;\n\nYou have not only discovered Dark Matter, but also how to harvest and harness it for your own ends. Through perseverance and know-how you have done what billions before you failed to accomplish! \n\nThis should prove both profitable and educational, and the changess this may bring to all areas of galactic life will make you a public name in no time." ],
			"cosmic3"		: [ "Dimensional Phasing",	"^orange;Tier 5^reset;\n\nYou have proven that there are multiple dimensions, and are close to devising a way to connect them.\n\nWith a bit of patience and study you could even learn to send messages or even -cross over- to the other side! The potential here is staggering, but the risk is equally high. You should take precautions before doing anything too crazy." ],
			"cosmic4"		: [ "The Calling",		"^orange;Tier 6^reset;\n\nYou have, beyond a doubt, communicated with a being from another reality. Such was its voice that you are forever changed, and all of this dimension must know the truth you have gleaned.\n\n They will all worship the glory of the Thing you have glimpsed beyond the veil. If they know what is good for them." ],

			"forbidden1"		: [ "The Void",			"^orange;Tier 4^reset;\n\nYou've discovered how to see past our own dimension, and the limits of our own minds and bodies, and find a way to transcend into greater realms of existence. Unfortunately, the cost is rather high for this sort of research, but whats a few extra test subjects?" ],
			"forbidden2"		: [ "Forbidden Knowledge",	"^orange;Tier 4^reset;\n\nYou're ready to move into new areas of research few even dare to attempt. Mostly because of law, ethics and morality...but those in the pursuit of science cannot waver in the face of adversity." ],
			
			"myphis"		: [ "Chemical Experiments",	"^orange;Tier 1^reset;\n\nWho needs knowledge and chemistry education when you can just jam things into beakers until something neat happens? That's your process, and so far it works well. You see no reason to change." ],
			"myphis2"		: [ "Applied Narcotics",	"^orange;Tier 2^reset;\n\nYou bad little scientist, you! You've gone and devised illegal substances that can alter perception of reality itself...provided you don't die of course! Also, you've got poutine. What could go wrong?" ],
			"myphis3"		: [ "Weird Concoctions",	"^orange;Tier 3^reset;\n\nWell, you've gone and learned stuff about chemicals after all. Turns out it was actually pretty useful, because now you can make narcotics and stimulants that don't even make sense in this reality! You'll be the talk of the town. Or simply insane. Either way, awesome." ],
			"cosmicweapons"		: [ "Dark Matter Gear",	"^orange;Tier 4^reset;\n\nNow that you've uncovered a new form of particle and the sciences to utilize it, it's obviously time to start weaponizing it to shoot at other beings to see what happens!\n\nNot only have you utilized its more defensive properties to design new armor suits, but you've also devised a line of weapons that should cause ample amounts of pain and misery! Enjoy." ],

			"psychiatry"		: [ "Psychiatric Help",	        "^orange;Tier 1^reset;\n\nThanks to modern psychiatric help you can seek out a bit of aid should you feel disconnected from reality. Sure, they'll psychoanalyze you. Sure, it's expensive. Sure, they think you're nuts...but all of that is still better than eating your own face or ruining yourself with crippling addictions. It definitely won't be as fun, however." ],
			"psychiatry2"		: [ "Psychiatric Help II",	"^orange;Tier 2^reset;\n\nYou can hire more reliable help, thanks to your rapidly escalating mental issues. It's much easier to get approved on your health plan now!" ],
			"psychiatry3"		: [ "Psychiatric Help III",	"^orange;Tier 3^reset;\n\nWhy settle for a conventional psychiatrist when you can hire an empath? That's where this spiralling madness you keep fostering has taken you, so you may as well benefit from all the modern advancements in mental help. Don't ignore your problems, they will never get better." ],

			"dreams"		: [ "Dream Visions",	        "^orange;Monstrous Visages^reset;\n\nYour dreams just get weirder and weirder as time goes on. You keep seeing this many-tentacled face in your dreams, so much so that you feel you can recreate its horrible form in reality...through using adorable plush toys suitable for all! Share the insanity with kids and adults alike! They'll thank you for it...eventually." ],

			"genes1"		: [ "Cryptobiology",		"^orange;Tier 2^reset;\n\nYou've seen strange things, and know that there are beings out there we cannot comprehend with our limited perception of reality. You seek to learn of how living things work, no matter how exotic. What you do with that knowledge then, well...that's another matter entirely.\n\nFlesh is your canvas, and many would disagree with your methods. So long as nobody knows...nobody will mind. Right?" ],
			"genes2"		: [ "Genetic Aberration",	"^orange;Tier 3^reset;\n\nThrough examination of corpses, you've learned a great deal about how life and death work. But you aren't interested in just the DNA sequences...no, you seek something grander. A symphony you can play on flesh and show the universe how truly beautiful life is, whether they agree with you or not." ],
			"genes3"		: [ "Reanimation",		"^orange;Tier 5^reset;\n\nLife and Death are only suggestions to you. You have learned to work within both the realm of the living and that of the dead. By fusing the two, you will accomplish the long-sought secret of eternal life, and so much more. \n\nYour perception of reality isn't what it used to be, though, and you've a tenuous grasp on things...at best." ],
			"genes4"		: [ "Genesis",			"^orange;Tier 6^reset;\n\nYou are a god among sentient beings. You, the one who has mastery over life and death can now simply create life at a whim. You will seed the universe with your creations and change the very face of the cosmos." ],

			"weapon1"		: [ "Emergent Technology",	"^orange;Tier 2^reset;\n\nYou're trying to delve into ways to improve existing technology as well as new sorts of machines and ideas beyond those of your peers. No topic is too strange! \n\nYou've been dreaming of a mathmatical formula that has been driving you slowly mad...and the only solution is to unscramble the numbers until the formulas speak to you. Whatever comes of it will surely be amazing!" ],
			"weapon2"		: [ "Particle Entropy",		"^orange;Tier 3^reset;\n\nConventional physics says that all energy simply becomes something else, and that nothing is truly ever destroyed. You're out to prove this wrong, because you know better! You can reach right into subspace and manipulate the fabric of reality to create a new sort of matter, and can construct potent robotic minions." ],
			"weapon3"		: [ "Biomorphic Particles",	"^orange;Tier 5^reset;\n\nBeing this smart sure is great! Nobody understands particles quite like you do, and you've got a way to prove it: By combining particles with biomass to form entirely new constructs that violate the ordinary laws of existence!" ],
			"weapon4"		: [ "Reality Bridge",		"^orange;Tier 6^reset;\n\nThe Reality Bridge is a new theory you've formulated that states that all things in creation are connected to all other things, regardless of their dimensional phase or location. You can link biology with technology, biomass with particle antimatter...and limitless other things.\n\nThis is what they get for doubting you." ]

		}
	},
	
	"versions":{
	  "frackinuniversemadness" : "1.314"
	},
	"cutsomGridTileImages":{
		"frackinuniversemadness" : "/zb/researchTree/madnessTree/gridTileMadness.png"
	},
	"hiddenResearch" : {
		"frackinuniversemadness" : [ "FB1", "FB2","MYP","MY2","MY3","PSY","PY2","PY3","PW1","PW2","PW3","CWP","DRM","CS3","CS4","GS3","GS4","WS3","WS4","PS3","PS4" ]
	},
	
	"initiallyResearched" : {
		"frackinuniversemadness" : [ "ST1" ]
	},
	
	"currencies" : [],
	
	"customConsumptionRules" : {
		"frackinuniversemadness" : {"currency" : true, "items" : false }
	},
	"treeIcons" : {
		"frackinuniversemadness" : "/items/currency/fumadnessresource2.png"
	}
}
