{
	"gui" : {
		"canvas" : {
			"zlevel" : -19,
			"type" : "canvas",
			"rect" : [4, 4, 397, 296],
			"captureMouseEvents" : true,
			"captureKeyboardEvents" : false
		},

		"background" : {
			"zlevel" : -1,
			"type" : "background",
			"fileHeader" : "/zb/researchTree/header.png",
			"fileBody" : "/zb/researchTree/body.png"
		},

		"title" : {
			"type" : "label",
			"position" : [500, 289],
			"hAnchor" : "mid",
			"value" : "I AM ERROR"
		},

		"researchButton" : {
			"type" : "button",
			"position" : [405, 3],
			"base" : "/zb/researchTree/researchButton.png:default",
			"hover" : "/zb/researchTree/researchButton.png:hover",
			"disabledImage" : "/zb/researchTree/researchButton.png:grayed",
			"caption" : "Research"
		},

		"consumptionText" : {
			"type" : "label",
			"visible" : false,
			"position" : [487, 5],
			"vAnchor" : "bottom",
			"fontSize" : 7,
			"wrapWidth" : 182,
			"value" : "Will not consume currency\nWill not consume items"
		},

		"closeButton" : {
			"type" : "button",
			"position" : [379, 278],
			"base" : "/zb/researchTree/buttons.png:close:default",
			"hover" : "/zb/researchTree/buttons.png:close:hover",
			"pressed" : "/zb/researchTree/buttons.png:close:default",
			"disabledImage" : "/assetmissing.png",
			"pressedOffset" : [0,0]
		},

		"treePickButton" : {
			"type" : "button",
			"position" : [379, 260],
			"base" : "/zb/researchTree/buttons.png:treePick:default",
			"hover" : "/zb/researchTree/buttons.png:treePick:hover",
			"pressed" : "/zb/researchTree/buttons.png:treePick:default",
			"disabledImage" : "/assetmissing.png",
			"pressedOffset" : [0,0]
		},

		"searchButton" : {
			"type" : "button",
			"position" : [379, 242],
			"base" : "/zb/researchTree/buttons.png:search:default",
			"hover" : "/zb/researchTree/buttons.png:search:hover",
			"pressed" : "/zb/researchTree/buttons.png:search:default",
			"disabledImage" : "/assetmissing.png",
			"pressedOffset" : [0,0]
		},

		"centerButton" : {
			"type" : "button",
			"position" : [379, 224],
			"base" : "/zb/researchTree/buttons.png:center:default",
			"hover" : "/zb/researchTree/buttons.png:center:hover",
			"pressed" : "/zb/researchTree/buttons.png:center:default",
			"disabledImage" : "/assetmissing.png",
			"pressedOffset" : [0,0]
		},

		"qualityButton" : {
			"type" : "button",
			"position" : [379, 206],
			"base" : "/zb/researchTree/buttons.png:quality:default",
			"hover" : "/zb/researchTree/buttons.png:quality:hover",
			"pressed" : "/zb/researchTree/buttons.png:quality:default",
			"disabledImage" : "/assetmissing.png",
			"pressedOffset" : [0,0]
		},

		"cheatBox" : {
			"type" : "textbox",
			"visible" : false,
			"position" : [10, 7],
			"fontSize" : 7,
			"text" : "",
			"enterKey" : "cheat",
			"hint" : ":)",
			"callback" : "null"
		},

		"infoList" : {
			"type" : "scrollArea",
			"rect" : [402, 50, 598, 284],
			"children" : {
				"text" : {
					"type" : "label",
					"position" : [2, 37],
					"vAnchor" : "bottom",
					"fontSize" : 7,
					"wrapWidth" : 182,
					"value" : ""
				},
				"unlocksLabel" : {
					"type" : "label",
					"visible" : false,
					"position" : [2, 2],
					"vAnchor" : "bottom",
					"fontSize" : 7,
					"value" : "^green;Unlocks:\n\n\n"
				},
				"unlocks" : {
					"type" : "list",
					"callback" : "null",
					"schema" : {
						"selectedBG" : "/assetmissing.png",
						"unselectedBG" : "/assetmissing.png",
						"spacing" : [2, 2],
						"memberSize" : [184, 18],
						"listTemplate" : {
							"item0" : {
								"type" : "itemslot",
								"visible" : false,
								"position" : [0, 0],
								"backingImage" : "/zb/researchTree/itemSlot.png",
								"callback" : "null"
							},
							"item1" : {
								"type" : "itemslot",
								"visible" : false,
								"position" : [20, 0],
								"backingImage" : "/zb/researchTree/itemSlot.png",
								"callback" : "null"
							},
							"item2" : {
								"type" : "itemslot",
								"visible" : false,
								"position" : [40, 0],
								"backingImage" : "/zb/researchTree/itemSlot.png",
								"callback" : "null"
							},
							"item3" : {
								"type" : "itemslot",
								"visible" : false,
								"position" : [60, 0],
								"backingImage" : "/zb/researchTree/itemSlot.png",
								"callback" : "null"
							},
							"item4" : {
								"type" : "itemslot",
								"visible" : false,
								"position" : [80, 0],
								"backingImage" : "/zb/researchTree/itemSlot.png",
								"callback" : "null"
							},
							"item5" : {
								"type" : "itemslot",
								"visible" : false,
								"position" : [100, 0],
								"backingImage" : "/zb/researchTree/itemSlot.png",
								"callback" : "null"
							},
							"item6" : {
								"type" : "itemslot",
								"visible" : false,
								"position" : [120, 0],
								"backingImage" : "/zb/researchTree/itemSlot.png",
								"callback" : "null"
							},
							"item7" : {
								"type" : "itemslot",
								"visible" : false,
								"position" : [140, 0],
								"backingImage" : "/zb/researchTree/itemSlot.png",
								"callback" : "null"
							},
							"item8" : {
								"type" : "itemslot",
								"visible" : false,
								"position" : [160, 0],
								"backingImage" : "/zb/researchTree/itemSlot.png",
								"callback" : "null"
							}
						}
					}
				}
			}
        },

		"searchList" : {
			"type" : "scrollArea",
			"rect" : [402, 50, 598, 284],
			"visible" : false,
			"children" : {
				"list" : {
					"type" : "list",
					"callback" : "researchSelected",
					"schema" : {
						"selectedBG" : "/assetmissing.png",
						"unselectedBG" : "/assetmissing.png",
						"spacing" : [0, 2],
						"memberSize" : [184, 16],
						"listTemplate" : {
							"title" : {
								"type" : "button",
								"position" : [0, 0],
								"base" : "/zb/researchTree/listBG.png:default",
								"hover" : "/zb/researchTree/listBG.png:hover",
								"disabledImage" : "/zb/researchTree/listBG.png:default",
								"pressedOffset" : [0,0],
								"caption" : "",
								"callback" : "null"
							},

							"icon" : {
								"type" : "image",
								"file" : "/assetmissing.png",
								"position" : [2, 0]
							}
						}
					}
				}
			}
        },

		"treeList" : {
			"type" : "scrollArea",
			"rect" : [402, 50, 598, 284],
			"visible" : false,
			"children" : {
				"list" : {
					"type" : "list",
					"callback" : "treeSelected",
					"schema" : {
						"selectedBG" : "/assetmissing.png",
						"unselectedBG" : "/assetmissing.png",
						"spacing" : [0, 2],
						"memberSize" : [184, 16],

						"listTemplate" : {
							"title" : {
								"type" : "button",
								"position" : [0, 0],
								"base" : "/zb/researchTree/listBG.png:default",
								"hover" : "/zb/researchTree/listBG.png:hover",
								"disabledImage" : "/zb/researchTree/listBG.png:default",
								"pressedOffset" : [0,0],
								"callback" : "null"
							},

							"icon" : {
								"type" : "image",
								"file" : "/assetmissing.png",
								"zlevel" : 1,
								"position" : [4, 2]
							}
						}
					}
				}
			}
        },

		"priceItem1" : {
			"type" : "itemslot",
			"position" : [405, 27], //iconsize 18 spacing 2
			"backingImage" : "/zb/researchTree/itemSlot.png",
			"callback" : "null"
		},

		"priceItem2" : {
			"type" : "itemslot",
			"position" : [425, 27],
			"backingImage" : "/zb/researchTree/itemSlot.png",
			"callback" : "null"
		},

		"priceItem3" : {
			"type" : "itemslot",
			"position" : [445, 27],
			"backingImage" : "/zb/researchTree/itemSlot.png",
			"callback" : "null"
		},

		"priceItem4" : {
			"type" : "itemslot",
			"position" : [465, 27],
			"backingImage" : "/zb/researchTree/itemSlot.png",
			"callback" : "null"
		},

		"priceItem5" : {
			"type" : "itemslot",
			"position" : [485, 27],
			"backingImage" : "/zb/researchTree/itemSlot.png",
			"callback" : "null"
		},

		"priceItem6" : {
			"type" : "itemslot",
			"position" : [505, 27],
			"backingImage" : "/zb/researchTree/itemSlot.png",
			"callback" : "null"
		},

		"priceItem7" : {
			"type" : "itemslot",
			"position" : [525, 27],
			"backingImage" : "/zb/researchTree/itemSlot.png",
			"callback" : "null"
		},

		"priceItem8" : {
			"type" : "itemslot",
			"position" : [545, 27],
			"backingImage" : "/zb/researchTree/itemSlot.png",
			"callback" : "null"
		},

		"priceItem9" : {
			"type" : "itemslot",
			"position" : [565, 27],
			"backingImage" : "/zb/researchTree/itemSlot.png",
			"callback" : "null"
		}
	},

	"canvasClickCallbacks" : { "canvas" : "canvasClickEvent" },
	"scriptWidgetCallbacks" : [ "researchButton", "centerButton", "treePickButton", "searchButton", "cheat", "researchSelected", "treeSelected", "closeButton", "qualityButton" ],

	"scripts" : ["/zb/researchTree/researchTree.lua"],
	"scriptDelta" : 1
}