{
	"researchTree" : {
		"myTree" : {
			"example1" : {
				"icon" : "/assetmissing.png",
				"position" : [10, 50],
				"price" : [["money", 322]],
				"children" : ["example2"]
			},
			"example2" : {
				"icon" : "/assetmissing.png",
				"position" : [20, 30],
				"price" : [["money", 300], ["corefragmentore", 20]],
				"unlocks" : ["banana"]
			}
		}
	},

	"acronyms" : {
		"myTree" : {
			"EXA1" : "example1",
			"EXA2" : "example2"
		}
	},

	"strings" : {},

	"initiallyResearched" : {
		"myTree" : [ "EXA1" ]
	}
}