{
	"gui": {
		"background": {
			"type": "background",
			"fileHeader": "/bees/interface/beeexaminer/header.png",
			"fileBody": "/bees/interface/beeexaminer/body.png",
			"fileFooter": "/bees/interface/beeexaminer/footer.png"
		},
		"close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"press": "/interface/xpress.png",
			"position": [105, 80]
		},
		"itemGrid": {
			"type": "itemgrid",
			"position": [12, 40],
			"dimensions": [1, 1],
			"spacing": [19, 19],
			"backingImage": "/interface/inventory/grayborder.png"
		},
		"inputLabel": {
			"type": "label",
			"value": "Input:",
			"hAnchor": "left",
			"fontSize" : 7,
			"position": [13, 61]
		},	
		"outputLabel": {
			"type": "label",
			"value": "Output:",
			"hAnchor": "left",
			"fontSize" : 7,
			"position": [13, 29]
		},			
		"statuslabel": {
			"type": "label",
			"value": "Status:",
			"hAnchor": "left",
			"fontSize" : 7,
			"position": [35, 49]
		},
		"status": {
			"type": "label",
			"value": "",
			"hAnchor": "left",
			"fontSize" : 6,
			"position": [35, 42]
		},
		"itemGrid2": {
			"type": "itemgrid",
			"slotOffset": 1,
			"position": [12, 9],
			"dimensions": [3, 1],
			"spacing": [24, 19],
			"backingImage": "/interface/inventory/grayborder.png"
		}		
	},
	
    "scriptWidgetCallbacks" : [ "startResearch" ],
    "scripts" : ["/bees/interface/beeexaminer/beeexaminer.lua"],
	"scriptDelta" : 10
}
