{
	"gui": {
		"background": {
			"type": "background",
			"fileHeader": "/bees/interface/beeexaminer/header.png",
			"fileBody": "/bees/interface/beeexaminer/body.png",
			"fileFooter": "/bees/interface/beeexaminer/footer.png"
		},
		"close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"press": "/interface/xpress.png",
			"position": [96, 140]
		},
		"itemGrid": {
			"type": "itemgrid",
			"position": [2, 8],
			"dimensions": [1, 1],
			"spacing": [19, 19],
			"backingImage": "/interface/inventory/grayborder.png"
		},
		"statuslabel": {
			"type": "label",
			"value": "Status:",
			"hAnchor": "left",
			"fontSize" : 7,
			"position": [22, 18]
		},
		"status": {
			"type": "label",
			"value": "",
			"hAnchor": "left",
			"fontSize" : 6,
			"position": [22, 9]
		}
	},
	
    "scriptWidgetCallbacks" : [ "startResearch" ],
    "scripts" : ["/bees/interface/beeexaminer/beeexaminer.lua"],
	"scriptDelta" : 10
}
