{
	"gui": {
		"background": {
			"type": "background",
			"fileHeader": "/bees/interface/beeexaminer/header.png",
			"fileBody": "/bees/interface/beeexaminer/body2.png",
			"fileFooter": "/bees/interface/beeexaminer/footer.png"
		},
		"close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"press": "/interface/xpress.png",
			"position": [105, 78]
		},
		"itemGrid": {
			"type": "itemgrid",
			"position": [12, 42],
			"dimensions": [1, 1],
			"spacing": [19, 19],
			"backingImage": "/interface/inventory/grayborder.png"
		},
		"inputLabel": {
			"type": "label",
			"value": "Input:",
			"hAnchor": "left",
			"fontSize" : 7,
			"position": [13, 63]
		},
		"outputLabel": {
			"type": "label",
			"value": "Output:",
			"hAnchor": "left",
			"fontSize" : 7,
			"position": [13, 31]
		},
		"statuslabel": {
			"type": "label",
			"value": "Status:",
			"hAnchor": "left",
			"fontSize" : 7,
			"position": [35, 51]
		},
		"status": {
			"type": "label",
			"value": "",
			"hAnchor": "left",
			"fontSize" : 6,
			"position": [35, 44]
		},
		"itemGrid2": {
			"type": "itemgrid",
			"slotOffset": 1,
			"position": [12, 11],
			"dimensions": [2, 1],
			"spacing": [24, 19],
			"backingImage": "/interface/inventory/grayborder.png"
		}
	},

    "scriptWidgetCallbacks" : [ "startResearch" ],
    "scripts" : ["/bees/interface/beeexaminer/beeexaminer.lua"],
	"scriptDelta" : 10
}
