{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/fugravgen/header.png",
      "fileBody" : "/interface/scripted/fugravgen/body.png",
      "fileFooter" : "/interface/scripted/fugravgen/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : " 3-State Cycler",
      "subtitle" : " Do cat things.",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/fugravgen/gravicon.png",
        "zlevel" : -1
      }
    },

    "lblLeft" : {
      "type" : "label",
      "position" : [15, 45],
      "hAnchor" : "left",
      "value" : "First"
    },

    "sldLeft" : {
      "type" : "slider",
      "position" : [55, 45],
      "gridImage" : "/interface/optionsmenu/largeselection.png",
      "callback" : "setTimerValues",
      "range" : [0, 120, 1]
    },

    "lblMid" : {
      "type" : "label",
      "position" : [15, 55],
      "hAnchor" : "Mid",
      "value" : "Second"
    },

    "sldMid" : {
      "type" : "slider",
      "position" : [55, 55],
      "gridImage" : "/interface/optionsmenu/largeselection.png",
      "callback" : "setTimerValues",
      "range" : [0, 120, 1]
    },

    "lblRight" : {
      "type" : "label",
      "position" : [15, 65],
      "hAnchor" : "Right",
      "value" : "Third"
    },

    "sldRight" : {
      "type" : "slider",
      "position" : [55, 65],
      "gridImage" : "/interface/optionsmenu/largeselection.png",
      "callback" : "setTimerValues",
      "range" : [0, 120, 1]
    },

    "reset" : {
	  "callback":"resetTimerValues",
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [157, 85]
    },
	
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [177, 85]
    },

    "imgShine" : {
      "type" : "image",
      "file" : "/interface/scripted/fugravgen/shine.png",
      "zlevel" : 2,
      "position" : [0, 8],
      "mouseTransparent" : true
    }
  },

  "scriptWidgetCallbacks" : [
    "setTimerValues",
	"resetTimerValues"
  ],

  "scripts" : ["/interface/scripted/logicgates/3statecyclerGUI.lua"],
  "scriptDelta" : 5
}
