{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/fugravgen/header.png",
      "fileBody" : "/interface/scripted/fugravgen/body.png",
      "fileFooter" : "/interface/scripted/fugravgen/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : " 3-State Cycler",
      "subtitle" : " Configure timers here.",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/fugravgen/gravicon.png",
        "zlevel" : -1
      }
    },

    "labelLeft" : {
      "type" : "label",
      "position" : [6, 65],
      "hAnchor" : "left",
      "value" : "First"
    },
	"inputLeft": {
		"type": "textbox",
		"position": [55, 65],
		"textAlign": "center",
		"maxWidth": 16,
		"regex": "\\d{0,3}",
		"callback" : "setTimerValues",
		"hint": "---"
	},

    "labelMid" : {
      "type" : "label",
      "position" : [6, 55],
      "hAnchor" : "left",
      "value" : "Second"
    },
	"inputMid": {
		"type": "textbox",
		"position": [55, 55],
		"textAlign": "center",
		"maxWidth": 16,
		"regex": "\\d{0,3}",
		"callback" : "setTimerValues",
		"hint": "---"
	},

    "labelRight" : {
      "type" : "label",
      "position" : [6, 45],
      "hAnchor" : "left",
      "value" : "Third"
    },
	"inputRight": {
		"type": "textbox",
		"position": [55, 45],
		"textAlign": "center",
		"maxWidth": 16,
		"regex": "\\d{0,3}",
		"callback" : "setTimerValues",
		"hint": "---"
	},

    "labelReset" : {
      "type" : "label",
      "position" : [150, 12],
      "hAnchor" : "left",
      "value" : "^black;Reset"
    },
    "reset" : {
	  "callback":"resetTimerValues",
      "type" : "button",
      "base" : "/interface/fu_basicreset.png",
      "hover" : "/interface/fu_basicresethover.png",
      "pressed" : "/interface/fu_basicresetpress.png",
      "pressedOffset" : [0, 0],
      "position" : [178, 10]
    },

    "save" : {
	  "callback":"saveTimerValues",
      "type" : "button",
      "base" : "/interface/fu_basicsave.png",
      "hover" : "/interface/fu_basicsavehover.png",
      "pressed" : "/interface/fu_basicsavepress.png",
      "pressedOffset" : [0, 0],
      "position" : [132, 10]
    },
    "labelSave" : {
      "type" : "label",
      "position" : [110, 12],
      "hAnchor" : "left",
      "value" : "^black;Save"
    },
	
    "load" : {
	  "callback":"loadTimerValues",
      "type" : "button",
      "base" : "/interface/fu_basicload.png",
      "hover" : "/interface/fu_basicloadhover.png",
      "pressed" : "/interface/fu_basicloadpress.png",
      "pressedOffset" : [0, 0],
      "position" : [92, 10]
    },
    "labelLoad" : {
      "type" : "label",
      "position" : [70, 12],
      "hAnchor" : "left",
      "value" : "^black;Load"
    },
	
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [177, 85]
    },

    "imgShine" : {
      "type" : "image",
      "file" : "/interface/scripted/fugravgen/shine.png",
      "zlevel" : 2,
      "position" : [0, 8],
      "mouseTransparent" : true
    }
  },

  "scriptWidgetCallbacks" : [
    "setTimerValues",
	"resetTimerValues",
	"saveTimerValues",
	"loadTimerValues"
  ],

  "scripts" : ["/interface/scripted/logicgates/3statecyclerGUI.lua"],
  "scriptDelta" : 5
}
