{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "magnorbfireexplosion"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/weapons/explosion1.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 1,
      "explosiveDamageAmount" : 1.50,
      "harvestLevel" : 99,
      "delaySteps" : 2
    }

  ]
}
