{
	"vanillaShip" : {
		"shipLevel" : 1
	},
	"racialShips" : {
		"shipLevel" : 1,
		"allowOtherRaceShips" : true
	},
	"byosShips" : [
		{
			"type" : "fu_byosdefaultship",
			"name" : "Default BYOS",
			"offset" : [0, 0],											//optional (defaults to [0,0] if not set)
			"previewImage" : "/interface/ai/shippreviews/fu_byosdefaultship.png"	//optional
			//"racialiserOverride" : "human",							//optional, racialises the ship objects to this race(uses the players race if not set)
			//"raceWhitelist" : {"apex" : true, "avian": true},			//optional, only these races can use the ship (all races can use it if not set, overrides "raceBlacklist")
			//"raceBlacklist" : {"floran" : true, "glitch" : true},		//optional, these races cannot use the ship (all races can use it if not set, overridden by "raceWhitelist")
			//"icon" : "/interface/title/sapemale.png"					//optional, the icon used on the ship list
		},
		{
			"type" : "BYOS_Apex",
			"name" : "Apex BYOS Ship",
			"offset" : [0,0],	//change to align the teleporter to the same spot
			"racialiserOverride" : "apex",
			"icon" : "/interface/title/sapemale.png"
		},
		{
			"type" : "BYOS_Avian",
			"name" : "Avian BYOS Ship",
			"offset" : [0,0],	//change to align the teleporter to the same spot
			"racialiserOverride" : "avian",
			"icon" : "/interface/title/avianmale.png"
		},
		{
			"type" : "BYOS_Floran",
			"name" : "Floran BYOS Ship",
			"offset" : [0,0],	//change to align the teleporter to the same spot
			"racialiserOverride" : "floran",
			"icon" : "/interface/title/plantmale.png"
		},
		{
			"type" : "BYOS_Glitch",
			"name" : "Glitch BYOS Ship",
			"offset" : [0,0],	//change to align the teleporter to the same spot
			"racialiserOverride" : "glitch",
			"icon" : "/interface/title/robotmale.png"
		},
		{
			"type" : "BYOS_Human",
			"name" : "Human BYOS Ship",
			"offset" : [0,0],	//change to align the teleporter to the same spot
			"racialiserOverride" : "human",
			"icon" : "/interface/title/humanmale.png"
		},
		{
			"type" : "BYOS_Hylotl",
			"name" : "Hylotl BYOS Ship",
			"offset" : [0,0],	//change to align the teleporter to the same spot
			"racialiserOverride" : "hylotl",
			"icon" : "/interface/title/aquaticmale.png"
		},
		{
			"type" : "BYOS_Novakid",
			"name" : "Novakid BYOS Ship",
			"offset" : [0,0],	//change to align the teleporter to the same spot
			"racialiserOverride" : "novakid",
			"icon" : "/interface/title/novakidmale.png"
		}
	]
}