[
	//combos
	{"inputs":{"wrappedbody":1,"elderrelic2":1},"outputs":{"inferiorbrain":1,"fuscienceresource":155,"bone":8,"leather":1,"alienmeat":4,"faceskin":1,"rawribmeat":2,"liquidelderfluid":120},"time":14.0},
	{"inputs":{"wrappedbody":1,"elderrelic10":1},"outputs":{"inferiorbrain":1,"fumadnessresource":20,"bone":8,"leather":1,"alienmeat":12,"rawribmeat":2,"liquidelderfluid":80},"time":14.0},
	{"inputs":{"wrappedbodyputrid":1,"elderrelic2":1},"outputs":{"inferiorbrain":1,"fuscienceresource":50,"bone":8,"leather":1,"alienmeat":4,"faceskin":1,"rawribmeat":2,"liquidelderfluid":120},"time":14.0},
	{"inputs":{"wrappedbodyputrid":1,"elderrelic10":1},"outputs":{"inferiorbrain":1,"fumadnessresource":20,"bone":8,"leather":1,"alienmeat":12,"rawribmeat":2,"liquidelderfluid":80},"time":14.0},

	//trashbag
	{"inputs":{"mysterioustrashbag":1},"outputs":{"cadaverrotting":1},"time":1.0},
	{"inputs":{"fumysterioustrashbag":1},"outputs":{"cadaverrotting":1},"time":1.0},

	//flesh dissection
	{"inputs":{"fuflesh":1},"outputs":{"leather":3,"faceskin":1,"rawribmeat":2,"bone":24,"alienmeat":4,"fufemur":2,"futooth":20},"time":6.0},
	{"inputs":{"fufleshalien":1},"outputs":{"leather":3,"cellmateria":4,"rawribmeat":2,"bone":24,"fufemur":2,"futooth":20,"fugeneticmaterial":1},"time":6.0},

	//heart dissection
	{"inputs":{"fuheartalien":1},"outputs":{"liquidalienjuice":5,"fugeneticmaterial":1,"fleshstrand":5},"time":6.0},
	{"inputs":{"fuheart":1},"outputs":{"liquidalienjuice":5,"fugeneticmaterial":1,"fleshstrand":3},"time":6.0},

	//tooth
	{"inputs":{"futooth":20},"outputs":{"bone":1},"time":1.0},

	//femur
	{"inputs":{"fufemur":1},"outputs":{"bone":5,"fugeneticmaterial":1},"time":6.0},

	//hair
	{"inputs":{"fuhair":1},"outputs":{"fuscienceresource":1},"time":6.0},

	//brains
	{"inputs":{"fubrain":1,"methanol":1,"liquidhealing":5},"outputs":{"brainpeerless":1,"fuscienceresource":1,"fumadnessresource":45},"time":6.0},
	{"inputs":{"fubrain":1,"methanol":1},"outputs":{"brain":1,"fuscienceresource":1,"fumadnessresource":15},"time":6.0},
	{"inputs":{"fubrain":1},"outputs":{"inferiorbrain":1,"fuscienceresource":1},"time":6.0},

	//cadavers
	{"inputs":{"cadaver":1},"outputs":{"fuflesh":1,"fuhair":1,"fubrain":1,"fuscienceresource":12,"fumadnessresource":8,"fleshstrand":4,"liquidblood":40},"time":8.0},
	{"inputs":{"cadaverrotting":1},"outputs":{"fuflesh":1,"fuhair":1,"fubrain":1,"fuscienceresource":12,"fleshstrand":1,"liquidpoison":20},"time":8.0},
	{"inputs":{"cadaverbirb":1},"outputs":{"fuflesh":1,"fuhair":1,"fubrain":1,"blooddiamond":1,"goldbar":2,"fuscienceresource":12,"fleshstrand":3},"time":8.0},
	{"inputs":{"cadaveralien":1},"outputs":{"fufleshalien":1,"fubrain":1,"fuheartalien":1,"fuscienceresource":12,"fumadnessresource":8,"fleshstrand":6,"liquidalienjuice":40},"time":8.0},
	{"inputs":{"apexpod":1},"outputs":{"liquidbioooze":30,"cadaver":1,"apexpod2":1},"time":8.0},
	{"inputs":{"floranpodapex":1},"outputs":{"cadaver":1,"agaranichor":5,"fuscienceresource":12,"fumadnessresource":10},"time":8.0},
	{"inputs":{"giantfloranpod":1},"outputs":{"agaranichor":8,"fuscienceresource":22,"fumadnessresource":40},"time":12.0},
	{"inputs":{"floranpod1":1},"outputs":{"agaranichor":10,"fuscienceresource":12,"fumadnessresource":20},"time":8.0},
	{"inputs":{"floranpod2":1},"outputs":{"agaranichor":10,"fuscienceresource":12,"fumadnessresource":20},"time":8.0},
	{"inputs":{"floranpod3":1},"outputs":{"agaranichor":10,"fuscienceresource":12,"fumadnessresource":20},"time":8.0},

	//wrapped bodies
	{"inputs":{"frontiercoffin":1},"outputs":{"cadaver":1,"darkwoodmaterial":12,"fuscienceresource":40,"fumadnessresource":30},"time":5.0},
	{"inputs":{"wrappedbody":1},"outputs":{"cadaver":1,"bandage":12,"fuscienceresource":12,"fumadnessresource":8},"time":5.0},
	{"inputs":{"wrappedbodyputrid":1},"outputs":{"cadaverrotting":1,"fumadnessresource":12,"bandage":12},"time":5.0},
	{"inputs":{"wrappedbodyalien":1},"outputs":{"cadaveralien":1,"fumadnessresource":18,"mutaviskbandage":12},"time":5.0},
	{"inputs":{"wrappedbodybirb":1},"outputs":{"cadaverbirb":1,"fuscienceresource":12,"fuhoneysilkbandage":12},"time":5.0},

	//miscellaneous
	{"inputs":{"larva":10},"outputs":{"liquidpus":1,"cellmatter":1},"time":2.0},
	{"inputs":{"greghead":1},"outputs":{"fumadnessresource":4,"inferiorbrain":1,"bone":4,"slew2":3},"time":7.0},
	{"inputs":{"severedheadplatter":1},"outputs":{"fumadnessresource":1,"inferiorbrain":1,"bone":4,"slew2":3},"time":7.0},
	{"inputs":{"faceskin":1},"outputs":{"fumadnessresource":1,"liquidblood":1,"slew2":1},"time":2.0},
	{"inputs":{"leather":1},"outputs":{"slew2":1},"time":2.0},
	{"inputs":{"hardenedcarapace":1},"outputs":{"slew2":1},"time":2.0},
	{"inputs":{"agaranichor":1},"outputs":{"fuscienceresource":1},"time":2.0},
	{"inputs":{"biospore":1},"outputs":{"cellmatter":2},"time":2.0},
	{"inputs":{"blobbushjelly":1},"outputs":{"fumadnessresource":1,"cellmateria":1},"time":2.0},
	{"inputs":{"brain":1},"outputs":{"fumadnessresource":2,"cellmateria":2},"time":2.0},
	{"inputs":{"inferiorbrain":1},"outputs":{"fumadnessresource":1,"cellmateria":1},"time":2.0},
	{"inputs":{"bone":50},"outputs":{"bonemealmaterial":50},"time":2.0},
	{"inputs":{"crunchychick":1},"outputs":{"fumadnessresource":3,"bonemealmaterial":10,"alienmeat":1},"time":3.0},
	{"inputs":{"meatpickle":1},"outputs":{"fumadnessresource":2,"alienmeat":1},"time":2.0},
	{"inputs":{"endomorphicjelly":1},"outputs":{"holidayspirit":1},"time":2.0},
	{"inputs":{"monsterhide":1},"outputs":{"leather":1},"time":1.0},
	{"inputs":{"avalisample3":1},"outputs":{"inferiorbrain":1},"time":1.0},
	{"inputs":{"apexbrainjar":1},"outputs":{"inferiorbrain":1},"time":1.0},
	{"inputs":{"apexbrainjar2":1},"outputs":{"brain":1},"time":1.0},
	{"inputs":{"apexbrainjar3":1},"outputs":{"artificialbrain":1},"time":1.0},
	{"inputs":{"apexbrainjar4":1},"outputs":{"brainpeerless":1},"time":1.0}
]
