{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/bees/alveary/alvearyheader.png",
      "fileBody" : "/interface/bees/alveary/alvearyslots.png",
      "fileFooter" : "/interface/bees/alveary/alvearyfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      "position" : [238, 175]
    },
    "objectImage" : {
      "type" : "image",
      "position" : [39, 129],
      "file" : "",
      "centered" : true,
      "maxSize" : [40, 40],
      "minSize" : [40, 40]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [90, 65],
      "dimensions" : [1, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/grayborder.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "slotOffset" : 4,
      "position" : [119, 31],
      "dimensions" : [6, 6],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "dragDrop" : {
      "type" : "label",
      "value" : "Drag & Drop",
      "hAnchor" : "mid",
      "position" : [40, 87]
    },
    "count" : {
      "type" : "label",
      "value" : "Input",
      "hAnchor" : "mid",
      "position" : [100, 149]
    },
    "countoutput" : {
      "type" : "label",
      "value" : "Output",
      "hAnchor" : "mid",
      "position" : [175, 149]
    }
  }
}
