// #######################################
//
// FU EPP System
//  * Core
//
// #######################################
{
	"exposure" : {
		"effects" : {
			"air1" : "airEPP1",
			"air2" : "airEPP2",
			"air3" : "airEPP3",
			"air4" : "airEPP4",		
			"poison1" : "poisonEPP1",
			"poison2" : "poisonEPP2",
			"poison3" : "poisonEPP3",
			"poison4" : "poisonEPP4",
			"fire1" : "fireEPP1",
			"fire2" : "fireEPP2",
			"fire3" : "fireEPP3",
			"fire4" : "fireEPP4",
			"ice1" : "iceEPP1",
			"ice2" : "iceEPP2",
			"ice3" : "iceEPP3",
			"ice4" : "iceEPP4",
			"electric1" : "electricEPP1",
			"electric2" : "electricEPP2",
			"electric3" : "electricEPP3",
			"electric4" : "electricEPP4",
			"radioactive1" : "radioactiveEPP1",
			"radioactive2" : "radioactiveEPP2",
			"radioactive3" : "radioactiveEPP3",
			"radioactive4" : "radioactiveEPP4",	
			"shadow1" : "shadowEPP1",
			"shadow2" : "shadowEPP2",
			"shadow3" : "shadowEPP3",
			"shadow4" : "shadowEPP4",
			"cosmic1" : "cosmicEPP1",
			"cosmic2" : "cosmicEPP2",
			"cosmic3" : "cosmicEPP3",
			"cosmic4" : "cosmicEPP4"			
		}
	},
	"fallbackTemperature" : 2,
	"blockRange" : 50,
	"NightStart" : 18,
	"DayStart" : 6,
	"TransitionTime" : 4,

//-- biomeTemp 		   This value sets the basic "temperature" of the biome. This is effectively the core modifying value. Higher = greater effects
//-- biomeThreshold          A modifying value. Rarely needed, but provided if desired
//-- biomeNight              Night modifier. This is for biomes where night is different than day (deserts, ice planets)
//-- baseRate                Base time between ticks
//-- baseDmg                 Base damage applied by the biome, per tick
//-- baseDebuff              Base debuff applied by the biome, per tick
//-- situationalPenalty      This value is applied only as a modifier in specific situations.
//-- liquidPenalty           Does liquid have a negative effect? if so, apply this value
//-- affectAnimals	   Does the effect have a result on animals? Boolean.
//-- comboEffect {           is this effect a combination? (ie: Poison + Heat)[boolean] If 1, then apply TWO resists, but averaged together.
//--   comboEffect[1],
//--   comboEffect[2] 
//--   }	          
//-- currentBiomeLayer	   what layer is the player currently in ? This can matter too. Cores are hotter, atmopsheres have less air...etc.
//-- baseLayerMod	           penalty value imposed by this layer
//-- baseLayerEffect	   this adds an ephemeral or persistent effect when in a particular layer if needed
"biomeTemp" : 1.0,
"biomeThreshold" : 1.0,
"biomeNight" : 1.0,
"situationalPenalty" : 0.0,
"liquidPenalty" : 0.0,
"baseRate" : 1.0,
"baseDamage" : 2,
"baseDebuff" : 2,

// base formulas
//  
//  damage per second = ( (biomeTemp * baseDamage) * (1-resistance) ) * (1 + ((situationalPenalty + liquidPenalty)/100) )
//  food per second = (biomeTemp * baseDebuff) * (1-resistance)
//
//

//Bools
"affectAnimals" : 0,
"onFire" : 0,
"onShip" : 0,
"inDoors" : 0,
"isUnderground" : 0,
"isDry" : 0,
"isFalling" : 0,
"isMoving" : 0
}
