[
  "apeboss",
  "apebossprojector",
  "crystalboss",
  "cultistboss",
  "cultistbossend",
  "dragonboss",
  "eyeboss",
  "fubahamut",
  "fubahamut2",
  "gorillaking",
  "gorillaking2",
  "electricguardianboss",
  "fireguardianboss",
  "iceguardianboss",
  "poisonguardianboss",
  "shadowguardianboss",
  "kluexboss",
  "kluexbossstatue",
  "penguinUfo",
  "precursorwarbot",
  "robotboss",
  "shoggoth",
  "shoggoth2",
  "spiderboss",
  "tentacleboss",
  "titan",
  "warbot",
  "warbot2",
  "fuheavydrone",
  "futwigun2",
  "deathdroid",
  "serpentdroid",
  "futrifangle",
  "futwigun",
  "deathdroid2",
  "fuchiropterror",
  "fuomnicannon",
  "fuomnicannon2",
  "servitor",
  "starspawn",
  "starspawn2",
  "starspawn3",
  "starspawn4",
  "fatalcircuit",
  "zombot",
  "shadowgolem",
  "ghastbrain",
  "fleshreaper",
  "fleshreaper2",
  "fleshreaper3",
  "motherpoptop"
]
