{
	"gui" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/kheAA/kheAA_toolforge/header.png",
			"fileBody" : "/interface/kheAA/kheAA_toolforge/body.png"
		},
		"craftButton" : {
			"type" : "button",
			"base" : "/interface/kheAA/kheAA_toolforge/buttonCraft.png",
			"hover" : "/interface/kheAA/kheAA_toolforge/buttonCraftH.png",
			"press" : "/interface/kheAA/kheAA_toolforge/buttonCraftH.png",
			"caption" : "Craft tool",
			"position" : [134, 47]
		},
		"filter" : {
			"type" : "textbox",
			"position" : [140, 69],
			"hint" : "Name your Tool",
			"storage.maxWidth" : 100,
			"enterKey" : "filter",
			"focus" : false
		},
		"itemGrid" : {
			"type" : "itemgrid",
			"position" : [137, 85],
			"dimensions" : [3, 1],
			"spacing" : [24, 20],
			"backingImage" : "/interface/inventory/empty.png"
		},
		"itemGrid2" : {
			"type" : "itemgrid",
			"position" : [225, 85],
			"slotOffset" : 3,
			"dimensions" : [1, 1],
			"spacing" : [19, 19],
			"backingImage" : "/interface/inventory/empty.png"
		},
		"stats" : {
			"type" : "label",
			"value" : "^#CCB600;Stats:",
			"hAnchor" : "left",
			"position" : [6, 175]
		},
		"statName1" : {
			"type" : "label",
			"value" : "",
			"hAnchor" : "left",
			"position" : [6, 160]
		},
		"statName2" : {
			"type" : "label",
			"value" : "",
			"hAnchor" : "left",
			"position" : [6, 150]
		},
		"stat1" : {
			"type" : "label",
			"value" : "",
			"hAnchor" : "left",
			"position" : [90, 160]
		},
		"stat2" : {
			"type" : "label",
			"value" : "",
			"hAnchor" : "left",
			"position" : [90, 150]
		},
		"close" : {
			"type" : "button",
			"base" : "/interface/kheAA/kheAA_toolforge/buttonCraft.png",
			"hover" : "/interface/kheAA/kheAA_toolforge/buttonCraftH.png",
			"press" : "/interface/kheAA/kheAA_toolforge/buttonCraftH.png",
			"caption" : "Close",
			"position" : [134, 13]
		}
	},

	"scriptWidgetCallbacks" : [
		"craftButton",
		"filter"
	],

	"scripts" : ["/interface/kheAA/kheAA_toolforge/toolforgegui.lua"],
	"scriptDelta" : 0
}
