{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1.0,
      "type" : "fublueorbboom"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 1,
      "explosiveDamageAmount" : 0.15,
      "delaySteps" : 0,
      "harvestLevel" : 99
    },
	{
      "action" : "sound",
      "options" : [ "/sfx/weapons/beam.wav" ]
    }

  ]
}
