{
	"gui": {
		"background": {
			"type": "background",
			"fileHeader": "/interface/objectcrafting/campfire_header.png",
			"fileBody": "/interface/objectcrafting/campfire_body.png",
			"fileFooter": "/interface/objectcrafting/campfire_footer.png"
		},
		"printButton": {
			"type": "button",
			"position": [72, 36],
			"base": "/interface/objectcrafting/cook.png",
			"hover": "/interface/objectcrafting/cookover.png",
			"caption": "Print"
		},
		"scanButton": {
			"type": "button",
			"position": [2, 36],
			"base": "/interface/objectcrafting/cook.png",
			"hover": "/interface/objectcrafting/cookover.png",
			"caption": "Scan"
		},
		"close": {
			"callback": "bye",
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"pressed": "/interface/xpress.png",
			"pressedOffset": [0, 0],
			"position": [123, 105]
		},
		"itemGrid": {
			"type": "itemgrid",
			"position": [40, 54],
			"dimensions": [1, 1],
			"spacing": [19, 19],
			"backingImage": "/interface/inventory/empty.png"
		},
		"overlay": {
			"type": "image",
			"file": "/interface/objectcrafting/campfire_shine.png",
			"position": [0, 12]
		}
	},
	"scriptWidgetCallbacks": [
		"scanButton",
		"printButton",
		"bye"
	],

	"scripts": ["/objects/devtools/ItemGenerator/ItemGenerator.lua"]
}