{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1.0,
      "type" : "bombblockexplosion"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 6,
      "backgroundRadius" : 4,
      "explosiveDamageAmount" : 25,
      "delaySteps" : 0,
      "harvestLevel" : 99
    },
	{
      "action" : "sound",
      "options" : [ "/sfx/weapons/explosion1.ogg" ]
    }
  ]
}
