{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1.0,
      "type" : "burstjumpboom2"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 2,
      "explosiveDamageAmount" : 25,
      "delaySteps" : 0,
      "harvestLevel" : 99
    },
	{
      "action" : "sound",
      "options" : [ "/sfx/weapons/explosion1.ogg" ]
    }

  ]
}
