{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/extractor/header.png",
      "fileBody" : "/interface/extractor/samplerbase.png",
      "fileFooter" : "/interface/extractor/footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/x.png",
      "position" : [186, 125]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [30, 85],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [30, 42],
      "dimensions" : [3, 2],
      "spacing" : [19, 19],
      "slotOffset" : 1,
      "backingImage" : "/interface/inventory/empty.png"
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "position" : [118, 42],
      "dimensions" : [3, 3],
      "spacing" : [19, 19],
      "slotOffset" : 7,
      "backingImage" : "/interface/inventory/empty.png"
    },
    "prototype label" : {
      "type" : "label",
      "value" : "<- Prototype",
      "hAnchor" : "mid",
      "position" : [77,90]
    },
    "input label" : {
      "type" : "label",
      "value" : "Materials",
      "hAnchor" : "mid",
      "position" : [57, 32]
    }
  }
}
