{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1.0,
      "type" : "burstjumpboom2"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 7,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 6.5,
      "delaySteps" : 0
    },
	{
      "action" : "sound",
      "options" : [ "/sfx/weapons/megablast1.ogg" ]
    }

  ]
}
