{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1.0,
      "type" : "burstjumpboom"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 10,
      "backgroundRadius" : 8,
      "explosiveDamageAmount" : 4.5,
      "delaySteps" : 2
    },
	{
      "action" : "sound",
      "options" : [ "/sfx/weapons/megablast1.ogg" ]
    }

  ]
}
