{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1.0,
      "type" : "burstjumpboom3"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 6,
      "backgroundRadius" : 3,
      "explosiveDamageAmount" : 5.5,
      "delaySteps" : 2
    },
	{
      "action" : "sound",
      "options" : [ "/sfx/weapons/megablast1.ogg" ]
    }

  ]
}
