{
	"shipSelctionInterface" : "/interface/ai/fu_byosai.config",
	"shipResetSelectionInterfaceData" : {
		"states" : {
			"initial" : {
				"buttons" : [
					{"name" : "Repair Ship", "newState" : "frackinShipChoice"},
					{"name" : "Ship is Fine", "newState" : "shipRepairs"}
				],
				"text" : "Ship has sustained major damage. Please repair the ship or select the \"Ship is Fine\" option if it isn't actually damaged."
			}
		}
	},
	"disableUnlockableShips" : true,
	"unlockableShipNameModifier" : "<shipName> ^yellow;",
	"shipUnlockMessages" : {
		"success" : "Successfully uploaded ship data to S.A.I.L.",
		"alreadySet" : "Ship data already uploaded to S.A.I.L.",
		"disabled" : "Unlockable ships have been disabled.",
		"notOnShip" : "You need to be on a ship to be able to connect to the S.A.I.L database for the upload."
	}
}
