{
	"shipSelctionInterface" : "/interface/ai/fu_byosai.config",
	"shipResetSelectionInterfaceData" : {
		"states" : {
			"initial" : {
				"buttons" : [
					{"name" : "Repair Ship", "newState" : "frackinShipChoice"},
					{"name" : "No, it's fine", "newState" : "skipRepairs"}
				],
				"text" : "Ship has sustained major damage and is in need of repair. Perform repairs now?"
			}
		},
		"notInitial" : true
	},
	"shipResetConfirmationDialogs" : {
		"repairShip" : {
			"paneLayout" : "/interface/windowconfig/warpout.config:paneLayout",
			"title" : "Repair Ship",
			"subtitle" : "Repair your ship",
			"icon" : "/interface/warning.png",
			"message" : "This will re-create your ship. Only do this if your ship was been reset. Are you sure you want to do this?",
			"okCaption" : "Okay",
			"cancelCaption" : "Cancel"
		},
		"skipRepairs" : {
			"paneLayout" : "/interface/windowconfig/warpout.config:paneLayout",
			"title" : "Skip Repairs",
			"subtitle" : "Skip repairing your ship",
			"icon" : "/interface/warning.png",
			"message" : "This will set your ship as repaired. Only do this if your ship hasn't been reset. Are you sure you want to do this?",
			"okCaption" : "Okay",
			"cancelCaption" : "Cancel"
		}
	},
	"disableUnlockableShips" : false,
	"unlockableShipNameModifier" : "<shipName>",
	"shipUnlockMessages" : {
		"success" : "Successfully uploaded ship data to S.A.I.L.",
		"alreadySet" : "Ship data already uploaded to S.A.I.L.",
		"disabled" : "Unlockable ships have been disabled.",
		"notOnShip" : "You need to be on a ship to be able to connect to the S.A.I.L database for the upload."
	}
}
