{
	"shipSelctionInterface" : "/interface/ai/fu_byosai.config",
	"shipResetSelectionInterfaceData" : {
		"states" : {
			"initial" : {
				"buttons" : [
					{"name" : "Repair Ship", "newState" : "frackinShipChoice"},
					{"name" : "No, it's fine", "newState" : "skipRepairs"}
				],
				"text" : "Ship has sustained major damage and is in need of repair. Perform repairs now?"
			}
		},
		"notInitial" : true
	},
	"disableUnlockableShips" : false,
	"unlockableShipNameModifier" : "<shipName>",
	"shipUnlockMessages" : {
		"success" : "Successfully uploaded ship data to S.A.I.L.",
		"alreadySet" : "Ship data already uploaded to S.A.I.L.",
		"disabled" : "Unlockable ships have been disabled.",
		"notOnShip" : "You need to be on a ship to be able to connect to the S.A.I.L database for the upload."
	}
}
