{
	//the vanilla pets shouldn't be needed, but added them just in case a mod removed them from the vanilla techstations
	"petbunny" : "bunnypetspawner",
	"petcat" : "catpetspawner",
	"petchick" : "chickpetspawner",
	"petcleaningbot" : "cleaningbotpetspawner",
	"crasberry" : "crasberrypetspawner",
	"petdog" : "dogpetspawner",
	"petfennix" : "fennixpetspawner",
	"petfluffalocalf" : "fluffalocalfpetspawner",
	"petixoling" : "ixolingpetspawner",
	"petlilodon" : "lilodonpetspawner",
	"petmooshicalf" : "mooshicalfpetspawner",
	"petorbis" : "orbispetspawner",
	"petpetricub" : "petricubpetspawner",
	"piglett" : "piglettpetspawner",
	"petpoptop" : "poptoppetspawner",
	"petquagmutt" : "quagmuttpetspawner",
	"petsnake" : "snakepetspawner",
	"petsnuffish" : "snuffishpetspawner",
	"snugget" : "snuggetpetspawner",
	"petsporgus" : "sporguspetspawner",
	"petweasel" : "weaselpetspawner",
	"furobodog" : "pethousefurobodog",
	"rolliepollie" : "pethouserolliepollie"
}