{
	//Vanilla Races
	"apex" : {
		"icon" : "sapemale.png",
		"items" : {
			"techstation" : true,
			"teleporter" : true
		}
	},
	"floran" : {
		"icon" : "plantmale.png"
	},
	"glitch" : {
		"icon" : "robotmale.png"
	},
	"hylotl" : {
		"icon" : "aquaticmale.png"
	},
	
	//FU Races
	"elduukhar" : {
		"items" : {
			"elduucaptainschair" : true,
			"elduushiphatch" : true,
			"elduuteleporter" : true
		}
	},
	"fu_byos" : {
		"icon" : "sapemale.png",
		"name" : "BYOS",
		"items" : {
			"fu_byoscaptainschair" : true,
			"fu_byosfuelhatch" : true,
			"fu_byosshipdoor" : true,
			"fu_byosshiphatch" : true,
			"fu_byosshiplocker" : true,
			"fu_byostechstation" : true,
			"fu_byosteleporter" : true,
			"fu_byoscaptainschairdeco" : true,
			"fu_byostechstationdeco" : true,
			"fu_byosteleporterdeco" : true,
			"fu_byosteleportercrew" : true
		}
	},
	"fukirhos" : {
		"race" : "kirhos"
	},
	"fumantizi" : {
		"race" : "mantizi"
	},
	"fupeglaci" : {
		"icon" : "peglacimale.png"
	},
	"radien" : {
		"race" : "xi"
	},
	//maybe fix this lol (should be able to be put in the above)
	"xi" : {
		"icon" : "radienmale.png"
	},
	
	//Modded Races
	"avali" : {
		"name" : "Avali"
	},
	"trink" : {
		"items" : {
			"trinkshipdoor" : [-8, 0]
		}
	},
	"viera" : {
		"items" : {
			"vieratechstation" : [-24, -16]
		}
	}
}