{
  "vanilla" : {					//used for defining the vanilla ship
    "shipUpgrades" : {			//uses this as the parameters for player.upgradeShip()
      "shipLevel" : 1
    }
  },
  "racial" : {					//used for defining the racial ships in the upgradable ship section									
    "shipLevel" : 1,										//the starting level of the upgradable ship
    "disallowOtherRaceShips" : false						//optional, whether the player can't use racial ships from other races (overrides whitelistedRaces and blacklistedRaces if true)
    //"upgradeType" : "racial",								//optional, makes it so that things that trigger upgradable ship upgrades have to be that type to triger it (defaults to racial)
    //"whitelistedRaces" : {"apex" : true, "avian": true},		//optional, only these racial ships will be options (all racial ships will be options if not set, overrides blacklistedRaces, only works for "ship" : "racial", will always be able to use your races racial ship)
    //"blacklistedRaces" : {"floran" : true, "glitch" : true}	//optional, these racial ships will not be options (all racial ships will be options if not set, overridden by whitelistedRaces, only works for "ship" : "racial", will always be able to use your races racial ship)
  },
  "fu_defaultByos" : {
    "ship" : "fu_byosdefaultship",
    "name" : "Rusty BYOS Ship",
    "offset" : [-13, 16],										//optional (defaults to [-6, 12] (the position for the old default BYOS) if not set ([0, 0] = center/spawn of ship world ([1024, 1024])))
    "icon" : "/interface/ai/shippreviews/byosgenericicon.png", //optional, recommended
    "previewImage" : "/interface/ai/shippreviews/fu_byosdefaultship.png"	//optional, recommended
    //"racialiserOverride" : "human",							//optional, racialises the ship objects to this race(uses the players race if not set)
    //"raceWhitelist" : {"apex" : true, "avian": true},			//optional, only these races can use the ship (all races can use it if not set, overrides "raceBlacklist")
    //"raceBlacklist" : {"floran" : true, "glitch" : true},		//optional, these races cannot use the ship (all races can use it if not set, overridden by "raceWhitelist")
    //"icon" : "/interface/title/sapemale.png",					//optional, the icon used on the ship list
    //"universeFlag" : "outpost_mission1"						//optional, locks the ship behind this universe flag, can't be chosen at all if unlockable ships are disabled
  },
  //"fu_structureFileTest" : {
  //	"ship" : "/ships/veluu/veluutT1.structure",
  //	"name" : "Structure File BYOS Test (remove)"
  //},
  //"fu_upgradableTest" : {
  //	"ship" : ["/ships/veluu/veluutT1.structure", "/ships/veluu/veluutT2.structure", "/ships/veluu/veluutT3.structure"],
  //	"name" : "Upgradable Ship Test (remove)"
  //},

//Non-racial ships

  "fu_defaultByosRepaired" : {
    "ship" : "fu_byosdefaultshiprepaired",
    "name" : "Non-Rusty BYOS Ship",
    "offset" : [-13, 16],
    "icon" : "/interface/ai/shippreviews/byosgenericicon.png",
    "previewImage" : "/interface/ai/shippreviews/fu_byosdefaultshiprepaired.png"
  },
  "fu_defaultByosAlt" : {
    "ship" : "fu_byosdefaultshipalt",
    "name" : "Non-Rusty Alternate BYOS Ship",
    "offset" : [-10, 23],
    "icon" : "/interface/ai/shippreviews/byosgenericicon.png",
    "previewImage" : "/interface/ai/shippreviews/fu_byosdefaultshipalt.png"
  },
  "fu_defaultByosAltRusty" : {
    "ship" : "fu_byosdefaultshipaltrusty",
    "name" : "Rusty Alternate BYOS Ship",
    "offset" : [-10, 23],
    "icon" : "/interface/ai/shippreviews/byosgenericicon.png",
    "previewImage" : "/interface/ai/shippreviews/fu_byosdefaultshipaltrusty.png"
  },

  "fu_byosprotectorship" : {
    "ship" : "fu_byosprotectorship",
    "name" : "Protectorate BYOS Ship",
    "offset" : [-40, 38],
    "racialiserOverride" : "apex",
    "icon" : "/interface/title/humanfemale.png",
    "previewImage" : "/interface/ai/shippreviews/fu_byosprotectorship.png"
  },

  "fu_byosuros" : {
    "ship" : "fu_byosuros",
    "name" : "UROs BYOS Ship",
    "offset" : [-10, 16],
    "icon" : "/interface/ai/shippreviews/byosoutposticon.png",
    "previewImage" : "/interface/ai/shippreviews/fu_byosuros.png"
  },
  "fu_byosminiship" : {
    "ship" : "fu_byosminiship",
    "name" : "Miniship BYOS Ship",
    "offset" : [-10, 16],
    "icon" : "/interface/ai/shippreviews/byosscienceicon.png",
    "previewImage" : "/interface/ai/shippreviews/fu_byosminiship.png"
  },


//Racial Ships

//Vanilla Races
  "fu_byosApex" : {
    "ship" : "fu_byosapexship",
    "name" : "Apex BYOS Ship",
    "offset" : [-15, 20],
    "racialiserOverride" : "apex",
    "icon" : "/interface/title/sapemale.png",
    "previewImage" : "/interface/ai/shippreviews/fu_byosapexship.png"
  },
  "fu_byosAvian" : {
    "ship" : "fu_byosavianship",
    "name" : "Avian BYOS Ship",
    "offset" : [-40, 26],
    "racialiserOverride" : "avian",
    "icon" : "/interface/title/avianmale.png",
    "previewImage" : "/interface/ai/shippreviews/fu_byosavianship.png"
  },
  "fu_byosFloran" : {
    "ship" : "fu_byosfloranship",
    "name" : "Floran BYOS Ship",
    "offset" : [-37, 26],
    "racialiserOverride" : "floran",
    "icon" : "/interface/title/plantmale.png",
    "previewImage" : "/interface/ai/shippreviews/fu_byosfloranship.png"
  },
  "fu_byosGlitch" : {
    "ship" : "fu_byosglitchship",
    "name" : "Glitch BYOS Ship",
    "offset" : [-30, 17],
    "racialiserOverride" : "glitch",
    "icon" : "/interface/title/robotmale.png",
    "previewImage" : "/interface/ai/shippreviews/fu_byosglitchship.png"
  },
  "fu_byosHuman" : {
    "ship" : "fu_byoshumanship",
    "name" : "Human BYOS Ship",
    "offset" : [-40, 38],
    "racialiserOverride" : "human",
    "icon" : "/interface/title/humanmale.png",
    "previewImage" : "/interface/ai/shippreviews/fu_byoshumanship.png"
  },
  "fu_byosHylotl" : {
    "ship" : "fu_byoshylotlship",
    "name" : "Hylotl BYOS Ship",
    "offset" : [-77, 57],
    "racialiserOverride" : "hylotl",
    "icon" : "/interface/title/aquaticmale.png",
    "previewImage" : "/interface/ai/shippreviews/fu_byoshylotlship.png"
  },
  "fu_byosNovakid" : {
    "ship" : "fu_byosnovakidship",
    "name" : "Novakid BYOS Ship",
    "offset" : [-82, 22],
    "racialiserOverride" : "novakid",
    "icon" : "/interface/title/novakidmale.png",
    "previewImage" : "/interface/ai/shippreviews/fu_byosnovakidship.png"
  },

//FU Races
  "fu_byosMantizi" : {
    "ship" : "fu_byosmantiziship",
    "name" : "Mantizi BYOS Ship",
    "offset" : [-141,-6],
    "racialiserOverride" : "fumantizi",
    "icon" : "/interface/title/mantizimale.png",
    "previewImage" : "/interface/ai/shippreviews/fu_byosmantiziship.png"
  },
  "fu_byosTenebrhae" : {
    "ship" : "fu_byostenebrhaeship",
    "name" : "Tenebrhae BYOS Ship",
    "offset" : [-43,-2],
    "racialiserOverride" : "shadow",
    "icon" : "/interface/title/shadowmale.png",
    "previewImage" : "/interface/ai/shippreviews/fu_byostenebrhaeship.png"
  },
  "fu_byosThelusian" : {
    "ship" : "fu_byosthelusianship",
    "name" : "Thelusian BYOS Ship",
    "offset" : [-75,-10],
    "racialiserOverride" : "thelusian",
    "icon" : "/interface/title/thelusianmale.png",
    "previewImage" : "/interface/ai/shippreviews/fu_byosthelusianship.png"
  },
  "fu_byosSkath" : {
    "ship" : "fu_byosskathship",
    "name" : "Skath BYOS Ship",
    "offset" : [-75,-10],
    "racialiserOverride" : "skath",
    "icon" : "/interface/title/skathmale.png",
    "previewImage" : "/interface/ai/shippreviews/fu_byosskathship.png"
  },
  "fu_byosSlime" : {
    "ship" : "fu_byosslimeship",
    "name" : "Slime BYOS Ship",
    "offset" : [-52,-22],
    "racialiserOverride" : "slimeperson",
    "icon" : "/interface/title/slimepersonfemale.png",
    "previewImage" : "/interface/ai/shippreviews/fu_byosslimeship.png"
  },
  "fu_byosKirhos" : {
    "ship" : "fu_byoskirhosship",
    "name" : "Kirhosi BYOS Ship",
    "offset" : [-74,25],
    "racialiserOverride" : "fukirhos",
    "icon" : "/interface/title/kirhosfemale.png",
    "previewImage" : "/interface/ai/shippreviews/fu_byoskirhosship.png"
  },
  "fu_byosFenerox" : {
    "ship" : "fu_byosfeneroxship",
    "name" : "Fenerox BYOS Ship",
    "offset" : [-128,12],
    "icon" : "/interface/title/feneroxfemale.png",
    "previewImage" : "/interface/ai/shippreviews/fu_byosfeneroxship.png"
  },

//Other Races
  "fu_byosavali" : {
    "ship" : "fu_byosavali",
    "name" : "Avali BYOS Ship",
    "offset" : [-10, 16],
    "racialiserOverride" : "avali",
    "icon" : "/interface/ai/shippreviews/avalifemale.png",
    "previewImage" : "/interface/ai/shippreviews/fu_byosavali.png"
  },

//Unlockable ships

  "fu_byosFlesh" : {
    "ship" : "fu_byosfleshyship",
    "name" : "Kevin's Flesher (tm)",
    "offset" : [-25, 32],
    "icon" : "/interface/chatbubbles/fukevintalkhappy.png:0?scalebilinear=0.33",
    "previewImage" : "/interface/ai/shippreviews/fu_byosfleshship.png",
    "universeFlag" : "fu_byosfleshship"
  },

  "fu_byosdeveloper" : {
    "ship" : "fu_byosdeveloper",
    "name" : "Frackin' Devs",
    "offset" : [-25, 32],
    "racialiserOverride" : "apex",
    "icon" : "/interface/ai/shippreviews/byosscienceicon.png",
    "previewImage" : "/interface/ai/shippreviews/fu_byosdeveloper.png",
    "universeFlag" : "iamadeveloperoracheater"
  }

//  "fu_byosLava" : {
//    "ship" : "fu_byoslavaship",
//    "name" : "Lava BYOS Ship",
//    "offset" : [-15,20],
//    "racialiserOverride" : "apex",
//    "icon" : "/interface/ai/shippreviews/byosscienceicon.png",
//    "previewImage" : "/interface/ai/shippreviews/fu_byosdefaultship.png"
//  }
}