{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "cosmicburstexplosion",
      "config" : {
        "statusEffects" : [ "defenseboostneg20" ]
      }
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/mediumflamecosmic/mediumflamecosmic.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.4,
                "variance" : {
                  "timeToLive" : 0.15,
                  "position" : [2, 2],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/cosmicfx/cosmicfx.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.5,
                "variance" : {
                  "position" : [2, 2],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/cosmicsparkle/cosmicsparkle.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.5,
                "variance" : {
                  "position" : [2, 2],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast_small_electric1.ogg", "/sfx/gun/grenadeblast_small_electric2.ogg", "/sfx/gun/grenadeblast_small_electric3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "blue"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }

  ]
}
