{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1.0,
      "type" : "hellfireexplosion"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 16,
      "backgroundRadius" : 14,
      "explosiveDamageAmount" : 100,
      "delaySteps" : 0,
      "harvestLevel" : 99
    },
	{
      "action" : "sound",
      "options" : [ "/sfx/weapons/explosion1.ogg" ]
    }

  ]
}
