{
	// NOTE: There is an empty template at the end of the document for easy copy-pasting
	
	// NOTE: You also have to add images for quest lines and sub lines if you don't want them to look ugly.
	// That is explained in the instructions file.
	
	// NOTE: Use of unique names is important. Don't want to override anything or get your stuff overriden now do you?

	// This is a template file created to serve as documentation on how to define your own quest lines.
	// Quest lines hold sublines, and sublines hold quests. Imagine it like big boxes, holding smaller boxes, holding marbles.
	// So first, you have to define a quest line in the "lines" table:
	
	"lines" : [
		{ 
			"id" : "line_id",	
			"sublines" : [ "subline1_id", "subline2_id" ],
			"requirements" : [ "requirement_quest_id" ],
			"moneyRange" : [100, 150],
			"rewards" : [ [ "reward1", 1 ], ["reward2", 3, {"item_parameter_(such_as_level)" : 3}]],			
			"secret" : false	
		}
	],
		// id			- The ID of the quest. Avoid using generic names so you don't override anything, or get your stuff overriden. (Like 'zb_tutorial')
		// sublines		- The IDs for the sublines this quest line holds.
		// requirements	- Quests the player has to complete before the quest line becomes available.
		// moneyRange	- The range of pixels the player will receive when they complete the quest line.
		// rewards		- Item rewards for completing the quest line. Can add parameters to items as well. (See example above)
		// secret		- When set to true, the quest line will remain hidden until the player completes all the required quests.
	
	
	// Now we define the sublines that hold the quests in them:
	// You just add the quest names into the sublines array.
	"sublines" : {
		"subline1_id" : [ 
			"my_quest_1", 
			"my_quest_2"
		],
		
		//BYOS
		"subline2_id" : [
			"my_quest_3",
			"my_quest_4"
		]
	},
	
	
	// And now we add the texts the player will see. Self explanatory.
	"strings" : {
		"questlines" : {
			"fu_exploration" :		
			{
				"title" : "Exploration",							
				"description" : "Going places will lead to the completion of tasks in this grouping. If travel is your aim, you'll have no problems here."	
			},
			"fu_byos" :
			{
				"title" : "Build Your Own Ship",
				"description" : "The basics of manual ship building."
			}
		},
		
		"sublines" : {
			"fu_kevin" : "Kevin",
			"fu_byosbasics" : "Basics"
		}
	}
}



//	Empty table for easy copy-pasting:
{
	"lines" : [],
	
	"sublines" : {},
	
	"strings" : {
		"questlines" : {},
		"sublines" : {}
	}
}