{
	"gui" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/kheAA/kheAA_router/header.png",
			"fileBody" : "/interface/kheAA/kheAA_router/body.png"
		},
		"itemGrid" : {
			"type" : "itemgrid",
			"position" : [137, 159],
			"dimensions" : [5, 1],
			"spacing" : [22, 20],
			"backingImage" : "/interface/inventory/empty.png"
		},
		"invertedCheckbox" : {
			"type" : "button",
			"pressedOffset" : [0, 0],
			"position" : [200, 127],
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"checkable" : true,
			"checked" : false
		},
		"invertedText" : {
			"type" : "label",
			"value" : "",
			"hAnchor" : "left",
			"position" : [142, 142]
		},
		"invertedLabel" : {
			"type" : "label",
			"value" : "Invert filter: ",
			"hAnchor" : "left",
			"position" : [142, 127]
		},

		"outputSlotCount" : {
			"type" : "textbox",
			"position" : [70, 128],
			"textAlign" : "center",
			"maxWidth" : 16,
			"regex" : "\\d{0,3}",
			"hint" : "---"
		},
		"outputSlotLabel" : {
			"type" : "label",
			"value" : "Output Slots:",
			"hAnchor" : "left",
			"position" : [68, 174]
		},
		"addOutputSlot" : {
			"type" : "button",
			"base" : "/interface/kheAA/kheAA_router/add.png",
			"hover" : "/interface/kheAA/kheAA_router/addH.png",
			"press" : "/interface/kheAA/kheAA_router/addH.png",
			"caption" : "",
			"position" : [94, 126]
		},
		"subOutputSlot" : {
			"type" : "button",
			"base" : "/interface/kheAA/kheAA_router/sub.png",
			"hover" : "/interface/kheAA/kheAA_router/subH.png",
			"press" : "/interface/kheAA/kheAA_router/subH.png",
			"caption" : "",
			"position" : [106, 126]
		},
		"inputSlotCount" : {
			"type" : "textbox",
			"position" : [9, 128],
			"textAlign" : "center",
			"maxWidth" : 16,
			"regex" : "\\d{0,3}",
			"hint" : "---"
		},
		"inputSlotLabel" : {
			"type" : "label",
			"value" : "Input Slots:",
			"hAnchor" : "left",
			"position" : [7, 174]
		},
		"addInputSlot" : {
			"type" : "button",
			"base" : "/interface/kheAA/kheAA_router/add.png",
			"hover" : "/interface/kheAA/kheAA_router/addH.png",
			"press" : "/interface/kheAA/kheAA_router/addH.png",
			"caption" : "",
			"position" : [33, 126]
		},
		"subInputSlot" : {
			"type" : "button",
			"base" : "/interface/kheAA/kheAA_router/sub.png",
			"hover" : "/interface/kheAA/kheAA_router/subH.png",
			"press" : "/interface/kheAA/kheAA_router/subH.png",
			"caption" : "",
			"position" : [45, 126]
		},
		"inputSlotScrollArea" : {
			"type" : "scrollArea",
			"rect" : [6, 138, 61, 176],
			"children" : {
				"inputSlotList" : {
					"type" : "list",
					"schema" : {
						"selectedBG" : "/interface/kheAA/kheAA_router/slotItemSel.png",
						"unselectedBG" : "/interface/kheAA/kheAA_router/slotItem.png",
						"spacing" : [0, 1],
						"memberSize" : [44, 10],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/interface/kheAA/kheAA_router/slotItem.png",
								"position" : [0, 0],
								"zlevel" : -1
							},
							"slotNr" : {
								"type" : "label",
								"position" : [22, 0],
								"hAnchor" : "mid",
								"value" : "0-999"
							}
						}
					}
				}
			}
		},
		"outputSlotScrollArea" : {
			"type" : "scrollArea",
			"rect" : [67, 138, 122, 176],
			"children" : {
				"outputSlotList" : {
					"type" : "list",
					"schema" : {
						"selectedBG" : "/interface/kheAA/kheAA_router/slotItemSel.png",
						"unselectedBG" : "/interface/kheAA/kheAA_router/slotItem.png",
						"spacing" : [0, 1],
						"memberSize" : [44, 10],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/interface/kheAA/kheAA_router/slotItem.png",
								"position" : [0, 0],
								"zlevel" : -1
							},
							"slotNr" : {
								"type" : "label",
								"position" : [22, 0],
								"hAnchor" : "mid",
								"value" : "0-999"
							}
						}
					}
				}
			}
		},
		"close" : {
			"type" : "button",
			"zlevel" : 2,
			"base" : "/interface/kheAA/kheAA_router/buttonIO.png",
			"hover" : "/interface/kheAA/kheAA_router/buttonIOH.png",
			"press" : "/interface/kheAA/kheAA_router/buttonIOH.png",
			"caption" : "Close",
			"position" : [191, 12]
		}
	},
	"scriptWidgetCallbacks" : [
		"invertedCheckbox",
		"inputSlotCount",
		"outputSlotCount",
		"subInputSlot",
		"addInputSlot",
		"subOutputSlot",
		"addOutputSlot"
	],

	"scripts" : ["/interface/kheAA/kheAA_router/routerGui.lua"],
	"scriptDelta" : 1
}
