{
	"gui": {
		"background": {
			"type": "background",
			"fileHeader": "/interface/kheAA/kheAA_router/header.png",
			"fileBody": "/interface/kheAA/kheAA_router/body.png"
		},
		"close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"press": "/interface/xpress.png",
			"position": [238, 198]
		},
		"itemGrid": {
			"type": "itemgrid",
			"position": [137, 159],
			"dimensions": [5, 1],
			"spacing": [22, 20],
			"backingImage": "/interface/inventory/empty.png"
		},
		"outputSlotCount": {
			"type": "textbox",
			"position": [70, 128],
			"textAlign": "center",
			"maxWidth": 16,
			"regex": "\\d{0,3}",
			"hint": "---"
		},
		"outputSlotLabel": {
			"type": "label",
			"value": "Output Slots:",
			"hAnchor": "left",
			"position": [68, 174]
		},
		"addOutputSlot": {
			"type": "button",
			"base": "/interface/kheAA/kheAA_router/add.png",
			"hover": "/interface/kheAA/kheAA_router/addH.png",
			"press": "/interface/kheAA/kheAA_router/addH.png",
			"caption": "",
			"position": [94, 126]
		},
		"invOutputSlot": {
			"callback": "invSlots",
			"type": "button",
			"checkable": true,
			"base": "/interface/kheAA/kheAA_router/blankSmall.png",
			"baseImage": "/interface/kheAA/kheAA_router/blankSmall.png",
			"baseImageChecked": "/interface/kheAA/kheAA_router/blankSmallPress.png",
			"caption": "I",
			"position": [94, 114]
		},
		"subOutputSlot": {
			"type": "button",
			"base": "/interface/kheAA/kheAA_router/sub.png",
			"hover": "/interface/kheAA/kheAA_router/subH.png",
			"press": "/interface/kheAA/kheAA_router/subH.png",
			"caption": "",
			"position": [106, 126]
		},
		"inputSlotCount": {
			"type": "textbox",
			"position": [9, 128],
			"textAlign": "center",
			"maxWidth": 16,
			"regex": "\\d{0,3}",
			"hint": "---"
		},
		"inputSlotLabel": {
			"type": "label",
			"value": "Input Slots:",
			"hAnchor": "left",
			"position": [7, 174]
		},
		"addInputSlot": {
			"type": "button",
			"base": "/interface/kheAA/kheAA_router/add.png",
			"hover": "/interface/kheAA/kheAA_router/addH.png",
			"press": "/interface/kheAA/kheAA_router/addH.png",
			"caption": "",
			"position": [33, 126]
		},
		"invInputSlot": {
			"callback": "invSlots",
			"type": "button",
			"checkable": true,
			"base": "/interface/kheAA/kheAA_router/blankSmall.png",
			"baseImage": "/interface/kheAA/kheAA_router/blankSmall.png",
			"baseImageChecked": "/interface/kheAA/kheAA_router/blankSmallPress.png",
			"caption": "I",
			"position": [45, 114]
		},
		"subInputSlot": {
			"type": "button",
			"base": "/interface/kheAA/kheAA_router/sub.png",
			"hover": "/interface/kheAA/kheAA_router/subH.png",
			"press": "/interface/kheAA/kheAA_router/subH.png",
			"caption": "",
			"position": [45, 126]
		},
		"inputSlotScrollArea": {
			"type": "scrollArea",
			"rect": [6, 138, 61, 176],
			"children": {
				"inputSlotList": {
					"type": "list",
					"schema": {
						"selectedBG": "/interface/kheAA/kheAA_router/slotItemSel.png",
						"unselectedBG": "/interface/kheAA/kheAA_router/slotItem.png",
						"spacing": [0, 1],
						"memberSize": [44, 10],
						"listTemplate": {
							"background": {
								"type": "image",
								"file": "/interface/kheAA/kheAA_router/slotItem.png",
								"position": [0, 0],
								"zlevel": -1
							},
							"slotNr": {
								"type": "label",
								"position": [22, 0],
								"hAnchor": "mid",
								"value": "0-999"
							}
						}
					}
				}
			}
		},
		"outputSlotScrollArea": {
			"type": "scrollArea",
			"rect": [67, 138, 122, 176],
			"children": {
				"outputSlotList": {
					"type": "list",
					"schema": {
						"selectedBG": "/interface/kheAA/kheAA_router/slotItemSel.png",
						"unselectedBG": "/interface/kheAA/kheAA_router/slotItem.png",
						"spacing": [0, 1],
						"memberSize": [44, 10],
						"listTemplate": {
							"background": {
								"type": "image",
								"file": "/interface/kheAA/kheAA_router/slotItem.png",
								"position": [0, 0],
								"zlevel": -1
							},
							"slotNr": {
								"type": "label",
								"position": [22, 0],
								"hAnchor": "mid",
								"value": "0-999"
							}
						}
					}
				}
			}
		},
		"item1ButtonInvert": {
			"callback": "invertButtons",
			"type": "button",
			"checkable": true,
			"caption": "Inv. Logic",
			"hAnchor": "left",
			"position": [9, 65],
			"base": "/interface/kheAA/kheAA_router/slotItem.png",
			"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
			"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png"
		},
		"item1Filter": {
			"callback": "itemFilters",
			"type": "radioGroup",
			"toggleMode": false,
			"buttons": [{
				"selected": true,
				"position": [5, 95],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["exact"]
				}
			}, {
				"position": [5, 85],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["type"]
				}
			}, {
				"position": [5, 75],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["category"]
				}
			}]
		},
		"item1Label": {
			"type": "label",
			"value": "Item 1",
			"hAnchor": "left",
			"position": [9, 105]
		},
		"item1LabelExact": {
			"type": "label",
			"value": "Exact",
			"hAnchor": "left",
			"position": [9, 95]
		},
		"item1LabelType": {
			"type": "label",
			"value": "Type",
			"hAnchor": "left",
			"position": [9, 85]
		},
		"item1LabelCategory": {
			"type": "label",
			"value": "Category",
			"hAnchor": "left",
			"position": [9, 75]
		},
		"item2ButtonInvert": {
			"callback": "invertButtons",
			"type": "button",
			"checkable": true,
			"caption": "Inv. Logic",
			"hAnchor": "left",
			"position": [59, 65],
			"base": "/interface/kheAA/kheAA_router/slotItem.png",
			"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
			"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png"
		},
		"item2Filter": {
			"callback": "itemFilters",
			"type": "radioGroup",
			"toggleMode": false,
			"buttons": [{
				"selected": true,
				"position": [55, 95],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["exact"]
				}
			}, {
				"position": [55, 85],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["type"]
				}
			}, {
				"position": [55, 75],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["category"]
				}
			}]
		},
		"item2Label": {
			"type": "label",
			"value": "Item 2",
			"hAnchor": "left",
			"position": [59, 105]
		},
		"item2LabelExact": {
			"type": "label",
			"value": "Exact",
			"hAnchor": "left",
			"position": [59, 95]
		},
		"item2LabelType": {
			"type": "label",
			"value": "Type",
			"hAnchor": "left",
			"position": [59, 85]
		},
		"item2LabelCategory": {
			"type": "label",
			"value": "Category",
			"hAnchor": "left",
			"position": [59, 75]
		},
		"item3ButtonInvert": {
			"callback": "invertButtons",
			"type": "button",
			"checkable": true,
			"caption": "Inv. Logic",
			"hAnchor": "left",
			"position": [109, 65],
			"base": "/interface/kheAA/kheAA_router/slotItem.png",
			"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
			"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png"
		},
		"item3Filter": {
			"callback": "itemFilters",
			"type": "radioGroup",
			"toggleMode": false,
			"buttons": [{
				"selected": true,
				"position": [105, 95],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["exact"]
				}
			}, {
				"position": [105, 85],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["type"]
				}
			}, {
				"position": [105, 75],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["category"]
				}
			}]
		},
		"item3Label": {
			"type": "label",
			"value": "Item 3",
			"hAnchor": "left",
			"position": [109, 105]
		},
		"item3LabelExact": {
			"type": "label",
			"value": "Exact",
			"hAnchor": "left",
			"position": [109, 95]
		},
		"item3LabelType": {
			"type": "label",
			"value": "Type",
			"hAnchor": "left",
			"position": [109, 85]
		},
		"item3LabelCategory": {
			"type": "label",
			"value": "Category",
			"hAnchor": "left",
			"position": [109, 75]
		},
		"item4ButtonInvert": {
			"callback": "invertButtons",
			"type": "button",
			"checkable": true,
			"caption": "Inv. Logic",
			"hAnchor": "left",
			"position": [159, 65],
			"base": "/interface/kheAA/kheAA_router/slotItem.png",
			"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
			"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png"
		},
		"item4Filter": {
			"callback": "itemFilters",
			"type": "radioGroup",
			"toggleMode": false,
			"buttons": [{
				"selected": true,
				"position": [155, 95],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["exact"]
				}
			}, {
				"position": [155, 85],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["type"]
				}
			}, {
				"position": [155, 75],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["category"]
				}
			}]
		},
		"item4Label": {
			"type": "label",
			"value": "Item 4",
			"hAnchor": "left",
			"position": [159, 105]
		},
		"item4LabelExact": {
			"type": "label",
			"value": "Exact",
			"hAnchor": "left",
			"position": [159, 95]
		},
		"item4LabelType": {
			"type": "label",
			"value": "Type",
			"hAnchor": "left",
			"position": [159, 85]
		},
		"item4LabelCategory": {
			"type": "label",
			"value": "Category",
			"hAnchor": "left",
			"position": [159, 75]
		},
		"item5ButtonInvert": {
			"callback": "invertButtons",
			"type": "button",
			"checkable": true,
			"caption": "Inv. Logic",
			"hAnchor": "left",
			"position": [209, 65],
			"base": "/interface/kheAA/kheAA_router/slotItem.png",
			"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
			"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png"
		},
		"item5Filter": {
			"callback": "itemFilters",
			"type": "radioGroup",
			"toggleMode": false,
			"buttons": [{
				"selected": true,
				"position": [205, 95],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["exact"]
				}
			}, {
				"position": [205, 85],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["type"]
				}
			}, {
				"position": [205, 75],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["category"]
				}
			}]
		},
		"item5Label": {
			"type": "label",
			"value": "Item 5",
			"hAnchor": "left",
			"position": [209, 105]
		},
		"item5LabelExact": {
			"type": "label",
			"value": "Exact",
			"hAnchor": "left",
			"position": [209, 95]
		},
		"item5LabelType": {
			"type": "label",
			"value": "Type",
			"hAnchor": "left",
			"position": [209, 85]
		},
		"item5LabelCategory": {
			"type": "label",
			"value": "Category",
			"hAnchor": "left",
			"position": [209, 75]
		},
		"roundRobinMode": {
			"callback": "roundRobinToggle",
			"type": "button",
			"checkable": true,
			"caption": "Even Split",
			         // Inv. Logic
					 // Round Robin
			"hAnchor": "left",
			"position": [12, 17],
			"base": "/interface/kheAA/kheAA_router/slotItem.png",
			"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
			"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png"
		}
	},
	"scriptWidgetCallbacks": [
		"itemFilters",
		"invertButtons",
		"inputSlotCount",
		"outputSlotCount",
		"subInputSlot",
		"addInputSlot",
		"invSlots",
		"subOutputSlot",
		"addOutputSlot",
		"roundRobinToggle"
	],

	"scripts": ["/interface/kheAA/kheAA_router/kheAA_routerGui.lua"],
	"scriptDelta": 1
}
