{
	"gui": {
		"background": {
			"type": "background",
			"fileHeader": "/interface/kheAA/kheAA_router/header.png",
			"fileBody": "/interface/kheAA/kheAA_router/body.png"
		},
		"close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"press": "/interface/xpress.png",
			"position": [300, 247]
		},

		"inputSlotLabel": {
			"type": "label",
			"value": "Input Slots:",
			"hAnchor": "left",
			"position": [12, 224]
		},
		"inputSlotCount": {
			"type": "textbox",
			"position": [13, 161],
			"textAlign": "center",
			"maxWidth": 16,
			"regex": "^$|(^[1-9][0-9]{0,2}$)",
			"hint": "---"
		},
		"outputSlotLabel": {
			"type": "label",
			"value": "Output Slots:",
			"hAnchor": "left",
			"position": [86, 224]
		},
		"outputSlotCount": {
			"type": "textbox",
			"position": [86, 161],
			"textAlign": "center",
			"maxWidth": 16,
			"regex": "^$|(^[1-9][0-9]{0,2}$)",
			"hint": "---"
		},


		"addInputSlot": {
			"type": "button",
			"base": "/interface/kheAA/kheAA_router/add.png",
			"hover": "/interface/kheAA/kheAA_router/addH.png",
			"press": "/interface/kheAA/kheAA_router/addH.png",
			"caption": "",
			"position": [38, 160]
		},
		"invInputSlot": {
			"callback": "invSlots",
			"type": "button",
			"checkable": true,
			"base": "/interface/kheAA/kheAA_router/blankSmall.png",
			"baseImage": "/interface/kheAA/kheAA_router/blankSmall.png",
			"baseImageChecked": "/interface/kheAA/kheAA_router/blankSmallPress.png",
			"caption": "I",
			"position": [62, 160]
		},
		"subInputSlot": {
			"type": "button",
			"base": "/interface/kheAA/kheAA_router/sub.png",
			"hover": "/interface/kheAA/kheAA_router/subH.png",
			"press": "/interface/kheAA/kheAA_router/subH.png",
			"caption": "",
			"position": [50, 160]
		},
		"inputSlotScrollArea": {
			"type": "scrollArea",
			"rect": [11 , 169, 73, 220],
			"children": {
				"inputSlotList": {
					"type": "list",
					"schema": {
						"selectedBG": "/interface/kheAA/kheAA_router/slotItemSel.png",
						"unselectedBG": "/interface/kheAA/kheAA_router/slotItem.png",
						"spacing": [0, 1],
						"memberSize": [55, 10],
						"listTemplate": {
							"background": {
								"type": "image",
								"file": "/interface/kheAA/kheAA_router/slotItem.png",
								"position": [0, 0],
								"zlevel": -1
							},
							"slotNr": {
								"type": "label",
								"position": [22, 0],
								"hAnchor": "mid",
								"value": "0-999"
							}
						}
					}
				}
			}
		},


		"addOutputSlot": {
			"type": "button",
			"base": "/interface/kheAA/kheAA_router/add.png",
			"hover": "/interface/kheAA/kheAA_router/addH.png",
			"press": "/interface/kheAA/kheAA_router/addH.png",
			"caption": "",
			"position": [110, 160]
		},
		"invOutputSlot": {
			"callback": "invSlots",
			"type": "button",
			"checkable": true,
			"base": "/interface/kheAA/kheAA_router/blankSmall.png",
			"baseImage": "/interface/kheAA/kheAA_router/blankSmall.png",
			"baseImageChecked": "/interface/kheAA/kheAA_router/blankSmallPress.png",
			"caption": "I",
			"position": [134, 160]
		},
		"subOutputSlot": {
			"type": "button",
			"base": "/interface/kheAA/kheAA_router/sub.png",
			"hover": "/interface/kheAA/kheAA_router/subH.png",
			"press": "/interface/kheAA/kheAA_router/subH.png",
			"caption": "",
			"position": [122, 160]
		},
		"outputSlotScrollArea": {
			"type": "scrollArea",
			"rect": [84 , 169, 146, 220],
			"children": {
				"outputSlotList": {
					"type": "list",
					"schema": {
						"selectedBG": "/interface/kheAA/kheAA_router/slotItemSel.png",
						"unselectedBG": "/interface/kheAA/kheAA_router/slotItem.png",
						"spacing": [0, 1],
						"memberSize": [55, 10],
						"listTemplate": {
							"background": {
								"type": "image",
								"file": "/interface/kheAA/kheAA_router/slotItem.png",
								"position": [0, 0],
								"zlevel": -1
							},
							"slotNr": {
								"type": "label",
								"position": [22, 0],
								"hAnchor": "mid",
								"value": "0-999"
							}
						}
					}
				}
			}
		},


		//filter slots
		"filterSlotLabel": {
			"type": "label",
			"value": "Filtered Items:",
			"hAnchor": "left",
			"position": [161, 224]
		},
		"itemGrid": {
			"type": "itemgrid",
			"position": [166, 188],
			"dimensions": [5, 1],
			"spacing": [29, 20],
			"backingImage": "/interface/crafting/icons/empty.png"
		},


		//Filter controls
		//"filterControlsSlotLabel": {
		//	"type": "label",
		//	"value": "Filtered Control:",
		//	"hAnchor": "left",
		//	"position": [12, 133]
		//},
		"item1Filter": {
			"callback": "itemFilters",
			"type": "radioGroup",
			"toggleMode": false,
			"buttons": [{
				"selected": true,
				"position": [15, 116],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["exact"]
				}
			}, {
				"position": [15, 104],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["type"]
				}
			}, {
				"position": [15, 92],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["category"]
				}
			}]
		},
		"item1ButtonInvert": {
			"callback": "invertButtons",
			"type": "button",
			"checkable": true,
			"caption": "Inv. Logic",
			"hAnchor": "left",
			"position": [18, 80],
			"base": "/interface/kheAA/kheAA_router/slotItemGrey.png",
			"baseImage": "/interface/kheAA/kheAA_router/slotItemGrey.png",
			"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemGreyChecked.png"
		},
		"item1Label": {
			"type": "label",
			"value": "Item 1",
			"hAnchor": "left",
			"position": [15, 133]
		},
		"item1LabelExact": {
			"type": "label",
			"value": "Exact",
			"hAnchor": "left",
			"position": [18, 116]
		},
		"item1LabelType": {
			"type": "label",
			"value": "Type",
			"hAnchor": "left",
			"position": [18, 104]
		},
		"item1LabelCategory": {
			"type": "label",
			"value": "Category",
			"hAnchor": "left",
			"position": [18, 92]
		},

		"item2Filter": {
			"callback": "itemFilters",
			"type": "radioGroup",
			"toggleMode": false,
			"buttons": [{
				"selected": true,
				"position": [67, 116],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["exact"]
				}
			}, {
				"position": [67, 104],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["type"]
				}
			}, {
				"position": [67, 92],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["category"]
				}
			}]
		},
		"item2ButtonInvert": {
			"callback": "invertButtons",
			"type": "button",
			"checkable": true,
			"caption": "Inv. Logic",
			"hAnchor": "left",
			"position": [70, 80],
			"base": "/interface/kheAA/kheAA_router/slotItemGrey.png",
			"baseImage": "/interface/kheAA/kheAA_router/slotItemGrey.png",
			"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemGreyChecked.png"
		},
		"item2Label": {
			"type": "label",
			"value": "Item 2",
			"hAnchor": "left",
			"position": [67, 133]
		},
		"item2LabelExact": {
			"type": "label",
			"value": "Exact",
			"hAnchor": "left",
			"position": [70, 116]
		},
		"item2LabelType": {
			"type": "label",
			"value": "Type",
			"hAnchor": "left",
			"position": [70, 104]
		},
		"item2LabelCategory": {
			"type": "label",
			"value": "Category",
			"hAnchor": "left",
			"position": [70, 92]
		},

		"item3Filter": {
			"callback": "itemFilters",
			"type": "radioGroup",
			"toggleMode": false,
			"buttons": [{
				"selected": true,
				"position": [119, 116],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["exact"]
				}
			}, {
				"position": [119, 104],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["type"]
				}
			}, {
				"position": [119, 92],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["category"]
				}
			}]
		},
		"item3ButtonInvert": {
			"callback": "invertButtons",
			"type": "button",
			"checkable": true,
			"caption": "Inv. Logic",
			"hAnchor": "left",
			"position": [122, 80],
			"base": "/interface/kheAA/kheAA_router/slotItemGrey.png",
			"baseImage": "/interface/kheAA/kheAA_router/slotItemGrey.png",
			"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemGreyChecked.png"
		},
		"item3Label": {
			"type": "label",
			"value": "Item 3",
			"hAnchor": "left",
			"position": [119, 133]
		},
		"item3LabelExact": {
			"type": "label",
			"value": "Exact",
			"hAnchor": "left",
			"position": [122, 116]
		},
		"item3LabelType": {
			"type": "label",
			"value": "Type",
			"hAnchor": "left",
			"position": [122, 104]
		},
		"item3LabelCategory": {
			"type": "label",
			"value": "Category",
			"hAnchor": "left",
			"position": [122, 92]
		},

		"item4Filter": {
			"callback": "itemFilters",
			"type": "radioGroup",
			"toggleMode": false,
			"buttons": [{
				"selected": true,
				"position": [171, 116],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["exact"]
				}
			}, {
				"position": [171, 104],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["type"]
				}
			}, {
				"position": [171, 92],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["category"]
				}
			}]
		},
		"item4ButtonInvert": {
			"callback": "invertButtons",
			"type": "button",
			"checkable": true,
			"caption": "Inv. Logic",
			"hAnchor": "left",
			"position": [174, 80],
			"base": "/interface/kheAA/kheAA_router/slotItemGrey.png",
			"baseImage": "/interface/kheAA/kheAA_router/slotItemGrey.png",
			"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemGreyChecked.png"
		},

		"item4Label": {
			"type": "label",
			"value": "Item 4",
			"hAnchor": "left",
			"position": [171, 133]
		},
		"item4LabelExact": {
			"type": "label",
			"value": "Exact",
			"hAnchor": "left",
			"position": [174, 116]
		},
		"item4LabelType": {
			"type": "label",
			"value": "Type",
			"hAnchor": "left",
			"position": [174, 104]
		},
		"item4LabelCategory": {
			"type": "label",
			"value": "Category",
			"hAnchor": "left",
			"position": [174, 92]
		},
		"item5ButtonInvert": {
			"callback": "invertButtons",
			"type": "button",
			"checkable": true,
			"caption": "Inv. Logic",
			"hAnchor": "left",
			"position": [226, 80],
			"base": "/interface/kheAA/kheAA_router/slotItemGrey.png",
			"baseImage": "/interface/kheAA/kheAA_router/slotItemGrey.png",
			"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemGreyChecked.png"
		},
		"item5Filter": {
			"callback": "itemFilters",
			"type": "radioGroup",
			"toggleMode": false,
			"buttons": [{
				"selected": true,
				"position": [223, 116],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["exact"]
				}
			}, {
				"position": [223, 104],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["type"]
				}
			}, {
				"position": [223, 92],
				"baseImage": "/interface/kheAA/kheAA_router/slotItem.png",
				"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemSel.png",
				"data": {
					"mode": ["category"]
				}
			}]
		},
		"item5Label": {
			"type": "label",
			"value": "Item 5",
			"hAnchor": "left",
			"position": [223, 133]
		},
		"item5LabelExact": {
			"type": "label",
			"value": "Exact",
			"hAnchor": "left",
			"position": [226, 116]
		},
		"item5LabelType": {
			"type": "label",
			"value": "Type",
			"hAnchor": "left",
			"position": [226, 104]
		},
		"item5LabelCategory": {
			"type": "label",
			"value": "Category",
			"hAnchor": "left",
			"position": [226, 92]
		},

		//Function controls
		"filterFunctionsLabel": {
			"type": "label",
			"value": "Functions: ^yellow;Use these to help divide outputs for automation.^reset;",
			"hAnchor": "left",
			"position": [12, 37]
		},
		"roundRobinMode": {
			"callback": "roundRobinToggle",
			"type": "button",
			"checkable": true,
			"caption": "Even Split",
			"hAnchor": "left",
			"position": [15, 17],
			"base": "/interface/kheAA/kheAA_router/slotItemGrey.png",
			"baseImage": "/interface/kheAA/kheAA_router/slotItemGrey.png",
			"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemGreyChecked.png"
		},
		"roundRobinSlotMode": {
			"callback": "roundRobinSlotToggle",
			"type": "button",
			"checkable": true,
			"caption": "Slot Split",
			"hAnchor": "left",
			"position": [72, 17],
			"base": "/interface/kheAA/kheAA_router/slotItemGrey.png",
			"baseImage": "/interface/kheAA/kheAA_router/slotItemGrey.png",
			"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemGreyChecked.png"
		},
		"leaveOneItemMode": {
			"callback": "leaveOneItemToggle",
			"type": "button",
			"checkable": true,
			"caption": "Leave One",
			"hAnchor": "left",
			"position": [129, 17],
			"base": "/interface/kheAA/kheAA_router/slotItemGrey.png",
			"baseImage": "/interface/kheAA/kheAA_router/slotItemGrey.png",
			"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemGreyChecked.png"
		},
		"onlyStackMode": {
			"callback": "onlyStackToggle",
			"type": "button",
			"checkable": true,
			"caption": "Stack Only",
			"hAnchor": "left",
			"position": [186, 17],
			"base": "/interface/kheAA/kheAA_router/slotItemGrey.png",
			"baseImage": "/interface/kheAA/kheAA_router/slotItemGrey.png",
			"baseImageChecked": "/interface/kheAA/kheAA_router/slotItemGreyChecked.png"
		}
	},
	"scriptWidgetCallbacks": [
		"itemFilters",
		"invertButtons",
		"inputSlotCount",
		"outputSlotCount",
		"subInputSlot",
		"addInputSlot",
		"invSlots",
		"subOutputSlot",
		"addOutputSlot",
		"roundRobinToggle",
		"roundRobinSlotToggle",
		"leaveOneItemToggle",
		"onlyStackToggle"
	],

	"scripts": ["/interface/kheAA/kheAA_router/kheAA_routerGui.lua"],
	"scriptDelta": 1
}
