{
  "bomb" : {
    "projectileType" : "zbomb",
    "projectileParams" : {
      "speed" : 30,
      "power" : 20
    },

    "fireTime" : 8.0,
    "fireDt" : 0.2,
    "cooldown" : 0.1
  },

  "deathexplosion" : {
    "projectileType" : "regularexplosion2universal",
    "projectileParams" : {
      "speed" : 0,
      "power" : 20,

      "actionOnReap" : [
        {
          "action" : "config",
          "file" : "/projectiles/explosions/regularexplosion2/regularexplosion2universal.config"
        }
      ]
    },

    "fireTime" : 1.0,
    "fireDt" : 0.2,
    "cooldown" : 0.1
  }
}
