{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/icons/fu_standardHeader_long.png",
      "fileBody" : "/objects/power/isn_incinerator/isn_incinerator_body.png",
      "fileFooter" : "/interface/crafting/icons/fu_standardFooter_long.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
	  /// [ horiz, verti ]
      "position" : [73, 31],
      "dimensions" : [8, 8],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    }
  }
}
