{
	"gui" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/objectcrafting/campfire_header.png",
			"fileBody" : "/interface/objectcrafting/campfire_body.png",
			"fileFooter" : "/interface/objectcrafting/campfire_footer.png"
		},
			"toggleCrafting" : {
			"type" : "button",
			"position" : [42, 36],
			"base" : "/interface/button.png",
			"hover" : "/interface/buttonhover.png",
			"caption" : "Brew"
		},
		"itemGrid" : {
			"type" : "itemgrid",
			"position" : [40, 54],
			"dimensions" : [1, 1],
			"spacing" : [19, 19],
			"backingImage" : "/interface/inventory/empty.png"
		},
		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"press" : "/interface/xpress.png",
			"position" : [123, 105]
		},
		"lblText" : {
			"type" : "label",
			"position" : [70, 78],
			"hAnchor" : "mid",
			"wrapWidth" : 125,
			"value" : "^#b9b5b2;Freshly brewed coffee."
		},
		"outputItemGrid" : {
			"type" : "itemgrid",
			"slotOffset" : 1,
			"position" : [76, 54],
			"dimensions" : [1, 1],
			"spacing" : [19, 19],
			"backingImage" : "/interface/inventory/empty.png"
		},
		"pointer" : {
			"type" : "image",
			"position" : [62, 57],
			"file" : "/interface/objectcrafting/arrow.png"
		},
		"overlay" : {
			"type" : "image",
			"file" : "/interface/objectcrafting/coffeemachine_shine.png",
			"position" : [-20, 20]
		}
	}
}