{
  "craftingSound" : "/sfx/interface/crafting_furnace.ogg",
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/objectcrafting/campfire_header.png",
      "fileBody" : "/interface/objectcrafting/fu_atmosfilterbody.png",
      "fileFooter" : "/interface/objectcrafting/campfire_footer.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [50, 48],
      "dimensions" : [2, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [123, 105]
    },
    "lblText" : {
      "type" : "label",
      "position" : [70, 78],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "^#b9b5b2;Place augments in slots to apply their effects in range."
      }
  }
}
