{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/objectcrafting/campfire_header.png",
      "fileBody" : "/interface/objectcrafting/duplicatorbody.png",
      "fileFooter" : "/interface/objectcrafting/campfire_footer.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [12, 44],
      "slotOffset" : 1,
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/objectcrafting/grayborder2.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [40, 44],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/objectcrafting/grayborder2.png"
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "position" : [74, 44],
      "slotOffset" : 2,
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },    
    "pointer" : {
      "type" : "image",
      "position" : [62, 50],
      "file" : "/interface/objectcrafting/arrow.png"
    }
  }
}
