{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/objects/minibiome/precursor/fu_precursorduplicator/chestheader.png",
      "fileBody" : "/objects/minibiome/precursor/fu_precursorduplicator/duplicatorbody.png",
      "fileFooter" : "/objects/minibiome/precursor/fu_precursorduplicator/chestfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [144, 74]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [17, 33],
      "dimensions" : [5, 1],
      "spacing" : [27, 19],
      "backingImage" : "/interface/objectcrafting/grayborder2.png"
    }
  }
}
