{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/objectcrafting/campfire_header.png",
      "fileBody" : "/interface/objectcrafting/apiary_body.png",
      "fileFooter" : "/interface/objectcrafting/campfire_footer.png"
    },
    "toggleCrafting" : {
      "type" : "button",
      "position" : [5, 48],
      "base" : "/interface/objectcrafting/press.png",
      "hover" : "/interface/objectcrafting/pressover.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [74, 56],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/emptycontainers.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [74, 37],
      "slotOffset" : 1,
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/emptyinput.png"
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "slotOffset" : 2,
      "position" : [110, 47],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "pointer" : {
      "type" : "image",
      "position" : [96, 50],
      "file" : "/interface/objectcrafting/arrow.png"
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/objectcrafting/apiaryshine.png",
      "position" : [-20, 20]
    }
  }
}
