{
	"gui" : {
		"panefeature" : { 
			"type" : "panefeature", 
			"keyDismissable" : false,	// Doesn't seem to work?
			"anchor" : "center",
			"position" : [0,0],
			"positionLocked" : true
		},
		
		"background" : {
			"zlevel" : -100,
			"type" : "background",
			"fileBody" : "/interface/scripted/fu_tutorialQuestList/body.png"
		},
		
		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [0, 0],
			"position" : [353, 216]
		},
		
		"instructions" : {
			"type" : "button",
			"base" : "/interface/scripted/fu_tutorialQuestList/questionMark.png:default",
			"hover" : "/interface/scripted/fu_tutorialQuestList/questionMark.png:hover",
			"pressed" : "/interface/scripted/fu_tutorialQuestList/questionMark.png:pressed",
			"pressedOffset" : [0, 0],
			"position" : [341, 216]
		},
		
		"questlineNoSelected" : {
			"type" : "label",
			"zlevel" : -99,
			"position" : [90, 213],
			"fontSize" : 7,
			"vAnchor" : "mid",
			"hAnchor" : "mid",
			"value" : "^cyan;Select a quesline"
		},
		
		"questlineBanner" : {
			"type" : "image",
			"position" : [9, 199],
			"file" : "/assetmissing.png"
		},
		
		"questlineButton" : {
			"type" : "button",
			"position" : [9, 199],
			"pressedOffset" : [0, 0],
			"base" : "/interface/scripted/fu_tutorialQuestList/questlineButton.png:default",
			"hover" : "/interface/scripted/fu_tutorialQuestList/questlineButton.png:hover",
			"disabledImage" : "/interface/scripted/fu_tutorialQuestList/questlineButton.png:default"
		},
		
		"questTitle" : {
			"type" : "label",
			"position" : [206, 201],
			"fontSize" : 7,
			"value" : "I AM ERROR"
		},
		
		"questText" : {
			"type" : "label",
			"position" : [208, 192],
			"wrapWidth" : 158,
			"fontSize" : 7,
			"vAnchor" : "top",
			"value" : "I AM ERROR"
		},
		
		"questButton" : {
			"type" : "button",
			"position" : [245, 12],
			"base" : "/interface/scripted/spaceStation/buttonBig.png:default",
			"hover" : "/interface/scripted/spaceStation/buttonBig.png:hover",
			"disabledImage" : "/interface/scripted/spaceStation/buttonBig.png:grayed",
			"caption" : "Accept"
		},
		
		"questList" : {
			"zlevel" : -10,
			"type" : "scrollArea",
			"rect" : [9, 12, 183, 196],
			"children" : {
				"list" : {
					"type" : "list",
					"zlevel" : -9,
					"callback" : "questSelected",
					"schema" : {
						"unselectedBG" : "/assetmissing.png",
						"selectedBG" : "/assetmissing.png",
						"memberSize" : [164, 13],
						"spacing" : [0, 4],
									
						"listTemplate" : {
							"bg" : {
								"type" : "image",
								"position" : [0, 0],
								"file" : "/interface/scripted/fu_tutorialQuestList/questBackground.png:default"
							},
							"questName" : {
								"type" : "label",
								"position" : [17, 3],
								"callback" : "null",
								"fontSize" : 7,
								"value" : ""
							}
						}
					}
				},
				
				"giverPortrait1" : {
					"type" : "image",
					"zlevel" : -6,
					"visible" : false,
					"position" : [0, 0],
					"file" : "/interface/scripted/fu_tutorialQuestList/kevin.png"
				},
				
				"giverName1" : {
					"type" : "label",
					"zlevel" : -5,
					"position" : [20, 1],
					"callback" : "null",
					"fontSize" : 7,
					"value" : ""
				},
				
				"giverPortrait2" : {
					"type" : "image",
					"zlevel" : -6,
					"visible" : false,
					"position" : [0, 0],
					"file" : "/interface/scripted/fu_tutorialQuestList/kevin.png"
				},
				
				"giverName2" : {
					"type" : "label",
					"zlevel" : -5,
					"visible" : false,
					"position" : [20, 1],
					"callback" : "null",
					"fontSize" : 7,
					"value" : ""
				},
				
				"giverPortrait3" : {
					"type" : "image",
					"zlevel" : -6,
					"visible" : false,
					"position" : [0, 0],
					"file" : "/interface/scripted/fu_tutorialQuestList/kevin.png"
				},
				
				"giverName3" : {
					"type" : "label",
					"zlevel" : -5,
					"visible" : false,
					"position" : [20, 1],
					"callback" : "null",
					"fontSize" : 7,
					"value" : ""
				},
				
				"giverPortrait4" : {
					"type" : "image",
					"zlevel" : -6,
					"visible" : false,
					"position" : [0, 0],
					"file" : "/interface/scripted/fu_tutorialQuestList/kevin.png"
				},
				
				"giverName4" : {
					"type" : "label",
					"zlevel" : -5,
					"visible" : false,
					"position" : [20, 1],
					"callback" : "null",
					"fontSize" : 7,
					"value" : ""
				},
				
				"giverPortrait5" : {
					"type" : "image",
					"zlevel" : -6,
					"visible" : false,
					"position" : [0, 0],
					"file" : "/interface/scripted/fu_tutorialQuestList/kevin.png"
				},
				
				"giverName5" : {
					"type" : "label",
					"zlevel" : -5,
					"visible" : false,
					"position" : [20, 1],
					"callback" : "null",
					"fontSize" : 7,
					"value" : ""
				}
			}
        },
		
		"questlineList" : {
			"zlevel" : -10,
			"visible" : false,
			"type" : "scrollArea",
			"rect" : [9, 12, 183, 196],
			"children" : {
				"list" : {
					"type" : "list",
					"zlevel" : -9,
					"callback" : "questlineSelected",
					"schema" : {
						"unselectedBG" : "/assetmissing.png",
						"selectedBG" : "/assetmissing.png",
						"memberSize" : [164, 34],
						"spacing" : [0, 3],
									
						"listTemplate" : {
							"banner" : {
								"type" : "image",
								"zlevel" : -8,
								"file" : "/assetmissing.png",
								"position" : [0, 2]
							},
							
							"overlay" : {
								"type" : "button",
								"callback" : "null",
								"position" : [0, 0],
								"pressedOffset" : [0, 0],
								"base" : "/interface/scripted/fu_tutorialQuestList/questlineListOverlay.png:default",
								"hover" : "/interface/scripted/fu_tutorialQuestList/questlineListOverlay.png:hover"
							}
						}
					}
				}
			}
		}
		
	},
	
	"scriptWidgetCallbacks" : [ "instructions", "questSelected", "questButton", "questlineButton", "questlineSelected" ],
	"scripts" : ["/interface/scripted/fu_tutorialQuestList/fu_tutorialQuestList.lua"],
	"scriptDelta" : 10
}