{
	"gui" : {
		"panefeature" : { 
			"type" : "panefeature", 
			"positionLocked" : false
		},
		
		"background" : {
			"zlevel" : -100,
			"type" : "background",
			"fileHeader" : "/interface/scripted/fu_tutorialQuestList/header.png",
			"fileBody" : "/interface/scripted/fu_tutorialQuestList/body.png",
			"fileFooter" : "/interface/scripted/fu_tutorialQuestList/footer.png"
		},
		
		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [0, 0],
			"position" : [353, 216]
		},
		
		"instructions" : {
			"type" : "button",
			"base" : "/interface/scripted/fu_tutorialQuestList/questionMark.png:default",
			"hover" : "/interface/scripted/fu_tutorialQuestList/questionMark.png:hover",
			"pressed" : "/interface/scripted/fu_tutorialQuestList/questionMark.png:pressed",
			"pressedOffset" : [0, 0],
			"position" : [341, 216]
		},
		
		"questlineNoSelected" : {
			"type" : "label",
			"zlevel" : -99,
			"position" : [95, 215],
			"fontSize" : 7,
			"vAnchor" : "mid",
			"hAnchor" : "mid",
			"value" : "^cyan;Select a questline"
		},
		
		"questlineBanner" : {
			"type" : "image",
			"position" : [12, 200],
			"file" : "/assetmissing.png"
		},
		
		"questlineButton" : {
			"type" : "button",
			"position" : [12, 200],
			"pressedOffset" : [0, 0],
			"base" : "/interface/scripted/fu_tutorialQuestList/questlineButton.png:default",
			"hover" : "/interface/scripted/fu_tutorialQuestList/questlineButton.png:hover",
			"disabledImage" : "/interface/scripted/fu_tutorialQuestList/questlineButton.png:default"
		},
		
		"questTitle" : {
			"type" : "label",
			"position" : [211, 201],
			"fontSize" : 7,
			"value" : "I AM ERROR"
		},
		
		"textScrollArea" : {
			"type" : "scrollArea",
			"rect" : [205, 36, 371, 196],
			"children" : {
				"questText" : {
					"type" : "label",
					"position" : [0, 0],
					"wrapWidth" : 154,
					"fontSize" : 7,
					"vAnchor" : "bottom",
					"value" : "I AM ERROR"
				},
				
				"rewardList" : {
					"type" : "list",
					"position" : [0, 0],
					"vAnchor" : "bottom",
					"callback" : "null",
					"schema" : {
						"unselectedBG" : "/assetmissing.png",
						"selectedBG" : "/assetmissing.png",
						"memberSize" : [158, 19],
						"spacing" : [0, 2],
						
						"listTemplate" : {
							"rewardsLabel" : {
								"type" : "label",
								"visible" : false,
								"position" : [0, 0],
								"value" : "Rewards:"
							},
							"rewardsPixelIcon" : {
								"type" : "image",
								"visible" : false,
								"position" : [50, 2],
								"file" : "/interface/merchant/pixels.png"
							},
							"rewardsPixels" : {
								"type" : "label",
								"visible" : false,
								"position" : [63, 1],
								"wrapWidth" : 158,
								"fontSize" : 7,
								"hAnchor" : "left",
								"value" : "0"
							},
							"reward1" : {
								"type" : "itemslot",
								"visible" : false,
								"position" : [2, 0],
								"vAnchor" : "top",
								"callback" : "null",
								"backingImage" : "/interface/inventory/empty.png"
							},
							"reward2" : {
								"type" : "itemslot",
								"visible" : false,
								"position" : [21, 0],
								"vAnchor" : "top",
								"callback" : "null",
								"backingImage" : "/interface/inventory/empty.png"
							},
							"reward3" : {
								"type" : "itemslot",
								"visible" : false,
								"position" : [40, 0],
								"vAnchor" : "top",
								"callback" : "null",
								"backingImage" : "/interface/inventory/empty.png"
							},
							"reward4" : {
								"type" : "itemslot",
								"visible" : false,
								"position" : [59, 0],
								"vAnchor" : "top",
								"callback" : "null",
								"backingImage" : "/interface/inventory/empty.png"
							},
							"reward5" : {
								"type" : "itemslot",
								"visible" : false,
								"position" : [78, 0],
								"vAnchor" : "top",
								"callback" : "null",
								"backingImage" : "/interface/inventory/empty.png"
							},
							"reward6" : {
								"type" : "itemslot",
								"visible" : false,
								"position" : [97, 0],
								"vAnchor" : "top",
								"callback" : "null",
								"backingImage" : "/interface/inventory/empty.png"
							},
							"reward7" : {
								"type" : "itemslot",
								"visible" : false,
								"position" : [116, 0],
								"vAnchor" : "top",
								"callback" : "null",
								"backingImage" : "/interface/inventory/empty.png"
							},
							"reward8" : {
								"type" : "itemslot",
								"visible" : false,
								"position" : [135, 0],
								"vAnchor" : "top",
								"callback" : "null",
								"backingImage" : "/interface/inventory/empty.png"
							},
							"reward9" : {
								"type" : "itemslot",
								"visible" : false,
								"position" : [154, 0],
								"vAnchor" : "top",
								"callback" : "null",
								"backingImage" : "/interface/inventory/empty.png"
							}
						}
					}
				}
			}
		},
		
		"questButton" : {
			"type" : "button",
			"position" : [245, 11],
			"base" : "/interface/scripted/spaceStation/buttonBig.png:default",
			"hover" : "/interface/scripted/spaceStation/buttonBig.png:hover",
			"disabledImage" : "/interface/scripted/spaceStation/buttonBig.png:grayed",
			"caption" : "Accept"
		},
		
		"questList" : {
			"zlevel" : -10,
			"type" : "scrollArea",
			"rect" : [9, 12, 183, 196],
			"children" : {
				"list" : {
					"type" : "list",
					"zlevel" : -9,
					"callback" : "questSelected",
					"schema" : {
						"unselectedBG" : "/assetmissing.png",
						"selectedBG" : "/assetmissing.png",
						"memberSize" : [164, 13],
						"spacing" : [0, 4],
									
						"listTemplate" : {
							"bg" : {
								"type" : "image",
								"position" : [0, 0],
								"file" : "/interface/scripted/fu_tutorialQuestList/questBackground.png:default"
							},
							"questName" : {
								"type" : "label",
								"position" : [17, 3],
								"callback" : "null",
								"fontSize" : 7,
								"value" : ""
							},
							"status" : {
								"type" : "image",
								"position" : [145, 1],
								"file" : "/assetmissing.png"
							}
						}
					}
				},
				
				"giverPortrait1" : {
					"type" : "image",
					"zlevel" : -6,
					"visible" : false,
					"position" : [0, 0],
					"file" : "/assetmissing.png"
				},
				
				"giverName1" : {
					"type" : "label",
					"zlevel" : -5,
					"position" : [20, 1],
					"callback" : "null",
					"fontSize" : 7,
					"value" : ""
				},
				
				"giverPortrait2" : {
					"type" : "image",
					"zlevel" : -6,
					"visible" : false,
					"position" : [0, 0],
					"file" : "/assetmissing.png"
				},
				
				"giverName2" : {
					"type" : "label",
					"zlevel" : -5,
					"visible" : false,
					"position" : [20, 1],
					"callback" : "null",
					"fontSize" : 7,
					"value" : ""
				},
				
				"giverPortrait3" : {
					"type" : "image",
					"zlevel" : -6,
					"visible" : false,
					"position" : [0, 0],
					"file" : "/assetmissing.png"
				},
				
				"giverName3" : {
					"type" : "label",
					"zlevel" : -5,
					"visible" : false,
					"position" : [20, 1],
					"callback" : "null",
					"fontSize" : 7,
					"value" : ""
				},
				
				"giverPortrait4" : {
					"type" : "image",
					"zlevel" : -6,
					"visible" : false,
					"position" : [0, 0],
					"file" : "/assetmissing.png"
				},
				
				"giverName4" : {
					"type" : "label",
					"zlevel" : -5,
					"visible" : false,
					"position" : [20, 1],
					"callback" : "null",
					"fontSize" : 7,
					"value" : ""
				},
				
				"giverPortrait5" : {
					"type" : "image",
					"zlevel" : -6,
					"visible" : false,
					"position" : [0, 0],
					"file" : "/assetmissing.png"
				},
				
				"giverName5" : {
					"type" : "label",
					"zlevel" : -5,
					"visible" : false,
					"position" : [20, 1],
					"callback" : "null",
					"fontSize" : 7,
					"value" : ""
				}
			}
        },
		
		"questlineList" : {
			"zlevel" : -10,
			"visible" : false,
			"type" : "scrollArea",
			"rect" : [9, 12, 183, 196],
			"children" : {
				"list" : {
					"type" : "list",
					"zlevel" : -9,
					"callback" : "questlineSelected",
					"schema" : {
						"unselectedBG" : "/assetmissing.png",
						"selectedBG" : "/assetmissing.png",
						"memberSize" : [164, 34],
						"spacing" : [0, 3],
									
						"listTemplate" : {
							"banner" : {
								"type" : "image",
								"zlevel" : -2,
								"file" : "/assetmissing.png",
								"position" : [0, 2]
							},
							
							"completeImage" : {
								"type" : "image",
								"zlevel" : -1,
								"visible" : false,
								"file" : "/interface/scripted/fu_tutorialQuestList/questlineComplete.png",
								"position" : [86, 0]
							},
							
							"overlay" : {
								"type" : "button",
								"callback" : "null",
								"position" : [0, 0],
								"pressedOffset" : [0, 0],
								"base" : "/interface/scripted/fu_tutorialQuestList/questlineListOverlay.png:default",
								"hover" : "/interface/scripted/fu_tutorialQuestList/questlineListOverlay.png:hover"
							}
						}
					}
				}
			}
		}
		
	},
	
	// Total distance between roots of list elements
	"questNameSpacing" : 17,
	
	// Number of hidden questNames used to create space for the portrait
	"portraitQuestNameCount" : 2,
	
	// String used to identify the hidden labels which make space for the portraits
	"portraitSpacingString" : "PORTRAITSPACING",
	
	// String used to identify an unavailable quest line (not secret/hidden ones)
	"unavailableQuestlineString" : "UNVAVAILABLEQUESTLINE",
	
	// Amount of reward item slots in a single list item in 'textScrollArea'
	"rewardItemSlotCount" : 9,
	
	// Height of list items in the rewards list under 'textScrollArea' (spacing included)
	"rewardListItemHeight" : 21,
	
	"scriptWidgetCallbacks" : [ "instructions", "questSelected", "questButton", "questlineButton", "questlineSelected" ],
	"scripts" : ["/interface/scripted/fu_tutorialQuestList/fu_tutorialQuestList.lua"],
	"scriptDelta" : 10
}