{
//Want to add a new quest line?
//- Add a new table into lines
//- do "id" : ... and replace ... with an ID you want the line to have.
//- do "sublines" : ... and replace the ... with an array of subline names (sublines covered later).
//- do "requirements" : ... and replace the ... with an array of quests the player must complete before they can access this quest line.
//- do "secret" : ... and replace the ... with either true or false. If set to true, the quest line will not be visible to the player until its unlocked.

//Images for quest lines and sublines?
//- For quest lines, add a two frame image to the "banners" folder with the quest lines name, where one frame shows the unlocked image, and the other 
//shows when the line is unavailable. Follow the example there.
//- For sublines, just add an image into the "givers" folder with the sublines name. This image also serves as a separator between sublines inside the 
//questline.

	"current" : { "line" : null, "quest" : null },
	
	"lines" : [
		{ 
			"id" : "tutorial",	
			"sublines" : [ "vinj" ],	
			"requirements" : [ "create_matterassembler" ],				
			"secret" : false	
		},
		{ 
			"id" : "sciences",	
			"sublines" : [ "science" ],	
			"requirements" : [ "create_electronics" ],				
			"secret" : false	
		},		
		{ 
			"id" : "kevin_tasks",	
			"sublines" : [ "kevin" ],	
			"requirements" : [ "create_armory" ],				
			"secret" : false	
		}
	],
	
	"sublines" : {
		"vinj" : [ 
			"create_alchemy", 
			"create_armory",
			"create_electronics",
			"create_greenhouse",
			"create_growingtray",
			"create_handmill",
			"create_sprouting",
			"create_tinkertable",
			"create_woodencentrifuge",
			"create_woodensifter" 
		],
		
		"science" : [ 
			"create_extractor", 
			"create_warcleaver",
			"create_tritium",
			"create_watcher", 
			"create_wastewater",
			"create_clothingfabricator3" 			
		],

		"kevin" : [ 
			"create_clothingfabricator", 
			"create_clothingfabricator2",
			"create_clothingfabricator3" 
		]
	},
	
	"strings" : {
		"instructions" : {
			"title" : "Corvex Research Task Terminal",
			"description" : "To select a task, click on its name on the left window, and relevant information will be displayed here.\n\nTasks also come with a color to represent your progress with them: \n^red;red^reset; : unavailable\n^yellow;yellow^reset; : available\n^cyan;cyan^reset; : in progress\n^green;green^reset; : complete.\n\nThere may be different task branches, which you can access by pressing the big image at the top of the window on the left. More become available as you unlock them."
		},
		
		"questlines" : {
			"tutorial" :	
			{
				"title" : "Tutorial",						
				"description" : "Learn the basics of Frackin Universe through this series of quests. You'll be guided through each of the initial stations, their use, and informed of basic resource acquisition."		
			},
			"sciences" :		
			{
				"title" : "Science Studies",							
				"description" : "These tasks are of the utmost importance. Without completing them nobody will think you are as awesome as I am. That is clearly not something you would desire."	
			},			
			"kevin_tasks" :		
			{
				"title" : "Super Important",							
				"description" : "These tasks are of the utmost importance. Without completing them nobody will think you are as awesome as I am. That is clearly not something you would desire."	
			}
		},
		"sublines" : {
			"kevin" : "Kevin",
			"vinj" : "Vinalisj",
			"guy" : "Miscellaneous",
			"sumothafehg" : "Sum'otha-Fehg"
		}
	}
}