{
//Want to add a new quest line?
//- Add a new table into lines
//- do "id" : ... and replace ... with an ID you want the line to have.
//- do "sublines" : ... and replace the ... with an array of subline names (sublines covered later).
//- do "requirements" : ... and replace the ... with an array of quests the player must complete before they can access this quest line.
//- do "secret" : ... and replace the ... with either true or false. If set to true, the quest line will not be visible to the player until its unlocked.

//Images for quest lines and sublines?
//- For quest lines, add a two frame image to the "banners" folder with the quest lines name, where one frame shows the unlocked image, and the other 
//shows when the line is unavailable. Follow the example there.
//- For sublines, just add an image into the "givers" folder with the sublines name. This image also serves as a separator between sublines inside the 
//questline.

	"current" : { "line" : null, "quest" : null },
	
	"lines" : [
		{ 
			"id" : "tutorial",	
			"sublines" : [ "vinj", "extractor" ],	
			"requirements" : [ "create_matterassembler" ],				
			"secret" : false	
		},
		{ 
			"id" : "sciences",	
			"sublines" : [ "physics", "chemistry", "electronics", "genetics", "mechanical" ],	
			"requirements" : [ "create_tinkertable" ],				
			"secret" : true	
		},			
		{ 
			"id" : "outpost_tasks",	
			"sublines" : [ "kevin", "bees", "booze" ],	
			"requirements" : [ "create_tinkertable" ],				
			"secret" : true	
		},
		{ 
			"id" : "battle",	
			"sublines" : [ "gear" ],	
			"requirements" : [ "create_armory" ],				
			"secret" : true	
		}
	],
	
	"sublines" : {
		"vinj" : [ 
			"create_alchemy", 
			"fuquest_biochem",
			"create_armory",
			"create_electronics",
			"create_greenhouse",
			"create_growingtray",
			"fuquest_extractor",
			"fuquest_xeno",
			"create_tinkertable",
			"create_woodencentrifuge",
			"fuquest_powergeneration1",
			"fuquest_powergeneration2",
			"fuquest_farming1",
			"fuquest_farming2",
			"fuquest_farming3",
			"fuquest_farming4",
			"fuquest_bonespear"
		],
		
		"extractor" : [ 
			"create_silicon",		
			"extractor1",
			"extractor2",
			"extractor3",
			"extractor4",
			"extractor5",
			"extractor6"
		],
		
		"physics" : [ 
			"create_fission", 
			"create_protocite", 
			"create_teleportercore",
			"create_tritium"
		],
		"chemistry" : [ 
		        "fuquest_biochem",
		        "fuquest_dna",
		        "fuquest_mineral",
			"create_fertilizer", 
			"create_icecrystal", 
			"create_iodine",		
			"create_methanol", 
			"create_methyliodide",
			"create_plastic",
			"create_wastewater"			
		],
		"electronics" : [ 
			"create_aichip",
			"create_centrifuge", 
			"create_circuitboard",
			"create_hydrotray",
			"create_powdersifter",
			"create_solarpanel", 
			"create_watcher",
			"fuquest_battery"
		],		
		"genetics" : [ 
		        "fuquest_sequencer",
			"create_miraclegrass",
			"fuquest_bracken",
			"fuquest_mutavisk",
			"fuquest_oonforta",
		        "fuquest_cloning",
			"create_ignuschili", 
			"create_mutavisk",
			"create_radleaf",
			"create_regengene"			
		],		
		"mechanical" : [ 
			"create_advxeno", 
			"create_arcsmelter",
			"create_atmosregulator",		
			"create_augment",		
			"create_blackglass",		
			"create_blastfurnace",		
			"create_extractor"
		],
		
		//battle
		"monsters" : [],
		"npcs" : [],
		"gear" : [
		  "fuquest_armory",
		  "create_armcannon",
		  "create_energyassault",
		  "create_laspistol",
		  "create_steelwarblade",
		  "create_warcleaver"
		],

		//Outpost
		"general" : [],
		
		"kevin" : [ 
			"create_clothingfabricator", 
			"create_clothingfabricator2",
			"create_clothingfabricator3" 
		],

		"booze" : [ 
			"1boozekit",
			"2brew_a",
			"2brew_b",
			"2brew_c",
			"2brew_d",
			"3hops",
			"4malt", 
			"5wort",
			"6beer",
			"7distill",
			"8spirits",
			"9merrymead"			
		],
		"bees" : [ 
			"1beestation",
			"2apiary",
			"3basicframe",
			"4bees",
			"5plantflowers",
			"6centrifuge",
			"7combs",
			"8extractcombs",
			"9alveary",
			"10industrialcentrifuge",
			"11honeyjarrer",
			"12breeding",
			"13mites"			
		]		
		
	},
	
	"strings" : {
		"instructions" : {
			"title" : "Corvex Research Task Terminal",
			"description" : "To select a task, click on its name on the left window, and relevant information will be displayed here.\n\nTasks also come with a color to represent your progress with them: \n^red;red^reset; : unavailable\n^yellow;yellow^reset; : available\n^cyan;cyan^reset; : in progress\n^green;green^reset; : complete.\n\nThere may be different task branches, which you can access by pressing the big image at the top of the window on the left. More become available as you unlock them."
		},
		
		"questlines" : {
			"tutorial" :	
			{
				"title" : "Tutorial",						
				"description" : "Learn the basics of Frackin Universe through this series of quests. You'll be guided through each of the initial stations, their use, and informed of basic resource acquisition."		
			},
			"general" :		
			{
				"title" : "General Tasks",							
				"description" : "A wide variety of quests fill this group, from basic survival to more complex things such as teaching poodles to fly, or the French Revolution."	
			},			
			"sciences" :		
			{
				"title" : "Science Studies",							
				"description" : "To build a lab, you have a great number of things to do. This set of quests will serve to aid you in doing exactly that. Learn the function of each station, how it is used in conjunction with other stations in your arsenal and more!"	
			},
			"outpost_tasks" :		
			{
				"title" : "Scientific Forays",							
				"description" : "Here you can track miscellaneous tasks which may not fit into other quest groupings."	
			},			
			"kevin_tasks" :		
			{
				"title" : "Super Important",							
				"description" : "These tasks are of the utmost importance. Without completing them nobody will think you are as awesome as I am. That is clearly not something you would desire."	
			},
			"battle" :		
			{
				"title" : "Battle",							
				"description" : "Quests in this grouping tend to be related to battle, be it killing monsters or creating new sorts of weaponry."	
			},
			"exploration" :		
			{
				"title" : "Exploration",							
				"description" : "Going places will lead to the completion of tasks in this grouping. If travel is your aim, you'll have no problems here."	
			}			
		},
		"sublines" : {
			"kevin" : "Kevin",
			"vinj" : "Vinalisj",
			"extractor" : "Extraction",
			
			"guy" : "Miscellaneous",
			
			//sciences
			"physics" : "Physics",
			"chemistry" : "Chemistry",
			"electronics" : "Electronics",
			"genetics" : "Genetics",
			"mechanical" : "Mechanical",

			//oustpost
			"bees" : "Bees",
			"general" : "General Tasks",
			"booze" : "Starbooze",
			
			//battle
			"monsters" : "Monsters",
			"npcs" : "People",
			"gear" : "Gear",
			
			//exploration
			"planets" : "Biomes",
			"places" : "Locations",
			"things" : "Other",
			
			"sumothafehg" : "Sum'otha-Fehg"
		}
	}
}