{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/keypad2/header.png",
      "fileBody" : "/interface/scripted/keypad2/body.png",
      "fileFooter" : "/interface/scripted/keypad2/footer.png"
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [48, 126]
    },

    "imgDigit1" : {
      "type" : "image",
      "file" : "/interface/scripted/keypad2/asterisk.png",
      "position" : [4, 106],
      "zlevel" : 2
    },
    "imgDigit2" : {
      "type" : "image",
      "file" : "/interface/scripted/keypad2/asterisk.png",
      "position" : [18, 106],
      "zlevel" : 2
    },
    "imgDigit3" : {
      "type" : "image",
      "file" : "/interface/scripted/keypad2/asterisk.png",
      "position" : [32, 106],
      "zlevel" : 2
    },
    "imgDigit4" : {
      "type" : "image",
      "file" : "/interface/scripted/keypad2/asterisk.png",
      "position" : [46, 106],
      "zlevel" : 2
    },

    "btnDigit7" : {
      "type" : "button",
      "base" : "/interface/scripted/keypad2/button_7.png:default",
      "hover" : "/interface/scripted/keypad2/button_7.png:highlight",
      "pressed" : "/interface/scripted/keypad2/button_7.png:default",
      "pressedOffset" : [0, 0],
      "position" : [1, 82],
      "callback" : "enterDigit",
      "data" : "7"
    },
    "btnDigit8" : {
      "type" : "button",
      "base" : "/interface/scripted/keypad2/button_8.png:default",
      "hover" : "/interface/scripted/keypad2/button_8.png:highlight",
      "pressed" : "/interface/scripted/keypad2/button_8.png:default",
      "pressedOffset" : [0, 0],
      "position" : [21, 82],
      "callback" : "enterDigit",
      "data" : "8"
    },
    "btnDigit9" : {
      "type" : "button",
      "base" : "/interface/scripted/keypad2/button_9.png:default",
      "hover" : "/interface/scripted/keypad2/button_9.png:highlight",
      "pressed" : "/interface/scripted/keypad2/button_9.png:default",
      "pressedOffset" : [0, 0],
      "position" : [41, 82],
      "callback" : "enterDigit",
      "data" : "9"
    },
    "btnDigit4" : {
      "type" : "button",
      "base" : "/interface/scripted/keypad2/button_4.png:default",
      "hover" : "/interface/scripted/keypad2/button_4.png:highlight",
      "pressed" : "/interface/scripted/keypad2/button_4.png:default",
      "pressedOffset" : [0, 0],
      "position" : [1, 62],
      "callback" : "enterDigit",
      "data" : "4"
    },
    "btnDigit5" : {
      "type" : "button",
      "base" : "/interface/scripted/keypad2/button_5.png:default",
      "hover" : "/interface/scripted/keypad2/button_5.png:highlight",
      "pressed" : "/interface/scripted/keypad2/button_5.png:default",
      "pressedOffset" : [0, 0],
      "position" : [21, 62],
      "callback" : "enterDigit",
      "data" : "5"
    },
    "btnDigit6" : {
      "type" : "button",
      "base" : "/interface/scripted/keypad2/button_6.png:default",
      "hover" : "/interface/scripted/keypad2/button_6.png:highlight",
      "pressed" : "/interface/scripted/keypad2/button_6.png:default",
      "pressedOffset" : [0, 0],
      "position" : [41, 62],
      "callback" : "enterDigit",
      "data" : "6"
    },
    "btnDigit1" : {
      "type" : "button",
      "base" : "/interface/scripted/keypad2/button_1.png:default",
      "hover" : "/interface/scripted/keypad2/button_1.png:highlight",
      "pressed" : "/interface/scripted/keypad2/button_1.png:default",
      "pressedOffset" : [0, 0],
      "position" : [1, 42],
      "callback" : "enterDigit",
      "data" : "1"
    },
    "btnDigit2" : {
      "type" : "button",
      "base" : "/interface/scripted/keypad2/button_2.png:default",
      "hover" : "/interface/scripted/keypad2/button_2.png:highlight",
      "pressed" : "/interface/scripted/keypad2/button_2.png:default",
      "pressedOffset" : [0, 0],
      "position" : [21, 42],
      "callback" : "enterDigit",
      "data" : "2"
    },
    "btnDigit3" : {
      "type" : "button",
      "base" : "/interface/scripted/keypad2/button_3.png:default",
      "hover" : "/interface/scripted/keypad2/button_3.png:highlight",
      "pressed" : "/interface/scripted/keypad2/button_3.png:default",
      "pressedOffset" : [0, 0],
      "position" : [41, 42],
      "callback" : "enterDigit",
      "data" : "3"
    },
    "btnDigit0" : {
      "type" : "button",
      "base" : "/interface/scripted/keypad2/button_0.png:default",
      "hover" : "/interface/scripted/keypad2/button_0.png:highlight",
      "pressed" : "/interface/scripted/keypad2/button_0.png:default",
      "pressedOffset" : [0, 0],
      "position" : [21, 22],
      "callback" : "enterDigit",
      "data" : "0"
    },

    "btnClear" : {
      "type" : "button",
      "base" : "/interface/scripted/keypad2/button_clear.png:default",
      "hover" : "/interface/scripted/keypad2/button_clear.png:highlight",
      "pressed" : "/interface/scripted/keypad2/button_clear.png:default",
      "pressedOffset" : [0, 0],
      "position" : [41, 22],
      "callback" : "clear"
    },

    "imgStatusLight" : {
      "type" : "image",
      "file" : "/interface/scripted/keypad2/statuslight.png:red",
      "position" : [1, 22],
      "zlevel" : 2
    }
  },

  "scriptWidgetCallbacks" : [
    "enterDigit",
    "clear"
  ],

  "scripts" : ["/interface/scripted/keypad2/keypadgui.lua"],
  "scriptDelta" : 5,

  "statusLightImage" : "/interface/scripted/keypad2/statuslight.png",
  "flashTime" : 1.0
}
