{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/cockpit/consoleheader.png",
      "fileBody" : "/interface/cockpit/consolebody.png"
    },
    "close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [378, 324]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : " Navigation Console",
      "subtitle" : "^#b9b5b2; Select your destination",
      "position" : [74, 402],
      "icon" : {
        "type" : "image",
        "file" : "/interface/cockpit/cockpit.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "disabledLabel" : {
      "type" : "label",
      "position" : [198, 170],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "width" : 120,
      "value" : "CAN'T CONNECT TO S.A.I.L",
      "fontSize" : 24,
      "mouseTransparent" : true
    }
  },

  "scriptWidgetCallbacks" : [],

  "scripts" : [ "/interface/scripted/fu_planetcockpit/fu_planetcockpit.lua" ],
  "scriptDelta" : 1,

  "disabledColor" : [255, 73, 66, 255],
  "disabledFlickerTime" : 0.05,
  "disabledFlicker" : [0.7, 0.9],
  "sounds" : {
    "open" : "/sfx/interface/nav_computer_on.ogg",
    "hover" : "/sfx/interface/starving1.ogg",
    "startTravel" : "/sfx/interface/keypad_press.ogg",
    "failTravel" : "/sfx/interface/nav_examine_off.ogg",
    "jump" : "/sfx/interface/warp.ogg",
    "zoom" : "/sfx/interface/nav_scanning_loop.ogg",
    "pan" : "/sfx/interface/nav_panning_loop.ogg",
    "typing" : "/sfx/interface/keypad_press.ogg"
  }
}
