{
  "openWithInventory" : true,
  "startX" : 100,
  "startY" : 180,
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/mechfuelrefinery/header.png",
      "fileBody" : "/interface/mechfuelrefinery/body.png",
      "fileFooter" : "/interface/mechfuelrefinery/footer.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "  Oil Distiller",
      "subtitle" : "  ^#b9b5b2;Converts Oil",
      "icon" : {
        "type" : "image",
        "file" : "/interface/mechfuelrefinery/iconfull.png",
        "zlevel" : -1
      }
    },
    "toggleCrafting" : {
      "type" : "button",
      "position" : [42, 36],
      "base" : "/interface/mechfuelrefinery/refine.png",
      "hover" : "/interface/mechfuelrefinery/refineover.png",
      "caption" : "Distill",
      "callback" : "refine"
    },
    "lblText" : {
      "type" : "label",
      "position" : [70, 78],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "^#b9b5b2;Place oil in the left slot to refine into mech fuel."
      },
    "itemSlot_input" : {
        "type" : "itemslot",
        "zlevel" : 2,
        "position" : [40, 54],
        "callback" : "insertFuel",
        "rightClickCallback" : "null",
        "backingImage" : "/interface/mechfuelrefinery/fuelslot.png"
      },
    "itemSlot_output" : {
        "type" : "itemslot",
        "zlevel" : 2,
        "position" : [76, 54],
        "callback" : "getFuel",
        "rightClickCallback" : "null",
        "backingImage" : "/interface/inventory/empty.png"
      },
    "progressArrow" : {
      "zlevel" : 1,
      "type" : "progress",
      "position" : [62, 57],
      "background" : "/interface/mechfuelrefinery/arrow.png",
      "size" : [10, 11],
      "progressSet" : {
        "inner" : "/interface/mechfuelrefinery/arrowfull.png",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [123, 103],
      "callback" : "close"
    }
  },

  "scriptWidgetCallbacks" :
  [
    "insertFuel",
    "getFuel",
    "refine"
  ],

  "scripts" : ["/interface/mechfuelrefinery/fuelrefinery.lua"],
  "scriptDelta" : 1
}
