{
	"Data" : {
		"ignoredInstances" : [ "protectorate", "felinintro","floranintro", "avianintro", "apexintro", "hylotlintro", "glitchintro", "novakidintro" ],
		"minimumUptime" : 5
	},
	"ztarbound" : {
		//"image" : "/zb/updateInfoWindow/ztarbound.png",
		//"file" : "/_ZBversioning.config"
		"image" : "/zb/updateInfoWindow/frackinuniverse.png",
		"file" : "/_FUversioning.config"
	},
	"frackinuniverse" : {
		"image" : "/zb/updateInfoWindow/frackinuniverse.png",
		"file" : "/_FUversioning.config"
	}
}