{
	"gui" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/zb/updateInfoWindow/body.png"
		},

		"logo" : {
			"type" : "image",
			"file" : "/assetmissing.png",
			"position" : [14, 221]
		},

		"textScrollBox" : {
			"type" : "scrollArea",
			"rect" : [9, 31, 293, 215],
			"children" : {
				"text" : {
					"type" : "label",
					"position" : [0, 0],
					"wrapWidth" : 273,
					"fontSize" : 8,
					"vAnchor" : "bottom",
					"value" : "I AM ERROR"
				}
			}
		},

		"close" : {
			"type" : "button",
			"base" : "/zb/updateInfoWindow/buttonLeft.png:default",
			"hover" : "/zb/updateInfoWindow/buttonLeft.png:hover",
			"disabledImage" : "/zb/updateInfoWindow/buttonLeft.png:disabled",
			"pressedOffset" : [0, 0],
			"position" : [5, 9],
			"caption" : "Dismiss",
			"callback" : "close"
		},

		"buttonInfo" : {
			"type" : "button",
			"base" : "/zb/updateInfoWindow/button.png:default",
			"hover" : "/zb/updateInfoWindow/button.png:hover",
			"disabledImage" : "/zb/updateInfoWindow/button.png:disabled",
			"pressedOffset" : [0, 0],
			"position" : [78, 9],
			"caption" : "",
			"callback" : "null"
		},

		"buttonChangelog" : {
			"type" : "button",
			"base" : "/zb/updateInfoWindow/button.png:default",
			"hover" : "/zb/updateInfoWindow/button.png:hover",
			"disabledImage" : "/zb/updateInfoWindow/button.png:disabled",
			"pressedOffset" : [0, 0],
			"position" : [150, 9],
			"caption" : "",
			"callback" : "null"
		},

		"buttonCredits" : {
			"type" : "button",
			"base" : "/zb/updateInfoWindow/buttonRight.png:default",
			"hover" : "/zb/updateInfoWindow/buttonRight.png:hover",
			"disabledImage" : "/zb/updateInfoWindow/buttonRight.png:disabled",
			"pressedOffset" : [0, 0],
			"position" : [222, 9],
			"caption" : "",
			"callback" : "null"
		}
	},

	"scripts" : ["/zb/updateInfoWindow/updateInfoWindowError.lua"],
	"scriptDelta" : -1
}