{
	"gui" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/zb/updateInfoWindow/body.png"
		},

		"title" : {
			"type" : "image",
			"file" : "/assetmissing.png",
			"position" : [150, 229]
		},

		"textScrollBox" : {
			"zlevel" : -10,
			"type" : "scrollArea",
			"rect" : [9, 31, 293, 215],
			"children" : {
				"text" : {
					"type" : "label",
					"position" : [0, 0],
					"wrapWidth" : 273,
					"fontSize" : 8,
					"vAnchor" : "bottom",
					"value" : "I AM ERROR"
				}
			}
		},

		"close" : {
			"type" : "button",
			"enabled" : false,
			"base" : "/zb/updateInfoWindow/buttonLeft.png:default",
			"hover" : "/zb/updateInfoWindow/buttonLeft.png:hover",
			"disabledImage" : "/zb/updateInfoWindow/buttonLeft.png:disabled",
			"pressedOffset" : [0, 0],
			"position" : [5, 9],
			"caption" : "Dismiss"
		},

		"buttonInfo" : {
			"type" : "button",
			"enabled" : false,
			"base" : "/zb/updateInfoWindow/button.png:default",
			"hover" : "/zb/updateInfoWindow/button.png:hover",
			"disabledImage" : "/zb/updateInfoWindow/button.png:disabled",
			"pressedOffset" : [0, 0],
			"position" : [78, 9],
			"caption" : "Information"
		},

		"buttonChangelog" : {
			"type" : "button",
			"enabled" : false,
			"base" : "/zb/updateInfoWindow/button.png:default",
			"hover" : "/zb/updateInfoWindow/button.png:hover",
			"disabledImage" : "/zb/updateInfoWindow/button.png:disabled",
			"pressedOffset" : [0, 0],
			"position" : [150, 9],
			"caption" : "Changelog"
		},

		"buttonCredits" : {
			"type" : "button",
			"enabled" : false,
			"base" : "/zb/updateInfoWindow/buttonRight.png:default",
			"hover" : "/zb/updateInfoWindow/buttonRight.png:hover",
			"disabledImage" : "/zb/updateInfoWindow/buttonRight.png:disabled",
			"pressedOffset" : [0, 0],
			"position" : [222, 9],
			"caption" : "Credits"
		},

		"buttonPrevious" : {
			"type" : "button",
			"base" : "/zb/updateInfoWindow/buttonPrevious.png:default",
			"hover" : "/zb/updateInfoWindow/buttonPrevious.png:hover",
			"disabledImage" : "/zb/updateInfoWindow/buttonPrevious.png:disabled",
			"pressedOffset" : [0, 0],
			"position" : [5, 30],
			"caption" : "Previous"
		},

		"buttonNext" : {
			"type" : "button",
			"base" : "/zb/updateInfoWindow/buttonNext.png:default",
			"hover" : "/zb/updateInfoWindow/buttonNext.png:hover",
			"disabledImage" : "/zb/updateInfoWindow/buttonNext.png:disabled",
			"pressedOffset" : [0, 0],
			"position" : [222, 30],
			"caption" : "Next"
		},
		"version" : {
			"type" : "label",
			"position" : [281, 2],
			"fontSize" : 5,
			"hAnchor" : "right",
			"value" : "version"
		}
	},

	"minReadTime" : 5,

	"scriptWidgetCallbacks" : ["close", "buttonInfo", "buttonChangelog", "buttonCredits", "buttonNext", "buttonPrevious"],
	"scripts" : ["/zb/updateInfoWindow/updateInfoWindow.lua"],
	"scriptDelta" : 1
}