{
	"version":1.3,
	"modifier":1.5,
	"effectList":{
		"cold":["ffbiomecold2","ffbiomecold3"],
		"heat":["ffbiomeheat2","ffbiomeheat3"],
		"natureStings":["desertweathernew","desertweathernewdeadly","beesting"],
		"aether":["aetherweathernew"],
		"electric":["ffbiomeelectric1","ffbiomeelectric2","ffbiomeelectric3"],
		"radiation":["radioactiveweathernew2"],
		"poisons":["biomepoison2","biomepoison3","protoweather"],
		"sulphuric":["sulphuricweathernew","sulphuricweathernew2"],
		"gases":["fu_nooxygen","helium3","shadowgasfx","weakpoison"],
		"pressure":["wet"],
		"dark":["superdarkstatlarge","superdarkstatmid","superdarkstat"],
		"ghosts":[],
		"insanity":["tarslow","slow"],
		"time":["fuelectromagneticweather"]
	}
}
