{
	"version":1.2,
	"modifier":1.5,
	"effectList":{
		"cold":["ffbiomecold0","ffbiomecold1","ffbiomecold2","ffbiomecold3","ffbiomecold4"],
		"heat":["ffbiomeheat1","ffbiomeheat2","ffbiomeheat3"],
		"natureStings":["desertweathernew","desertweathernewdeadly","jungleweathernew","beesting"],
		"aether":["aetherweathernew","aetherweathernew2","aetherweathernew3"],
		"electric":["ffbiomeelectric1","ffbiomeelectric2","ffbiomeelectric3"],
		"radiation":["radioactiveweathernew","radioactiveweathernew2","radioactiveweathernew3"],
		"poisons":["biomepoison1","biomepoison2","biomepoison3","booze","booze2","booze3","protoweather"],
		"sulphuric":["sulphuricweathernew","sulphuricweathernew2","sulphuricweathernew3","sulphuricweathernew4"],
		"gases":["fu_nooxygen","helium3","shadowgasfx"],
		"pressure":["gasworld1","gasworld2","gasworld3"],
		"dark":["superdarkstatlarge","superdarkstatmid","superdarkstat"],
		"ghosts":["erchiussickness","erchiussickness2","erchiussickness3"],
		"insanity":["insanitynew","insanitynew2","insanitynew3unknown"],
		"time":["futimeweather"]
	}
}
