{
	"version":1.1,
	"effectList":{
		"aether":["aetherweathernew","aetherweathernew2","aetherweathernew3"],
		"cold":["ffbiomecold0","ffbiomecold1","ffbiomecold2","ffbiomecold3","ffbiomecold4"],
		"desert":["desertweathernew","desertweathernewdeadly"],
		"electric":["ffbiomeelectric1","ffbiomeelectric2","ffbiomeelectric3"],
		"gas":["gasworld1","gasworld2","gasworld3"],
		"heat":["ffbiomeheat1","ffbiomeheat2","ffbiomeheat3"],
		"insanity":["insanitynew","insanitynew2","insanitynew3"],
		"poison":["biomepoison1","biomepoison2","biomepoison3"],
		"protoworld":["protoweather","protoweather"],
		"radiation":["radioactiveweathernew","radioactiveweathernew2","radioactiveweathernew3"],
		"sulphuric":["sulphuricweathernew","sulphuricweathernew2","sulphuricweathernew3","sulphuricweathernew4"],
		"tropical":["jungleweathernew"],
		"dark":["superdarkstatlarge","superdarkstatmid","superdarkstat"],
		"airless":["fu_nooxygen"]
	}
}