{
	// Child-parent relationships of the groups.
	// There are two major groups: ORGANIC and INORGANIC.
	// If you wish to add a food type, be sure to add it under one of these!
	"groups" : {
		"ORGANIC" : false,

		// yknow, that planty stuff
		"PLANT" : "ORGANIC",
		"FRUIT" : "PLANT",

		// Floran likesss meatsss...
		"MEAT" : "ORGANIC",
		"MEAT_COOKED" : "MEAT",
		"MEAT_RAW" : "MEAT",
		"FISH" : "MEAT",

		// Some plants, like boneboo, are both plants *and* meat! Qualifying for either major group will suffice!
		"MEAT_PLANT" : [ "PLANT", "MEAT" ],

		// Milk, cheese, etc.
		"DAIRY" : "ORGANIC",

		"EGG" : "ORGANIC",

		// For those that need that sugary stuff (Candavasians)
		"HIGH_GLUCOSE" : "ORGANIC",

		// Rocks and stuff like that.
		"INORGANIC" : false,
		"ROCK" : "INORGANIC",
		"ROCK_HOT" : "INORGANIC",
		"ROCK_COLD" : "INORGANIC",
		"ROCK_RAD" : "INORGANIC",

		// Glitch plants are weird...
		"ROBOT_PLANT" : false
	},

	// Default bonus effects
	"defaultBonus" : {
		"MEAT_PLANT" : "plant_bonus",
		"PLANT" : "plant_bonus",
		"FRUIT" : "plant_bonus",
		"MEAT_COOKED" : "meat_cooked_bonus",
		"MEAT_RAW" : "meat_raw_bonus",
		"FISH" : "fish_bonus",
		"HIGH_GLUCOSE" : "sugar_bonus",
		"ROBOT_PLANT" : "robot_bonus",
		"ROCK_RAD" : "rock_rad_bonus"
	},

	// Default penalty effects
	"defaultPenalty" : {
		"PLANT" : "plant_penalty",
		"FRUIT" : "plant_penalty",
		"MEAT_COOKED" : "meat_cooked_penalty",
		"MEAT_RAW" : "meat_raw_penalty",
		"MEAT_PLANT" : "meat_plant_penalty",
		"FISH" : "fish_penalty",
		"DAIRY" : "dairy_penalty",
		"EGG" : "egg_penalty",
		"ROBOT_PLANT" : "robot_penalty",
		"ROCK_RAD" : "rock_rad_penalty"
	},

	// Icons for the food groups, to appear on food tooltips when I get around to it
	"typeIcons" : {
		"ORGANIC" : "/items/generic/crafting/geneticmaterial.png",
		"PLANT" : "/items/generic/produce/wheat.png",
		"FRUIT" : "/items/generic/produce/orange.png",
		"MEAT_COOKED" : "/items/generic/meat/cookedalienmeat.png",
		"MEAT_RAW" : "/items/generic/meat/alienmeat.png"
	},



	// Diets consist of two lists: one "major" list of the overall diet, and a "minor" list of the exceptions.
	// When consuming food, it checks these lists first, starting with the "major" list - then continues to check that group's parent(s) the same way
	// Placing "false" instead of "true" in the "major" list will remove that group's ability to confer a diet-alignment bonus.
	// The diets given below are samples; you can use them in your race files by name, but you may wish to build your own instead.
	"diets" : {
		// Carnivores are fine with eating cooked meat - but you won't get a diet bonus that way!
		"carnivore"       : [ { "ORGANIC" : false, "MEAT_RAW" : true,"FISH" : true }, { "PLANT" : true } ],
		"omnivore"        : [ { "ORGANIC" : false },{ "MEAT_RAW" : true } ],
		"raw_omnivore"    : [ { "ORGANIC" : false, "MEAT_RAW" : true } ],

		// By having ORGANIC and FISH but excluding PLANT and MEAT, Piscivores can enjoy miscellaneous ORGANIC products (milk, etc.) as well as fish
		"piscivore"       : [ { "ORGANIC" : false, "FISH" : true },{ "PLANT" : true, "MEAT" : true } ],
		"herbivore"       : [ { "ORGANIC" : false, "PLANT" : true }, { "MEAT" : true, "EGG" : true } ],
		"robot"           : [ { "ROBOT_PLANT" : true } ],
		"lithovore"       : [ { "ROCK": true } ],

		// Entities - like Novakids, X'i, etc. can eat pretty much anything, but they don't get any bonuses
		"entity"          : [ { "ORGANIC" : false, "INORGANIC" : false, "ROBOT_PLANT" : false } ]
	}
}
