{
	"gui" : {
		"title": {
			"type" : "title",
			"title" : "Pet Configuration",
			"subtitle" : "Configure your ship pet",
			"icon" :
			{
				"type" : "image",
				"file" : "/interface/windowconfig/prototyper.png",
				"position" : [10, -20]
			},
			"position" : [15,0]
		},
		"background" :
		{
			"type" : "background",
			"fileHeader" : "/interface/objectcrafting/fu_pethouse/fu_pethouse_header.png",
			"fileBody" : "/interface/objectcrafting/fu_pethouse/fu_pethouse_body.png",
			"fileFooter" : "/interface/objectcrafting/fu_pethouse/fu_pethouse_footer.png"
		},
		"close" :
		{
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [0, -1],
			"position" : [146, 258]
		},
		"petList" : {
			"type": "scrollArea",
			"zlevel": -1,
			"rect" : [10,33,95,243],
			"children": {
				"petList" : {
					"type" : "list",
					"callback" : "petListSelected",
					"schema" : {
						"selectedBG" : "/interface/crafting/craftableselected2.png",
						"unselectedBG" : "/interface/crafting/craftablebackground.png",
						"spacing" : [0, 1],
						"memberSize" : [72, 20],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/interface/crafting/craftablebackground.png",
								"position" : [2, 0],
								"size" : [72, 20],
								"zlevel" : -1
							},
							"name" : {
								"type" : "label",
								"position" : [25, 5],
								"hAnchor" : "left",
								"wrapWidth" : 116,
								"value" : ""
							},
							"icon" : {
								"type" : "image",
								"position" : [2, 0],
								"hAnchor" : "left",
								"vAnchor" : "mid",
								"callback" : "null",
								"maxSize" : [20, 20],
								"minSize" : [20, 20]
							}
						}
					}
				}
			}
		},
		"petName" : {
			"type" : "textbox",
			"position" : [103, 234],
			"maxWidth" : 62,
			"callback" : "petNameChange",
			"focus" : false,
			"hint" : "Name"
		},
		"petNameImage" : {
			"type" : "image",
			"file" : "/interface/objectcrafting/fu_pethouse/fu_pethouse_textbox.png",
			"position" : [100, 233]
		},
		"randomiseSeed" : {
			"type" : "button",
			"position" : [100, 217],
			"base" : "/interface/objectcrafting/fu_pethouse/fu_pethouse_button.png",
			"hover" : "/interface/objectcrafting/fu_pethouse/fu_pethouse_buttonhover.png",
			"caption" : "Randomise Seed",
			"callback" : "randomiseSeed"
		},
		"capturePet" : {
			"type" : "button",
			"position" : [100, 203],
			"base" : "/interface/objectcrafting/fu_pethouse/fu_pethouse_button.png",
			"hover" : "/interface/objectcrafting/fu_pethouse/fu_pethouse_buttonhover.png",
			"caption" : "Capture With Pod",
			"callback" : "capturePet"
		},
		"itemGrid" : {
			"type" : "itemgrid",
			"position" : [127, 183],
			"dimensions" : [1, 1],
			"spacing" : [19, 19],
			"backingImage" : "/interface/inventory/empty.png"
		},
		"changeObjectPet" : {
			"type" : "button",
			"position" : [100, 167],
			"base" : "/interface/objectcrafting/fu_pethouse/fu_pethouse_button.png",
			"hover" : "/interface/objectcrafting/fu_pethouse/fu_pethouse_buttonhover.png",
			"caption" : "Change Object Pet",
			"callback" : "changeObjectPet"
		},
		"addObjectPetToList" : {
			"type" : "button",
			"position" : [100, 153],
			"base" : "/interface/objectcrafting/fu_pethouse/fu_pethouse_button.png",
			"hover" : "/interface/objectcrafting/fu_pethouse/fu_pethouse_buttonhover.png",
			"caption" : "Add Pet To List",
			"callback" : "addObjectPetToList"
		},
		"interactionTypeLabel" : {
			"type" : "label",
			"position" : [103, 143],
			"hAnchor" : "left",
			"value" : "Interaction Type:"
		},
		"interactionType" : {
			"type" : "label",
			"position" : [137, 130],
			"hAnchor" : "mid",
			"wrapWidth" : 62,
			"value" : ""
		},
		"interactionTypeImage" : {
			"type" : "image",
			"file" : "/interface/objectcrafting/fu_pethouse/fu_pethouse_textbox.png",
			"position" : [100, 129]
		},
		"nextInteractionType" : {
			"type" : "button",
			"base" : "/interface/objectcrafting/fu_pethouse/fu_pethouse_pickright.png",
			"hover" : "/interface/objectcrafting/fu_pethouse/fu_pethouse_pickright.png",
			"pressed" : "/interface/objectcrafting/fu_pethouse/fu_pethouse_pickrightover.png",
			"pressedOffset" : [0, 0],
			"position" : [166, 129],
			"zlevel" : 1,
			"callback" : "cycleInteractionType",
			"data" : {
				"direction" : 1
			}
		},
		"previousInteractionType" : {
			"type" : "button",
			"base" : "/interface/objectcrafting/fu_pethouse/fu_pethouse_pickleft.png",
			"hover" : "/interface/objectcrafting/fu_pethouse/fu_pethouse_pickleft.png",
			"pressed" : "/interface/objectcrafting/fu_pethouse/fu_pethouse_pickleftover.png",
			"pressedOffset" : [0, 0],
			"position" : [100, 129],
			"zlevel" : 1,
			"callback" : "cycleInteractionType",
			"data" : {
				"direction" : 1
			}
		},
		"foodLikingsLabel" : {
			"type" : "label",
			"position" : [103, 116],
			"hAnchor" : "left",
			"value" : "Food Likings:"
		},
		"foodLikings" : {
			"type": "scrollArea",
			"zlevel": -1,
			"rect" : [103,33,174,114],
			"children": {
				"foodList" : {
					"type" : "list",
					"schema" : {
						"spacing" : [0, 1],
						"memberSize" : [71, 20],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/interface/objectcrafting/fu_pethouse/fu_pethouse_foodlistbackground.png",
								"position" : [0, 0],
								"size" : [60, 20],
								"zlevel" : -1
							},
							"food" : {
								"type" : "label",
								"position" : [2, 19],
								"hAnchor" : "left",
								"vAnchor" : "top",
								"wrapWidth" : 57,
								"value" : ""
							}
						}
					}
				}
			}
		},
		"resetAddedPets" : {
			"type" : "button",
			"base" : "/interface/objectcrafting/fu_pethouse/fu_pethouse_invisbutton.png",
			"position" : [0, 0],
			"callback" : "resetAddedPets"
		}
	},
	"scripts" : ["/interface/objectcrafting/fu_pethouse/fu_pethouse.lua"],
	"scriptDelta" : 10,
	"scriptWidgetCallbacks" : [
		"petListSelected",
		"petNameChange",
		"randomiseSeed",
		"capturePet",
		"changeObjectPet",
		"addObjectPetToList",
		"cycleInteractionType",
		"resetAddedPets"
	],
	"buttonTimer" : 1,
	"popupMessages" :	{
		"noPod" : "This requires an empty capture pod in your inventory.",
		"captureFail" : "Incompatible mod detected. Any mods that modify groundPet.lua can cause issues with catching ship pets.",
		"petMissing" : "Can't find ship pet.",
		"invalidTechstation" : "This SAIL is missing the necessary script changes. This either means that it uses a custom script, another mod is overwriting the techstation script or you have Purchasable Pets installed."
	},
	"interactionTypes" : [
		{"type" : "always", "name" : "Always"},
		{"type" : "timer", "name" : "Timer"},
		{"type" : "never", "name" : "Never"}
	],
	"resetAddedPetsConfirmation" : "/interface/objectcrafting/fu_pethouse/fu_pethouse_confirmation.config"
}
