{
  "paneLayout" : "/interface/windowconfig/warpout.config:paneLayout",

  "title" : "Reset Added Pets",
  "subtitle" : "Reset pets added from objects",
  "icon" : "/interface/warning.png",
  "message" : "This will erase all pets that you added from objects. Are you sure you want to do this?",
  "okCaption" : "Okay",
  "cancelCaption" : "Cancel"
}