{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/mannequin/header.png",
      "fileBody" : "/interface/scripted/mannequin/fubustbody.png",
      "fileFooter" : "/interface/scripted/mannequin/footer.png"
    },
    "objectImage" : {
      "type" : "image",
      "position" : [56, 107],
      "file" : "",
      "centered" : true,
      "maxSize" : [40, 40],
      "minSize" : [40, 40]
    },
    "equipFunctional" : {
      "type" : "button",
      "base" : "/interface/scripted/mannequin/button.png",
      "hover" : "/interface/scripted/mannequin/buttonhover.png",
      "press" : "/interface/scripted/mannequin/buttonhover.png",
      "caption" : "Equip (Functional)",
      "position" : [5, 59]
    },
    "equipCosmetic" : {
      "type" : "button",
      "base" : "/interface/scripted/mannequin/button.png",
      "hover" : "/interface/scripted/mannequin/buttonhover.png",
      "press" : "/interface/scripted/mannequin/buttonhover.png",
      "caption" : "Equip (Cosmetic)",
      "position" : [5, 43]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [90, 102],
      "dimensions" : [1, 1],
      "spacing" : [19, 20],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [98, 147]
    }
  },

  "scriptWidgetCallbacks" : [
    "equipFunctional",
    "equipCosmetic"
  ],

  "scripts" : ["/interface/scripted/mannequin/fubustgui.lua"],
  "scriptDelta" : 0
}
