{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/blinkout/blinkout.animation",
                "approach" : [0.0, 0.0],
                "timeToLive" : 0.25,
		"fullbright" : true
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/tech/tech_blink2.ogg" ]
    },
    {
      "action" : "light",
      "color" : "blue"
    }
  ]
}
