{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "coldsplosion2"
    },
    {
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "animation" : "/animations/coldbreath/coldbreath.animation",
                "size" : 0.05,
                "initial" : "drift",
                "rotation" : 0.5,
                "timeToLive" : 0.4
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast1.ogg", "/sfx/gun/grenadeblast2.ogg", "/sfx/gun/grenadeblast3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "blue"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 1.5,
      "delaySteps" : 0
    }

  ]
}
