{
	"scripts" : ["/interface/scripted/fu_craftinfo/fu_craftinfo.lua"],
	"scriptDelta" : 1,
	"scriptWidgetCallbacks" : [ "tbFind", "doFindInput", "doFindOutput" ],

	"gui" : {
		"background" : {
			"zlevel" : 0,
			"type" : "background",
			"fileHeader" : "/interface/scripted/fu_craftinfo/craftingheader.png",
			"fileBody" : "/interface/scripted/fu_craftinfo/body.png",
			"fileFooter" : "/interface/scripted/fu_craftinfo/craftingfooter.png"
		},
		"windowtitle" : {
			"type" : "title",
			"title" : "  Frackin' Universe Lab Crafting Directory",
			"subtitle" : "  For the less crafty, the lost and the... curious",
			"icon" : {
				"type" : "image",
				"file" : "/interface/crafting/craftinganvil.png",
				"zlevel" : -1
			}
		},
		
		
		    "close" : {
		      "type" : "button",
		      "base" : "/interface/x.png",
		      "hover" : "/interface/xhover.png",
		      "press" : "/interface/xpress.png",
		      //position: horizontal, vertical
		      "position" : [391, 280]
		    },		

		"tbFind" : {
			"type" : "textbox",
			"position" : [16, 260],
			"textAlign" : "left",
			"maxWidth" : 96,
			"hint" : ""
		},
		"btnFindInput" : {
			"type" : "button",
			"base" : "/interface/button.png",
			"hover" : "/interface/buttonhover.png",
			"position" : [2, 36],
			"caption" : "As input",
			"callback" : "doFindInput"
		},
		"btnFindOutput" : {
			"type" : "button",
			"base" : "/interface/button.png",
			"hover" : "/interface/buttonhover.png",
			"position" : [63, 36],
			"caption" : "As output",
			"callback" : "doFindOutput"
		},

		"materialList" : {
			"type" : "scrollArea",
			"rect" : [6, 56, 114, 251],
			"children" : {
				"materials" : {
					"type" : "list",
					"schema" : {
						"selectedBG" : "/interface/scripted/fu_craftinfo/materialbg_sel.png",
						"unselectedBG" : "/interface/scripted/fu_craftinfo/materialbg.png",
						"spacing" : [0, 1],
						"memberSize" : [97, 20],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/interface/scripted/fu_craftinfo/materialbg.png",
								"position" : [2, 0],
								"zlevel" : -1
							},
							"icon" : {
								"type" : "image",
								"position" : [12, 10],
								"file" : "/items/active/unsorted/bugnet/bugneticon.png",
								"centered" : true
							},
							"text" : {
								"type" : "label",
								"position" : [24, 10],
								"hAnchor" : "left",
								"vAnchor" : "mid",
								"wrapWidth" : 69,
								"value" : "A bug! Report it!"
							}
						}
					}
				}
			}
		},
		"recipeList" : {
			"type" : "scrollArea",
			"rect" : [121, 40, 402, 266],
			"children" : {
				"empty" : {
					"type" : "label",
					"position" : [4, 221], // [9, 150]
					"wrapWidth" : 254,
					"vAnchor" : "top",
					"value" : "^cyan;Select a material^reset; then ^cyan;choose whether it's input or output.^reset;\n\nAvailable conversions will be listed here."
				},
				"nostations" : {
					"type" : "label",
					"position" : [4, 221], // [9, 150]
					"wrapWidth" : 254,
					"vAnchor" : "top",
					"value" : "^orange;There are no suitable lab stations nearby.^reset;\n\nPlace one or more withn range or move this display panel.",
					"visible" : false
				},
				"recipes" : {
					// NOTE: gets messed with in the script to account for possible text wrapping
					// Changes to height and vertical spacing need to be reflected there
					"type" : "list",
					"scissoring" : false,
					"schema" : {
						"spacing" : [0, 1], // used in-script
						"memberSize" : [254, 10],
						"listTemplate" : {
							"icon" : {
								"type" : "image",
								"position" : [4, 1],
								"visible" : false
							},
							"text" : {
								"type" : "label",
								"position" : [24, 1],
								"hAnchor" : "left",
								"wrapWidth" : 240,
								"value" : "Oops. Buggy recipe for this item in this crafting station..."
							},
							"direction" : {
								"type" : "label",
								"position" : [20, 8],
								"hAnchor" : "right",
								"vAnchor" : "top"
							}
						}
					}
				}
			}
		}
	}
}
