{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/icons/fu_standardHeader_long.png",
      "fileBody" : "/interface/crafting/icons/fu_sifterBody.png",
      "fileFooter" : "/interface/crafting/icons/fu_standardFooter_long.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      "position" : [140, 125]
    },
    "inputLabel": {
      "type": "label",
      "value": "Input",
      "hAnchor": "left",
      "fontSize" : 7,
      "position": [9, 96]
    },
    "itemGrid" : {
      "type" : "itemgrid",
	  /// [ horiz, verti ]
      "position" : [9, 41],
      "dimensions" : [1, 2],
      "spacing" : [19, 19],
      "backingImage" : "/interface/crafting/icons/empty.png"
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "slotOffset" : 2,
      "position" : [40, 32],
      "dimensions" : [6, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/crafting/icons/empty.png"
    },
    "clear" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Take all",
      "position" : [98, 8]
    }
  }
}
