{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/extractor/headerelder.png",
      "fileBody" : "/interface/extractor/samplerbaseelder.png",
      "fileFooter" : "/interface/extractor/footerelder.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/extractor/x.png",
      "hover" : "/interface/extractor/xhover.png",
      "press" : "/interface/extractor/x.png",
      "position" : [186, 125]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [41, 42],
      "dimensions" : [1, 3],
      "spacing" : [19, 19],
      "backingImage" : "/interface/extractor/emptyelder2.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "slotOffset" : 3,
      "position" : [113, 42],
      "dimensions" : [3, 3],
      "spacing" : [19, 19],
      "backingImage" : "/interface/extractor/emptyelder.png"
    }
  }
}
