{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/extractor/header.png",
      "fileBody" : "/interface/extractor/samplerbase.png",
      "fileFooter" : "/interface/extractor/footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      "position" : [186, 125]
    },
    "clear" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Take all",
      "position" : [132, 27]
    },
    "objectImage" : {
      "type" : "image",
      "position" : [39, 79],
      "file" : "",
      "centered" : true,
      "maxSize" : [40, 40],
      "minSize" : [40, 40]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [79, 44],
      "dimensions" : [2, 3],
      "spacing" : [19, 19],
      "backingImage" : "/interface/crafting/icons/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "slotOffset" : 6,
      "position" : [121, 44],
      "dimensions" : [4, 3],
      "spacing" : [19, 19],
      "backingImage" : "/interface/crafting/icons/empty.png"
    },
    "dragDrop" : {
      "type" : "label",
      "value" : "Drag & Drop",
      "hAnchor" : "mid",
      "position" : [40, 40]
    },
    "count" : {
      "type" : "label",
      "value" : "Input",
      "hAnchor" : "mid",
      "position" : [100, 104]
    },
    "countoutput" : {
      "type" : "label",
      "value" : "Output",
      "hAnchor" : "mid",
      "position" : [158, 104]
    }
  }
}
