{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/extractor/header.png",
      "fileBody" : "/interface/extractor/samplerbase.png",
      "fileFooter" : "/interface/extractor/footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      "position" : [186, 125]
    },
    "clear" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Take all",
      "position" : [131, 27]
    },    
    "objectImage" : {
      "type" : "image",
      "position" : [39, 79],
      "file" : "",
      "centered" : true,
      "maxSize" : [40, 40],
      "minSize" : [40, 40]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [91, 44],
      "dimensions" : [1, 3],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
	  "slotOffset" : 3,
      "position" : [131, 44],
      "dimensions" : [3, 3],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "dragDrop" : {
      "type" : "label",
      "value" : "Drag & Drop",
      "hAnchor" : "mid",
      "position" : [40, 37]
    },
    "count" : {
      "type" : "label",
      "value" : "Input",
      "hAnchor" : "mid",
      "position" : [100, 109]
    },
    "countoutput" : {
      "type" : "label",
      "value" : "Output",
      "hAnchor" : "mid",
      "position" : [160, 109]
    }
  }
}
