{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "minesplosionsmall"
    },
	{
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "animation" : "/animations/smoke/smoke.animation",
                "size" : 1.0,
                "initial" : "drift",
                "rotation" : 0.14,
                "timeToLive" : 0.6
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    
	{
      "action" : "loop",
      "count" : 10,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "animation" : "/animations/dusttest/dusttest.animation",
                "initial" : "drift",
                "rotation" : 3.14,
                "timeToLive" : 3
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 3,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "animation" : "/animations/coldbreath/coldbreath.animation",
                "size" : 0.3,
                "initial" : "drift",
                "rotation" : 0.14,
                "timeToLive" : 0.2
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "animation" : "/animations/plasmapoof/plasmapoof.animation",
                "size" : 0.5,
                "initial" : "drift",
                "rotation" : 0.14,
                "timeToLive" : 0.3
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "animation" : "/animations/coldbreath/coldbreath.animation",
                "size" : 0.1,
                "rotation" : 0.14,
                "timeToLive" : 5
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast1.ogg", "/sfx/gun/grenadeblast2.ogg", "/sfx/gun/grenadeblast3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 5,
      "backgroundRadius" : 2,
      "explosiveDamageAmount" : 5,
      "delaySteps" : 2
    }

  ]
}
