{
	"crewSize" : {
		"min" : 0,
		"max" : 12
	},
	"maxFuel" : {
		"min" : -10000,
		"max" : 10000,
		"totalMin" : 0
	},
	"fuelEfficiency" : {
		"min" : -0.5,
		"max" : 0.5,
		"totalMax" : 0.9
	},
	"shipSpeed" : {
		"min" : -10,
		"max" : 10,
		"totalMin" : 5
	},
	"shipMass" : {
		"min" : -30,
		"max" : 30,
		"totalMin" : 0
	}
}