{
	"colorPool" : [
        [0.80, {"type" : "color", "color" : "bronze"}],
        [0.80, {"type" : "color", "color" : "silver"}],
        [0.80, {"type" : "color", "color" : "gold"}],
        [0.20, {"type" : "color", "color" : "amethyst"}],
        [0.20, {"type" : "color", "color" : "morganite"}],
        [0.20, {"type" : "color", "color" : "ruby"}],
        [0.20, {"type" : "color", "color" : "citrine"}],
        [0.20, {"type" : "color", "color" : "chrysoberyl"}],
        [0.20, {"type" : "color", "color" : "emerald"}],
        [0.20, {"type" : "color", "color" : "apatite"}],
        [0.20, {"type" : "color", "color" : "aquamarine"}],
        [0.20, {"type" : "color", "color" : "sapphire"}],
        [0.20, {"type" : "color", "color" : "onyx"}],
        [0.20, {"type" : "color", "color" : "diamond"}]
    ],
	"colors" : {
		"default" : "default",
		"bronze" : {"54251a" : "89360d", "734034" : "bd795a", "935d4f" : "e7ab89", "b47b6c" : "fcd6b8", "d69a8a" : "feffff"},
		"silver" : {"54251a" : "647080", "734034" : "8799aa", "935d4f" : "b3cbdf", "b47b6c" : "d7ecfa", "d69a8a" : "fefefe"},
		"gold" : {"54251a" : "b97c01", "734034" : "e2af20", "935d4f" : "ffd84d", "b47b6c" : "fff48f", "d69a8a" : "feffff"},
		"amethyst" : {"54251a" : "6a01b1", "734034" : "9622e5", "935d4f" : "bb47ff", "b47b6c" : "e9afff", "d69a8a" : "feffff"},
		"morganite" : {"54251a" : "b10183", "734034" : "e522b2", "935d4f" : "ff47c8", "b47b6c" : "ffafe0", "d69a8a" : "fefeff"},
		"ruby" : {"54251a" : "b1010e", "734034" : "e52230", "935d4f" : "ff474d", "b47b6c" : "ffb3af", "d69a8a" : "fffeff"},
		"citrine" : {"54251a" : "b14b01", "734034" : "e57622", "935d4f" : "ff9e47", "b47b6c" : "ffdaaf", "d69a8a" : "fffefe"},
		"chrysoberyl" : {"54251a" : "84b101", "734034" : "b2e522", "935d4f" : "c7ff47", "b47b6c" : "e1ffaf", "d69a8a" : "fffffe"},
		"emerald" : {"54251a" : "0fb101", "734034" : "30e522", "935d4f" : "4cff47", "b47b6c" : "afffb2", "d69a8a" : "fefffe"},
		"apatite" : {"54251a" : "01b168", "734034" : "22e596", "935d4f" : "47ffbd", "b47b6c" : "afffe7", "d69a8a" : "feffff"},
		"aquamarine" : {"54251a" : "0185b1", "734034" : "22b2e5", "935d4f" : "47c6ff", "b47b6c" : "afe2ff", "d69a8a" : "fefeff"},
		"sapphire" : {"54251a" : "0110b1", "734034" : "2230e5", "935d4f" : "474bff", "b47b6c" : "b1afff", "d69a8a" : "fffeff"},
		"onyx" : {"54251a" : "111111", "734034" : "2a2a2a", "935d4f" : "444444", "b47b6c" : "747474", "d69a8a" : "a8a8a8"},
		"diamond" : {"54251a" : "a3a3a3", "734034" : "b9b9b9", "935d4f" : "cfcfcf", "b47b6c" : "e5e5e5", "d69a8a" : "fcfcfc"}
	}
}
