{
	"gui" : {
		"background" : {
			"zlevel" : 0,
			"type" : "background",
			"fileHeader" : "/objects/pilch_shieldgenerator/interface/header.png",
			"fileBody" : "/objects/pilch_shieldgenerator/interface/body.png",
			"fileFooter" : "/objects/pilch_shieldgenerator/interface/footer.png"
		},

		"windowtitle" : {
			"type" : "title",
			"title" : "Pilchenstein's Field Generator",
			"subtitle" : "Generator Control Console",
			"icon" : {
			"type" : "image",
			"file" : "/objects/pilch_shieldgenerator/interface/icon.png",
			"zlevel" : -1
			}
		},

		"quitButton" : {
			"type" : "button",
			"position" : [294, 168],
			"base" : "/objects/pilch_shieldgenerator/interface/quit.png:inactive",
			"hover" : "/objects/pilch_shieldgenerator/interface/quit.png:active",
			"pressed" : "/objects/pilch_shieldgenerator/interface/quit.png:pressed",
			"disabledImage" : "/objects/pilch_shieldgenerator/interface/quit.png:disabled",
			"pressedOffset" : [0, 0]
		},
		"statusImage" : {
			"type" : "image",
			"position" : [25, 125],
			"file" : "/objects/pilch_shieldgenerator/interface/titlebar.png:green"
		},
		"statusLabel" : {
			"type" : "label",
			"position" : [160, 138],
			"hAnchor" : "mid",
			"vAnchor" : "mid",
			"value" : ""
		},
		"applyProtectedLabel" : {
			"type" : "label",
			"position" : [105, 110],
			"hAnchor" : "right",
			"vAnchor" : "mid",
			"color" : "#169f16",
			"value" : "Apply Protection"
		},
		"applyProtectedCheckBox" : {
			"type" : "button",
			"position" : [110, 104],
			"base" : "/objects/pilch_shieldgenerator/interface/check.png:base",
			"hover" : "/objects/pilch_shieldgenerator/interface/check.png:hover",
			"pressed" : "/objects/pilch_shieldgenerator/interface/check.png:hoverchecked",
			"disabledImage" : "/objects/pilch_shieldgenerator/interface/check.png:disabled",
			"pressedOffset" : [0, 0],
			"checkable" : true,
			"checked" : false,
			"baseImageChecked" : "/objects/pilch_shieldgenerator/interface/check.png:basechecked",
			"hoverImageChecked" : "/objects/pilch_shieldgenerator/interface/check.png:hoverchecked",
			"disabledImageChecked" : "/objects/pilch_shieldgenerator/interface/check.png:disabledchecked"
		},
		"applyBreathableLabel" : {
			"type" : "label",
			"position" : [235, 110],
			"hAnchor" : "right",
			"vAnchor" : "mid",
			"color" : "#169f16",
			"value" : "Apply Oxygen"
		},
		"applyBreathableCheckBox" : {
			"type" : "button",
			"position" : [240, 104],
			"base" : "/objects/pilch_shieldgenerator/interface/check.png:base",
			"hover" : "/objects/pilch_shieldgenerator/interface/check.png:hover",
			"pressed" : "/objects/pilch_shieldgenerator/interface/check.png:hoverchecked",
			"disabledImage" : "/objects/pilch_shieldgenerator/interface/check.png:disabled",
			"pressedOffset" : [0, 0],
			"checkable" : true,
			"checked" : false,
			"baseImageChecked" : "/objects/pilch_shieldgenerator/interface/check.png:basechecked",
			"hoverImageChecked" : "/objects/pilch_shieldgenerator/interface/check.png:hoverchecked",
			"disabledImageChecked" : "/objects/pilch_shieldgenerator/interface/check.png:disabledchecked"
		},
		"applyGravityLabel" : {
			"type" : "label",
			"position" : [105, 90],
			"hAnchor" : "right",
			"vAnchor" : "mid",
			"color" : "#169f16",
			"value" : "Apply Gravity"
		},
		"applyGravityCheckBox" : {
			"type" : "button",
			"position" : [110, 84],
			"base" : "/objects/pilch_shieldgenerator/interface/check.png:base",
			"hover" : "/objects/pilch_shieldgenerator/interface/check.png:hover",
			"pressed" : "/objects/pilch_shieldgenerator/interface/check.png:hoverchecked",
			"disabledImage" : "/objects/pilch_shieldgenerator/interface/check.png:disabled",
			"pressedOffset" : [0, 0],
			"checkable" : true,
			"checked" : false,
			"baseImageChecked" : "/objects/pilch_shieldgenerator/interface/check.png:basechecked",
			"hoverImageChecked" : "/objects/pilch_shieldgenerator/interface/check.png:hoverchecked",
			"disabledImageChecked" : "/objects/pilch_shieldgenerator/interface/check.png:disabledchecked"
		},
		"gravityLevelLabel" : {
			"type" : "label",
			"position" : [235, 90],
			"hAnchor" : "right",
			"vAnchor" : "mid",
			"color" : "#169f16",
			"value" : "Gravity Level:"
		},
		"gravityLevelMinus" : {
			"type" : "button",
			"position" : [240, 84],
			"base" : "/objects/pilch_shieldgenerator/interface/minus.png:base",
			"hover" : "/objects/pilch_shieldgenerator/interface/minus.png:hover",
			"pressed" : "/objects/pilch_shieldgenerator/interface/minus.png:pressed",
			"disabledImage" : "/objects/pilch_shieldgenerator/interface/minus.png:disabled",
			"pressedOffset" : [0, 0]
		},
		"gravityLevelTextBox" : {
			"type" : "textbox",
			"position" : [252, 86],
			"textAlign" : "center",
			"maxWidth" : 16,
			"regex" : "-{0,1}[0-9]{0,4}",
			"hint" : "",
			"color" : "green"
		},
		"gravityLevelPlus" : {
			"type" : "button",
			"position" : [274, 84],
			"base" : "/objects/pilch_shieldgenerator/interface/plus.png:base",
			"hover" : "/objects/pilch_shieldgenerator/interface/plus.png:hover",
			"pressed" : "/objects/pilch_shieldgenerator/interface/plus.png:pressed",
			"disabledImage" : "/objects/pilch_shieldgenerator/interface/plus.png:disabled",
			"pressedOffset" : [0, 0]
		},
		"hideLabel" : {
			"type" : "label",
			"position" : [105, 70],
			"hAnchor" : "right",
			"vAnchor" : "mid",
			"color" : "#169f16",
			"value" : "Appearance"
		},
		"hideRadioGroup" : {
			"type" : "radioGroup",
			"position" : [110, 64],
			"buttons" : [
				{
					"selected" : true,
					"position" : [0, 0],
					"baseImage" : "/objects/pilch_shieldgenerator/interface/hidenormal.png:base",
					"hoverImage" : "/objects/pilch_shieldgenerator/interface/hidenormal.png:checked",
					"pressedImage" : "/objects/pilch_shieldgenerator/interface/hidenormal.png:checked",
					"disabledImage" : "/objects/pilch_shieldgenerator/interface/hidenormal.png:disabled",
					"pressedOffset" : [0, 0],
					"baseImageChecked" : "/objects/pilch_shieldgenerator/interface/hidenormal.png:checked",
					"hoverImageChecked" : "/objects/pilch_shieldgenerator/interface/hidenormal.png:checked"
				},
				{
					"position" : [18, 0],
					"baseImage" : "/objects/pilch_shieldgenerator/interface/hideblock.png:base",
					"hoverImage" : "/objects/pilch_shieldgenerator/interface/hideblock.png:checked",
					"pressedImage" : "/objects/pilch_shieldgenerator/interface/hideblock.png:checked",
					"disabledImage" : "/objects/pilch_shieldgenerator/interface/hideblock.png:disabled",
					"pressedOffset" : [0, 0],
					"baseImageChecked" : "/objects/pilch_shieldgenerator/interface/hideblock.png:checked",
					"hoverImageChecked" : "/objects/pilch_shieldgenerator/interface/hideblock.png:checked"
				},
				{
					"position" : [36, 0],
					"baseImage" : "/objects/pilch_shieldgenerator/interface/hideinvis.png:base",
					"hoverImage" : "/objects/pilch_shieldgenerator/interface/hideinvis.png:checked",
					"pressedImage" : "/objects/pilch_shieldgenerator/interface/hideinvis.png:checked",
					"disabledImage" : "/objects/pilch_shieldgenerator/interface/hideinvis.png:disabled",
					"pressedOffset" : [0, 0],
					"baseImageChecked" : "/objects/pilch_shieldgenerator/interface/hideinvis.png:checked",
					"hoverImageChecked" : "/objects/pilch_shieldgenerator/interface/hideinvis.png:checked"
				}
			]
		},
		"overrideLabel" : {
			"type" : "label",
			"position" : [105, 44],
			"hAnchor" : "right",
			"vAnchor" : "mid",
			"color" : "#169f16",
			"value" : "Admin Override"
		},
		"overrideCheckBox" : {
			"type" : "button",
			"position" : [110, 38],
			"base" : "/objects/pilch_shieldgenerator/interface/check.png:base",
			"hover" : "/objects/pilch_shieldgenerator/interface/check.png:hover",
			"pressed" : "/objects/pilch_shieldgenerator/interface/check.png:hoverchecked",
			"disabledImage" : "/objects/pilch_shieldgenerator/interface/check.png:disabled",
			"pressedOffset" : [0, 0],
			"checkable" : true,
			"checked" : false,
			"baseImageChecked" : "/objects/pilch_shieldgenerator/interface/check.png:basechecked",
			"hoverImageChecked" : "/objects/pilch_shieldgenerator/interface/check.png:hoverchecked",
			"disabledImageChecked" : "/objects/pilch_shieldgenerator/interface/check.png:disabledchecked"
		},
		"debugLabel" : {
			"type" : "label",
			"position" : [235, 70],
			"hAnchor" : "right",
			"vAnchor" : "mid",
			"color" : "#169f16",
			"value" : "Debug Logging"
		},
		"debugCheckBox" : {
			"type" : "button",
			"position" : [240, 64],
			"base" : "/objects/pilch_shieldgenerator/interface/check.png:base",
			"hover" : "/objects/pilch_shieldgenerator/interface/check.png:hover",
			"pressed" : "/objects/pilch_shieldgenerator/interface/check.png:hoverchecked",
			"disabledImage" : "/objects/pilch_shieldgenerator/interface/check.png:disabled",
			"pressedOffset" : [0, 0],
			"checkable" : true,
			"checked" : false,
			"baseImageChecked" : "/objects/pilch_shieldgenerator/interface/check.png:basechecked",
			"hoverImageChecked" : "/objects/pilch_shieldgenerator/interface/check.png:hoverchecked",
			"disabledImageChecked" : "/objects/pilch_shieldgenerator/interface/check.png:disabledchecked"
		},
		"activateButton" : {
			"type" : "button",
			"position" : [192, 37],
			"base" : "/objects/pilch_shieldgenerator/interface/activate.png:base",
			"hover" : "/objects/pilch_shieldgenerator/interface/activate.png:hover",
			"pressed" : "/objects/pilch_shieldgenerator/interface/activate.png:hover",
			"disabledImage" : "/objects/pilch_shieldgenerator/interface/activate.png:disabled",
			"pressedOffset" : [0, -1],
			"checkable" : true,
			"checked" : false,
			"baseImageChecked" : "/objects/pilch_shieldgenerator/interface/activate.png:basechecked",
			"hoverImageChecked" : "/objects/pilch_shieldgenerator/interface/activate.png:hoverchecked",
			"disabledImageChecked" : "/objects/pilch_shieldgenerator/interface/activate.png:disabledchecked"
		}
	},

	"scriptWidgetCallbacks" : [
		"quitButton",
		"applyProtectedCheckBox",
		"applyBreathableCheckBox",
		"applyGravityCheckBox",
		"gravityLevelTextBox",
		"gravityLevelMinus",
		"gravityLevelPlus",
		"hideRadioGroup",
		"overrideCheckBox",
		"debugCheckBox",
		"activateButton"
	],

	"scripts" : ["/objects/pilch_shieldgenerator/pilch_shieldgenerator_gui.lua"],
	"scriptDelta" : 5
}
