{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "darkmatterboom2"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 3,
      "backgroundRadius" : 5,
      "explosiveDamageAmount" : 5,
      "delaySteps" : 2
    },
	{
      "action" : "sound",
      "options" : [ "/sfx/weapons/cbeamex1.wav" ]
    }
  ]
}
