{
  "noCategoryFilters" : false,
  "filter" : [ ],
  "titleFromEntity" : true,
  "requiresBlueprint" : true,
  "craftingSound" : "/sfx/interface/crafting_tech1.ogg",
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/windowconfig/newuiheader.png",
      "fileBody" : "/interface/crafting/techshopbody.png",
      "fileFooter" : "/interface/windowconfig/newuifooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      "position" : [380, 331]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Tech Research",
      "subtitle" : "Unlock new powerful techs",
      "position" : [0, 152],
      "icon" : {
        "type" : "image",
        "file" : "/interface/windowconfig/prototyper.png",
        "position" : [10, -20],
        "zlevel" : -1
      }
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/scripted/techupgrade/doupgrade.png",
      "hover" : "/interface/scripted/techupgrade/doupgrade.png",
      "press" : "/interface/scripted/techupgrade/doupgrade.png",
      "disabledImage" : "/interface/scripted/techupgrade/doupgradedisabled.png",
      "position" : [275, 61],
      "callback" : "doUnlock"
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      "position" : [36, 66.8]
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [47, 65.8],
      "hAnchor" : "left",
      "value" : "MATERIALS AVAILABLE"
    },
    "filter" : {
      "type" : "textbox",
      "position" : [83, 50],
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [39, 80, 215, 342],
      "children" : {
        "itemList" : {
          "type" : "list",
          "callback" : "itemSelected",
          "schema" : {
            "selectedBG" : "/interface/crafting/craftableselected2.png",
            "unselectedBG" : "/interface/crafting/craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [119, 5],
                "file" : "/interface/crafting/new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [134, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
        "categories" : {
                "type" : "radioGroup",
                "toggleMode" : false,
                "buttons" : [
                {
                    "position" : [11, 325],
                    "baseImage" : "/interface/crafting/techheadtab.png",
                    "baseImageChecked" : "/interface/crafting/techheadtabon.png",
                    "data" : {
                        "filter" : "head"
                    }
                },
                {
                    "position" : [11, 302],
                    "baseImage" : "/interface/crafting/techbodytab.png",
                    "baseImageChecked" : "/interface/crafting/techbodytabon.png",
                    "data" : {
                        "filter" : "body"
                    }
                },
                {
                    "position" : [11, 279],
                    "baseImage" : "/interface/crafting/techlegstab.png",
                    "baseImageChecked" : "/interface/crafting/techlegstabon.png",
                    "data" : {
                        "filter" : "legs"
                    }
                }
            ]
        },
        "ingredient1" : {
            "type" : "itemslot",
            "backingImage" : "/interface/inventory/emptier.png",
            "position" : [239, 122],
            "callback" : "null",
            "rightClickCallback" : "null"
        },
        "ingredient2" : {
            "type" : "itemslot",
            "backingImage" : "/interface/inventory/emptier.png",
            "position" : [239, 96],
            "callback" : "null",
            "rightClickCallback" : "null"
        },
        "ingredient3" : {
            "type" : "itemslot",
            "backingImage" : "/interface/inventory/emptier.png",
            "position" : [321, 122],
            "callback" : "null",
            "rightClickCallback" : "null"
        },
        "ingredient4" : {
            "type" : "itemslot",
            "backingImage" : "/interface/inventory/emptier.png",
            "position" : [321, 96],
            "callback" : "null",
            "rightClickCallback" : "null"
        },
        "ingLabel1" : {
            "type" : "label",
            "position" : [314, 120],
            "hAnchor" : "right",
            "value" : ""
        },
        "ingLabel2" : {
            "type" : "label",
            "position" : [314, 94],
            "hAnchor" : "right",
            "value" : ""
        },
        "ingLabel3" : {
            "type" : "label",
            "position" : [396, 120],
            "hAnchor" : "right",
            "value" : ""
        },
        "ingLabel4" : {
            "type" : "label",
            "position" : [396, 94],
            "hAnchor" : "right",
            "value" : ""
        },
        "ingName1" : {
            "type" : "label",
            "position" : [261, 140],
            "hAnchor" : "left",
            "vAnchor" : "top",
            "wrapWidth" : 60,
            "value" : ""
        },
        "ingName2" : {
            "type" : "label",
            "position" : [261, 114],
            "hAnchor" : "left",
            "vAnchor" : "top",
            "wrapWidth" : 60,
            "value" : ""
        },
        "ingName3" : {
            "type" : "label",
            "position" : [343, 140],
            "hAnchor" : "left",
            "vAnchor" : "top",
            "wrapWidth" : 60,
            "value" : ""
        },
        "ingName4" : {
            "type" : "label",
            "position" : [343, 114],
            "hAnchor" : "left",
            "vAnchor" : "top",
            "wrapWidth" : 60,
            "value" : ""
        },
        "techDescription" : {
            "type" : "label",
            "position" : [262, 186],
            "hAnchor" : "left",
            "vAnchor" : "top",
            "wrapWidth" : 130,
            "value" : ""
        },
        "techIcon" : {
            "type" : "image",
            "position" : [279, 209],
            "file" : "",
            "scale" : 5
        }
    },
    "scripts" : ["/interface/scripted/techshop/techshop.lua"],
    "scriptWidgetCallbacks" : [
        "btnFilterHaveMaterials",
        "categories",
        "filter",
        "btnCraft",
        "itemSelected",
        "doUnlock"
    ],

    "techs" : [
        {
            "name" : "airdash2",
            "recipe" : [
                { "name" : "techcard", "count" : 6 },
                { "name" : "advcircuit", "count" : 2 },
                { "name" : "zerchesiumbar", "count" : 4 },
                { "name" : "triangliumpyramid", "count" : 4 }
            ],
            "prereq" : [ "airdash" ],
            "recipeReq" : true,
            "item" : "airdash2_tech"
        },
        {
            "name" : "blinkdash2",
            "recipe" : [
                { "name" : "techcard", "count" : 7 },
                { "name" : "teleportercore", "count" : 1 },
                { "name" : "protocitebar", "count" : 4 },
                { "name" : "penumbriteshard", "count" : 4 }
            ],
            "prereq" : [ "blinkdash" ],
            "recipeReq" : true,
            "item" : "blinkdash2_tech"
        },
        {
            "name" : "teleportdash",
            "recipe" : [
                { "name" : "techcard", "count" : 11 },
                { "name" : "wretchel", "count" : 12 },
                { "name" : "xithricitecrystal", "count" : 4 },
                { "name" : "teleportercore", "count" : 1 }
            ],
            "prereq" : [ "blinkdash" ],
            "recipeReq" : true,
            "item" : "teleportdash_tech"
        },
        {
            "name" : "dashcombat",
            "recipe" : [
                { "name" : "techcard", "count" : 4 },
                { "name" : "corefragmentore", "count" : 4 },
                { "name" : "moonstonebar", "count" : 4 }
            ],
            "prereq" : [ "dash", "distortionsphere2" ],
            "recipeReq" : true,
            "item" : "dashcombat_tech"
        },
        {
            "name" : "fadesprint",
            "recipe" : [
                { "name" : "techcard", "count" : 4 },
                { "name" : "electromagnet", "count" : 2 },
                { "name" : "gene_nervebundle", "count" : 2 },
                { "name" : "laserdiode", "count" : 3 }
            ],
            "prereq" : [ "sprint" ],
            "recipeReq" : true,
            "item" : "fadesprint_tech"
        },
        {
            "name" : "fadesprint2",
            "recipe" : [
                { "name" : "techcard", "count" : 5 },
                { "name" : "advcircuit", "count" : 2 },
                { "name" : "zerchesiumbar", "count" : 4 },
                { "name" : "powercore", "count" : 1 }
            ],
            "prereq" : [ "fadesprint" ],
            "recipeReq" : true,
            "item" : "fadesprint2_tech"
        },
        {
            "name" : "fadesprint3",
            "recipe" : [
                { "name" : "techcard", "count" : 6 },
                { "name" : "precursorbattery", "count" : 1 },
                { "name" : "refinedviolium", "count" : 4 },
                { "name" : "moltencore", "count" : 2 }
            ],
            "prereq" : [ "fadesprint2" ],
            "recipeReq" : true,
            "item" : "fadesprint3_tech"
        },
        {
            "name" : "speedbootsweak",
            "recipe" : [
                { "name" : "techcard", "count" : 1 },
                { "name" : "livingroot", "count" : 12 },
                { "name" : "silverbar", "count" : 4 },
                { "name" : "ff_silicon", "count" : 2 }
            ],
            "prereq" : [ "dash" ],
            "recipeReq" : true,
            "item" : "speedbootsweak_tech"
        },
        {
            "name" : "speedboots",
            "recipe" : [
                { "name" : "techcard", "count" : 3 },
                { "name" : "liquidpoison", "count" : 12 },
                { "name" : "goldbar", "count" : 4 },
                { "name" : "tungstenbar", "count" : 4 }
            ],
            "prereq" : [ "speedbootsweak" ],
            "recipeReq" : true,
            "item" : "speedboots_tech"
        },
        {
            "name" : "speedboots2",
            "recipe" : [
                { "name" : "techcard", "count" : 5 },
                { "name" : "vialproto", "count" : 12 },
                { "name" : "protocitebar", "count" : 4 },
                { "name" : "zerchesiumbar", "count" : 4 }
            ],
            "prereq" : [ "speedboots" ],
            "recipeReq" : true,
            "item" : "speedboots2_tech"
        },
        {
            "name" : "speedboots3",
            "recipe" : [
                { "name" : "techcard", "count" : 7 },
                { "name" : "gene_agility", "count" : 8 },
                { "name" : "densiniumbar", "count" : 4 },
                { "name" : "tritaniumbar", "count" : 4 }
            ],
            "prereq" : [ "speedboots2" ],
            "recipeReq" : true,
            "item" : "speedboots3_tech"
        },
        {
            "name" : "speedbootsprecursor",
            "recipe" : [
                { "name" : "techcard", "count" : 7 },
                { "name" : "precursorfuelcell", "count" : 1 },
                { "name" : "precursorcore", "count" : 1 },
                { "name" : "precursorfluid", "count" : 2 }
            ],
            "prereq" : [ "speedboots3" ],
            "recipeReq" : true,
            "item" : "speedbootsprecursor_tech"
        },
        {
            "name" : "zeroburst",
            "recipe" : [
                { "name" : "techcard", "count" : 2 },
                { "name" : "biofuelcannister", "count" : 12 },
                { "name" : "goldbar", "count" : 4 },
                { "name" : "circuitboard", "count" : 2 }
            ],
            "prereq" : [ "dash" ],
            "recipeReq" : true,
            "item" : "zeroburst_tech"
        },
        {
            "name" : "zeroburst2",
            "recipe" : [
                { "name" : "techcard", "count" : 4 },
                { "name" : "ignuschiliseed", "count" : 3 },
                { "name" : "zerchesiumbar", "count" : 4 },
                { "name" : "solaricrystal", "count" : 4 }
            ],
            "prereq" : [ "zeroburst" ],
            "recipeReq" : true,
            "item" : "zeroburst2_tech"
        },
        {
            "name" : "zeroburst3",
            "recipe" : [
                { "name" : "techcard", "count" : 6 },
                { "name" : "hellfireplantseed", "count" : 3 },
                { "name" : "triangliumpyramid", "count" : 6 },
                { "name" : "moonstonebar", "count" : 12 }
            ],
            "prereq" : [ "zeroburst2" ],
            "recipeReq" : true,
            "item" : "zeroburst3_tech"
        },
        {
            "name" : "zeroburst4",
            "recipe" : [
                { "name" : "techcard", "count" : 8 },
                { "name" : "densiniumbar", "count" : 5 },
                { "name" : "morphiteore", "count" : 5 },
                { "name" : "pyreitebar", "count" : 4 }
            ],
            "prereq" : [ "zeroburst3" ],
            "recipeReq" : true,
            "item" : "zeroburst4_tech"
        },
        {
            "name" : "airdash2",
            "recipe" : [
                { "name" : "techcard", "count" : 6 },
                { "name" : "advcircuit", "count" : 2 },
                { "name" : "zerchesiumbar", "count" : 4 },
                { "name" : "triangliumpyramid", "count" : 4 }
            ],
            "prereq" : [ "airdash" ],
            "recipeReq" : true,
            "item" : "airdash2_tech"
        },

        {
            "name" : "armorsphere",
            "recipe" : [
                { "name" : "techcard", "count" : 4 },
                { "name" : "advcircuit", "count" : 2 },
                { "name" : "zerchesiumbar", "count" : 4 },
                { "name" : "carbonplate", "count" : 6 }
            ],
            "prereq" : [ "distortionsphere" ],
            "recipeReq" : true,
            "item" : "armorsphere_tech"
        },
        {
            "name" : "bouncesphere",
            "recipe" : [
                { "name" : "techcard", "count" : 4 },
                { "name" : "advcircuit", "count" : 2 },
                { "name" : "moonstonebar", "count" : 4 },
                { "name" : "carbonplate", "count" : 5 }
            ],
            "prereq" : [ "distortionsphere" ],
            "recipeReq" : true,
            "item" : "bouncesphere_tech"
        },
        {
            "name" : "distortionsphere2",
            "recipe" : [
                { "name" : "techcard", "count" : 4 },
                { "name" : "circuitboard", "count" : 2 },
                { "name" : "volatilepowder", "count" : 3 },
                { "name" : "goldbar", "count" : 2 }
            ],
            "prereq" : [ "distortionsphere" ],
            "recipeReq" : true,
            "item" : "distortionsphere2_tech"
        },
        {
            "name" : "funball",
            "recipe" : [
                { "name" : "techcard", "count" : 2 },
                { "name" : "advcircuit", "count" : 1 },
                { "name" : "morphiteore", "count" : 1 },
                { "name" : "ff_silicon", "count" : 8 }
            ],
            "prereq" : [ "distortionsphere" ],
            "recipeReq" : true,
            "item" : "funball_tech"
        },
        {
            "name" : "microsphere",
            "recipe" : [
                { "name" : "techcard", "count" : 5 },
                { "name" : "advcircuit", "count" : 4 },
                { "name" : "moonstonebar", "count" : 4 },
                { "name" : "triangliumpyramid", "count" : 4 }
            ],
            "prereq" : [ "distortionsphere2" ],
            "recipeReq" : true,
            "item" : "microsphere_tech"
        },
        {
            "name" : "microspherebomb",
            "recipe" : [
                { "name" : "techcard", "count" : 5 },
                { "name" : "advcircuit", "count" : 4 },
                { "name" : "carbonplate", "count" : 4 },
                { "name" : "triangliumpyramid", "count" : 4 }
            ],
            "prereq" : [ "microsphere" ],
            "recipeReq" : true,
            "item" : "microspherebomb_tech"
        },
        {
            "name" : "microspherespider",
            "recipe" : [
                { "name" : "techcard", "count" : 5 },
                { "name" : "electromagnet", "count" : 8 },
                { "name" : "quietusbar", "count" : 4 },
                { "name" : "triangliumpyramid", "count" : 4 }
            ],
            "prereq" : [ "microspherebomb" ],
            "recipeReq" : true,
            "item" : "microspherespider_tech"
        },

        {
            "name" : "fuwallcling",
            "recipe" : [
                { "name" : "techcard", "count" : 3 },
                { "name" : "electromagnet", "count" : 2 },
                { "name" : "tungstenbar", "count" : 4 }
            ],
            "prereq" : [ "doublejump" ],
            "recipeReq" : true,
            "item" : "fuwallcling_tech"
        },
        {
            "name" : "fuwallcling2",
            "recipe" : [
                { "name" : "techcard", "count" : 10 },
                { "name" : "unstableparticles", "count" : 2 },
                { "name" : "durasteelbar", "count" : 4 }
            ],
            "prereq" : [ "fuwallcling", "fuwalljump2" ],
            "recipeReq" : true,
            "item" : "fuwallcling2_tech"
        },
        {
            "name" : "fuwalljump",
            "recipe" : [
                { "name" : "techcard", "count" : 4 },
                { "name" : "electromagnet", "count" : 4 },
                { "name" : "zerchesiumbar", "count" : 4 },
                { "name" : "ff_silicon", "count" : 12 }
            ],
            "prereq" : [ "walljump", "fuwallcling" ],
            "recipeReq" : true,
            "item" : "fuwalljump_tech"
        },
        {
            "name" : "fuwalljump2",
            "recipe" : [
                { "name" : "techcard", "count" : 7 },
                { "name" : "electromagnet", "count" : 6 },
                { "name" : "refinedferozium", "count" : 4 },
                { "name" : "advancealloy", "count" : 4 }
            ],
            "prereq" : [ "fuwalljump" ],
            "recipeReq" : true,
            "item" : "fuwalljump2_tech"
        },
        {
            "name" : "fuwalljump3",
            "recipe" : [
                { "name" : "techcard", "count" : 12 },
                { "name" : "electromagnet", "count" : 12 },
                { "name" : "densiniumbar", "count" : 4 },
                { "name" : "irradiumbar", "count" : 4 }
            ],
            "prereq" : [ "fuwalljump2" ],
            "recipeReq" : true,
            "item" : "fuwalljump3_tech"
        },
        {
            "name" : "longjump",
            "recipe" : [
                { "name" : "techcard", "count" : 2 },
                { "name" : "graphene", "count" : 4 },
                { "name" : "dnasample", "count" : 2 },
                { "name" : "circuitboard", "count" : 3 }
            ],
            "prereq" : [ "doublejump" ],
            "recipeReq" : true,
            "item" : "longjump_tech"
        },
        {
            "name" : "longjump2",
            "recipe" : [
                { "name" : "techcard", "count" : 4 },
                { "name" : "graphene", "count" : 4 },
                { "name" : "triangliumpyramid", "count" : 4 },
                { "name" : "aichip", "count" : 4 }
            ],
            "prereq" : [ "longjump" ],
            "recipeReq" : true,
            "item" : "longjump2_tech"
        },
        {
            "name" : "longjump3",
            "recipe" : [
                { "name" : "techcard", "count" : 5 },
                { "name" : "nuclearcore", "count" : 1 },
                { "name" : "morphiteore", "count" : 6 },
                { "name" : "aichip", "count" : 4 }
            ],
            "prereq" : [ "longjump2" ],
            "recipeReq" : true,
            "item" : "longjump3_tech"
        },
        {
            "name" : "longjump4",
            "recipe" : [
                { "name" : "techcard", "count" : 7 },
                { "name" : "precursorfluid", "count" : 5 },
                { "name" : "exoticmatter", "count" : 4 },
                { "name" : "precursorcharger", "count" : 4 }
            ],
            "prereq" : [ "longjump3" ],
            "recipeReq" : true,
            "item" : "longjump4_tech"
        },
        {
            "name" : "quadjump",
            "recipe" : [
                { "name" : "techcard", "count" : 8 },
                { "name" : "elderrelic1", "count" : 1 },
                { "name" : "moonstonebar", "count" : 15 },
                { "name" : "aichip", "count" : 5 }
            ],
            "prereq" : [ "multijump" ],
            "recipeReq" : true,
            "item" : "quadjump_tech"
        },
        {
            "name" : "quintjump",
            "recipe" : [
                { "name" : "techcard", "count" : 10 },
                { "name" : "densealloy", "count" : 5 },
                { "name" : "nocxiumbar", "count" : 5 },
                { "name" : "elderrelic4", "count" : 3 }
            ],
            "prereq" : [ "quadjump" ],
            "recipeReq" : true,
            "item" : "quintjump_tech"
        },
        {
            "name" : "rocketboots",
            "recipe" : [
                { "name" : "techcard", "count" : 12 },
                { "name" : "morphiteore", "count" : 6 },
                { "name" : "volatilepowder", "count" : 20 },
                { "name" : "advancealloy", "count" : 6 }
            ],
            "prereq" : [ "doublejump" ],
            "recipeReq" : true,
            "item" : "rocketboots_tech"
        },

        {
            "name" : "emergencybounce",
            "recipe" : [
                { "name" : "techcard", "count" : 8 },
                { "name" : "corefragmentore", "count" : 4 },
                { "name" : "circuitboard", "count" : 2 },
                { "name" : "hardenedcarapace", "count" : 4 }
            ],
            "prereq" : [ "distortionsphere" ],
            "recipeReq" : true,
            "item" : "emergencybounce_tech"
        },
        {
            "name" : "powerboost",
            "recipe" : [
                { "name" : "techcard", "count" : 6 },
                { "name" : "advcircuit", "count" : 2 },
                { "name" : "gene_stealth", "count" : 5 },
                { "name" : "moonstonebar", "count" : 6 }
            ],
            "prereq" : [ "distortionsphere" ],
            "recipeReq" : true,
            "item" : "phaseattack_tech"
        },
        {
            "name" : "physicsfield",
            "recipe" : [
                { "name" : "techcard", "count" : 2 },
                { "name" : "advcircuit", "count" : 2 },
                { "name" : "electromagnet", "count" : 2 },
                { "name" : "moonstonebar", "count" : 2 }
            ],
            "prereq" : [ "distortionsphere" ],
            "recipeReq" : true,
            "item" : "physicsfield_tech"
        },
        {
            "name" : "physicsfield2",
            "recipe" : [
                { "name" : "techcard", "count" : 6 },
                { "name" : "teleportercore", "count" : 2 },
                { "name" : "electromagnet", "count" : 2 },
                { "name" : "durasteelbar", "count" : 4 }
            ],
            "prereq" : [ "physicsfield" ],
            "recipeReq" : true,
            "item" : "physicsfield2_tech"
        },
        {
            "name" : "physicsfield3",
            "recipe" : [
                { "name" : "techcard", "count" : 8 },
                { "name" : "nocxiumbar", "count" : 12 },
                { "name" : "triangliumpyramid", "count" : 20 },
                { "name" : "teleportercore", "count" : 4 }
            ],
            "prereq" : [ "physicsfield2_tech" ],
            "recipeReq" : true,
            "item" : "physicsfield3_tech"
        },
        {
            "name" : "screwattack",
            "recipe" : [
                { "name" : "techcard", "count" : 12 },
                { "name" : "durasteelbar", "count" : 5 },
                { "name" : "triangliumpyramid", "count" : 20 },
                { "name" : "teleportercore", "count" : 4 }
            ],
            "prereq" : [ "multijump" ],
            "recipeReq" : true,
            "item" : "screwattack_tech"
        }        
    ]
}
