{
	"pieces": {
		"fullShadow": {
			"texture": "/tiles/shadows.png",
			"textureSize": [8, 8],
			"texturePosition": [64, 0]
		},
		"topShadow": {
			"texture": "/tiles/shadows.png",
			"textureSize": [8, 8],
			"texturePosition": [0, 0]
		},
		"leftShadow": {
			"texture": "/tiles/shadows.png",
			"textureSize": [8, 8],
			"texturePosition": [8, 0]
		},
		"bottomShadow": {
			"texture": "/tiles/shadows.png",
			"textureSize": [8, 8],
			"texturePosition": [16, 0]
		},
		"rightShadow": {
			"texture": "/tiles/shadows.png",
			"textureSize": [8, 8],
			"texturePosition": [24, 0]
		},
		"topLeftShadow": {
			"texture": "/tiles/shadows.png",
			"textureSize": [8, 8],
			"texturePosition": [32, 0]
		},
		"topRightShadow": {
			"texture": "/tiles/shadows.png",
			"textureSize": [8, 8],
			"texturePosition": [40, 0]
		},
		"bottomLeftShadow": {
			"texture": "/tiles/shadows.png",
			"textureSize": [8, 8],
			"texturePosition": [48, 0]
		},
		"bottomRightShadow": {
			"texture": "/tiles/shadows.png",
			"textureSize": [8, 8],
			"texturePosition": [56, 0]
		},

		"hori": {
			"textureSize": [8, 12],
			"texturePosition": [36, 0],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"vert": {
			"textureSize": [12, 8],
			"texturePosition": [44, 2],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		// corners
		"NW": {
			"textureSize": [12, 12],
			"texturePosition": [0, 0],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"N": {
			"textureSize": [12, 12],
			"texturePosition": [12, 0],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"NE": {
			"textureSize": [12, 12],
			"texturePosition": [24, 0],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"W": {
			"textureSize": [12, 12],
			"texturePosition": [0, 12],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"C": {
			"textureSize": [12, 12],
			"texturePosition": [12, 12],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"E": {
			"textureSize": [12, 12],
			"texturePosition": [24, 12],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"SW": {
			"textureSize": [12, 12],
			"texturePosition": [0, 24],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"S": {
			"textureSize": [12, 12],
			"texturePosition": [12, 24],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"SE": {
			"textureSize": [12, 12],
			"texturePosition": [24, 24],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"diagR": {
			"textureSize": [15, 15],
			"texturePosition": [56, 0],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"diagL": {
			"textureSize": [15, 15],
			"texturePosition": [71, 0],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"diagCross": {
			"textureSize": [16, 16],
			"texturePosition": [64, 64],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		// 45 begree bends, counting clockwise around an octogon, starting from the top.
		"bend1": {
			"textureSize": [12, 12],
			"texturePosition": [61, 17],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"bend2": {
			"textureSize": [12, 12],
			"texturePosition": [73, 17],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"bend3": {
			"textureSize": [12, 12],
			"texturePosition": [73, 29],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"bend4": {
			"textureSize": [12, 12],
			"texturePosition": [61, 29],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"bend5": {
			"textureSize": [12, 12],
			"texturePosition": [49, 29],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"bend6": {
			"textureSize": [12, 12],
			"texturePosition": [37, 29],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"bend7": {
			"textureSize": [12, 12],
			"texturePosition": [37, 17],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"bend8": {
			"textureSize": [12, 12],
			"texturePosition": [49, 17],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		// diagonal elbows.
		"elbowUp": {
			"textureSize": [14, 12],
			"texturePosition": [1, 52],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"elbowRight": {
			"textureSize": [12, 14],
			"texturePosition": [1, 37],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"elbowDown": {
			"textureSize": [14, 12],
			"texturePosition": [16, 52],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"elbowLeft": {
			"textureSize": [12, 14],
			"texturePosition": [15, 37],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},

		// straight Y joints
		"yUp": {
			"textureSize": [14, 12],
			"texturePosition": [33, 40],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"yRight": {
			"textureSize": [12, 14],
			"texturePosition": [60, 45],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"yDown": {
			"textureSize": [14, 12],
			"texturePosition": [33, 52],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"yLeft": {
			"textureSize": [12, 14],
			"texturePosition": [48, 45],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		// diagonal Y joints
		"yNW": {
			"textureSize": [12, 12],
			"texturePosition": [72, 40],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"yNE": {
			"textureSize": [12, 12],
			"texturePosition": [84, 40],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"ySE": {
			"textureSize": [12, 12],
			"texturePosition": [84, 52],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"ySW": {
			"textureSize": [12, 12],
			"texturePosition": [72, 52],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		// diagonal T joints
		"tNW": {
			"textureSize": [16, 16],
			"texturePosition": [0, 64],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"tNE": {
			"textureSize": [16, 16],
			"texturePosition": [16, 64],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"tSE": {
			"textureSize": [16, 16],
			"texturePosition": [32, 64],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"tSW": {
			"textureSize": [16, 16],
			"texturePosition": [48, 64],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},

		// pipe ends.
		"capN": {
			"textureSize": [10, 4],
			"texturePosition": [101, 0],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"capS": {
			"textureSize": [10, 4],
			"texturePosition": [101, 4],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"capW": {
			"textureSize": [4, 10],
			"texturePosition": [104, 9],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"capE": {
			"textureSize": [4, 10],
			"texturePosition": [108, 9],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"capDiagUL": {
			"textureSize": [10, 10],
			"texturePosition": [96, 32],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"capDiagUR": {
			"textureSize": [10, 10],
			"texturePosition": [102, 22],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"capDiagLR": {
			"textureSize": [10, 10],
			"texturePosition": [102, 38],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"capDiagLL": {
			"textureSize": [10, 10],
			"texturePosition": [86, 30],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		// pipe ends with options for variations
		"diagL8x8": {
			"textureSize": [8, 8],
			"texturePosition": [75, 4],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"diagR8x8": {
			"textureSize": [8, 8],
			"texturePosition": [59, 4],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"vertHalfTop": {
			"textureSize": [12, 4],
			"texturePosition": [80, 72],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"vertHalfBottom": {
			"textureSize": [12, 4],
			"texturePosition": [80, 68],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"horiHalfLeft": {
			"textureSize": [4, 12],
			"texturePosition": [104, 48],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"horiHalfRight": {
			"textureSize": [4, 12],
			"texturePosition": [100, 48],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"horiEndLeft": {
			"textureSize": [4, 12],
			"texturePosition": [96, 48],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"horiEndRight": {
			"textureSize": [4, 12],
			"texturePosition": [108, 48],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"vertEndTop": {
			"textureSize": [12, 4],
			"texturePosition": [80, 64],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"vertEndBottom": {
			"textureSize": [12, 4],
			"texturePosition": [80, 76],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"diagHalfUL": {
			"textureSize": [10, 10],
			"texturePosition": [86, 0],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"diagHalfLR": {
			"textureSize": [10, 10],
			"texturePosition": [91, 5],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"diagHalfUR": {
			"textureSize": [10, 10],
			"texturePosition": [91, 15],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"diagHalfLL": {
			"textureSize": [10, 10],
			"texturePosition": [86, 20],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"diagEndUL": {
			"textureSize": [9, 9],
			"texturePosition": [93, 61],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"diagEndUR": {
			"textureSize": [9, 9],
			"texturePosition": [103, 61],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"diagEndLL": {
			"textureSize": [9, 9],
			"texturePosition": [93, 71],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"diagEndLR": {
			"textureSize": [9, 9],
			"texturePosition": [103, 71],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		// diagonal quadrants for stitching in gaps
		"quadDiagL1": {
			"textureSize": [5, 3],
			"texturePosition": [75, 1],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"quadDiagL2": {
			"textureSize": [2, 4],
			"texturePosition": [83, 7],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"quadDiagL3": {
			"textureSize": [4, 2],
			"texturePosition": [78, 12],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"quadDiagL4": {
			"textureSize": [3, 5],
			"texturePosition": [72, 4],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"quadDiagR1": {
			"textureSize": [5, 3],
			"texturePosition": [62, 1],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"quadDiagR2": {
			"textureSize": [3, 5],
			"texturePosition": [67, 4],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"quadDiagR3": {
			"textureSize": [4, 2],
			"texturePosition": [60, 12],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"quadDiagR4": {
			"textureSize": [2, 4],
			"texturePosition": [57, 7],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		// bg plugs for 90 degree angles
		"bgNW": {
			"textureSize": [4, 4],
			"texturePosition": [45, 12],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"bgNE": {
			"textureSize": [4, 4],
			"texturePosition": [49, 12],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"bgSW": {
			"textureSize": [4, 4],
			"texturePosition": [37, 12],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},
		"bgSE": {
			"textureSize": [4, 4],
			"texturePosition": [41, 12],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		},

		"icon": {
			"textureSize": [8, 8],
			"texturePosition": [68, 36],
			"colorStride": [0, 80],
			"variantStride": [112, 0]
		}
	},

	"representativePiece": "icon",

	"rules": {
		"EqualsSelf": {
			"entries": [
				{
					"type": "EqualsSelf"
				}
			]
		},
		"IsWidget": {
			"entries": [
				{
					"type": "EqualsId",
					"id": 6821
				}
			]
		},
		"IsNotWidget": {
			"entries": [
				{
					"type": "EqualsId",
					"id": 6821,
					"inverse": true
				}
			]
		},
		"NotEqualsSelf": {
			"entries": [
				{
					"type": "EqualsSelf",
					"inverse": true
				}
			]
		},
		"Connects": {
			"entries": [
				{
					"type": "Connects"
				}
			]
		},
		"Empty": {
			"entries": [
				{
					"type": "Connects",
					"inverse": true
				}
			]
		},
		"Shadows": {
			"entries": [
				{
					"type": "Shadows"
				}
			]
		},
		"NotShadows": {
			"entries": [{
					"type": "Shadows",
					"inverse": true
				}
			]
		}
	},
	"matches": [
		["main", [
			{
					"subMatches": [
						// is it all alone?
						{
							"matchAllPoints": [
								[[0, 1], "NotEqualsSelf"],
								[[1, 1], "NotEqualsSelf"],
								[[1, 0], "NotEqualsSelf"],
								[[1, -1], "NotEqualsSelf"],
								[[0, -1], "NotEqualsSelf"],
								[[-1, -1], "NotEqualsSelf"],
								[[-1, 0], "NotEqualsSelf"],
								[[-1, 1], "NotEqualsSelf"]
							],
							"haltOnMatch": true,
							"subMatches": [
								{
									"matchAnyPoints": [
										[[1, 0], "IsWidget"],
										[[-1, 0], "IsWidget"]
									],
									"subMatches": [
										{
										"matchAllPoints": [
											[[1, 0], "IsWidget"]
										],
										"pieces": [["horiHalfLeft", [0, -2]], ["horiEndRight", [4, -2]]]
										},
										{
										"matchAllPoints": [
											[[-1, 0], "IsWidget"]
										],
										"pieces": [["horiHalfRight", [4, -2]], ["horiEndLeft", [0, -2]]]
										}
									]
								},
								{
									"matchAllPoints": [
										[[1, 0], "IsNotWidget"],
										[[-1, 0], "IsNotWidget"]
									],
									"pieces": [["hori", [0, -2]]]
								},
								{
									"matchAllPoints": [
										[[1, 0], "Empty"]
									],
									"pieces": [["capE", [8, -1]]]
								},
								{
									"matchAllPoints": [
										[[-1, 0], "Empty"]
									],
									"pieces": [["capW", [-4, -1]]]
								}
							]
						},
						// diagonal left pipe and extras
						{
							"matchAllPoints": [
								[[0, 1], "NotEqualsSelf"],
								[[1, 1], "NotEqualsSelf"],
								[[1, 0], "NotEqualsSelf"],
								[[0, -1], "NotEqualsSelf"],
								[[-1, 0], "NotEqualsSelf"]
							],
							"subMatches": [
								{
									"matchAllPoints": [
										[[-1, -1], "NotEqualsSelf"]
									],
									"haltOnMatch": true,
									"haltOnSubMatch": true,
									"subMatches": [
										{
											"matchAllPoints": [
												[[-1, 1], "IsWidget"]
											],
											"haltOnMatch": true,
											"pieces": [["diagHalfLR", [1, -3]], ["diagEndUL", [-3, 2]]]
										},
										{
											"matchAllPoints": [
												[[-1, 1], "Empty"]
											],
											"haltOnMatch": true,
											"pieces": [["diagL", [-4, -3]], ["capDiagUL", [-6, 4]]]
										},
										{
											"matchAllPoints": [
												[[1, -1], "IsWidget"]
											],
											"haltOnMatch": true,
											"pieces": [["diagHalfUL", [-4, 2]], ["diagEndLR", [1, -2]]]
										},
										{
											"matchAllPoints": [
												[[1, -1], "Empty"]
											],
											"haltOnMatch": true,
											"pieces": [["diagL", [-4, -3]], ["capDiagLR", [4, -6]]]
										},
										{
											"subMatches": [
												{
													"matchAllPoints": [
														[[1, -1], "NotEqualsSelf"]
													],
													"haltOnMatch": true,
													"subMatches": [
														{
															"matchAllPoints": [
																[[1, 0], "Empty"]
															],
															"pieces": [["quadDiagL2", [8, 1]], ["quadDiagL1", [8, 0]]]
														},
														{
															"matchAllPoints": [
																[[0, -1], "Empty"]
															],
															"pieces": [["quadDiagL3", [3, -2]], ["quadDiagL4", [5, -5]]]
														},
														{
															"pieces": [["diagL8x8", [0, 0]], ["quadDiagL1", [0, 8]], ["quadDiagL4", [-3, 3]]]
														}
													]
												},
												{
													"matchAllPoints": [
														[[-1, 1], "NotEqualsSelf"]
													],
													"haltOnMatch": true,
													"subMatches": [
														{
															"matchAllPoints": [
																[[-1, 0], "Empty"]
															],
															"pieces": [["quadDiagL3", [-5, 6]], ["quadDiagL4", [-3, 3]]]
														},
														{
															"matchAllPoints": [
																[[0, 1], "Empty"]
															],
															"pieces": [["quadDiagL1", [0, 8]], ["quadDiagL2", [0, 9]]]
														},
														{
															"pieces": [["diagL8x8", [0, 0]], ["quadDiagL2", [8, 1]], ["quadDiagL3", [3, -2]]]
														}
													]
												},
												{
													"pieces": [["diagL", [-4, -3]]]
												}
											]
										}
									]
								},
								// T SW
								{
									"matchAllPoints": [
										[[-1, 1], "EqualsSelf"],
										[[1, -1], "EqualsSelf"],
										[[-1, -1], "EqualsSelf"]
									],
									"haltOnMatch": true,
									"pieces": [["tSW", [-4, -4]]]
								},
								// elbow up
								{
									"matchAllPoints": [
										[[1, -1], "EqualsSelf"],
										[[-1, -1], "EqualsSelf"]
									],
									"haltOnMatch": true,
									"pieces": [["elbowUp", [-3, -3]]]
								},
								// elbow right
								{
									"matchAllPoints": [
										[[-1, 1], "EqualsSelf"],
										[[-1, -1], "EqualsSelf"]
									],
									"haltOnMatch": true,
									"pieces": [["elbowRight", [-3, -3]]]
								}
							]
						},
						// diagonal right pipe and extras
						{
						"matchAllPoints": [
							[[0, 1], "NotEqualsSelf"],
							[[1, -1], "NotEqualsSelf"],
							[[1, 0], "NotEqualsSelf"],
							[[0, -1], "NotEqualsSelf"],
							[[-1, 0], "NotEqualsSelf"]
						],
						"subMatches": [
						    {
							"matchAnyPoints": [
								[[-1, 1], "NotEqualsSelf"]
							],
							"haltOnMatch": true,
							"subMatches": [
								{
									"matchAllPoints": [
										[[1, 1], "IsWidget"]
									],
									"haltOnMatch": true,
									"pieces": [["diagHalfLL", [-3, -3]], ["diagEndUR", [2, 2]]]
								},
								{
									"matchAllPoints": [
										[[1, 1], "Empty"]
									],
									"haltOnMatch": true,
									"pieces": [["diagR", [-3, -3]], ["capDiagUR", [4, 4]]]
								},
								{
									"matchAllPoints": [
										[[-1, -1], "IsWidget"]
									],
									"haltOnMatch": true,
									"pieces": [["diagHalfUR", [2, 2]], ["diagEndLL", [-2, -2]]]
								},
								{
									"matchAllPoints": [
										[[-1, -1], "Empty"]
									],
									"haltOnMatch": true,
									"pieces": [["diagR", [-3, -3]], ["capDiagLL", [-6, -6]]]
								},
								{
									"subMatches": [
										{
											"matchAllPoints": [
												[[1, 1], "NotEqualsSelf"]
											],
											"haltOnMatch": true,
											"subMatches": [
												{
													"matchAllPoints": [
														[[0, 1], "Empty"]
													],
													"pieces": [["quadDiagR1", [3, 8]], ["quadDiagR4", [6, 9]]]
												},
												{
													"matchAllPoints": [
														[[1, 0], "Empty"]
													],
													"pieces": [["quadDiagR2", [8, 3]], ["quadDiagR3", [9, 6]]]
												},
												{
													"pieces": [["diagR8x8", [0, 0]], ["quadDiagR3", [1, -2]], ["quadDiagR4", [-2, 1]]]
												}
											]
										},
										{
											"matchAllPoints": [
												[[-1, -1], "NotEqualsSelf"]
											],
											"haltOnMatch": true,
											"subMatches": [
												{
													"matchAllPoints": [
														[[0, -1], "Empty"]
												],
												"pieces": [["quadDiagR3", [1, -2]], ["quadDiagR2", [0, -5]]]
												},
												{
													"matchAllPoints": [
														[[-1, 0], "Empty"]
													],
													"pieces": [["quadDiagR4", [-2, 1]], ["quadDiagR1", [-5, 0]]]
												},
												{
													"pieces": [["diagR8x8", [0, 0]], ["quadDiagR1", [3, 8]], ["quadDiagR2", [8, 3]]]
												}
											]
										},
										{
											"pieces": [["diagR", [-3, -3]]]
										}
									]
								}
							  ]
						    },
							// T NW
							{
								"matchAllPoints": [
									[[-1, 1], "EqualsSelf"],
									[[1, 1], "EqualsSelf"],
									[[-1, -1], "EqualsSelf"]
								],
								"haltOnMatch": true,
								"pieces": [["tNW", [-4, -4]]]
							},
							// elbow down
							{
								"matchAllPoints": [
									[[-1, 1], "EqualsSelf"],
									[[1, 1], "EqualsSelf"]
								],
								"haltOnMatch": true,
								"pieces": [["elbowDown", [-3, -1]]]
							}
						  ]
						},
						// leftover diagonal pipes
						{
							"matchAllPoints": [
								[[0, 1], "NotEqualsSelf"],
								[[1, 0], "NotEqualsSelf"],
								[[0, -1], "NotEqualsSelf"],
								[[-1, 0], "NotEqualsSelf"]
							],
							"haltOnMatch": true,
							"subMatches": [

								// diagonal crosspiece
								{
									"matchAllPoints": [
										[[-1, 1], "EqualsSelf"],
										[[1, 1], "EqualsSelf"],
										[[1, -1], "EqualsSelf"],
										[[-1, -1], "EqualsSelf"]
									],
									"haltOnMatch": true,
									"pieces": [["diagCross", [-4, -4]]]
								},
								// T NE
								{
									"matchAllPoints": [
										[[-1, 1], "EqualsSelf"],
										[[1, 1], "EqualsSelf"],
										[[1, -1], "EqualsSelf"]
									],
									"haltOnMatch": true,
									"pieces": [["tNE", [-4, -4]]]
								},
								// T SE
								{
									"matchAllPoints": [
										[[1, 1], "EqualsSelf"],
										[[1, -1], "EqualsSelf"],
										[[-1, -1], "EqualsSelf"]
									],
									"haltOnMatch": true,
									"pieces": [["tSE", [-4, -4]]]
								},
								// elbow left
								{
									"matchAllPoints": [
										[[1, 1], "EqualsSelf"],
										[[1, -1], "EqualsSelf"]
									],
									"haltOnMatch": true,
									"pieces": [["elbowLeft", [-1, -3]]]
								}
							]
						},

						// upper vertical bends and Ys
						{
							"matchAllPoints": [
								[[0, 1], "NotEqualsSelf"],
								[[1, 0], "NotEqualsSelf"],
								[[0, -1], "EqualsSelf"],
								[[-1, 0], "NotEqualsSelf"]
							],
							"haltOnMatch": true,
							"subMatches": [{
									"matchAllPoints": [
										[[1, 1], "NotEqualsSelf"],
										[[-1, 1], "NotEqualsSelf"],
										[[0, 1], "Empty"]
									],
									"haltOnMatch": true,
									"pieces": [["vert", [-2, 0]], ["capN", [-1, 8]]]
								},
								{
										"matchAllPoints": [
											[[1, 1], "NotEqualsSelf"],
											[[-1, 1], "NotEqualsSelf"],
											[[0, 1], "IsWidget"]
										],
										"haltOnMatch": true,
										"pieces": [["vertHalfBottom", [-2, 0]], ["vertEndTop", [-2, 4]]]
								},
								{
									"matchAllPoints": [
										[[1, 1], "NotEqualsSelf"],
										[[-1, 1], "EqualsSelf"]
									],
									"haltOnMatch": true,
									"pieces": [["bend2", [-3, 0]]]
								},
								{
									"matchAllPoints": [
										[[1, 1], "EqualsSelf"],
										[[-1, 1], "NotEqualsSelf"]
									],
									"haltOnMatch": true,
									"pieces": [["bend7", [-1, 0]]]
								},
								{
									"matchAllPoints": [
										[[1, 1], "EqualsSelf"],
										[[-1, 1], "EqualsSelf"]
									],
									"haltOnMatch": true,
									"pieces": [["yUp", [-3, 0]]]
								},
								{
									"pieces": [["vert", [-2, 0]]]
								}
							]
						},

						// right horizontal bends and Ys
						{
							"matchAllPoints": [
								[[0, 1], "NotEqualsSelf"],
								[[1, 0], "NotEqualsSelf"],
								[[0, -1], "NotEqualsSelf"],
								[[-1, 0], "EqualsSelf"]
							],
							"haltOnMatch": true,
							"subMatches": [{
									"matchAllPoints": [
										[[1, 1], "NotEqualsSelf"],
										[[1, -1], "NotEqualsSelf"],
										[[1, 0], "Empty"]
									],
									"haltOnMatch": true,
									"pieces": [["hori", [0, -2]], ["capE", [8, -1]]]
								},
								{
										"matchAllPoints": [
											[[1, 1], "NotEqualsSelf"],
											[[1, -1], "NotEqualsSelf"],
											[[1, 0], "IsWidget"]
										],
										"haltOnMatch": true,
										"pieces": [["horiHalfLeft", [0, -2]], ["horiEndRight", [4, -2]]]
								},
								{
									"matchAllPoints": [
										[[1, 1], "NotEqualsSelf"],
										[[1, -1], "EqualsSelf"]
									],
									"haltOnMatch": true,
									"pieces": [["bend1", [0, -3]]]
								},
								{
									"matchAllPoints": [
										[[1, 1], "EqualsSelf"],
										[[1, -1], "NotEqualsSelf"]
									],
									"haltOnMatch": true,
									"pieces": [["bend4", [0, -1]]]
								},
								{
									"matchAllPoints": [
										[[1, 1], "EqualsSelf"],
										[[1, -1], "EqualsSelf"]
									],
									"haltOnMatch": true,
									"pieces": [["yRight", [0, -3]]]
								},
								{
								"pieces": [["hori", [0, -2]]]
								}
							]
						},

						// bottom vertical bends and Ys
						{
							"matchAllPoints": [
								[[0, 1], "EqualsSelf"],
								[[1, 0], "NotEqualsSelf"],
								[[0, -1], "NotEqualsSelf"],
								[[-1, 0], "NotEqualsSelf"]
							],
							"haltOnMatch": true,
							"subMatches": [{
									"matchAllPoints": [
										[[1, -1], "NotEqualsSelf"],
										[[-1, -1], "NotEqualsSelf"],
										[[0, -1], "Empty"]
									],
									"haltOnMatch": true,
									"pieces": [["vert", [-2, 0]], ["capS", [-1, -4]]]
								},
								{
										"matchAllPoints": [
											[[1, -1], "NotEqualsSelf"],
											[[-1, -1], "NotEqualsSelf"],
											[[0, -1], "IsWidget"]
										],
										"haltOnMatch": true,
										"pieces": [["vertHalfTop", [-2, 4]], ["vertEndBottom", [-2, 0]]]
								},
								{
									"matchAllPoints": [
										[[1, -1], "EqualsSelf"],
										[[-1, -1], "NotEqualsSelf"]
									],
									"haltOnMatch": true,
									"pieces": [["bend6", [-1, -4]]]
								},
								{
									"matchAllPoints": [
										[[1, -1], "NotEqualsSelf"],
										[[-1, -1], "EqualsSelf"]
									],
									"haltOnMatch": true,
									"pieces": [["bend3", [-3, -4]]]
								},
								{
									"matchAllPoints": [
										[[1, -1], "EqualsSelf"],
										[[-1, -1], "EqualsSelf"]
									],
									"haltOnMatch": true,
									"pieces": [["yDown", [-3, -4]]]
								},
								{
									"pieces": [["vert", [-2, 0]]]
								}
							]
						},

						// left horizontal bends and Ys
						{
							"matchAllPoints": [
								[[0, 1], "NotEqualsSelf"],
								[[1, 0], "EqualsSelf"],
								[[0, -1], "NotEqualsSelf"],
								[[-1, 0], "NotEqualsSelf"]
							],
							"haltOnMatch": true,
							"subMatches": [{
									"matchAllPoints": [
										[[-1, 1], "NotEqualsSelf"],
										[[-1, -1], "NotEqualsSelf"],
										[[-1, 0], "Empty"]
									],
									"haltOnMatch": true,
									"pieces": [["hori", [0, -2]], ["capW", [-4, -1]]]
								},
								{
										"matchAllPoints": [
											[[-1, 1], "NotEqualsSelf"],
											[[-1, -1], "NotEqualsSelf"],
											[[-1, 0], "IsWidget"]
										],
										"haltOnMatch": true,
										"pieces": [["horiHalfRight", [4, -2]], ["horiEndLeft", [0, -2]]]
								},
								{
									"matchAllPoints": [
										[[-1, 1], "NotEqualsSelf"],
										[[-1, -1], "EqualsSelf"]
									],
									"haltOnMatch": true,
									"pieces": [["bend8", [-4, -3]]]
								}, {
									"matchAllPoints": [
										[[-1, 1], "EqualsSelf"],
										[[-1, -1], "NotEqualsSelf"]
									],
									"haltOnMatch": true,
									"pieces": [["bend5", [-4, -1]]]
								}, {
									"matchAllPoints": [
										[[-1, 1], "EqualsSelf"],
										[[-1, -1], "EqualsSelf"]
									],
									"haltOnMatch": true,
									"pieces": [["yLeft", [-4, -3]]]
								},
								{
								"pieces": [["hori", [0, -2]]]
								}
							]
						},

						// vertical
						{
							"matchAllPoints": [
								[[1, 0], "NotEqualsSelf"],
								[[-1, 0], "NotEqualsSelf"]
							],
							"haltOnMatch": true,
							"subMatches": [{
									"matchAnyPoints": [
										[[0, 1], "EqualsSelf"],
										[[0, -1], "EqualsSelf"]
									],
									"haltOnMatch": true,
									"pieces": [["vert", [-2, 0]]]
								}
							]
						},

						// horizontal
						{
							"matchAllPoints": [
								[[0, 1], "NotEqualsSelf"],
								[[0, -1], "NotEqualsSelf"]
							],
							"haltOnMatch": true,
							"subMatches": [{
									"matchAnyPoints": [
										[[1, 0], "EqualsSelf"],
										[[-1, 0], "EqualsSelf"]
									],
									"pieces": [["hori", [0, -2]]]
								}
							]
						},

						// upper corners
						{
							"matchAllPoints": [
								[[0, 1], "NotEqualsSelf"]
							],
							"haltOnMatch": true,
							"subMatches": [{
									"matchAllPoints": [
										[[-1, 0], "NotEqualsSelf"]
									],
									"haltOnSubMatch": true,
									"subMatches": [{
											"matchAllPoints": [
												[[-1, 1], "EqualsSelf"]
											],
											"haltOnMatch": true,
											"pieces": [["yNW", [-4, 0]]]
										}, {
											"requiredLayer": "foreground",
											"haltOnMatch": true,
											"pieces": [["NW", [-2, -2]]]
										}, {
											"pieces": [["NW", [-2, -2]], ["bgNW", [0, 4]]]
										}
									]
								}, {
									"matchAllPoints": [
										[[1, 0], "NotEqualsSelf"]
									],
									"haltOnSubMatch": true,
									"subMatches": [{
											"matchAllPoints": [
												[[1, 1], "EqualsSelf"]
											],
											"haltOnMatch": true,
											"pieces": [["yNE", [0, 0]]]
										}, {
											"requiredLayer": "foreground",
											"haltOnMatch": true,
											"pieces": [["NE", [-2, -2]]]
										}, {
											"pieces": [["NE", [-2, -2]], ["bgNE", [4, 4]]]
										}
									]
								}, {
									"pieces": [["N", [-2, -2]]]
								}
							]
						},

						// lower corners
						{
							"matchAllPoints": [
								[[0, -1], "NotEqualsSelf"]
							],
							"haltOnMatch": true,
							"subMatches": [{
									"matchAllPoints": [
										[[-1, 0], "NotEqualsSelf"]
									],
									"haltOnSubMatch": true,
									"subMatches": [{
											"matchAllPoints": [
												[[-1, -1], "EqualsSelf"]
											],
											"haltOnMatch": true,
											"pieces": [["ySW", [-4, -4]]]
										}, {
											"requiredLayer": "foreground",
											"haltOnMatch": true,
											"pieces": [["SW", [-2, -2]]]
										}, {
											"pieces": [["SW", [-2, -2]], ["bgSW", [0, 0]]]
										}
									]
								}, {
									"matchAllPoints": [
										[[1, 0], "NotEqualsSelf"]
									],
									"haltOnSubMatch": true,
									"subMatches": [{
											"matchAllPoints": [
												[[1, -1], "EqualsSelf"]
											],
											"haltOnMatch": true,
											"pieces": [["ySE", [0, -4]]]
										}, {
											"requiredLayer": "foreground",
											"haltOnMatch": true,
											"pieces": [["SE", [-2, -2]]]
										}, {
											"pieces": [["SE", [-2, -2]], ["bgSE", [4, 0]]]
										}
									]
								}, {
									"pieces": [["S", [-2, -2]]]
								}
							]
						},

						// plus plus
						{
							"matchAllPoints": [
								[[1, 0], "EqualsSelf"],
								[[-1, 0], "EqualsSelf"],
								[[0, 1], "EqualsSelf"],
								[[0, -1], "EqualsSelf"]
							],
							"haltOnMatch": true,
							"pieces": [["C", [-2, -2]]]
						},

						// extra T's
						{
							"matchAllPoints": [
								[[1, 0], "EqualsSelf"]
							],
							"haltOnMatch": true,
							"pieces": [["W", [-2, -2]]]
						}, {
							"matchAllPoints": [
								[[-1, 0], "EqualsSelf"]
							],
							"pieces": [["E", [-2, -2]]]
						}
					]
				},

				// SHADOWS
				{
					"matchAllPoints": [[[0, 0], "Shadows"]],
					"pieces": [["fullShadow", [0, 0]]]
				}, {
					"matchAllPoints": [[[0, 1], "Shadows"]],
					"pieces": [["topShadow", [0, 0]]]
				}, {
					"matchAllPoints": [[[-1, 0], "Shadows"]],
					"pieces": [["leftShadow", [0, 0]]]
				}, {
					"matchAllPoints": [[[0, -1], "Shadows"]],
					"pieces": [["bottomShadow", [0, 0]]]
				}, {
					"matchAllPoints": [[[1, 0], "Shadows"]],
					"pieces": [["rightShadow", [0, 0]]]
				}, {
					"matchAllPoints": [[[-1, 1], "Shadows"], [[0, 1], "NotShadows"], [[-1, 0], "NotShadows"]],
					"pieces": [["topLeftShadow", [0, 0]]]
				}, {
					"matchAllPoints": [[[1, 1], "Shadows"], [[0, 1], "NotShadows"], [[1, 0], "NotShadows"]],
					"pieces": [["topRightShadow", [0, 0]]]
				}, {
					"matchAllPoints": [[[-1, -1], "Shadows"], [[0, -1], "NotShadows"], [[-1, 0], "NotShadows"]],
					"pieces": [["bottomLeftShadow", [0, 0]]]
				}, {
					"matchAllPoints": [[[1, -1], "Shadows"], [[0, -1], "NotShadows"], [[1, 0], "NotShadows"]],
					"pieces": [["bottomRightShadow", [0, 0]]]
				}
			]
		]
	]
}
