{
  "pieces" : {
    "leftPlatform" : {
      "textureSize" : [8, 8],
      "texturePosition" : [2, 0],
      "colorStride" : [0, 8],
      "variantStride" : [32, 0]
    },
    "midPlatform" : {
      "textureSize" : [8, 8],
      "texturePosition" : [10, 0],
      "colorStride" : [0, 8],
      "variantStride" : [32, 0]
    },
    "rightPlatform" : {
      "textureSize" : [8, 8],
      "texturePosition" : [18, 0],
      "colorStride" : [0, 8],
      "variantStride" : [32, 0]
    },
    "doublePlatform" : {
      "textureSize" : [8, 8],
      "texturePosition" : [26, 0],
      "colorStride" : [0, 8],
      "variantStride" : [32, 0]
    },
    "leftWallPlatform" : {
      "textureSize" : [8, 8],
      "texturePosition" : [0, 0],
      "colorStride" : [0, 8],
      "variantStride" : [32, 0]
    },
    "rightWallPlatform" : {
      "textureSize" : [6, 8],
      "texturePosition" : [20, 0],
      "colorStride" : [0, 8],
      "variantStride" : [32, 0]
    }
  },

  "representativePiece": "midPlatform",

  "rules" : {
    "EqualsSelf" : {
      "entries" : [
        {
          "type" : "EqualsSelf"
        }
      ]
    },
    "NotEqualsSelf" : {
      "entries" : [
        {
          "type" : "EqualsSelf",
          "inverse" : true
        }
      ]
    },
    "Connects" : {
      "entries" : [
        {
          "type" : "Connects"
        }
      ]
    },
    "ConnectsOther" : {
      "entries" : [
        {
          "type" : "Connects"
        },
        {
          "type" : "EqualsSelf",
          "inverse" : true
        }
      ]
    },
    "Empty" : {
      "entries" : [
        {
          "type" : "Connects",
          "inverse" : true
        }
      ]
    }
  },

  "matches" : [
   [
      "main",
      [
         {
          "matchAllPoints" :
          [
            [[-1, 0], "Empty"],
            [[1, 0], "Empty"]
          ],
          "haltOnMatch" : true,
          "pieces" : [["doublePlatform", [0, 0]]]
         },
         {
          "matchAllPoints" :
          [
            [[-1, 0], "EqualsSelf"],
            [[1, 0], "EqualsSelf"]
          ],
          "haltOnMatch" : true,
          "pieces" : [["midPlatform", [0, 0]]]
         },
         {
          "matchAllPoints" :
          [
            [[-1, 0], "Empty"],
            [[1, 0], "NotEqualsSelf"]
          ],
          "haltOnMatch" : true,
          "pieces" : [["leftWallPlatform", [0, 0]]]
         },
         {
          "matchAllPoints" :
          [
            [[-1, 0], "NotEqualsSelf"],
            [[1, 0], "EqualsSelf"]
          ],
          "haltOnMatch" : true,
          "pieces" : [["leftPlatform", [0, 0]]]
         },
         {
          "matchAllPoints" :
          [
            [[-1, 0], "EqualsSelf"],
            [[1, 0], "NotEqualsSelf"]
          ],
          "haltOnMatch" : true,
          "pieces" : [["rightPlatform", [0, 0]]]
         },
         {
           "matchAllPoints" : [
             [[-1, 0], "ConnectsOther"],
             [[1, 0], "ConnectsOther"]
           ],
           "haltOnMatch" : true,
           "pieces" : [["doublePlatform", [0, 0]]]
         },
         {
          "matchAllPoints" :
          [
            [[-1, 0], "NotEqualsSelf"],
            [[1, 0], "Empty"]
          ],
          "haltOnMatch" : true,
          "pieces" : [["rightWallPlatform", [0, 0]]]
         }
      ]
    ]
  ]
}
