{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/icons/fu_standardHeader_long.png",
      "fileBody" : "/interface/crafting/icons/fu_generator_coolant.png",
      "fileFooter" : "/interface/crafting/icons/fu_standardFooter_long.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      "position" : [140, 124]
    },
    "objectImage" : {
      "type" : "image",
      "position" : [39, 79],
      "file" : "",
      "centered" : true,
      "maxSize" : [40, 40],
      "minSize" : [40, 40]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [80, 85],
      "dimensions" : [4, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "position" : [86, 40],
      "slotOffset" : 4,
      "dimensions" : [2, 1],
      "spacing" : [44, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "dragDrop" : {
      "type" : "label",
      "value" : "",
      "hAnchor" : "left",
      "position" : [6, 40]
    },
    "count" : {
      "type" : "label",
      "value" : "FUEL SLOTS",
      "hAnchor" : "mid",
      "position" : [120, 107]
    },
    "countwaste" : {
      "type" : "label",
      "value" : "WASTE      COOLANT",
      "hAnchor" : "mid",
      "position" : [120, 65]
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/chests/shine1to16.png",
      "position" : [0, 0]
    }
  }
}
