{
  "action" : "actions",
  "list" : [
    {
      "action" : "explosion",
      "foregroundRadius" : 8,
      "backgroundRadius" : 6,
      "explosiveDamageAmount" : 15,
      "delaySteps" : 2
    },
	{
      "action" : "sound",
      "options" : [ "/sfx/weapons/fusionexplosion.ogg" ]
    },
    {
      "action" : "light",
      "color" : "blue"
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.12,
      "type" : "plasmaboom"
    },    
    {
      "action" : "loop",
      "count" : 8,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "animation" : "/animations/magmacannon_blast/isn_magmacannonsmoke.animation",
                "size" : 6.0,
                "initial" : "drift",
                "rotation" : 0.14,
                "timeToLive" : 0.6
              }
            }
          ]
        }
      ]
    },
	{
      "action" : "loop",
      "count" : 16,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "animation" : "/animations/magmacannon_blast/isn_magmacannonblast.animation",
                "size" : 15.0,
                "initial" : "drift",
                "rotation" : 0,
                "timeToLive" : 0.4
              }
            }
          ]
        }
      ]
    }
  ]
}
