{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "iceexplosion3"
    },
    {
      "action" : "liquid",
      "liquid" : "liquidnitrogen",
      "quantity" : 3
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 3,
      "explosiveDamageAmount" : 0.12,
      "delaySteps" : 2
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/weapons/icicle_impactbreak2.ogg" ]
    }

  ]
}
