{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1.0,
      "type" : "hellfireexplosion"
    },
    {
      "action" : "light",
      "color" : "orange"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 8,
      "backgroundRadius" : 4,
      "explosiveDamageAmount" : 85,
      "harvestLevel" : 99,
      "delaySteps" : 2
    },    
    {
      "action" : "sound",
      "options" : [ "/sfx/weapons/explosion1.ogg" ]
    }
  ]
}
