{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "magmastormexplosion"
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "animation" : "/animations/dust2/dust2.animation",
                "size" : 1.0,
                "initial" : "drift",
                "rotation" : 0.14,
                "timeToLive" : 0.6
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "animation" : "/animations/monstersplosion/monstersplosion.animation",
                "size" : 1.0,
                "initial" : "drift",
                "rotation" : 0.14,
                "timeToLive" : 0.6
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "animation" : "/animations/smoke/smoke.animation",
                "size" : 1.0,
                "rotation" : 0.14,
                "timeToLive" : 10.6
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/goo_spit1.ogg", "/sfx/projectiles/goo_spit2.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 4,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }

  ]
}
