{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/objects/generic/arcadegame/consoleheader.png",
      "fileBody" : "/objects/generic/arcadegame/consolebody.png"
    },
    "scriptCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [40, 45, 430, 255],
      "captureMouseEvents" : true,
      "captureKeyboardEvents" : true
    },
    "close" : {
      "zlevel" : 2,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "callback" : "close",
      "position" : [413, 263]
    }
  },

  "scripts" : [
    "/scripts/util.lua",
    "/scripts/vec2.lua",
    "/objects/generic/pong/pong.lua"
  ],
  "scriptDelta" : 1,

  "canvasClickCallbacks" : {
    "scriptCanvas" : "canvasClickEvent"
  },
  "canvasKeyCallbacks" : {
    "scriptCanvas" : "canvasKeyEvent"
  },

  "scriptWidgetCallbacks" : [
  ]
}
