{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/icons/fu_standardHeader_long.png",
      "fileBody" : "/interface/crafting/icons/fu_generator_coolant.png",
      "fileFooter" : "/interface/crafting/icons/fu_standardFooter_long.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      "position" : [140, 124]
    },
    "objectImage" : {
      "type" : "image",
      "position" : [39, 65],
      "file" : "",
      "centered" : true,
      "maxSize" : [40, 40],
      "minSize" : [40, 40]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [75, 75],
      "dimensions" : [4, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/crafting/icons/empty.png"
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "position" : [95, 40],
      "slotOffset" : 4,
      "dimensions" : [2, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/crafting/icons/empty.png"
    },
    "dragDrop" : {
      "type" : "label",
      "value" : "",
      "hAnchor" : "left",
      "position" : [6, 40]
    },
    "count" : {
      "type" : "label",
      "value" : "FUEL SLOTS",
      "hAnchor" : "mid",
      "position" : [113, 95]
    },
    "countwaste" : {
      "type" : "label",
      "value" : "WASTE SLOT",
      "hAnchor" : "mid",
      "position" : [113, 60]
    },
    "clear" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Take all",
      "position" : [98, 8]
    }
  }
}
