{
	"GUI" : {
		"noError" : false,
		"canvas" : null,
		
		"missionViewing" : "main",
		"dismissConfirmDelay" : 1.5,
		"dismissConfirmTimer" : 0,
		"crewRequestDelay" : 0.5,
		"crewRequestTimer" : 0,
		
		"talker" : {
			"imagePath" : "/ai/ApexAI.png",
			"displayImage" : "/ai/ApexAI.png:talk.0",
			"emote" : "talk",
			"frame" : 0,
			"talkMaxFrames" : 2,
			"uniqueMaxFrames" : 8,
			"talkFrameDelay" : 0.2,
			"talkFrameTimer" : 0,
			"blinking" : false,
			"blinkDuration" : 0.1,
			"blinkDelay" : 5,
			"blinkTimer" : 0,
			"uniqueFrameDelay" : 0.2,
			"uniqueFrameTimer" : 0
		},
		
		"scanLines" : {
			"image" : "/ai/scanlines.png",
			"frame" : 0,
			"maxFrames" : 14,
			"frameDelay" : 0.02,
			"frameTimer" : 0
		},
		
		"static" : {
			"image" : "/ai/staticApex.png",
			"frame" : 0,
			"maxFrames" : 4
		},
		
		"list" : {
			"viewing" : null,
			"updateInterval" : 0.2,
			"updateTimer" : 0
		}
	},
	
	"Data" : { 
		"missionWorld" : null,
		"crew" : null,
		"crewPromise" : null,
		"selectedCrewID" : null,
		
		"currenciesAlwaysDisplay" : {
			"money" : true,
			"essence" : true,
			"fuscienceresource" : true
		},
		
		"missions" : {
			// Split into two tables, one for main, and one for secondary. No difference between the two other than spliting the list up a bit.
			// structure is [ mission file name, quest ]
			// or			[ mission file name, [ quest1, quest2 ] ]
			// Quest is used to identify if the player has access to the mission and if they completed it
			
			"main" : [
				["missionhuman1", "human_mission1"],
				["missionfloran1", "floran_mission2"],
				["missionhylotl1", "hylotl_mission2"],
				["missionavian1", "avian_mission2"],
				["missionglitch1", "glitch_mission2"],
				["missionapex1", "apex_mission2"],
				["scienceoutpostfu", "fu_scienceoutpost"],
				["shoggothmission", ["shoggoth_unlocknew", "shoggoth_wagner"]]
			],
			
			"secondary" : [
				["missionpenguin1", ["penguin1", "scienceoutpost_boss1"]],
				["missionpenguin2", "penguin2"],
				["alienjungle", "alienjungle.gearup"],
				["ancienttemple", "ancienttemple.gearup"],
				["avianhydro", "avianhydro.gearup"],
				["evernight", "evernight.gearup"],
				["forestoffae", "forestoffae.gearup"],
				["grandarena", "grandarena.gearup"],
				["infiltration", "infiltration.gearup"],
				["japaneseruins", "japaneseruins.gearup"],
				["letheiafacility", "letheiafacility.gearup"],
				["lethialabs", "lethialabs.gearup"],
				["magickaforest", "magickaforest.gearup"],
				["pavillion", "pavillion.gearup"],
				["penguinhighway", "penguinhighway.gearup"],
				["skytemple", "skytemple.gearup"],
				["snowcrash", "snowcrash.gearup"],
				["sunsetriders", "sunsetriders.gearup"],
				["towerinvincible", "towerinvincible.gearup"],
				["verdantruins", "verdantruins.gearup"],
				["precursordungeon", "precursor_unlock"],
				["jyinkumission", "jyinquest6"],
				["cathedral", "gyrusenquest3"],
				["cathedral", "gyrusenquest3a"],
				["greckancapital", "greckancity1"],
				["missionxsm_merchant", "xsm_merchantlocation_2"]
			]
		},
		
		"misc" : [
			[ "scriptpane", "^orange;[FU]^reset; Update Window", "/interface/quest.png", "/interface/scripted/fu_updateInfoWindow/updateInfoWindow.config" ],
			[ "ScriptPane", "^orange;[FU]^reset; Quest List", "/interface/quest.png", "/interface/scripted/fu_tutorialQuestList/fu_tutorialQuestList.config"],
			[ "ScriptPane", "^orange;[FU]^reset; Player Status", "/interface/inspect.png", "/interface/scripted/statWindow/statWindow.config"],
			[ "OpenAiInterface", "Vanilla SAIL", "/interface/quest.png" ],
			[ "externalscript", "Custom SAIL Info", "/interface/codex.png", "/interface/scripted/fu_sail/user/customSailFunction.lua", "myFunction" ]
		],
		
		"miscAdmin" : [
			[ "externalscript", "Skip Starter Stuff", "/interface/craftingbutton.png", "/interface/scripted/fu_sail/user/customSailFunction.lua", "skipStarterCrap" ]
		]
	},
	
	"TextData" : {
		"sound" : "/interface/scripted/spaceStation/sounds/generic.ogg",
		"volume" : 1,
		"strings" : {
			"error" : "An error has occured.\n\nPlease report this on the Steam page or Discord server with a log attached.\n\nMeanwhile, you can click any of the buttons to open the vanilla version of SAIL.",
			"buttonError" : "^red;ERROR:^reset;\nNo button was pressed, but the function for it was called.\nPlease report how you achieved this on the Steam page or Discord server, and try clicking the button again.",
			"intro" : "Welcome to S.A.I.L.\nUsing this interface, you can check the ships status, view your currencies (^green;[BALANCE]^reset;), access missions(^green;[MISSIONS]^reset;), view your crew(^green;[CREW]^reset;), and access a handful of other useful features (^green;[MISC]^reset;).",
			"noCrew" : "You are the only registered crew member of this ship.\nRecruiting additional crew members may allow for increased operational efficiency.",
			"noMissions" : "You do not have any available missions fitting this category.",
			"noCustomAIMod" : "^red;ERROR:^reset;\nMissing the '^green;Scripted Artificial Intelligence Lattice^reset;' mod.\nPlease install it if you wish to use this feature.",
			"customAI" : "Insert A.I. chips in the slots below to customize the A.I.\nClick the '^green;CRAFT^reset;' button to open the A.I. chip crafting menu."
		},
		"currencies" : {
			"main" : "Main",
			"fu_tradegoods" : "Trade Goods",
			"fu_research" : "Research",
			"unsorted" : "Unsorted"
		}
	}
}
