{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.2,
      "type" : "darkbeamexp"
    },
    {
      "action" : "loop",
      "count" : 4,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "animation" : "/projectiles/explosions/darkbeam/darkbeamexp.projectile",
                "initial" : "drift",
                "rotation" : 3.14,
                "timeToLive" : 1
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/weapons/darkex1.wav", "/sfx/weapons/darkex2.wav", "/sfx/weapons/darkex3.wav" ]
    },
    {
      "action" : "light",
      "color" : "black"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 1.0,
      "delaySteps" : 2
    }

  ]
}
