{
	// Production rate effects
	"modifiers": {
		"basicframe": { "honeyModifier": 15 },
		"sweetframe": { "honeyModifier": 25 },
		"provenframe": { "itemModifier": 15, "honeyAmount" : 1 },
	        "reinforcedframe": { "itemModifier": 25 },
		"scentedframe": { "droneModifier": 15, "mutationIncrease": 0.03, "honeyAmount" : 1  },
		"uraniumframe": { "mutationIncrease": 0.05, "antimite": true },
		"plutoniumframe": { "mutationIncrease": 0.10, "antimite": true },
		"solarframe": { "forceTime": 1, "mutationIncrease": 0.03  },
		"magmaframe": { "forceTime": -1, "antimite": true },
		"eclipseframe": { "forceTime": -1 },
		"amite": { "antimite": true },
		"godlyframe" : { "droneModifier": 25, "honeyModifier": 25, "itemModifier": 25, "antimite": true }
	},

	// Ore comb production
	"ores": {
		"copperframe": "copper",
		"silverframe": "silver",
		"goldframe": "gold",
		"diamondframe": "precious",
		"ironframe": "iron",
		"titaniumframe": "titanium",
		"tungstenframe": "tungsten",
		"durasteelframe": "durasteel",
		"violiumframe" : "violium",
		"aegisaltframe" : "aegisalt",
		"feroziumframe" : "ferozium"
	},
	"oreSuccess": {
		// 1 (100%) unless specified
		"precious": 0.4
	},

	// Recognised flower types
	"flowers": [
		"giantflower1", "giantflower2", "giantflower3", "giantflower4",
		"springbush1", "springbush2", "springbush3", "springbush4", "springbush5", "springbush6",
		"flowerred", "floweryellow", "flowerblue", "flowerblack", 
		"flowerbrown", "flowergreen", "flowergrey", "flowerorange", 
		"flowerpink", "flowerpurple", "flowerwhite",
		"flowerspring",
		"flowerorchid", "flowerorchid2", "flowerorchid3",
		"energiflowerseed",
		"floralytplantseed",
		"goldenglowseed",
		"haleflowerseed",
		"itaseed",
		"nissseed",
		"wubstemseed",
		"miraclegrassseed",
		"vanusflowerseed",
		"beeflower",
		"gemglowseed",
		"darklightflower"
	],
	
	"vegetables": [
		"giantflower1", "giantflower2", "giantflower3", "giantflower4",
		"springbush1", "springbush2", "springbush3", "springbush4", "springbush5", "springbush6",
		"flowerred", "floweryellow", "flowerblue", "flowerblack", 
		"flowerbrown", "flowergreen", "flowergrey", "flowerorange", 
		"flowerpink", "flowerpurple", "flowerwhite",
		"flowerspring",
		"flowerorchid", "flowerorchid2", "flowerorchid3",
		"energiflowerseed",
		"floralytplantseed",
		"goldenglowseed",
		"haleflowerseed",
		"itaseed",
		"nissseed",
		"wubstemseed",
		"miraclegrassseed",
		"vanusflowerseed",
		"beeflower",
		"gemglowseed",
		"darklightflower"
	],
	
	"fruits": [
		"giantflower1", "giantflower2", "giantflower3", "giantflower4",
		"springbush1", "springbush2", "springbush3", "springbush4", "springbush5", "springbush6",
		"flowerred", "floweryellow", "flowerblue", "flowerblack", 
		"flowerbrown", "flowergreen", "flowergrey", "flowerorange", 
		"flowerpink", "flowerpurple", "flowerwhite",
		"flowerspring",
		"flowerorchid", "flowerorchid2", "flowerorchid3",
		"energiflowerseed",
		"floralytplantseed",
		"goldenglowseed",
		"haleflowerseed",
		"itaseed",
		"nissseed",
		"wubstemseed",
		"miraclegrassseed",
		"vanusflowerseed",
		"beeflower",
		"gemglowseed",
		"darklightflower"
	],	
	
	"spawnList": {
		"adaptive": {
			"honey": { "type": "normal" },
			"items": { "fu_liquidhoney": 0.4, "beesilk": 0.35 }
		},
		"aggressive": {
			"honey": { "type": "red", "chance": 0.8 },
			"items": { "waxchunk": 0.4, "alienmeat": 0.3, "beesilk": 0.1 },
			"sting": true
		},
		"arctic": { 
			"items": { "cryonicextract": 0.5, "beesilk": 0.2 } 
		},
		"arid": { 
		       "items": { "waxchunk": 0.4, "sand": 0.7, "goldensand": 0.7, "beesilk": 0.2 } 
		},
		"exceptional": {
			"honey": { "type": "exceptional", "chance": 0.8 },
			"items": { "fu_liquidhoney": 0.4, "beesilk": 0.2 }
		},
		"flower": { 
			"items": { "beeflower": 0.25, "beesilk": 0.15 } 
		},
		"forest": {
			"items": { "fu_liquidhoney": 0.4, "beesilk": 0.15 } 
		},
		"godly": { 
			"items": { "goldenfleece": 0.3 } 
		},
		"hardy": {
			"honey": { "type": "normal", "chance": 0.8 },
			"items": { "beesilk": 0.25 }
		},
		"hunter": {
			"honey": { "type": "silk", "chance": 0.5 },
			"items": { "beesilk": 0.55 }
		},
		"jungle": { 
			"items": { "plantfibre": 0.7, "beesilk": 0.15 } 
		},
		"metal": {
			"honey": { "type": "red", "chance": 0.8 },
			"offspring": { "chance": 0.3333333333 },
			"items": { "tungstenore": 0.3333333333 },
			"sting": true
		},
		"miner": {
			"honey": { "func": "chooseMinerHoney" },
			"offspring": { "func": "chooseMinerOffspring" }
		},
		"morbid": {
			"items": { "ghostlywax": 0.6 },
			"sting": true
		},
		"mythical": { 
			"items": { "goldenfleece": 0.15} 
		},
		"normal": { 
			"items": { "fu_liquidhoney": 0.4, "beesilk": 0.15 } 
		},
		"plutonium": { 
			"items": { "plutoniumore": 0.3 } 
		},
		"radioactive": { 
			"items": { "uraniumore": 0.3 } 
		},
		"red": { 
			"items": { "redwaxchunk": 0.2 } 
		},
		"solarium": { 
			"items": { "solariumore": 0.2 } 
		},
		"sun": { 
			"items": { "volatilepowder": 0.4 } 
		},
		"volcanic": {  
			"items": { "scorchedcore": 0.5, "beesilk": 0.2 } 
		},
                "magma": {  
                	"items": { "scorchedcore": 0.8, "beesilk": 0.2 } 
                },
		"moon": { 
			"active": "night" 
		},
		"nocturnal": { 
			"active": "night" 
		},
		"elder" : { 
			"active" : "night", 
			"items": { "liquidelderfluid": 0.5,"protorockmaterial" : 0.5 } 
		}
	},


	"spawnList": {
		"adaptive": {
			"preference" : "any"
		},
		"aggressive": {
			"preference" : "any"			
		},
		"arctic": { 
			"preference" : "any"
		},
		"arid": { 
			"preference" : "any"
		},
		"exceptional": {
			"preference" : "any"
		},
		"flower": { 
			"preference" : "any"
		},
		"forest": {
			"preference" : "any"
		},
		"godly": { 
			"preference" : "any"
		},
		"hardy": {
			"preference" : "any"
		},
		"hunter": {
			"preference" : "any"
		},
		"jungle": { 
			"preference" : "any"
		},
		"metal": {
			"preference" : "any"
		},
		"miner": {
			"preference" : "any"
		},
		"morbid": {
			"preference" : "any"
		},
		"mythical": { 
			"preference" : "any"		
		},
		"normal": { 
			"preference" : "any"			
		},
		"plutonium": { 
			"preference" : "any"		
		},
		"radioactive": { 
			"preference" : "any"			
		},
		"red": { 
			"preference" : "any"		
		},
		"solarium": { 
			"preference" : "any"			
		},
		"sun": { 
			"preference" : "any"			
		},
		"volcanic": {  
			"preference" : "any"			
		},
                "magma": {  
			"preference" : "any"                	
                },
		"moon": { 
			"preference" : "any"			
		},
		"nocturnal": { 
			"preference" : "any"			
		},
		"elder" : { 
			"preference" : "any"
		}
	},
	
	
	// Bee breeding
	// Works both ways round
	"breeding": {
		"aggressivemorbid": "metal",
		"aggressivenocturnal": "morbid",
		"arcticvolcanic": "adaptive",
		"aridadaptive": "miner",
		"flowerexceptional": "mythical",
		"flowerhardy": "red",
		"flowernormal": "red",
		"forestjungle": "flower",
		"hardyadaptive": "exceptional",
		"hunterred": "aggressive",
		"jungleadaptive": "hunter",
		"metalsun": "mythical",
		"minernocturnal": "moon",
		"moonsolarium": "sun",
		"normalforest": "hardy",
		"plutoniumexceptional": "solarium",
		"radioactivehardy": "plutonium",
		"sunmythical": "godly",
		"volcanicsun": "magma",
		"magmagodly" : "elder"
	}
}
