{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/apiary/apiaryheader.png",
      "fileBody" : "/interface/apiary/apiaryslots.png",
      "fileFooter" : "/interface/apiary/apiaryfooter.png"
    },
    "objectImage" : {
      "type" : "image",
      "position" : [39, 79],
      "file" : "",
      "centered" : true,
      "maxSize" : [40, 40],
      "minSize" : [40, 40]
    },
    "itemGrid" : {
      "type" : "itemgrid",
	  "slotOffset" : 16,
      "position" : [90, 40],
      "dimensions" : [1, 3],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [119, 31],
      "dimensions" : [4, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "dragDrop" : {
      "type" : "label",
      "value" : "Drag & Drop",
      "hAnchor" : "mid",
      "position" : [40, 37]
    },
    "count" : {
      "type" : "label",
      "value" : "Input",
      "hAnchor" : "mid",
      "position" : [100, 109]
    },
    "countoutput" : {
      "type" : "label",
      "value" : "Output",
      "hAnchor" : "mid",
      "position" : [160, 109]
    }
  }
}
