{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.4,
      "type" : "tarfist"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/goocluster_pop.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 1,
      "delaySteps" : 0
    }
  ]
}
