{
    "gui" : {
        "background" : {
            "type" : "background",
            "zlevel" : -1,
            "fileHeader" : "/interface/scripted/stickynotepadfu/window_header.png",
            "fileBody" : "/interface/scripted/stickynotepadfu/window_body.png",
            "fileFooter" : "/interface/scripted/stickynotepadfu/window_footer.png"
        },
        "windowtitle" : {
            "type" : "title",
            "title" : "Sticky Note Pad",
            "subtitle" : "Leave yourself a reminder",
            "icon" : {
                "type" : "image",
                "file" : "/interface/scripted/stickynotepadfu/stickynotepadicon.png",
                "zlevel" : 0
            }
        },
        "closebutton" : {
            "type" : "button",
            "zlevel" : 1,
            "base" : "/interface/x.png",
            "hover" : "/interface/xhover.png",
            "pressed" : "/interface/xpress.png",
            "position" : [164, 73],
            "pressedOffset" : [0, 0],
            "callback" : "close"
        },
        "writebox" : {
            "type" : "textbox",
            "zlevel" : 1,
            "position" : [12, 49],
            "maxWidth" : 156,
            "focus" : true,
            "hint" : "Write something...",
            "regex" : "[\\d\\D ]{0,50}",
            "callback" : "writeSound"
        },
        "colorpicker" : {
            "type" : "radioGroup",
            "buttons" : [
                {
                    "id" : 1,
                    "zlevel" : 1,
                    "baseImage" : "/interface/scripted/stickynotepadfu/color_default_deselect.png",
                    "baseImageChecked" : "/interface/scripted/stickynotepadfu/color_default_select.png",
                    "position" : [13, 23],
                    "pressedOffset" : [0, -1],
                    "selected" : true
                },
                {
                    "id" : 2,
                    "zlevel" : 1,
                    "baseImage" : "/interface/scripted/stickynotepadfu/color_red_deselect.png",
                    "baseImageChecked" : "/interface/scripted/stickynotepadfu/color_red_select.png",
                    "position" : [23, 23],
                    "pressedOffset" : [0, -1]
                },
                {
                    "id" : 3,
                    "zlevel" : 1,
                    "baseImage" : "/interface/scripted/stickynotepadfu/color_orange_deselect.png",
                    "baseImageChecked" : "/interface/scripted/stickynotepadfu/color_orange_select.png",
                    "position" : [33, 23],
                    "pressedOffset" : [0, -1]
                },
                {
                    "id" : 4,
                    "zlevel" : 1,
                    "baseImage" : "/interface/scripted/stickynotepadfu/color_yellow_deselect.png",
                    "baseImageChecked" : "/interface/scripted/stickynotepadfu/color_yellow_select.png",
                    "position" : [43, 23],
                    "pressedOffset" : [0, -1]
                },
                {
                    "id" : 5,
                    "zlevel" : 1,
                    "baseImage" : "/interface/scripted/stickynotepadfu/color_green_deselect.png",
                    "baseImageChecked" : "/interface/scripted/stickynotepadfu/color_green_select.png",
                    "position" : [53, 23],
                    "pressedOffset" : [0, -1]
                },
                {
                    "id" : 6,
                    "zlevel" : 1,
                    "baseImage" : "/interface/scripted/stickynotepadfu/color_cyan_deselect.png",
                    "baseImageChecked" : "/interface/scripted/stickynotepadfu/color_cyan_select.png",
                    "position" : [63, 23],
                    "pressedOffset" : [0, -1]
                },
                {
                    "id" : 7,
                    "zlevel" : 1,
                    "baseImage" : "/interface/scripted/stickynotepadfu/color_blue_deselect.png",
                    "baseImageChecked" : "/interface/scripted/stickynotepadfu/color_blue_select.png",
                    "position" : [73, 23],
                    "pressedOffset" : [0, -1]
                },
                {
                    "id" : 8,
                    "zlevel" : 1,
                    "baseImage" : "/interface/scripted/stickynotepadfu/color_purple_deselect.png",
                    "baseImageChecked" : "/interface/scripted/stickynotepadfu/color_purple_select.png",
                    "position" : [83, 23],
                    "pressedOffset" : [0, -1]
                },
                {
                    "id" : 9,
                    "zlevel" : 1,
                    "baseImage" : "/interface/scripted/stickynotepadfu/color_pink_deselect.png",
                    "baseImageChecked" : "/interface/scripted/stickynotepadfu/color_pink_select.png",
                    "position" : [93, 23],
                    "pressedOffset" : [0, -1]
                }
            ],
            "callback" : "null"
        },
        "makebutton" : {
            "type" : "button",
            "zlevel" : 1,
            "base" : "/interface/button.png",
            "hover" : "/interface/buttonhover.png",
            "caption" : "Peel",
            "textAlign" : "center",
            "position" : [113, 24],
            "pressedOffset" : [0, -1],
            "callback" : "makeAndSpawnNote"
        }
    },

    "sounds" : {
        "write" : "/sfx/objects/cardboardbox_open.ogg",
        "peel" : "/sfx/melee/broom_sweep.ogg"
    },

    "scripts" : ["/interface/scripted/stickynotepadfu/stickynotepadfu.lua"],
    "scriptDelta" : 1,
    "scriptWidgetCallbacks" : ["writeSound", "makeAndSpawnNote"],

    "colors" : [
        "defaultfu",
        "redfu",
        "orangefu",
        "yellowfu",
        "greenfu",
        "cyanfu",
        "bluefu",
        "purplefu",
        "pinkfu"
    ]
}