{

  "meteor" : {
    "projectileType" : "meteor",
    "projectileParams" : {
      "speed" : 10,
      "power" : 20,
      "actionOnReap" : [
        {
          "action" : "spawnmonster",
          "type" : "tentaclecometspore"
        },
        {
          "action" : "config",
          "file" : "/projectiles/explosions/regularexplosion2/regularexplosion2universal.config"
        }
      ]
    },

    "fireTime" : 0.25,
    "fireDt" : 0.25,
    "cooldown" : 0.75,

    "muzzleFlash" : {
      "animation" : "/animations/muzzleflash/meteorflash/meteorflash.animation",
      "fireSound" : [ ]
    }
  },

  "crashexplosion" : {
    "projectileType" : "regularexplosion2universal",
    "projectileParams" : {
      "speed" : 0,
      "power" : 2,

      "actionOnReap" : [
        {
          "action" : "config",
          "file" : "/projectiles/explosions/regularexplosion2/regularexplosion2universal.config"
        }
      ]
    },

    "fireTime" : 1.0,
    "fireDt" : 0.2,
    "cooldown" : 0.8
  }
}
