{
	"gui" : {
		"close" : {
			"zlevel" : 3,
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [0, 0],
			"position" : [440, 359]
		},
		"background" : {
			"zlevel" : 0,
			"type" : "background",
			"fileHeader" : "/interface/scripted/xcustomcodex/header.png",
			"fileBody" : "/interface/scripted/xcustomcodex/body.png",
			"fileFooter" : "/interface/scripted/xcustomcodex/footer.png"
		},
		"windowTitle" : {
			"type" : "title",
			"icon" : {
				"type" : "image",
				"file" : "/interface/codex/iconBook.png"
			},
			"title" : "High-Fidelity Codex",
			"subtitle" : "The best reading experience you'll ever get!"
		},
		"codexTitle" : {
			"type" : "label",
			"value" : "",
			"position" : [334, 333],
			"hAnchor" : "mid",
			"vAnchor" : "mid",
			"fontSize" : 10
		},
		"codexList" : {
			"type" : "scrollArea",
			"rect" : [49, 35, 207, 331]
		},
		"codexListRace" : {
			"type" : "label",
			"value" : "No Selected Race",
			"position" : [122, 342],
			"hAnchor" : "mid",
			"vAnchor" : "mid"
		},
		"codexText" : {
			"type" : "scrollArea",
			"rect" : [221, 58, 454, 301],
			"children" : {
				"textElement" : {
					"type" : "label",
					"wrapWidth" : 218// 3px padding both sides.
				}
			}
		},
		"racialCategoryList" : {
			"type" : "scrollArea",
			"rect" : [11, 53, 45, 324]
		},
		"nextButton" : {
			"type" : "button",
			"position" : [370, 29],
			"textAlign" : "center",
			"caption" : ">>",
			"base" : "/interface/scripted/xcustomcodex/changepagebutton.png",
			"hover" : "/interface/scripted/xcustomcodex/changepagebuttonhover.png",
			"pressed" : "/interface/scripted/xcustomcodex/changepagebuttonhover.png",
			"disabledImage" : "/interface/scripted/xcustomcodex/changepagebuttondisabled.png",
			"callback" : "NextButtonClicked"
		},
		"prevButton" : {
			"type" : "button",
			"position" : [250, 29],
			"textAlign" : "center",
			"caption" : "<<",
			"base" : "/interface/scripted/xcustomcodex/changepagebutton.png",
			"hover" : "/interface/scripted/xcustomcodex/changepagebuttonhover.png",
			"pressed" : "/interface/scripted/xcustomcodex/changepagebuttonhover.png",
			"disabledImage" : "/interface/scripted/xcustomcodex/changepagebuttondisabled.png",
			"callback" : "PreviousButtonClicked"
		},
		"currentPageLabel" : {
			"type" : "label",
			"value" : "Page 0 of 0",
			"hAnchor" : "mid",
			"vAnchor" : "mid",
			//324
			"position" : [336, 35]
		}
	},
	"scriptWidgetCallbacks" : [ "ListButtonClicked", "RaceButtonClicked", "PreviousButtonClicked", "NextButtonClicked" ],
	"scripts" : ["/interface/scripted/xcustomcodex/xcodexui.lua"],
	"scriptDelta" : 30
}